<h1>Create Event</h1>
<!-- Social Media Share Bar: Not Configured -->
<form id="page_asset_builder_597209" name="main_form" method="post" action="#" enctype="multipart/form-data" onsubmit="return form_on_submit()">
    <input type="hidden" name="AB_597209_ASSET_BUILDER_ACTION" value="create" class="sq-form-field" id="AB_597209_ASSET_BUILDER_ACTION" />
    <script type="text/javascript" src="http://mon-dev.clients.squiz.net/__lib/html_form/html_form.js"></script>
    <script type="text/javascript" src="http://mon-dev.clients.squiz.net/__lib/js/general.js"></script>
    <script type="text/javascript" src="http://mon-dev.clients.squiz.net/__lib/js/debug.js"></script>
    <script type="text/javascript" src="http://mon-dev.clients.squiz.net/__lib/js/edit.js"></script>
    <script type="text/javascript" src="http://mon-dev.clients.squiz.net/__lib/js/translation.js"></script>
    <script type="text/javascript" src="http://mon-dev.clients.squiz.net/__data/system/core/js_strings.en.js"></script>
    <script type="text/javascript">
    <!--
    //<![CDATA[

    // slip our own onLoad function into the onLoad event of the window
    var SQ_DOCUMENT_LOADED = false;

    function page_on_load() {

        // let everyone know the document is loaded
        SQ_DOCUMENT_LOADED = true;

    } // end page_on_load()

    function print_tooltip() {
        if (window.self.name == 'sq_main') {
            tooltip.print();
        }
    }

    var SQ_FORM_SUBMITTED = false;

    function form_on_submit() {
        if (SQ_FORM_SUBMITTED) {
            alert(js_translate('The form has already been submitted, please wait ...'));

            return;
        }


        // basically if they get this far then we can submit
        SQ_FORM_SUBMITTED = true;
        return true;

    } //end form_on_submit()

    //]]> -->
    </script>
    <input type="hidden" name="AB_597209_ASSET_BUILDER_CREATE_TYPE" value="calendar_event_single" class="sq-form-field" id="AB_597209_ASSET_BUILDER_CREATE_TYPE" />
    <input type="hidden" name="asset_action" value="create_custom" class="sq-form-field" id="asset_action" />
    <div class="sq-asset-builder-tab-content" id="page_asset_builder_597209_type_calendar_event_single" style="display: block">
        <fieldset class="sq-form-section">
            <div class="sq-form-question sq-form-question-text">
                <label for="calendar_event_single_0_3361" class="sq-form-question-title">Event name
                    <abbr title="required" class="sq-form-required-field">*</abbr>
                </label>
                <div class="sq-form-question-answer">
                    <input type="text" name="calendar_event_single_0_3361" value="" size="30" class="sq-form-field" id="calendar_event_single_0_3361" />
                </div>
            </div>
            <div class="sq-form-question sq-form-question-datetime">
                <label for="calendar_event_single_0_start" class="sq-form-question-title">Event Start / End
                    <abbr title="required" class="sq-form-required-field">*</abbr>
                </label>
                <div class="sq-form-question-answer">
                    <script type="text/javascript" src="http://mon-dev.clients.squiz.net/__data/asset_types/calendar_event/js/date_chooser.js"></script>
                    <!-- start -->
                    <table class="sq-calendar-date-table start">
                        <tr>
                            <td class="sq-backend-data" style="white-space: nowrap">&nbsp;Occurs on&nbsp;
                                <input class="sq-form-field" style="width: 5ex" type="text" name="calendar_event_single_0_start_day" id="calendar_event_single_0_start_day" size="2" value="5" onkeypress="processKeyEvent(this)" onfocus="currentField=this" onblur="currentField=null; oldField=this; setTimeout('processStartDateBlur(oldField, \'calendar_event_single_0\')', 10);" />
                                <select class="sq-form-field" name="calendar_event_single_0_start_month" id="calendar_event_single_0_start_month" onkeypress="processKeyEvent(this)" onfocus="currentField=this" onblur="currentField=null; oldField=this; setTimeout('processStartDateBlur(oldField, \'calendar_event_single_0\')', 10);">
                                    <option selected="selected" value="1">Jan</option>
                                    <option value="2">Feb</option>
                                    <option value="3">Mar</option>
                                    <option value="4">Apr</option>
                                    <option value="5">May</option>
                                    <option value="6">Jun</option>
                                    <option value="7">Jul</option>
                                    <option value="8">Aug</option>
                                    <option value="9">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                                <input class="sq-form-field" type="text" name="calendar_event_single_0_start_year" id="calendar_event_single_0_start_year" size="5" value="2017" onkeypress="processKeyEvent(this)" onfocus="currentField=this" onblur="currentField=null; oldField=this; setTimeout('processStartDateBlur(oldField, \'calendar_event_single_0\')', 10);" />
                            </td>
                            <td class="sq-backend-data" style="white-space: nowrap">
                                &nbsp;&nbsp;
                                <input class="sq-form-field" type="checkbox" value="1" name="calendar_event_single_0_start_time_enabled" id="calendar_event_single_0_start_time_enabled" onclick="if (this.checked) { enableTimeField('calendar_event_single_0_start'); } else { disableTimeField('calendar_event_single_0_start'); } if (isChecked('calendar_event_single_0_end_enabled')) { if (this.checked) enableTimeField('calendar_event_single_0_end'); else disableTimeField('calendar_event_single_0_end'); } else { if (this.checked) { checkBox('calendar_event_single_0_end_time_enabled'); } else { uncheckBox('calendar_event_single_0_end_time_enabled'); } } " />
                                <label for="calendar_event_single_0_start_time_enabled">at</label>
                                <input class="sq-form-field" style="width: 5ex" type="text" name="calendar_event_single_0_start_hours" id="calendar_event_single_0_start_hours" size="2" maxlength="2" value="6" onkeypress="processKeyEvent(this)" onfocus="currentField=this" onblur="currentField=null; oldField=this; setTimeout('processStartDateBlur(oldField, \'calendar_event_single_0\')', 10);" disabled="disabled" /> :
                                <input class="sq-form-field" style="width: 5ex" type="text" name="calendar_event_single_0_start_minutes" id="calendar_event_single_0_start_minutes" size="2" maxlength="2" value="09" onkeypress="processKeyEvent(this)" onfocus="currentField=this" onblur="currentField=null; oldField=this; setTimeout('processStartDateBlur(oldField, \'calendar_event_single_0\')', 10);" disabled="disabled" />
                                <select class="sq-form-field" name="calendar_event_single_0_start_is_pm" id="calendar_event_single_0_start_is_pm" onkeypress="processKeyEvent(this)" onfocus="currentField=this" onblur="currentField=null; oldField=this; setTimeout('processStartDateBlur(oldField, \'calendar_event_single_0\')', 10);" disabled="disabled">
                                    <option value="0">am</option>
                                    <option value="1" selected="selected">pm</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <!-- end -->
                    <table class="sq-calendar-date-table end">
                        <tr>
                            <td class="sq-backend-data" style="white-space: nowrap">
                                <input name="calendar_event_single_0_end_enabled" id="calendar_event_single_0_end_enabled" type="checkbox" onclick="processEndClick(this, 'calendar_event_single_0');" />&nbsp;
                                <label for="calendar_event_single_0_end_enabled">runs</label>&nbsp;
                            </td>
                            <!-- duration -->
                            <td class="sq-backend-data" style="white-space: nowrap">
                                <input type="radio" value="duration" id="calendar_event_single_0_duration_enabled" name="calendar_event_single_0_end_type" checked="checked" disabled="disabled" />
                                <label for="calendar_event_single_0_duration_enabled">for</label>
                            </td>
                            <td colspan="2" class="sq-backend-data" style="white-space: nowrap">
                                <input type="text" name="calendar_event_single_0_duration" value="" size="2" onclick="checkBox('calendar_event_single_0_duration_enabled'); checkBox('calendar_event_single_0_start_time_enabled'); enableTimeField('calendar_event_single_0_start');" onblur="updateDurationValuesByPrefix('calendar_event_single_0')" disabled="disabled" class="sq-form-field" id="calendar_event_single_0_duration" />
                                <select name="calendar_event_single_0_duration_units" onclick="checkBox('calendar_event_single_0_duration_enabled'); checkBox('calendar_event_single_0_start_time_enabled'); enableTimeField('calendar_event_single_0_start');" onblur="updateDurationValuesByPrefix('calendar_event_single_0')" disabled="disabled" class="sq-form-field" id="calendar_event_single_0_duration_units">
                                    <option value="i" selected="selected">minutes</option>
                                    <option value="h">hours</option>
                                    <option value="d">days</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <!-- end date -->
                            <td class="sq-backend-data" style="white-space: nowrap">
                                <input type="radio" value="date" id="calendar_event_single_0_end_date_enabled" name="calendar_event_single_0_end_type" disabled="disabled" />
                                <label for="calendar_event_single_0_end_date_enabled">until</label> &nbsp;
                            </td>
                            <td class="sq-backend-data" style="white-space: nowrap">
                                <input class="sq-form-field" style="width: 5ex" type="text" name="calendar_event_single_0_end_day" id="calendar_event_single_0_end_day" size="2" value="5" onclick="checkBox('calendar_event_single_0_end_date_enabled');" onkeypress="processKeyEvent(this)" onfocus="currentField=this" onblur="currentField=null; oldField=this; setTimeout('processEndDateBlur(oldField, \'calendar_event_single_0\')', 10);" disabled="disabled" />
                                <select class="sq-form-field" name="calendar_event_single_0_end_month" id="calendar_event_single_0_end_month" onclick="checkBox('calendar_event_single_0_end_date_enabled');" onkeypress="processKeyEvent(this)" onfocus="currentField=this" onblur="currentField=null; oldField=this; setTimeout('processEndDateBlur(oldField, \'calendar_event_single_0\')', 10);" disabled="disabled">
                                    <option selected="selected" value="1">Jan</option>
                                    <option value="2">Feb</option>
                                    <option value="3">Mar</option>
                                    <option value="4">Apr</option>
                                    <option value="5">May</option>
                                    <option value="6">Jun</option>
                                    <option value="7">Jul</option>
                                    <option value="8">Aug</option>
                                    <option value="9">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                                <input class="sq-form-field" type="text" name="calendar_event_single_0_end_year" id="calendar_event_single_0_end_year" size="5" value="2017" onclick="checkBox('calendar_event_single_0_end_date_enabled');" onkeypress="processKeyEvent(this)" onfocus="currentField=this" onblur="currentField=null; oldField=this; setTimeout('processEndDateBlur(oldField, \'calendar_event_single_0\')', 10);" disabled="disabled" />
                            </td>
                            <td class="sq-backend-data" style="white-space: nowrap">
                                &nbsp;&nbsp;
                                <input class="sq-form-field" type="checkbox" value="1" name="calendar_event_single_0_end_time_enabled" id="calendar_event_single_0_end_time_enabled" onclick="if (this.checked) { enableTimeField('calendar_event_single_0_end'); } else { disableTimeField('calendar_event_single_0_end'); } if (this.checked) { checkBox('calendar_event_single_0_end_date_enabled'); enableTimeField('calendar_event_single_0_start'); } else disableTimeField('calendar_event_single_0_start');" disabled="disabled" />
                                <label for="calendar_event_single_0_end_time_enabled">at</label>
                                <input class="sq-form-field" style="width: 5ex" type="text" name="calendar_event_single_0_end_hours" id="calendar_event_single_0_end_hours" size="2" maxlength="2" value="6" onclick="checkBox('calendar_event_single_0_end_date_enabled');" onkeypress="processKeyEvent(this)" onfocus="currentField=this" onblur="currentField=null; oldField=this; setTimeout('processEndDateBlur(oldField, \'calendar_event_single_0\')', 10);" disabled="disabled" /> :
                                <input class="sq-form-field" style="width: 5ex" type="text" name="calendar_event_single_0_end_minutes" id="calendar_event_single_0_end_minutes" size="2" maxlength="2" value="09" onclick="checkBox('calendar_event_single_0_end_date_enabled');" onkeypress="processKeyEvent(this)" onfocus="currentField=this" onblur="currentField=null; oldField=this; setTimeout('processEndDateBlur(oldField, \'calendar_event_single_0\')', 10);" disabled="disabled" />
                                <select class="sq-form-field" name="calendar_event_single_0_end_is_pm" id="calendar_event_single_0_end_is_pm" onclick="checkBox('calendar_event_single_0_end_date_enabled');" onkeypress="processKeyEvent(this)" onfocus="currentField=this" onblur="currentField=null; oldField=this; setTimeout('processEndDateBlur(oldField, \'calendar_event_single_0\')', 10);" disabled="disabled">
                                    <option value="0">am</option>
                                    <option value="1" selected="selected">pm</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" name="calendar_event_single_0_start_end_chooser_printed" value="1" class="sq-form-field" id="calendar_event_single_0_start_end_chooser_printed" />
                </div>
            </div>
            <div class="sq-form-question sq-form-question-text">
                <label for="metadata_field_text_419510_value" class="sq-form-question-title">Venue
                    <abbr title="required" class="sq-form-required-field">*</abbr>
                </label>
                <div class="sq-form-question-answer">
                    <input type="text" name="metadata_field_text_419510_value" value="" size="30" class="sq-form-field" id="metadata_field_text_419510_value" />
                </div>
            </div>
            <div class="sq-form-question sq-form-question-text">
                <label for="metadata_field_text_428144_value" class="sq-form-question-title">Campus</label>
                <div class="sq-form-question-answer">
                    <input type="text" name="metadata_field_text_428144_value" value="" size="30" class="sq-form-field" id="metadata_field_text_428144_value" />
                </div>
            </div>
            <div class="sq-form-question sq-form-question-text">
                <label for="metadata_field_text_436539_value" class="sq-form-question-title">Google Maps link</label>
                <div class="sq-form-question-answer">
                    <input type="text" name="metadata_field_text_436539_value" value="" size="30" class="sq-form-field" id="metadata_field_text_436539_value" />
                </div>
            </div>
            <div class="sq-form-question sq-form-question-text ">
                <label class="sq-form-question-title" for="calendar_event_single_0_3359">Event description
                    <abbr title="required" class="sq-form-required-field">*</abbr>
                </label>
                <div class="sq-form-question-answer">
                    <textarea class="sq-form-field js-cust-wysiwyg" data-icons-url="http://mon-dev.clients.squiz.net/__data/assets/git_bridge/0006/509343/deploy/mysource_files/icons.svg" rows="5" id="calendar_event_single_0_3359" name="calendar_event_single_0_3359"></textarea>
                </div>
            </div>
            <div class="sq-form-question sq-form-question-text">
                <label for="metadata_field_text_428147_value" class="sq-form-question-title">Event is open to:</label>
                <div class="sq-form-question-answer">
                    <input type="text" name="metadata_field_text_428147_value" value="" size="30" class="sq-form-field" id="metadata_field_text_428147_value" />
                </div>
            </div>
            <div class="sq-form-question sq-form-question-text">
                <label for="metadata_field_text_428148_value" class="sq-form-question-title">Cost</label>
                <div class="sq-form-question-answer">
                    <input type="text" name="metadata_field_text_428148_value" value="" size="30" class="sq-form-field" id="metadata_field_text_428148_value" />
                </div>
            </div>
            <div class="sq-form-question sq-form-question-text">
                <label for="metadata_field_text_428149_value" class="sq-form-question-title">Event website</label>
                <div class="sq-form-question-answer">
                    <input type="text" name="metadata_field_text_428149_value" value="" size="30" class="sq-form-field" id="metadata_field_text_428149_value" />
                </div>
            </div>
            <div class="sq-form-question sq-form-question-text">
                <label for="metadata_field_text_431183_value" class="sq-form-question-title">Event registration URL</label>
                <div class="sq-form-question-answer">
                    <input type="text" name="metadata_field_text_431183_value" value="" size="30" class="sq-form-field" id="metadata_field_text_431183_value" />
                </div>
            </div>
            <div class="sq-form-question sq-form-question-text">
                <label for="metadata_field_text_431371_value" class="sq-form-question-title">Contact name</label>
                <div class="sq-form-question-answer">
                    <input type="text" name="metadata_field_text_431371_value" value="" size="30" class="sq-form-field" id="metadata_field_text_431371_value" />
                </div>
            </div>
            <div class="sq-form-question sq-form-question-text">
                <label for="metadata_field_text_431373_value" class="sq-form-question-title">Contact email</label>
                <div class="sq-form-question-answer">
                    <input type="text" name="metadata_field_text_431373_value" value="" size="30" class="sq-form-field" id="metadata_field_text_431373_value" />
                </div>
            </div>
            <div class="sq-form-question sq-form-question-text">
                <label for="metadata_field_text_431378_value" class="sq-form-question-title">Contact phone</label>
                <div class="sq-form-question-answer">
                    <input type="text" name="metadata_field_text_431378_value" value="" size="30" class="sq-form-field" id="metadata_field_text_431378_value" />
                </div>
            </div>
            <div class="sq-form-question sq-form-question-text">
                <label for="metadata_field_text_431379_value" class="sq-form-question-title">Contact organisation</label>
                <div class="sq-form-question-answer">
                    <input type="text" name="metadata_field_text_431379_value" value="" size="30" class="sq-form-field" id="metadata_field_text_431379_value" />
                </div>
            </div>
            <div class="sq-form-question sq-form-question-select ">
                <label for="folders" class="sq-form-question-title">Event category</label>
                <div class="sq-form-question-answer">
                    <input type="hidden" name="metadata_field_select_531156_posted" value="1" class="sq-form-field" id="metadata_field_select_531156_posted" />
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[0]" value="blue alumni-news" id="metadata_field_select_531156_blue_alumni-news" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_alumni-news">Alumni</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[1]" value="pink art-design-architecture" id="metadata_field_select_531156_pink_art-design-architecture" class="sq-form-field" />
                                <label for="metadata_field_select_531156_pink_art-design-architecture">Art, Design and Architecture</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[2]" value="green" id="metadata_field_select_531156_green" class="sq-form-field" />
                                <label for="metadata_field_select_531156_green">Business and Economics</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[3]" value="green business-breakfast" id="metadata_field_select_531156_green_business-breakfast" class="sq-form-field" />
                                <label for="metadata_field_select_531156_green_business-breakfast">Business breakfast</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[4]" value="blue caulfield" id="metadata_field_select_531156_blue_caulfield" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_caulfield">Caulfield campus</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[5]" value="blue conferences" id="metadata_field_select_531156_blue_conferences" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_conferences">Conferences & Exhibitions</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[6]" value="blue education" id="metadata_field_select_531156_blue_education" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_education">Education</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[7]" value="light-blue" id="metadata_field_select_531156_light-blue" class="sq-form-field" />
                                <label for="metadata_field_select_531156_light-blue">Engineering</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[8]" value="pink faculty-of-arts" id="metadata_field_select_531156_pink_faculty-of-arts" class="sq-form-field" />
                                <label for="metadata_field_select_531156_pink_faculty-of-arts">Faculty of Arts</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[9]" value="blue future-students" id="metadata_field_select_531156_blue_future-students" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_future-students">Future student events</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[10]" value="blue graduations" id="metadata_field_select_531156_blue_graduations" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_graduations">Graduations</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[11]" value="blue information-technology" id="metadata_field_select_531156_blue_information-technology" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_information-technology">Information Technology</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[12]" value="blue international-future-students" id="metadata_field_select_531156_blue_international-future-students" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_international-future-students">International Future Students</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[13]" value="red" id="metadata_field_select_531156_red" class="sq-form-field" />
                                <label for="metadata_field_select_531156_red">Law</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[14]" value="magenta" id="metadata_field_select_531156_magenta" class="sq-form-field" />
                                <label for="metadata_field_select_531156_magenta">Medicine, Nursing, Health Science</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[15]" value="blue muarc" id="metadata_field_select_531156_blue_muarc" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_muarc">MUARC</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[16]" value="pink monash-college" id="metadata_field_select_531156_pink_monash-college" class="sq-form-field" />
                                <label for="metadata_field_select_531156_pink_monash-college">Monash College</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[17]" value="blue monash-only" id="metadata_field_select_531156_blue_monash-only" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_monash-only">Monash only</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[18]" value="blue Orientation" id="metadata_field_select_531156_blue_Orientation" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_Orientation">Orientation</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[19]" value="blue Other events" id="metadata_field_select_531156_blue_Other_events" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_Other_events">Other events</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[20]" value="blue peninsula-campus" id="metadata_field_select_531156_blue_peninsula-campus" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_peninsula-campus">Peninsula campus</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[21]" value="pink performing-arts" id="metadata_field_select_531156_pink_performing-arts" class="sq-form-field" />
                                <label for="metadata_field_select_531156_pink_performing-arts">Performing Arts</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[22]" value="blue pharmacy" id="metadata_field_select_531156_blue_pharmacy" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_pharmacy">Pharmacy, Pharmaceutical Science</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[23]" value="blue public-lectures" id="metadata_field_select_531156_blue_public-lectures" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_public-lectures">Public lectures</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[24]" value="orange" id="metadata_field_select_531156_orange" class="sq-form-field" />
                                <label for="metadata_field_select_531156_orange">Science</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[25]" value="blue seminars-workshops" id="metadata_field_select_531156_blue_seminars-workshops" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_seminars-workshops">Seminars & Workshops</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[26]" value="blue sport" id="metadata_field_select_531156_blue_sport" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_sport">Sports</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[27]" value="blue student-matters" id="metadata_field_select_531156_blue_student-matters" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_student-matters">Student matters</label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                                <input type="checkbox" name="metadata_field_select_531156[28]" value="blue university-news" id="metadata_field_select_531156_blue_university-news" class="sq-form-field" />
                                <label for="metadata_field_select_531156_blue_university-news">General</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="sq-form-question sq-form-question-text">
                <label for="metadata_field_text_419582_value" class="sq-form-question-title">Event tags</label>
                <div class="sq-form-question-answer">
                    <input type="text" name="metadata_field_text_419582_value" value="" size="30" class="sq-form-field" id="metadata_field_text_419582_value" />
                </div>
            </div>
        </fieldset>
        <div class="sq-form-control" style="padding-bottom: 50px;">
            <input type="submit" name="calendar_event_single_submit" value="Create" class="sq-form-submit" id="calendar_event_single_submit">
        </div>
        <style>
        .sq-calendar-date-table {
            overflow: visible;
        }

        .sq-form-question-datetime .sq-form-question-answer {
            display: flex;
            flex-wrap: wrap;
        }

        .sq-calendar-date-table.start {
            flex-basis: 100%;
        }

        .sq-calendar-date-table.end {
            flex-basis: 100%;
        }

        .sq-calendar-date-table.end tr:first-child {
            display: flex;
            flex-wrap: wrap;
        }

        .sq-calendar-date-table.end tr:first-child td:first-child {
            flex-basis: 100%;
        }

        .sq-calendar-date-table.end tr:last-child td:first-child {
            display: none;
        }

        .sq-calendar-date-table tr,
        .sq-calendar-date-table tr td,
        .sq-calendar-date-table .sq-backend-data {
            border-bottom: 0 !important;
        }

        .sq-calendar-date-table.start .sq-backend-data {
            padding-left: 0;
        }

        .sq-calendar-date-table.start .sq-backend-data .sq-form-field,
        .sq-calendar-date-table.end .sq-backend-data:last-child .sq-form-field,
        .sq-calendar-date-table.end tr:last-child .sq-backend-data:nth-child(3) .sq-form-field {
            width: 70px;
            vertical-align: bottom;
        }

        .sq-calendar-date-table.start .sq-backend-data .selectric-sq-form-field {
            width: 100px;
            margin-bottom: 0;
            vertical-align: bottom;
            margin-top: 0;
        }

        .sq-calendar-date-table.end .sq-backend-data {
            padding-left: 0;
        }

        .sq-calendar-date-table.end .sq-backend-data:last-child .selectric-sq-form-field,
        .sq-calendar-date-table.end tr:last-child .sq-backend-data:nth-child(3) .selectric-sq-form-field {
            width: 120px;
            margin: 0;
            padding-left: 5px;
        }

        .sq-calendar-date-table.end tr:last-child .sq-backend-data:nth-child(3),
        .sq-calendar-date-table.end tr:last-child .sq-backend-data:nth-child(4),
        .sq-calendar-date-table.start .sq-backend-data,
        .sq-calendar-date-table.start tr {
            display: inline-grid;
        }

        .sq-calendar-date-table.end .sq-backend-data:last-child .selectric-sq-form-field,
        .sq-calendar-date-table.end tr:last-child .sq-backend-data:nth-child(3) .selectric-sq-form-field,
        .sq-calendar-date-table.end .sq-backend-data:last-child .sq-form-field,
        .sq-calendar-date-table.end tr:last-child .sq-backend-data:nth-child(3) .sq-form-field,
        .sq-calendar-date-table.start .sq-backend-data .selectric-sq-form-field {
            display: inline-block;
        }

        #page_asset_builder_597209_type_calendar_event_single label {
            margin-right: 20px;
        }

        tbody tr:last-child,
        tbody tr:last-child td {
            border-bottom: 0;
        }

        .sq-form-question-select tr td {
            display: block;
            width: 100%;
        }

        .sq-form-question-select tbody {
            display: flex;
            flex-wrap: wrap;
        }

        .sq-form-question-select tr {
            flex-basis: 100%;
        }

        @media only screen and (min-width: 37.5em) {
            .sq-calendar-date-table.start {
                flex-basis: 45%;
            }
            .sq-calendar-date-table.end {
                flex-basis: 55%;
            }
            .sq-calendar-date-table.start .sq-backend-data {
                display: inline-grid;
            }
            .sq-form-question-select tr {
                flex-basis: 50%;
            }
        }
        </style>
        <script>
        window.onload = function() {
            $('body').on('click', 'input[type="radio"], input[type="checkbox"]', function() {
                $('select').selectric('refresh');
            });
        };
        </script>
    </div>
    <script type="text/javascript">
    </script>
</form>
