$font-h1-font: normal $font-bold 28px/1.36 $font-family__condensed,
  $font-family__sans;
$font-search-font: normal $font-medium 16px/1.25 $font-family__condensed,
  $font-family__sans;

.microbanner {
  position: relative;
  .microbanner-column {
    // border: 2px solid black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-query('wide') {
      height: 140px;
    }
  }
  & h1 {
    position: relative;
    width: 90%;
    margin: 0 auto;
    font: $font-h1-font;
    letter-spacing: normal;
    @include media-query('wide') {
      margin-left: 0px;
    }
  }
  .microbanner-img {
    position: absolute;
    top: 0;
    z-index: -2;
    margin: 0 auto;
    object-fit: cover;
    height: 250px;
    @include media-query('medium') {
      height: 200px;
      width: 100%;
    }
    @include media-query('wide') {
      width: 100%;
      height: 140px;
    }
  }
  #microbanner-search-form {
    position: relative;
    width: 90%;
    margin: 0 auto;
    @include media-query('wide') {
      position: absolute;
      right: 15px;
    }
    & input {
      border: none;
      border-radius: 25px;
      padding: 10px;
      width: 100%;
      font: $font-search-font;
      // outline: none;
      height: 50px;
      text-indent: 15px;
    }
    ::placeholder {
      color: $black;
      opacity: 1; /* Firefox */
    }
  }
  .microbanner__search-label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .microbanner-search-btn {
    background: $white;
    border: 0;
    color: $white;
    display: block;
    height: 50px;
    padding: 0;
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    &::after {
      display: block;
      content: '.';
      color: transparent;
      background-position: -468px -36px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 564px 420px;
      background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
      width: 24px;
      height: 24px;
      background-position: -432px -36px;
      margin: 0;
    }
    &:focus {
      // outline: 0;
    }
    &:hover {
    }
  }
  &.microbanner--no-search {
    .microbanner-img {
      height: 40px;
      @include media-query('wide') {
        width: 100%;
        height: 140px;
      }
      width: 100%;
    }
    .microbanner-column {
      height: 20px;
      @include media-query('wide') {
        height: 140px;
      }
    }
  }
}
// // Aniamted M (Wide)
// .monash-m__wrapper.monash-m-microbanner {
//     display: none;
//     z-index: -1;
//     @include media-query("wide") {
//         position: absolute;
//         top: 0;
//         right: -15px;
//         transform: scaleX(0.5) translateX(25%);
//         display:block;
//     }
//     @include media-query("medium") {
//         right: -85px;
//     }
//     .monash-m-new {
//          width: 140px;
//     }
// }
