<div class="timeline-card">
    <div class="timeline-card__year">2008</div>
    <!-- import:content source:modules/timeline-sm-share/html/card.html -->
    <img data-lazy="mysource_files/bckgnd3.jpg" alt="" class="timeline-card__background timeline-card__background--50">
    <div class="timeline-card__content">
        <div class="timeline-card-row">
            <div class="timeline-card-col timeline-card-col--white timeline-card-col--white-high" data-col="11">
                <h2 class="timeline-card__heading timeline-card__heading--small">Small Heading Example Ruby. Quote below</h2>
                <p class="timeline-card__subheading">5 January 2008</p>
                <p class="timeline-card__subheading">Background Image &amp; Quote</p>
            </div>
            <div class="timeline-card-col" data-col="12"></div>
        </div>
        <div class="timeline-card-row">
            <div class="timeline-card-col timeline-card-col--white timeline-card-col--white-high" data-col="21"><blockquote class="timeline-card__quote">“This is an example of using a H4 style. Lorem ipsum dor  amet, consectetur adipiscing elit. Integer rutrum tellus.”</blockquote><a href="#" class="btn btn__link js-timeline-popup">Read more</a></div>
            <div class="timeline-card-col" data-col="22"></div>
        </div>
    </div>
</div>
