<div class="timeline-card">
    <div class="timeline-card__year">2006</div>
    <!-- import:content source:modules/timeline-sm-share/html/card.html -->
    <div class="timeline-card__content">
        <div class="timeline-card-row">
            <div class="timeline-card-col timeline-card-col--white timeline-card-col--white-high" data-col="11">
                <h2 class="timeline-card__heading">Heading Example Green</h2>
                <p class="timeline-card__subheading">5 January 2008</p>
                <p class="timeline-card__subheading">Long Form Text</p>
            </div>
            <div class="timeline-card-col timeline-card-col--white timeline-card-col--white-high" data-col="12"></div>
        </div>
        <div class="timeline-card-row">
            <div class="timeline-card-col timeline-card-col--white timeline-card-col--white-high" data-col="21">This is an example of using a Body style. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum tellus ut congue molestie nulla eleifend diam at tortor blandit interum. Lorem ipsum dolor sit amet.</div>
            <div class="timeline-card-col timeline-card-col--white timeline-card-col--white-high" data-col="22">This is an example of using a Body style. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum tellus ut congue molestie nulla eleifend diam at tortor blandit interum. accusantium doloremque laudantium. <a href="timeline-content.html" class="btn btn__link js-timeline-popup">Read more</a></div>
        </div>
    </div>
</div>
