<div class="timeline-card timeline-card--video js-timeline-card__video">
    <div class="timeline-card__year">2007</div>
    <!-- import:content source:modules/timeline-sm-share/html/card.html -->
    <div class="timeline-card__content">
        <div class="timeline-card-row">
            <div class="timeline-card-col timeline-card-col--white timeline-card-col--white-high" data-col="11">
                <h2 class="timeline-card__heading">Heading Example Fuchsia</h2>
                <p class="timeline-card__subheading">5 January 2008</p>
                <p class="timeline-card__subheading">Text &amp; Video</p>
            </div>
            <div class="timeline-card-col timeline-card-col--white timeline-card-col--white-high" data-col="12"></div>
        </div>
        <div class="timeline-card-row">
            <div class="timeline-card-col timeline-card-col--white timeline-card-col--white-high" data-col="21"><a href="https://www.youtube.com/watch?v=2Zfz3veG8os" class="js-listing-box-video-link box-listing-element__video-thumb-link js-timeline-stopProp" title="Find a course" data-video-id="2Zfz3veG8os"><img src="mysource_files/bckgnd3.jpg" alt="Placeholder" class="box-listing-element__video-thumb-image" /></a></div>
            <div class="timeline-card-col timeline-card-col--white timeline-card-col--white-high" data-col="22">This is an example of using a Body style. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum tellus ut congue molestie nulla eleifend diam at tortor blandit interum. Praesent semper, ante nequis porta. <a href="#" class="btn btn__link js-timeline-popup">Read more</a></div>
        </div>
    </div>
</div>
