<div class="timeline-card timeline-card--video timeline-card--video-full">
    <div class="timeline-card__year">2011</div>
    <!-- import:content source:modules/timeline-sm-share/html/card.html -->
    <div class="timeline-card__video-full-wrapper">
       <a href="https://www.youtube.com/watch?v=2Zfz3veG8os" class="js-listing-box-video-link box-listing-element__video-thumb-link js-timeline-stopProp" title="Find a course" data-video-id="2Zfz3veG8os"></a>
    </div>
    <div class="timeline-card__content">
        <img src="mysource_files/bckgnd3.jpg" alt="Placeholder" class="timeline-card__content-background" />
        <div class="timeline-card-row">
            <div class="timeline-card-col timeline-card-col--text-white" data-col="11">
                <h2 class="timeline-card__heading timeline-card__heading--small">Heading Example Fuchsia</h2>
                <p class="timeline-card__subheading">5 January 2008</p>
                <p class="timeline-card__subheading">Video only</p>
            </div>
            <div class="timeline-card-col" data-col="12"></div>
        </div>
        <div class="timeline-card-row">
            <div class="timeline-card-col" data-col="21"></div>
            <div class="timeline-card-col" data-col="22"></div>
        </div>
    </div>
</div>
