<p>The 2015 Monash Motorsport team was made up of 75 students from Monash University who were responsible for all elements of the the design, construction, management and racing of their open-wheel, formula style racecar.</p>
    <p>The team’s supervisor, Dr Scott Wordley, said that the team had performed extremely well under pressure.</p>
    <p>"It wasn’t easy for them, getting the new car across the line, but all their hard work has really paid off. It’s a terrific result," Dr Wordley said.</p>
    <p>The Australasian Formula SAE event, part of the world’s largest university engineering design competition, was held at Calder Park Raceway from 10 - 13 December.</p>
    <p>The Monash Motorsport team is now making plans for next year, when it hopes to visit Europe to compete in equivalent events at Silverstone in the UK and Hockenheimring in Germany. These Formula Student races are the most competitive in the world, with over 100 entries from as many as 25 different countries.</p>
    <p>Many of the team’s current students will be moving on to internships and graduate positions at top companies, including Rolls Royce Aero Engines, Audi Sport LMP, Ford Australia, Bosch Motorsport and various V8 Supercar teams.</p>
