<h3>The Monash Motorsport team has blitzed the field again at the annual Formula SAE (Society of Automotive Engineers) Australasian event.</h3>
<p>Overall winners for a record seven years in a row, the Monash University crew defeated 29 other teams from around Australia, New Zealand, India and Japan.</p>
<p>The team scored 894.6 points out of a possible 1000, achieving the highest overall score and top-scoring in the Design and Autocross events.</p>
<p>According to team leader Areeb Hassan, the competition was tight.</p>
<p>"Some of the other teams had really strong entries this year, but we’re thrilled with the performance of our team and our vehicle," Ms Hassan said.</p>
<p>Ms Hassan was especially pleased, given that the car was a completely new and very ambitious design this year.</p>
<p>"It was fantastic to have all our hard work recognised with a perfect score of 150 for Design, and to finish as overall winners," she said.</p>
