<div class="cross-nav-bar">
    <ul class="cross-nav-bar__list">
        <li class="cross-nav-bar__list-item"><a href="#">All Articles</a></li>
        <li class="cross-nav-bar__list-item"><a href="#">Related</a></li>
        <li class="cross-nav-bar__list-item"><a href="#">Previous</a></li>
        <li class="cross-nav-bar__list-item"><a href="#">Next</a></li>
    </ul>
</div>
