.cards-grid.search-listing {
  margin-bottom: 7.5rem;

  .search-listing__result {
    font-weight: bold;
  }
  .card .icon {
    margin-left: 20px;
    margin-right: 40px;
    display: flex;

    svg {
      position: absolute;
      top: 0;
      max-height: 100%;
      height: auto;
      width: 59px;
      filter: grayscale(1);
    }
  }

  .search-listing__result-summary {
    display: flex;
    justify-content: space-between;
    margin-top: 3.45rem;
    margin-bottom: 2.6rem;

    // > div {
    //   display: inline-block;
    // }
  }

  .search-listing__filter-wrapper {
    border: 0;
    text-transform: uppercase;
    display: none;
    height: 1.25rem;

    .search-button {
      border: 0;
      background-color: transparent;
    }

    .search-listing__category--label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      padding-left: 8px;
      padding-right: 8px;
      font-weight: bold;
      font-size: 0.8125rem;

      svg {
        // max-height: 2rem;
        max-width: 1.75rem;
      }
    }

    .search-listing__category {
      position: absolute;
      width: 100%;
      left: 0;
      z-index: 100;
      background-color: #f6f6f6;

      ul {
        width: 100%;
        padding: 0 1rem;
        list-style: none;
        font-family: 'Roboto', sans-serif;
        font-size: 0.76rem;
        color: #505050;
        text-transform: capitalize;

        li {
          margin: 1.25rem 0;

          label {
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            padding-left: 2rem;
            user-select: none;
          }

          .search-listing__category-checkbox {
            position: absolute;
            border: solid 1px #b6b6b6;
            box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07);
            left: 0;
            height: 1.25rem;
            width: 1.25rem;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            &:after {
              content: '';
              position: absolute;
              display: none;
              top: 2px;
              width: 7px;
              height: 11px;
              border: solid white;
              border-width: 0 2px 2px 0;
              transform: rotate(45deg);
            }
          }

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked ~ .search-listing__category-checkbox {
              background-color: #006dae;

              &:after {
                display: block;
              }
            }
          }
        }
      }
    }

    &.search-listing__filter-wrapper--mobile {
      display: block;
      // width: 100%;
      // height: 100%;

      .search-listing__category {
        top: 0;
        height: 100%;

        .search-listing__category--mobile-heading {
          font-size: 1rem;
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
          text-transform: uppercase;
          padding: 1rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          svg {
            max-height: 1.3125rem;
            max-width: 1.3125rem;
            filter: saturate(0);
          }
        }

        .search-listing__category--label-text {
          position: relative;
          width: 100%;
          padding: 0.5rem 1rem;
          font-size: 0.8125rem;
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
          text-transform: uppercase;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            right: 0;
            transform: translateX(-50%);
            height: 1px;
            width: calc(100% - 2rem);
            border: 1px solid #d7d7d9;
            z-index: 15;
            // margin: 0 5%;
          }
        }
      }
    }
  }

  .tabs__tab-list .card .text p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .search-listing__pagination {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 1.75rem;
      width: 1.75rem;
      font-family: 'HelveticaNeue', sans-serif;
      color: black;
      text-decoration: none;
      font-weight: 500;
      &.active {
        background-color: #006dae;
        color: white;
      }
    }

    .search-listing__pagination--prev,
    .search-listing__pagination--next {
      width: 3.5rem;
    }
  }

  .search-listing--empty {
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;

    &-separator {
      display: block;
      height: 1px;
      border: solid 1px #d8d8d8;
    }

    h3 {
      font-size: 1.75rem;
    }
    p {
      font-family: sans-serif;
    }
  }

  .search-listing__popular {
    &--heading {
      font-size: 1.25rem;
      color: #000;
      font-weight: bold;
      font-family: 'Roboto Condensed', sans-serif;
    }

    &--suggestions {
      list-style-type: none;
      padding-left: 0;
      font-family: 'Roboto', sans-serif;
    }

    li {
      font-weight: 500;

      a {
        text-decoration: none;
      }
    }
  }
}

@import 'wide';
