@media only screen and (min-width: 60em) {
  .cards-grid.search-listing {
    .search-listing__filter-wrapper {
      display: block;
      width: 10.625rem;
      height: 2.125rem;
      position: relative;
      background-color: #f6f6f6;

      .search-listing__category--label {
        padding: 8px 15px;
        background-color: #f6f6f6;
      }

      .search-listing__category {
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 1px;
          width: 82%;
          border: 1px solid #d7d7d9;
          z-index: 15;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .search-listing__filter-wrapper.search-listing__filter-wrapper--mobile {
      display: none;
    }

    .card .icon {
      margin-right: 20px;
    }

    .tabs__tab-list .card .text p {
      display: block;
    }
  }
}
