<section id="tables">
    <h2>Tables</h2>
    <table>
        <tr>
            <th>Gender</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>Male</td>
            <td>25,582</td>
        </tr>
        <tr>
            <td>Female</td>
            <td>27,416</td>
        </tr>
    </table>

    <table>
        <tr>
            <th>Attendance Mode</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>On-Campus</td>
            <td>53,322</td>
        </tr>
        <tr>
            <td>Off-Campus</td>
            <td>5,817</td>
        </tr>
        <tr>
            <td>Multi-modal</td>
            <td>3,859</td>
        </tr>
    </table>

    <table>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
        </tr>
        <tr>
            <td>Nullam vel viverra nibh. Integer ut ex porta, commodo sapien sed, pellentesque felis. Proin ut iaculis metus. In hac habitasse platea dictumst.</td>
            <td>Praesent lobortis non nisl quis egestas. Curabitur tincidunt purus vel lectus auctor tempor.</td>
            <td>Vivamus porttitor nisi neque, id congue urna porttitor sit amet. Suspendisse enim velit, iaculis eu leo vitae, pulvinar dictum elit.</td>
        </tr>
        <tr>
            <td>Sed velit nunc, sodales vitae dignissim quis, malesuada quis lorem.</td>
            <td>Duis bibendum lorem sit amet mi pulvinar, et viverra elit aliquet.</td>
            <td>Cras erat lorem, fringilla sit amet laoreet nec, semper sed libero.</td>
        </tr>
    </table>

    <table>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
            <th>Column 4</th>
            <th>Column 5</th>
            <th>Column 6</th>
            <th>Column 7</th>
        </tr>
        <tr>
            <td>Nullam vel viverra nibh. Integer ut ex porta, commodo sapien sed, pellentesque felis. Proin ut iaculis metus. In hac habitasse platea dictumst.</td>
            <td>Praesent lobortis non nisl quis egestas. Curabitur tincidunt purus vel lectus auctor tempor.</td>
            <td>Vivamus porttitor nisi neque, id congue urna porttitor sit amet. Suspendisse enim velit, iaculis eu leo vitae, pulvinar dictum elit.</td>
            <td>Nullam vel viverra nibh. Integer ut ex porta, commodo sapien sed, pellentesque felis. Proin ut iaculis metus. In hac habitasse platea dictumst.</td>
            <td>Praesent lobortis non nisl quis egestas. Curabitur tincidunt purus vel lectus auctor tempor.</td>
            <td>Vivamus porttitor nisi neque, id congue urna porttitor sit amet. Suspendisse enim velit, iaculis eu leo vitae, pulvinar dictum elit.</td>
            <td>Nullam vel viverra nibh. Integer ut ex porta, commodo sapien sed, pellentesque felis. Proin ut iaculis metus. In hac habitasse platea dictumst.</td>
        </tr>
        <tr>
            <td>Sed velit nunc, sodales vitae dignissim quis, malesuada quis lorem.</td>
            <td>Duis bibendum lorem sit amet mi pulvinar, et viverra elit aliquet.</td>
            <td>Cras erat lorem, fringilla sit amet laoreet nec, semper sed libero.</td>
            <td>Nullam vel viverra nibh. Integer ut ex porta, commodo sapien sed, pellentesque felis. Proin ut iaculis metus. In hac habitasse platea dictumst.</td>
            <td>Praesent lobortis non nisl quis egestas. Curabitur tincidunt purus vel lectus auctor tempor.</td>
            <td>Vivamus porttitor nisi neque, id congue urna porttitor sit amet. Suspendisse enim velit, iaculis eu leo vitae, pulvinar dictum elit.</td>
            <td>Nullam vel viverra nibh. Integer ut ex porta, commodo sapien sed, pellentesque felis. Proin ut iaculis metus. In hac habitasse platea dictumst.</td>
        </tr>
    </table>
</section>
