<div class="feature-content-banner">
    <div class="feature-content-banner__col feature-content-banner__col-img">
        <img src="{{file_dest}}/feature-article-background.jpg" alt="" class="feature-content-banner__col-bckgnd-img">
    </div>
    <div class="feature-content-banner__col feature-content-banner__col-text user-def-palette--bg-light-charcoal user-def-palette--text-white">
        <p class="large-text">“It was fantastic to have all our hard work recognised with a perfect score of 150 for Design, and to finish as overall winners”</p>
        <p class="legend user-def-palette--text-medium-grey">Areeb Hassan, Team Leader,</p>
        <p class="legend user-def-palette--text-medium-grey">Monash Motorsport</p>
    </div>
</div>
