<div class="feature-content-banner">
    <div class="feature-content-banner__col feature-content-banner__col--single feature-content-banner__col-img">
        <img src="{{file_dest}}/feature-article-background-wide.jpg" alt="" class="feature-content-banner__col-bckgnd-img">
    </div>
</div>
