<div class="feature-content-banner">
    <div class="feature-content-banner__col feature-content-banner__col-text feature-content-banner__col--border user-def-palette--bg-medium-grey user-def-palette--text-light-charcoal user-def-palette--border-monash-blue">
        <h3 class="">“It was fantastic to have all our hard work recognised with a perfect score of 150 for Design, and to finish as overall winners”</h3>
        <p class="legend user-def-palette--text-monash-blue">Areeb Hassan, Team Leader,</p>
        <p class="legend user-def-palette--text-monash-blue">Monash Motorsport</p>
    </div>
    <div class="feature-content-banner__col feature-content-banner__col-img">
        <img src="{{file_dest}}/feature-article-background.jpg" alt="" class="feature-content-banner__col-bckgnd-img">
    </div>
</div>
