.footer {
  font-size: 0.75rem;
  padding-top: 3.87em;

  a {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.footer-links {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.footer-links__section-title {
  color: #000;
  font-family: Roboto Condensed;
  font-size: 0.91rem;
  margin: 0;
  padding: 0.3125rem 0;
  text-transform: uppercase;
}

.footer-links__section--sites,
.footer-links__section--member {
  padding-top: 1rem;
}

.footer-links__logo {
  max-width: 100%;
}

.footer-info {
  padding-bottom: 5rem;
  position: relative;
}

.footer-info p {
  font-size: 0.9375rem;
  line-height: 1.166666667;
  margin: 0 0 0.3rem;
}
.footer-large-info p.large-info {
  font-size: 1rem;
  line-height: 1.166666667;
  margin: 0 0 0.3rem;
  color: #505050;
  font-weight: 700;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.large-info___link {
  text-decoration: underline;
  color: #505050;
}

.footer-back-to-top {
  background: #dddddd;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  bottom: 0;
  color: #3c3c3c;
  display: block;
  float: right;
  font-size: 0.625rem;
  padding: 0.5rem;
  position: absolute;
  right: 0.9375rem;
  text-align: center;
  text-transform: uppercase;
  width: 3.5rem;
}

.footer-back-to-top::before {
  width: 23px;
  height: 12px;
  background-position: -17.25px -34.5px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 270.25px 201.25px;
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
  content: ' ';
  display: inline-block;
  margin-left: -3px;
}

.no-svg .footer-back-to-top::before {
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/sprites.png);
}

.footer-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-nav__item {
  margin: 0;
  padding: 0;
}

.footer-nav__link {
  color: #505050;
  display: inline-block;
  padding: 0.3125rem 0;
}
.footer-info__text-block {
  a {
    color: $base-light-charcoal;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

@import 'wide.scss';
@import 'social-media.scss';
