.footer-social-media__links {
  padding: 1rem;
  text-align: center;
  margin-top: 0;
  padding: 0;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 16px 21px 16px 24px;

  @include media-query('wide') {
    grid-column-gap: 20px;
  }

  align-items: center;
  justify-items: center;

  li {
    display: inline-block;
    margin-bottom: auto;
    margin-top: auto;
    svg[role='img'] {
      width: 16px;
      height: 16px;
    }
  }

  a {
    display: inline-block;
    margin: 0.5rem;

    &:hover,
    &:active {
      opacity: 0.75;
    }
  }
}
