// scss-lint:disable VendorPrefix

.footer {
    font-size: pxToRem(13);

    &-social-media {
        align-content: center;
        display:       flex;
        flex-wrap:     wrap;
        height:        pxToRem(144);
        padding:       1.5rem;
        position:      relative;        
    }

    &-links {
        padding-bottom: 1rem;
        padding-top:    1rem;

        &__section {
            padding: 1rem 0;
        }
    }

    &-info {
        padding-bottom: 1.5rem;
    }

    &-back-to-top {
        &__button {
            font-size:  pxToRem(12);
            margin-top: -2rem;
            width:      4rem;
        }
    }
}

.footer-nav {

    &__list {

        &--quick-links {
            -moz-column-count:  2;
            column-count:       2;
            -moz-column-gap:    1rem;
            column-gap:         1rem;
        }

    }

}