<div class="content bg-white l--content">
  <div class="content-wrapper">
    <h1 class="visuallyhidden">Cards</h1>
    <!-- Social Media Share Bar: Not Configured -->
    <div id="cards-grid" class="cards-grid">
      <h3 id="tabs" class="tabs__title text-700">Card heading</h3>
      <ul class="cards__card-list">
        <li class="card width-25">
          <div class="text">
            <h3 class="text-450">
              Card 1
            </h3>
            <p class="text-350"></p>
            <p>Card 1. This is the content for card 1. It is very long.</p>
            <p>Card 1. This is the content for card 1. It is very long.</p>
            <p>Card 1. This is the content for card 1. It is very long.</p>
            <p>Card 1. This is the content for card 1. It is very long.</p>
            <p>Card 1. This is the content for card 1. It is very long.</p>
            <p></p>
          </div>
        </li>
        <li class="card width-25">
          <a href="2322898">
            <div class="text">
              <h3 class="text-450">
                Card 2
              </h3>
              <p class="text-350"></p>
              <p>Leverage agile frameworks to provide a robust synopsis.</p>
              <p></p>
            </div>
          </a>
        </li>
        <li class="card width-25">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 3
              </h3>
              <p class="text-350"></p>
              <p>Leverage agile frameworks to provide a robust synopsis.</p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0004/2179444/arrow-down-right.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
        <li class="card width-25">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 4
              </h3>
              <p class="text-350"></p>
              <p>Card 4</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0003/2179434/alarmclock.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
        <li class="card width-25">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 5
              </h3>
              <p class="text-350"></p>
              <p>Card 5</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0008/2179682/user-message.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
        <li class="card width-25">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 6
              </h3>
              <p class="text-350"></p>
              <p>Card 6</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0009/2179476/calendar-7.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
        <li class="card width-25">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 7
              </h3>
              <p class="text-350"></p>
              <p>Card 7</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0009/2179440/arrow-curve.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
        <li class="card width-25">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 8
              </h3>
              <p class="text-350"></p>
              <p>Card 8</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0005/2179472/brush.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
        <li class="card width-25">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 9
              </h3>
              <p class="text-350"></p>
              <p>Card 9</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0011/2179676/train.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
        <li class="card width-25">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 10
              </h3>
              <p class="text-350"></p>
              <p>Card 10</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0012/2179677/tram.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
        <li class="card width-25">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 11
              </h3>
              <p class="text-350"></p>
              <p>Card 11</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0005/2179679/umbrella.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
        <li class="card width-25">
          <a href="2322898">
            <div class="text">
              <h3 class="text-450">
                Card 12
              </h3>
              <p class="text-350"></p>
              <p>Card 12</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0009/2179458/australia-solid.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div id="cards-grid" class="cards-grid">
      <h3 id="tabs" class="tabs__title text-700">Three per row</h3>
      <ul class="tabs__tab-list">
        <li class="card width-33">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 1
              </h3>
              <p class="text-350"></p>
              <p>
                Card 1. There is no icon for this card. This is what a card with
                no icon looks like.
              </p>
              <p></p>
            </div>
          </a>
        </li>
        <li class="card width-33">
          <a href="2322898">
            <div class="text">
              <h3 class="text-450">
                Card 2
              </h3>
              <p class="text-350"></p>
              <p>Leverage agile frameworks to provide a robust synopsis.</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0005/2179436/apple.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
        <li class="card width-33">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 3
              </h3>
              <p class="text-350"></p>
              <p>Card 3</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0004/2179444/arrow-down-right.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
        <li class="card width-33">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 4
              </h3>
              <p class="text-350"></p>
              <p>Card 4</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0003/2179434/alarmclock.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
        <li class="card width-33">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 5
              </h3>
              <p class="text-350"></p>
              <p>Card 5</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0008/2179682/user-message.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
        <li class="card width-33">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 6
              </h3>
              <p class="text-350"></p>
              <p>Card 6</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0009/2179476/calendar-7.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
        <li class="card width-33">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 7
              </h3>
              <p class="text-350"></p>
              <p>Card 7</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0009/2179440/arrow-curve.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
        <li class="card width-33">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 8
              </h3>
              <p class="text-350"></p>
              <p>Card 8</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0005/2179472/brush.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
        <li class="card width-33">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 9
              </h3>
              <p class="text-350"></p>
              <p>Card 9</p>
              <p></p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0011/2179676/train.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div id="cards-grid" class="cards-grid">
      <h3 id="tabs" class="tabs__title text-700">Two per row</h3>
      <ul class="tabs__tab-list">
        <li class="card width-110">
          <a href="">
            <div class="text">
              <h3 class="text-450">
                Card 1
              </h3>
              <p class="text-350"></p>
              <p>
                Leverage agile frameworks to provide a robust synopsis.Leverage
                agile frameworks to provide a robust synopsis.Leverage agile
                frameworks to provide a robust synopsis.Leverage agile
                frameworks to provide a robust synopsis.Leverage agile
                frameworks to provide a robust synopsis.Leverage agile
                frameworks to provide a robust synopsis.
              </p>
            </div>
            <div class="icon">
              <img
                src="https://www.monash.edu/__data/assets/file/0011/2179433/airplane-2.svg"
                alt=" "
              />
            </div>
          </a>
        </li>
      </ul>
    </div>

    <!-- /.content-wrapper -->
  </div>
  <!-- /.content -->
</div>
