#main .background-image {
  height: 100%;
  //   position: relative;
  //   z-index: 1;
  &:after {
    background-image: url(https://www.monash.edu/__data/assets/image/0005/2346080/banner-background.34783fd7.png);
    content: '';
    bottom: -20px;
    right: 0px;
    width: 100%;
    height: 50%;
    z-index: -1;
    opacity: 0.1;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }
  .bg-white {
    background: none;
  }
}

// remove white background class from .content
// add position relative to #main
// find a way to update the image
