.timeline-card {
    @include card-colours();
    height:   100%;
    overflow: hidden;
    position: relative;

    .btn {
        bottom:         0;
        font-size:      pxToRem(15);
        left:           0;
        margin-top:     pxToRem(10);
        padding-bottom: pxToRem(10);
        padding-top:    pxToRem(10);
        position:       absolute;
        width:          100%;
    }

    .timeline-card-col > .box-listing-element__video-thumb-link {
        background-color: $timeline-grey--light;
    }

    .box-listing-element__video-thumb-link {
        height: 100%;
    }

    .box-listing-element__video-thumb-link:hover::after {
        opacity: .75;
    }

    .box-listing-element__video-thumb-link::after {
        background-color:    transparent;
        background-image:    url('mysource_files/timeline-play-button.png');
        background-position: 0 0;
        background-repeat:   no-repeat;
        background-size:     auto;
        content:             '';
        display:             none;
        height:              pxToRem(65);
        left:                50%;
        position:            absolute;
        top:                 50%;
        width:               pxToRem(66);
    }

    .box-listing-element__video-thumb-image {
        height:     100%;
        object-fit: cover;
        width:      100%;
    }

    .video-container {
        margin: 0;
        width:  100%;
    }
}

.timeline-card--video-full {
    position: relative;

    .timeline-card__sm {
        z-index: 4;
    }
}

.timeline-card__video-full-wrapper {
    height:   pxToRem(370);
    left:     0;
    position: absolute;
    top:      pxToRem(30);
    width:    100%;
    z-index:  2;

    .video-container {
        position: static;
    }

    + .timeline-card__content {
        bottom:   0;
        height:   pxToRem(155);
        position: absolute;
        width:    100%;
        z-index:  3;

        .timeline-card-col {
            background-color: transparent;
            margin-top:       pxToRem(-49);
        }

        .timeline-card__content-background {
            display:    none;
            height:     100%;
            object-fit: cover;
            position:   absolute;
            width:      100%;
            z-index:    -1;
        }

        .btn {
            bottom: 0;
            height: pxToRem(40);
            top:    auto;
        }

        .box-listing-element__video-thumb-link::after {
            display: none;
        }
    }
}

.timeline-card__video-full-wrapper::after {
    background-color:    transparent;
    background-image:    url('mysource_files/timeline-play-button.png');
    background-position: 0 0;
    background-repeat:   no-repeat;
    background-size:     auto;
    content:             '';
    display:             none;
    height:              pxToRem(65);
    left:                0;
    position:            absolute;
    top:                 0;
    width:               pxToRem(66);
    z-index:             -1;
}

.timeline-card__video-full-wrapper:hover::after {
    opacity: .75;
}

.timeline-card__content {
    display:          flex;
    flex-direction:   column;
    height:           100%;
    position:         relative;
    z-index:          1;
}

.timeline-card-row {
    display:   flex;
    flex-wrap: wrap;

    [data-col="11"] {
        flex-basis: 100%;
        padding:    pxToRem(49) pxToRem(18) pxToRem(11) pxToRem(25);
    }

    [data-col="12"] {
        display: none;
        padding: pxToRem(59) pxToRem(65) 0 0;
    }

    [data-col="21"] {
        flex-basis: 100%;
        padding:    pxToRem(7) pxToRem(25) pxToRem(65);
    }

    [data-col="22"] {
        height:  0;
        padding: 0;
    }
}

.timeline-card--arranged {
    .timeline-card-row:first-child {
        flex-basis: 55%;
    }

    [data-col="21"],
    [data-col="22"] {
        padding-top: pxToRem(27);
    }

    [data-col="12"] {
        display: block;
    }

    [data-col="11"] {
        flex-basis: 50%;
    }

    [data-col="22"] {
        margin-bottom: pxToRem(-40);
    }
}

.timeline-card-row:last-child {
    flex-grow: 1;
}

.timeline-card-col {
    @include cell-colours();
    flex-basis:       50%;
    font-size:        pxToRem(15);
    line-height:      1.375;
}

.timeline-card__number,
.timeline-card__year {
    color:     $timeline-white;
    font-size: pxToRem(13);
}

.timeline-card__year {
    background-color:       $timeline-mon-blue;
    border-top-left-radius: pxToRem(5);
    line-height:            1.1538;
    padding:                pxToRem(7.5) pxToRem(10);
    position:               absolute;
    width:                  100%;
    z-index:                2;
}

.timeline-card__number {
    line-height: 2.3333;
    margin-left: pxToRem(350);
    padding:     0 pxToRem(10);
    position:    absolute;
    right:       0;
    top:         0;
    z-index:     2;
}

.timeline-card__heading,
.timeline-card__subheading,
.timeline-card__number,
.timeline-card__year,
.timeline-card__quote {
    font-family: $font-family__condensed;
}

.timeline-card__heading {
    font-size:      pxToRem(20);
    font-weight:    $font-light;
    line-height:    1.1429;
    margin-bottom:  pxToRem(13);
    margin-top:     0;
    text-transform: uppercase;
}

.timeline-card__heading--small {
    font-size:   pxToRem(18);
    line-height: 1.3333;
}

.timeline-card__subheading {
    font-size:      pxToRem(12);
    font-weight:    $font-semi-bold;
    line-height:    1.1666;
    margin:         0;
    text-transform: uppercase;
}

.timeline-card__background {
    @include sq-border-radius(5px);
    height:     100%;
    object-fit: cover;
    position:   absolute;
    width:      pxToRem(772);
    z-index:    0;
}


.timeline-card__background--fixed {
    height:     pxToRem(400);
    object-fit: fill;
}

.timeline-card__quote::before {
    display: none;
}

.timeline-card__quote {
    font-size:   pxToRem(24);
    font-weight: $font-light;
    line-height: 1.1667;
    margin:      0;
    padding:     0 0 pxToRem(20);
}

.timeline-card--video.timeline-card__background--arranged {
    .timeline-card-row:first-child {
        height:          55%;
        justify-content: center;
        max-height:      55%;
    }

    [data-col="11"] {
        display: none;
    }

    [data-col="12"] {
        display:       flex;
        flex-basis:    100%;
        height:        100%;
        padding-right: 0;
        padding-top:   pxToRem(30);

        // Dirty hack for IE11
        @media all and (-ms-high-contrast:none) {
            .box-listing-element__video-thumb-image {
                display: none !important;
            }
        }
    }

    .video-container {
        height:  100%;
        padding: 0;
    }
}

.timeline-card__category {
    font-size:   pxToRem(13);
    left:        50%;
    line-height: 1.1538;
    margin-left: -33%;
    padding:     .46875rem 0;
    position:    absolute;
    text-align:  center;
    top:         0;
    width:       66%;
    z-index:     2;
}

.timeline-card__category-link {
    color:           $timeline-white;
    text-decoration: none;
}

.timeline-card__category-link:hover {
    text-decoration: underline;
}
