.timeline-card {
    .btn {
        font-size:      pxToRem(20);
        padding-bottom: pxToRem(12);
        padding-top:    pxToRem(12);
    }
}

.timeline-card-row {
    [data-col="11"] {
        flex-basis: 50%;
        padding:    pxToRem(59) pxToRem(18) 1rem pxToRem(65);
    }

    [data-col="12"] {
        display: block;
    }

    [data-col="21"] {
        flex-basis: 50%;
        padding:    pxToRem(12) pxToRem(9) pxToRem(60) pxToRem(65);
    }

    [data-col="22"] {
        height:  auto;
        padding: pxToRem(12) pxToRem(65) pxToRem(60) pxToRem(9);
    }
}

.timeline-card--arranged {
    .timeline-card-row:first-child {
        flex-basis: 50%;
    }

    [data-col="21"],
    [data-col="22"] {
        padding-top: 2rem;
    }

    [data-col="22"] {
        margin-bottom: 0;
    }
}

.timeline-card--video.timeline-card__background--arranged {
    [data-col="12"] {
        padding-top: pxToRem(35);
    }
}

.timeline-card__video-full-wrapper {
    height:   pxToRem(445);
    top:      pxToRem(35);

    + .timeline-card__content {
        bottom: auto;
        height: pxToRem(200);

        .timeline-card-col {
            margin-top: 0;
        }

        .btn {
            bottom: auto;
            height: pxToRem(51);
            top:    pxToRem(419);
        }
    }
}

.timeline-card__number,
.timeline-card__year {
    font-size: 1rem;
}

.timeline-card__year {
    line-height: 1.25;
    padding:     pxToRem(7.5) pxToRem(15);
}

.timeline-card__number {
    padding-right: pxToRem(17.5);
}

.timeline-card__heading {
    font-size:     pxToRem(28);
    margin-bottom: pxToRem(18);
}

.timeline-card__heading--small {
    font-size: pxToRem(18);
}

.timeline-card__subheading {
    font-size:   pxToRem(15);
    line-height: 1.25;
}

.timeline-card__category {
    font-size:   1rem;
    line-height: 1.25;
    padding:     .46875rem .9375rem;
}

.timeline-card__background--fixed {
    height: pxToRem(480);
}
