$timeline-black:    #000;
$timeline-charcoal: #505050;
$timeline-fuchsia:  #c90095;
$timeline-green:    #006f29;
$timeline-purple:   #6f64a9;
$timeline-ruby:     #c800d9;
$timeline-white:    #fff;

$timeline-rgba__black--high:      rgba(0, 0, 0, 1);
$timeline-rgba__black--low:       rgba(0, 0, 0, 0);
$timeline-rgba__black--medium:    rgba(0, 0, 0, .5);
$timeline-rgba__charcoal--high:   rgba(80, 80, 80, 1);
$timeline-rgba__charcoal--low:    rgba(80, 80, 80, 0);
$timeline-rgba__charcoal--medium: rgba(80, 80, 80, .5);
$timeline-rgba__grey--high:       rgba(246, 246, 246, 1);
$timeline-rgba__grey--low:        rgba(246, 246, 246, 0);
$timeline-rgba__grey--medium:     rgba(246, 246, 246, .5);
$timeline-rgba__white--high:      rgba(255, 255, 255, 1);
$timeline-rgba__white--low:       rgba(255, 255, 255, 0);
$timeline-rgba__white--medium:    rgba(255, 255, 255, .5);

$colours-map: (
    black:       $timeline-black,
    charcoal:    $timeline-charcoal,
    fuchsia:     $timeline-fuchsia,
    green:       $timeline-green,
    purple:      $timeline-purple,
    ruby:        $timeline-ruby,
    white:       $timeline-white
);

$background-colours-map: (
    white:    (high: $timeline-rgba__white--high, medium: $timeline-rgba__white--medium, low: $timeline-rgba__white--low),
    black:    (high: $timeline-rgba__black--high, medium: $timeline-rgba__black--medium, low: $timeline-rgba__black--low),
    charcoal: (high: $timeline-rgba__charcoal--high, medium: $timeline-rgba__charcoal--medium, low: $timeline-rgba__charcoal--low),
    grey:     (high: $timeline-rgba__grey--high, medium: $timeline-rgba__grey--medium, low: $timeline-rgba__grey--low)
);

@mixin card-colours() {
    @each $colorName, $colorValue in $colours-map {
        &--#{$colorName} {
            .timeline-card__year,
            .timeline-card__sm [class*="addthis_button_"],
            .btn,
            .timeline-card__category {
                background-color: #{$colorValue};
            }

            .timeline-card__heading {
                color: #{$colorValue};
            }
        }
    }
}

@mixin cell-colours() {
    @each $colorName, $colorValue in $colours-map {
        &--text-#{$colorName} {
            color: #{$colorValue};

            .timeline-card__heading,
            .timeline-card__subheading,
            .timeline-card__quote {
                color: #{$colorValue};
            }
        }
    }

    @each $colorName, $opacities in $background-colours-map {
        @each $opacityLevel, $colourCode in $opacities {
            &--#{$colorName} {
                &-#{$opacityLevel} {
                    background-color: #{$colourCode};
                }
            }
        }
    }
}
