.timeline-card {
    .btn {
        display:   table;
        font-size: 1rem;
        position:  static;
        width:     auto;
    }

    .box-listing-element__video-thumb-link::after {
        display: block;
    }
}

.timeline-card__video-full-wrapper {
    height:      pxToRem(65);
    left:        50%;
    margin-left: pxToRem(-33);
    margin-top:  pxToRem(-32.5);
    top:         50%;
    width:       pxToRem(66);

    + .timeline-card__content {
        height:  100%;
        z-index: 1;

        .timeline-card__content-background {
            display: block;
        }

        .btn {
            height: auto;
        }
    }
}

.timeline-card__video-full-wrapper::after {
    display: block;
}

.timeline-card__year {
    display: inline-block;
    width:   auto;
}

.timeline-card__number {
    @include sq-border-radius(5px);
    background-color: $timeline-charcoal;
    bottom:           pxToRem(-60);
    font-size:        pxToRem(15);
    padding-left:     pxToRem(17.5);
    right:            auto;
    top:              auto;
}

.timeline-card__subheading,
.timeline-card-col {
    font-size: 1rem;
}

.timeline-card__heading {
    font-weight: $font-regular;
}

.timeline-card-row {
    flex-wrap: nowrap;

    [data-col="11"] {
        min-height: pxToRem(188);
        padding:    pxToRem(50) pxToRem(15) 1rem pxToRem(100);
    }

    [data-col="12"] {
        min-height: pxToRem(188);
        padding:    pxToRem(50) pxToRem(100) 0 pxToRem(15);
    }

    [data-col="21"] {
        padding: pxToRem(22) pxToRem(15) pxToRem(50) pxToRem(100);
    }

    [data-col="22"] {
        padding: pxToRem(22) pxToRem(100) pxToRem(50) pxToRem(15);
    }
}

.timeline-card__category {
    border-top-right-radius: pxToRem(5);
    left:                    auto;
    margin-left:             0;
    right:                   0;
    width:                   auto;
}

.timeline-card__background--fixed {
    height:     pxToRem(450);
    object-fit: cover;
}
