<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{pkg.name}} - (version {{pkg.version}})</title>
<!-- import:content source:html/fragments/_head-single.html -->
        <!-- Style overrides for index page only -->
        <style>
            .box-featured {
                box-shadow:     0px 0px 4px rgba(0, 0, 0, 0.25);
                padding-bottom: 0;
            }
            .box-featured__thumb-link {
                border-bottom: 1px solid #e6e6e6;
            }
        </style>
    </head>
    <!--[if lt IE 7]><body class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
    <!--[if IE 7]><body class="no-js lt-ie9 lt-ie8"><![endif]-->
    <!--[if IE 8]><body class="no-js lt-ie9"><![endif]-->
    <!--[if gt IE 8]><!-->
    <body class="no-js">
    <!--<![endif]-->
    <div id="page-wrapper" class="page">
        <main class="main" role="main" id="main">
            <div class="content-wrapper">

                <h1 class="visuallyhidden">Static Cutup Inventory</h1>

                <div class="intro-text intro-text--regular top-gap--small">
                    <h2>Monash University</h2>
                    <p>Templates for the <a href="http://www.monash.edu">Monash University</a> website.</p>
                <!-- /.intro-text --></div>

                <div class="row box-featured__group">

                    <!-- Home -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="home.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-home.png" alt="Home" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="home.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Home</a></h2>
                                <p class="box-featured__description">Bespoke template for home page.</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Home Alternate Navigation 1-->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="home-alternate-1.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-home-alternate-navigation.jpg" alt="Home" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="home-alternate-1.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Home Alternate Navigation</a></h2>
                                <p class="box-featured__description">Alternate navigation colours. Mega menu with Dark Background / Light text</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Home Alternate Navigation 2-->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="home-alternate-2.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-home-alternate-navigation-2.jpg" alt="Home" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="home-alternate-2.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Home Alternate Navigation</a></h2>
                                <p class="box-featured__description">Alternate navigation colours. Mega menu with Light Background / Dark text</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Landing -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="landing.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-landing.png" alt="Landing" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="landing.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Landing</a></h2>
                                <p class="box-featured__description">Template for landing pages.</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Content -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="content.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-content.png" alt="Content" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="content.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Content</a></h2>
                                <p class="box-featured__description">Typography, embeddable widgets and other inside page contents.</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>


                    <!-- Global Search -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="search-global.html" class="box-featured__thumb-link"><img src="{{file_dest}}/search-global.jpg" alt="Search" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="search-global.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Search global</a></h2>
                                <p class="box-featured__description">Monash Funnelback Rollout - global search. (<a href="https://jira.squiz.net/browse/MONFUNNEL-38">MONFUNNEL-38</a>)</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- MONFUNNEL-79: Content Page - Custom Funnelback Template -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="content-custom-search.html" class="box-featured__thumb-link"><img src="{{file_dest}}/content-custom-search.png" alt="Search" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="content-custom-search.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Custom Search</a></h2>
                                <p class="box-featured__description">Content Page with Custom Funnelback Template micro banner. (<a href="https://jira.squiz.net/browse/MONFUNNEL-79">MONFUNNEL-79</a>)</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Search -->
                    <!-- <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="search.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-search.png" alt="Search" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="search.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Search</a></h2>
                                <p class="box-featured__description">Search results page.</p>
                            </div>
                        </div>
                    </div> -->

                    <!-- News and Events -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="landing-news-events.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-news-events.png" alt="News and Events" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="landing-news-events.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">News and Events</a></h2>
                                <p class="box-featured__description">Landing page for news and events.</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Events Only Page -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="events-only.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-events-only.png" alt="Events Only Pages" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="events-only.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Template for Events Only page.</a></h2>
                                <p class="box-featured__description">Template for Events Only page.</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Events with Highlights -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="n-e-with-highlights.html" class="box-featured__thumb-link"><img src="{{file_dest}}/news-events-highlights.png" alt="News and Events" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="n-e-with-highlights.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Events with Highlights</a></h2>
                                <p class="box-featured__description">Container Template: News and Events with Highlights (#1725992)</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Feature Article Page -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="feature-article.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-feature-article.png" alt="Feature Article" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="feature-article.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Feature Article</a></h2>
                                <p class="box-featured__description">Template for feature article (news details) page.</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured --></div>
                    <!-- /.box-featured__wrapper --></div>
                    
                    <!-- Monash College: News Listing Change -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="monash-college-news.html" class="box-featured__thumb-link"><img src="{{file_dest}}/monash-proposal-news.png" alt="Feature Article" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="monash-college-news.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Monash College: News Listing</a></h2>
                                <p class="box-featured__description">Monash College Refresh - 16102016 - News Listing</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured --></div>
                    <!-- /.box-featured__wrapper --></div>

                     <!-- Notices Archives (Listing) Page -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="notices-archive-listing.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-notice-archives-listing.png" alt="Notices Archives (Listing) Pages" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="notices-archive-listing.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Notices Archives (Listing) Pages</a></h2>
                                <p class="box-featured__description">Template for notices archives (listing) pages.</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Asset Builder Page -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="notices-archive-listing.html" class="box-featured__thumb-link"><img src="{{file_dest}}/" alt="Notices Archives (Listing) Pages" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="asset-builder-pages.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Asset Builder Page</a></h2>
                                <p class="box-featured__description">Template for asset builder pages.</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured --></div>
                    <!-- /.box-featured__wrapper --></div>

                <!-- /.box-featured__group --></div>

                <div class="intro-text intro-text--regular top-gap--small">
                    <h2>Inventory</h2>
                    <p>Inventory of available layouts and components for developer reference.</p>
                <!-- /.intro-text --></div>

                <div class="row box-featured__group">

                    <!-- Layouts -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="layouts.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-layouts.png" alt="Layouts" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="layouts.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Layouts</a></h2>
                                <p class="box-featured__description">Possible layout configurations to be used.</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Content page without LHS -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="content-no-lhs.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-content-no-lhs.jpg" alt="Layouts" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="content-no-lhs.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Content Page w/o LHS menu</a></h2>
                                <p class="box-featured__description">Content page configuration without LHS menu</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Content page without RHS tile section -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="content-no-rhs.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-content-no-rhs.jpg" alt="Layouts" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="content-no-rhs.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Content Page w/o RHS</a></h2>
                                <p class="box-featured__description">Content page configuration without RHS tile section</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Content page without LHS & RHS -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="content-no-lhs-rhs.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-content-no-lhs-rhs.jpg" alt="Layouts" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="content-no-lhs-rhs.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Content Page w/o LHS &amp; RHS</a></h2>
                                <p class="box-featured__description">Content page configuration without LHS & RHS </p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Feature Boxes -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="inventory--feature-boxes.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-inventory--feature-boxes.png" alt="Landing" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="inventory--feature-boxes.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Feature Boxes</a></h2>
                                <p class="box-featured__description">Feature box variations.</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Listing Boxes -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="inventory--listing-boxes.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-home.png" alt="Landing" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="inventory--listing-boxes.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Listing Boxes</a></h2>
                                <p class="box-featured__description">Listing box variations.</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Banner -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="inventory--banner.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-banner.png" alt="Banner" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="inventory--banner.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Banners</a></h2>
                                <p class="box-featured__description">Banner variations.</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Intro Text -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="inventory--intro-text.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-intro-text.png" alt="Banner" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="inventory--intro-text.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Intro Text</a></h2>
                                <p class="box-featured__description">Intro Text variations.</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Images -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="inventory--images.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-images.png" alt="Banner" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="inventory--images.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Images</a></h2>
                                <p class="box-featured__description">Images variations.</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Buttons -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="inventory--buttons.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-buttons.png" alt="Banner" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="inventory--buttons.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Buttons</a></h2>
                                <p class="box-featured__description">Button variations</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Tables -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="inventory--tables.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-table.png" alt="Banner" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="inventory--tables.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Tables</a></h2>
                                <p class="box-featured__description">Table variations</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Form Elements -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="inventory--form.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-form.png" alt="Banner" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="inventory--form.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Form</a></h2>
                                <p class="box-featured__description">Form Elements</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Form Elements -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="inventory--tabs-accordions.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-tab-accordion.png" alt="Banner" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="inventory--tabs-accordions.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Tabs &amp; Accordions</a></h2>
                                <p class="box-featured__description">Tabs &amp; Accordions</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Social Media Feed Listings-->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="inventory--social-media-feeds.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-social-media-feeds.png" alt="Banner" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="inventory--social-media-feeds.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Social Media Feed Listing</a></h2>
                                <p class="box-featured__description">Social Media Feed Listing</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Feature Links-->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="inventory--feature-links.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-feature-links.png" alt="Banner" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="inventory--feature-links.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Feature links</a></h2>
                                <p class="box-featured__description">Feature links</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Listing Compact-->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="inventory--listing-compact.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-listing-compact.png" alt="Banner" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="inventory--listing-compact.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Listing compact</a></h2>
                                <p class="box-featured__description">Listing Compact</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Full navbar colour variations -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="inventory--full-navbar-colour-variations.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-full-navbar-colour-options.jpg" alt="Banner" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="inventory--full-navbar-colour-variations.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Full navbar colour variations</a></h2>
                                <p class="box-featured__description">Full navbar colour variations</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>
                    <!-- Feature numbers -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="inventory--feature-numbers.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-inventory--feature-numbers.jpg" alt="Banner" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="inventory--feature-numbers.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Feature Numbers</a></h2>
                                <p class="box-featured__description">Feature Numbers</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Monash College: Search Panel Content Selector -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="monash-college-search-panel.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-full-navbar-colour-options.jpg" alt="Banner" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="monash-college-search-panel.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Monash College - Search Panel</a></h2>
                                <p class="box-featured__description">Monash College Refresh - 16112016 - Search Panel Content Selector</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Monash College: Search Panel Content Selector -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="monash-college-combo-box.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-full-navbar-colour-options.jpg" alt="Banner" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="monash-college-combo-box.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Monash College - Combo Box</a></h2>
                                <p class="box-featured__description">Monash College Refresh - 16112016 - Combo Box Selector</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Monash College: Video Fallback -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="monash-college-combo-box.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-full-navbar-colour-options.jpg" alt="Banner" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="monash-college-video-fallback.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Monash College - Video Fallback</a></h2>
                                <p class="box-featured__description">Monash College Refresh - 29112016 - Video Fallback</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                    <!-- Video Gallery -->
                    <div class="col-xs-12 col-md-3 box-featured__wrapper">
                        <div class="box-featured">
                            <a href="inventory--video-gallery.html" class="box-featured__thumb-link"><img src="{{file_dest}}/index-inventory--feature-boxes.png" alt="Landing" class="box-featured__thumb-image" /></a>
                            <div class="box-featured__blurb">
                                <h2 class="box-featured__heading"><a href="inventory--video-gallery.html" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Video Gallery</a></h2>
                                <p class="box-featured__description">Video Gallery variations.</p>
                            <!-- /.box-featured__blurb --></div>
                        <!-- /.box-featured__locations --></div>
                    <!-- /.box-featured__wrapper --></div>

                <!-- /.box-featured__group --></div>



            <!-- /.content-wrapper --></div>
        </main><!-- /#main -->
    </div><!-- /#page-wrapper -->
<!-- import:content source:html/fragments/_foot.html -->
    </body>
</html>
