.policy-list {
  // border: 1px solid black;
  width: 100%;
  display: block;
  tbody {
    display: block;
  }
  tr {
    display: block;
    position: relative;
    width: 99.4%;
    left: 0.3%;
    right: 0.3%;
    margin-bottom: 1.8em;
    //box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease;

    min-height: 109px;
    &:hover,
    &:focus {
      -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
      -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
      -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
      -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    cursor: pointer;
    &:last-child,
    &:last-child td {
      border-bottom: none;
    }
    td,
    th {
      font-family: $font-family__condensed;
      font-size: 1.2em;
      font-weight: $font-bold;
      line-height: 1.2;
      letter-spacing: normal;
      color: $base-monash-blue;
      background: transparent;

      &:nth-child(1) {
        display: block;
        width: 100%;
        background-color: transparent;
        padding-left: 90px;
        border: 0;
        margin-top: 10px;
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        background-image: url('https://www.monash.edu/__data/assets/file/0005/2179499/copy.svg');
        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-size: 50px 60px;
        filter: brightness(0);
        position: absolute;
        padding: 0;
        width: 53px;
        height: 60px;
        top: 20px;
        left: 20px;
        border: 0;
        a {
          display: block;
          height: 100%;
          color: transparent;
        }
      }
      p {
        display: block !important;
        font-family: $font-family__normal;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #505050;
      }
    }
  }
  tr.policy-list-heading2 {
    background: none;
    box-shadow: none;
    min-height: unset;
    th:nth-child(1) {
      color: #000;
      font-size: 1.3125rem;
      padding: 0;
    }
    th:nth-child(3) {
      display: none;
    }
  }
  tr.policy-list-link {
    td:nth-child(1) {
      a {
        // display: block;
        // position: relative;
        // min-height: 95px;
        text-decoration: none;
        cursor: default;
        pointer-events: none;
      }
    }
    td:nth-child(3) {
      // display: none;
      background-image: url('https://www.monash.edu/__data/assets/file/0005/2179499/copy.svg');
      background-position: 0px 0px;
      background-repeat: no-repeat;
    }
  }
}
