<div class="timeline__slider-wrapper">
    <div class="timeline__slider js-timeline-slick js-timeline-popup-active" data-colours="green,fuchsia,purple,ruby" data-start-id="1264">
        <div class="timeline__slider-item" data-year="1976" data-id="1234">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1977" data-id="1235">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1978" data-id="1236">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1979" data-id="1237">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1980" data-id="1238">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1981" data-id="1239">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1982" data-id="1240">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1983" data-id="1241">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1984" data-id="1242">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1985" data-id="1243">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1986" data-id="1244">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1987" data-id="1245">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1988" data-id="1246">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1989" data-id="1247">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1990" data-id="1248">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1991" data-id="1249">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1992" data-id="1250">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1993" data-id="1251">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1994" data-id="1252">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1995" data-id="1253">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1996" data-id="1254">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1997" data-id="1255">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1998" data-id="1256">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="1999" data-id="1257">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="2000" data-id="1258">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="2001" data-id="1259">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="2002" data-id="1260">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="2003" data-id="1261">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="2004" data-id="1262">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="2005" data-id="1263">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="2006" data-id="1264">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="2007" data-id="1265">
            <!-- import:content source:modules/timeline-card/html/text-background50.html -->
        </div>
        <div class="timeline__slider-item" data-year="2007" data-id="1266">
            <!-- import:content source:modules/timeline-card/html/text-background50_2.html -->
        </div>
        <div class="timeline__slider-item" data-year="2007" data-id="1267">
            <!-- import:content source:modules/timeline-card/html/video-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="2008" data-id="1268">
            <!-- import:content source:modules/timeline-card/html/text-quote-background50.html -->
        </div>
        <div class="timeline__slider-item" data-year="2009" data-id="1269">
            <!-- import:content source:modules/timeline-card/html/quote-text-background50.html -->
        </div>
        <div class="timeline__slider-item" data-year="2010" data-id="1270">
            <!-- import:content source:modules/timeline-card/html/quote-text-background75.html -->
        </div>
        <div class="timeline__slider-item" data-year="2011" data-id="1271">
            <!-- import:content source:modules/timeline-card/html/video.html -->
        </div>
        <div class="timeline__slider-item" data-year="2012" data-id="1272">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="2013" data-id="1273">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="2014" data-id="1274">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="2015" data-id="1275">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="2016" data-id="1276">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="2017" data-id="1277">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
        <div class="timeline__slider-item" data-year="2018" data-id="1278">
            <!-- import:content source:modules/timeline-card/html/text-text.html -->
        </div>
    </div>
</div>
