.banner-inside {
    height:   pxToRem(90);
    overflow: hidden;

    &__img {
        display:     block;
        margin-left: -10.1rem;
        max-width:   none;
        width:       47.6rem;
    }
}
