<h1>
  Admission to Coursework Courses and Units of Study Procedures
</h1>

<div data-template="rtf-to-html">
  <h3 data-type="section-heading" class="section-heading 2H11">
    SCOPE
  </h3>
  <p class="MsoNormal">
    This procedure is applicable to fixed-term and continuing academic,
    professional and trades and services staff, herein collectively referred to
    as ‘you’ for the purpose of this procedure. It does not apply to casual or
    sessional staff or unpaid adjunct/honorary appointees.
  </p>
  <p class="MsoNormal" style="margin-top: 6pt; background: white;">
    In this procedure, the Enterprise Agreement means
    <span lang="EN-US">the&nbsp;</span
    ><a
      href="https://www.monash.edu/current-enterprise-agreements/academic-professional-2019"
      ><span lang="EN-US"
        >Monash University Enterprise Agreement (Academic and Professional
        Staff) 2019&nbsp;</span
      ></a
    ><span lang="EN-US">or the&nbsp;</span
    ><a
      href="https://www.monash.edu/current-enterprise-agreements/trades-services-bmt-2009"
      target="_blank"
      >Trades and Services staff (Building and Metal Trades staff) 2009</a
    ><span lang="EN-US"> or&nbsp;</span
    ><a
      href="https://www.monash.edu/current-enterprise-agreements/trades-services-crccm-2005"
      target="_blank"
      >Trades and Services staff (Catering and Retail, Cleaning and Caretaking,
      and Miscellaneous services staff) 2005</a
    >
    <span lang="EN-US">
      as applicable to you in accordance with your contract of employment. Links
      to relevant clauses are included in this procedure.
    </span>
  </p>
  <h3 data-type="section-heading" class="section-heading 2H11">
    PROCEDURE STATEMENT
  </h3>
  <p class="MsoNormal">
    Eligible staff of the University (‘us’, ‘our’ or ‘we’) accrue annual leave
    entitlements in accordance with the relevant enterprise agreement.&nbsp;This
    procedure specifically relates to annual leave entitlements and the
    management of the accrual and taking of such leave.
  </p>
  <h4
    data-type="section__subsection-heading"
    class="section__subsection-heading 4H21"
  >
    <span lang="EN-US"
      >1.<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US">Applying for annual leave</span>
  </h4>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >1.1<span style="font: 7pt 'times new roman';"> </span>
    </span>
    You should discuss your annual leave requirement with your supervisor who
    will consider the operational implications of you being absent during this
    time and how to ensure that your absence will have minimal impact on the
    operations of the work unit.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >1.2<span style="font: 7pt 'times new roman';"> </span>
    </span>
    If you are an academic staff member, you may elect to make an annual
    declaration that you will take your full annual leave entitlement for a
    calendar year during the course of that year, rather than applying for
    annual leave on each occasion that you take it. The terms and conditions of
    this arrangement are outlined in the section entitled&nbsp;Academic annual
    leave declaration&nbsp;below.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >1.3<span style="font: 7pt 'times new roman';"> </span>
    </span>
    If the proposed timing is agreed with your supervisor, you should then apply
    for annual leave online through<span class="apple-converted-space"
      ><span style="font-family: 'arial narrow', sans-serif; color: black;">
      </span> </span
    ><a href="https://eservices.monash.edu.au/irj/portal" target="new">ESS</a>.
    <span class="apple-converted-space"
      ><span style="font-family: 'arial narrow', sans-serif; color: black;">
      </span>
    </span>
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >1.4<span style="font: 7pt 'times new roman';"> </span>
    </span>
    The period of leave is to be recorded as commencing on the next working day
    after duties cease and as ending on the working day prior to your return to
    duty. The amount of leave taken is to be recorded as the sum total of the
    working days/fractions of days ordinarily worked by you, excluding any
    University holidays, during the leave period.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >1.5<span style="font: 7pt 'times new roman';"> </span>
    </span>
    All leave approvals are subject to verification by Monash HR that you have
    an entitlement to the claimed leave.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >1.6<span style="font: 7pt 'times new roman';"> </span>
    </span>
    If you work part-time, you must ensure that the specified annual leave days
    that you apply for are the same as those listed in your
    <a href="https://www.intranet.monash/hr/tools-and-resources/forms"
      >work schedule</a
    >. If a work schedule is not in place or has changed, an updated schedule
    should be submitted.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >1.7<span style="font: 7pt 'times new roman';"> </span>
    </span>
    The amendment or cancellation of an application for annual leave is to be
    processed through<span class="apple-converted-space"
      ><span style="font-family: 'arial narrow', sans-serif; color: black;">
      </span> </span
    ><a href="https://eservices.monash.edu.au/irj/portal" target="new">ESS</a>.
  </p>
  <h4
    data-type="section__subsection-heading"
    class="section__subsection-heading 4H21"
  >
    <span lang="EN-US"
      >2.<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US">Annual leave entitlements</span>
  </h4>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >2.1<span style="font: 7pt 'times new roman';"> </span>
    </span>
    Your annual leave entitlements are outlined in the relevant enterprise
    agreement. The applicable enterprise agreement clauses are:
  </p>
  <table
    class="MsoTableGrid"
    style="
      width: 17cm;
      margin-left: 28.1pt;
      border-collapse: collapse;
      border: none;
    "
    width="643"
    cellspacing="0"
    cellpadding="0"
    border="1"
  >
    <tbody>
      <tr>
        <td
          style="
            width: 155.95pt;
            border: solid #a6a6a6 1pt;
            background: #e3e5e5;
            padding: 0cm 5.4pt 0cm 5.4pt;
          "
          width="208"
          valign="top"
        >
          <p class="TColumn">
            Academic and Professional Staff
          </p>
        </td>
        <td
          colspan="2"
          style="
            width: 326pt;
            border: solid #a6a6a6 1pt;
            border-left: none;
            background: #e3e5e5;
            padding: 0cm 5.4pt 0cm 5.4pt;
          "
          width="435"
          valign="top"
        >
          <p class="TColumn">
            Trades and Services Staff
          </p>
        </td>
      </tr>
      <tr>
        <td
          style="
            width: 155.95pt;
            border: solid #a6a6a6 1pt;
            border-top: none;
            padding: 0cm 5.4pt 0cm 5.4pt;
          "
          width="208"
          valign="top"
        >
          <p class="TBody">
            <span lang="EN-US"
              >Monash University Enterprise Agreement (Academic and Professional
              Staff) 2019</span
            >
          </p>
        </td>
        <td
          style="
            width: 163pt;
            border-top: none;
            border-left: none;
            border-bottom: solid #a6a6a6 1pt;
            border-right: solid #a6a6a6 1pt;
            padding: 0cm 5.4pt 0cm 5.4pt;
          "
          width="217"
          valign="top"
        >
          <p class="TBody">
            <span lang="EN-US"
              >Monash University Enterprise Agreement (Trades and Services Staff
              - Building and Metal Trades Staff) 2009</span
            >
          </p>
        </td>
        <td
          style="
            width: 163pt;
            border-top: none;
            border-left: none;
            border-bottom: solid #a6a6a6 1pt;
            border-right: solid #a6a6a6 1pt;
            padding: 0cm 5.4pt 0cm 5.4pt;
          "
          width="217"
          valign="top"
        >
          <p class="TBody">
            <span lang="EN-US"
              >Monash University Enterprise Agreement (Trades and Services Staff
              - Catering and Retail, Cleaning and Caretaking, and Miscellaneous
              Services Staff) 2005</span
            >
          </p>
        </td>
      </tr>
      <tr>
        <td
          style="
            width: 155.95pt;
            border: solid #a6a6a6 1pt;
            border-top: none;
            padding: 0cm 5.4pt 0cm 5.4pt;
          "
          width="208"
          valign="top"
        >
          <p
            class="TBody"
            style="
              margin-top: 2pt;
              margin-right: 8.5pt;
              margin-bottom: 2pt;
              margin-left: 0cm;
            "
          >
            <span lang="EN-US"
              ><a
                href="https://www.monash.edu/current-enterprise-agreements/academic-professional-2019#15"
                target="new"
                >Clause 15 - Performance-Based Contracts (PBCs)</a
              ></span
            >
          </p>
          <p
            class="TBody"
            style="
              margin-top: 2pt;
              margin-right: 8.5pt;
              margin-bottom: 2pt;
              margin-left: 0cm;
            "
          >
            <span lang="EN-US"
              ><a
                href="https://www.monash.edu/current-enterprise-agreements/academic-professional-2019#16"
                target="new"
                >Clause 16 - Mode of Employment</a
              ></span
            >
          </p>
          <p
            class="TBody"
            style="
              margin-top: 2pt;
              margin-right: 8.5pt;
              margin-bottom: 2pt;
              margin-left: 0cm;
            "
          >
            <span lang="EN-US"
              ><a
                href="https://www.monash.edu/current-enterprise-agreements/academic-professional-2019#17"
                >Clause 17 – Seasonal Employment</a
              ></span
            >
          </p>
          <p
            class="TBody"
            style="
              margin-top: 2pt;
              margin-right: 8.5pt;
              margin-bottom: 2pt;
              margin-left: 0cm;
            "
          >
            <span lang="EN-US"> </span>
          </p>
          <p
            class="TBody"
            style="
              margin-top: 2pt;
              margin-right: 8.5pt;
              margin-bottom: 2pt;
              margin-left: 0cm;
            "
          >
            <span lang="EN-US"
              ><a
                href="https://www.monash.edu/current-enterprise-agreements/academic-professional-2019#18"
                >Clause 18 – Annualised Hours Employment</a
              ></span
            >
          </p>
          <p
            class="TBody"
            style="
              margin-top: 2pt;
              margin-right: 8.5pt;
              margin-bottom: 2pt;
              margin-left: 0cm;
            "
          >
            <span lang="EN-US"
              ><a
                href="https://www.monash.edu/current-enterprise-agreements/academic-professional-2019#19"
                >Clause 19 - Periodic Academic Employment</a
              ></span
            >
          </p>
          <p
            class="TBody"
            style="
              margin-top: 2pt;
              margin-right: 8.5pt;
              margin-bottom: 2pt;
              margin-left: 0cm;
            "
          >
            <span lang="EN-US"
              ><a
                href="https://www.monash.edu/current-enterprise-agreements/academic-professional-2019#40"
                target="new"
                >Clause 40 - Annual Leave</a
              ></span
            >
          </p>
          <p
            class="TBody"
            style="
              margin-top: 2pt;
              margin-right: 8.5pt;
              margin-bottom: 2pt;
              margin-left: 0cm;
            "
          >
            <span lang="EN-US"
              ><a
                href="https://www.monash.edu/current-enterprise-agreements/academic-professional-2019#101"
                target="new"
                >Schedule 4 - Part-Year, Seasonal and Annualised Hours Terms</a
              ></span
            >
          </p>
        </td>
        <td
          style="
            width: 163pt;
            border-top: none;
            border-left: none;
            border-bottom: solid #a6a6a6 1pt;
            border-right: solid #a6a6a6 1pt;
            padding: 0cm 5.4pt 0cm 5.4pt;
          "
          width="217"
          valign="top"
        >
          <p
            class="TBody"
            style="
              margin-top: 2pt;
              margin-right: 8.5pt;
              margin-bottom: 2pt;
              margin-left: 0cm;
            "
          >
            <span lang="EN-US"
              ><a
                href="https://www.monash.edu/current-enterprise-agreements/trades-services-bmt-2009/64"
                target="_parent"
                >Schedule 3 (a) - Leave Entitlements: Annual Leave</a
              ></span
            >
          </p>
          <p
            class="TBody"
            style="
              margin-top: 2pt;
              margin-right: 8.5pt;
              margin-bottom: 2pt;
              margin-left: 0cm;
            "
          >
            <span lang="EN-US"
              ><a
                href="https://www.monash.edu/current-enterprise-agreements/trades-services-bmt-2009/67"
                target="new"
                >Schedule 6, section 1- Application of Leave: Application of
                Annual Leave and Annual Leave Loading</a
              ></span
            >
          </p>
        </td>
        <td
          style="
            width: 163pt;
            border-top: none;
            border-left: none;
            border-bottom: solid #a6a6a6 1pt;
            border-right: solid #a6a6a6 1pt;
            padding: 0cm 5.4pt 0cm 5.4pt;
          "
          width="217"
          valign="top"
        >
          <p
            class="TBody"
            style="
              margin-top: 2pt;
              margin-right: 8.5pt;
              margin-bottom: 2pt;
              margin-left: 0cm;
            "
          >
            <span lang="EN-US"
              ><a
                href="https://www.monash.edu/current-enterprise-agreements/trades-services-crccm-2005#15"
                target="new"
                >Clause 15 - Part-time Employment</a
              ></span
            >
          </p>
          <p
            class="TBody"
            style="
              margin-top: 2pt;
              margin-right: 8.5pt;
              margin-bottom: 2pt;
              margin-left: 0cm;
            "
          >
            <span lang="EN-US"
              ><a
                href="https://www.monash.edu/current-enterprise-agreements/trades-services-crccm-2005#62"
                target="new"
                >Clause 62 - Leave Entitlements of Seasonal Staff</a
              ></span
            >
          </p>
          <p
            class="TBody"
            style="
              margin-top: 2pt;
              margin-right: 8.5pt;
              margin-bottom: 2pt;
              margin-left: 0cm;
            "
          >
            <span lang="EN-US"
              ><a
                href="https://www.monash.edu/current-enterprise-agreements/trades-services-crccm-2005#sc5.3"
                target="new"
                >Schedule 3(a) - Leave Entitlements: Annual Leave</a
              ></span
            >
          </p>
          <p
            class="TBody"
            style="
              margin-top: 2pt;
              margin-right: 8.5pt;
              margin-bottom: 2pt;
              margin-left: 0cm;
            "
          >
            <span lang="EN-US"
              ><a
                href="https://www.monash.edu/current-enterprise-agreements/trades-services-crccm-2005#sc5"
                target="new"
                >Schedule 5, section 1 - Application of Leave:&nbsp;Application
                of Annual Leave</a
              ></span
            >
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >2.2<span style="font: 7pt 'times new roman';"> </span>
    </span>
    Where you are employed on a part-time basis, you will receive annual leave
    entitlements on a pro-rata basis and will take leave at your fraction of
    employment as at the commencement of the leave period.
  </p>
  <h4
    data-type="section__subsection-heading"
    class="section__subsection-heading 4H21"
  >
    <span lang="EN-US"
      >3.<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US">Annual leave loading</span>
  </h4>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >3.1<span style="font: 7pt 'times new roman';"> </span>
    </span>
    Annual leave loadings are determined in accordance with the relevant
    enterprise agreement. The applicable provisions in each of the enterprise
    agreements are as follows:
  </p>
  <p class="7B1CxSpFirst">
    <span class="MsoHyperlink"
      ><span
        style="font-family: symbol; color: #5a5a5a; text-decoration: none;"
        lang="EN-US"
        >·<span style="font: 7pt 'times new roman';"> </span>
      </span> </span
    ><span lang="EN-US"
      ><a
        href="https://www.monash.edu/current-enterprise-agreements/academic-professional-2019#28"
        target="new"
        >Clause 28 of the Monash Enterprise Agreement (Academic and Professional
        Staff) 201</a
      ></span
    ><span class="MsoHyperlink"><span lang="EN-US">9</span> </span>
  </p>
  <p class="7B1CxSpMiddle">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      ><a
        href="https://www.monash.edu/current-enterprise-agreements/trades-services-bmt-2009/67"
        target="new"
        >Schedule 6, section 1 of the Monash University Enterprise Agreement
        (Building and Metal Trades Staff) 2009</a
      ></span
    >
  </p>
  <p class="7B1CxSpLast">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      ><a
        href="https://www.monash.edu/current-enterprise-agreements/trades-services-crccm-2005#sc5"
        target="new"
        >Schedule 5, section 2 of the Monash University Enterprise Agreement
        (Catering and Retail, Cleaning and Caretaking, and Miscellaneous
        Services Staff) 2005</a
      ></span
    >
  </p>
  <h4
    data-type="section__subsection-heading"
    class="section__subsection-heading 4H21"
  >
    <span lang="EN-US"
      >4.<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US">Annual leave management</span>
  </h4>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >4.1<span style="font: 7pt 'times new roman';"> </span>
    </span>
    Each year, 20 days annual leave (pro-rata) should be taken and all leave
    should be taken within the period of an appointment, where possible.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >4.2<span style="font: 7pt 'times new roman';"> </span>
    </span>
    Excess annual leave will be managed in accordance with the<span
      class="apple-converted-space"
      ><span style="font-family: 'arial narrow', sans-serif; color: black;">
      </span> </span
    ><a
      href="https://www.monash.edu/__data/assets/pdf_file/0003/800598/Excessive-annual-leave.pdf"
      target="new"
      >Excess Annual Leave Procedure</a
    >.
  </p>
  <h4
    data-type="section__subsection-heading"
    class="section__subsection-heading 4H21"
  >
    <span lang="EN-US"
      >5.<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US">Annual leave balance</span>
  </h4>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >5.1<span style="font: 7pt 'times new roman';"> </span>
    </span>
    Annual leave balances can be viewed through ESS. Leave can be projected for
    up to four months in the future to assist with planning of annual leave.
  </p>
  <h4
    data-type="section__subsection-heading"
    class="section__subsection-heading 4H21"
  >
    <span lang="EN-US"
      >6.<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US">Shift work - accrual of additional leave</span>
  </h4>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >6.1<span style="font: 7pt 'times new roman';"> </span>
    </span>
    In certain circumstances, shift workers may accrue additional annual leave.
    For further information, consult the following provisions in the relevant
    Enterprise Agreement:
  </p>
  <p class="7B1CxSpFirst">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      ><a
        href="https://www.monash.edu/current-enterprise-agreements/academic-professional-2019#40"
        target="new"
        >Clause 40.2 of the Monash University Enterprise Agreement (Academic and
        Professional Staff) 201</a
      ></span
    ><span class="MsoHyperlink"><span lang="EN-US">9</span> </span>
  </p>
  <p class="7B1CxSpLast">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      ><a
        href="https://www.monash.edu/current-enterprise-agreements/trades-services-crccm-2005#sc3"
        target="new"
        >Schedule 3(a) of the Monash University Enterprise Agreement (Trades and
        Services Staff - Catering and Retail, Cleaning and Caretaking, and
        Miscellaneous Services Staff) 2005</a
      ></span
    >
  </p>
  <h4
    data-type="section__subsection-heading"
    class="section__subsection-heading 4H21"
  >
    <span lang="EN-US"
      >7.<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >Exchange of annual leave loading for extra holidays</span
    >
  </h4>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >7.1<span style="font: 7pt 'times new roman';"> </span>
    </span>
    You may elect annually to exchange your annual leave loading for an extra
    3.5 days of annual leave. The applicable clauses in the Enterprise
    Agreements are:
  </p>
  <p class="7B1CxSpFirst">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      ><a
        href="https://www.monash.edu/current-enterprise-agreements/academic-professional-2019#35"
        >Clause 35 of the Monash University Enterprise Agreement (Academic and
        Professional Staff) 201</a
      ></span
    ><span class="MsoHyperlink"><span lang="EN-US">9</span> </span>
  </p>
  <p class="7B1CxSpMiddle">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      ><a
        href="https://www.monash.edu/current-enterprise-agreements/trades-services-bmt-2009/67"
        target="new"
        >Schedule 6, section 1 of the Monash University Enterprise Agreement
        (Trades and Services Staff - Building and Metal Trades Staff) 2009</a
      ></span
    >
  </p>
  <p class="7B1CxSpLast">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      ><a
        href="https://www.monash.edu/current-enterprise-agreements/trades-services-crccm-2005#sc5.2"
        target="new"
        >Schedule 5, section 2 of the Monash University Enterprise Agreement
        (Trades and Services Staff - Catering and Retail, Cleaning and
        Caretaking, and Miscellaneous Services Staff) 2005</a
      ></span
    >
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >7.2<span style="font: 7pt 'times new roman';"> </span>
    </span>
    You may apply in January each year to exchange your annual leave loading for
    annual leave via the
    <a href="http://www.adm.monash.edu.au/human-resources/forms/" target="new"
      >Application for exchange of annual leave loading for extra leave form
      [online]</a
    >.
  </p>
  <p class="MsoNormal" style="margin-bottom: 0cm;">
    <span style="font-size: 14pt; color: #006cab;" lang="EN-US"> </span>
  </p>
  <h4
    data-type="section__subsection-heading"
    class="section__subsection-heading 4H21"
  >
    <span lang="EN-US"
      >8.<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US">University holidays whilst on annual leave</span>
  </h4>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >8.1<span style="font: 7pt 'times new roman';"> </span>
    </span>
    No deduction will be made from your annual leave balance for University
    holidays that fall during a period of annual leave. The applicable clauses
    in the Enterprise Agreements are:
  </p>
  <p class="7B1CxSpFirst">
    <span class="MsoHyperlink"
      ><span
        style="font-family: symbol; color: #5a5a5a; text-decoration: none;"
        lang="EN-US"
        >·<span style="font: 7pt 'times new roman';"> </span>
      </span> </span
    ><span lang="EN-US"
      ><a
        href="https://www.monash.edu/current-enterprise-agreements/academic-professional-2019#45"
        target="new"
        >Clause 45.5 of the Monash University Enterprise Agreement (Academic and
        Professional Staff) 201</a
      ></span
    ><span class="MsoHyperlink"><span lang="EN-US">9</span> </span>
  </p>
  <p class="7B1CxSpMiddle">
    <span class="MsoHyperlink"
      ><span
        style="font-family: symbol; color: #5a5a5a; text-decoration: none;"
        lang="EN-US"
        >·<span style="font: 7pt 'times new roman';"> </span>
      </span> </span
    ><span lang="EN-US"
      ><a
        href="https://www.monash.edu/current-enterprise-agreements/trades-services-bmt-2009/50"
        target="new"
        >Clause 50.2 of the Monash University Enterprise Agreement (Trades and
        Services Staff - Building and Metal Trades Staff) 2009</a
      ></span
    >
  </p>
  <p class="7B1CxSpLast">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      ><a
        href="https://www.monash.edu/current-enterprise-agreements/trades-services-crccm-2005#41"
        target="new"
        >Clause 41.2 of the Monash University Enterprise Agreement (Trades and
        Services Staff - Catering and Retail, Cleaning and Caretaking, and
        Miscellaneous Services Staff) 2005</a
      ></span
    >
  </p>
  <h4
    data-type="section__subsection-heading"
    class="section__subsection-heading 4H21"
  >
    <span lang="EN-US"
      >9.<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US">Annual leave declaration scheme </span>
  </h4>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >9.1<span style="font: 7pt 'times new roman';"> </span>
    </span>
    In December each year, eligible academic staff may elect to participate in
    the annual leave declaration scheme wherein you declare that you will take
    your full annual leave entitlement in the following calendar year (the
    “declaration period”) rather than applying for annual leave on each occasion
    that you take it.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >9.2<span style="font: 7pt 'times new roman';"> </span>
    </span>
    You must meet the following eligibility criteria in order to participate in
    this scheme:
  </p>
  <p class="7B1CxSpFirst">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US">You are an academic staff member.</span>
  </p>
  <p class="7B1CxSpMiddle">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >Your annual leave balance must not be in excess of 30 days (pro-rata) as
      at 31 December of the year immediately prior to the commencement of the
      declaration period.</span
    >
  </p>
  <p class="7B1CxSpMiddle">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >You should have accrued annual leave credits or an annual leave balance
      of zero as at 31 December of the year immediately prior to the
      commencement of the declaration period (i.e. not in the negative), subject
      to the above excess annual leave criterion.
    </span>
  </p>
  <p class="7B1CxSpMiddle">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >You should not be the subject of performance management or disciplinary
      action.</span
    >
  </p>
  <p class="7B1CxSpLast">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >If you are a fixed-term staff member, you must have an employment
      contract for the duration of the declaration period.</span
    >
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >9.3<span style="font: 7pt 'times new roman';"> </span>
    </span>
    You must agree to the conditions below, effective from 1 January of the
    declaration period:
  </p>
  <p class="7B1CxSpFirst">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >At the completion of the declaration period, you will be taken to have
      exhausted your full annual leave entitlement for that
      year.&nbsp;&nbsp;Your full annual leave entitlement for that year will be
      deducted accordingly in two instalments by Monash HR, in June and
      December.
    </span>
  </p>
  <p class="7B1CxSpLast">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >For any annual leave taken under this scheme you must:</span
    >
  </p>
  <p class="8B2CxSpFirst">
    <span lang="EN-GB"
      >−<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-GB"
      >Discuss your annual leave requirements with your supervisor who will
      consider the operational implications of you being absent during this time
      and how to ensure that your absence will have minimal impact on the
      operations of the work unit;</span
    >
  </p>
  <p class="8B2CxSpMiddle">
    <span lang="EN-GB"
      >−<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-GB"
      >Your supervisor must agree to the proposed timing prior to you taking
      leave;</span
    >
  </p>
  <p class="8B2CxSpMiddle">
    <span lang="EN-GB"
      >−<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-GB">Retain records of your annual leave dates; </span>
  </p>
  <p class="8B2CxSpMiddle">
    <span lang="EN-GB"
      >−<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-GB"
      >Be able to produce the records upon the request of any authorised
      University representative and;</span
    >
  </p>
  <p class="8B2CxSpLast">
    <span lang="EN-GB"
      >−<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-GB"
      >Where your dates differ to the bi-annual deductions and are agreed with
      your supervisor, you must<b> </b>make a record of your dates of annual
      leave and provide this information to Monash HR for recording.</span
    >
  </p>
  <p class="7B1CxSpFirst">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >Any annual leave of 30 days or less (or pro rata thereof for part-time
      staff) that was accrued up to 31 December of the year immediately prior
      the commencement of the declaration period will remain as part of your
      annual leave balance. You may either apply to use this annual leave
      through ESS or the entitlement will be paid out to you at
      termination.</span
    >
  </p>
  <p class="7B1CxSpMiddle">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >If your employment is terminated during the declaration period, you will
      inform Monash HR of your absences up to the date of termination. Monash HR
      will then reconcile your leave entitlements accordingly.</span
    >
  </p>
  <p class="7B1CxSpMiddle">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >If you take a period of parental leave during the year, you will not be
      permitted to top-up your 60% parental leave entitlement with any annual
      leave that is subject to this arrangement (as otherwise allowed in
      the</span
    ><span class="apple-converted-space"
      ><span
        style="font-family: 'arial narrow', sans-serif; color: black;"
        lang="EN-US"
      >
      </span> </span
    ><span lang="EN-US"
      ><a
        href="https://www.monash.edu/__data/assets/pdf_file/0005/800609/Prenatal-and-parental-leave.pdf"
        >Pre-natal and parental leave procedure</a
      >).</span
    >
  </p>
  <p class="7B1CxSpMiddle">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >You will not be entitled to apply for advanced payment of annual leave.
    </span>
  </p>
  <p class="7B1CxSpLast">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >If you are transferred to a new leave and/or performance supervisor
      during the year, you must inform your new supervisors of the arrangement
      and provide records of annual leave already taken during the declaration
      period.</span
    >
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >9.4<span style="font: 7pt 'times new roman';"> </span>
    </span>
    If you are
    <b>
      not
    </b>
    participating in this scheme, you apply for annual leave through ESS as
    outlined above in ‘Applying for annual leave’.
  </p>
  <p class="MsoNormal" style="margin-bottom: 0cm;">
    <span style="font-size: 14pt; color: #006cab;" lang="EN-US"> </span>
  </p>
  <h4
    data-type="section__subsection-heading"
    class="section__subsection-heading 4H21"
  >
    <span lang="EN-US"
      >10.<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >Annual leave cash out (academic and professional staff)</span
    >
  </h4>
  <p class="5H31">
    <strong
      ><span
        style="font-family: 'arial narrow', sans-serif; font-weight: normal;"
        >Eligibility</span
      ></strong
    >
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >10.1<span style="font: 7pt 'times new roman';"> </span>
    </span>
    If you are employed under the
    <a
      href="https://www.monash.edu/current-enterprise-agreements/academic-professional-2019"
      >Monash University Enterprise Agreement (Academic and Professional Staff)
      201</a
    ><span class="MsoHyperlink">9</span> (including staff members on a
    Performance-Based Contract (PBC)), you are eligible to apply to cash out
    annual leave if you are currently in fixed-term or continuing employment and
    meet either of the following criteria:
  </p>
  <p class="7B1CxSpFirst">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >you have not previously had an application to cash out annual leave
      granted; or</span
    >
  </p>
  <p class="7B1CxSpLast">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >you will have excess annual leave (EAL) as at 31 December as a
      consequence of a fraction of employment reduction subsequent to 30
      November in the same year and you make application to cash out by 7
      January in the following year.</span
    >
  </p>
  <p class="5H31">
    <strong
      ><span
        style="font-family: 'arial narrow', sans-serif; font-weight: normal;"
        >Application process</span
      ></strong
    >
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >10.2<span style="font: 7pt 'times new roman';"> </span>
    </span>
    If you are applying for annual leave cash out, you must apply in writing to
    <a href="mailto:hr@monash.edu">hr@monash.edu</a> or to Monash HR, Monash
    University VIC 3800 and the Chief Human Resources Officer will consider your
    application.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >10.3<span style="font: 7pt 'times new roman';"> </span>
    </span>
    Applications submitted by PBC staff will also be referred to the Office of
    the Chief Operating Officer and Senior Vice-President prior to
    determination.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >10.4<span style="font: 7pt 'times new roman';"> </span>
    </span>
    You are encouraged to seek financial advice before making an application to
    cash out annual leave.
  </p>
  <p class="5H31">
    <strong
      ><span
        style="font-family: 'arial narrow', sans-serif; font-weight: normal;"
        >Consideration of applications</span
      ></strong
    >
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >10.5<span style="font: 7pt 'times new roman';"> </span>
    </span>
    In the interests of occupational health and wellbeing, we encourage you to
    take annual leave in the year in which it accrues. However, consideration
    will be given to applications to cash out annual leave for the genuine
    management of excessive annual leave balances or in extenuating
    circumstances, such as situations of financial hardship.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >10.6<span style="font: 7pt 'times new roman';"> </span>
    </span>
    Applications will not be granted where:
  </p>
  <p class="7B1CxSpFirst">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >less than a week's annual leave (or equivalent thereof for part-time
      staff) is to be cashed out;</span
    >
  </p>
  <p class="7B1CxSpMiddle">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >your annual leave balance will be reduced to less than four weeks (or
      equivalent thereof for part-time staff) by the cash out of annual leave;
      and/or</span
    >
  </p>
  <p class="7B1CxSpLast">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >the cash out is for past rostered and deemed annual leave.</span
    >
  </p>
  <p class="5H31">
    <strong
      ><span
        style="font-family: 'arial narrow', sans-serif; font-weight: normal;"
        >Notification process</span
      ></strong
    >
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >10.7<span style="font: 7pt 'times new roman';"> </span>
    </span>
    Monash HR will notify you of the outcome your application.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >10.8<span style="font: 7pt 'times new roman';"> </span>
    </span>
    No notification of the outcome to PBC staff will proceed until confirmed by
    the office of the Chief Operating Officer and Senior Vice-President.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >10.9<span style="font: 7pt 'times new roman';"> </span>
    </span>
    If the application is granted, Monash HR will:
  </p>
  <p class="7B1CxSpFirst">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >arrange completion and signature of the relevant prescribed Annual Leave
      Cash-Out Agreement (the "Agreement") pro forma;</span
    >
  </p>
  <p class="7B1CxSpMiddle">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >proceed with the cash out of annual leave in accordance with the
      Agreement when the Agreement is completed and signed;</span
    >
  </p>
  <p class="7B1CxSpMiddle">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >retain the original of the completed and signed Agreement for our
      records; and</span
    >
  </p>
  <p class="7B1CxSpLast">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >provide a copy of the completed and signed Agreement to you.</span
    >
  </p>
  <p class="5H31">
    <strong
      ><span
        style="font-family: 'arial narrow', sans-serif; font-weight: normal;"
        >Cash out of annual leave</span
      ></strong
    >
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >10.10<span style="font: 7pt 'times new roman';"> </span>
    </span>
    The cash out of annual leave will be processed by Monash HR. It will not be
    superannuable and does not count as service.
  </p>
  <h4
    data-type="section__subsection-heading"
    class="section__subsection-heading 4H21"
  >
    <span lang="EN-US"
      >11.<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >COVID-19 direction to take annual leave – academic and professional
      staff</span
    >
  </h4>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >11.1<span style="font: 7pt 'times new roman';"> </span>
    </span>
    Your Dean/Executive Director will confer with your HR Business Partner where
    you are an academic or professional staff member and you are identified as
    under-utilised due to an insufficiency of work because of the impact of the
    COVID-19 pandemic.&nbsp;&nbsp;Your HR Business Partner will arrange for
    Monash HR to attempt to find other work for you to perform to ensure you are
    fully employed.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >11.2<span style="font: 7pt 'times new roman';"> </span>
    </span>
    Where the attempt to find other work is unsuccessful, the Chief Human
    Resources Officer will be briefed by Monash HR to decide whether you should
    be issued a direction to take annual leave.
  </p>
  <p class="MsoNormal" style="margin-bottom: 0cm;"></p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >11.3<span style="font: 7pt 'times new roman';"> </span>
    </span>
    Where the Chief Human Resources Officer decides that a direction to take
    annual leave is reasonable and should be issued, a letter to you will be
    prepared.&nbsp;&nbsp;The period of annual leave directed to be taken will:
  </p>
  <p class="7B1CxSpFirst">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >not be at a time when you would otherwise have grant applications or
      other unavoidable work obligations to undertake;</span
    >
  </p>
  <p class="7B1CxSpMiddle">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >be capable of being completed by you within two months from the date of
      the letter without the necessity for either an increase in your fraction
      of employment or commencement of the period of annual leave within two
      weeks from the date of the letter; and</span
    >
  </p>
  <p class="7B1CxSpLast">
    <span style="font-family: symbol;" lang="EN-US"
      >·<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US"
      >allow you to retain a minimum balance of 10 days of accrued annual leave
      (pro rata if you are a part-time staff member) on completion of the period
      of annual leave directed to be taken.
    </span>
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >11.4<span style="font: 7pt 'times new roman';"> </span>
    </span>
    Your HR Business Partner and your supervisor will meet with you to deliver
    the letter directing you to take annual leave. The University’s workload and
    performance expectations of you for the ensuing two-month period will take
    into account the annual leave that you have been directed to take and will
    be adjusted accordingly.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >11.5<span style="font: 7pt 'times new roman';"> </span>
    </span>
    After you have received the letter directing you to take annual leave, you
    and your supervisor will then enter into discussions to agree on the dates
    for the annual leave to be taken in accordance with the direction
    issued.&nbsp;&nbsp;The annual leave directed to be taken is required to be
    taken within two months of the date of the letter delivered to you.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >11.6<span style="font: 7pt 'times new roman';"> </span>
    </span>
    When the dates of the annual leave to be taken in accordance with the
    direction issued are agreed between you and your supervisor, those dates
    will be submitted online by you through ESS in accordance with paragraph 1.3
    of this Procedure.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >11.7<span style="font: 7pt 'times new roman';"> </span>
    </span>
    The Chief Human Resources Officer may also decide that it is reasonable that
    you should be issued a direction to take annual leave where you are not
    under-utilised due to an insufficiency of work because of the impact of the
    COVID-19 pandemic but you do have excess annual leave.&nbsp;&nbsp;In that
    case, paragraphs 11.3-11.6 above will apply.
  </p>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >11.8<span style="font: 7pt 'times new roman';"> </span>
    </span>
    Paragraphs 11.1-11.5 and 11.7 of this Procedure will only remain operative
    up to 30 June 2021.
  </p>
  <h4
    data-type="section__subsection-heading"
    class="section__subsection-heading 4H21"
  >
    <span lang="EN-US"
      >12.<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US">Annual leave on resignation and termination</span>
  </h4>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >12.1<span style="font: 7pt 'times new roman';"> </span>
    </span>
    For information on the payment of accrued annual leave entitlements on
    resignation from the University, refer to the<span
      class="apple-converted-space"
      ><span style="font-family: 'arial narrow', sans-serif; color: black;">
      </span> </span
    ><a
      href="https://www.monash.edu/__data/assets/pdf_file/0010/800749/Resignation-and-Exiting-the-University.pdf"
      target="new"
      >Resignation and Exiting the University Procedure</a
    >.
  </p>
  <h4
    data-type="section__subsection-heading"
    class="section__subsection-heading 4H21"
  >
    <span lang="EN-US"
      >13.<span style="font: 7pt 'times new roman';"> </span> </span
    ><span lang="EN-US">Breach of procedure</span>
  </h4>
  <p class="6NoPara">
    <span style="font-size: 10.5pt;"
      >13.1<span style="font: 7pt 'times new roman';"> </span>
    </span>
    We treat any breach of our policies or procedures seriously. We encourage
    reporting of concerns about non-compliance and manage compliance in
    accordance with the applicable Enterprise Agreement or contract terms.
  </p>
  <p class="2H11">
    DEFINITIONS
  </p>
  <table
    class="MsoTableGrid"
    style="
      width: 510.25pt;
      margin-left: 0.05pt;
      border-collapse: collapse;
      border: none;
    "
    width="680"
    cellspacing="0"
    cellpadding="0"
    border="1"
  >
    <tbody>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            ESS
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border: solid #bfbfbf 1pt;
            border-left: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
        >
          <p class="TBody">
            <span lang="EN-US"
              >An online Employee Self Service system which provides employees
              with easy and private access to personal and current employment
              information held by the University.</span
            >
          </p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            Excess annual leave
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
        >
          <p class="TBody">
            <span lang="EN-US"
              >Annual leave which is accrued beyond the maximum permissible
              limit of 30 days (or pro rata thereof for part-time staff).</span
            >
          </p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            Head of Unit
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
        >
          <p class="TBody">
            <span lang="EN-US"
              >Head of an academic or organisational work unit, for example Head
              of School, Head of Department or where applicable, a person acting
              as their nominee.</span
            >
          </p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            <strong
              ><span
                style="
                  font-family: 'arial narrow', sans-serif;
                  font-weight: normal;
                "
                >Performance-Based Contracts</span
              ></strong
            >
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
        >
          <p class="TBody">
            <span lang="EN-US"
              >Contracts of employment entered into pursuant to clause 15 of the
              Monash University Enterprise Agreement (Academic and Professional
              Staff) 2019.</span
            >
          </p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            <strong
              ><span
                style="
                  font-family: 'arial narrow', sans-serif;
                  font-weight: normal;
                "
                >Enterprise Agreement</span
              ></strong
            >
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
          valign="top"
        >
          <p class="TBody">
            <span lang="EN-US">The Enterprise Agreement means </span
            ><span lang="EN-US">the&nbsp;</span
            ><span lang="EN-US"
              ><a
                href="https://www.monash.edu/current-enterprise-agreements/academic-professional-2019"
                >Monash University Enterprise Agreement (Academic and
                Professional Staff) 2019</a
              ></span
            ><span lang="EN-US"> or the&nbsp;</span>
            <span lang="EN-US"
              ><a
                href="https://www.monash.edu/current-enterprise-agreements/trades-services-bmt-2009"
                target="_blank"
                >Trades and Services staff (Building and Metal Trades staff)
                2009</a
              > </span
            ><span lang="EN-US"> or&nbsp;</span
            ><span lang="EN-US"
              ><a
                href="https://www.monash.edu/current-enterprise-agreements/trades-services-crccm-2005"
                target="_blank"
                >Trades and Services staff (Catering and Retail, Cleaning and
                Caretaking, and Miscellaneous services staff) 2005</a
              ></span
            ><span lang="EN-US">
              as applicable to the staff member in accordance with their
              contract of employment.</span
            >
          </p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            Staff
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
        >
          <p class="TBody">
            <span lang="EN-US"
              >For the purposes of this procedure, means a person employed by
              the University on a continuing or fixed-term basis.</span
            >
          </p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            Supervisor
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
        >
          <p class="TBody">
            <span lang="EN-US"
              >The person who is responsible for the day-to-day supervision of
              the employee.</span
            >
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="MsoNormal"></p>
  <p class="MsoNormal" style="margin-bottom: 0cm;">
    <span style="font-size: 14pt; color: #006cab; text-transform: uppercase;">
    </span>
  </p>
  <p class="2H11">
    GOVERNANCE
  </p>
  <table
    class="MsoTableGrid"
    style="
      width: 510.25pt;
      margin-left: 0.05pt;
      border-collapse: collapse;
      border: none;
    "
    width="680"
    cellspacing="0"
    cellpadding="0"
    border="1"
  >
    <tbody>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            Parent policy
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border: solid #bfbfbf 1pt;
            border-left: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
          valign="top"
        >
          <p class="TBody">
            <span lang="EN-US"
              ><a
                href="https://www.monash.edu/__data/assets/pdf_file/0005/1294871/Leave-And-Wellbeing.pdf"
                >Leave and wellbeing</a
              ></span
            >
          </p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            Supporting schedules
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
          valign="top"
        >
          <p class="TBody"><span lang="EN-US"> </span></p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            Associated procedures
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
          valign="top"
        >
          <p class="TdotCxSpFirst">
            <span class="MsoHyperlink"
              ><span
                style="
                  font-family: symbol;
                  color: #5a5a5a;
                  text-decoration: none;
                "
                lang="EN-US"
                >·<span style="font: 7pt 'times new roman';"> </span>
              </span> </span
            ><span lang="EN-US"
              ><a
                href="https://www.monash.edu/__data/assets/pdf_file/0003/800598/Excessive-annual-leave.pdf"
                target="_blank"
                >Excess Annual Leave</a
              ></span
            >
          </p>
          <p class="TdotCxSpMiddle">
            <span class="MsoHyperlink"
              ><span
                style="
                  font-family: symbol;
                  color: #5a5a5a;
                  text-decoration: none;
                "
                >·<span style="font: 7pt 'times new roman';"> </span>
              </span> </span
            ><span lang="EN-US"
              ><a
                href="https://www.monash.edu/__data/assets/pdf_file/0010/800749/Resignation-and-Exiting-the-University.pdf"
                target="new"
                >Resignation and Exiting the University
              </a></span
            >
          </p>
          <p class="TdotCxSpMiddle">
            <span class="MsoHyperlink"
              ><span
                style="
                  font-family: symbol;
                  color: #5a5a5a;
                  text-decoration: none;
                "
                >·<span style="font: 7pt 'times new roman';"> </span>
              </span> </span
            ><span lang="EN-US"
              ><a
                href="https://www.monash.edu/__data/assets/pdf_file/0008/800648/All-Leave.pdf"
                target="new"
                >Types of Leave (All)
              </a></span
            >
          </p>
          <p class="TdotCxSpMiddle" style="text-indent: 0cm;">
            <span class="MsoHyperlink"
              ><span style="color: #5a5a5a; text-decoration: none;"> </span>
            </span>
          </p>
          <p class="TdotCxSpMiddle" style="margin-left: 0cm; text-indent: 0cm;">
            <em
              ><span
                style="font-family: 'arial narrow', sans-serif;"
                lang="EN-US"
                >Procedure forms</span
              ></em
            >
          </p>
          <p class="TdotCxSpMiddle">
            <span class="MsoHyperlink"
              ><span
                style="
                  font-family: symbol;
                  color: #5a5a5a;
                  text-decoration: none;
                "
                lang="EN-US"
                >·<span style="font: 7pt 'times new roman';"> </span>
              </span> </span
            ><span lang="EN-US"
              ><a href="https://eservices.monash.edu.au/irj/portal" target="new"
                >ESS</a
              ></span
            >
          </p>
          <p class="TdotCxSpMiddle">
            <span style="font-family: symbol;" lang="EN-US"
              >·<span style="font: 7pt 'times new roman';"> </span> </span
            ><span lang="EN-US"
              ><a
                href="https://www.monash.edu/eforms-resources/frevvo-forms/hr/leave-request"
                >Application for Leave and Special Leave [Online]</a
              ></span
            >
          </p>
          <p class="TdotCxSpLast">
            <span style="font-family: symbol;" lang="EN-US"
              >·<span style="font: 7pt 'times new roman';"> </span> </span
            ><span lang="EN-US"
              ><a
                href="https://forms.apps.monash.edu/frevvo/web/tn/monash.edu/u/614aac3c-8ab8-4309-9283-375663fa97d8/app/_snIdwJ74Eea9q6CNQXsWJw/flowtype/_FFJpgLtNEea4TvBvKuVEZQ?_method=post&amp;embed=true"
                target="new"
                >Application for exchange of annual leave loading for extra
                leave form</a
              ></span
            >
          </p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            Legislation mandating compliance
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
          valign="top"
        >
          <p class="Tdot"><span lang="EN-US"> </span></p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            Category
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
          valign="top"
        >
          <p class="TBody"><span lang="EN-US">Human Resources</span></p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            Approval
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
          valign="top"
        >
          <p class="TBody">
            <span lang="EN-US"
              >Chief Human Resources Officer as delegate of the Chief Operating
              Officer – 12 February 2020</span
            >
          </p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            Endorsement
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
          valign="top"
        >
          <p class="TBody">
            <span lang="EN-US"
              >Director, Workplace Relations – 12 February 2020</span
            >
          </p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            Procedure owner
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
          valign="top"
        >
          <p class="TBody">
            <span lang="EN-US">Director, Workplace Relations</span>
          </p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            Date effective
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
          valign="top"
        >
          <p class="TBody"><span lang="EN-US">12 February 2020</span></p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            Review date
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
          valign="top"
        >
          <p class="TBody"><span lang="EN-US">16 November 2018</span></p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            Version
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
          valign="top"
        >
          <p class="TBody">
            <span lang="EN-US">9.2 (amendments approved 13 July 2020)</span>
          </p>
        </td>
      </tr>
      <tr style="height: 19.85pt;">
        <td
          style="
            width: 113.35pt;
            border: solid #bfbfbf 1pt;
            border-top: none;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="151"
          valign="top"
        >
          <p class="TColumn">
            Content enquiries
          </p>
        </td>
        <td
          style="
            width: 14cm;
            border-top: none;
            border-left: none;
            border-bottom: solid #bfbfbf 1pt;
            border-right: solid #bfbfbf 1pt;
            padding: 1.4pt 5.4pt 1.4pt 5.4pt;
            height: 19.85pt;
          "
          width="529"
          valign="top"
        >
          <p class="TBody">
            <span lang="EN-US"
              ><a href="https://connect.monash.edu/askmonash/s/">ask.monash</a>
              or phone Monash HR on (03) 990 20400</span
            >
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
