<h1>Assessment and Academic Integrity Policy</h1>

<div data-template="rtf-to-html">
  <div class="section">
    <div class="section__intro">
      <h3 class="section-heading" data-type="section-heading" id="section-0">
        SCOPE
      </h3>
      <p>This policy applies to:</p>
      <ul>
        <li>all staff;</li>
        <li>all students;</li>
        <li>all coursework courses and units; and</li>
        <li>
          all teaching locations with the exception of the former Monash South
          Africa campus.
        </li>
      </ul>
      <p>
        Coursework students at the former Monash South Africa campus should
        refer to the <a name="_Hlk12877668"></a
        ><a
          href="https://www.monash.edu/__data/assets/pdf_file/0004/801697/Assessments-in-Coursework-Units-Policy.pdf"
          >Assessment in Coursework Units Policy and Procedures</a
        >
        and the
        <a
          href="https://www.monash.edu/legal/legislation/current-statute-regulations-and-related-resolutions"
          >Monash University (Academic Board) Regulations</a
        >.
      </p>
    </div>
  </div>
  <div class="section">
    <div class="section__intro">
      <h3 class="section-heading" data-type="section-heading" id="section-1">
        POLICY STATEMENT
      </h3>
      <p>
        This policy describes the principles of assessment at Monash University
        to maintain academic standards of student achievement, support students
        in their academic development and uphold standards of academic
        integrity.
      </p>
      <p>
        This policy, together with the
        <a
          href="https://www.monash.edu/__data/assets/pdf_file/0011/786971/Coursework-Course-and-Unit-Accreditation-Policy.pdf"
          >Courses and Units Policy</a
        >
        and the
        <a
          href="https://www.monash.edu/__data/assets/pdf_file/0016/2001661/Learning-and-Teaching-Policy.pdf"
          >Learning and Teaching Policy</a
        >, sets out the framework for education at Monash University.
      </p>
    </div>
  </div>
  <div class="section">
    <div class="section__intro">
      <h3 data-type="section-heading" class="section-heading" id="section-2">
        1. Principles for assessment at Monash
      </h3>
      <p>
        1.1 Assessment draws together unit content, learning activities and
        students’ attainment of the learning outcomes by setting standards for
        academic achievement. Assessment helps students and academic staff
        monitor and improve learning.
      </p>
      <p>
        1.2 Monash University is committed to engaging students in assessment
        that:
      </p>
      <ul>
        <li>is equitable;</li>
        <li>is aligned and integrated;</li>
        <li>is educative and purposeful;</li>
        <li>is challenging and authentic;</li>
        <li>is criterion referenced;</li>
        <li>is quality assured; and</li>
        <li>upholds the standards of academic integrity.</li>
      </ul>
    </div>
    <div class="section__subsection">
      <h4
        class="section__subsection-heading"
        data-type="section__subsection-heading"
        id="subsection-1"
      >
        Equitable assessment
      </h4>
      <p>
        1.3 Assessment is designed to be equitable, inclusive and meet the needs
        of a diverse student population. No individuals or groups of students
        will be unfairly advantaged or disadvantaged. Reasonable and
        evidence-based adjustments can be made to ensure eligible students have
        the opportunity to succeed.
      </p>
    </div>
    <div class="section__subsection">
      <h4
        class="section__subsection-heading"
        data-type="section__subsection-heading"
        id="subsection-2"
      >
        Aligned and integrated assessment
      </h4>
      <p>
        1.4 Assessment will align with the unit learning outcomes and ensure
        students can demonstrate the required knowledge, understanding, skills,
        competencies, the
        <a
          href="https://www.monash.edu/__data/assets/pdf_file/0009/786969/Course-Design-Policy.pdf"
        >
          Monash Graduate Attributes
        </a>
        and, where necessary, professional requirements.
      </p>
      <p>
        1.5 An assessment regime will be coherent across units in a major,
        specialisation, course and, where appropriate, year level.
      </p>
      <p>
        1.6 Assessment tasks will foster the appropriate integration of theory,
        practice and professional requirements.
      </p>
    </div>
    <div class="section__subsection">
      <h4
        class="section__subsection-heading"
        data-type="section__subsection-heading"
        id="subsection-3"
      >
        Educative and purposeful assessment
      </h4>
      <p>
        1.7 Assessment will have a clear purpose that will be made explicit to
        students, and will be designed to appraise the knowledge and skills of
        students early in a unit of study.
      </p>
      <p>
        1.8 Assessment will use a scaffolded approach to develop students’
        understanding, skills and practices so they can be applied later in the
        unit, course or workplace.
      </p>
      <p>
        1.9 Academic staff members will provide students with early, timely and
        effective feedback on their assessments that supports further learning.
      </p>
    </div>
    <div class="section__subsection">
      <h4
        class="section__subsection-heading"
        data-type="section__subsection-heading"
        id="subsection-4"
      >
        Challenging and authentic assessment
      </h4>
      <p>
        1.10 Assessment will provide opportunities for students to demonstrate
        their learning in authentic contexts.
      </p>
      <p>
        1.11 The assessment strategy for a course or unit will challenge
        students at the appropriate level of the intellectual, practical and
        professional dimensions of the task.
      </p>
    </div>
    <div class="section__subsection">
      <h4
        class="section__subsection-heading"
        data-type="section__subsection-heading"
        id="subsection-5"
      >
        Criterion-referenced assessment
      </h4>
      <p>
        1.12 Assessment of student work will use marking criteria to ensure
        reliable and consistent judgements about student performance are made
        across all assessors, cohorts and teaching locations.
      </p>
      <p>
        1.13 Students will be informed in the learning management system of how
        their work will be assessed.
      </p>
    </div>
    <div class="section__subsection">
      <h4
        class="section__subsection-heading"
        data-type="section__subsection-heading"
        id="subsection-6"
      >
        Quality-assured assessment
      </h4>
      <p>
        1.14 The faculty will continuously monitor assessment practices and
        processes for quality assurance and improvement purposes.
      </p>
    </div>
    <div class="section__subsection">
      <h4
        class="section__subsection-heading"
        data-type="section__subsection-heading"
        id="subsection-7"
      >
        Upholding the standards of academic integrity
      </h4>
      <p>
        1.15 Students and staff are expected to undertake assessment-related
        activities with honesty, and in a manner that is fair and respectful,
        upholding the University’s standards of academic integrity.
      </p>
      <p>
        1.16 Suspected academic misconduct will be investigated and may be
        subject to disciplinary action (<a
          href="https://www.monash.edu/legal/legislation/current-statute-regulations-and-related-resolutions"
          >Monash University (Council) Regulations</a
        >, Part 7—Student Discipline).
      </p>
      <p>
        1.17 The University and its faculties will provide readily accessible
        information and resources relating to academic integrity, and will
        ensure that students and staff are aware of the University’s standards
        and expectations.
      </p>
      <p>
        1.18 The University and its faculties will monitor and act on any
        information about contract cheating services and related resources
        reasonably likely to encourage or facilitate academic misconduct.
      </p>
      <p>
        1.19 Academic staff will design learning outcomes, course content and
        assessment tasks that appropriately educate students about academic
        integrity and promote and uphold academic integrity standards.
      </p>
      <p>
        1.20 Students must not submit the work of any other person as their own
        or re-use work previously submitted for assessment without permission
        and acknowledgement.
      </p>
      <p>
        1.21 Students must submit assessments online through the learning
        management system and assessments will be processed using a
        similarity-detection system at the point of submission to promote honest
        academic practice and assist in detecting suspected breaches of academic
        integrity. Exceptions can be approved by the dean (or delegate) based on
        legitimate pedagogical reasons where online submission or the use of a
        similarity-detection system is not appropriate.
      </p>
    </div>
  </div>
  <div class="section">
    <div class="section__intro">
      <h3 class="section-heading" data-type="section-heading" id="section-3">
        DEFINITIONS
      </h3>
      <table style="width: 100%;">
        <tbody>
          <tr>
            <td>
              <p><strong>Academic integrity</strong></p>
            </td>
            <td>
              <p>
                The moral code of academia that involves using, generating and
                communicating information in an ethical, honest and responsible
                manner.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p><strong>Assessment regime</strong></p>
            </td>
            <td>
              <p>
                The set of assignments, tests, examinations or other assessment
                tasks that comprise the assessment for a unit and the percentage
                contribution of each task to the final unit result.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p><strong>Assessment task</strong></p>
            </td>
            <td>
              <p>
                For the purpose of this procedure, a task that contributes to a
                student’s final unit result. It does not include formative
                assessment activities that do not contribute to the final unit
                result.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p><strong>Effective feedback</strong></p>
            </td>
            <td>
              <p>Effective feedback is:</p>
              <ul>
                <li>
                  timely and allow students to receive feedback to improve their
                  performance on subsequent assessment tasks; and
                </li>
                <li>
                  delivered in a way that is informative, constructive, helpful
                  and explicitly states how the student can improve their
                  performance.
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <p><strong>Marking criteria</strong></p>
            </td>
            <td>
              <p>
                A description of the factors (linked to the learning outcome
                knowledge, understanding and skills) that will be considered in
                awarding marks for assessment.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p><strong>Scaffolded approach</strong></p>
            </td>
            <td>
              <p>
                An assessment approach in which the work is modelled or
                demonstrated to students in the early stages of learning,
                enabling them to progress to more advanced and independent
                learning.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p><strong>Similarity-detection system</strong></p>
            </td>
            <td>
              <p>
                A system (e.g. Turnitin or MOSS) that compares text, data, code
                or other elements in a student assessment against various
                sources including the internet, published works, commercial
                databases and assessments previously submitted through the
                system.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p><strong>Teaching location</strong></p>
            </td>
            <td>
              <p>
                The physical place where a course is delivered, including
                Australian and international locations as well as online
                delivery. The location may or may not be a Monash campus or
                owned by Monash.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="section">
    <div class="section__intro">
      <h3 class="section-heading" data-type="section-heading" id="section-4">
        GOVERNANCE
      </h3>
      <table class="governance__table" style="width: 100%;">
        <!-- can be multiple -->
        <tbody>
          <tr>
            <th>Supporting Procedures</th>
            <td>
              <ul>
                <li>
                  <a
                    href="https://www.monash.edu/policy-bank/redesign/policies-1/academic-regime-procedure"
                    >Assessment Regime Procedure</a
                  >
                </li>
              </ul>
            </td>
          </tr>
          <!-- can be multiple -->
          <tr>
            <th>Associated Policies</th>
            <td>
              <ul>
                <li>
                  <a
                    href="https://www.monash.edu/policy-bank/redesign/policies-1/examinations-procedure"
                    >Examinations Procedure</a
                  >
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Date Effective</th>
            <td>1 January 2021</td>
          </tr>
          <tr>
            <th>Legislation Mandating Compliance</th>
            <td>
              <p>
                <a
                  href="https://www.legislation.gov.au/Details/C2018C00125"
                  target="_blank"
                  rel="external"
                  class="link--external"
                  >Disability Discrimination Act 1992 (Cth)</a
                ><br /><a href="https://www.monash.edu/legal/legislation"
                  >Monash University Act 2009</a
                >
                <br /><a href="https://www.monash.edu/legal/legislation/current"
                  >Monash University (Academic Board) Regulations</a
                >
                <br /><a
                  href="https://www.monash.edu/legal/legislation/current-statute-regulations-and-related-resolutions"
                  >Monash University (Council) Regulations (part 7)</a
                >
                <br /><a href="https://www.monash.edu/legal/legislation/current"
                  >Monash University (Vice-Chancellor) Regulations</a
                >
                <br /><a
                  href="https://www.legislation.gov.au/Details/C2017C00271"
                  target="_blank"
                  rel="external"
                  class="link--external"
                  >Tertiary Education Quality and Standards Agency (TEQSA) Act
                  2011 (Com) – Higher Education</a
                ><br /><a
                  href="https://www.legislation.gov.au/Details/F2015L01639"
                  target="_blank"
                  rel="external"
                  class="link--external"
                  >Standards Framework (Threshold Standards) 2015</a
                >
              </p>
            </td>
          </tr>
          <tr>
            <th>Owner</th>
            <td>Deputy Vice-Chancellor (Education)</td>
          </tr>
          <tr>
            <th>Approval</th>
            <td>
              <p>
                Academic Board <br />DATE 19 February 2020 <br />MEETING NUMBER
                1/2020 / AGENDA ITEM 12.2
              </p>
            </td>
          </tr>
          <tr>
            <th>Endorsement</th>
            <td>
              <p>
                Learning and Teaching Committee <br />DATE 2 December 2019
                <br />MEETING NUMBER 9/2019 / AGENDA ITEM 6.1
              </p>
            </td>
          </tr>
          <tr>
            <th>Category</th>
            <td>Academic</td>
          </tr>
          <tr>
            <th>Review Date</th>
            <td>1 January 2022</td>
          </tr>
          <tr>
            <th>Version</th>
            <td>1.0</td>
          </tr>
          <tr>
            <th>Content Enquiries</th>
            <td>
              <p>
                <a href="mailto:policy-education@monash.edu"
                  >policy-education@monash.edu</a
                >
              </p>
            </td>
          </tr>
          <tr>
            <th>Last Updated</th>
            <td>18 Sep 2020 12:07pm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
