<h1>Student Fees Policy</h1>
<div data-template="rtf-to-html">
  <h3 class="section-heading" data-type="section-heading">
    Scope
  </h3>
  <p>
    This policy applies to:
  </p>
  <ul>
    <li>
      all students of Monash University and Monash College; and
    </li>
    <li>
      all courses and units at Monash University, the Monash College Diploma,
      Foundation Year and English Language Courses.
    </li>
  </ul>
  <h3 class="section-heading" data-type="section-heading">
    Policy statement
  </h3>
  <p>
    This policy outlines the approval authorities and principles for setting
    student tuition fees and other fees, collecting fee payments and granting
    fees refunds and remission of debt at Monash University (the University).
    Unless specified otherwise, any reference to ‘the University’ includes
    Monash University Malaysia and Monash College.
  </p>
  <p>
    Students must consider this policy in conjunction with the terms and
    conditions outlined in their letter of offer, or equivalent. International
    students studying at Monash University Australia and Monash College,
    including international students subject to the Education and Services for
    Overseas Students Act (ESOS) requirements, must also consider this policy in
    conjunction with the terms and conditions of their International Student
    Course Agreement (ISCA). To the extent of any inconsistency with a letter of
    offer or the ISCA, this policy will apply.
  </p>
  <p>
    The Vice-Chancellor retains absolute discretion to make a determination in
    relation to fees in circumstances regarded as exceptional, per the
    Vice-Chancellor’s Regulations, Part 9.
  </p>
  <h3 class="section-heading" data-type="section-heading">
    1. Tuition fees
  </h3>
  <p>
    1.1 Tuition fees are determined annually with fees information provided via
    the:
  </p>
  <ul>
    <li>
      <a href="https://www.monash.edu/fees">Monash University website</a> and
      <a href="https://www.monash.edu/study/courses">Course Guides</a>;
    </li>
    <li>
      <a href="https://www.monash.edu.my/study/undergraduate/fees"
        >Monash University Malaysia</a
      >
      website;
    </li>
    <li>
      <a
        href="https://www.monashcollege.edu.au/current-students/student-administration/fees-payment"
        >Monash College</a
      >
      fees, scholarships and financial support website;
    </li>
    <li>
      <a
        href="https://www.monash.edu/suzhou/study-at-suzhou/fees-and-scholarships"
        >Monash Suzhou</a
      >
      website; and
    </li>
    <li>
      <a
        href="http://www.iitbmonash.org/application-process/fees-structure-and-scholarship/"
        >IITB-Monash Research Academy</a
      >
      website.
    </li>
  </ul>
  <p>
    1.2 The University assesses fees payable and provides a Fees Statement to
    students outlining the amount of fees payable and the payment due date.
  </p>
  <p>
    1.3 Tuition fees will vary depending on whether the student is a domestic
    full-fee paying student or an international full-fee paying student.
  </p>
  <p>
    1.4 The University reserves the right to adjust tuition fees annually, to be
    applied on 1 January each year for teaching periods with a census date
    thereafter.
  </p>
  <p>
    1.5 Graduate Research tuition fees are based on the Equivalent Full Time
    Student Load (EFTSL) that students undertake in each research
    quarter/period.
  </p>
  <p>
    1.6 Students enrolled under a third-party or employer-funded arrangement
    should also refer to the terms of the contractual agreement.
  </p>
  <h4
    class="section__subsection-heading"
    data-type="section__subsection-heading"
  >
    Government payment schemes
  </h4>
  <p><strong>Australia only </strong></p>
  <p>
    1.7 The University will offer a Commonwealth Supported Place (CSP) to
    eligible domestic undergraduate and postgraduate students.
  </p>
  <p>
    1.8 Domestic students (including Australian citizens, permanent humanitarian
    visa holders, Australian permanent residents and New Zealand citizens who
    are special category visa holders) may be eligible for loan schemes provided
    by the Australian Government through Higher Education Loan Program (HELP)
    schemes, including:
  </p>
  <ul>
    <li>
      HECS-HELP assistance for student contribution amounts for units of study
      that are Commonwealth supported;
    </li>
    <li>
      FEE-HELP to defer the cost of tuition fees for units of study that are not
      Commonwealth-supported; and
    </li>
    <li>
      SA-HELP to defer the cost of the Student Services and Amenities Fee
      (SSAF).
    </li>
  </ul>
  <ul style="list-style-type: none;">
    <li>
      1.8.1 A student who becomes an Australian permanent resident should refer
      to the <a href="./?a=2339160">Student Fees Procedure</a> for information
      on access to CSP and HELP schemes.
    </li>
  </ul>
  <p>
    1.9 The Government offers the loan schemes in accordance with the
    legislative requirements for eligibility, applicable type of study and how
    the HELP loan operates, including any applicable loan fees charged by the
    Government. The University publishes information on the requirements and
    access to Government Schemes on the
    <a href="https://www.monash.edu/enrolments/government-loans"
      >Enrolments website</a
    >. Monash College students should refer to the FEE-HELP availability
    <a href="https://www.monashcollege.edu.au/how-to-apply/domestic-students"
      >website</a
    >.
  </p>
  <p>
    1.10 The Australian Government offers the Research Training Program (RTP)
    Fees Offset to cover the cost of graduate research tuition fees for students
    who are eligible Australian or New Zealand citizens, or Australian Permanent
    Residents. The University publishes information on the
    <a href="https://www.monash.edu/graduate-research/future-students/fees"
      >graduate research course fees website</a
    >.
  </p>
  <h3 class="section-heading" data-type="section-heading">
    2. Payment of fees
  </h3>
  <p>
    2.1 Students must pay all fees by the due date specified on their Fees
    Statement, application form, ISCA or offer package.
  </p>
  <p>
    2.2 Students must make all required fees payments directly to the
    University. Students must not pay Monash University fees or Monash College
    fees through an unauthorised third party
  </p>
  <ul style="list-style-type: none;">
    <li>
      2.2.1 Students who have enrolled under a third-party or employer-funded
      arrangement should refer to the contractual terms of the agreement for
      prescribed payment methods, as the partner institution or employer may be
      required to make or transfer payment to the University.
    </li>
  </ul>
  <p>
    2.3 Students at Monash University Malaysia should also refer to the
    <a
      href="https://www.monash.edu.my/study/apply/application-form/fee-payment-methods"
      >Fee Payment Methods</a
    >
    on the University website.
  </p>
  <h4
    class="section__subsection-heading"
    data-type="section__subsection-heading"
  >
    Fees payment extension
  </h4>
  <p>
    2.4 Eligible continuing students who have extreme financial hardship and
    difficulty in meeting payment terms in their Fees Statement or equivalent
    student agreement may apply for an extension to pay tuition fees where the
    student:
  </p>
  <ul>
    <li>
      makes an application before the fees due date;
    </li>
    <li>
      demonstrates they have extreme financial difficulties;
    </li>
    <li>
      is paying full fees; and,
    </li>
    <li>
      does not owe any fees from a previous teaching period when an application
      is made.
    </li>
  </ul>
  <p>
    2.5 All approved fees payment extensions must be finalised, and all fees
    paid before the commencement of any SWOT Vac for that teaching period.
  </p>
  <p>
    2.6 The following cohorts of students are not eligible to apply for a fees
    payment extension:
  </p>
  <ul>
    <li>
      commencing international and domestic full-fee paying students enrolled in
      their first teaching period;
    </li>
    <li>
      students enrolled in English Language Programs;
    </li>
    <li>
      students whose fees are paid under sponsorship arrangements;
    </li>
    <li>
      Monash Online students; and/or,
    </li>
    <li>
      students enrolled in single units.
    </li>
  </ul>
  <p>
    2.7 The University does not grant fees payment extensions for payment of
    administrative fees, fines or SSAF.
  </p>
  <h4
    class="section__subsection-heading"
    data-type="section__subsection-heading"
  >
    Non-payment of fees
  </h4>
  <p>
    2.8 The University issues a fees reminder where payment has not been made by
    the due date of the Fees Statement. If the outstanding debt is not paid the
    University may take the following action:
  </p>
  <ul>
    <li>
      place an encumbrance on the student’s enrolment;
    </li>
    <li>
      subsequently cancel a student’s enrolment; and
    </li>
    <li>
      not allow a student to graduate, or receive final results or an academic
      record until all outstanding debt is paid.
    </li>
  </ul>
  <p>
    2.9 A fees-related encumbrance will only be removed from a student’s
    enrolment when all outstanding fees are received by the University.
  </p>
  <h3 class="section-heading" data-type="section-heading">
    3. Refunds
  </h3>
  <p>
    3.1 Students may be eligible for a full or partial refund of tuition fees,
    or full or partial remission of debt in prescribed circumstances. The
    University reserves the right to refuse a full or partial refund, or full or
    partial remission of debt. Students can apply for review of a decision not
    to grant a remission of debt or refund of fees. Students must review the
    requirements for a refund or a remission of debt set out below and in the
    <a href="./?a=2339152">Student Fees Refunds Procedure</a>.
  </p>
  <h4
    class="section__subsection-heading"
    data-type="section__subsection-heading"
  >
    Australia
  </h4>
  <p><strong>Refunds and remission of debt for domestic students</strong></p>
  <p>
    3.2 The Student Fees Refunds Procedure details the circumstances and
    conditions under which domestic students, including domestic students
    enrolled at Monash College, are eligible to seek a refund of tuition fees or
    remission of debt, including any deposit fees for courses undertaken as part
    of a packaged offer.
  </p>
  <p>
    3.3 Domestic students, including domestic students enrolled at Monash
    College, may be eligible for a full or partial refund of tuition fees if
    they:
  </p>
  <ul>
    <li>
      have a credit from overpayment or approved discount on their tuition fees;
    </li>
    <li>
      change their enrolment before the census date; or,
    </li>
    <li>
      fulfil the ‘special circumstances’ requirements for a refund or a
      remission of debt under the
      <em>Higher Education Support Act 2003</em> (Cth).
    </li>
  </ul>
  <p><strong>Refunds for international students </strong></p>
  <p>
    3.4 The ISCA and Student Fees Refunds Procedure details the circumstances
    and conditions under which international students, including international
    students enrolled at Monash College are eligible to seek a refund of tuition
    fees, including any deposit fees for courses undertaken as part of a
    packaged offer.
  </p>
  <h4
    class="section__subsection-heading"
    data-type="section__subsection-heading"
  >
    Monash University Malaysia
  </h4>
  <p>
    3.5 Domestic students and international students may be eligible for a full
    or partial
    <a href="https://www.monash.edu.my/finance/fees/guideline-on-refund"
      >refund of tuition fees</a
    >
    prior if they:
  </p>
  <ul>
    <li>
      have overpaid their course fees;
    </li>
    <li>
      have a credit for an approved discount on course fees;
    </li>
    <li>
      change their enrolment before the census date; or,
    </li>
    <li>
      fulfil the ‘special circumstances’ or demonstrate extenuating personal
      requirements.
    </li>
  </ul>
  <h3 class="section-heading" data-type="section-heading">
    4. Family fees discounts
  </h3>
  <p>
    4.1 A student who has a sibling(s) studying at the University may be
    eligible to apply for a 10 per cent discount on tuition fees. The sibling
    with the highest tuition fees (per 48 credit points) will receive the
    discount.
  </p>
  <p>
    4.2 To be eligible for a family fees discount, students must be:
  </p>
  <ul>
    <li>
      full-fee paying students and have received Fees Statements for the same
      <a href="https://www.monash.edu/fees/payment/dates">Fees invoice period</a
      >;
    </li>
    <li>
      concurrently enrolled in a degree, foundation year or diploma course;
    </li>
    <li>
      studying at the same location (ie. both at Monash University Australia or
      Monash College, or both at Monash University Malaysia);
    </li>
    <li>
      not in receipt of any other tuition fees discounts, scholarships, grants
      or bursaries offered by the University; and
    </li>
    <li>
      not in receipt of sponsorship from a third party.
    </li>
  </ul>
  <p>
    4.3 Applications will be processed and outcome provided after the census
    date of the later teaching period between the siblings,. Students must pay
    all fees by the due date while awaiting notification of their application
    outcome.
  </p>
  <p>
    4.4 Students who withdraw from their course may have to repay the discount.
  </p>
  <h3 class="section-heading" data-type="section-heading">
    5. Course and campus transfers &amp; Monash Abroad
  </h3>
  <p>
    5.1 Tuition fee arrangements vary for students undertaking Study Abroad,
    Exchange, Intercampus Exchange, campus transfer and course transfer. Refer
    to the
    <a href="https://www.monash.edu/study-abroad">Monash Abroad</a> website for
    more information.
  </p>
  <p>
    5.2 When undertaking a course or campus transfer, the applicable tuition
    fees is outlined in the table below:
  </p>
  <table id="table96437" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th id="table96437r1c1">
          <p><strong>Transfer from</strong></p>
        </th>
        <th id="table96437r1c2">
          <p><strong>Transfer to </strong></p>
        </th>
        <th id="table96437r1c3">
          <p><strong>Within same course?</strong></p>
        </th>
        <th id="table96437r1c4">
          <p><strong>Student pays tuition fees to:</strong></p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td headers="table96437r1c1">
          <p>
            Offshore Monash location (<em>without</em> intercampus exchange
            prior)
          </p>
        </td>
        <td headers="table96437r1c2">
          <p>
            Monash University Australia
          </p>
        </td>
        <td headers="table96437r1c3">
          <p>
            Yes
          </p>
        </td>
        <td headers="table96437r1c4">
          <p>
            <em>Australia </em>- <strong>continuing rate</strong> based on the
            commencing year from the offshore Monash location
          </p>
        </td>
      </tr>
      <tr>
        <td headers="table96437r1c1">
          <p>
            Offshore Monash location (<em>with</em> intercampus exchange prior)
          </p>
        </td>
        <td headers="table96437r1c2">
          <p>
            Monash University Australia
          </p>
        </td>
        <td headers="table96437r1c3">
          <p>
            Yes or No
          </p>
        </td>
        <td headers="table96437r1c4">
          <p>
            <em>Australia</em> - <strong>commencing rate</strong> based on the
            year commenced in Australia
          </p>
        </td>
      </tr>
      <tr>
        <td headers="table96437r1c1">
          <p>
            Monash University Australia
          </p>
        </td>
        <td headers="table96437r1c2">
          <p>
            Offshore Monash location
          </p>
        </td>
        <td headers="table96437r1c3">
          <p>
            Yes or No
          </p>
        </td>
        <td headers="table96437r1c4">
          <p>
            <em>Offshore location</em>– refer to overseas location for tuition
            fee information
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    5.3 A full-fee paying student studying by distance learning will pay the
    tuition fees set by the University for that course for international
    on-campus students.
  </p>
  <p>
    5.4 A Commonwealth-supported student will pay the annual Student
    Contribution Amount set by the Australian Government and Monash University,
    regardless of the study location.
  </p>
  <h4
    class="section__subsection-heading"
    data-type="section__subsection-heading"
  >
    Monash Abroad
  </h4>
  <p>
    5.5 Fee payment arrangements do not change where a student temporarily moves
    to study at an offshore delivery location (either from or to Australia), or
    to a location under the Monash Abroad program (including Inter-Campus
    Exchange, International Study Programs, Internships, and Clinical &amp;
    Field Placement).
  </p>
  <p>
    5.6 Tuition fees in relation to Monash Abroad outbound programs are set out
    below:
  </p>
  <table id="table62119" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th id="table62119r1c1">
          <p><strong>Transfer type</strong></p>
        </th>
        <th id="table62119r1c2">
          <p><strong>Home</strong></p>
        </th>
        <th id="table62119r1c3">
          <p><strong>Host</strong></p>
        </th>
        <th id="table62119r1c4">
          <p><strong>Student pays tuition fees to:</strong></p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td headers="table62119r1c1">
          <p>
            Study Abroad
          </p>
        </td>
        <td headers="table62119r1c2">
          <p>
            Monash University Australia or Monash University Malaysia
          </p>
        </td>
        <td headers="table62119r1c3">
          <p>
            Non-Monash
          </p>
        </td>
        <td headers="table62119r1c4">
          <p>
            Host institution
          </p>
        </td>
      </tr>
      <tr>
        <td headers="table62119r1c1">
          <p>
            Exchange
          </p>
        </td>
        <td headers="table62119r1c2">
          <p>
            Monash University Australia or Monash University Malaysia
          </p>
        </td>
        <td headers="table62119r1c3">
          <p>
            Non-Monash
          </p>
        </td>
        <td headers="table62119r1c4">
          <p>
            Home institution
          </p>
        </td>
      </tr>
      <tr>
        <td headers="table62119r1c1">
          <p>
            Intercampus Exchange
          </p>
        </td>
        <td headers="table62119r1c2">
          <p>
            Monash University Australia or Monash University Malaysia
          </p>
        </td>
        <td headers="table62119r1c3">
          <p>
            Offshore Monash locations
          </p>
        </td>
        <td headers="table62119r1c4">
          <p>
            Home institution
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    5.7 Tuition fees in relation to Monash Abroad inbound programs are set out
    below:
  </p>
  <table id="table00212" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th id="table00212r1c1">
          <p><strong>Transfer type</strong></p>
        </th>
        <th id="table00212r1c2">
          <p><strong>Home</strong></p>
        </th>
        <th id="table00212r1c3">
          <p><strong>Host</strong></p>
        </th>
        <th id="table00212r1c4">
          <p><strong>Student pays tuition fees to:</strong></p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td headers="table00212r1c1">
          <p>
            Study Abroad
          </p>
        </td>
        <td headers="table00212r1c2">
          <p>
            Non-Monash
          </p>
        </td>
        <td headers="table00212r1c3">
          <p>
            Monash University Australia or Monash University Malaysia
          </p>
        </td>
        <td headers="table00212r1c4">
          <p>
            Host institution
          </p>
        </td>
      </tr>
      <tr>
        <td headers="table00212r1c1">
          <p>
            Exchange
          </p>
        </td>
        <td headers="table00212r1c2">
          <p>
            Non-Monash
          </p>
        </td>
        <td headers="table00212r1c3">
          <p>
            Monash University Australia or Monash University Malaysia
          </p>
        </td>
        <td headers="table00212r1c4">
          <p>
            Home institution
          </p>
        </td>
      </tr>
      <tr>
        <td headers="table00212r1c1">
          <p>
            Intercampus Exchange
          </p>
        </td>
        <td headers="table00212r1c2">
          <p>
            Offshore Monash location
          </p>
        </td>
        <td headers="table00212r1c3">
          <p>
            Monash University Australia or Monash University Malaysia
          </p>
        </td>
        <td headers="table00212r1c4">
          <p>
            Home institution
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <h3 class="section-heading" data-type="section-heading">
    6. Overseas Student Health Cover
  </h3>
  <p><strong>Australia only</strong></p>
  <p>
    6.1 It is an Australian Government visa requirement that international
    students studying on a student visa have Overseas Student Health Cover
    (OSHC) for the duration of their student visa, including instances where
    students must extend their student visa
  </p>
  <p>
    6.2 All international students on a student visa must purchase OSHC for the
    length of their visa at the time of accepting their offer.
  </p>
  <h3 class="section-heading" data-type="section-heading">
    7. Other student fees
  </h3>
  <h4
    class="section__subsection-heading"
    data-type="section__subsection-heading"
  >
    Miscellaneous fees
  </h4>
  <p>
    7.1 The University and Monash College charge miscellaneous fees for
    administrative functions and activities relating to enrolment (including
    enrolment documents), examinations, graduation and graduation documents.
    Students at Monash University can access the full schedule of miscellaneous
    fees via the
    <a href="https://www.monash.edu/fees/other-costs/miscellaneous-fees"
      >miscellaneous fees website</a
    >. Students at Monash College can access the full schedule of miscellaneous
    fees via the
    <a href="https://www.monashcollege.edu.au/how-to-apply/dates-and-fees"
      >dates and fees website.</a
    >
  </p>
  <h4
    class="section__subsection-heading"
    data-type="section__subsection-heading"
  >
    Other study costs
  </h4>
  <p>
    7.2 In addition to tuition fees, students may be required to pay for
    activities and materials relevant to undertaking their course. The
    University <a href="https://handbook.monash.edu/">Handbook</a><u> </u>and
    the
    <a href="https://www.monash.edu/fees/other-costs/study"
      >Other study costs</a
    >
    website provide information on other study costs applicable in the course,
    unit or area of study for Monash University students. Monash College
    students can access information on other study costs via the
    <a href="https://www.monashcollege.edu.au/how-to-apply/dates-and-fees"
      >dates and fees website.
    </a>
  </p>
  <p>
    7.3 Payments made for other study costs are normally non-refundable, but
    some faculties may consider refunds in exceptional circumstances. Students
    should contact their faculty or Monash College for further advice.
  </p>
  <h4
    class="section__subsection-heading"
    data-type="section__subsection-heading"
  >
    Monash University Australia - Student Services and Amenities Fee (SSAF)
  </h4>
  <p>
    7.4 A Student Services and Amenities Fee (SSAF) is charged to students at
    all Australian delivery locations, excluding students enrolled at Monash
    College, for non-academic services and student amenities, in accordance with
    the <em>Higher Education Support Act 2003 </em>(Cth). The distribution of
    the SSAF is based on allocation principles approved by Monash University
    Council.
  </p>
  <p>
    7.5 The SSAF must be paid on the date prescribed in the Fees Statement.
  </p>
  <p>
    7.6 Eligible students who are Australian citizens or a permanent
    humanitarian visa holder resident in Australia, and some New Zealander
    citizens can access a SA-HELP loan to assist with payment of their SSAF.
  </p>
  <h4
    class="section__subsection-heading"
    data-type="section__subsection-heading"
  >
    Monash University Malaysia – Additional fees
  </h4>
  <p>
    7.7 Monash University Malaysia charges a general amenities fee for
    non-academic services and student amenities for each teaching period of
    enrolment. A once-only application and registration fee is also charged to
    students. The University publishes the fee amount on the
    <a href="https://www.monash.edu.my/study/undergraduate/fees"
      >Fees website.</a
    >
  </p>
  <h3 class="section-heading" data-type="section-heading">
    8. Roles and Responsibilities
  </h3>
  <h4
    class="section__subsection-heading"
    data-type="section__subsection-heading"
  >
    Student Finance responsibilities
  </h4>
  <p>
    8.1 The table below outlines the role/area of responsibility for making
    determinations in relation to student fees in Australia. For roles/areas of
    responsibility at Monash University Malaysia, refer to the Student Fees
    &amp; Refunds Schedule, Monash University Malaysia.
  </p>
  <table id="table95996" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th id="table95996r1c1">
          <p><strong>Area of decision making</strong></p>
        </th>
        <th id="table95996r1c2">
          <p><strong>Responsibility</strong></p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td headers="table95996r1c1">
          <p>
            Dispensation of miscellaneous fees
          </p>
        </td>
        <td headers="table95996r1c2">
          <p>
            Senior Director, SEBS
          </p>
        </td>
      </tr>
      <tr>
        <td headers="table95996r1c1">
          <p>
            Applications made by international students and domestic full
            fee-paying Monash University and Monash College students for refunds
            of fees
          </p>
        </td>
        <td headers="table95996r1c2">
          <p>
            Associate Director, Student Finance
          </p>
        </td>
      </tr>
      <tr>
        <td headers="table95996r1c1">
          <p>
            Applications made by Monash University domestic or international
            students for refund of fees in special circumstances
          </p>
        </td>
        <td headers="table95996r1c2">
          <p>
            Senior Manager, Student Conduct and Special Circumstances, SEBS
          </p>
        </td>
      </tr>
      <tr>
        <td headers="table95996r1c1">
          <p>
            Applications made by Monash University domestic students accessing
            the HELP Government loan program for remission of debt in special
            circumstances
          </p>
        </td>
        <td headers="table95996r1c2">
          <p>
            Senior Manager, Student Conduct and Special Circumstances, SEBS
          </p>
        </td>
      </tr>
      <tr>
        <td headers="table95996r1c1">
          <p>
            Applications for a review of a decision not to grant a refund or
            remission of debt in special circumstances for Monash University
            students
          </p>
        </td>
        <td headers="table95996r1c2">
          <p>
            Associate Director, Academic Services, SEBS
          </p>
        </td>
      </tr>
      <tr>
        <td headers="table95996r1c1">
          <p>
            Applications for a review of a decision not to grant a refund or
            remission of debt in special circumstances for Monash College
            students
          </p>
        </td>
        <td headers="table95996r1c2">
          <p>
            Director, Governance, Monash College
          </p>
        </td>
      </tr>
      <tr>
        <td headers="table95996r1c1">
          <p>
            Fee payment extensions
          </p>
        </td>
        <td headers="table95996r1c2">
          <p>
            Manager, Student Finance Operations
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <h3 class="section-heading" data-type="section-heading">
    DEFINITIONS
  </h3>
  <table style="width: 100%;">
    <tbody>
      <tr>
        <td>
          <p><strong>Census date</strong></p>
        </td>
        <td>
          <p>
            The date when the University and Monash College finalise student
            enrolments for a teaching period.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Domestic student</strong></p>
        </td>
        <td>
          <p>
            A student enrolled at:
          </p>
          <ul>
            <li>
              An Australian location who is an Australian or New Zealand
              citizen, or who holds an Australian permanent resident visa or
              Australian permanent humanitarian visa; or
            </li>
            <li>
              Monash University Malaysia who is a Malaysian citizen or holder of
              Malaysian permanent residency status; or
            </li>
            <li>
              Another Monash location outside Australia, who is considered a
              domestic student according to criteria set by the government of
              that country.
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Equivalent Full-Time Student Load (EFTSL)</strong></p>
        </td>
        <td>
          <p>
            A measure of the annual study load of a student undertaking a course
            of study on a full time basis.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Encumbrance</strong></p>
        </td>
        <td>
          <p>
            A block placed on a student’s access to university services and
            resources as a result of unpaid fees, fines, loan payments, missing
            information (e.g. tax file number), unreturned resources (e.g.
            library items), disciplinary proceedings or incomplete
            administrative requirements.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Family</strong></p>
        </td>
        <td>
          <p>
            For the purposes of the family fee discount, includes siblings i.e.
            a brother and/or sister with one parent in common.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>FEE-HELP</strong></p>
        </td>
        <td>
          <p>
            An Australian Government loan scheme to help eligible fee-paying
            students to pay their tuition fees.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Fees Statement</strong></p>
        </td>
        <td>
          <p>
            A statement sent to enrolled students showing the fees amounts and
            payment due dates for relevant fee periods.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>HECS-HELP</strong></p>
        </td>
        <td>
          <p>
            An Australian Government loan scheme to help eligible Commonwealth
            supported students to pay their student contribution amounts through
            a loan.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Home institution</strong></p>
        </td>
        <td>
          <p>
            The institution at which the student is enrolled for the majority of
            their course.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Host institution</strong></p>
        </td>
        <td>
          <p>
            The partner institution at which a student is undertaking some part
            of an exchange, study abroad or cross-institutional program.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Intermit/intermission</strong></p>
        </td>
        <td>
          <p>
            A break in studies that when granted reserves a place in the course
            for a student when the intermission has ended providing that the
            student re-enrols during the designated periods.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>International student</strong></p>
        </td>
        <td>
          <p>
            A student who is not a domestic student.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>International Student Course Agreement (ISCA)</strong></p>
        </td>
        <td>
          <p>
            An agreement between an international student and Monash University
            or Monash College that outlines the course offer details, conditions
            and prerequisites (if the offer is conditional), fees and Overseas
            Student Health Cover (OSHC), enrolment and orientation details,
            offer terms and conditions, and instructions on how to accept the
            offer.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Invalidation</strong></p>
        </td>
        <td>
          <p>
            The cancellation of a student’s enrolment due to the non-payment of
            fees.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Managing faculty</strong></p>
        </td>
        <td>
          <p>
            The faculty that is assigned responsibility to coordinate
            administrative matters for each single or double degree course
            (including but not restricted to admission, enrolment, academic
            progress and academic referral). The managing faculty in relation to
            a student undertaking a double degree, means the faculty specified
            in a University handbook as being responsible for the administration
            of that double degree for the year for which the handbook is
            published.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Miscellaneous Fees</strong></p>
        </td>
        <td>
          <p>
            Fees for non-tuition related services.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Parent</strong></p>
        </td>
        <td>
          <p>
            For the purposes of the family fee discount, siblings must have one
            or more parents must be in common, with the relationship evidenced
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Remission of debt</strong></p>
        </td>
        <td>
          <p>
            Where a student applies to the University to have all or part of
            their debt under a loan scheme provided by the Commonwealth
            Government (e.g. HECS-HELP, FEE-HELP) remitted (that is, a
            cancellation of deferred fees) under the Student Fees Refunds
            Procedure.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Refund of fees</strong></p>
        </td>
        <td>
          <p>
            A student may apply to the University to have all or part of the
            tuition fees that they have paid refunded under the Student Fees
            Refunds Procedure.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>SA-HELP</strong></p>
        </td>
        <td>
          <p>
            An Australian Government loan scheme that assists eligible students
            to pay for all or part of their Student Services and Amenities Fee
            (SSAF).
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Student Services and Amenities Fee (SSAF)</strong></p>
        </td>
        <td>
          <p>
            A fee legislated by the Australian Government where higher education
            providers can charge for student services and amenities of a
            non-academic nature, such as sporting and recreational activities,
            employment and career advice, child care, financial advice and food
            services. The amount is calculated based on the enrolment mode,
            campus location and study load of the entire calendar year.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Student</strong></p>
        </td>
        <td>
          <p>
            A person who:
          </p>
          <p>
            a) is admitted to a course of study;
          </p>
          <p>
            b) is enrolled at the University in a non-award study or one or more
            units of study on an assessed or non-assessed basis and without
            admission to a course of study;
          </p>
          <p>
            c) is pursuing a course of study or unit of study at the University
            through an exchange or study program or other arrangement between
            the University and another educational institution;
          </p>
          <p>
            d) is engaged in a student mobility program involving the
            University, whether or not the program is credited towards a course
            of study or unit of study;
          </p>
          <p>
            e) has completed a course of study but on or to whom the relevant
            degree or award has not been conferred or awarded;
          </p>
          <p>
            f) has deferred, or has intermitted, or has been suspended from, a
            course of study;
          </p>
          <p>
            g) is enrolled in a course of study or one or more units of study
            offered by the University through another educational institution;
            or
          </p>
          <p>
            h) has consented in writing to be bound as a student by the
            University statutes and University regulations.
          </p>
          <p>
            The following terms are used to identify groups of students that are
            subject to different requirements (as defined below):
          </p>
          <p>
            · domestic student;
          </p>
          <p>
            · international student; and
          </p>
          <p>
            · international student subject to the Education and Services for
            Overseas Students (ESOS) requirements.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Study Abroad</strong></p>
        </td>
        <td>
          <p>
            An approved program of study at a host overseas higher education
            institution that counts as credit towards a course enrolled in with
            the home higher education provider. These students are not covered
            by an agreement between institutions and will typically pay fees set
            by the overseas institution while studying overseas.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>SWOT Vac</strong></p>
        </td>
        <td>
          <p>
            Study With-Out Teaching (SWOT) Vacation in the week before the main
            examination periods in which students revise unit content in
            preparation for their examinations and no classes, class tests,
            assessment deadline or other compulsory student activities are
            scheduled except in specific circumstances.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Teaching period</strong></p>
        </td>
        <td>
          <p>
            In relation to a unit of study, the period occupied by the teaching
            of the unit.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Third party arrangement</strong></p>
        </td>
        <td>
          <p>
            Someone who may be indirectly involved but is not a principal party
            to an arrangement, contract, deal, lawsuit or transaction.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Tuition fees</strong></p>
        </td>
        <td>
          <p>
            Money that a student pays to the University for their teaching or
            instruction.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Unit</strong></p>
        </td>
        <td>
          <p>
            A component of a course represented by a unit code that is taught as
            a discrete entity but is not a thesis for a graduate research
            degree.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
