$tab-active-colour: none;

.content-center {
  justify-content: left;

  @include media-query('wide') {
    justify-content: center;
  }
}

#tabs-no-accordion {
  .tabs,
  .search-tabs {
    margin-bottom: 1rem;

    &__title {
      text-align: center;
    }
    &__tab-list {
      display: flex;
      overflow-x: auto;
      scrollbar-width: none !important;
      &::-webkit-scrollbar {
        display: none;
        width: 0px;
        background: transparent; /* Chrome/Safari/Webkit */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */
      }
    }

    &__tab-content {
      border-top: 1px solid #cecece;
    }

    &__item {
      font-family: $font-family__condensed;
      flex: 0 0 auto;
      flex-direction: column;
      line-height: 1rem;
      margin-bottom: 0;
      margin-top: 0;
      margin-right: 0rem;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }
    }

    // .bottom-tabs refers to tabs used on course-details page
    .bottom-tabs &__item {
      flex: 0 0 auto;
      margin-bottom: 0;
      white-space: nowrap;
    }

    .bottom-tabs &__tab-list {
      border-bottom: 1px solid $base-light-charcoal;
      margin-bottom: 0.5rem;
    }

    .bottom-tabs &__target {
      padding: 0;
    }

    &__target {
      display: block;
      height: 0;
      opacity: 0;
      padding: 0;
      visibility: hidden;
      overflow: hidden;

      &.uber-accordion__target {
      }

      &.uber-accordion__target-active {
        height: auto;
        visibility: visible;
        transition: opacity 0.5s linear;
        opacity: 1;
        padding: 0;
        overflow: visible;
      }

      p {
        margin-bottom: 0;
      }
    }

    &__link {
      transition: height 0.3s ease;
      // flex-grow: 1;
      background: none;
      color: #505050;
      display: block;
      padding: 0.2rem 0.7rem;
      text-decoration: none;
      text-transform: uppercase;
      @include media-query(medium) {
        padding: 0.5rem 1.25rem;
      }

      &:hover,
      &:focus,
      &:active {
        color: $black;
        text-decoration: none;
      }

      &.uber-accordion__button-active {
        background: $tab-active-colour;
        color: $black;
        border-bottom: 3px solid $black;
        font-weight: 700;
        &:focus,
        &:active {
          outline: none;
        }
        &:focus-visible {
          outline: 1;
        }
      }
    }
  }
}
