.intro-text {
  clear: both;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;

  h2 {
    margin-bottom: pxToRem(18);
    margin-top: 3rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: pxToRem(5);
    font-size: 1.75rem;
    line-height: 1.2;
  }

  p {
    font-size: pxToRem(15);
    font-weight: $font-light;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .introduction {
    color: $black;
    font-family: $font-family__normal;
    font-size: 1.125rem;
    font-weight: $font-regular;
    line-height: 1.4;
    margin-top: 0;
    padding-bottom: 2rem;
  }
}

@import 'wide.scss';
