@include media-query('medium') {
  .intro-text {
    margin-left: pxToRem(-80);
    margin-right: pxToRem(-80);
    padding-left: 0;
    padding-right: 0;

    .content-wrapper {
      max-width: 70%;
    }

    &.align-left-w {
      h3,
      p {
        text-align: left;
      }

      .content-wrapper {
        max-width: 60%;
      }
    }

    h2 {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      font-size: 2.5rem;
    }

    p {
      font-size: pxToRem(16);
    }

    .introduction {
      font-size: 1.375rem;
      line-height: 1.4;
    }
  }
}
