<%= htmlWebpackPlugin.files.css.map((css) => `<link
  href="${css}"
  rel="stylesheet"
/>`).join('') %>

<script src="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/js/vendor/jquery.min.js"></script>

<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap"
  rel="stylesheet"
/>
{# to do update jquery
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
></script>
#}

<script
  async
  src="https://cdn.jsdelivr.net/npm/jquery-selectric@0.2.0/src/jquery.selectric.min.js"
></script>
<script
  async
  src="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/js/vendor/modernizr.min.js"
></script>

<script
  async
  src="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/js/plugins.min.js"
></script>

<script
  async
  src="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/js/global.js"
></script>

<%= htmlWebpackPlugin.files.js.map((js) => `
<script type="text/javascript" src="${js}" defer></script>
`).join('') %>
