<!-- import:content source:modules/banner-inside-page/html/index.html -->
<div class="bg-light-grey l--lhs-content">
    <div class="content-wrapper">
        <div class="lhs">
            <!-- import:content source:modules/lhs-nav/html/index.html -->
        </div>
        <div class="content bg-white">
            <div class="content-inner__main">
                <!-- import:content source:modules/breadcrumbs/html/index.html -->
                <h1 id="typography">This is an example of h1</h1>
                <!-- import:content source:modules/inside-page/html/fragments/_content.html -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

