<div class="bg-light-grey l--lhs-content-rhs">
  <div class="content-wrapper">
    <div class="lhs">
      {% include "../../../lhs-nav/html/index.html" %}
    </div>
    <div class="content bg-white">
      <div class="content-inner__main">
        {% include "../../../breadcrumbs/html/index.html" %}
        <h1 id="typography">This is an example of h1</h1>
        {% include "../../../inside-page/html/fragments/_content.html" %}
      </div>
      <div class="content-inner__rhs">
        {% include "../../../box-listing-element/html/rhs-legacy-pharm.html" %}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
