<!-- import:content source:modules/banner-inside-page/html/index.html -->
<div class="content-wrapper bg-white l--content-rhs">
    <div class="content">
        <div class="content-inner__main">
            <!-- import:content source:modules/breadcrumbs/html/index.html -->
            <h1 id="typography">This is an example of h1</h1>
            <!-- import:content source:modules/inside-page/html/fragments/_content.html -->
        </div>
        <div class="content-inner__rhs">
            <!-- import:content source:modules/box-listing-element/html/rhs.html -->
        </div>
        <div class="clearfix"></div>
    </div>
</div>

