<!-- import:content source:modules/banner-inside-page/html/index.html -->
<div class="content l--content">
    <div class="content-wrapper">
        <!-- import:content source:modules/breadcrumbs/html/index.html -->
        <h1 id="typography">This is an example of h1</h1>
        <!-- import:content source:modules/inside-page/html/fragments/_content.html -->
    </div>
</div>

