<style>
    .layouts-row {
        margin: 60px 0 0;
    }

    .layouts-row:nth-child(1) {
        margin-top: 0;
    }

    .layouts-row .lhs,
    .layouts-row .content-inner__main,
    .layouts-row .content-inner__rhs,
    .layouts-row .l--content {
        border: 1px solid #505050;
        background: #e6e6e6;
/*        height: 100px;*/
    }

    .layouts-row .layout-snippet {
        min-height: 100px;
        background: #f6f6f6;
        margin-top: 20px;
        display: inline-block;
        padding: 20px;
    }

    .layouts-row pre {
        margin: 0;
        margin-left: 15px;
    }

    .layouts-row h4 {
        margin-top: 10px;
    }
    .layouts {
        padding-top: 30px;
        padding-bottom: 50px;
    }
</style>
<div class="layouts">
    <div class="layouts-row">
        <div class="content-wrapper">
            <h3>Default Layout: 3 columns (LHS + Content + RHS)</h3>
            <h4>Live example: <a href="/content.html" target="_blank">Content</a></h4>
            <h4>Classes to apply: l--lhs-content-rhs</h4>
        </div>
        <div class="bg-light-grey l--lhs-content-rhs" style="background: none;">
            <div class="content-wrapper">
                <div class="lhs" style="padding-left: 20px">
                    LHS
                </div>
                <div class="content bg-white">
                    <div class="content-inner__main" style="border-right: 0; padding-left: 0; padding-top: 0; padding-bottom: 0; background: none; border: 0;">
                        <div class="just-for-presentation" style="padding-top: 0.75rem; padding-left: 1.875rem; height: 100%; padding-bottom: 20px; background: #e6e6e6; border: 1px solid #505050;">Content</div>
                    </div>
                    <div class="content-inner__rhs" style="padding-left: 20px;">
                        RHS
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="layout-snippet">
                <pre>&lt;div class="bg-light-grey l--lhs-content-rhs"&gt;</pre>
                <pre><pre>&lt;div class="content-wrapper"&gt;</pre></pre>
                <pre><pre><pre>&lt;div class="lhs"&gt;LHS&lt;/div&gt;</pre></pre></pre>
                <pre><pre><pre>&lt;div class="content bg-white"&gt;</pre></pre></pre>
                <pre><pre><pre><pre>&lt;div class="content-inner__main"&gt;Content&lt;/div&gt;</pre></pre></pre></pre>
                <pre><pre><pre><pre>&lt;div class="content-inner__rhs"&gt;RHS&lt;/div&gt;</pre></pre></pre></pre>
                <pre><pre><pre>&lt;/div&gt;</pre></pre></pre>
                <pre><pre>&lt;/div&gt;</pre></pre>
                <pre>&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
    <div class="layouts-row">
        <div class="content-wrapper">
            <h3>LHS + Content</h3>
            <h4>Classes to apply: l--lhs-content</h4>
        </div>
        <div class="bg-light-grey l--lhs-content" style="background: none;">
            <div class="content-wrapper">
                <div class="lhs" style="padding-left: 20px;">
                    LHS
                </div>
                <div class="content bg-white">
                    <div class="content-inner__main" style="padding-left: 20px;">
                        Content
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="layout-snippet">
                <pre>&lt;div class="bg-light-grey l--lhs-content"&gt;</pre>
                <pre><pre>&lt;div class="content-wrapper"&gt;</pre></pre>
                <pre><pre><pre>&lt;div class="lhs"&gt;LHS&lt;/div&gt;</pre></pre></pre>
                <pre><pre><pre>&lt;div class="content bg-white"&gt;</pre></pre></pre>
                <pre><pre><pre><pre>&lt;div class="content-inner__main"&gt;Content&lt;/div&gt;</pre></pre></pre></pre>
                <pre><pre><pre>&lt;/div&gt;</pre></pre></pre>
                <pre><pre>&lt;/div&gt;</pre></pre>
                <pre>&lt;/div&gt;</pre>
            </div>
        </div>
    </div>

    <div class="layouts-row">
        <div class="content-wrapper">
            <h3>Full Width</h3>
            <h4>Live example: <a href="/landing.html" target="_blank">Landing page</a></h4>
            <h4>Classes to apply: l--content</h4>
        </div>
        <div class="content-wrapper just-for-presentation">
            <div class="content bg-light-grey l--content" style="padding: 20px; padding-left: 0; padding-right: 0;">
                <div class="content-wrapper">
                    Content
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="layout-snippet">
                <pre>&lt;div class="content bg-light-grey l--content"&gt;</pre>
                <pre><pre>&lt;div class="content-wrapper"&gt;Content&lt;/div&gt;</pre></pre>
                <pre>&lt;/div&gt;</pre>
            </div>
        </div>
    </div>

    <div class="layouts-row">
        <div class="content-wrapper">
            <h3>Content + RHS</h3>
            <h4>Live example: <a href="/study--majors-minors.html" target="_blank">Study.Monash Majors and Minors page</a></h4>
            <h4>Classes to apply: l--content-rhs</h4>
        </div>
        <div class="content-wrapper bg-white l--content-rhs">
            <div class="content">
                <div class="content-inner__main" style="padding: 0; padding-right: 1.875rem; border: 0; background: none;">
                    <div class="just-for-presentation" style="padding: 1.875rem; padding-top: 0.75rem; padding-right: 0; height: 100%; background: #e6e6e6; border: 1px solid #505050;">
                        Content
                    </div>
                </div>
                <div class="content-inner__rhs" style="padding-left: 20px;">
                    RHS
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="layout-snippet">
                <pre>&lt;div class="content-wrapper bg-white l--content-rhs"&gt;</pre>
                <pre><pre>&lt;div class="content"&gt;</pre></pre>
                <pre><pre><pre>&lt;div class="content-inner__main"&gt;Content&lt;/div&gt;</pre></pre></pre>
                <pre><pre><pre>&lt;div class="content-inner__rhs"&gt;RHS&lt;/div&gt;</pre></pre></pre>
                <pre><pre>&lt;/div&gt;</pre></pre>
                <pre>&lt;/div&gt;</pre>
            </div>
        </div>
    </div>

    <div class="layouts-row">
        <div class="content-wrapper">
            <h3>Full Width + RHS in container</h3>
            <h4>Live example: <a href="/landing-news-events.html" target="_blank">News and Events page</a></h4>
            <h4>Classes to apply: l--content</h4>
        </div>
        <div class="content bg-light-grey l--content" style="padding: 0; border: 0; background: none;">
            <div class="content-wrapper">
                <div class="content" style="border: 1px dashed #3c3c3c; margin: 0;">
                    <div class="content-inner__main" style="padding: 20px;">
                        Content
                    </div>

                    <div class="content-inner__rhs" style="background: none; border: 0;">
                        <div class="just-for-presentation" style="padding: 20px; border: 1px solid #505050; height: 100%; background: #e6e6e6">
                            RHS
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="layout-snippet">
                <pre>&lt;div class="content bg-light-grey l--content"&gt;</pre>
                <pre><pre>&lt;div class="content-wrapper"&gt;</pre></pre>
                <pre><pre><pre>&lt;div class="content"&gt;</pre></pre></pre>
                <pre><pre><pre><pre>&lt;div class="content-inner__main"&gt;Content&lt;/div&gt;</pre></pre></pre></pre>
                <pre><pre><pre><pre>&lt;div class="content-inner__rhs"&gt;RHS&lt;/div&gt;</pre></pre></pre></pre>
                <pre><pre><pre>&lt;/div&gt;</pre></pre></pre>
                <pre><pre>&lt;/div&gt;</pre></pre>
                <pre>&lt;/div&gt;</pre>
            </div>
        </div>
    </div>

    <div class="layouts-row">
        <div class="content-wrapper">
            <h3>Full Width + RHS in container - Study Course Detail page</h3>
            <h4>Live example: <a href="/study--course-detail.html" target="_blank">Study.Monash Course Detail</a></h4>
            <h4>Classes to apply: l--content</h4>
        </div>
        <div class="content bg-light-grey l--content" style="padding: 0; border: 0; background: none;">
            <div class="content-wrapper l--content-rhs-even">
                <div class="content-inner__main" style="padding: 20px;">
                    Content
                </div>
                <div class="content-inner__rhs" style="padding: 20px;">
                    RHS
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="layout-snippet">
                <pre>&lt;div class="content bg-light-grey l--content"&gt;</pre>
                <pre><pre>&lt;div class="content-wrapper l--content-rhs-even"&gt;</pre></pre>
                <pre><pre><pre>&lt;div class="content-inner__main"&gt;Content&lt;/div&gt;</pre></pre></pre>
                <pre><pre><pre>&lt;div class="content-inner__rhs"&gt;RHS&lt;/div&gt;</pre></pre></pre>
                <pre><pre>&lt;/div&gt;</pre></pre>
                <pre>&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
</div>

