<div class="footer-large-info row content-wrapper row wrapper">
    <div class="footer-info__text-block col-xs-12 col-md-12">
        <p class="large-info"> We acknowledge and pay respects to the Elders and Traditionals Owners of the land on which our four Australian campuses stand.<br><br><a href="#" class="large-info___link">Information for Indegenous Australians</a></p>
    </div>
</div>