<div class="footer-info row content-wrapper row bottom-md wrapper">
  <div class="footer-info__text-block col-xs-12 col-md-10">
    <p>
      <small
        >Authorised by: Chief Marketing Officer, Strategic Marketing and
        Communications. Maintained by:
        <a href="http://mon-dev.clients.squiz.net/policy-bank/support-form"
          >Policy Bank Webmaster Team</a
        >. Last updated: Oct 2020.
      </small>
    </p>

    <p>
      <small>
        Copyright © 2020 Monash University. ABN 12 377 614 012
        <a href="https://www.monash.edu/accessibility">Accessibility</a> -
        <a href="https://www.monash.edu/disclaimer-copyright"
          >Disclaimer and copyright</a
        >
        -
        <a href="http://mon-dev.clients.squiz.net/terms-and-conditions"
          >Website terms and conditions</a
        >
        -
        <a href="https://mon-dev.clients.squiz.net/privacy-monash"
          >Data Protection and Privacy Procedure</a
        >
        - <a href="#" onclick="initConsent();">Data Consent Settings</a>, Monash
        University CRICOS Provider Number: 00008C, Monash College CRICOS
        Provider Number: 01857J. Monash University is a registered higher
        education provider under the TEQSA Act 2011.</small
      >
    </p>
  </div>
  <a class="footer-back-to-top" href="#"><span>Back to top</span></a>
  <!-- /.footer-info -->
</div>
