<div id="footer-links" class="row top-xs content-wrapper wrapper footer-links">
    <div class="col-xs-6 col-md-4">
        <div class="footer-links__section footer-links__section--quick-links">
            <h3 class="col-xs-12 footer-links__section-title">Quick links</h3>
            <ul class="footer-nav__list footer-nav__list--quick-links">
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-0101" class="footer-nav__link">Important dates</a>
                </li>
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-0102" class="footer-nav__link">Jobs at Monash</a>
                </li>
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-0103" class="footer-nav__link">Pay online</a>
                </li>
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-0104" class="footer-nav__link">Recruit a student</a>
                </li>
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-0105" class="footer-nav__link">Library</a>
                </li>
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-0106" class="footer-nav__link">Indigenous Australians</a>
                </li>
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-0107" class="footer-nav__link">Maps</a>
                </li>
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-0108" class="footer-nav__link">Monash online</a>
                </li>
            </ul>
        </div>
        <div class="desktop-hidden footer-links__section footer-links__section--utilities">
            <ul class="footer-nav__list">
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-util-0101" class="footer-nav__link">my.monash</a>
                </li>
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-util-0102" class="footer-nav__link">Current students</a>
                </li>
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-util-0103" class="footer-nav__link">Staff</a>
                </li>
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-util-0104" class="footer-nav__link">Library</a>
                </li>
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-util-0105" class="footer-nav__link">Giving to Monash</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6 col-md-8 row top-xs">
        <div class="col-xs-12 col-md-3 top-xs footer-links__section footer-links__section--about">
            <h3 class="col-xs-12 footer-links__section-title">About Monash</h3>
            <ul class="footer-nav__list">
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-0201" class="footer-nav__link">Faculties</a>
                </li>
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-0202" class="footer-nav__link">Campuses</a>
                </li>
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-0203" class="footer-nav__link">A - Z Index</a>
                </li>
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-0204" class="footer-nav__link">Contact Monash</a>
                </li>
                <li class="footer-nav__item">
                   <a href="http://www.monash.edu#footer-nav-0205" class="footer-nav__link">Media releases</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-3 top-xs footer-links__section footer-links__section--sites">
            <h3 class="col-xs-12 footer-links__section-title">On our site</h3>
            <ul class="footer-nav__list">
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-0301" class="footer-nav__link">Current students</a>
                </li>
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-0302" class="footer-nav__link">Staff</a>
                </li>
                <li class="footer-nav__item">
                    <a href="http://www.monash.edu#footer-nav-0303" class="footer-nav__link">Sitemap</a>
                </li>
            </ul>
        </div>

        {% include "./_social-media.html"%}

        <div class="footer-links__section footer-links__section--member col-md-2 col-md-offset-1 top-xs col-xs-12">
            <h3 class="footer-links__section-title col-xs-12">A member of</h3>
            <ul class="footer-nav__list">
                <li class="footer-nav__item">
                    <a href="#" class="col-xs-12 footer-links__logo-link"><span class="visuallyhidden">Group of Eight Australia</span><img src="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/go8_logo_mono.svg" class="footer-links__logo" alt="Group of Eight Australia logo"></a>
                </li>
            </ul>
        </div>
    </div>
</div>


