<div class="col-xs-12 col-md-3 top-xs footer-links__section footer-links__section--social">
    <ul class="footer-social-media__links">
        <li>
            <a href="#"><svg role="img">
                    <!-- <use class="icon icon_1" xlink:href="/assets/images/icon-spritesheet.svg#social-facebook"></use> -->
                    <use class="icon icon_1" xlink:href="https://www.monash.edu/__data/assets/file/0006/2321970/icon-spritesheet.svg#social-facebook"></use>
                </svg></a>
        </li>
        <li><a href="#"><svg role="img">
                    <!-- <use class="icon" xlink:href="/assets/images/icon-spritesheet.svg#social-twitter"></use> -->
                    <use class="icon" xlink:href="https://www.monash.edu/__data/assets/file/0006/2321970/icon-spritesheet.svg#social-twitter"></use>
                </svg></a></li>
        <li><a href="#"><svg role="img">
                    <!-- <use class="icon" xlink:href="/assets/images/icon-spritesheet.svg#social-instagram"></use> -->
                    <use class="icon" xlink:href="https://www.monash.edu/__data/assets/file/0006/2321970/icon-spritesheet.svg#social-instagram"></use>
                </svg></a></li>
        <li><a href="#"><svg role="img">
                    <!-- <use class="icon" xlink:href="/assets/images/icon-spritesheet.svg#social-linkedin"></use> -->
                    <use class="icon" xlink:href="https://www.monash.edu/__data/assets/file/0006/2321970/icon-spritesheet.svg#social-linkedin"></use>
                </svg></a>
        </li>
    </ul>
</div>