<!-- Default Banner -->
<div id="banner-default" class="banner banner-search">
  <div class="banner__image--wrapper">
    <img src="https://www.monash.edu/__data/assets/image/0010/2309968/banner_2400x900.jpg" alt=""
      class="banner__image" />
  </div>
  <div class="banner__inner">
    <div class="content-wrapper">
      <div class="banner__contents">
        <div class="banner__contents-inner">
          <h2 class="banner__heading">Policy Bank</h2>

          <p class="banner__description">
            University's approved policies, procedures, schedules and associated
            templates
          </p>
          <!-- /.banner__contents-inner -->
        </div>
        <form method="get"
          action="https://www.monash.edu/policy-bank/redesign/search-assets-for-dev/search-results-dynamic/_nocache?SQ_DESIGN_NAME=mango-new"
          id="banner-search__form" class="banner-search__input-wrapper">
          <input type="text" placeholder="Search all policies and procedures"
            class="banner-search__input policy-search-query" name="query" />
          <input type="text" class="visuallyhidden hidden" value="mango-new" name="SQ_DESIGN_NAME" />
          <div class="banner-search__dropdown">
            <p>Popular searches</p>
            <ul>
              <li>
                <a href="https://www.google.com" target="_new" rel="noreferrer noopener">Employment entitlements</a>
              </li>
              <li>
                <a href="https://www.google.com" target="_new" rel="noreferrer noopener">Research</a>
              </li>
              <li>
                <a href="https://www.google.com" target="_new" rel="noreferrer noopener">Employment</a>
              </li>
            </ul>
          </div>
          <button class="header-row__search-icon banner-search__icon">
            <span class="visuallyhidden">Search policies and procedures</span>
            <span
              class="hidden visuallyhidden banner-search__destination">https://www.monash.edu/policy-bank/redesign/search-assets-for-dev/search-results-dynamic/_nocache?SQ_DESIGN_NAME=mango-new</span>
          </button>
        </form>
        <!-- /.banner__contents -->
      </div>
    </div>


    {% include "../../animated-m/html/animated-m.html" %}
    <!-- /.page-wrapper -->
  </div>
  <!-- /.banner -->
</div>

<!-- BANNER FULL WIDTH CTA -->

<div class="banner banner-full-width banner-full-width--cta">
  <div class="user-def-palette--bg-black banner-wrapper-full-width">
    <!--Avoid print link if there is no link added-->
    <a href="https://www.monash.edu/policy-bank/redesign/banner-search" class="banner__link">
      <div class="banner__image--wrapper">
        <img src="https://www.monash.edu/__data/assets/image/0010/2309968/banner_2400x900.jpg" alt=""
          class="banner__image banner__image-full-width">
      </div>
      <div class="banner__contents banner__contents-full-width banner__contents--cta content-wrapper">
        <div class="banner__contents-inner">
          <h2 class="banner__heading user-def-palette--text-black">Policy Bank</h2>
          <p class="banner__description user-def-palette--text-black">University's approved policies, procedures,
            schedules and associated templates</p>
          <span class="btn btn--blue">Find out more</span>
          <!-- /.banner__contents-inner -->
        </div>
        {% include "../../animated-m/html/animated-m.html" %}
        <!-- /.banner__contents -->
      </div>

    </a>
    <!-- /.page-wrapper -->
  </div>
  <!-- /.banner -->
</div>

<!-- BANNER FULL WIDTH CTA with dark overlay -->

<div class="banner banner-full-width banner-full-width--cta">
  <div class="user-def-palette--bg-black banner-wrapper-full-width">
    <!--Avoid print link if there is no link added-->
    <a href="https://www.monash.edu/policy-bank/redesign/banner-search" class="banner__link">
      <div class="banner__image--wrapper">
        <span class="banner__image--overlay"></span>
        <img src="https://www.monash.edu/__data/assets/image/0010/2309968/banner_2400x900.jpg" alt=""
          class="banner__image banner__image-full-width">
      </div>
      <div class="banner__contents banner__contents-full-width banner__contents--cta content-wrapper">
        <div class="banner__contents-inner">
          <h2 class="banner__heading user-def-palette--text-white">Policy Bank</h2>
          <p class="banner__description user-def-palette--text-white">University's approved policies, procedures,
            schedules and associated templates</p>
          <span class="btn btn--blue">Find out more</span>
          <!-- /.banner__contents-inner -->
        </div>
        {% include "../../animated-m/html/animated-m.html" %}
        <!-- /.banner__contents -->
      </div>

    </a>
    <!-- /.page-wrapper -->
  </div>
  <!-- /.banner -->
</div>

<!-- BANNER FULL WIDTH CURRENT -->
<!--
<div class="banner banner-full-width">
  <div class="page-wrapper user-def-palette--bg-black banner-wrapper-full-width">
    <a href="https://www.monash.edu/policy-bank/redesign/banner-search" class="banner__link">
      <img src="https://www.monash.edu/__data/assets/image/0010/2309968/banner_2400x900.jpg" alt=""
        class="banner__image banner__image-full-width">
      <div class="banner__contents banner__contents-full-width banner__contents--cta content-wrapper">
        <div class="banner__contents-inner">
          <h2 class="banner__heading user-def-palette--text-black">Policy Bank</h2>
          <p class="banner__description user-def-palette--text-black">University's approved policies, procedures,
            schedules and associated templates</p>
          <span class="btn btn--blue">Find out more</span>
        </div>
      </div>
    </a>
  </div>
</div>
-->

<!-- BANNER FULL WIDTH VIDEO -->

<div class="banner banner-full-width banner-full-width--cta">
  <div class="banner-wrapper-full-width">
    <a href="https://www.youtube.com/watch?v=oD6_oSZJCvg" class="banner__link banner__video-link"
      data-fallback-href="https://player.youku.com/embed/">
      <div class="banner__image--wrapper">
        <span class="banner__image--overlay"></span>
        <img src="https://www.monash.edu/__data/assets/image/0010/1988056/banner-2194x550.jpg" alt=""
          class="banner__image banner__image-full-width">
      </div>
      <div class="banner__contents banner__contents-full-width banner__contents--cta content-wrapper">
        <div class="banner__contents-inner">
          <h2 class="banner__heading user-def-palette--text-white">Heading</h2>
          <p class="banner__description user-def-palette--text-white">Description text</p>
          <span class="btn btn--blue banner__video-btn">Play video
            <svg role="img">
              <use class="icon" xlink:href="/assets/images/icon-spritesheet.svg#play-2"></use>
              <!-- /__data/assets/file/0006/2321970/icon-spritesheet.svg#play-2 -->
            </svg>
          </span>
          <!-- /.banner__contents-inner -->
        </div>
        {% include "../../animated-m/html/animated-m.html" %}
        <!-- /.banner__contents -->
      </div>
    </a>
    <!-- /.page-wrapper -->
  </div>
  <!-- /.banner -->
</div>

<!-- BANNER VIDEO ORIGINAL -->

<div class="banner">
  <div class="page-wrapper">
    <a href="https://www.youtube.com/watch?v=oD6_oSZJCvg" class="banner__link banner__video-link"
      data-fallback-href="https://player.youku.com/embed/">
      <img src="https://www.monash.edu/__data/assets/image/0010/1988056/banner-2194x550.jpg" alt=""
        class="banner__image">
      <div class="banner__contents">
        <div class="banner__contents-inner">
          <h2 class="banner__heading user-def-palette--text-white">Heading</h2>
          <p class="banner__description user-def-palette--text-white">Description text</p>
          <!-- /.banner__contents-inner -->
        </div>
        <!-- /.banner__contents -->
      </div>
    </a>
    <!-- /.page-wrapper -->
  </div>
  <!-- /.banner -->
</div>