<div class="sq-form-question sq-form-question-text ">
    <label class="sq-form-question-title" for="news_item_0_1528">Article Summary</label>
    <div class="sq-form-question-answer">
        <textarea class="sq-form-field js-cust-wysiwyg" rows="5" data-icons-url="mysource_files/icons.svg" id="news_item_0_1528" name="news_item_0_1528"></textarea>
    </div>
</div>

<div class="sq-form-question sq-form-question-text ">
    <label class="sq-form-question-title" for="news_item_0_1529">Article Summary</label>
    <div class="sq-form-question-answer">
        <textarea class="sq-form-field js-cust-wysiwyg" rows="5" data-icons-url="mysource_files/icons.svg" id="news_item_0_1529" name="news_item_0_1529"></textarea>
    </div>
</div>

