.slider-loaded-content {
    overflow:   hidden;
    width:      100%;

    .slideItem {
        left:           0;
        position:       relative;
        transition:     all .5s linear 0s;
        width:          100%;

        &.out {
            left:       -100%;
        }
    }

    .slide-back {
        background:         transparent;
        border:             0;
        color:              $base-monash-blue;
        font-weight:        $font-light;
        margin:             pxToRem(8) pxToRem(1) pxToRem(1);
        outline:            0;
        padding:            0;
        text-decoration:    underline;

        &:hover {
            text-decoration: none;
        }

        &:focus {
            outline: thin dotted;
        }
    }
}

.detail-slider-preloader {
    @include          sq-box-shadow($base-medium-grey);
    @include          sq-box-shadow(0 0 5px rgba(0, 0, 0, 0.7));
    @include          sq-border-radius(20px);
    background-color: $white;
    display:          none;
    height:           85px;
    left:             50%;
    margin:           -40px 0 0 -40px;
    padding:          20px;
    position:         fixed;
    top:              50%;
    z-index:          5000;

    &.loading {
        display:    block;
    }
}
