.cards-grid > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 0;
}

.card-item + .card {
  margin-top: 1.5rem;
}

.card {
  border-radius: 0rem;
  border: none;
  flex-direction: unset;
  position: relative;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  width: 100%;

  a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    text-decoration: none;
    width: 100%;
    transition: all 0.25s ease-in-out;

    &:hover,
    &:focus {
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }
  .icon {
    width: 60px;
    margin: 20px 20px 20px 0;
    text-align: right;
    &.black {
      filter: brightness(0);
    }
    img {
      max-width: 2.5rem;
      max-height: 2.5rem;
      @include media-query('wide') {
        max-width: 50px;
        max-height: none;
      }
    }
  }

  &.width-25,
  &.width-33,
  &.width-50 {
    margin-right: 0;
    width: 100%;
  }

  &.width-25 {
    @include media-query('medium') {
      width: 49%;
      margin-right: 1%;
    }

    @include media-query('wide') {
      width: 24%;
    }
    &.width-25:nth-child(even) {
      @include media-query('medium') {
        margin-right: 0;
      }
      @include media-query('wide') {
        margin-right: 1%;
      }
    }

    &.width-25:nth-child(4n) {
      margin-right: 0;
    }
  }

  &.width-33 {
    @include media-query('medium') {
      width: 32.5%;
    }
  }

  &.width-33 {
    @include media-query('medium') {
      margin-right: 1%;
    }
    &.width-33:nth-child(3n) {
      margin-right: 0;
    }
  }

  &.width-50 {
    @include media-query('medium') {
      width: 48.2%;
    }
    @include media-query('wide') {
      width: 48.2%;
    }
  }
  &.width-50:nth-child(even) {
    margin-right: 0;
  }
  &.width-50:nth-child(odd) {
    @include media-query('medium') {
      margin-right: 2%;
    }
  }
  &.width-100 {
    width: 100%;
  }
}

.card .text {
  font-size: 0.9rem;
  padding: 1.5rem;
  flex-grow: 1;

  h3 {
    margin-top: 0;
  }
}

.card a {
  outline: none;
}

.card h3 {
  margin: 0;
}

.card a h3 {
  text-decoration: none;
  color: $base-monash-blue;
}

.card h3 a:focus {
  text-decoration: underline;
}

.card:focus-within h3 a:focus {
  text-decoration: none;
}

.card .text > * + * {
  margin-top: 0.75rem;
}

.card .text > :nth-last-child(3) {
  margin-bottom: 0.75rem;
}
