$tab-active-colour: #eee;

.accordion {

    + .accordion {
        margin-top: pxToRem(30);
    }

    .panel {
        margin-bottom: 1px;
    }
    // scss-lint:disable SelectorFormat
    .accTitle {
    // scss-lint:enable SelectorFormat
        background:  $base-light-grey;
        font-family: $font-family__sans;
        margin:      0;

        a {
            color:           $base-light-charcoal;
            display:         block;
            font-size:       pxToRem(15);
            font-weight:     $font-bold;
            line-height:     1.4;
            padding:         pxToRem(17) pxToRem(50) pxToRem(17) pxToRem(15);
            position:        relative;
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                color:           $base-monash-blue;
                text-decoration: none;
            }
        }

        a::after {
            @include sq-inline-block();
            @include sq-sprite-bg(.5);
            @include sq-sprite(angle-right, .5);
            @include set-position(absolute, null, null, pxToRem(30));
            content: '';
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        &.uber-accordion__button-active {
            a {
                color: $base-monash-blue;
            }

            > a::after {
                @include sq-sprite(angle-down, .5);
                right: pxToRem(28);
            }
        }
    }
    // scss-lint:disable SelectorFormat
    .accContent {
    // scss-lint:enable SelectorFormat
        @include sq-transition(max-height .3s ease);
        // scss-lint:disable ImportantRule
        display:    block !important;
        // scss-lint:enable ImportantRule
        max-height: 0;
        overflow:   hidden;
        padding:    0 pxToRem(15);

        p {
            margin-bottom: 0;
        }

        &::after {
            content: ' ';
            display: block;
            height:  pxToRem(25);
        }
    }

    .accordion__item-heading--active {
        // scss-lint:disable SelectorFormat
        //
        > .accContent {
            max-height: 9999em;
        }
        // scss-lint:enable SelectorFormat
    }
}

.tabs,
.search-tabs {
    margin-bottom: 1rem;

    &__tab-list {
        @include sq-flex-box();
    }

    &__item {
        @include                sq-flex-box();
        @include                sq-flex(1);
        @include                sq-flex-direction(column);
        margin-right:           pxToRem(1);
        text-align:             center;

        &:last-child {
            margin-right: 0;
        }
    }

    // .bottom-tabs refers to tabs used on course-details page
    .bottom-tabs &__item {
        @include sq-flex(0 0 auto);
        margin-bottom:          0;
        white-space:            nowrap;
    }

    .bottom-tabs &__tab-list {
        border-bottom:      1px solid $base-light-charcoal;
        margin-bottom:      .5rem;
    }

    .bottom-tabs &__target {
        padding:                0;
    }

    &__target {
        display: none;
        padding: 0 pxToRem(20);

        &.uber-accordion__target-active {
            display: block;
        }

        p {
            margin-bottom: 0;
        }
    }

    &__link {
        @include           sq-transition(all .3s ease);
        @include           sq-flex-grow(1);
        background:        $base-light-grey;
        color:             $base-light-charcoal;
        display:           block;
        padding:           pxToRem(14) pxToRem(20);
        text-decoration:   none;

        &:hover,
        &:focus,
        &:active {
            color:           $base-monash-blue;
            text-decoration: none;
        }

        &.uber-accordion__button-active {
            background: $tab-active-colour;
            color:      $base-monash-blue;
        }
    }
 }
