.accordion {
    // scss-lint:disable SelectorFormat
    .accTitle {
    // scss-lint:enable SelectorFormat
        a {
            font-size:  pxToRem(16);
            padding:    pxToRem(14) pxToRem(35) pxToRem(14) pxToRem(20);
        }

        a::after {
            right: pxToRem(15);
        }

        &.uber-accordion__button-active {
            > a::after {
                right: pxToRem(13);
            }
        }
    }
    // scss-lint:disable SelectorFormat
    .accContent {
    // scss-lint:enable SelectorFormat
        padding: 0 pxToRem(20);

        &::after {
            height: pxToRem(35);
        }
    }
}
