<nav class="breadcrumbs mobile-hidden" id="breadcrumbs">
    <p id="breadcrumb__label" class="visuallyhidden">You are here:</p>
    <ul class="breadcrumbs__list" aria-labelledby="breadcrumb__label">
        <li class="breadcrumbs__item">
            <a href="" class="breadcrumbs__link">Home</a>
            <span class="breadcrumbs__divider" aria-hidden="true">|<span>
        </li>
        <li class="breadcrumbs__item">
            <a href="" class="breadcrumbs__link">Suite</a>
            <span class="breadcrumbs__divider" aria-hidden="true">|<span>
        </li>
        <li class="breadcrumbs__item breadcrumbs__current">Matrix</li>
    </ul>
</nav>
