$ical-background: #ddd;
$ical-border:     #555;

.event-post-tools {
    position: relative;

    &__ical-link {
        background-color: $ical-background;
        border:           pxToRem(1) solid $ical-border;
        border-radius:    pxToRem(2);
        font-size:        pxToRem(14);
        height:           pxToRem(24);
        line-height:      1.714;
        padding:          0 pxToRem(5) 0 0;
        position:         absolute;
        right:            0;
        top:              0;
    }

    &__ical-icon {
        margin: pxToRem(4) 0 0 pxToRem(6);
    }
}

.event-details {
    dt {
        clear:       left;
        float:       left;
        font-weight: $font-bold;
    }

    dd {
        clear:  right;
        margin: pxToRem(15) 0 pxToRem(15) pxToRem(152);
    }
}

