<div class="gallery-slick-slideshow popup__gallery">
    <div class="gallery-slick-slideshow__slide">
        <a href="{{file_dest}}/zz-box-featured-magazine.jpg" title="Lorem ipsum dolor sit amet">
            <img src="{{file_dest}}/zz-box-featured-magazine.jpg" alt="text" />
            <div class="gallery-slick-slideshow__summary">
                <span>Lorem ipsum dolor sit amet</span>
            </div>
            <span class="gallery-slick-slideshow__overlay"></span>
        </a>
    </div>
    <div class="gallery-slick-slideshow__slide">
        <a href="{{file_dest}}/zz-box-featured-locations.jpg">
            <img src="{{file_dest}}/zz-box-featured-locations.jpg" alt="text" />
            <div class="gallery-slick-slideshow__summary">
                <span>Lorem ipsum dolor sit amet orem ipsum dolor sit amet</span>
            </div>
            <span class="gallery-slick-slideshow__overlay"></span>
        </a>
    </div>
    <div class="gallery-slick-slideshow__slide">
        <a href="{{file_dest}}/zz-box-featured-magazine.jpg">
            <img src="{{file_dest}}/zz-box-featured-magazine.jpg" alt="text" />
            <div class="gallery-slick-slideshow__summary">
                <span>Lorem ipsum dolor sit amet orem ipsum dolor sit amet</span>
            </div>
            <span class="gallery-slick-slideshow__overlay"></span>
        </a>
    </div>
    <div class="gallery-slick-slideshow__slide">
        <a href="{{file_dest}}/zz-box-featured-locations.jpg">
            <img src="{{file_dest}}/zz-box-featured-locations.jpg" alt="text" />
            <div class="gallery-slick-slideshow__summary">
                <span>Lorem ipsum dolor sit amet</span>
            </div>
            <span class="gallery-slick-slideshow__overlay"></span>
        </a>
    </div>
    <div class="gallery-slick-slideshow__slide">
        <a href="{{file_dest}}/zz-box-featured-magazine.jpg">
            <img src="{{file_dest}}/zz-box-featured-magazine.jpg" alt="text" />
            <div class="gallery-slick-slideshow__summary">
                <span>Lorem ipsum dolor sit amet</span>
            </div>
            <span class="gallery-slick-slideshow__overlay"></span>
        </a>
    </div>
    <div class="gallery-slick-slideshow__slide">
        <a href="{{file_dest}}/zz-box-featured-locations.jpg">
            <img src="{{file_dest}}/zz-box-featured-locations.jpg" alt="text" />
            <div class="gallery-slick-slideshow__summary">
                <span>Lorem ipsum dolor sit amet orem ipsum dolor sit amet</span>
            </div>
            <span class="gallery-slick-slideshow__overlay"></span>
        </a>
    </div>
</div>

<div class="gallery-slick-slideshow popup__video">
    <div class="gallery-slick-slideshow__slide">
        <a href="https://www.youtube.com/watch?v=QyhZFM3H4Yg&list=PLjZkU1vM_0aUz2vfbs3_N2yv0CLcPwkqR">
            <img src="{{file_dest}}/zz-box-featured-magazine.jpg" alt="text" />
            <div class="gallery-slick-slideshow__summary">
                <span>Lorem ipsum dolor sit amet</span>
            </div>
            <span class="gallery-slick-slideshow__overlay"></span>
        </a>
    </div>
    <div class="gallery-slick-slideshow__slide">
        <a href="https://www.youtube.com/watch?v=Dfl4mqaMEaw">
            <img src="{{file_dest}}/zz-box-featured-locations.jpg" alt="text" />
            <div class="gallery-slick-slideshow__summary">
                <span>Lorem ipsum dolor sit amet orem ipsum dolor sit amet</span>
            </div>
            <span class="gallery-slick-slideshow__overlay"></span>
        </a>
    </div>
    <div class="gallery-slick-slideshow__slide">
        <a href="https://vimeo.com/254793555">
            <img src="{{file_dest}}/zz-box-featured-magazine.jpg" alt="text" />
            <div class="gallery-slick-slideshow__summary">
                <span>Lorem ipsum dolor sit amet orem ipsum dolor sit amet</span>
            </div>
            <span class="gallery-slick-slideshow__overlay"></span>
        </a>
    </div>
    <div class="gallery-slick-slideshow__slide">
        <a href="http://vimeo.com/89458348">
            <img src="{{file_dest}}/zz-box-featured-locations.jpg" alt="text" />
            <div class="gallery-slick-slideshow__summary">
                <span>Lorem ipsum dolor sit amet</span>
            </div>
            <span class="gallery-slick-slideshow__overlay"></span>
        </a>
    </div>
    <div class="gallery-slick-slideshow__slide">
        <a href="http://vimeo.com/89458348">
            <img src="{{file_dest}}/zz-box-featured-magazine.jpg" alt="text" />
            <div class="gallery-slick-slideshow__summary">
                <span>Lorem ipsum dolor sit amet</span>
            </div>
            <span class="gallery-slick-slideshow__overlay"></span>
        </a>
    </div>
    <div class="gallery-slick-slideshow__slide">
        <a href="http://vimeo.com/89458348">
            <img src="{{file_dest}}/zz-box-featured-locations.jpg" alt="text" />
            <div class="gallery-slick-slideshow__summary">
                <span>Lorem ipsum dolor sit amet orem ipsum dolor sit amet</span>
            </div>
            <span class="gallery-slick-slideshow__overlay"></span>
        </a>
    </div>
</div>