.social-media-share {
    @include    sq-flex-box();
    background: $base-light-grey;
    padding:    .7rem pxToRem(7);

    &:focus,
    &:active {
        outline: none;
    }
}

[class*="addthis_button_"] {
    @include         sq-sprite-bg($sprites__scale--addthis);
    display:         block;
    margin-left:     pxToRem(6);
    max-height:      pxToRem(23);
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        color:   $white;
        opacity: .75;
    }

    .at-icon-wrapper {
        display: none;
    }
}

.addthis_button {

    &_facebook {
        @include sq-sprite(facebook-boxed-lc, $sprites__scale--addthis);
    }

    &_twitter {
        @include sq-sprite(twitter-boxed-lc, $sprites__scale--addthis);
    }

    &_linkedin {
        @include sq-sprite(linkedin-lc, $sprites__scale--addthis);
    }

    &_google_plusone_share {
        @include sq-sprite(googleplus-boxed-lc, $sprites__scale--addthis);
    }

    &_baidu {
        @include sq-sprite(baidu-boxed-lc, $sprites__scale--addthis);
    }

    &_email {
        @include sq-sprite(email-boxed-lc, $sprites__scale--addthis);
    }

    &_print {
        @include sq-sprite(print-boxed-lc, $sprites__scale--addthis);
    }

    &_compact {
        background-color: $base-light-charcoal;
        background-image: none;
        border-radius:    3px;
        color:            $white;
        font-size:        pxToRem(11);
        font-weight:      300;
        padding:          .25rem .5rem;
        text-transform:   uppercase;
    }
}
