<div class="social-media-feed bg-light-grey top-gap--standard">
    <h2 class="social-media-feed-listing__heading">Keeping you in the know across our social media platforms</h2>
    <div class="content-wrapper">
        <div class="social-media-feed-listing js-masonry-enabled clearfix" role="list" id="social-media-feed-listing-qa">
            <div role="listitem" class="social-media-feed-box__wrapper">
                <div class="social-media-feed-box social-media-feed-box--instagram">
                    <a href="https://www.instagram.com/p/BAa7piLzEgi/?taken-by=monash_uni" title="Instagram: Tuesday, 12 January, 2016 at 12:37pm" class="social-media-feed-box__link">
                        <h3 class="social-media-feed-box__heading"><span class="social-media-feed-box__heading--icon-wrapper"><span class="social-media-feed-box__heading--icon">Instagram</span></span>monash_uni</h3>
                        <div class="social-media-feed-box__thumb">
                            <img src="{{file_dest}}/zz-social-media-feed-instagram-01.jpg" alt="Image from Instagram." class="social-media-feed-box__thumb-image" />
                            <!-- /.social-media-feed-box__thumb -->
                        </div>
                        <div class="social-media-feed-box__blurb">
                            <p>We&rsquo;re spotting some intriguing artwork on our campuses! Build Unbuilt Unbuildable takes inspiration from the &lsquo;bucky ball&rsquo; carbon molecule which is one of the most stable molecules in the world. Located right ouside the Green Chemical Futures building at Clayton campus.</p>
                            <!-- /.social-media-feed-box__blurb -->
                        </div>
                        <div class="social-media-feed-box__stats">
                            <span class="social-media-feed-box__stats-like">198<span class="visuallyhidden"> Likes</span></span>
                            <span class="social-media-feed-box__stats-comments">21<span class="visuallyhidden"> Comments</span></span>
                            <button type="button" class="social-media-feed-box__stats-other">Other Stats</button>
                            <!-- /.social-media-feed-box__stats -->
                        </div>
                    </a>
                    <!-- /.social-media-feed-box -->
                </div>
                <!-- /.social-media-feed-box__wrapper -->
            </div>
            <div role="listitem" class="social-media-feed-box__wrapper">
                <div class="social-media-feed-box social-media-feed-box--twitter">
                    <a href="https://twitter.com/MonashUni/status/697201077503053824" title="Twitter: Tuesday, 9 February, 2016 at 3:31pm" class="social-media-feed-box__link">
                        <h3 class="social-media-feed-box__heading"><span class="social-media-feed-box__heading--icon-wrapper"><span class="social-media-feed-box__heading--icon">Twitter</span></span>@MonashUni</h3>
                        <div class="social-media-feed-box__blurb">
                            <p>The first Biomedicine Discovery Lecture for 2016 will feature Nobel Laureate Prof Tom Cech. http://mona.sh/Y3EUd cc @Monash_FMNHS</p>
                            <!-- /.social-media-feed-box__blurb -->
                        </div>
                        <div class="social-media-feed-box__stats">
                            <span class="social-media-feed-box__stats-like">44<span class="visuallyhidden"> Likes</span></span>
                            <span class="social-media-feed-box__stats-comments">9<span class="visuallyhidden"> Comments</span></span>
                            <button type="button" class="social-media-feed-box__stats-other">Other Stats</button>
                            <!-- /.social-media-feed-box__stats -->
                        </div>
                    </a>
                    <!-- /.social-media-feed-box -->
                </div>
                <!-- /.social-media-feed-box__wrapper -->
            </div>
            <div role="listitem" class="social-media-feed-box__wrapper">
                <div class="social-media-feed-box social-media-feed-box--instagram">
                    <a href="https://www.instagram.com/p/BDpAF-wTEnt/?taken-by=monash_uni" title="Instagram: Friday, 29 April, 2016 at 1:24pm" class="social-media-feed-box__link">
                        <h3 class="social-media-feed-box__heading"><span class="social-media-feed-box__heading--icon-wrapper"><span class="social-media-feed-box__heading--icon">Instagram</span></span>monash_uni</h3>
                        <div class="social-media-feed-box__thumb">
                            <img src="{{file_dest}}/squiz-easter-egg.jpg" alt="It&rsquo;s Miguel!" class="social-media-feed-box__thumb-image" />
                            <!-- /.social-media-feed-box__thumb -->
                        </div>
                        <div class="social-media-feed-box__blurb">
                            <p>Squiz says hello!</p>
                            <!-- /.social-media-feed-box__blurb -->
                        </div>
                        <div class="social-media-feed-box__stats">
                            <span class="social-media-feed-box__stats-like">10<span class="visuallyhidden"> Likes</span></span>
                            <span class="social-media-feed-box__stats-comments">1<span class="visuallyhidden"> Comments</span></span>
                            <button type="button" class="social-media-feed-box__stats-other">Other Stats</button>
                            <!-- /.social-media-feed-box__stats -->
                        </div>
                    </a>
                    <!-- /.social-media-feed-box -->
                </div>
                <!-- /.social-media-feed-box__wrapper -->
            </div>
            <div role="listitem" class="social-media-feed-box__wrapper">
                <div class="social-media-feed-box social-media-feed-box--twitter">
                    <a href="https://twitter.com/MonashUni/status/697201077503053824" title="Twitter: Tuesday, 9 February, 2016 at 3:31pm" class="social-media-feed-box__link">
                        <h3 class="social-media-feed-box__heading"><span class="social-media-feed-box__heading--icon-wrapper"><span class="social-media-feed-box__heading--icon">Twitter</span></span>@MonashUni</h3>
                        <div class="social-media-feed-box__blurb">
                            <p>The first Biomedicine Discovery Lecture for 2016 will feature Nobel Laureate Prof Tom Cech. http://mona.sh/Y3EUd cc @Monash_FMNHS</p>
                            <!-- /.social-media-feed-box__blurb -->
                        </div>
                        <div class="social-media-feed-box__stats">
                            <span class="social-media-feed-box__stats-like">44<span class="visuallyhidden"> Likes</span></span>
                            <span class="social-media-feed-box__stats-comments">9<span class="visuallyhidden"> Comments</span></span>
                            <button type="button" class="social-media-feed-box__stats-other">Other Stats</button>
                            <!-- /.social-media-feed-box__stats -->
                        </div>
                    </a>
                    <!-- /.social-media-feed-box -->
                </div>
                <!-- /.social-media-feed-box__wrapper -->
            </div>
            <div role="listitem" class="social-media-feed-box__wrapper">
                <div class="social-media-feed-box social-media-feed-box--facebook">
                    <a href="https://www.facebook.com/Monash.University/photos/a.283766038936.140328.59024478936/10153630449723937" title="Facebook: Tuesday, 12 January, 2016 at 12:37pm" class="social-media-feed-box__link">
                        <h3 class="social-media-feed-box__heading"><span class="social-media-feed-box__heading--icon-wrapper"><span class="social-media-feed-box__heading--icon">Facebook</span></span>Monash University</h3>
                        <div class="social-media-feed-box__thumb">
                            <img src="{{file_dest}}/zz-social-media-feed-facebook-02.jpg" alt="Image from Instagram." class="social-media-feed-box__thumb-image" />
                            <!-- /.social-media-feed-box__thumb -->
                        </div>
                        <div class="social-media-feed-box__blurb">
                            <p>Wishing you a great mid-semester break. We hope you find at least a little study down-time to enjoy some chocolate and Easter festivities!</p>
                            <!-- /.social-media-feed-box__blurb -->
                        </div>
                        <div class="social-media-feed-box__stats">
                            <span class="social-media-feed-box__stats-like">634<span class="visuallyhidden"> Likes</span></span>
                            <span class="social-media-feed-box__stats-comments">13<span class="visuallyhidden"> Comments</span></span>
                            <button type="button" class="social-media-feed-box__stats-other">Other Stats</button>
                            <!-- /.social-media-feed-box__stats -->
                        </div>
                    </a>
                    <!-- /.social-media-feed-box -->
                </div>
                <!-- /.social-media-feed-box__wrapper -->
            </div>
            <div role="listitem" class="social-media-feed-box__wrapper">
                <div class="social-media-feed-box social-media-feed-box--twitter">
                    <a href="https://twitter.com/MonashUni/status/697201077503053824" title="Twitter: Tuesday, 9 February, 2016 at 3:31pm" class="social-media-feed-box__link">
                        <h3 class="social-media-feed-box__heading"><span class="social-media-feed-box__heading--icon-wrapper"><span class="social-media-feed-box__heading--icon">Twitter</span></span>@MonashUni</h3>
                        <div class="social-media-feed-box__blurb">
                            <p>The first Biomedicine Discovery Lecture for 2016 will feature Nobel Laureate Prof Tom Cech. http://mona.sh/Y3EUd cc @Monash_FMNHS</p>
                            <!-- /.social-media-feed-box__blurb -->
                        </div>
                        <div class="social-media-feed-box__stats">
                            <span class="social-media-feed-box__stats-like">44<span class="visuallyhidden"> Likes</span></span>
                            <span class="social-media-feed-box__stats-comments">9<span class="visuallyhidden"> Comments</span></span>
                            <button type="button" class="social-media-feed-box__stats-other">Other Stats</button>
                            <!-- /.social-media-feed-box__stats -->
                        </div>
                    </a>
                    <!-- /.social-media-feed-box -->
                </div>
                <!-- /.social-media-feed-box__wrapper -->
            </div>
            <div role="listitem" class="social-media-feed-box__wrapper">
                <div class="social-media-feed-box social-media-feed-box--twitter">
                    <a href="https://twitter.com/MonashUni/status/696907657182060544" title="Twitter: Monday, 8 February, 2016 at 8:05pm" class="social-media-feed-box__link">
                        <h3 class="social-media-feed-box__heading"><span class="social-media-feed-box__heading--icon-wrapper"><span class="social-media-feed-box__heading--icon">Twitter</span></span>@MonashUni</h3>
                        <div class="social-media-feed-box__blurb">
                            <p>Monash Publishing @MonashPub first catalogue for 2016 is available: http://mona.sh/Y3B0y</p>
                            <!-- /.social-media-feed-box__blurb -->
                        </div>
                        <div class="social-media-feed-box__stats">
                            <span class="social-media-feed-box__stats-like">73<span class="visuallyhidden"> Likes</span></span>
                            <span class="social-media-feed-box__stats-comments">11<span class="visuallyhidden"> Comments</span></span>
                            <button type="button" class="social-media-feed-box__stats-other">Other Stats</button>
                            <!-- /.social-media-feed-box__stats -->
                        </div>
                    </a>
                    <!-- /.social-media-feed-box -->
                </div>
                <!-- /.social-media-feed-box__wrapper -->
            </div>
            <div role="listitem" class="social-media-feed-box__wrapper">
                <div class="social-media-feed-box social-media-feed-box--facebook">
                    <a href="#" title="Twitter: Tuesday, 9 February, 2016 at 2:10pm" class="social-media-feed-box__link">
                        <h3 class="social-media-feed-box__heading"><span class="social-media-feed-box__heading--icon-wrapper"><span class="social-media-feed-box__heading--icon">Facebook</span></span>Monash University</h3>
                        <div class="social-media-feed-box__thumb">
                            <img src="{{file_dest}}/zz-social-media-feed-facebook-03.jpg" alt="Image from Instagram." class="social-media-feed-box__thumb-image" />
                            <!-- /.social-media-feed-box__thumb -->
                        </div>
                        <div class="social-media-feed-box__blurb">
                            <p>Damming northern Australia: we need to learn hard lessons from the south via @ConversationEDU http://mona.sh/Y8Mc1</p>
                            <!-- /.social-media-feed-box__blurb -->
                        </div>
                        <div class="social-media-feed-box__stats">
                            <span class="social-media-feed-box__stats-like">20<span class="visuallyhidden"> Likes</span></span>
                            <span class="social-media-feed-box__stats-comments">3<span class="visuallyhidden"> Comments</span></span>
                            <button type="button" class="social-media-feed-box__stats-other">Other Stats</button>
                            <!-- /.social-media-feed-box__stats -->
                        </div>
                    </a>
                    <!-- /.social-media-feed-box -->
                </div>
                <!-- /.social-media-feed-box__wrapper -->
            </div>
            <div role="listitem" class="social-media-feed-box__wrapper">
                <div class="social-media-feed-box social-media-feed-box--twitter">
                    <a href="https://twitter.com/MonashUni/status/696876248824422400" title="Twitter: Monday, 8 February, 2016 at 6:00pm" class="social-media-feed-box__link">
                        <h3 class="social-media-feed-box__heading"><span class="social-media-feed-box__heading--icon-wrapper"><span class="social-media-feed-box__heading--icon">Twitter</span></span>@MonashUni</h3>
                        <div class="social-media-feed-box__blurb">
                            <p>New brain imaging research shows many people feel mental distress when disagreeing with others http://mona.sh/Y3GMd</p>
                            <!-- /.social-media-feed-box__blurb -->
                        </div>
                        <div class="social-media-feed-box__stats">
                            <span class="social-media-feed-box__stats-like">7<span class="visuallyhidden"> Likes</span></span>
                            <span class="social-media-feed-box__stats-comments">1<span class="visuallyhidden"> Comments</span></span>
                            <button type="button" class="social-media-feed-box__stats-other">Other Stats</button>
                            <!-- /.social-media-feed-box__stats -->
                        </div>
                    </a>
                    <!-- /.social-media-feed-box -->
                </div>
            <!-- /.social-media-feed-box__wrapper --></div>
        <!-- /.social-media-feed-listing --></div>
    <!-- .content-wrapper --></div>
<!-- /.social-media-feed --></div>
