<!-- Inventory of available variations for social media feed (box and listing) module -->

<!-- Some URLs to grab example content from -->
<!-- [Facebook 1] https://www.facebook.com/Monash.University/photos/a.283766038936.140328.59024478936/10153630449723937/?type=3 -->
<!-- [Facebook 2] https://www.facebook.com/Monash.University/posts/10153630412458937 -->
<!-- [Facebook 3] https://www.facebook.com/Monash.University/photos/a.283766038936.140328.59024478936/10153622472468937/?type=3 -->
<!-- [Facebook 4] https://www.facebook.com/Monash.University/posts/10153629437838937 -->
<!-- [Instagram 1] https://www.instagram.com/p/BAa7piLzEgi/?taken-by=monash_uni -->
<!-- [Instagram 2] https://www.instagram.com/p/4YeNdBTEv7/?taken-by=monash_uni -->
<!-- [Instagram 3] https://www.instagram.com/p/2nQFwuTEgK/?taken-by=monash_uni -->
<!-- [Instagram 4] https://www.instagram.com/p/09ZaFhTEoW/?taken-by=monash_uni -->
<!-- [Twitter 1] https://twitter.com/MonashUni/status/712876629358460928 -->
<!-- [Twitter 2] https://twitter.com/MonashUni/status/712821526945468420 -->
<!-- [Twitter 3] https://twitter.com/MonashUni/status/712801130888237056 -->
<!-- [Twitter 4] https://twitter.com/MonashUni/status/712768593432342528 -->
<!-- [Twitter 5] (Retweet) https://twitter.com/martindoulton/status/712583267505930240 -->

<div class="social-media-feed">

    <h2 class="social-media-feed-listing__heading">Keeping you in the know across our social media platforms</h2>

    <div class="content-wrapper">
        <div role="list" class="clearfix social-media-feed-listing">

            <!-- Masonry size helper: http://masonry.desandro.com/layout.html#responsive-layouts -->
            <div class="social-media-feed-box__sizer"></div>

            <div role="listitem" class="social-media-feed-box__wrapper">
                <div class="social-media-feed-box social-media-feed-box--facebook">
                    <a href="https://www.facebook.com/Monash.University/photos/a.283766038936.140328.59024478936/10153630449723937/?type=3" title="Facebook: Thursday, 24 March, 2016 at 2:00pm" class="social-media-feed-box__link">
                        <h3 class="social-media-feed-box__heading">Monash.University</h3>
                        <div class="social-media-feed-box__thumb">
                            <img src="{{file_dest}}/zz-social-media-feed-facebook-01.jpg" alt="Image from Facebook." class="social-media-feed-box__thumb-image" />
                        <!-- /.social-media-feed-box__thumb --></div>
                        <div class="social-media-feed-box__blurb">
                            <p>Wishing you a great mid-semester break. We hope you find at least a little study down-time to enjoy some chocolate and Easter festivities</p>
                        <!-- /.social-media-feed-box__blurb --></div>
                    </a>
                    <div class="social-media-feed-box__stats">
                        <span class="social-media-feed-box__stats-like">1234</span>
                        <span class="social-media-feed-box__stats-comments">28</span>
                        <button type="button" class="social-media-feed-box__stats-other">Other Stats</button>
                    <!-- /.social-media-feed-box__stats --></div>
                <!-- /.social-media-feed-box --></div>
            <!-- /.social-media-feed-box__wrapper --></div>

            <div role="listitem" class="social-media-feed-box__wrapper">
                <div class="social-media-feed-box social-media-feed-box--instagram">
                    <a href="https://www.instagram.com/p/BAa7piLzEgi/?taken-by=monash_uni" title="Instagram: Tuesday, 12 January, 2016 at 12:37pm" class="social-media-feed-box__link">
                        <h3 class="social-media-feed-box__heading">monash_uni</h3>
                        <div class="social-media-feed-box__thumb">
                            <img src="{{file_dest}}/zz-social-media-feed-instagram-01.jpg" alt="Image from Instagram." class="social-media-feed-box__thumb-image" />
                        <!-- /.social-media-feed-box__thumb --></div>
                        <div class="social-media-feed-box__blurb">
                            <p>We&rsquo;re spotting some intriguing artwork on our campuses! Build Unbuilt Unbuildable takes inspiration from the &lsquo;bucky ball&rsquo; carbon molecule which is one of the most stable molecules in the world. Located right ouside the Green Chemical Futures building at Clayton campus.</p>
                        <!-- /.social-media-feed-box__blurb --></div>
                    </a>
                    <div class="social-media-feed-box__stats">
                        <span class="social-media-feed-box__stats-like">999</span>
                        <span class="social-media-feed-box__stats-comments">14</span>
                        <button type="button" class="social-media-feed-box__stats-other">Other Stats</button>
                    <!-- /.social-media-feed-box__stats --></div>
                <!-- /.social-media-feed-box --></div>
            <!-- /.social-media-feed-box__wrapper --></div>

            <div role="listitem" class="social-media-feed-box__wrapper">
                <div class="social-media-feed-box social-media-feed-box--twitter">
                    <a href="https://twitter.com/MonashUni/status/712821526945468420" title="Twitter: Wednesday, 23 March, 2016 at 7:01pm" class="social-media-feed-box__link">
                        <h3 class="social-media-feed-box__heading">@MonashUni</h3>
                        <div class="social-media-feed-box__thumb">
                            <img src="{{file_dest}}/zz-social-media-feed-twitter-02.jpg" alt="Image from Twitter." class="social-media-feed-box__thumb-image" />
                        <!-- /.social-media-feed-box__thumb --></div>
                        <div class="social-media-feed-box__blurb">
                            <p>Introducing Student Futures, a new program to help students prepare and launch their careers http://mona.sh/ZMH1W</p>
                        <!-- /.social-media-feed-box__blurb --></div>
                    </a>
                    <div class="social-media-feed-box__stats">
                        <span class="social-media-feed-box__stats-like">100</span>
                        <span class="social-media-feed-box__stats-comments">5</span>
                        <button type="button" class="social-media-feed-box__stats-other">Other Stats</button>
                    <!-- /.social-media-feed-box__stats --></div>
                <!-- /.social-media-feed-box --></div>
            <!-- /.social-media-feed-box__wrapper --></div>

        <!-- /.social-media-feed-listing --></div>
    <!-- /.content-wrapper --></div>

<!-- /.social-media-feed --></div>
