[data-css-identifier='rtf-to-html'] {
  #main {
    overflow: hidden;
    .microbanner {
      .fadeOut {
        visibility: hidden;
        opacity: 0.2;
        transition: visibility 0s linear 500ms, opacity 500ms;
      }
    }
    .lhs {
      position: sticky;
      position: -webkit-sticky;
      font-family: sans-serif;
      font-size: 0.85rem;
      font-weight: 500;
      z-index: 9;
      top: 135px;
      padding: 0 0.625rem 0.625rem 0.625rem;

      @include media-query('wide') {
        top: 196px;
        padding: 2rem 0 0 0;
      }
      &.lhs-modal {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 5;
        width: 100%;
        margin: 0;
        padding: 0;
        /*overflow: hidden;*/
        padding: 1rem;
        background: white;
      }
      ul,
      li {
        font-weight: 500;
      }

      .lhs-nav {
        @include media-query('wide') {
          padding: 1.5rem 1rem 0 0;
        }

        > .lhs-nav-list {
          @include media-query('wide') {
            padding: 0;
          }

          .contentMenu_toggle {
            display: inline-block;
            *display: inline;
            zoom: 1;
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: 752px 560px;
            filter: brightness(0);
            background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
            width: 32px;
            height: 32px;
            background-position: -720px 0px;
            border: 0;
            outline: 0;
            padding: 0;
            text-indent: -9999em;
            vertical-align: top;

            @include media-query('wide') {
              display: none;
            }
          }

          .lhs__content-menu-close-label {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
            @include media-query('wide') {
              display: none;
            }
          }
          .contentMenu_toggle-close {
            display: none;
            zoom: 1;
            border: 0;
            background: transparent;
            outline: 0;
            padding: 0.5rem;
            width: 2.5rem;
            height: 2.5rem;
            filter: brightness(0);
            @include media-query('wide') {
              display: none;
            }
            svg {
              width: 100%;
              height: 100%;
            }

            &:focus {
              outline: 1px dotted #212121;
              outline: 5px auto -webkit-focus-ring-color;
            }
          }

          div.lhs-nav-list__item-link--heading {
            font-family: Roboto Condensed, Helvetica, sans-serif !important;
            display: flex;
            font-weight: 700;
            color: $black;
            justify-content: flex-start;
            font-size: 1rem;
            align-items: center;
            padding: 1rem 0;
            // margin-left: -0.375rem;
            @include media-query('wide') {
              padding: 0 0 1rem 0;
              color: black;
              position: inherit;
              top: inherit;
              left: inherit;
              font-size: inherit;
            }
            &.lhs-modal {
              margin-left: 0;
              justify-content: space-between;
              color: black;

              span {
                padding-left: 0.25rem;
                padding-top: 0.3rem;
              }
            }
          }

          button.lhs__print-pdf {
            padding: 0.625rem 2.625rem;
            border: none;
            display: none;
            color: white;
            text-align: center;
            width: 100%;
            background-color: #006dae;
            margin: 1.9rem 0 0.6rem 0;
            @include media-query('wide') {
              display: block;
            }
            &.lhs-modal {
              display: block;
            }
          }
          .lhs__pref-pdf-label {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
          }
          .selectric-wrapper.selectric-lhs__prev-pdf {
            display: none;
            @include media-query('wide') {
              display: block;
            }
            &.lhs-modal {
              display: block;
            }
            .selectric {
              background-color: transparent;
            }
            .button {
              background-image: url(https://www.monash.edu/__data/assets/file/0011/2179901/arrow-outline-right.svg);
              background-size: 16px 16px;
              filter: brightness(0);
              background-position: center;
              background-color: transparent;
              background-repeat: no-repeat;
              transform: rotate(-90deg);
            }
            .button:after {
              content: none;
            }
            .selectric-items {
              background-color: transparent;
              .selectric-scroll {
                li {
                  background-color: white;
                  &:hover {
                    background-color: #f8f8f8;
                  }
                }
              }
            }
          }

          input.lhs-nav-list__hidden-checkbox {
            display: none;
          }
          .lhs-nav-list__hidden-checkbox[type='checkbox'] ~ .lhs-nav-list {
            display: none;
          }
          .lhs-nav-list__hidden-checkbox[type='checkbox']:checked
            ~ .lhs-nav-list {
            display: block;
          }
          > .lhs-nav-list {
            overflow-y: auto;
            @include media-query('wide') {
              max-height: 55vh;
            }
            &.lhs-modal {
              max-height: calc(70vh - 9.5rem);
            }
          }
        }
      }

      .lhs-nav-list__item-number {
        visibility: hidden;
        position: absolute;
        top: 1.5rem;
        left: 0.5rem;
        color: #a9a9a9;
        @include media-query('wide') {
          top: 0.625rem;
        }
      }

      .lhs-nav-list__item--lvl4 .lhs-nav-list__item-link {
        padding-right: 1rem;
      }

      a.js-site-section-nav-link {
        background: transparent;
        text-align: left;
        border: none;
        &.lhs-nav-list__item-link {
          width: 100%;
          color: inherit;
          font-weight: inherit;
        }
        & > span {
          display: inline;
          font-weight: 550;
          margin-right: 0.1rem;
        }
      }

      .lhs-nav-list__item .lhs-nav-list__item--lvl4 {
        border-bottom: 1px #d2d2d2 solid;
      }
      li.js-site-section-nav-item.lhs-nav-list__item.lhs-nav-list__item--lvl3 {
        margin: 0.1rem 0;
        @include media-query('wide') {
          padding-bottom: 0.1rem;
          margin-top: auto;
          margin-bottom: auto;
        }
        & > .lhs-nav-list {
          background: #ffffff;
          display: none;
        }
      }
      a.contentLink.lhs-nav-list__item-link--lvl4 {
        background: transparent;
        text-align: left;
        border: none;
        color: #006dae;
        padding-left: 2.4375rem;
        &.lhs-nav-list__item-link:hover {
          background: #f6f6f6;
          color: #006dae;
        }
      }

      .lhs-nav-list__item.lhs-nav-list__item--lvl4:hover {
        background: #f6f6f6;
      }

      .lhs-nav-list__item-link:hover {
        background: inherit;
      }

      // for anchor link and +/- button
      div.lhs-nav-list__item--lvl3--wrapper {
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        align-items: center;
        color: black;
        background: #f6f6f6;
        position: relative;

        .js-site-section-nav-link.lhs-nav-list__item-link {
          padding-right: 2.625rem;
          &:hover,
          &:focus {
            color: white;
            background: #006dae;
          }
        }

        .lhs-nav-list__sub-content-button {
          width: 2.5rem;
          height: 100%;
          border: none;
          background: #f0f0f0;
          font-size: 1.1rem;
          position: absolute;
          right: 0;
          padding: 0;
          outline: none;

          &:hover,
          &:focus {
            color: white;
            background: #006dae;
          }
        }
      }
    }
    .content-wrapper.flex-wrapper {
      overflow: hidden;
    }

    .print-pdf__logo-img {
      visibility: hidden;
      background: transparent;
      z-index: 1;
      margin-top: -220px;
      position: absolute;
      width: 140px;
    }
  }

  /* needed for sticky content */

  &.page {
    overflow: visible;

    .microbanner {
      overflow: hidden;
      position: sticky;
      position: -webkit-sticky;
      top: 50px;
      z-index: 6;
    }

    .header {
      overflow: visible;
      /*
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: 7;
      */

      #header-search {
        position: relative;
      }
    }

    .content.bg-white {
      overflow: visible;
      margin-right: 0;
      padding-right: 1rem;

      .content-inner__main {
        position: relative;

        .breadcrumbs {
          font-family: Roboto, 'Helvetica Neue', sans-serif;
          position: absolute;
          top: 0;
          z-index: 2;
          padding-top: 0.75rem;

          a.breadcrumbs__link {
            text-decoration: underline;
          }

          a.breadcrumbs__link:hover {
            text-decoration: none;
          }
        }

        h1 {
          background: white;
          font-size: 1.8rem;
          padding-bottom: 1rem;
          padding-top: 1rem;
          @include media-query('wide') {
            position: sticky;
            position: -webkit-sticky;
            padding: 0;
            top: 196px;
            font-size: 2.5rem;
            padding: 3.25rem 0 2rem 0;
            margin: 0;
            z-index: 1;
          }
        }
      }

      table {
        @media (max-width: 42em) {
          ul {
            padding-left: 10px;
          }
        }
        &.responsiveCol {
          @media screen and (max-width: 600px) {
            table,
            thead,
            tbody,
            th,
            td,
            tr {
              display: block;
            }
            thead tr {
              position: absolute;
              top: -9999px;
              left: -9999px;
            }
            tr {
              border: 1px solid #ccc;
              margin-bottom: 1rem;
            }
            td {
              /* Behave  like a "row" */
              border: none;
              border-bottom: 1px solid #eee;
              position: relative;
              padding-left: 50%;
            }
            td:before {
              /* Now like a table header */
              position: absolute;
              top: 0;
              left: 0;
              width: 45%;
              font-weight: bold;
              height: 100%;
              width: 45%;
              padding: 1.875rem 1.125rem;
              background: #f6f6f6;
              overflow: hidden;
              text-overflow: ellipsis;
              word-wrap: break-word;
              /*
                * aria-label has no advantage, it won't be read inside a table
                content: attr(aria-label);
                */
              content: attr(data-label);
              float: left;
            }
          }
        }
        &.responsiveRow {
          tbody {
            display: block;

            tr {
              max-width: 100%;
              display: flex;

              td:first-child {
                width: 40%;
                flex: 0 1 auto;
              }
            }
            th {
              display: block;
              width: 40%;
              flex: 0 1 auto;
            }
            td {
              display: block;
              word-wrap: break-word;
              flex: 1;
              max-width: 60%;
            }
          }
        }
      }
    }
  }

  [data-template='rtf-to-html'] {
    overflow: hidden;
    scroll-behavior: smooth;

    h2 {
      font-size: 1.5rem;
      font-family: Roboto Condensed, Helvetica, sans-serif !important;
      @include media-query('wide') {
        font-size: 2rem;
      }
    }
    h3 {
      font-size: 1.3rem;
      font-family: Roboto Condensed, Helvetica, sans-serif !important;
      margin-top: 3.5rem;
      @include media-query('wide') {
        font-size: 1.5rem;
      }
    }
    h4 {
      font-size: 1.1rem;
      font-family: Roboto Condensed, Helvetica, sans-serif !important;
      margin-top: 3.5rem;
      @include media-query('wide') {
        font-size: 1.2rem;
      }
    }
    p,
    p > span {
      /*IMPORTANT override This exists to make it easier to convert from rtf->html since there is a lot of inline styling*/
      font-family: Arial, Helvetica, sans-serif !important;
      color: #505050 !important;
    }

    .governance__table {
      th {
        background: none;
        border: solid #bfbfbf 1pt;
      }
      td {
        border: solid #bfbfbf 1pt;
        background: none;
      }
    }
  }
}

@media convertapi {
  /* All your print styles go here */

  [data-css-identifier='rtf-to-html'] {
    * {
      background: transparent !important;
      box-shadow: none !important;
      color: #000 !important;
      text-shadow: none !important;
    }
    ~ #__tealiumGDPRcpPrefs,
    .header,
    .footer,
    .lhs {
      display: none !important;
    }

    .microbanner {
      position: static !important;
      height: 250px;
      & > .content-wrapper {
        .col-md-8.microbanner-column {
          display: none !important;
        }
        #microbanner-search-form {
          display: none !important;
        }
      }
      .monash-m-new {
        display: block;
        background: white !important;
        height: 250px;
        right: -643px;
        position: relative;
        width: 480px;
      }
      .microbanner-img {
        height: 250px;
        width: 100%;
      }
    }
    .print-pdf__logo-img {
      visibility: visible !important;
    }
    #main
      > .bg-white.l--lhs-content
      > .content-wrapper
      > .content.bg-white
      > div.content-inner__main {
      z-index: 7;
      & > h1 {
        position: absolute;
        top: 0;
        font-weight: 500;
        margin-top: -100px;
        color: white !important;
        max-width: 80%;
      }
      & > .print-pdf__logo-img {
        display: block;
      }
    }

    a[href]::after {
      content: none;
    }
    a span & a {
      color: #006dae !important;
    }
    p {
      font-size: 0.8rem;
    }
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
