<!-- Inventory of available variations for search box module -->

<!-- Search News (News and Events) -->
<div id="search-news" class="search-box--news">
    <form method="get" action="" class="search-box--news__form">

        <h2 class="search-box--news__heading">Search</h2>

        <label for="search-news-keywords" class="visuallyhidden search-box--news__label">Keywords</label>
        <input type="text" id="search-news-keywords" name="q" class="sq-form-field search-box--news__input" placeholder="Search" />

        <label for="search-news-year" class="visuallyhidden search-box--news__label">Year</label>
        <select id="search-news-year" name="year" class="search-box--news__select">
            <option value="0" selected="selected">All Years</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
        </select>

        <label for="search-news-month" class="visuallyhidden search-box--news__label">Month</label>
        <select id="search-news-month" name="month" class="search-box--news__select">
            <option value="0" selected="selected">All Months</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>

        <div class="search-box--news__controls">
            <button type="submit" class="btn search-box--news__button">Search</button>
        <!-- /.search-box--news__controls --></div>

    </form>
<!-- /.search-box--news --></div>

<!-- Search Courses (Study at Monash - Home) -->
<div id="search-courses" class="search-box--courses">
    <form method="get" action="http://www.study.monash/courses/find-a-course">

        <div class="bg-white">
            <div class="content-wrapper">

                <label for="course-keywords" class="search-box--courses__label">I&rsquo;m interested in&hellip;</label>

                <div class="control-group">
                    <input type="text" id="course-keywords" name="query" class="control-group__input" placeholder="Search for a course" />
                    <button class="btn btn--blue control-group__button">Search</button>
                <!-- /.control-group --></div>

            <!-- ./content-wrapper --></div>
        <!-- /.bg-white --></div>

    </form>
<!-- /.search-box--courses --></div>
