<div id="search-news" class="search-box--news">
    <form method="get" action="" class="search-box--news__form">
        <div class="search-box--news-lhs">
            <h2 class="search-box--news__heading">Search news</h2>
            <label for="search-news-keywords" class="visuallyhidden search-box--news__label">Keywords</label>
            <input type="text" id="search-news-keywords" name="query" class="sq-form-field search-box--news__input" placeholder="Topic" value="test" />
            <input type="hidden" id="search-news-date-min" name="meta_d3"></input>
            <input type="hidden" id="search-news-date-max" name="meta_d4"></input>
            <label for="search-news-year" class="visuallyhidden search-box--news__label">Year</label>
            <select id="search-news-year" name="year" class="search-box--news__select search-box--news__select--year" data-val="2014">
                <option value="">Year</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
            </select>
            <label for="search-news-month" class="visuallyhidden search-box--news__label">Month</label>
            <select id="search-news-month" name="month" class="search-box--news__select search-box--news__select--month" data-val="3">
                <option value="">Month</option>
                <option value="0">Jan</option>
                <option value="1">Feb</option>
                <option value="2">Mar</option>
                <option value="3">Apr</option>
                <option value="4">May</option>
                <option value="5">Jun</option>
                <option value="6">Jul</option>
                <option value="7">Aug</option>
                <option value="8">Sep</option>
                <option value="9">Oct</option>
                <option value="10">Nov</option>
                <option value="11">Dec</option>
            </select>
            <div class="search-box--news__controls">
                <button class="btn search-box--news__button js-search-box__submit--search">Search</button>
                <!-- /.search-box--news__controls -->
            </div>
        </div>
        <div class="search-box--news-rhs">
            <h2 class="search-box--browse__heading">Browse by category</h2>
            <div class="search-box--browse__wrapper">
                <p class="search-box--browse__label js-search-box--browse__label" tabindex="0">Browse:
                <b class="button">▾</b>
                </p>
                <div class="search-box--browse__list js-search-box--browse__list">
                    <div class="search-box--browse__control"><span class="js-select-all">Select all</span> - <span class="js-clear-all">Clear all</span></div>
                    <ul>
                        <li>
                            <input type="checkbox" id="monash" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Monash" checked />
                            <label for="monash">Monash</label>
                        </li>
                        <li>
                            <input type="checkbox" id="learning" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Learning" checked />
                            <label for="learning">Learning</label>
                        </li>
                        <li>
                            <input type="checkbox" id="sport" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Sport" checked />
                            <label for="sport">Sport</label>
                        </li>
                        <li>
                            <input type="checkbox" id="culture" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Culture" checked />
                            <label for="culture">Culture</label>
                        </li>
                        <li>
                            <input type="checkbox" id="medical" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Medical" checked />
                            <label for="medical">Medical</label>
                        </li>
                        <li>
                            <input type="checkbox" id="science" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Science" checked />
                            <label for="science">Science</label>
                        </li>
                        <li>
                            <input type="checkbox" id="awards" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Awards" checked />
                            <label for="awards">Awards</label>
                        </li>
                        <li>
                            <input type="checkbox" id="technology" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Technology" checked />
                            <label for="technology">Technology Wrap this for testing</label>
                        </li>
                        <li>
                            <input type="checkbox" id="research" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Research" checked />
                            <label for="research">Research</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="search-box--browse__controls">
                <button class="btn search-box--browse__button js-search-box__submit--browse">Browse</button>
                <!-- /.search-box--browse__controls -->
            </div>
        </div>
    </form>
    <!-- /.search-box--news -->
</div>
