.feature-links {
    margin-top: pxToRem(35);

    a {
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

    &-box {
        background-color: $base-light-grey;
        float:            left;
        margin-bottom:    pxToRem(15);
        padding:          pxToRem(20) pxToRem(15) pxToRem(20) pxToRem(20);
        position:         relative;
        width:            48%;
        
        &:nth-child(2n+1) {
            margin-right: 4%;
        }

        &:nth-child(2n) {
            float: right;
        }

        &--blue {
            border-bottom:  1px solid $base-monash-blue;
            color:          $base-monash-blue;
        }
    }

    &-box__icon {
        @include      sq-sprite-bg;
        content:      ' ';
        display:      inline-block;
        float:        left;
        margin-right: pxToRem(10);

        &--feature-double-degree {
            @include sq-sprite(double-degree);
        }

        &--feature-laptop {
            @include sq-sprite(laptop);
        }

        &--feature-phone {
            @include sq-sprite(phone);
        }

        &--feature-spreadsheet {
            @include sq-sprite(spreadsheet);
        }

        &--feature-touch {
            @include sq-sprite(touch);
        }

        &--feature-users-three {
            @include sq-sprite(users-three);
        }

        &--feature-user-message {
            @include sq-sprite(user-message);
        }

        &--feature-australia-blue {
            @include sq-sprite(australia-blue);
        }

        &--feature-australia-blue-solid {
            @include sq-sprite(australia-blue-solid);
        }

        &--feature-business-people {
            @include sq-sprite(business-people);
        }

        &--feature-circle-of-trust {
            @include sq-sprite(circle-of-trust);
        }

        &--feature-document-pinned {
            @include sq-sprite(document-pinned);
        }

        &--feature-earth {
            @include sq-sprite(earth);
        }

        &--feature-edit {
            @include sq-sprite(edit);
        }

        &--feature-employability {
            @include sq-sprite(employability);
        }

        &--feature-filter-and-sort {
            @include sq-sprite(filter-and-sort);
        }

        &--feature-folders {
            @include sq-sprite(folders);
        }

        &--feature-gift {
            @include sq-sprite(gift);
        }

        &--feature-world-globe {
            @include sq-sprite(globe);
        }

        &--feature-handshake {
            @include sq-sprite(handshake);
        }

        &--feature-lecture {
            @include sq-sprite(lecture);
        }

        &--feature-magnifying-glass {
            @include sq-sprite(magnifying-glass);
        }

        &--feature-mail-write {
            @include sq-sprite(mail-write);
        }

        &--feature-map-location {
            @include sq-sprite(map-location);
        }

        &--feature-medal {
            @include sq-sprite(medal);
        }

        &--feature-messages {
            @include sq-sprite(messages);
        }

        &--feature-money {
            @include sq-sprite(money);
        }

        &--feature-publication {
            @include sq-sprite(magazine);
        }

        &--feature-piggy-bank {
            @include sq-sprite(piggy-bank);
        }

        &--feature-question {
            @include sq-sprite(question);
        }

        &--feature-search {
            @include sq-sprite(search-paper);
        }

        &--feature-scroll {
            @include sq-sprite(scroll);
        }

        &--feature-users-five {
            @include sq-sprite(users-five);
        }

        &--feature-earth-blue-solid {
            @include sq-sprite(earth-blue-solid);
        }

        &--feature-university {
            @include sq-sprite(university);
        }

        &--feature-users-crowd {
            @include sq-sprite(users-crowd);
        }

        &--feature-emoticon-smile {
            @include sq-sprite(emoticon-smile);
        }

        &--feature-first-aid {
            @include sq-sprite(first-aid);
        }

        &--feature-home {
            @include sq-sprite(home-blue);
        }

        &--feature-microscope {
            @include sq-sprite(microscope);
        }

        &--feature-ok-mark {
            @include sq-sprite(ok);
        }

        &--feature-passport {
            @include sq-sprite(passport);
        }

        &--feature-suitcase {
            @include sq-sprite(suitcase);
        }

        &--feature-trophy {
            @include sq-sprite(trophy);
        }

        &--feature-accreditation {
            @include sq-sprite(accreditation);
        }
    }

    &-box__heading {
        @include mon-heading(3, 'serif');
        display:        inline-block;
        float:          left;
        line-height:    1.167;
        margin-top:     pxToRem(2);
        padding-bottom: pxToRem(50);
        vertical-align: top;
        width:          80%;
    }

    .btn {
        bottom:     pxToRem(20);
        display:    table;
        margin-top: pxToRem(20);
        position:   absolute;

        &:active {
            background: $base-light-charcoal;
            color:      $white;
        }

    }
}
