.feature-links {
    margin-top: pxToRem(75);

    &-box {
        float:         left;
        margin-bottom: pxToRem(30);

        &:nth-child(2n+1) {
            margin-right: pxToRem(30);
        }

        &:nth-child(2n) {
            float: left;
        }
    }

    &-box__heading {
        font-size:      pxToRem(24);
        line-height:    1.167;
        padding-bottom: pxToRem(40);
    }

    .btn {
        margin-top: pxToRem(10);
    }
}
