<div class="masonry-grid box-listing-element__group js-history-enabled" id="monash-college-news-list">

    <div class="col-xs-12 col-md-6 box-listing-element__wrapper">
        <div class="box-listing-element">
            <a href="http://www.monash.edu#zz-news-events-01" class="box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-01.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
            <div class="box-listing-element__blurb">
                <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-news-events-01" class="box-listing-element__heading-link">Monash students produce innovative digital interactives for industry</a></h3>
                <p class="box-listing-element__description">To celebrate Australia&rsquo;s rich history in tennis, historical digital interactives of the Australian Open tennis tournament have been produced.</p>
                <a href="http://www.monash.edu#zz-box-list-category-sport" class="box-listing-element__category-link">Sport</a>
            <!-- /.box-listing-element__blurb --></div>
        <!-- /.box-listing-element --></div>
    <!-- /.box-listing-element__wrapper --></div>

    <div class="col-xs-12 col-md-6 box-listing-element__wrapper">
        <div class="box-listing-element user-def-palette--border-aa-ruby">
            <div class="box-listing-element__blurb">
                <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-news-events-02" class="box-listing-element__heading-link">Weight gain in rural women &#8212; what to do and how to prevent it</a></h3>
                <p class="box-listing-element__description">On average, Australian women gain about one kilo in weight every year, leading to a high risk of becoming obese before 50.</p>
                <a href="http://www.monash.edu#zz-box-list-category-medical" class="box-listing-element__category-link">Medical</a>
            <!-- /.box-listing-element__blurb --></div>
        <!-- /.box-listing-element --></div>
    <!-- /.box-listing-element__wrapper --></div>

    <div class="col-xs-12 col-md-6 box-listing-element__wrapper">
        <div class="box-listing-element user-def-palette--border-aa-fuchsia">
            <div class="box-listing-element__blurb">
                <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-news-events-03" class="box-listing-element__heading-link">Water key to cooling Australian cities</a></h3>
                <p class="box-listing-element__description">A group that comprises Australia&rsquo;s top water experts has welcomed a federal government plan to make cities greener and cooler.</p>
                <a href="http://www.monash.edu#zz-box-list-category-culture" class="box-listing-element__category-link">Culture</a>
            <!-- /.box-listing-element__blurb --></div>
        <!-- /.box-listing-element --></div>
    <!-- /.box-listing-element__wrapper --></div>

    <div class="col-xs-12 col-md-6 box-listing-element__wrapper">
        <div class="box-listing-element user-def-palette--border-aa-orange">
            <a href="http://www.monash.edu#zz-news-events-04" class="box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-01.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
            <div class="box-listing-element__blurb">
                <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-news-events-04" class="box-listing-element__heading-link">Innovation in elder-care on the horizon</a></h3>
                <p class="box-listing-element__description">When it comes to senior citizens, it can be difficult to strike a balance between maintaining an independent lifestyle and ensuring that help will be there when needed.</p>
                <a href="http://www.monash.edu#zz-box-list-category-science" class="box-listing-element__category-link">Science</a>
            <!-- /.box-listing-element__blurb --></div>
        <!-- /.box-listing-element --></div>
    <!-- /.box-listing-element__wrapper --></div>

    <div class="col-xs-12 col-md-6 box-listing-element__wrapper">
        <div class="box-listing-element user-def-palette--border-aa-ruby">
            <a href="http://www.monash.edu#zz-news-events-05" class="box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-01.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
            <div class="box-listing-element__blurb">
                <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-news-events-05" class="box-listing-element__heading-link">Taking multiple medicines could send older Australians into &ldquo;spiral of decline&rdquo;</a></h3>
                <p class="box-listing-element__description">Using multiple medications is an unfortunate reality for many older Australians, however a new Monash University study has found interesting new results.</p>
                <a href="http://www.monash.edu#zz-box-list-category-medical" class="box-listing-element__category-link">Medical</a>
            <!-- /.box-listing-element__blurb --></div>
        <!-- /.box-listing-element --></div>
    <!-- /.box-listing-element__wrapper --></div>

    <div class="col-xs-12 col-md-6 box-listing-element__wrapper">
        <div class="box-listing-element user-def-palette--border-aa-ruby">
            <div class="box-listing-element__blurb">
                <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-news-events-06" class="box-listing-element__heading-link">Australian Regenerative Medicine Institute names new director</a></h3>
                <p class="box-listing-element__description">The new director of the Australian Regenerative Medicine Institute (ARMI) at Monash University has been announced.</p>
                <a href="http://www.monash.edu#zz-box-list-category-medical" class="box-listing-element__category-link">Medical</a>
            <!-- /.box-listing-element__blurb --></div>
        <!-- /.box-listing-element --></div>
    <!-- /.box-listing-element__wrapper --></div>

    <div class="col-xs-12 col-md-6 box-listing-element__wrapper">
        <div class="box-listing-element user-def-palette--border-aa-fuchsia">
            <div class="box-listing-element__blurb">
                <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-news-events-07" class="box-listing-element__heading-link">Monash discovery at heart of record breaking licensing deal</a></h3>
                <p class="box-listing-element__description">A suite of drugs developed by the Cancer Therapeutics Cooperative Research Centre (CTx) from early Monash research has broken records.</p>
                <a href="http://www.monash.edu#zz-box-list-category-culture" class="box-listing-element__category-link">Culture</a>
            <!-- /.box-listing-element__blurb --></div>
        <!-- /.box-listing-element --></div>
    <!-- /.box-listing-element__wrapper --></div>

    <div class="col-xs-12 col-md-6 box-listing-element__wrapper">
        <div class="box-listing-element user-def-palette--border-aa-orange">
            <a href="http://www.monash.edu#zz-news-events-08" class="box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-01.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
            <div class="box-listing-element__blurb">
                <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-news-events-08" class="box-listing-element__heading-link">Learn Mindfulness in free online Monash course</a></h3>
                <p class="box-listing-element__description">It&rsquo;s not too late to join in a free six-week Mindfulness for Wellbeing online training course to help reduce stress and improve your performance at work.</p>
                <a href="http://www.monash.edu#zz-box-list-category-science" class="box-listing-element__category-link">Science</a>
            <!-- /.box-listing-element__blurb --></div>
        <!-- /.box-listing-element --></div>
    <!-- /.box-listing-element__wrapper --></div>
<!-- /.box-listing-element__group --></div>

<!-- view more button -->
<button class="btn btn--blue btn--view-more js-view-more" data-src="landing-news-events_load-more.html" data-dest="#news-events-list">View more</button>
