.feature-content-banner {
    margin-left:    -1rem;
    margin-right:   -1rem;
    padding-bottom: pxToRem(10);
    padding-top:    pxToRem(10);

    h3,
    p:not(.legend) {
        color: inherit;
    }

    h3,
    .large-text {
        font-family: $font-family__condensed;
        font-size:   pxToRem(18);
        line-height: 1.2778;
        margin-top:  0;
    }

    &__col-img {
        line-height: 0;
    }

    &__col--border {
        border-bottom: pxToRem(1) solid;
    }

    &__col-text {
        @include sq-flex-box();
        flex-direction:  column;
        justify-content: center;
        padding:         2rem pxToRem(50);
    }

    &__col-bckgnd-img {
        height:     100%;
        object-fit: cover;
        width:      100%;
    }

    .legend {
        font-size:   pxToRem(12);
        line-height: 1.1667;
        margin:      0;
    }
}
