.feature-content-banner {
    @include sq-flex-box();
    margin-left:    -$feature-article__off-gap;
    margin-right:   -$feature-article__off-gap;
    padding-bottom: pxToRem(30);
    padding-top:    pxToRem(30);

    h3,
    .large-text {
        font-size:     pxToRem(24);
        font-weight:   $font-light;
        line-height:   1.1667;
        margin-bottom: pxToRem(20);
    }

    &__col {
        flex-basis: 50%;
    }

    &__col--single {
        flex-basis: 100%;
        text-align: center;
    }

    &__col-text {
        padding: pxToRem(80) pxToRem(75) pxToRem(80) $feature-article__off-gap;

        &.feature-content-banner__col--single {
            padding-left:  pxToRem(300);
            padding-right: pxToRem(300);
        }
    }

    &__col + &__col-text {
        padding-left:  pxToRem(110);
        padding-right: pxToRem(180);
    }

    .legend {
        font-size:   pxToRem(16);
        line-height: 1.375;
    }
}

.lhs + .content .feature-content-banner {
    margin-left: pxToRem(-372);
}
