<div class="content l--content">
    <div class="content-wrapper">
        <img src="mysource_files/timeline-content-banner.jpg" alt="" class="timeline-banner"/>
        <div class="timeline-content timeline-content--fuchsia">
            <aside class="timeline-content-lhs">
                <a href="#" class="timeline-lhs-link">
                    <img src="mysource_files/timeline-background-lhs.jpg" alt="" class="timeline-content-lhs__banner">
                    <div class="timeline-content-lhs__content">
                        <h2 class="timeline-lhs-heading">Rediscover Monash</h2>
                        <p class="timeline-lhs-subheading">Our History</p>
                        <button class="btn btn__link timeline-lhs-cta timeline-lhs-cta--white">Back to timeline</button>
                    </div>
                </a>
            </aside>
            <div class="timeline-content-main">
                <!-- import:content source:modules/breadcrumbs/html/index.html -->
                <h1 id="typography">This is an example of using a H1 style</h1>
                <p class="timeline-card__subheading">5 January 2008</p>
                <p class="timeline-card__subheading">Lorem Ipsum Dolor Amet</p>
                <!-- import:content source:modules/timeline-sm-share/html/content.html -->
                <!-- import:content source:modules/timeline/html/fragments/_content.html -->
            </div>
        </div>
    </div>
</div>
