<div class="timeline timeline--loading">
    <img src="mysource_files/timeline-background-2.jpg" alt="" class="timeline__banner">
    <div class="timeline__header">
        <h2 class="timeline-heading">Rediscover Monash</h2>
        <h3 class="timeline-subheading">Our History</h3>
    </div>
    <!-- import:content source:modules/timeline-slider/html/index.html -->
</div>

