//Font weights definition

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-family__sans: sans-serif;
$font-family__serif: 'Century Schoolbook', Georgia, 'Times New Roman', Times,
  serif;
$font-family__condensed: 'Roboto Condensed', sans-serif;
$font-family__normal: 'Roboto', sans-serif;
$font-family__base-search: 'Open Sans', sans-serif;
