<h2>Academic entry requirements - By country</h2>
<h2 class="monash-search-panel__heading">Country</h2>
  <div id="the-basics">
      <input type="text" class="typeahead monash-search-panel__input" placeholder="Country" data-search-panel-source="/monash-mango/_web_services/container-templates/search-panel-container-template/search-panel-json-w-assetid" data-entry-requirements-source="/monash/search-panels/get-asset-meta-entry-requirements">
  </div>
<br>
  <section class="panel section6__loader">
      <p>Content goes here...</p>
  </section>
<h2>Provisional enrolment</h2>
<p>If you do not have your final grades in your home country we may grant you provisional enrolement in the Foundation Year. However, 
    you must meet the entry requirements before you start classes.</p>