<div class="timeline-content__sm">
    <div class="social-media-share" >
        <a class="addthis_button_twitter" addthis:url="http://www.monash.edu" addthis:title="Card Title Example" addthis:media="mysource_files/bckgnd3.jpg" href="#"><span class="visuallyhidden">Share this page on Twitter</span></a>
        <a class="addthis_button_facebook" addthis:url="http://www.monash.edu" addthis:title="Card Title Example" href="#"><span class="visuallyhidden">Share this page on Facebook</span></a>
        <a class="addthis_button_linkedin" addthis:url="http://www.monash.edu" addthis:title="Card Title Example" addthis:media="mysource_files/bckgnd3.jpg" href="#"><span class="visuallyhidden">Share this page on Linkedin</span></a>
        <a class="addthis_button_google_plusone_share" addthis:url="http://www.monash.edu" addthis:title="Card Title Example"  addthis:media="mysource_files/bckgnd3.jpg" href="#"><span class="visuallyhidden">Share this page on Google Plus</span></a>
    </div>
</div>
