.breadcrumbs {

    &__link {
        color:     $base-light-charcoal;
        font-size: pxToRem(12);
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            border-bottom:   pxToRem(1) solid $base-light-charcoal;
            color:           $base-light-charcoal;
            text-decoration: none;
        }
    }
}
