<div class="row">
    <div class="col-md-12">
        <div class="card search-global__related">
            <div class="card-body">
                <div class="card-title">
                    <h3>Related searches for <strong>science</strong></h3>
                </div>

                <div class="card-text">
                    <div class="row">
                        <div class="col-sm">
                            <h4>By type</h4>
                            <ul class="list-unstyled">
                                <li class="list-item-unstyled"><a href="?clicked_fluster=pharmaceutical+science&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60Pharmaceutical+Science%60&amp;collection=monash-main-search">Pharmaceutical <strong>science </strong> </a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=monash+science&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60Monash+Science%60&amp;collection=monash-main-search">Monash <strong>science </strong> </a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=data+science&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60DATA+SCIENCE%60&amp;collection=monash-main-search">Data <strong>science </strong> </a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=bachelor+of+medical+science&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60Bachelor+of+Medical+Science%60&amp;collection=monash-main-search">Bachelor of Medical <strong>science </strong> </a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=health+science&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60health+science%60&amp;collection=monash-main-search">Health <strong>science </strong> </a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=materials+science&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60Materials+Science%60&amp;collection=monash-main-search">Materials <strong>science </strong> </a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=computer+science&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60computer+science%60&amp;collection=monash-main-search">Computer <strong>science </strong> </a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=studying+science&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60studying+Science%60&amp;collection=monash-main-search">Studying <strong>science </strong> </a></li>
                            </ul>
                        </div>
                        <div class="col-sm">
                            <h4>By topic</h4>
                            <ul class="list-unstyled">
                                <li class="list-item-unstyled"><a href="?clicked_fluster=faculty+of+science&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60Faculty+of+Science%60&amp;collection=monash-main-search">Faculty of <strong>science </strong> </a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=science+at+monash&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60Science+at+Monash%60&amp;collection=monash-main-search"> <strong>science </strong> at Monash</a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=science+precinct&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60Science+Precinct%60&amp;collection=monash-main-search"> <strong>science </strong> Precinct</a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=science+degree&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60science+degree%60&amp;collection=monash-main-search"> <strong>science </strong> Degree</a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=bachelor+of+science&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60Bachelor+of+Science%60&amp;collection=monash-main-search">Bachelor of <strong>science </strong> </a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=passion+for+science&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60passion+for+science%60&amp;collection=monash-main-search">Passion for <strong>science </strong> </a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=science+advanced&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60Science+Advanced%60&amp;collection=monash-main-search"> <strong>science </strong> Advanced</a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=science+honours&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60Science+Honours%60&amp;collection=monash-main-search"> <strong>science </strong> Honours</a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=science+and+engineering&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60Science+and+Engineering%60&amp;collection=monash-main-search"> <strong>science </strong> and Engineering</a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=science+education&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60science+education%60&amp;collection=monash-main-search"> <strong>science </strong> Education</a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=science+and+pharmacy+talent&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60science+and+pharmacy+talent%60&amp;collection=monash-main-search"> <strong>science </strong> and Pharmacy Talent</a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=science+research&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60Science+Research%60&amp;collection=monash-main-search"> <strong>science </strong> Research</a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=science+graduate&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60Science+graduate%60&amp;collection=monash-main-search"> <strong>science </strong> Graduate</a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=dean+of+science&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60Dean+of+Science%60&amp;collection=monash-main-search">Dean of <strong>science </strong> </a></li>
                                <li class="list-item-unstyled"><a href="?clicked_fluster=science+gateways&amp;cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=%60Science+Gateways%60&amp;collection=monash-main-search"> <strong>science </strong> Gateways</a></li>
                            </ul>
                        </div>
                        <div class="col-sm">
                            <h4>By site</h4>
                            <ul class="list-unstyled">
                                <li class="list-item-unstyled"><a href="?cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=science+%7Cu%3Awww.monash.edu&amp;collection=monash-main-search">www.monash.edu</a></li>
                                <li class="list-item-unstyled"><a href="?cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=science+%7Cu%3Amonash.edu&amp;collection=monash-main-search">monash.edu</a></li>
                                <li class="list-item-unstyled"><a href="?cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=science+%7Cu%3Awww.monash.edu.my&amp;collection=monash-main-search">www.monash.edu.my</a></li>
                                <li class="list-item-unstyled"><a href="?cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=science+%7Cu%3Aarts.monash.edu&amp;collection=monash-main-search">arts.monash.edu</a></li>
                                <li class="list-item-unstyled"><a href="?cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=science+%7Cu%3Aprofiles.arts.monash.edu.au&amp;collection=monash-main-search">profiles.arts.monash.edu.au</a></li>
                                <li class="list-item-unstyled"><a href="?cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=science+%7Cu%3Awww.monashcollege.edu.au&amp;collection=monash-main-search">www.monashcollege.edu.au</a></li>
                                <li class="list-item-unstyled"><a href="?cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=science+%7Cu%3Aresearch.monash.edu&amp;collection=monash-main-search">research.monash.edu</a></li>
                                <li class="list-item-unstyled"><a href="?cluster0=science&amp;f.Tabs%7CAllDocumentsFill=All+results&amp;origin=53.4395%2C14.593903&amp;profile=_default&amp;query=science+%7Cu%3Awww.facebook.com&amp;collection=monash-main-search">www.facebook.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>