<!-- import:content source:modules/banner-inside-page/html/index.html -->
<div class="content l--content">
    <div class="content-wrapper">
        <!-- import:content source:modules/breadcrumbs/html/index.html -->
        <div class="news-archive-listing__events-item">
            <h3><a href="http://mon-dev.clients.squiz.net/monash/news/internal/the-insider/1-sep-2016/the-2016-transport-survey-is-now-open!" class="h-event event-summary" title="">The 2016 Transport Survey is now open</a></h3>
            <p class="news-item-published-date">26/08/2016</p>
            <p class="news-item-summary"><p></p></p>
            <a class="news-item-url" href="http://mon-dev.clients.squiz.net/monash/news/internal/the-insider/1-sep-2016/the-2016-transport-survey-is-now-open!">http://mon-dev.clients.squiz.net/monash/news/internal/the-insider/1-sep-2016/the-2016-transport-survey-is-now-open!</a>
        </div>
        <div class="news-archive-listing__events-item">
            <h3><a href="http://mon-dev.clients.squiz.net/monash/news/internal/the-insider/1-sep-2016/staff-profile-dr-babak-salamati" class="h-event event-summary" title="">Staff Profile - Dr Babak Salamati</a></h3>
            <p class="news-item-published-date">26/08/2016</p>
            <p class="news-item-summary"><p></p></p>
            <a class="news-item-url" href="http://mon-dev.clients.squiz.net/monash/news/internal/the-insider/1-sep-2016/staff-profile-dr-babak-salamati">http://mon-dev.clients.squiz.net/monash/news/internal/the-insider/1-sep-2016/staff-profile-dr-babak-salamati</a>
        </div>
        <div class="news-archive-listing__events-item">
            <h3><a href="http://mon-dev.clients.squiz.net/monash/news/internal/the-insider/1-sep-2016/indigenous-cultural-safety-workshops-available-to-all-staff" class="h-event event-summary" title="">Indigenous Cultural Safety Workshops available to all staff</a></h3>
            <p class="news-item-published-date">26/08/2016</p>
            <p class="news-item-summary"><p></p></p>
            <a class="news-item-url" href="http://mon-dev.clients.squiz.net/monash/news/internal/the-insider/1-sep-2016/indigenous-cultural-safety-workshops-available-to-all-staff">http://mon-dev.clients.squiz.net/monash/news/internal/the-insider/1-sep-2016/indigenous-cultural-safety-workshops-available-to-all-staff</a>
        </div>
    </div>
</div>

