<nav class="container-fluid content-wrapper search-global__nav">
    <div class="row">
        <div class="col-md-12">
            <h2 class="sr-only">Tabs</h2>
            <div class="navbar-expand-md text-center">
                <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#search-tabs" aria-expanded="false" aria-label="Toggle tabs">
                    <small class="navbar-toggler-icon"></small> Show Filters
                </button>

                <div class="collapse navbar-collapse" id="search-tabs">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link text-center active" href="?query=science&amp;collection=monash-main-search">
                                All results <span class="search-facet-count">(21,191)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="?query=science&amp;f.Tabs%7C1=Website&amp;collection=monash-main-search">
                                Website <span class="search-facet-count">(15,249)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="?query=science&amp;collection=monash-main-search&amp;f.Tabs%7Cstudy-monash-courses-web=Courses">
                                Courses <span class="search-facet-count">(238)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="?query=science&amp;f.Tabs%7Cmonash-research=Research&amp;collection=monash-main-search">
                                Research <span class="search-facet-count">(5,363)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="?query=science&amp;f.Tabs%7Cmonash-youtube%2Cmonash-facebook=Social+Media&amp;collection=monash-main-search">
                                Social Media <span class="search-facet-count">(343)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
