<div id="banner-feature-article-user-def-heading" aria-hidden="true" class="banner--feature-article">
    <div class="page-wrapper">
        <div class="banner--feature-article user-def-palette--bg-wide-aa-charcoal">

            <div class="banner--feature-article__image-wrapper">
                <img src="{{file_dest}}/zz-banner-feature-article.jpg" alt="Racing car." class="banner--feature-article__image" />
            <!-- /.banner--feature-article__image-wrapper --></div>

            <div class="banner--feature-article__contents">
                <div id="qa-banner-feature-article-heading" class="banner--feature-article__heading user-def-palette--text-wide-white"><span class="banner--feature-article__heading-row">Australian</span> <span class="banner--feature-article__heading-row">champions for</span> <span class="banner--feature-article__heading-row">7 consecutive years</span></div>
            <!-- /.banner--feature-article__contents --></div>

        <!-- /.banner--feature-article --></div>
    <!-- /.page-wrapper --></div>
<!-- /.banner--feature-article --></div>
