<!-- See squiz-module-parallax for JS -->
<div id="banner-home-03" class="banner">
    <div class="page-wrapper user-def-palette--bg-white">
        <div class="parallax">
            <div class="parallax__layer parallax__layer-background">
                <img src="{{file_dest}}/zz-banner-parallax-03.jpg" alt="" class="banner__image" />
            <!-- /.banner__parallax-layer --></div>
            <div class="parallax__layer-foreground">
                <img src="{{file_dest}}/zz-banner-parallax-fg-03.png" alt="" class="banner__fg-image" />
            <!-- /.parallax__layer-foreground --></div>
            <div class="banner__contents">
                <div class="banner__contents-inner">
                    <h2 class="banner__heading user-def-palette--text-monash-blue">A big idea. A bigger impact.</h2>
                    <p class="banner__description user-def-palette--text-aa-charcoal">See how Monash graduates are changing the world.</p>
                <!-- /.banner__contents-inner --></div>
            <!-- /.banner__contents --></div>
        <!-- /.parallax --></div>
    <!-- /.page-wrapper --></div>
<!-- /.banner --></div>
