<!-- See squiz-module-parallax for JS -->
<div id="banner-home-01" class="banner">
    <div class="page-wrapper">
        <a href="" class="banner__link">
            <div class="parallax">
                <div class="parallax__layer parallax__layer-background">
                    <img src="https://www.monash.edu/__data/assets/image/0003/970005/triangles-abstract-multi-banner.jpg" alt="" class="banner__image" />
                <!-- /.banner__parallax-layer --></div>
                <div class="parallax__layer-foreground">
                    <img src="{{file_dest}}/zz-banner-parallax-fg-01.png" alt="" class="banner__fg-image" />
                <!-- /.parallax__layer-foreground --></div>
                <div class="banner__contents">
                    <div class="banner__contents-inner">
                        <h2 class="banner__heading user-def-palette--text-aa-blue">Policy Bank</h2>
                        <p class="banner__description">The Policy Bank contains the University’s approved policies, procedures, schedules and associated templates.</p>
                    <!-- /.banner__contents-inner --></div>
                <!-- /.banner__contents --></div>
            <!-- /.parallax --></div>
        </a>
    <!-- /.page-wrapper --></div>
<!-- /.banner --></div>
