<!-- See squiz-module-parallax for JS -->
<div id="banner-home-02" class="banner bg-white">
    <div class="page-wrapper">
        <a href="http://www.monash.edu#zz-banner-parallax-02" class="banner__link">
            <div class="parallax">
                <div class="parallax__layer parallax__layer-background">
                    <img src="{{file_dest}}/zz-banner-parallax-02.jpg" alt="" class="banner__image" />
                <!-- /.banner__parallax-layer --></div>
                <div class="parallax__layer-foreground">
                    <img src="{{file_dest}}/zz-banner-parallax-fg-02.png" alt="" class="banner__fg-image" />
                <!-- /.parallax__layer-foreground --></div>
                <div class="banner__contents">
                    <div class="banner__contents-inner">
                        <h2 class="banner__heading">Your ATAR&rsquo;s just a number</h2>
                        <p class="banner__description">Secure a course offer with the Monash Guarantee.</p>
                    <!-- /.banner__contents-inner --></div>
                <!-- /.banner__contents --></div>
            <!-- /.parallax --></div>
        </a>
    <!-- /.page-wrapper --></div>
<!-- /.banner --></div>
