<!-- Inventory of available variations for banner module -->

<!-- Default Banner -->
<div id="banner-default" class="banner">
    <div class="page-wrapper">
        <a href="http://www.monash.edu#zz-banner-01" class="banner__link">
            <img src="{{file_dest}}/zz-banner-01.jpg" alt="" class="banner__image" />
            <div class="banner__contents">
                <div class="banner__contents-inner">
                    <h2 class="banner__heading">Every great leap starts with a first step</h2>
                    <p class="banner__description">Accept your offer with us (or learn what to do if you didn&rsquo;t get one).</p>
                <!-- /.banner__contents-inner --></div>
            <!-- /.banner__contents --></div>
        </a>
    <!-- /.page-wrapper --></div>
<!-- /.banner --></div>

<!-- Unlinked Banner -->
<div id="banner-default-unlinked" class="banner">
    <div class="page-wrapper">
        <div class="banner__inner">
            <img src="{{file_dest}}/zz-banner-02.jpg" alt="" class="banner__image" />
            <div class="banner__contents">
                <div class="banner__contents-inner">
                    <h2 class="banner__heading">Every great leap starts with a first step</h2>
                    <p class="banner__description">Accept your offer with us (or learn what to do if you didn&rsquo;t get one).</p>
                <!-- /.banner__contents-inner --></div>
            <!-- /.banner__contents --></div>
        <!-- /.banner__inner --></div>
    <!-- /.page-wrapper --></div>
<!-- /.banner --></div>

<!-- Variation: Parallax -->
<!-- See squiz-module-parallax for JS -->
<div id="banner-parallax" class="banner">
    <div class="page-wrapper">
        <a href="http://www.monash.edu#zz-banner-01" class="banner__link">
            <div class="parallax">
                <div class="parallax__layer parallax__layer-background">
                    <img src="{{file_dest}}/zz-banner-parallax-01.jpg" alt="" class="banner__image" />
                <!-- /.parallax-layer --></div>
                <div class="parallax__layer-foreground">
                    <img src="{{file_dest}}/zz-banner-parallax-fg-01.png" alt="" class="banner__fg-image" />
                <!-- /.parallax__layer-foreground --></div>
                <div class="banner__contents">
                    <div class="banner__contents-inner">
                        <h2 class="banner__heading">Every great leap starts with a first step</h2>
                        <p class="banner__description">Accept your offer with us (or learn what to do if you didn&rsquo;t get one).</p>
                    <!-- /.banner__contents-inner --></div>
                <!-- /.banner__contents --></div>
            <!-- /.parallax --></div>
        </a>
    <!-- /.page-wrapper --></div>
<!-- /.banner --></div>

<!-- Variation: Unlinked Parallax -->
<!-- See squiz-module-parallax for JS -->
<div id="banner-parallax-unlinked" class="banner">
    <div class="page-wrapper">
        <div class="parallax">
            <div class="parallax__layer parallax__layer-background">
                <img src="{{file_dest}}/zz-banner-parallax-02.jpg" alt="" class="banner__image" />
            <!-- /.parallax-layer --></div>
            <div class="banner__contents">
                <div class="banner__contents-inner">
                    <h2 class="banner__heading">Every great leap starts with a first step</h2>
                    <p class="banner__description">Accept your offer with us (or learn what to do if you didn&rsquo;t get one).</p>
                <!-- /.banner__contents-inner --></div>
            <!-- /.banner__contents --></div>
        <!-- /.parallax --></div>
    <!-- /.page-wrapper --></div>
<!-- /.banner --></div>

<!-- Variation: Carousel -->
<!-- See squiz-module-slick for JS -->
<div id="banner-carousel" class="banner">
    <div class="page-wrapper">
        <div class="banner__carousel" data-slick="{&quot;autoplaySpeed&quot;: 6000, &quot;speed&quot;: 1600}">

            <div class="banner__carousel-slide">
                <a href="http://www.monash.edu#zz-banner-carousel-01" title="Every great leap starts with a first step" class="banner__carousel-link">
                    <img src="{{file_dest}}/zz-banner-slide-01.jpg" alt="Example Slide 1" class="banner__image" />
                    <div class="banner__contents">
                        <div class="banner__contents-inner">
                            <h2 class="banner__heading">Every great leap starts with a first step</h2>
                            <p class="banner__description">Accept your offer with us (or learn what to do if you didn&rsquo;t get one).</p>
                        <!-- /.banner__contents-inner --></div>
                    <!-- /.banner__contents --></div>
                </a>
            <!-- /.banner__carousel-slide --></div>

            <div class="banner__carousel-slide banner__carousel-slide--video user-def-palette--bg-white">
                <a href="https://www.youtube.com/watch?v=24RbBCjOgoI" title="Welcome to Monash University" class="banner__carousel-video-link">
                    <img src="{{file_dest}}/zz-banner-slide-02.jpg" alt="Example Slide 2" class="banner__image" />
                    <div class="banner__contents">
                        <div class="banner__contents-inner">
                            <h2 class="banner__heading user-def-palette--text-aa-orange">Welcome to Monash University</h2>
                            <p class="banner__description user-def-palette--text-aa-charcoal">Watch our intro video.</p>
                        <!-- /.banner__contents-inner --></div>
                    <!-- /.banner__contents --></div>
                </a>
            <!-- /.banner__carousel-slide --></div>

            <div class="banner__carousel-slide">
                <a href="http://www.monash.edu#zz-banner-carousel-03" title="Future focused" class="banner__carousel-link">
                    <img src="{{file_dest}}/zz-banner-slide-03.jpg" alt="Example Slide 3" class="banner__image" />
                    <div class="banner__contents">
                        <div class="banner__contents-inner">
                            <h2 class="banner__heading">Future focused</h2>
                            <p class="banner__description">Our new strategy lays the foundations for the next five years. Find out where we&rsquo;re headed.</p>
                        <!-- /.banner__contents-inner --></div>
                    <!-- /.banner__contents --></div>
                </a>
            <!-- /.banner__carousel-slide --></div>

            <div class="banner__carousel-slide">
                <a href="http://www.monash.edu#zz-banner-carousel-04" title="Global Discovery Program" class="banner__carousel-link">
                    <img src="{{file_dest}}/zz-banner-slide-04.jpg" alt="Example Slide 4" class="banner__image" />
                    <div class="banner__contents">
                        <div class="banner__contents-inner">
                            <h2 class="banner__heading">Global Discovery Program</h2>
                            <p class="banner__description">Eight Monash students will have the opportunity to spend eight days in the city that never sleeps.</p>
                        <!-- /.banner__contents-inner --></div>
                    <!-- /.banner__contents --></div>
                </a>
            <!-- /.banner__carousel-slide --></div>

        <!-- /.banner__carousel --></div>
    <!-- /.page-wrapper --></div>
<!-- /.banner --></div>

<!-- Inventory of available variations for feature article banner -->

<!-- Default Feature Article Banner -->
<div id="banner-feature-article" aria-hidden="true" class="banner--feature-article">
    <div class="page-wrapper">
        <div class="banner--feature-article user-def-palette--bg-wide-aa-charcoal">

            <div class="banner--feature-article__image-wrapper">
                <img src="{{file_dest}}/zz-banner-feature-article.jpg" alt="Racing car." class="banner--feature-article__image" />
            <!-- /.banner--feature-article__image-wrapper --></div>

            <div class="banner--feature-article__contents">
                <div class="banner--feature-article__heading user-def-palette--text-wide-white"><span class="banner--feature-article__heading-row">Australian champions for 7 consecutive years</span></div>
            <!-- /.banner--feature-article__contents --></div>

        <!-- /.banner--feature-article --></div>
    <!-- /.page-wrapper --></div>
<!-- /.banner--feature-article --></div>

<!-- User-defined heading with explicit line breaks -->
<div id="banner-feature-article-user-def-heading" aria-hidden="true" class="banner--feature-article">
    <div class="page-wrapper">
        <div class="banner--feature-article user-def-palette--bg-wide-aa-charcoal">

            <div class="banner--feature-article__image-wrapper">
                <img src="{{file_dest}}/zz-banner-feature-article.jpg" alt="Racing car." class="banner--feature-article__image" />
            <!-- /.banner--feature-article__image-wrapper --></div>

            <div class="banner--feature-article__contents">
                <div class="banner--feature-article__heading user-def-palette--text-wide-white"><span class="banner--feature-article__heading-row">Australian</span> <span class="banner--feature-article__heading-row">champions for</span> <span class="banner--feature-article__heading-row">7 consecutive years</span></div>
            <!-- /.banner--feature-article__contents --></div>

        <!-- /.banner--feature-article --></div>
    <!-- /.page-wrapper --></div>
<!-- /.banner--feature-article --></div>

<!-- No heading (heading is printed in main content instead) -->
<div id="banner-feature-article-no-heading" aria-hidden="true" class="banner--feature-article">
    <div class="page-wrapper">
        <div class="banner--feature-article user-def-palette--bg-wide-aa-charcoal">

            <div class="banner--feature-article__image-wrapper">
                <img src="{{file_dest}}/zz-banner-feature-article.jpg" alt="Racing car." class="banner--feature-article__image" />
            <!-- /.banner--feature-article__image-wrapper --></div>

        <!-- /.banner--feature-article --></div>
    <!-- /.page-wrapper --></div>
<!-- /.banner--feature-article --></div>
