<h2>Carousel Banner - Landing</h2>
<!-- import:content source:modules/banner/html/landing.html -->
<h2>Parallax Image Banner - Home</h2>
<!-- import:content source:modules/banner/html/home-01.html -->
<h2>Parallax Video Banner </h2>
<!-- import:content source:modules/banner/html/video-parallax.html -->
<h2>Micro Banner - Content page</h2>
<!-- import:content source:modules/banner-inside-page/html/index.html -->
<h2>Image Banner</h2>
<!-- import:content source:modules/banner/html/image.html -->
<h2>Video Banner</h2>
<!-- import:content source:modules/banner/html/video.html -->
<h2>Medium Banner</h2>
<!-- import:content source:modules/banner/html/medium.html -->
<br /><br /><br />