<!-- See squiz-module-slick for JS -->
<div id="banner-carousel" class="banner">
    <div class="page-wrapper">
        <div class="banner__carousel" data-slick="{&quot;autoplaySpeed&quot;: 6000, &quot;speed&quot;: 1600}">

            <div class="banner__carousel-slide">
                <a href="http://www.monash.edu#zz-banner-carousel-01" title="Every great leap starts with a first step" class="banner__carousel-link">
                    <img src="https://www.monash.edu/__data/assets/image/0003/2085636/19P-0542_WebBanner_CoronaVirus_013.jpg" alt="Example Slide 1" class="banner__image" />
                    <div class="banner__contents">
                        <div class="banner__contents-inner">
                            <h2 class="banner__heading">Every great leap starts with a first step</h2>
                            <p class="banner__description">Accept your offer with us (or learn what to do if you didn&rsquo;t get one).</p>
                        <!-- /.banner__contents-inner --></div>
                    <!-- /.banner__contents --></div>
                </a>
            <!-- /.banner__carousel-slide --></div>

            <div class="banner__carousel-slide banner__carousel-slide--video user-def-palette--bg-white">
                <a href="https://www.youtube.com/watch?v=24RbBCjOgoI" title="Welcome to Monash University" class="banner__carousel-video-link">
                    <img src="{{file_dest}}/zz-banner-slide-02.jpg" alt="Example Slide 2" class="banner__image" />
                    <div class="banner__contents">
                        <div class="banner__contents-inner">
                            <h2 class="banner__heading user-def-palette--text-aa-orange">Welcome to Monash University</h2>
                            <p class="banner__description user-def-palette--text-aa-charcoal">Watch our intro video.</p>
                        <!-- /.banner__contents-inner --></div>
                    <!-- /.banner__contents --></div>
                </a>
            <!-- /.banner__carousel-slide --></div>

            <div class="banner__carousel-slide">
                <a href="http://www.monash.edu#zz-banner-carousel-03" title="Future focused" class="banner__carousel-link">
                    <img src="{{file_dest}}/zz-banner-slide-03.jpg" alt="Example Slide 3" class="banner__image" />
                    <div class="banner__contents">
                        <div class="banner__contents-inner">
                            <h2 class="banner__heading">Future focused</h2>
                            <p class="banner__description">Our new strategy lays the foundations for the next five years. Find out where we&rsquo;re headed.</p>
                        <!-- /.banner__contents-inner --></div>
                    <!-- /.banner__contents --></div>
                </a>
            <!-- /.banner__carousel-slide --></div>

            <div class="banner__carousel-slide">
                <a href="http://www.monash.edu#zz-banner-carousel-04" title="Global Discovery Program" class="banner__carousel-link">
                    <img src="{{file_dest}}/zz-banner-slide-04.jpg" alt="Example Slide 4" class="banner__image" />
                    <div class="banner__contents">
                        <div class="banner__contents-inner">
                            <h2 class="banner__heading">Global Discovery Program</h2>
                            <p class="banner__description">Eight Monash students will have the opportunity to spend eight days in the city that never sleeps.</p>
                        <!-- /.banner__contents-inner --></div>
                    <!-- /.banner__contents --></div>
                </a>
            <!-- /.banner__carousel-slide --></div>

        <!-- /.banner__carousel --></div>
    <!-- /.page-wrapper --></div>
<!-- /.banner --></div>
