<div id="banner-default-unlinked" class="banner banner-medium">
    <div class="page-wrapper">
        <div class="banner__inner">
            <img src="{{file_dest}}/find-course-banner-left-aligned.jpg" alt="" class="banner__image" />
            <div class="banner__contents">
                <div class="banner__contents-inner">
                    <h2 class="banner__heading">Undergraduate</h2>
                    <!-- <p class="banner__description">Accept your offer with us (or learn what to do if you didn&rsquo;t get one).</p> -->
                    <!-- /.banner__contents-inner -->
                </div>
                <!-- /.banner__contents -->
            </div>
            <!-- /.banner__inner -->
        </div>
        <!-- /.page-wrapper -->
    </div>
    <!-- /.banner -->
</div>