<!-- Default Banner -->
<div id="banner-default" class="banner">
    <div class="page-wrapper">
        <a href="#" class="banner__link">
            <img src="https://www.monash.edu/__data/assets/image/0003/970005/triangles-abstract-multi-banner.jpg" alt=""
                class="banner__image" />
            <div class="banner__contents">
                <div class="banner__contents-inner">
                    <h2 class="banner__heading">Policy Bank</h2>
                    <p class="banner__description">The Policy Bank contains the University’s approved policies,
                        procedures, schedules and associated templates..</p>
                    <!-- /.banner__contents-inner -->
                </div>
                <!-- /.banner__contents -->
            </div>
        </a>
        <!-- /.page-wrapper -->
    </div>
    <!-- /.banner -->
</div>