<!-- Video Banner -->
<div id="banner-video" class="banner">
    <div class="page-wrapper">
        <a href="https://www.youtube.com/watch?v=24RbBCjOgoI" class="banner__link banner__video-link">
            <img src="{{file_dest}}/zz-banner-01.jpg" alt="" class="banner__image" />
            <div class="banner__contents">
                <div class="banner__contents-inner">
                    <h2 class="banner__heading">Every great leap starts with a first step</h2>
                    <p class="banner__description">Accept your offer with us (or learn what to do if you didn&rsquo;t get one).</p>
                <!-- /.banner__contents-inner --></div>
            <!-- /.banner__contents --></div>
        </a>
    <!-- /.page-wrapper --></div>
<!-- /.banner --></div>
