<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ site.lang }}">
  <head class="no-js">
    {% include "head.njk" %}
  </head>
  <body class="{{ bodyClass }}">
    <div id="page-wrapper" class="page">
      {% include "../partials/modules/skip-links/html/index.html" %} {% include
      "../partials/modules/global-header/html/index-byline.html" %}
      <main id="main">
        {% block microbanner %}{% endblock %}
        <div class="content bg-white l--content">
          <div class="content-wrapper">
            {% block content %}{% endblock %}
          </div>
        </div>
        <div class="background-image"></div>
      </main>
      <footer class="footer bg-light-grey" role="contentinfo" id="footer">
        {% include "../partials/modules/global-footer/html/index.html" %}
      </footer>
    </div>
  </body>
</html>
