{% extends "layouts/base.html" %} {% block content %} {% include
"../partials/modules/intro-text/html/landing.html" %} {% include
"../partials/modules/tabs/html/tabs.html" %} 
<h1>Navigation Tiles</h1>
<div id="txt_1">
    <p>Morbi egestas in nibh id accumsan. Nulla sed varius ipsum, tincidunt euismod magna. Donec volutpat nisi vitae lectus cursus rutrum at egestas felis. Cras faucibus convallis nibh, quis vestibulum massa. Nulla eu mauris eu enim pulvinar pharetra. Nulla facilisi. Quisque mollis aliquam auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce ut dolor a nisl euismod bibendum eget et risus.</p>
    </div>
<div id="listing-box-study-landing-1226524" class="box-listing-element__container box-listing-element--nav-tiles bg-light-grey top-gap--standard bottom-gap--standard">
    <div class="content-wrapper">
        <ul class="row box-listing-element__group nav-tiles__group">
            <li class="col-xs-12 col-md-6 box-listing-element__wrapper">
                <div class="box-listing-element box-listing-element__2-col box-listing-element__small-thumb">
                    <div class="row">
                                                <a href="https://www.monash.edu/mangotemplates/link" class="box-listing-element__thumb-link"><img src="https://www.monash.edu/__data/assets/image/0016/1015360/varieties/nav.tile.jpg" alt="Syringe negative green " class="box-listing-element__thumb-image"></a>
                                                <div class="box-listing-element__blurb">
                            <h2 class="box-listing-element__heading"><a href="https://www.monash.edu/mangotemplates/link" class="box-listing-element__heading-link">Heading 1</a></h2>
                            <p class="box-listing-element__description">Description 1</p>
                            <!-- /.box-listing-element__blurb -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-listing-element -->
                </div>
                <!-- /.box-listing-element__wrapper -->
            </li>
                            <li class="col-xs-12 col-md-6 box-listing-element__wrapper">
                    <div class="box-listing-element box-listing-element__2-col box-listing-element__small-thumb">
                        <div class="row">
                                                        <a href="https://www.monash.edu/mangotemplates/link" class="box-listing-element__thumb-link"><img src="https://www.monash.edu/__data/assets/image/0015/1015314/varieties/nav.tile.jpg" alt="Paint on canvas red pink " class="box-listing-element__thumb-image"></a>
                                                        <div class="box-listing-element__blurb">
                                <h2 class="box-listing-element__heading"><a href="https://www.monash.edu/mangotemplates/link" class="box-listing-element__heading-link">Heading 2</a></h2>
                                <p class="box-listing-element__description">Description 2</p>
                                <!-- /.box-listing-element__blurb -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.box-listing-element -->
                    </div>
                    <!-- /.box-listing-element__wrapper -->
                </li>
                                </ul>
    <!-- /.content-wrapper --></div>
<!-- /.box-listing-element__container --></div>
{% endblock %}
