{% extends "layouts/base-lhsNav.html" %} {% block microbanner %} {% include
"../partials/modules/microbanner/microbanner.html"%} {% endblock %} {% block
content %}
<div class="lhs">
  {% include "../partials/modules/lhs-nav/html/index.html" %}
</div>
<div class="content bg-white">
  <div class="content-inner__main">
    {% include "../partials/modules/breadcrumbs/html/index.html"%} {% include
    "../partials/modules/policy-page/html/index.html"%}

    <select id="lhs__prev-pdf" class="lhs__prev-pdf" tabindex="-1"
      ><option value="">Download previous versions</option
      ><option
        value="https://www.monash.edu/__data/assets/pdf_file/0003/800589/Annual-leave.pdf"
        >Annual Leave</option
      ><option
        value="https://www.monash.edu/__data/assets/pdf_file/0008/800648/All-Leave.pdf"
        >all students of Monash University and Monash College; and</option
      ><option
        value="https://www.monash.edu/__data/assets/pdf_file/0003/800598/Excess-Annual-Leave.pdf"
        >Excess Annual Leave</option
      ></select
    >
  </div>
</div>
{% endblock %}
