<li class="expertline__results-item">
	
	<div class="expertline__results-item-wrapper">

		<div class="expertline__results-item-short">
			<h4 class="expertline__results-item-name">
				<button class="expertline__results-item-name-link js-expertline__results-item-name-link" title="View John Doe details">
					<span>John Doe</span>
				</button>
			</h4>
			<p class="expertline__results-item-department">Department: Sociology</p>
			
			<span class="expertline__results-item-topics-label">Topics:</span>
			<ul class="expertline__results-item-topics">
				<li class="expertline__results-item-topic">Topic 01</li>
				<li class="expertline__results-item-topic">Topic 02</li>
				<li class="expertline__results-item-topic">A very long topic name goes here</li>
				<li class="expertline__results-item-topic">A very long topic name withalongandfakewordinside</li>
				<li class="expertline__results-item-topic">Topic 06</li>
			</ul>
		</div>


		<ul class="expertline__results-item-full">
			<li class="expertline__results-item-full-detail">
				<span class="expertline__results-item-full-label">Phone: </span>
				<span class="expertline__results-item-full-value"><a class="expertline__results-item-full-link" href="tel:+12345678910">+12 345 678 910</a></span>
			</li>
			<li class="expertline__results-item-full-detail">
				<span class="expertline__results-item-full-label">Mobile: </span>
				<span class="expertline__results-item-full-value"><a class="expertline__results-item-full-link" href="tel:+10987654321">+10 987 654 321</a></span>
			</li>
			<li class="expertline__results-item-full-detail">
				<span class="expertline__results-item-full-label">E-mail: </span>
				<span class="expertline__results-item-full-value"><a class="expertline__results-item-full-link" href="mailto:example@email.address.com">example@email.address.com</a></span>
			</li>
			<li class="expertline__results-item-full-detail">
				<span class="expertline__results-item-full-label">WWW: </span>
				<span class="expertline__results-item-full-value"><a class="expertline__results-item-full-link" href="http://example.address.com">example.address.com</a></span>
			</li>
		</ul>

		<button class="expertline__results-item-collapse js-expertline__results-item-collapse" title="Collapse this tile">
			<span class="visuallyhidden">Collapse this tile</span>
		</button>

		<button class="expertline__results-item-expand js-expertline__results-item-expand" tabindex="-1" title="Expand this tile">
			<span class="visuallyhidden">Expand this tile</span>
		</button>

		<a href="/URL" class="expertline__results-item-goto btn btn--blue">View expert</a>

	</div>

</li>