        {# <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="always">
        <link rel="icon" href="favicon.ico">
        <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!-- build:sass dist:styles/main.css -->
            <!-- import:css source:styles/global.scss -->
            <!-- import:css module:**/css/variables.scss -->
            <!-- import:content module:**/import/_css.html -->
            <!-- import:css bower:jquery-selectric/public/selectric.css -->
            <!-- import:css bower:tooltipster/css/tooltipster.css -->
            <!-- import:css bower:rangeslider.js/dist/rangeslider.css -->
            <!-- import:css bower:trumbowyg/dist/ui/trumbowyg.min.css -->
            <!-- import:css bower:fancybox/source/jquery.fancybox.css -->
            <!-- import:css module:**/css/global.scss {"header": "{{moduleComment path}}", "helpers": "source/js/helpers.js"} -->

            <!-- build:css tmp:styles/medium.scss { "media": "(min-width: 37.5em)" } -->
                <!-- import:css source:styles/medium.scss -->
                <!-- import:css module:**/css/medium.scss {"header": "{{moduleComment path}}", "helpers": "source/js/helpers.js"} -->
            <!-- endbuild -->
            <!-- build:css tmp:styles/wide.scss { "media": "only screen and (min-width: 60em)" } -->
                <!-- import:css source:styles/wide.scss -->
                <!-- import:css module:**/css/wide.scss {"header": "{{moduleComment path}}", "helpers": "source/js/helpers.js"} -->
            <!-- endbuild -->
            <!-- build:css tmp:styles/xwide.scss { "media": "only screen and (min-width: 73.25em)" } -->
                <!-- import:css source:styles/xwide.scss -->
                <!-- import:css module:**/css/xwide.scss {"header": "{{moduleComment path}}", "helpers": "source/js/helpers.js"} -->
            <!-- endbuild -->
            <!-- build:css tmp:styles/print.scss { "media": "print" } -->
                <!-- import:css source:styles/print.scss -->
                <!-- import:css module:**/css/print.scss {"header": "{{moduleComment path}}", "helpers": "source/js/helpers.js"} -->
            <!-- endbuild -->
        <!-- endbuild -->
        <!-- build:js dist:js/vendor/modernizr.min.js -->
            <!-- import:js bower:modernizr/modernizr.js -->
        <!-- endbuild -->

        <!-- import:content module:**/import/_head.html --> #}
