// scss-lint:disable VendorPrefix
// scss-lint:disable PseudoElement
// scss-lint:disable QualifyingElement
// scss-lint:disable MergeableSelector

%default-input-style {
  border: 1px solid $base-dark-grey;
  color: $base-monash-blue;
  font-family: sans-serif;
  font-weight: $font-regular;
  font-size: $base-font-pixel;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: $form-control-placeholder;
  padding: pxToRem(8) pxToRem(10);
  width: 100%;
}

$checkboxes-radios__default-border-colour: #a9a9a9;
$error-messages-red: #b60706;
$success-messaged-green: #008932;

// Normalise placeholder text so that fake form fields can be styled.
// Placeholders require sufficient contrast!
// https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html#contrast-ratiodef
input,
select,
textarea {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0; // Normalise
  outline: 0;
  transition: all 0.25s;
  &::-webkit-input-placeholder {
    color: $form-control-placeholder;
  }

  &:focus {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  // Firefox ≤ 18
  &:-moz-placeholder {
    color: $form-control-placeholder;
  }

  // Firefox ≥ 19
  &::-moz-placeholder {
    color: $form-control-placeholder;
  }

  &:-ms-input-placeholder {
    color: $form-control-placeholder;
  }
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='tel'],
textarea {
  -webkit-appearance: none; // Normalise - remove shadow from iOS (not caused by box-shadow)
}

.control-group {
  @include sq-flex-box();
  flex-direction: row;

  // Best used in conjunction with .btn.btn--blue, eg:
  // <label for="example-input" class="btn btn--blue control-group__label">…</label>
  // <button type="submit" class="btn btn--blue control-group__button">…</button>
  &__label,
  &__button {
    flex-shrink: 0;
  }

  &__label {
    font-size: 0.75rem;
    font-weight: $font-semi-bold;
    width: 100%;
  }

  &__input {
    @extend %default-input-style;
    @include sq-flex-grow(1);

    &::placeholder {
      color: $base-medium-grey;
    }

    &::-webkit-input-placeholder {
      color: $base-medium-grey;
    }

    // Firefox ≤ 18
    &:-moz-placeholder {
      color: $base-medium-grey;
    }

    // Firefox ≥ 19
    &::-moz-placeholder {
      color: $base-medium-grey;
    }

    &:-ms-input-placeholder {
      color: $base-medium-grey;
    }
  }
}
.sq-form {
  background-color: none;
  padding: 2em;
  font-family: sans-serif;

  &-section {
    border: 0;
    margin: 0;
    padding: 0;

    &-title {
      display: none;
    }
  }

  &-error,
  &-success {
    display: block;
    padding-left: pxToRem(27);
    position: relative;

    &:before {
      background-position: center;
      background-repeat: no-repeat;
      content: '';
      height: pxToRem(18);
      left: 0;
      margin-top: pxToRem(-9);
      position: absolute;
      top: 50%;
      width: pxToRem(18);
    }
  }

  &-error {
    color: $error-messages-red;
    margin-bottom: pxToRem(15);

    &:before {
      background-image: url('https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/error-icon.png');
    }
  }

  &-success {
    color: $success-messaged-green;
    margin-top: pxToRem(15);

    &:before {
      background-image: url('https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/success-icon.png');
    }
  }

  &-field {
    @extend %default-input-style;

    &[type='file'] {
      border: 0;
    }

    &[type='radio'],
    &[type='checkbox'] {
      height: pxToRem(20);
      left: pxToRem(-4);
      margin-right: pxToRem(4);
      opacity: 0;
      position: absolute;
      top: pxToRem(2);
      width: pxToRem(23);
    }

    &[type='radio']:checked + label:after,
    &[type='checkbox']:checked + label:after {
      opacity: 1;
    }

    &[type='checkbox']:focus + label,
    &[type='radio']:focus + label {
      outline: thin dotted;
    }

    &[type='radio'] + label,
    &[type='checkbox'] + label {
      cursor: pointer;
      margin-left: pxToRem(22);
      position: relative;
    }
    &[type='checkbox'] + label {
      cursor: pointer;
      margin-left: pxToRem(22);
      position: relative;
      padding-right: pxToRem(22);
    }

    &[type='radio'] + label:before,
    &[type='radio'] + label:after,
    &[type='checkbox'] + label:before,
    &[type='checkbox'] + label:after {
      content: '';
      position: absolute;
    }

    &[type='radio'] + label:before,
    &[type='radio'] + label:after {
      border-radius: 50%;
      content: '';
      position: absolute;
    }

    &[type='radio'] + label:before,
    &[type='checkbox'] + label:before {
      display: inline-block;
      height: pxToRem(14);
      left: pxToRem(-22);
      top: pxToRem(1);
      width: pxToRem(14);
    }

    &[type='radio'] + label:before {
      border: 1px solid $checkboxes-radios__default-border-colour;
      background: white;
    }

    &[type='radio'] + label:after {
      background-color: $base-monash-blue;
      height: pxToRem(6);
      left: pxToRem(-18);
      opacity: 0;
      top: pxToRem(5);
      width: pxToRem(6);
    }
    &[type='checkbox'] + label:before {
      border: 1px solid $checkboxes-radios__default-border-colour;
      background: white;
      height: 1.25rem;
      width: 1.25rem;
      margin-top: -0.15rem;
      margin-left: -0.3rem;
    }
    &[type='checkbox'] + label:after {
      display: inline-block;
      opacity: 0;
      background-color: $base-monash-blue;
      content: '';
      position: absolute;

      top: 2px;
      left: -20px;
      width: 7px;
      height: 11px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    &[type='checkbox']:checked + label:before {
      border: 1px solid $checkboxes-radios__default-border-colour;
      background: $base-monash-blue;
      opacity: 1;
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  &-question {
    margin-bottom: pxToRem(25);

    &-title {
      color: $base-light-charcoal;
      display: block;
      font-family: $font-family__condensed;
      font-size: 14px;
      font-weight: bold;

      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #000000;
      //margin-left: 0.25em;
      margin-left: 0;
    }

    &-answer {
      margin-top: pxToRem(5);
    }
  }

  &-question-option-list,
  &-question-tickbox-list {
    ul {
      @include sq-list-reset;
    }

    li {
      margin-bottom: pxToRem(6);
      position: relative;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  &-question-option-list--inline,
  &-question-tickbox-list--inline {
    li {
      display: inline;
      margin-bottom: 0;
      margin-right: pxToRem(15);
    }

    li:last-child {
      margin-right: 0;
    }
  }

  &-question-option-list,
  &-question-tickbox-list,
  &-question-datetime {
    fieldset {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }

  &-question-datetime {
    margin-bottom: pxToRem(15);

    .selectric-wrapper {
      margin-bottom: pxToRem(10);
      margin-top: pxToRem(10);
    }

    label {
      color: $base-light-charcoal;
    }
  }

  textarea {
    min-height: pxToRem(140);
    resize: none;
  }
}

// Custom styles for select fields
.sq-form-question-select,
.sq-form-question-datetime,
.sq-form-question-country {
  .selectric {
    @extend %default-input-style;
    background: $white;
    min-height: pxToRem(40);

    .label {
      color: $black;
      font-size: pxToRem(16);
      height: auto;
      line-height: 1.375;
      margin: 0;
    }

    .button,
    .button:hover {
      background-color: $base-monash-blue;
    }

    .button {
      color: $base-light-grey;
      height: pxToRem(40);
      right: pxToRem(-1);
      top: pxToRem(-1);
      width: pxToRem(40);
    }

    .button::after {
      @include sq-inline-block();
      //@include sq-sprite-bg(.4375);
      //@include sq-sprite(angle-down-lg, .4375);
      zoom: 1;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 329px 245px;
      background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
      width: 14px;
      height: 14px;
      background-position: -105px -21px;
      border: 0;
      content: '';
      margin-right: pxToRem(-7);
      margin-top: pxToRem(-7);
      position: absolute;
      right: pxToRem(20);
      top: 50%;
    }
  }

  .selectric-items {
    background: $white;
    //border: 1px solid $base-light-charcoal;
    border-top: 0;
    box-shadow: none;

    li {
      border: 0;
      border-top: 1px solid $white;
      color: $base-light-charcoal;
      font-size: pxToRem(16);
      font-weight: $font-regular;

      line-height: 1.375;
      padding: pxToRem(8) pxToRem(10);
    }

    li.selected {
      background: $white;
      color: $base-monash-blue;
    }

    li:hover {
      background: $base-monash-blue;
      color: $white;
    }

    li:first-child {
      border-top: 0;
    }
  }

  .selectric-above .selectric-items {
    border-bottom: 0;
    border-top: 1px solid $base-monash-blue;
  }
}

// No JS: Leave unstyled
// JS Enabled: Inject empty styled element; change file name onchange
.sq-form-question-file-upload {
  .js-enabled & {
    .sq-form-question-answer,
    .sq-form-question-facade {
      // (Text * line height) + top padding + bottom padding
      height: pxToRem(40); //to fix issue on Samsung mob & tab VMR-543
      // height: (1rem * 1.4) + (2 * pxToRem(9));
    }

    .sq-form-question-answer {
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 100%;
      background: $white;
    }

    .sq-form-field[type='file'] {
      @include sq-opacity(0);
    }

    .sq-form-field[type='file']:focus + .sq-form-question-facade {
      // Apply "focus" style to file input façade
      outline: thin dotted;
    }

    .sq-form-question-facade {
      @extend %default-input-style;
      color: $black;
      left: 0;
      overflow: hidden;
      padding-right: 49%; // Allow room for right "button"
      position: absolute;
      right: 0;
      text-overflow: ellipsis;
      top: 0;
      white-space: nowrap;
      z-index: $z-index-form-field-facade;
    }

    .sq-form-question-facade::after {
      background-color: $base-monash-blue;
      bottom: 0;
      color: $white;
      content: 'Browse files';
      padding: pxToRem(9) pxToRem(17);
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: auto;
    }
  }
}
