// Form Elements (Print)
.sq-form-question-file-upload {

    .js-enabled & {

        .sq-form-question-facade::after {
            background-color:   transparent;
            border-left:        1px solid $base-monash-blue;
            color:              $base-monash-blue;
        }

    }

}
