// No JS: Leave unstyled
// JS Enabled: Inject empty styled element; change file name onchange
.sq-form-question-file-upload {

    .js-enabled & {

        .sq-form-question-facade {
            padding-right: 29%; // Allow room for right "button"
        }

        .sq-form-question-facade::after {
            min-width: 8em;
            padding:   pxToRem(9) pxToRem(10);
            width:     25%;
        }

    }

}