table {
    border-collapse: collapse;
    color:           $base-light-charcoal;
    display:         block;
    margin:          .5em 0 1.5em;
    overflow:        auto;
    position:        relative;
    width:           100%;
}

th {
    background: $base-light-grey;
    padding:    pxToRem(14) pxToRem(18);
    text-align: left;

    &:not(:last-child) {
        border-right: 1px $white solid;
    }
}

td {
    border-bottom:  1px solid $base-light-grey;
    padding:        pxToRem(14) pxToRem(18);
    vertical-align: top;
}

tbody tr:last-child,
tbody tr:last-child th,
tbody tr:last-child td,
tbody tr:nth-last-child(2) th[rowspan="2"],
tbody tr:nth-last-child(2) td[rowspan="2"],
tbody tr:nth-last-child(3) th[rowspan="3"],
tbody tr:nth-last-child(3) td[rowspan="3"],
tbody tr:nth-last-child(4) th[rowspan="4"],
tbody tr:nth-last-child(4) td[rowspan="4"],
tbody tr:nth-last-child(5) th[rowspan="5"],
tbody tr:nth-last-child(5) td[rowspan="5"] {
    border-bottom: thin $base-monash-blue solid;
}

caption {
    color:       $base-light-charcoal;
    display:     block;
    font-family: $font-family__sans;
    font-size:   pxToRem(15);
    font-weight: $font-bold;
    margin:      pxToRem(16) 0;
    text-align:  left;
}

.table__border-blue-cell {
    border-bottom: 0;

    th,
    td {
        background-color: $white;
        border:           1px solid $base-monash-blue;
        font-weight:      $font-light;
        line-height:      1;
        padding:          pxToRem(10);
        text-align:       center;
    }

    th {
        font-size:     pxToRem(15);
        word-wrap:     break-word;
    }

    td {
        color:       $base-monash-blue;
        font-family: $font-family__condensed;
        font-size:   pxToRem(21);
        line-height: inherit;

        .sq-icon__tick-green {
            @include sq-sprite-bg(.75);
            @include sq-sprite(tick, .75);
            content:        '';
            display:        inline-block;
            margin:         0 auto;
            overflow:       hidden;
            text-indent:    100%;
            vertical-align: middle;
            white-space:    nowrap;
        }
    }
}

.table__border-blue-row {
    border-bottom: 0;
    margin:        pxToRem(16) 0;

    tr {
        border: 1px solid $base-monash-blue;
    }

    th,
    td {
        background-color: $white;
        border:           0;
    }

    td {
        color:       $base-monash-blue;
        font-family: $font-family__condensed;
        font-size:   pxToRem(21);
        font-weight: $font-light;
        line-height: pxToRem(21);
    }

    th {
        font-weight: $font-light;
        line-height: pxToRem(21);
    }
}

.table__legend {
    color:     $base-light-charcoal;
    font-size: pxToRem(12);

    a {
        color: inherit;
    }
}

.scroll-wrapper {
    overflow: auto;
}

.course-page {

    // Default table
    &__table-default {
        border-bottom:      1px solid $base-monash-blue;
        display:            table;
        margin-top:         pxToRem(15);

        tbody {
            display:        table-row-group;

            tr {
                border-bottom:  1px solid $base-light-grey;
            }

            tr:last-child {
                border:         0;
            }
        }

        thead {
            display:        table-header-group;

            td,
            th {
                background-color:       $base-light-grey;
            }
        }

        td,
        th {
            background-color:       $white;
            border:                 0;
            min-width:              175px;
        }
    }

    // Course structure
    &__course-structure {
        border-bottom:          0;
        font-size:              pxToRem(15);

        th {
            min-width:          170px;
        }

        th,
        td {
            background-color:   transparent;
            border:             1px solid $white;

            p {
                margin-top:     0;
            }
        }

        tr:nth-child(2n+1) {
            background-color:       $base-light-grey;
        }

        .elective-unit-bg {
            background-color:       $table-brown;
        }

        .core-unit-bg {
            background-color:       $table-blue;
        }
    }

}
