<!-- import:content source:modules/social-media/html/fragments/_social-media-share-bar.html -->
<!-- import:content source:modules/inside-page/html/fragments/_dummy-content-1.html -->
<!-- import:content source:modules/image/html/index.html -->
<section id="tabs-accordions">
    <h2>Tabs - Accordions</h2>
    <!-- import:content source:modules/tabs-accordions/html/accordion.html -->
    <!-- import:content source:modules/tabs-accordions/html/tabs.html -->
</section>
<!-- import:content source:modules/table/html/index.html -->
<!-- import:content source:modules/inside-page/html/fragments/_dummy-content-2.html -->
<!-- import:content source:modules/form-elements/html/index.html -->
<!-- import:content source:modules/inside-page/html/fragments/_related-keywords.html -->
<!-- import:content source:modules/feature-links/html/index.html -->
