<section id="related-keywords">
    <div class="related">
        <h3 class="related__heading">Categories</h3>
        <div>
            <a href="#">Research</a>
            <a href="#">Research Institutes and Centres</a>
        </div>
    </div>

    <div class="related">
        <h3 class="related__heading">Tags</h3>
        <div>
            <a href="#">Ye Zhu</a>
            <a href="#">Joanne Etheridge</a>
        </div>
    </div>
</section>
