// Search Block (Global)

// Variation: search courses
.search-box--courses {
    margin-left:  -1rem;
    margin-right: -1rem;

    &__label,
    .control-group {
        padding-left:   1rem;
        padding-right:  1rem;
    }

    &__label {
        color:          $base-monash-blue;
        display:        block;
        font-family:    $font-family__serif;
        font-size:      pxToRem(30);
        line-height:    1.0667;
        padding-bottom: pxToRem(28);
        padding-top:    pxToRem(28);
        text-align:     center;
    }

    // Specificity override (see "form-elements" module)
    .control-group {
        background-color:   $base-light-grey;
        padding-bottom:     1.25rem;
        padding-top:        1.25rem;
    }

    .control-group__input,
    .control-group__button {
        display:        block;
        font-size:      1rem;
        line-height:    1.3125;
        padding-bottom: 1rem;
        padding-top:    1rem;
    }

    .control-group__input {
        padding-left:  1rem;
        padding-right: 1rem;

        &::-webkit-input-placeholder {
            color: $base-light-charcoal;
        }
        // scss-lint:disable VendorPrefix
        // scss-lint:disable PseudoElement
        // Firefox ≤ 18
        &:-moz-placeholder {
            color: $base-light-charcoal;
        }

        // Firefox ≥ 19
        &::-moz-placeholder {
            color: $base-light-charcoal;
        }

        &:-ms-input-placeholder {
            color: $base-light-charcoal;
        }
        // scss-lint:enable PseudoElement
        // scss-lint:enable VendorPrefix
    }

    .control-group__button {
        border:         1px solid $base-monash-blue;
        font-weight:    $font-light;
        text-align:     center;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

    }

}


.monash-search-panel {
    margin: 0;

    // wprzerwa: MCR-22, item #3
    // &__heading {
    //     color:         $base-monash-blue;
    //     float:         left;
    //     font-family:   $font-family__serif;
    //     font-size:     pxToRem(21);
    //     line-height:   1.143;
    //     margin-bottom: pxToRem(18);
    //     margin-top:    0;
    //     width:         100%;
    // }

    &__input {
        background-color: $white;
        border-color:     $base-monash-blue;
        color:            $base-monash-blue;
        flex-basis:       100%;
        padding:          pxToRem(11) pxToRem(15);

        &::-webkit-input-placeholder {
            color:   $base-monash-blue;
            opacity: 1;
        }

        // scss-lint:disable VendorPrefix
        // scss-lint:disable PseudoElement
        // Firefox ≤ 18
        &:-moz-placeholder {
            color:   $base-monash-blue;
            opacity: 1;
        }

        // Firefox ≥ 19
        &::-moz-placeholder {
            color:   $base-monash-blue;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color:   $base-monash-blue;
            opacity: 1;
        }
        // scss-lint:enable VendorPrefix
        // scss-lint:enable PseudoElement
    }

}

// dcook 2016-12-13: commented out because it breaks the current prod news&events layout
// .search-box--news__form {
//     flex-wrap:       wrap;
// }

// Variation: search news
.search-box--news,
.search-box--browse {
    margin: 0;

    .selectric-wrapper {
        margin-right: 0 !important;
    }
    
    &__form {
        background-color: $white;
        border-bottom:    pxToRem(1) solid $base-monash-blue;
        display:          block;
        margin-bottom:    1rem;
        padding:          pxToRem(15) pxToRem(5) pxToRem(20);
    }

    &-main {
        width: 100%;
        margin-top: pxToRem(0);
        padding-left:    pxToRem(15);
        padding-right:   pxToRem(15);  

        .search-box--browse__heading {
            float: none;
        }

        .search-box--browse__button {
            width: 30.2%;
        } 
    }

    &-lhs,
    &-rhs {
        align-content:   flex-start;
        align-items:     flex-start;
        display:         flex;
        flex-wrap:       wrap;
        justify-content: space-between;
        padding-left:    pxToRem(15);
        padding-right:   pxToRem(15);
    }

    &-rhs {
        margin-top: pxToRem(20);
    }

    &__heading {
        color:         $base-monash-blue;
        float:         left;
        font-family:   $font-family__serif;
        font-size:     pxToRem(21);
        line-height:   1.143;
        margin-bottom: pxToRem(18);
        margin-top:    0;
        width:         100%;
    }

    &__label {
        color: $base-monash-blue;
    }

    &__input {
        background-color: $white;
        border-color:     $base-monash-blue;
        color:            $base-monash-blue;
        flex-basis:       100%;
        padding:          pxToRem(11) pxToRem(15);

        &::-webkit-input-placeholder {
            color:   $base-monash-blue;
            opacity: 1;
        }

        // scss-lint:disable VendorPrefix
        // scss-lint:disable PseudoElement
        // Firefox ≤ 18
        &:-moz-placeholder {
            color:   $base-monash-blue;
            opacity: 1;
        }

        // Firefox ≥ 19
        &::-moz-placeholder {
            color:   $base-monash-blue;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color:   $base-monash-blue;
            opacity: 1;
        }
        // scss-lint:enable VendorPrefix
        // scss-lint:enable PseudoElement

    }

    .selectric-wrapper,
    &__controls,
    &__select {
        margin-top: pxToRem(10);
    }

    &__select,
    .selectric-wrapper {
        flex-grow:    1;
        margin-right: 2%;
    }

    &__select {
        background-color: $white;
        border:           pxToRem(1) solid $base-monash-blue;
        color:            $base-monash-blue;
        height:           pxToRem(45);
        padding:          pxToRem(13) pxToRem(15);
    }

    .selectric .label,
    .selectric-items li {
        color:       $base-monash-blue;
        flex-grow:   1;
        font-weight: $font-light;
    }

    .selectric {
        background-color:   $white;
        border-color:       $base-monash-blue;
        padding:            pxToRem(11) pxToRem(15);

        .label {
            font-size:   pxToRem(15);
            height:      auto;
            line-height: 1.4;
            margin:      0;
        }

        .button {
            @extend %ir;
            @include sq-sprite-pseudo(angle-down-lg, 'after', .5);
            background-color: $base-monash-blue;
            color:            $white;
            height:           pxToRem(43);
            width:            pxToRem(40);

            &::after {
                border:             0 none;
                border-top-color:   transparent;
            }
        }
    }



    .selectric-items {
        border-color:   $base-monash-blue;
        border-top:     0 none;

        li {
            background-color: $white;
            border-bottom:    0 none;
            border-top:       0 none;
            color:            $base-light-charcoal;
            font-size:        pxToRem(15);
            line-height:      1.4;
            padding:          pxToRem(11) pxToRem(14);

            &,
            &.selected {
                &:hover,
                &:focus {
                    background-color: $base-monash-blue;
                    color:            $white;
                }
            }

            &.selected {
                color:              $base-monash-blue;
            }
        }
    }

    .selectric-above .selectric-items {
        border-bottom: 0;
        border-top:    pxToRem(1) solid $base-monash-blue;
    }

    &__controls {
        display:         flex;
        flex-basis:      pxToRem(85);
        justify-content: flex-end;
    }

    &__button {
        background-color:   $base-monash-blue;
        color:              $white;
        display:            block;

        padding:            pxToRem(12) 1.25rem;
        width:              pxToRem(85);
    }

}

// Variation: browse categories
.search-box--browse__control {
    color:           $base-monash-blue;
    font-weight:     $font-light;
    margin:          .5rem 0;

    span {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.search-box--browse__list {
    @extend %clearfix;
    background-color:   $white;
    border:             1px solid $base-monash-blue;
    border-top:         0;
    display:            none;
    padding:            pxToRem(8) pxToRem(15);
    position:           absolute;
    z-index:            1;

    ul {
        @extend %list-reset;
        color: $base-monash-blue;
    }

    li {
        float:       left;
        line-height: 1.375;
        margin:      pxToRem(5) 0;
        position:    relative;
        width:       49%;

        &:nth-child(odd) {
            margin-right: 2%;
        }
    }

    label {
        display:     block;
        font-weight: $font-light;
    }

    .sq-form-field[type="checkbox"] {
        cursor: pointer;
        height: pxToRem(22);
        left:   pxToRem(-8);
        margin: 0;
        top:    pxToRem(-1);
        width:  pxToRem(40);

        + label {
            margin-left: pxToRem(30);
        }

        + label::before {
            border: 1px solid $base-monash-blue;
        }

        + label::after {
            background-image: url('mysource_files/tick.png');
        }

        + label::before,
        + label::after {
            height: pxToRem(12);
            left:   pxToRem(-30);
            top:    pxToRem(4);
            width:  pxToRem(12);
        }
    }

    &--opened {
        display: block;
    }
}

.search-box--browse {
    &__form {
        color:  $base-monash-blue;
    }

    &__controls {
        flex-basis:  100%;
        margin-left: 0;
    }

    &__wrapper {
        cursor:     pointer;
        position:   relative;
        width:      100%;

        .button {
            @extend %ir;
            @include sq-sprite-pseudo(angle-down-lg, 'after', .5);
            background-color: $base-monash-blue;
            color:            $white;
            display:          block;
            height:           pxToRem(43);
            margin:           0;
            padding:          0;
            position:         absolute;
            right:            1px;
            top:              1px;
            width:            pxToRem(40);

            &::after {
                bottom:     0;
                content:    '';
                left:       0;
                margin:     auto;
                position:   absolute;
                right:      0;
                top:        0;
            }
        }
    }

    &__label {
        @include sq-transition(all .3s linear);
        border:      1px solid $base-monash-blue;
        display:     block;
        font-weight: $font-light;
        margin:      0;
        padding:     pxToRem(11) pxToRem(40) pxToRem(11) pxToRem(15);
        width:       100%;
    }
}


.no-js {
    .search-box--browse {

        &__label {
            display: none;
        }

        &__list {
            border:     1px solid $white;
            display:    block;
            position:   relative;
        }
    }
}

.news__list--none {
    background-color: $white;
    margin-bottom:    2rem;
    padding:          .5rem 1rem;
}

.events-wrapper {
    h4 {
        font-size: 18px;
        color: #006dae;
        margin-bottom: pxToRem(10);
        font-family: Arial, Helvetica, sans-serif;
    }

    p {
        font-size: 1.07rem;
    }

    .date {
        margin: 0;
    }

    .description {
        margin-top: 0;
    }
}