// Search Block (Wide)

// Variation: search courses
.single-news-page {

    p {
        background-color: #fff !important;
    }
    a {
        font-size: 1rem;
        color: #505050 !important;
        font-family: Arial;

        &:hover {
            text-decoration: none;
        }
    }
}

.search-box--courses {
    margin-left:  pxToRem(-80);
    margin-right: pxToRem(-80);

    @media only screen and (max-width: 74em) {
        margin-left:  -1rem;
        margin-right: -1rem;
    }

    &__label {
        font-size:   pxToRem(42);
        line-height: 1.1904;
        padding:     pxToRem(50) 0 pxToRem(15);
    }

    .control-group {
        background-color:   $base-light-grey;
        padding:            pxToRem(30) 10.25rem;
    }

    .control-group__input,
    .control-group__button {
        font-size:      pxToRem(20);
        line-height:    1.3;
        padding-bottom: pxToRem(11);
        padding-top:    pxToRem(11);
    }

    .control-group__input {
        padding-left: 2rem;
    }

    .control-group__button {
        padding-left:   pxToRem(50);
        padding-right:  pxToRem(50);
    }

}



// Variation: search news
.search-box--news,
.search-box--browse {

    // Variation: events-only
    .search-box--news-events,
    .search-box--news-events-browse {

        &-rhs {
            margin-top: 0;

            .search-box--browse__heading {
                float: none;
            }
        }
    }

    .search-box--news-events {
        flex-basis: 50%;
    }

    &__form {
        display:       flex;
        margin-bottom: 2rem;
        padding:       pxToRem(25) pxToRem(15);
    }

    &-lhs,
    &-rhs {
        flex-basis: 45%;
    }

    &-rhs {
        margin-top: 0;
    }

    &__heading {
        font-size:     pxToRem(24);
        line-height:   1.1667;
    }

    &__input {
        height:      pxToRem(40);
        line-height: 1.375;
    }

    .selectric {
        padding: pxToRem(8) 15%;

        .label {
            font-size:   pxToRem(16);
            line-height: 1.375;
            padding-right: pxToRem(23);
        }

        .button {
            @include sq-sprite-pseudo(angle-down-lg, 'after', .33);
            height: pxToRem(38);
            width:  pxToRem(35);
        }
    }

    .selectric-search-box--news__select--month {
        margin-left: -3%;

        &.selectric-wrapper {
            flex-basis: 32%;
        }
    }

    .selectric-items {
        li {
            font-size:        pxToRem(16);
            line-height:      1.375;
            padding:          pxToRem(9) pxToRem(15);
        }
    }

    .selectric-wrapper,
    &__controls,
    &__select {
        flex-grow:  0;
        margin-top: pxToRem(20);
    }

    .selectric-wrapper {
        flex-basis:   30.2%;
        margin-right: 0;
    }

    &__controls {
        flex-basis:  30.2%;
    }

    &__button {
        line-height: 1.375;
        padding:     pxToRem(9) pxToRem(15);
        width: 100%;
    }
}

.search-box--news {
    &__label {
        display: none;
    }
}

.search-box--browse {
    &__label {
        line-height: 1.375;
        padding:     pxToRem(8) pxToRem(40) pxToRem(8) pxToRem(15);
    }

    &__controls {
        flex-basis:  100%;
        margin-left: 0;
    }

    &__button {
        width: 30.2%;
    }

    &__wrapper {
        .button {
            @include sq-sprite-pseudo(angle-down-lg, 'after', .33);
            height: pxToRem(38);
            width:  pxToRem(35);
        }
    }
}

.search-box--news-main h2 {
    margin-top: pxToRem(15);
}

.search-box--news-main .search-box--browse__button {
    width: 12.2%;
}
