<!-- Inventory of available variations for image module -->
<div class="content-wrapper">
    <section id="images">

        <h2>Images</h2>

        <p>Text above default image with no special styling or caption. Text does not wrap around image. Eget erat eget felis tempus blandit quis eu elit. Suspendisse suscipit id est ac malesuada. Nullam laoreet velit tristique, aliquam ante sit amet, semper mauris.</p>

        <p><img src="mysource_files/zz-image-centred-small.jpg" alt="Default image" /></p>

        <p>Text below default image with no special styling or caption. Text does not wrap around image. Eget erat eget felis tempus blandit quis eu elit. Suspendisse suscipit id est ac malesuada. Nullam laoreet velit tristique, aliquam ante sit amet, semper mauris.</p>

        <figure class="content-image__full-width has-caption">
            <img src="mysource_files/zz-image-full.jpg" alt="Full-width image" class="content-image__image" />
            <figcaption class="content-image__caption">Example full-width image</figcaption>
        </figure>
        <p>Example of an image occupying the full width of the content area. Eget erat eget felis tempus blandit quis eu elit. Suspendisse suscipit id est ac malesuada. Nullam laoreet velit tristique, aliquam ante sit amet, semper mauris. Sed tincidunt, neque ac mattis mattis, felis nunc rutrum est, sed dignissim dolor enim quis nunc. Nulla vitae erat ac nunc mattis rhoncus quis id arcu. Cras sed ligula semper, congue neque at, interdum risus. Quisque accumsan porta faucibus. Nulla vitae erat ac nunc mattis rhoncus quis id arcu. Cras sed ligula semper, congue neque at, interdum risus. Quisque accumsan porta faucibus.</p>

        <figure class="content-image__centred has-caption">
            <img src="mysource_files/zz-image-centred-small.jpg" alt="Centred image" class="content-image__image" />
            <figcaption class="content-image__caption">Example centred image</figcaption>
        </figure>
        <p>Example of an image centred within the content area. Eget erat eget felis tempus blandit quis eu elit. Suspendisse suscipit id est ac malesuada. Nullam laoreet velit tristique, aliquam ante sit amet, semper mauris. Sed tincidunt, neque ac mattis mattis, felis nunc rutrum est, sed dignissim dolor enim quis nunc. Nulla vitae erat ac nunc mattis rhoncus quis id arcu. Cras sed ligula semper, congue neque at, interdum risus. Quisque accumsan porta faucibus. Nulla vitae erat ac nunc mattis rhoncus quis id arcu. Cras sed ligula semper, congue neque at, interdum risus. Quisque accumsan porta faucibus.</p>

        <figure class="content-image__float-left has-caption">
            <img src="mysource_files/zz-image-float.png" alt="Image floated left" class="content-image__image" />
            <figcaption class="content-image__caption">Sir John Monash</figcaption>
        </figure>
        <p class="clearfix">Example of an image floated to the left. Eget erat eget felis tempus blandit quis eu elit. Suspendisse suscipit id est ac malesuada. Nullam laoreet velit tristique, aliquam ante sit amet, semper mauris. Sed tincidunt, neque ac mattis mattis, felis nunc rutrum est, sed dignissim dolor enim quis nunc. Nulla vitae erat ac nunc mattis rhoncus quis id arcu. Cras sed ligula semper, congue neque at, interdum risus. Quisque accumsan porta faucibus. Nulla vitae erat ac nunc mattis rhoncus quis id arcu. Cras sed ligula semper, congue neque at, interdum risus. Quisque accumsan porta faucibus.</p>


        <figure class="content-image__float-right has-caption">
            <img src="mysource_files/zz-image-float.png" alt="Image floated right" class="content-image__image" />
            <figcaption class="content-image__caption">Sir John Monash</figcaption>
        </figure>
        <p class="clearfix">Example of an image floated to the right. Eget erat eget felis tempus blandit quis eu elit. Suspendisse suscipit id est ac malesuada. Nullam laoreet velit tristique, aliquam ante sit amet, semper mauris. Sed tincidunt, neque ac mattis mattis, felis nunc rutrum est, sed dignissim dolor enim quis nunc. Nulla vitae erat ac nunc mattis rhoncus quis id arcu. Cras sed ligula semper, congue neque at, interdum risus. Quisque accumsan porta faucibus. Nulla vitae erat ac nunc mattis rhoncus quis id arcu. Cras sed ligula semper, congue neque at, interdum risus. Quisque accumsan porta faucibus.</p>

    </section>
</div>
