<!-- Old markup from http://mon.clients.squiz.net/imp_guide/edu-template/content-page/content-page -->
<!-- Included for backwards compatibility -->

<section>

    <h2>Old Images (Backwards Compatible)</h2>

    <div class="imgCaption imgFloatLeft" style="width:235px;">
        <img src="mysource_files/zz-image-float.png" alt="Sir John Monash, floated left">
        <div class="caption">Sir John Monash</div>
    </div>
    <p>Example of an image floated to the left. Eget erat eget felis tempus blandit quis eu elit. Suspendisse suscipit id est ac malesuada. Nullam laoreet velit tristique, aliquam ante sit amet, semper mauris. Sed tincidunt, neque ac mattis mattis, felis nunc rutrum est, sed dignissim dolor enim quis nunc. Nulla vitae erat ac nunc mattis rhoncus quis id arcu. Cras sed ligula semper, congue neque at, interdum risus. Quisque accumsan porta faucibus. Nulla vitae erat ac nunc mattis rhoncus quis id arcu. Cras sed ligula semper, congue neque at, interdum risus. Quisque accumsan porta faucibus. Sed tincidunt, neque ac mattis mattis, felis nunc rutrum est, sed dignissim dolor enim quis nunc. Nulla vitae erat ac nunc mattis rhoncus quis id arcu. Cras sed ligula semper, congue neque at, interdum risus. Quisque accumsan porta faucibus. Nulla vitae erat ac nunc mattis rhoncus quis id arcu.</p>


    <div class="imgCaption imgFloatRight" style="width:235px;">
        <img src="mysource_files/zz-image-float.png" alt="Sir John Monash, floated right">
        <div class="caption">Sir John Monash</div>
    </div>
    <p>Example of an image floated to the right. Eget erat eget felis tempus blandit quis eu elit. Suspendisse suscipit id est ac malesuada. Nullam laoreet velit tristique, aliquam ante sit amet, semper mauris. Sed tincidunt, neque ac mattis mattis, felis nunc rutrum est, sed dignissim dolor enim quis nunc. Nulla vitae erat ac nunc mattis rhoncus quis id arcu. Cras sed ligula semper, congue neque at, interdum risus. Quisque accumsan porta faucibus. Nulla vitae erat ac nunc mattis rhoncus quis id arcu. Cras sed ligula semper, congue neque at, interdum risus. Quisque accumsan porta faucibus. Sed tincidunt, neque ac mattis mattis, felis nunc rutrum est, sed dignissim dolor enim quis nunc. Nulla vitae erat ac nunc mattis rhoncus quis id arcu. Cras sed ligula semper, congue neque at, interdum risus. Quisque accumsan porta faucibus. Nulla vitae erat ac nunc mattis rhoncus quis id arcu.</p>

</section>
