.search-global {

  .search-refined {
    margin-bottom: 2rem;
  }
  .search-counts {
    margin: 0.8rem 0 1.4rem 0;
  }

  /** Open Day Exhibit */
  .search-exhibit {

    &.open-day {
      background-color: $search-global__openDay-bg;
      color: $search-global-white;
      padding: 1.3rem 1.375rem 1.75rem 1.5rem;

      .card-header {
        padding: 0;

        h4 {
          border-bottom: 1px solid $search-global-white;
          padding-bottom: .425rem;
          margin-bottom: 1.5625rem;

          a {
            font-family: $font-family__serif;
            font-size: 1.6875rem;
            color: $search-global-white;
          }

        }

      }

      .card-body {
        padding: 0;
        font-size: 1.625rem;
        line-height: 1.08;

        small {
          font-size: .9375rem;
          display: block;
          font-weight: 200;
          margin: .625rem 0 .825rem 0;
        }

      }

    }

  }

  .search-result {

    overflow: hidden;

    h4 {

      a {
        font-family: $font-family__serif;
        color: $search-global-blue;
        font-size: 1.5625rem;
        font-weight: 200;
      }

    }

    .card-header,
    .card-footer {
      background-color: $search-global-white;
    }

    .card-subtitle {
      color: #4c4c4c;
      font-size: .9375rem;
      font-weight: 200;

      cite {
        font-style: normal;
        font-weight: 200;
      }

    }

    &-important {

      &--blue {

        &.search-result {

          .card-header {
            padding-bottom: 0;
          }

          .card-body {
            padding-bottom: 3.125rem;
          }

        }

        color: $search-global-white;

        .card-header,
        .card {
          background-color: $search-global-blue;
        }

        .card-header {
          border-width: 0;
        }

        h4 {

          a {
            color: $search-global-white;
          }

        }

      }

    }

    &-video {

      .card-img-overlay .fa-play-circle-o {
        top: 30%;
        left: 38%;
        position: absolute;
        color: rgba(255, 255, 255, .75);

        @include rwd-to($mobile-small) {
          top: 40%;
          left: 45%;
        }

      }

      .card-img-overlay .badge {
        position: absolute;
        right: .5rem;
        bottom: .5rem;
        color: $search-global-white;
      }

    }

    &-people {
      padding: 1.25rem 1.25rem 1.375rem 1.25rem;
      background-color: $search-global-white;
      margin-bottom: 0.9375rem;

      &-img {
        max-width: 7.875rem;
        height: 10.1875rem;
        overflow: hidden;
        margin: 0 auto;
      }

      &.search-result {

        .card {
          margin-bottom: 0;

          &-title {
            margin-bottom: 1.875rem;

            h4 {

              a {
                text-transform: none;
                font-weight: 200;
              }

            }

          }

        }

        .card-body {
          padding: 0 0 0 1.5625rem;

          @include rwd-to($mobile-small) {
            padding-left: 0;
            text-align: center;
          }

        }

      }


    }

    &-event {

      .search-event-date {
        font-size: 1.1rem;
        background-color: $search-global-blue;
        color: $search-global-white;
        padding: .5rem .2rem;
        margin: .4rem 1.3rem 0 0;

        @include rwd-to($mobile-small) {
          margin: .4rem 0 1.5rem 0
        }
      }

      .card-subtitle { 
        padding-top: 10px;
      }

    }

    &-course {

      .card-body {
        border-bottom: 2px solid $search-global-blue;
      }

    }

    &__related-articles {
      h5 {
        margin: 1.5rem 0 0.5rem;
        font-size: pxToRem(20);
      }
      ol, ul {
        @include sq-list-reset;
      }
      li {
        display: inline-block;
        margin-bottom: 0.3rem;
      }
      a:link {
        padding: .3rem 1rem;
        border: 1px solid;
        display: inline-block;
      }
    }

  }

  .search-results {
    font-family: $font-family__base-search;
    padding-top: 2.5rem;
    background-color: $search-global-gray;

    @include rwd-to($mobile) {
      padding: .9375rem;
    }

    .search-count {
      font-size: .9375rem;
    }

    .dropdown {
      margin-bottom: 1rem;

      @include rwd-to($mobile-small) {
        display: none;
      }

      &-menu {
       @include sq-border-radius(0);
      }

    }

    .dropdown-toggle {
      padding: .5rem .9375rem;
      background-color: $search-global-white;
      font-size: .9375rem;
      color: $search-global-black;
      @include sq-border-radius(0);

      &:hover,
      &:focus {
        text-decoration: underline;
      }

    }

    .card-body {
      padding: 1.4375rem .875rem 1.4375rem 1.1875rem;

      .card-text {
        font-size: .9375rem;
        font-weight: 300;

        img {
          max-width: 30%;
          margin: 0 .875rem; // MONFUNNEL-75: Ensure text doesn't touch side of images
        }

        .media {

          img {
            max-width: 3.0625rem;
            margin-top: .1875rem;
          }

        }

      }

    }

    .card {
      &.search-refine {
        margin-bottom: .1rem;
      }

      border: 0;
      margin-bottom: .9375rem;
      @include sq-border-radius(0);

    }

    &-twitter {
      margin: .4375rem 0 1.375rem 0;

      .media {
        font-size: 1.0625rem;
      }

      .fa-twitter {
        font-size: 1.0625rem;
      }

      .card {
        margin-bottom: 0;
      }

      .card-body {
        padding: 1.25rem 1.125rem .9375rem 1.125rem;
      }

      .read-more {
        color: $search-global-blue;
        font-weight: 500;
        display: inline-block;
        margin-top: 1.125rem;
      }

    }

    .card-title {
      margin-bottom: 1.125rem;

      h4 {
        font-size: .875rem;
        color: $search-global-blue;
        margin-bottom: 0;
        font-weight: 600;
        // text-transform: uppercase;
      }

    }

    .search-facet {

      .list-unstyled {
        clear: both; // Avoid wrapping with floated .dropdown
        a {
          color: $search-global-black;
          text-decoration: none;
          font-size: .9375rem;
          font-weight: 300;
          max-width: 80%;
          display: inline-block;

          &:hover,
          &focus {
            text-decoration: underline;
          }
        }

        .badge {
          font-weight: 500;
        }
      }

      .badge-default {
        font-size: .75rem;
        color: $search-global__badge-color;
        background-color: $search-global-gray;
        border: 1px solid $search-global__badge-border;
        @include sq-border-radius(6px);
      }

      .search-toggle-more-categories {
        padding: 0;
        color: $search-global-black;
        font-size: .9375rem;
        background: none; //Override source/modules/button/css/global.scss#L6

        small {
          margin-right: .3rem;
        }

        // Show minus sign when expanded
        &[data-state=less] small.fa:before {
          content: "\f068";
        }
      }

    }

    .card-header {
      padding: 1.1571rem 1.25rem;

      &:first-child {
        @include sq-border-radius(0);
      }

      &.bg-blue {
        background-color: $search-global-blue;
        color: $search-global-white;
      }

      h3 {
        font-size: 1.0625rem;
        margin-bottom: 0;
      }

    }

  }


}