.timeline__slider-wrapper {
    display:         flex;
    justify-content: center;
    padding-bottom:  pxToRem(45);
    padding-top:     pxToRem(30);
}

.timeline__slider {
    padding-left:  pxToRem(15);
    padding-right: pxToRem(15);
    width:         100%;

    .slick-dots {
        height: 0;
        margin: 0;
    }
    // scss-lint:disable ImportantRule
    .slick-list {
        margin-bottom:  pxToRem(-90);
        padding-bottom: pxToRem(90) !important; // bad practise although required in this particular case so it overrides
                                                // the inline styles applied by the slick slider plugin
    }
    // scss-lint:enable ImportantRule

    .slick-arrow {
        background: url('mysource_files/timeline-arrows-sprite.png') 0 0;
        border:     0;
        color:      transparent;
        height:     pxToRem(39.5);
        margin-top: pxToRem(-19.75);
        width:      pxToRem(39.5);
    }

    .slick-arrow:focus,
    .slick-arrow:active {
        outline: pxToRem(1) dotted $timeline-white;
    }

    .slick-next {
        background: url('mysource_files/timeline-arrows-sprite.png') -118.5px 0;
    }

    .slick-next:hover {
        background: url('mysource_files/timeline-arrows-sprite.png') -39.5px 0;
    }

    .slick-prev {
        background: url('mysource_files/timeline-arrows-sprite.png') -79px 0;
    }

    .slick-prev:hover {
        background: url('mysource_files/timeline-arrows-sprite.png') 0 0;
    }
}

.timeline__slider-item {
    @include sq-box-shadow(0 3px 3px $timeline-black--alpha);
    background-color: $timeline-white--alpha;
    cursor:           pointer;
    direction:        ltr;
    height:           pxToRem(375);
    margin-top:       pxToRem(12.5);
    opacity:          .5;
    position:         relative;

    .timeline-card__year,
    .timeline-card__sm,
    .timeline-card__background,
    .btn,
    .timeline-card__number,
    .video-container,
    .timeline-card__content-background,
    .timeline-card-row .timeline-card-col:not([data-col="22"]) {
        visibility: hidden;
    }

    &.slick-active {
        @include sq-border-radius(5px);
        background-color: transparent;
        cursor:           initial;
        height:           pxToRem(400);
        margin-top:       0;
        opacity:          1;

        .timeline-card__year,
        .timeline-card__sm,
        .timeline-card__background,
        .btn,
        .timeline-card__number,
        .video-container,
        .timeline-card__content-background,
        .timeline-card-row .timeline-card-col:not([data-col="22"]) {
            visibility: visible;
        }

        [data-col="11"] {
            border-top-left-radius: pxToRem(5);
        }

        [data-col="12"] {
            border-top-right-radius: pxToRem(5);
        }

        [data-col="21"] {
            border-bottom-left-radius: pxToRem(5);
        }

        [data-col="22"] {
            border-bottom-right-radius: pxToRem(5);
            flex-basis:                 0;
            text-indent:                -999em;
            visibility:                 hidden;
            width:                      0;

            .btn {
                text-indent: 0;
            }
        }
    }
}

.timeline__slider-item:active,
.timeline__slider-item:focus {
    outline: 0;
}

.timeline-hide {
    visibility: hidden;
}

.timeline__slider-item:not(.slick-current) {
    [class*="timeline-card-"] {
        opacity: .5;
    }

    .timeline-card--arranged [data-col="21"],
    .timeline-card__background--arranged [data-col="21"] {
        visibility: hidden;
    }
}

.timeline-iframe-close {
    margin-bottom: pxToRem(50);
    position:      absolute;
    right:         0;
    top:           0;
    z-index:       20;
}

.timeline-iframe-close:hover {
    opacity: .75;
}
