.timeline__slider-wrapper {
    padding-bottom: pxToRem(75);
    padding-top:    pxToRem(40);
}

.timeline__slider {
    padding-left:  pxToRem(40);
    padding-right: pxToRem(40);
}

.timeline__slider-item {
    height: pxToRem(455);

    &.slick-active {
        height: pxToRem(480);

        [data-col="22"] {
            flex-basis:  50%;
            text-indent: 0;
            visibility:  visible;
            width:       auto;
        }
    }
}
