.timeline__slider {
    padding-left:  0;
    padding-right: 0;
    width:         pxToRem(828);

    .slick-next {
        right: pxToRem(5);
    }

    .slick-prev {
        left: pxToRem(5);
    }
}

.timeline__slider-wrapper {
    padding-bottom: pxToRem(150);
    padding-top:    pxToRem(45);
}

.timeline__slider-item {
    height:   $timeline-slider-height;
    position: static;

    .timeline-card__number {
        visibility: visible;
    }

    .box-listing-element__video-thumb-link {
        visibility: hidden;
    }

    &.slick-active {
        height: $timeline-slider--active-height;

        .box-listing-element__video-thumb-link {
            visibility: visible;
        }
    }
}
