.policy-pyramid {
  margin: 0;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 10em;
  li {
    margin: 0;
    padding: 0;
    position: relative;
    list-style-type: none;
    //display: grid;
    // grid-column-gap: 5px;
    // border: 1px solid red;
    //grid-template-columns: max-content auto 20px 0%;
    margin-bottom: 3em;
    .pyramid-layer {
      // border: 1px solid green;
      position: absolute;
      top: -50%;
      right: -15%;
      @include media-query("wide") {
        right: 25%;
      }
      -webkit-animation: pyramid_pyramidFloat__Gbvnc 20s linear infinite;
      animation: pyramid_pyramidFloat__Gbvnc 20s linear infinite;

      .layer-1 {
        animation-delay: 0s;
        top: -20px;
        z-index: 6;
      }
      &.layer-2 {
        animation-delay: 0.25;
        top: -45px;
        z-index: 5;
      }
      &.layer-3 {
        animation-delay: 0.5s;
        top: -70px;
        z-index: 4;
      }
      &.layer-4 {
        animation-delay: 0.75s;
        top: -90px;
        z-index: 3;
      }
      &.layer-5 {
        animation-delay: 1s;
        top: -120px;
        z-index: 2;
      }
      &.layer-6 {
        animation-delay: 1.25s;
        top: -140px;
        z-index: 1;
      }
      .pyramid-layer-shape {
        position: absolute;
        transform: rotateX(70deg) rotate(45deg);
        transform-origin: top left;
        -webkit-animation: pyramid_rotateIn__3Z89G 1s ease-in-out forwards;
        animation: pyramid_rotateIn__3Z89G 1s ease-in-out forwards;
        opacity: 0;
        &.shape-1 {
          width: 100px;
          height: 100px;
          background-color: rgb(37, 37, 37);
          animation-delay: 0s;
        }
        &.shape-2 {
          width: 200px;
          height: 200px;
          background-color: rgba(73, 73, 73, 0.9);
          animation-delay: 0.25s;
        }
        &.shape-3 {
          width: 300px;
          height: 300px;
          background-color: rgba(110, 110, 110, 0.8);
          animation-delay: 0.5s;
        }
        &.shape-4 {
          width: 400px;
          height: 400px;
          background-color: rgba(147, 147, 147, 0.7);
          animation-delay: 0.75s;
        }
        &.shape-5 {
          width: 500px;
          height: 500px;
          background-color: rgba(183, 183, 183, 0.6);
          animation-delay: 1s;
        }
        &.shape-6 {
          width: 600px;
          height: 600px;
          background-color: rgba(220, 220, 220, 0.5);
          animation-delay: 1.25s;
        }
      }
    }
  }
}

.policy-pyramid li span {
  // border: 1px solid blue;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  text-transform: capitalize;
  color: #000;
  font-weight: 700;
  opacity: 0;
  -webkit-animation: policy-framework_slideInFromLeft__m91vu 1s ease-in-out forwards;
  animation: policy-framework_slideInFromLeft__m91vu 1s ease-in-out forwards;
  width: fit-content;
  position: relative;
  z-index: 10;
}
.pyramid-line {
  display:none;
}
@include media-query("wide") {
  .pyramid-line {
    position: absolute;
    height: 2px;
    background-color: #000;
    display: block;
    top: 50%;
    -webkit-transform-origin: left;
    transform-origin: left;

    -webkit-animation: policy-pyramid_lineGrow 1s ease-in-out forwards;
    animation: policy-pyramid_lineGrow 1s ease-in-out forwards;

    opacity: 0;
    z-index: 100;

    content: "";
    &.line-1 {
      left: 120px;
      width: 730px;
      animation-delay: 0s;
    }
    &.line-2 {
      left: 190px;
      width: 580px;
      animation-delay: 0.25s;
    }
    &.line-3 {
      left: 80px;
      width: 650px;
      animation-delay: 0.5s;
    }
    &.line-4 {
      left: 110px;
      width: 590px;
      animation-delay: 0.75s;
    }
    &.line-5 {
      left: 380px;
      width: 250px;
      animation-delay: 1s;
    }
    &.line-6 {
      left: 460px;
      width: 100px;
      animation-delay: 1.25s;
    }
  }
}
.pyramid-dot {
  border: 1px solid black;
  background-color: black;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  right: 0px;
  position: absolute;
  top: -4px;
}

@-webkit-keyframes pyramid_pyramidFloat__Gbvnc {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  30% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  7% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes pyramid_pyramidFloat__Gbvnc {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  30% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  7% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@-webkit-keyframes pyramid_rotateIn__3Z89G {
  0% {
    -webkit-transform: rotateX(90deg) rotate(45deg);
    transform: rotateX(90deg) rotate(45deg);
    opacity: 0;
  }
  to {
    -webkit-transform: rotateX(70deg) rotate(45deg);
    transform: rotateX(70deg) rotate(45deg);
    opacity: 1;
  }
}
@keyframes pyramid_rotateIn__3Z89G {
  0% {
    -webkit-transform: rotateX(90deg) rotate(45deg);
    transform: rotateX(90deg) rotate(45deg);
    opacity: 0;
  }
  to {
    -webkit-transform: rotateX(70deg) rotate(45deg);
    transform: rotateX(70deg) rotate(45deg);
    opacity: 1;
  }
}
@-webkit-keyframes policy-framework_slideInFromLeft__m91vu {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes policy-framework_slideInFromLeft__m91vu {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes policy-pyramid_lineGrow {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(100%);
  }
}
