// Single line comments will be removed by the CSS preprocessor
// Hint: go nuts commenting your Sass

// Multiline comments will be preserved, use them when you need to send comments
// back out to the resulting .css file.

// Tip: Most boilerplate modules follow guidelines set out in http://bem.info/ as a rule of
// thumb. You don't have to, but it helps with consistency and any class name collisions
// with other styles. Example naming convention:
//
// .search-global__element { ... }
// .search-global__element--modifier {     ... }
// .search-global__sub-element { ... }

.search-global {

  &__nav {
    font-family: $font-family__base-search;
    font-size: .9375rem;

    @include rwd-to($mobile) {
      font-size: 1.0625rem;
    }

    &.content-wrapper {
      margin-top: -2.75rem;

      @include rwd-to($mobile) {
        margin-top: 0;
      }
    }

    &.container-fluid {
      background-color: transparent;

      @include rwd-to($mobile) {
        background-color: $search-global__nav-mobile--bg;
        padding: 1.032rem .9375rem;
      }
    }

    .navbar-toggler {
      font-size: 1.0625rem;

      &-icon {
        font-size: 1.25rem;
        vertical-align: middle;
        margin-right: .8rem;
        margin-top: -4px;
      }

    }

    .nav-tabs {
      border-bottom: none;
      margin-bottom: 0;

      @include rwd-to($mobile) {
        width: 100%;
        display: block;
        margin: .75rem 0 1.468rem 0;
      }

      .nav-item {

        margin: 0 0.1875rem 0 0;
        background-color: $search-global-black;

        @include rwd-to($mobile) {
          background-color: $search-global__nav-item--bg;
          margin-bottom: 0.25rem;
        }

        .nav-link {
          padding: .657rem 1rem;
          min-width: 10.6875rem;
          font-weight: normal;
          border-bottom: none;
          display: block;
          color: $search-global-white;

          &.active {
            background-color: $search-global-gray;
            color: $search-global__link-hover;
          }

          &:hover,
          &:focus {
            background-color: $search-global__nav-tab-bg--hover;
            border-color: $search-global__nav-tab-bg--hover;
            color: $search-global-white;
          }

          text-decoration: none;
          border-top-left-radius: 0;
          border-top-right-radius: 0;

          @include rwd-to($mobile) {
            padding: .563rem 1rem;
          }

        }

        @include rwd-to($mobile) {
          width: 100%;
          display: block;
        }

      }
    }
  }

}

