.lhs-nav {
    background: $white;

    a {
        text-decoration: none;
    }
}

.lhs-nav-list {
    @include sq-list-reset();
}

.lhs-nav-list__item {
    &,
    &--parent,
    &--active,
    &--current {
        position: relative;
    }

    &--parent {
        margin-bottom:  0;
        margin-top:     0;
        padding-bottom: 0;
        padding-top:    0;
    }

    &--active {
        background: $base-light-grey;
    }

    &-link {
        color:          $base-light-charcoal;
        display:        block;
        font-weight:    $font-light;
        padding:        pxToRem(24) pxToRem(15);

        &:active {
            color: $base-light-charcoal;
        }
    }

    &-link:hover,
    &-link:focus,
    &-link--current,
    &-link--current:active {
        background:     $base-monash-blue;
        color:          $white;

        .lhs-nav-list__item-cta::after {
            @include sq-sprite(angle-right-lg, .375);
            opacity: 1;
        }

        .lhs-nav-list__item-cta--expanded::after {
            @include sq-sprite(angle-down-lg, .375);
        }
    }

    &-link--parent {
        background-color: $base-light-grey;
        color:            $base-monash-blue;
        display:          block;
        font-size:        pxToRem(15);
        font-weight:      $font-bold;
        padding:          pxToRem(24) pxToRem(15);
        position:         relative;

        &:active {
            color: $base-monash-blue;
        }
    }

    &-link--parent::after {
        border-bottom:  pxToRem(1) solid $base-monash-blue;
        bottom:         0;
        content:        '';
        display:        none;
        height:         pxToRem(1);
        position:       absolute;
        width:          pxToRem(20);
    }

    &-link--current {
        background:     $base-monash-blue;
        color:          $white;
        font-weight:    $font-bold;
    }

    &-link--current:focus {
        outline: thin dotted $base-dark-charcoal;
    }

    &-cta {
        @include set-position(absolute, 0, null, 0);
        background: transparent;
        border:     0;
        height:     2.65rem;
        padding:    0;
        width:      2.65rem;
    }

    &-cta::after {
        @include set-position(absolute, 15px, null, 0);
        @include sq-inline-block();
        @include sq-sprite-bg(.375);
        @include sq-sprite(angle-right, .375);
        border:  0;
        content: '';
        margin:  0 pxToRem(10) 0 0;
        opacity: .3;
    }

    &-cta--expanded::after {
        @include sq-sprite(angle-down, .375);
        opacity: 1;
    }
}


.fac-filter {
    margin-top: 0;
    position:   relative;

    .rangeslider {
        @include            sq-border-radius(0);
        background:         $base-dark-grey;
        height:             3px;
        margin:             1rem 0 2rem;

        &__fill {
            display:        none;
        }

        &__handle {
            @include        sq-box-shadow(none);
            background:     $base-monash-blue;
            border:         0;
            height:         16px;
            margin:         3px 3px 3px 0;
            width:          16px;
        }

    }

    .output {
        -moz-appearance:textfield;
        background:     $white;
        border:         1px solid $base-monash-blue;
        color:          $base-monash-blue;
        float:          left;
        font-size:      20px;
        height:         40px;
        line-height:    40px;
        margin-right:   5%;
        text-align:     center;
        width:          45%;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .range__button {
        overflow:           hidden;
        padding-left:       5%;

        input {
            background:     $base-monash-blue;
            border:         0;
            color:          $white;
            float:          right;
            height:         40px;
            width:          100%;

            &:hover,
            &:focus {
                text-decoration:    underline;
            }
        }

    }

    .accordion {

        .fac-filter__wrap {

            .accTitle {
                background: $white;

                &.uber-accordion__target-active {
                    a::after {
                        @include sq-sprite(angle-down-ca, .5);
                    }
                }
            }

            .accContent {
                background: $white;

                fieldset {
                    border:        0;
                    border-bottom: 1px solid $base-dark-grey;
                    margin:        0;
                    padding:       0;

                    .reset-facet {
                        color:           $base-monash-blue;
                        font-size:       pxToRem(12);
                        font-weight:     $font-light;
                        text-decoration: none;

                        .sq-icon__remove {
                            @include      sq-sprite-bg(.3125);
                            @include      sq-sprite(cross, .3125);
                            content:      '';
                            display:      inline-block;
                            margin-right: pxToRem(12);
                        }

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    ul {
                        @include sq-list-reset;

                        li {
                            margin: 0;

                            a {
                                color:                $base-monash-blue;
                                display:              block;
                                font-size:            pxToRem(12);
                                font-weight:          $font-light;
                                margin:               pxToRem(10) 0;
                                text-decoration:      none;
                                width:                100%;

                                &.inactive {
                                    color: $base-light-charcoal;

                                    .sq-icon__checkbox-default {

                                        &::before {
                                            background:     #D1D3D4;
                                            border:         1px solid $base-light-charcoal;
                                        }
                                    }
                                }

                                .sq-icon__checkbox-default {
                                    cursor:      pointer;
                                    margin-left: pxToRem(22);
                                    position:    relative;

                                    &::before {
                                        border:        1px solid $base-monash-blue;
                                        content:       '';
                                        display:       inline-block;
                                        height:        pxToRem(12);
                                        left:          pxToRem(-22);
                                        position:      absolute;
                                        top:           pxToRem(1);
                                        width:         pxToRem(12);
                                    }
                                }

                                .sq-icon__checkbox-selected {
                                    cursor:      pointer;
                                    margin-left: pxToRem(22);
                                    position:    relative;

                                    &::before {
                                        background-image:    url("mysource_files/tick.png");
                                        background-position: center;
                                        background-repeat:   no-repeat;
                                        background-size:     pxToRem(8) pxToRem(8);
                                        border:              1px solid $base-monash-blue;
                                        content:             '';
                                        display:             inline-block;
                                        height:              pxToRem(12);
                                        left:                pxToRem(-22);
                                        position:            absolute;
                                        top:                 pxToRem(1);
                                        width:               pxToRem(12);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            > .accContent {
                background: none;
                padding:    0;
            }

            > .accTitle {
                background: $base-light-grey;

                a {
                    color:       $base-light-charcoal;
                    line-height: pxToRem(17);
                    text-indent: pxToRem(30);
                }

                a::before {
                    @include sq-inline-block();
                    @include sq-sprite-bg(.5);
                    @include sq-sprite(filter-dc, .5);
                    @include set-position(absolute, null, pxToRem(23), null);
                    content: '';
                }

                &.uber-accordion__target-active {
                    background:  $base-monash-blue;
                    a {
                        color: $white;
                    }

                    a::before {
                        @include sq-sprite(filter-lg, .5);
                    }

                    a::after {
                        @include sq-sprite(angle-down-lg, .5);
                    }
                }
            }
        }
    }
}

.no-js .lhs-nav-list__item .lhs-nav-list {
    display: block;
}
