.lhs-nav {
    padding: pxToRem(15) pxToRem(10) pxToRem(5);
}

.lhs-nav-list {
    display: none;

    &[aria-expanded="true"] {
        display: block;
    }
}

.lhs-nav-list__item {
    &,
    &--parent,
    &--active,
    &--current {
        margin-bottom:  auto;
        margin-top:     auto;
    }

    &-link {
        padding: pxToRem(10) pxToRem(42) pxToRem(10) pxToRem(14);

        &--lvl4 {
            padding-left: pxToRem(39);
        }

        &--lvl5 {
            padding-left: pxToRem(64);
        }
    }

    &-link--parent {
        background-color: transparent;
        font-size:        pxToRem(16);
        margin-bottom:    pxToRem(20);
        padding:          pxToRem(10) pxToRem(42) pxToRem(25) pxToRem(14);
    }

    &-link--parent::after {
        display: block;
    }
}
