.timeline-card__sm {
    display:  none;
    position: absolute;
    top:      pxToRem(167);
    z-index:  2;

    .social-media-share {
        flex-direction: column;
    }

    [class*="addthis_button_"] {
        margin: 0 0 pxToRem(1);
    }
}

.timeline-content__sm {
    [class*="addthis_button_"] {
        margin: 0 pxToRem(1) 0 0;
    }
}

.timeline-card__sm,
.timeline-content__sm {
    .social-media-share {
        background:     transparent;
        padding:        0;
    }

    [class*="addthis_button_"] {
        background-color: $timeline-mon-blue;
        background-image: url('mysource_files/sm-sprite.png');
        background-size:  auto;
        height:           pxToRem(36);
        max-height:       none;
        width:            pxToRem(36);
    }
    // scss-lint:disable SelectorFormat
    .addthis_button_twitter {
        background-position: pxToRem(-9) pxToRem(-11);
    }

    .addthis_button_facebook {
        background-position: pxToRem(-61) pxToRem(-13);
    }

    .addthis_button_linkedin {
        background-position: pxToRem(-113) pxToRem(-11);
    }

    .addthis_button_google_plusone_share {
        background-position: pxToRem(-169) pxToRem(-11);
    }
    // scss-lint:enable SelectorFormat
}
