<section class="feature-links" id="feature-links">
	<div class="feature-links-box feature-links-box--blue">
		<a class="feature-links-box__icon feature-links-box__icon--feature-document-pinned mobile-hidden" href="#"><span class="visuallyhidden">Fields of Research</span></a>
		<h2 class="feature-links-box__heading"><a href="#">Fields of Research</a></h2>
		<div class="clearfix"></div>
		<a type="button" href="#" class="btn btn--dynamic btn--blue">Explore</a>
	</div>
	<div class="feature-links-box feature-links-box--blue">
		<a class="feature-links-box__icon feature-links-box__icon--feature-lecture mobile-hidden" href="#"><span class="visuallyhidden">Find a researcher</span></a>
		<h2 class="feature-links-box__heading"><a href="#">Find a researcher</a></h2>
		<div class="clearfix"></div>
		<a href="#" class="btn btn--dynamic btn--blue">Search</a>
	</div>
	<div class="feature-links-box feature-links-box--blue">
		<a class="feature-links-box__icon feature-links-box__icon--feature-university mobile-hidden" href="#"><span class="visuallyhidden">Centres and Institutes</span></a>
		<h2 class="feature-links-box__heading"><a href="#">Centres and Institutes</a></h2>
		<div class="clearfix"></div>
		<a href="#" class="btn btn--dynamic btn--blue">More</a>
	</div>
	<div class="feature-links-box feature-links-box--blue">
		<a class="feature-links-box__icon feature-links-box__icon--feature-employability mobile-hidden" href="#"><span class="visuallyhidden">Research Jobs at Monash</span></a>
		<h2 class="feature-links-box__heading"><a href="#">Research Jobs at Monash</a></h2>
		<div class="clearfix"></div>
		<a href="#" class="btn btn--dynamic btn--blue">Search</a>
	</div>
	<div class="feature-links-box feature-links-box--blue">
		<a class="feature-links-box__icon feature-links-box__icon--feature-folders mobile-hidden" href="#"><span class="visuallyhidden">Monash Research Office</span></a>
		<h2 class="feature-links-box__heading"><a href="#">Monash Research Office</a></h2>
		<div class="clearfix"></div>
		<a href="#" class="btn btn--dynamic btn--blue">More</a>
	</div>
	<div class="feature-links-box feature-links-box--blue">
		<a class="feature-links-box__icon feature-links-box__icon--feature-handshake mobile-hidden" href="#"><span class="visuallyhidden">Collaboration</span></a>
		<h2 class="feature-links-box__heading"><a href="#">Collaboration</a></h2>
		<div class="clearfix"></div>
		<a href="#" class="btn btn--dynamic btn--blue">More</a>
	</div>
</section>
