<div class="content-wrapper">
    <h2>
        Feature Links
    </h2>
    <section class="feature-links" id="feature-links">
        <div class="feature-links-box feature-links-box--blue">
            <a class="feature-links-box__icon feature-links-box__icon--fields-research mobile-hidden" href="http://www.monash.edu"><span class="visuallyhidden">Fields of Research</span></a>
            <h2 id="qa-feature-link-heading" class="feature-links-box__heading"><a href="http://www.monash.edu">Fields of Research</a></h2>
            <div class="clearfix"></div>
            <a type="button" href="http://www.monash.edu" class="btn btn--dynamic btn--blue">Explore</a>
        </div>
        <div class="feature-links-box feature-links-box--blue">
            <a class="feature-links-box__icon feature-links-box__icon--find-researcher mobile-hidden" href="http://www.monash.edu"><span class="visuallyhidden">Find a researcher</span></a>
            <h2 class="feature-links-box__heading"><a href="http://www.monash.edu">Find a researcher</a></h2>
            <div class="clearfix"></div>
            <a href="http://www.monash.edu" class="btn btn--dynamic btn--blue">Search</a>
        </div>
        <div class="feature-links-box feature-links-box--blue">
            <a class="feature-links-box__icon feature-links-box__icon--centres-institutes mobile-hidden" href="http://www.monash.edu"><span class="visuallyhidden">Centres and Institutes</span></a>
            <h2 class="feature-links-box__heading"><a href="http://www.monash.edu">Centres and Institutes</a></h2>
            <div class="clearfix"></div>
            <a href="http://www.monash.edu" class="btn btn--dynamic btn--blue">More</a>
        </div>
        <div class="feature-links-box feature-links-box--blue">
            <a class="feature-links-box__icon feature-links-box__icon--research-jobs mobile-hidden" href="http://www.monash.edu"><span class="visuallyhidden">Research Jobs at Monash</span></a>
            <h2 class="feature-links-box__heading"><a href="http://www.monash.edu">Research Jobs at Monash</a></h2>
            <div class="clearfix"></div>
            <a href="http://www.monash.edu" class="btn btn--dynamic btn--blue">Search</a>
        </div>
        <div class="feature-links-box feature-links-box--blue">
            <a class="feature-links-box__icon feature-links-box__icon--research-office mobile-hidden" href="http://www.monash.edu"><span class="visuallyhidden">Monash Research Office</span></a>
            <h2 class="feature-links-box__heading"><a href="http://www.monash.edu">Monash Research Office</a></h2>
            <div class="clearfix"></div>
            <a href="http://www.monash.edu" class="btn btn--dynamic btn--blue">More</a>
        </div>
        <div class="feature-links-box feature-links-box--blue">
            <a class="feature-links-box__icon feature-links-box__icon--collaboration mobile-hidden" href="http://www.monash.edu"><span class="visuallyhidden">Collaboration</span></a>
            <h2 class="feature-links-box__heading"><a href="http://www.monash.edu">Collaboration</a></h2>
            <div class="clearfix"></div>
            <a href="http://www.monash.edu" class="btn btn--dynamic btn--blue">More</a>
        </div>
    </section>
<!-- /.content-wrapper --></div>
