p.button > a,
.btn,
.btn-bordered,
.sq-form-submit {
  @include sq-inline-block();
  background-color: $base-monash-blue;
  border: 0;
  color: $white;
  padding: pxToRem(12) pxToRem(17);
  text-align: center;
  transition: all 0.15s;

  &:focus {
    outline: thin dotted $base-dark-charcoal;
  }

  &:hover {
    background-color: $base-hover-blue;
  }

  &--blue {
    background-color: $base-monash-blue;

    &:focus {
      outline: thin dotted $base-dark-charcoal;
    }
  }

  &--grey {
    background-color: $base-light-charcoal;
  }

  &--blue,
  &--grey {
    color: $white;

    .btn__link {
      color: $white;
    }
  }

  &--arrow {
    .btn__arrow {
      //@include sq-sprite-bg(0.5);
      @include sq-inline-block();
      zoom: 1;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 376px 280px;
      background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
    }

    .btn__arrow--right {
      //@include sq-sprite(angle-right-lg, 0.5);
    }

    &--regular {
      min-width: pxToRem(130);
      padding: pxToRem(14);
    }

    &--dynamic {
      padding: pxToRem(12) pxToRem(20);
    }

    &__link:hover {
      text-decoration: underline;
    }

    &--right-circle-white {
      //@include sq-sprite-bg(0.4375);
      display: inline-block;
      *display: inline;
      zoom: 1;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 376px 280px;
      background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
      //@include sq-sprite(circle-right, 0.4375);
    }
  }

  &--view-more {
    display: block;
    font-size: pxToRem(12);
    margin: 0 auto;
    margin-top: pxToRem(5);
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }

  &--wide {
    display: block;
    margin: 0 1rem 1rem;
    padding: 1rem;
    text-align: center;

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

[class*='btn']:active,
p.button > a:active {
  color: $white;
}

.masonry-grid + .btn--view-more {
  margin-bottom: 2rem;
}

// Load more spinner
// from http://tobiasahlin.com/spinkit/ (3rd one)
.spinner {
  display: flex;
  justify-content: space-between;
  text-align: center;

  // only for the Spinner after View more button
  &.view-more {
    height: pxToRem(48);
    margin: pxToRem(-22) auto 2rem;
    width: pxToRem(40);
  }

  > div {
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
    background-color: $base-monash-blue;
    display: inline-block;
    height: 100%;
    width: pxToRem(6);
  }

  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }

  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
