// Button (Wide)

.btn {
    padding: pxToRem(8) pxToRem(17);

    &--arrow {

        .btn__arrow {
            @include sq-inline-block();
            @include sq-sprite-bg(.344);
        }

        .btn__arrow--right {
            @include sq-sprite(angle-right-lg, .344);
        }
    }

    &--regular {
        min-width: pxToRem(130);
        padding:   pxToRem(14);
    }

    &--dynamic {
        padding: pxToRem(9) pxToRem(20);
    }

    &--wide {
        margin: 0 0 1rem;
    }
}

.btn--view-more {
    margin-top: 0;
    padding:    1rem;
}
