$mobileNav__border-colour:         #2a2a2a;
$mobileNav__background-levelthree: #767676;
$mobileNav__background-levelfour:  #c8c8c8;

.header {
    background: $white;

    &-row__logo-wrapper {
        // scss-lint:disable VendorPrefix
        -moz-box-flex:    1;
        -webkit-box-flex: 1;
        -ms-flex:         1;
        -webkit-flex:     1;
        // scss-lint:enable VendorPrefix
        flex:             1;
        text-align:       center;
    }

    &-row__logo-link {
        @include sq-inline-block();
        border:            0;
        height:            auto;
        margin-top:        pxToRem(15);
        padding-left:      pxToRem(13);
        width:             auto;
    }

    &-row__logo-img {
        max-width:         none;
        // scss-lint:disable VendorPrefix
        -ms-transform:     scale(.79, .8);
        -webkit-transform: scale(.79, .8);
        transform:         scale(.79, .8);
        // scss-lint:enable VendorPrefix
    }

    &-row__site-title {
        background:     $base-light-charcoal;
        color:          $white;
        font-family:    $font-family__condensed;
        font-size:      pxToRem(18);
        line-height:    1.278;
        padding:        pxToRem(8.5) pxToRem(16);
        text-align:     left;
        text-transform: uppercase;
        width:          100%;
    }

    .site-title__sub {
        font-size:   .9rem;
        font-weight: $font-light;
    }

    .site-title__sub-link {
        color:           $white;
        text-decoration: none;
    }

    .site-title__sub-link-arrow {
        display:        inline-block;
        font-size:      pxToRem(25);
        font-weight:    $font-light;
        line-height:    .1;
        padding-bottom: pxToRem(4);
        vertical-align: middle;
    }

    .site-title__main {
        margin-top: calc(1rem / 3);
    }

    // add home icon - code from Monash
    .navbar {
        position: inherit;
        padding: 0;
        &__item {
            .home-icon,
            &:hover .home-icon {
                @include sq-inline-block();
                @include sq-sprite-bg(1);
                @include sq-sprite(home-white,1);
                width: pxToRem(32);
                height: pxToRem(32);
                text-indent: -9999px;
            }
        }
    }

    .navbar--light-grey .navbar__item .home-icon,
    .navbar--light-grey .navbar__item-lbl:focus .home-icon,
    .navbar--medium-grey .navbar__item .home-icon,
    .navbar--medium-grey .navbar__item-lbl:focus .home-icon,
    .navbar--white .navbar__item .home-icon,
    .navbar--white .navbar__item-lbl:focus .home-icon {
        @include sq-sprite(home-grey,1);
        width: pxToRem(32);
        height: pxToRem(32);

    }

    .navbar--light-grey .navbar__item:hover .home-icon,
    .navbar--light-grey .navbar__item-lbl:focus .home-icon,
    .navbar--medium-grey .navbar__item:hover .home-icon,
    .navbar--medium-grey .navbar__item-lbl:focus .home-icon,
    .navbar--white .navbar__item:hover .home-icon,
    .navbar--white .navbar__item-lbl:focus .home-icon {
        @include sq-sprite(home-white,1);
        width: pxToRem(32);
        height: pxToRem(32);
    }

    .megamenu--light-grey .navbar__item:hover .home-icon,
    .megamenu--light-grey .navbar__item-lbl:focus .home-icon,
    .megamenu--medium-grey .navbar__item:hover .home-icon,
    .megamenu--medium-grey .navbar__item-lbl:focus .home-icon,
    .megamenu--white .navbar__item:hover .home-icon,
    .megamenu--white .navbar__item-lbl:focus .home-icon {
        @include sq-sprite(home-grey,1);
        width: pxToRem(32);
        height: pxToRem(32);
    }

    li.navbar__item.home.icon.navbar__item--active a.navbar__item-lbl {
        border: none;
    }

    a.navbar__item-lbl {
        border: none;
    }

    #site-heading-desktop a {
        text-decoration: none;
        color: #000;
    }

    .header-row__items a {
        text-decoration: none;
    }

    li.navbar__item.home.icon {
        display: none;
    }
    // end add home icon - code from Monash
}

.utility-navigation-list {
    @include sq-flex-box();
    @include sq-list-reset();
    font-size:       pxToRem(12);
    justify-content: flex-end;

    &__item {
        margin-bottom: auto;
        margin-top:    auto;
        padding:       0 pxToRem(20);
    }

    &__item:last-child {
        padding-right: 0;
    }

    &__link {
        color:           $base-light-charcoal;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            color:           $base-light-charcoal;
            text-decoration: underline;
        }
    }
}

.navbar {
    flex:       none;
    margin-top: pxToRem(20);

    .navbar__list {
        color: $white;

        &,
        &-sub {
            @include sq-list-reset();
        }

    }

    .navbar__list-sub {

        a {
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
            }

        }

        &--level2 {
            @include ul-multi-columns(3);
            padding-top: pxToRem(10);
        }

    }

    &__toggle {
        @include sq-inline-block();
        @include sq-sprite-bg(1);
        @include sq-sprite(menu, 1);
        border:         0;
        margin-left:    pxToRem(10);
        outline:        0;
        padding:        0;
        text-indent:    -9999em;
        vertical-align: top;
    }

    &__toggle-cloned {
        background: transparent;
        color:      $white;
        float:      right;
        height:     pxToRem(50);
        margin:     pxToRem(9) pxToRem(10);
        width:      pxToRem(50);

        &::after {
            @include set-position(absolute, 30px, null, 30px);
            @include sq-sprite-bg(.3125);
            @include sq-sprite(cross-lg, .3125);
            content: ' ';
            display: inline-block;
        }
    }

    &__list {
        font-family: $font-family__condensed;
    }

    &__item {
        flex-basis:     content;
        margin-bottom:  auto;
        margin-top:     auto;

        &:first-child {
            margin-left: -$top-nav-leftpadding--desktop;
        }

        h4 {
            color:         $white;
            font-family:   $font-family__serif;
            font-size:     pxToRem(24);
            line-height:   1.167;
            margin-bottom: pxToRem(10);
            margin-top:    0;
        }

        p {
            color:         $white;
            margin-bottom: 0;
            margin-top:    pxToRem(10);
        }

        p,
        h4,
        &-sub--level2 {
            padding: pxToRem(10) 0 0;
        }

        &-sub--level2 {
            break-inside:       avoid-column;
            page-break-inside:  avoid; // Firefox workaround
        }

    }

    &__item--active {
        a {
            color: $white;
        }
    }

    &__item-lbl {
        color:          $base-light-charcoal;
        font-size:      pxToRem(18);
        font-weight:    $font-regular;
        height:         100%;
        margin:         auto;
        text-align:     center;
        text-transform: uppercase;
    }

    &__item--current,
    &__item--current-parent {
        > .navbar__item-lbl,
        > .navbar__item-sub-lbl {
            .navbar__item-text {
                font-weight: $font-bold;
            }
        }
    }

}

.sub-nav {
    background: $base-monash-blue;
    border:     0;
    box-shadow: none;
    padding:    pxToRem(35) pxToRem(80) pxToRem(45);

    &__wrapper {
        @include sq-flex-box();
    }

    li {
        margin: 0;
    }

}

.wrapper__item {
    flex-grow: 1;

    &:first-child {
        flex-basis:    40%;
        padding-right: pxToRem(80);

        a {
            text-decoration: underline;

            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }
    }

    &:last-child {
        flex-basis: 60%;
    }
}

.navbar__dropdown {
    transform: translate3d(-100%, 0, 0);

    .no-js {
        display: none;
    }

}

.navbar__dropdown--mobile {
    background: $base-dark-charcoal;
    color:      $white;
    height:     auto;
    position:   absolute;
    top:        0;
    transition: all .3s ease .3s;
    width:      100%;
    z-index:    100;

    &.navbar__dropdown--slide-left {
        transform: translate3d(-100%, 0, 0);
    }

    &.navbar__dropdown--slide-right {
        transform: translate3d(0, 0, 0);
    }

    &.navbar__dropdown--mobile-hidden {
        display: none;
    }

    .navbar__list.flex-wrapper,
    .navbar__list-sub,
    .navbar__list--home {
        @include sq-list-reset();
        display:        block;
    }

    .navbar__list-sub {
        @include ul-multi-columns(1);

        &--level2,
        &--level3,
        &--level4,
        &--level5 {
            border-top: 1px solid $mobileNav__border-colour;
            font-size:  pxToRem(15);
        }

        &--level2 {
            background: $base-light-charcoal;
        }

        &--level3 {
            background: $mobileNav__background-levelthree;
        }

        &--level4 {
            background: $mobileNav__background-levelfour;
        }

        &--level5 {
            background: $base-light-grey;
        }

        &--level3,
        &--level4,
        &--level5 {
            display: none;
        }
    }

    .navbar__list--home {
        .navbar__item:first-child {
            line-height: 0;
        }
    }

    .sub-nav {
        background: transparent;
        padding:    0;

        &__wrapper {
            display: block;
        }
    }

    .wrapper__item:first-child {
        display: none;
    }

    .navbar__item,
    .navbar__item-sub {
        border:             1px solid $mobileNav__border-colour;
        border-top-width:   0;
        margin-bottom:  auto;
        margin-top:     auto;

        &:first-child {
            margin-left: 0;
        }

        &--level2,
        &--level3,
        &--level4,
        &--level5 {
            border-left-width:  0;
            border-right-width: 0;
            padding:            0;
        }

    }

    .navbar__item-sub {

        &:last-child {
            border-bottom-width: 0;
        }

        &--level4,
        &--level5 {

            .navbar__item-cta {
                @include sq-sprite-pseudo(angle-right, 'after', .375);
            }

            .navbar__item-cta--expanded {
                @include sq-sprite-pseudo(angle-down, 'after', .375);
            }

        }

    }

    .navbar__item-lbl,
    .navbar__item-sub-lbl {
        color:              $white;
        display:            flex;
        text-align:         left;
        text-decoration:    none;

        &:hover {
            text-decoration: none;
        }

        &--level4,
        &--level5 {
            color: $base-dark-charcoal;
        }
    }

    .navbar__item-text,
    .navbar__item-cta {
        display: block;
    }

    .navbar__item-text {
        flex-grow:  1;
        padding:    1rem;
        width:      100%;

        &--level2 {
            padding-left: 1.5rem;
        }

        &--level3 {
            padding-left: 2.25rem;
        }

        &--level4 {
            padding-left: 3.25rem;
        }

        &--level5 {
            padding-left: 4rem;
        }

    }

    .navbar__item-cta {
        @include sq-sprite-pseudo(angle-right-lg, 'after', .375);
        background-color: transparent;
        border-color:     $mobileNav__border-colour;
        border-style:     none none none solid;
        border-width:     0 0 0 1px;
        min-width:        pxToRem(68);
        padding:          0;
        position:         relative;

        &::after {
            left:       50%;
            position:   absolute;
            top:        50%;
            transform:  translate(0, -50%);
        }

        &--expanded {
            @include sq-sprite-pseudo(angle-down-lg, 'after', .375);

            &::after {
                left: 45%;
            }

        }
    }

    .navbar__item-logo-mobile {
        @include sq-inline-block();
        @include sq-sprite-bg(1);
        @include sq-sprite(monash-logo-shield, 1);
        height: pxToRem(32);
        margin: pxToRem(20) 1rem 1rem;
    }
}
