.header {
    &-row {
        .content-wrapper {
            max-width:      73.125rem;
            padding-left:   pxToRem(15);
            padding-right:  pxToRem(15);
        }
    }

    &-row__items {
        align-items:        center;
        display:            flex;
        justify-content:    space-between;
    }

    &-row__logo-link {
        display:       block;
        flex:          none;
        height:        auto;
        line-height:   0;
        margin-bottom: pxToRem(28.5);
        margin-top:    pxToRem(.5);
        padding-left:  0;
        width:         auto;

        &.mobile-hidden {
            display: inline-block;
        }
    }

    &-row__logo-img {
        height:    auto;
        max-width: 100%;
        // scss-lint:disable VendorPrefix
        -ms-transform:     scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform:         scale(1, 1);
        // scss-lint:enable VendorPrefix
    }

    &-row__logo-wrapper {
        // scss-lint:disable VendorPrefix
        -moz-box-flex:    none;
        -webkit-box-flex: none;
        -ms-flex:         none;
        -webkit-flex:     none;
        // scss-lint:enable VendorPrefix
        flex:             none;
    }

    &-row__site-title {
        background:  none;
        color:       $base-dark-charcoal;
        line-height: 1;
        margin-top:  -.375rem;
        padding:     0 .5rem 0 0;
        text-align:  right;
        width:       auto;
    }

    .site-title__main {
        margin-top: .25rem;
    }

    .site-title__sub-link {
        color: $base-light-charcoal;
    }

    .site-title__sub-link:hover {
        text-decoration: underline;
    }

    // add home icon - code from Monash
    li.navbar__item.home.icon {
        display: flex;
    }
    // end add home icon - code from Monash
}

.utility-navigation-list {
    font-size:   pxToRem(13);
    line-height: 1.231;
}

.utility-navigation-list__item {
    margin-top:     0;
    padding-bottom: pxToRem(6);
    padding-top:    pxToRem(6);

    &.student-type {
        font-size:   pxToRem(13);
        line-height: 1.231;
        padding:     0;
    }
}

.navbar__dropdown {
    transform:  none;
    transition: none;

    &[aria-expanded="false"] {
        position: static;
    }

    &.navbar__dropdown--mobile-hidden {
        display: block;
    }
}

.navbar {
    @include sq-flex(1);
    margin-top: 0;

    &__item {
        align-items:   stretch;
        display:       flex;
        margin-bottom: 0;
        margin-top:    pxToRem(1);
    }

    &__item-lbl {
        align-items: center;
        border-top:  1px solid transparent;
        display:     flex;
        height:      auto;
        margin:      0;
        padding:     pxToRem(11.5) pxToRem(15);
    }

    &__item--active {
        .navbar__item-lbl {
            background: $base-monash-blue;
            color:      $white;
        }

        .sub-nav {
            top: 100%;
        }
    }

    &__item--current,
    &__item--current-parent {
        > .navbar__item-lbl,
        > .navbar__item-sub-lbl {
            .navbar__item-text {
                font-weight: $font-regular;
            }
        }
    }

    &__list-sub--level3 {
        display: none;
    }
}

// scss-lint:disable MergeableSelector

// Alternate Navigation Styles (Nav Bar)
.navbar {

    // Override main nav menu bar colours
    @each $colour-name, $colour-value in $palette {
        &--#{$colour-name} {
            background:       $colour-value;
            border-top-color: $colour-value;

            .navbar__item-lbl,
            .navbar__item-lbl:active {
                color: $white;
            }

            .header-row__search .header-row__search-icon::after { // scss-lint:disable SelectorDepth
                @include sq-sprite(search-white, $sprites-search__scale--desktop);
            }

            .navbar__item--current-parent .navbar__item-lbl { // scss-lint:disable SelectorDepth
                background:       darken($colour-value, 10);
                border-top-color: darken($colour-value, 10);
            }

        }
    }

    // Reversed colours (dark text on light background)
    &--white,
    &--light-grey,
    &--medium-grey,
    &--dark-grey {
        .navbar__item-lbl,
        .navbar__item-lbl:active {
            color: $base-light-charcoal;
        }

        .header-row__search .header-row__search-icon::after { // scss-lint:disable SelectorDepth
            @include sq-sprite(search-lc, $sprites-search__scale--desktop);
        }

        .header-row__search:hover .header-row__search-icon::after,
        .header-row__search--active .header-row__search-icon::after { // scss-lint:disable SelectorDepth
            @include sq-sprite(search-white, $sprites-search__scale--desktop);
        }
    }

    // Non-standard special snowflake included for backwards-compatibility
    &--brown {
        .navbar__item--current-parent .navbar__item-lbl {
            background-color:   lighten($base-brown, 10);
            border-top-color:   lighten($base-brown, 10);
        }
    }

    // Non-standard special snowflake included for backwards-compatibility
    &--light-charcoal {
        .navbar__item--current-parent .navbar__item-lbl {
            background-color:   $base-dark-charcoal;
            border-top-color:   $base-dark-charcoal;
        }
    }

    // Non-standard special snowflake included for backwards-compatibility
    &--medium-grey {
        .navbar__item--current-parent .navbar__item-lbl {
            background-color:   $base-dark-grey;
            border-top-color:   $base-monash-blue;
        }
    }

    // Non-standard special snowflake included for backwards-compatibility
    &--medium-grey,
    &--monash-blue {
        .header-row__search:hover .header-row__search-icon {
            background: $base-light-charcoal;
        }
    }

    // Non-standard special snowflake included for backwards-compatibility
    &--dark-charcoal {
        .navbar__item--current-parent .navbar__item-lbl {
            background:       $base-light-charcoal;
            border-top-color: $white;
        }
    }
}

// Alternate Navigation Styles (Dropdown)
.megamenu {

    // Override
    @each $colour-name, $colour-value in $palette {

        &--#{$colour-name} {
            .sub-nav, // scss-lint:disable SelectorDepth
            .navbar__item--active .navbar__item-lbl,
            .navbar__item-lbl:hover {
                background-color: $colour-value;
            }

            .navbar__item--active .navbar__item-lbl, // scss-lint:disable SelectorDepth
            .navbar__item-lbl:hover,
            .navbar__item-sub-lbl:active {
                border-top-color:   $colour-value;
                color:              $white;
            }
        }
    }

    // Reversed colours (dark text on light background)
    &--white,
    &--light-grey,
    &--medium-grey,
    &--dark-grey {
        p,
        a,
        h4,
        .navbar__list,
        .navbar__item--active .navbar__item-lbl,
        .navbar__item-lbl:hover,
        .navbar__item-sub-lbl:active {
            color: $base-light-charcoal;
        }
    }

    // Special snowflake
    &--monash-blue {
        .sub-nav {
            margin-top: pxToRem(-1);
        }
    }
}

// scss-lint:enable MergeableSelector

.no-js {
    .header {
        &-row__logo-wrapper {
            display: none;
        }

        .utility-navigation-list {
            display: flex;
        }
    }

    .navbar__dropdown {
        display: block;
    }
}
