// Single line comments will be removed by the CSS preprocessor
// Hint: go nuts commenting your Sass

// Multiline comments will be preserved, use them when you need to send comments
// back out to the resulting .css file.

// Tip: Most boilerplate modules follow guidelines set out in http://bem.info/ as a rule of 
// thumb. You don't have to, but it helps with consistency and any class name collisions
// with other styles. Example naming convention:
// 
// .monash-college-search-panel__element { ... }
// .monash-college-search-panel__element--modifier { ... }
// .monash-college-search-panel__sub-element { ... }


.error {
    color: red;
}

input.typeahead {
        padding: pxToRem(10);
}

section.panel.section6__loader {
    text-align: center;
    background-color: #F8F8F8;
    padding: pxToRem(10);
}

a.dropdown-item {
    padding-bottom: pxToRem(5);
    list-style-type: none;
}

.tt-suggestion.tt-selectable {
    padding: pxToRem(2) pxToRem(5) pxToRem(2) pxToRem(5);
    
    &:hover {
        background-color: #F8F8F8;
        cursor: pointer;
    }
}

.dropdown-menu li {
    cursor: pointer;
    float: left;
    height: pxToRem(35);
    list-style-type: none;
    z-index: 2;
    margin: 1px;
    width: 100%;
    line-height: 34px;
}

a.dropdown-item {
    position: relative;
    float: left;
}

div#the-basics {
    width: 100%;
}

.twitter-typeahead {
    width: 100%;
}

ul.typeahead.dropdown-menu {
    background-color: white;
    z-index: 1;
    height: 100%;
    margin-top: 0;
    padding-left: 0.625rem;
}

input.typeahead {
    width: 100%;
    font-weight: 300;
    border: 1px #006dae solid;
    color: #006dae;
    flex-basis: 100%;
    padding: 0.6875rem 0.9375rem;
}

.dropdown-menu {
    li {
        padding: 5px;
        list-style-type: none;
        cursor: pointer;
    }
}

.tt-menu {
    background-color: white;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    padding: 10px;
}

section.panel.section6__loader {
    background-color: transparent;
    padding: 0.625rem 0;
}

//sidebar-list link-asset css
a.btn-bordered.link-asset {
    margin-bottom: 30px;
    width: 100%;
}

.panel a.link-asset {
    width: 100%;
}