// News Listing Archive (Global)

.news-archive-listing__events-item {
    margin-bottom: pxToEm(16);

    h3 a {
        padding-left: pxToEm(0);
    }

    a {
    text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.news-archive-listing__events-item h3,
p.news-item-published-date {
    margin: pxToEm(0);
}

a.news-item-url {
    margin-top: pxToEm(0);
    font-size: pxToEm(10);
}

.search-result__item {
    color: #006dae;
    display: block;
    margin-bottom: 2rem;
    text-decoration: none;

    .breadcrumbs {
        display: block;
        font-size: 0.75rem;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.search-result__item:hover .search-result__title {
    text-decoration: underline;
}

.search-result__title {
    display: block;
    font-size: 1.375rem;

    &:hover {
        text-decoration: underline;
    }
}

.search-result__date {
    display: block;
}

.search-result__body {
    margin: 0;
}

.notices-listing__cat-heading {
    font-size: pxToRem(28);
}
