// scss-lint:disable VendorPrefix
// scss-lint:disable PseudoElement

$headerSearch__default-border-colour:      #929292;


/* OLD - if .header-row__search used only */ 
.header-row__search:not(.header-row__search-global) .header-row__search-form {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0.9375rem;
    z-index: 100;
    background: #505050;
}
.header-row__search:not(.header-row__search-global) .header-row__search-form--expanded {
    height: 120px;
}
.header-row__search:not(.header-row__search-global) {
    position: relative;
}
.header-row__search:not(.header-row__search-global) .search-form-group__label {
    display: inline; 
}


/* Generic */
.header-row__search {
    @include sq-transition(background .3s ease);
    flex:       none;
    text-align: center;
    width:      pxToRem(55);

    &:hover,
    &--active {
        .header-row__search-icon {
            background: $base-light-charcoal;
            cursor:     pointer;
        }

        .header-row__search-icon::after {
            @include sq-sprite(search-white, $sprites-search__scale--mobile);
        }
    }
}

.header-row__search-icon {
    background: transparent;
    border:     0;
    color:      $white;
    display:    block;
    height:     pxToRem(70);
    padding:    0;
    position:   relative;
    width:      pxToRem(55);

    &::after {
        @include sq-sprite-bg($sprites-search__scale--mobile);
        @include sq-sprite(search-lc, $sprites-search__scale--mobile);
        content:     '';
        left:        50%;
        margin-left: pxToRem(-11);
        margin-top:  pxToRem(-11);
        position:    absolute;
        top:         50%;
    }

    &:focus {
        outline: thin dotted $white;
    }
}

.header-row__search-inputwrapper {
    width: 100%;
}

.header-row__search-form {
    @include sq-transition(all .4s ease);
    @include sq-opacity(0);
    background: rgba(0, 0, 0, 0.9);    
    display:    block;
    visibility: hidden;

    height: 0;
    padding-bottom: pxToRem(0);


    .btn-primary {
        position: absolute;
        right: pxToRem(5);
        top: pxToRem(5);
        background-color: $search-global-blue;
        font-size: 1.0625rem;
        line-height: 1.5;
        font-family: $font-family__base-search;
        padding: .657rem 2.2125rem;
        @include sq-border-radius(0);
        z-index: 101;
    }

    &--expanded {
        @include sq-opacity(100);
        visibility: visible;
        padding-top: pxToRem(35);
        min-height: pxToRem(120);
    }

    form {
        padding: 0 pxToRem(15);
    }

    input {        
        &::-webkit-input-placeholder {
            color: $base-light-grey;
        }

        // Firefox ≤ 18
        &:-moz-placeholder {
            color: $base-light-grey;
        }

        // Firefox ≥ 19
        &::-moz-placeholder {
            color: $base-light-grey;
        }

        &:-ms-input-placeholder {
            color: $base-light-grey;
        }
    }

    .tt-menu {
        background: transparent;                
        color: white;
        padding: 30px 10px;

        &:after {
            content: '';
            background: rgba(0, 0, 0, 0.9);
            left: -50%;
            right: -50%;
            height: 100%;
            top: 0;
            position: absolute;
            z-index: 1;
        }
    }

    .tt-dataset {
        width: 100%!important; // Override style="width:" which seems to be injected by Typeahead
        position: relative;
        z-index: 101;
        text-align: left;

    }

    .tt-category {
        font-size: pxToRem(24);
        font-weight: $font-light;
        font-family: $font-family__base-search;
        color: white;
        border-bottom: 1px solid #979797;
        padding-bottom: pxToRem(5);        
        line-height: 1.2;
        color: inherit;
        margin-top: 0;
        margin-bottom: .5rem;
    }

    .tt-suggestion {
        font-size: 1rem;
        margin-bottom: .5rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;

        h6 {
            margin:0;
            color: white;
            font-family: $font-family__base-search;
        }
        img.picture {
            margin-left: 2.25rem;
            max-width: 4.125rem;
          }
    }

    .tt-suggestion.tt-selectable:hover {
        background: inherit;
        text-decoration: underline;
    }

    .input-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
    }

    .tt-input {
        box-sizing: border-box;
        width: 100%;
        border: 1px solid white;        
        font-size: pxToRem(30);      
        border-radius: 0;          
        position: relative;    
        margin-bottom: 20px;   
        padding-right: 4.4em; //MONFUNNEL-45: Ensure text doesnt go behind search button (quick fix for go-live)

        &, &:focus {
            background: transparent;
            color: white;
            z-index: 101;
        }
    }    
}

.header-row__search {
    .header-row__search-form {
        .tt-input,
        .tt-input:focus {
            margin-bottom: 20px;
            z-index: 101;
        }
    }
}

.search-form-group {
    display:        flex;
    flex-wrap:      wrap;
    font-family:    $font-family__condensed;
    position:       relative;

    &__label {
        color: $white;
        display: inline; 
    }

    &__input,
    &__submit {
        height:     3rem;
        overflow:   hidden;
    }

    &__input {
        background:     transparent;
        border:         1px solid $headerSearch__default-border-colour;
        color:          $base-light-grey;
        font-size:      pxToRem(12);
        line-height:    1;
        margin-right:   3.5rem;
        padding:        0 pxToRem(15);
        text-transform: uppercase;
        width:          100%;
    }

    &__scope {
        border:     0 none;
        margin:     pxToRem(20) 0 pxToRem(10);
        padding:    0;
        width:      100%;

        .visuallyhidden {
            color: $white;
        }
    }

    &__scope-list {
        display:        flex;
        flex-direction: row;
        margin:         0;
        padding:        0;
        text-align:     left;
    }

    &__scope-item {
        display:            block;
        list-style-type:    none;
        margin:             0 0 0 pxToRem(20);
        padding-left:       1.3rem;
        position:           relative;
        text-indent:        -1.3rem;
        text-transform:     uppercase;

        &:first-child {
            margin-left: 0;
        }
    }

    &__submit {
        position:   absolute;
        right:      0;
        top:        0;
        width:      2.75rem;
    }

    .sq-form-field[type="radio"] + label:before {
        background-color:   $white;
        border-color:       $white;
    }
}

// scss-lint:enable VendorPrefix
// scss-lint:enable PseudoElement



