.header-row__search-form {
    padding-bottom: pxToRem(0);
    .tt-menu {
        display: block;
        padding: 30px 0;
    }

    .tt-dataset {
        display: block;
        float: left;
        width: 33.333%!important;  // Override style="width:" which seems to be injected by Typeahead
        padding-right: 30px;

        &:last-child {
            padding-right: 0;
        }
    }

}