$scale-factor: 						32;
$search-icon-size--desktop: 		24;
$search-icon-size--mobile: 			22;

$sprites-search__scale--desktop:	$search-icon-size--desktop / $scale-factor;
$sprites-search__scale--mobile: 	$search-icon-size--mobile / $scale-factor;

$headerSearch__default-border-colour: #929292;
