// scss-lint:disable VendorPrefix
// scss-lint:disable PseudoElement
.header-row__search {
    align-items:  stretch;
    display:      flex;
    margin-right: 0;
    padding-top:  pxToRem(1);
}

.header-row__search:hover,
.header-row__search--active {
    .header-row__search-icon::after {
        @include sq-sprite(search-white, $sprites-search__scale--desktop);
    }
}

/* NEW - code used only for new header search - header-row__search-global */
.header-row__search-global .header-row__search-form {

    min-height: pxToRem(550);

    @include set-position(absolute, 100%, 0, 0);
    // min-height: 34.375rem;
    padding: pxToRem(15);
    z-index: 100;

    &:after {
        content: '';
        background: rgba(0, 0, 0, 0.9);
        left: -50%;
        right: -50%;        
        top: 0;
        height: 100%;
        position: absolute;
        z-index: 1;
    }


}

.header-row__search-icon {
    height: auto;

    &::after {
        @include sq-sprite-bg($sprites-search__scale--desktop);
        @include sq-sprite(search-lc, $sprites-search__scale--desktop);
        margin-left: pxToRem(-12);
        margin-top:  pxToRem(-12);
    }

    .visuallyhidden {
        background: $black;
        color:      $white;
    }
}

.search-form-group {
    width: 18rem;

    &__input,
    &__submit {
        height: 2.5rem;
    }

    &__input {
        margin-right: 3rem;
    }

    &__scope-item {
        font-size:   pxToRem(12);
        margin-left: .75rem;
    }

    &__submit {
        width: 2.5rem;
    }

}

// scss-lint:enable VendorPrefix
// scss-lint:enable PseudoElement
