// Single line comments will be removed by the CSS preprocessor
// Hint: go nuts commenting your Sass

// Multiline comments will be preserved, use them when you need to send comments
// back out to the resulting .css file.

// Tip: Most boilerplate modules follow guidelines set out in http://bem.info/ as a rule of 
// thumb. You don't have to, but it helps with consistency and any class name collisions
// with other styles. Example naming convention:
// 
// .monash-college-news-v2__element { ... }
// .monash-college-news-v2__element--modifier { ... }
// .monash-college-news-v2__sub-element { ... }

.monash-college-news-v2 {
    // Your styles here
}

#monash-college-news-list { 

    .col-md-6 {
        max-width: 100%;
    }
   
     .box-listing-element__blurb {
        float: none;
    }

    a.box-listing-element__thumb-link {
        float: left;
        max-width: 250px;
        padding: 20px;
        height: 100%;
    }
}
