// Use the same CSS naming conventions for your variables, this will make it easier to manage
// them in a modular way and make sure that you aren't creating something that conflicts.
// We use !default so you can override these variables by including them higher up in the flow
// of the sass pre-processor (e.g the core variables.scss file).

// Examples:
// $search-global__background: #000 !default;
// $search-global__text: #fff !default;

// colors
$search-global-blue: #006bad;
$search-global-gray: #f2f2f2;
$search-global-white: #ffffff;
$search-global-black: #000000;

$search-global__nav-mobile--bg: #d8d8d8;
$search-global__nav-item--bg: #3b3b3b;
$search-global__nav-tab-bg--hover: #404040;

$search-global__openDay-bg: #1e1e1e;

$search-global__badge-color: #313131;
$search-global__badge-border: #e7e7e7;

$search-global__link-hover: #363636;

$search-global__placeholder: #c7c7c7;




//breakpoint
$mobile: 960;
$mobile-small: 768;