// Screen Hidden Content
.visuallyhidden {
  @extend %screen-hide;
  background: #000;
  color: #fff;
}

// When screen hidden content is focused restore it to view
.visuallyhidden.focusable:active,
.focusable.sr-only:active,
.visuallyhidden.focusable:focus,
.focusable.sr-only:focus,
.skip-links__link:focus {
  @extend %screen-show;
}

// Bootstrap friendly class
.sr-only,
.skip-links__link {
  @extend .visuallyhidden;
}

// Clear fix class for containers of floated elements
.clearfix {
  @extend %clearfix;
}

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
  display: none !important;
  visibility: hidden;
}

// Hide visually and from screenreaders, but maintain layout
.invisible {
  visibility: hidden;
}

// Float classes
.pull-left {
  float: left;
}

img.pull-left {
  margin-right: 1em;
}

.pull-right {
  float: right;
}

img.pull-right {
  margin-left: 1em;
}

// 16:9 Ratio container for embedded video
// This container is suitable for something like youtube videos
.video-container {
  height: 0;
  margin-bottom: 1em;
  overflow: hidden;
  padding-bottom: 56.25%; // Video area
  padding-top: 30px; // 30px controls container
  position: relative;

  iframe,
  object,
  embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}
