// Base font
$base-font-scale: 1; // The font scale multiplier (e.g. 2 = 32px/2em/2rem)
$base-font-pixel: 16; // Used for font size calculations & conversions
$base-font-colour: #222;
$h1: pxToRem(40);

// Selection highlighting
$content-selection-highlight: #b3d4fc;

$base-dark-charcoal: #333;
// Monash palette (Principals)
$white: #fff;
$black: #000;
$base-monash-blue: #006dae;
$base-hover-blue: #0289d4;
$base-brown: #795549;
$base-cerise: #c8008f;
$base-dark-charcoal: #3c3c3c;
$base-green: #00ac3e;
$base-khaki: #829356;
$base-light-blue: #009fda;
$base-light-charcoal: #505050;
$base-light-grey: #f6f6f6;
$base-magenta: #c900ff;
$base-orange: #fc622e;
$base-pink: #ee64a4;
$base-purple: #8177e7;
$base-red: #ff002b;

// Group palette into SASS map for easier looping
$palette: (
  // Constant (do not delete)
    'black': #000,
  'monash-blue': #006dae,
  'white': #fff,
  // Primary palette originally provided by Principals
    // Included for backwards-compatibility
    'blue': #006dae,
  'brown': #795549,
  'cerise': #c8008f,
  'dark-charcoal': #3c3c3c,
  'dark-grey': #cfcfcf,
  'green': #00ac3e,
  'khaki': #829356,
  'light-blue': #009fda,
  'light-charcoal': #505050,
  'light-grey': #f6f6f6,
  'magenta': #c900ff,
  'medium-grey': #e6e6e6,
  'orange': #fc622e,
  'pink': #ee64a4,
  'purple': #8177e7,
  'red': #ff002b,
  // Secondary palette provided by Monash
    // Provides adequate contrast for WCAG AA compliance when paired with white (#ffffff)
    'aa-blue': #00739d,
  'aa-charcoal': #505050,
  'aa-fuchsia': #c90095,
  'aa-green': #006f29,
  'aa-olive': #616d3a,
  'aa-orange': #c33603,
  'aa-purple': #6f64a9,
  'aa-red': #df0021,
  'aa-ruby': #c800d9,
  'aa-umber': #795548
);
// Form elements
$form-bg: #f6f6f6;
$form-control-border: #dcdcdc;
$form-control-placeholder: #bcbcbc;

// Miscellaneous palette
$base-medium-grey: #e6e6e6;
$base-dark-grey: #cfcfcf;

// Social media palette
$brand-social--facebook: #3b5998;
$brand-social--instagram: #3f729b;
$brand-social--twitter: #55acee;

// Table palette
$table-gray: #e6e7e8;
$table-blue: #bbe0f6;
$table-orange: #fadbcf;
$table-green: #dee7c2;
$table-brown: #e0cec8;

// Highlighta
$hightlight: #fffad6;

// Wrappers
$page-wrapper--desktop: 81.25rem;
$content-wrapper--desktop: 73.25rem;
$content-wrapper--tablet: 37.5rem;
$content-wrapper--mobile: 100%;

// Negative margins required to expand some module widths
// to match "full content" width (banner width).
$breakout-margin-one-col-desktop: pxToRem(-80);

// Header paddings
$gap-height: pxToRem(24);

// Content paddings
$gap-min: pxToRem(20);
$gap-small: pxToRem(50);
$gap-mid: pxToRem(60);
$gap-regular: pxToRem(80);
$gap-medium: pxToRem(90);
$gap-standard: pxToRem(24);

$gap-small--mobile: pxToRem(30);
$gap-regular--mobile: pxToRem(15);

// Box shadows
$box-shadow-position: 1px 1px 1px 0;
$box-shadow-hover-position: -1px -1px 1px 0;
$box-shadow-colour: rgba(0, 0, 0, 0.75);

// Z-indexes: form elements
$z-index-form-field-facade: 2;
$z-index-banner: 1;
$z-index-banner-page-wrapper: 2;
$z-index-parallax: 10;
$z-index-parallax-bg: 11;
$z-index-parallax-static: 20;
$z-index-carousel-controls: 30;
$z-index-banner-feature-article-bg: 11;
$z-index-banner-feature-article-contents: 12;

// Banner
// Distance of left side of Monash "M" from left side of banner image
$mon-m-offset-left: 276px;
// Width of Monash "M"
$mon-m-width: 236px;
// Visible height of banner
$banner-height: 550px;
// Position the left edge of the banner play button so that the
// button is aligned horizontally with the Banner "M"
// (Play button is 80px)
$banner-play-left: (($mon-m-width / 2) - 80px) / 2;
// Recalculate banner play button left position for wide viewports
$banner-play-left-wide: $mon-m-offset-left + (($mon-m-width - 80px) / 2);
// Total image height for parallax (including bleed)
$parallax-image-height: 1100px;

@mixin ul-multi-columns($nCols) {
  columns: $nCols;
  -webkit-columns: $nCols;
  -moz-columns: $nCols;
}

@mixin set-position($position: absolute, $top: 0, $left: 0, $right: auto) {
  position: $position;
  top: $top;
  left: $left;
  right: $right;
}
