<div class="social-n-navigation bg-light-grey">
    <!-- import:content source:modules/social-media/html/fragments/_social-media-share-bar.html -->
    <!-- import:content source:modules/feature-article/html/fragments/_cross-nav-bar.html -->
    <div class="clearfix"></div>
</div>
<div class="content">
    <!-- import:content source:modules/feature-article/html/fragments/_content-frag-1.html -->
    <div class="clearfix"></div>
    <!-- import:content source:modules/feature-content-banner/html/index.html -->
    <!-- import:content source:modules/feature-content-banner/html/index-2.html -->
    <!-- import:content source:modules/feature-content-banner/html/index-3.html -->
    <!-- import:content source:modules/feature-content-banner/html/index-4.html -->
    <!-- import:content source:modules/feature-article/html/fragments/_content-frag-2.html -->
    <!-- import:content source:modules/inside-page/html/fragments/_related-keywords.html -->
    <!-- import:content source:modules/box-featured/html/featured-related.html -->
</div>
