// Box Listing Element (Global)
#full-page-events .box-listing-element__group {
  height: auto;
}
.box-listing-element {
  background-color: $white;
  margin-bottom: pxToRem(15);
  position: relative;
  width: 100%;

  .lhs & {
    margin: 0 1rem 1rem;
    width: auto;
  }

  a {
    display: block;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__wrapper {
    margin: 0;
  }

  &__group {
    height: 100%;
    list-style-type: none;
    margin: 0 -1rem;
    padding: 0 1rem;

    .content-inner__rhs & {
      margin: 0;
      padding: 0;
    }
  }

  &__group-heading {
    color: $black;
    font-family: $font-family__condensed;
    font-size: pxToRem(21);
    line-height: 1.143;
    margin-top: 0;
    padding: pxToRem(5) 15% pxToRem(20);
    text-align: center;
  }

  &__thumb-link,
  &__thumb-image,
  &__video-thumb-link,
  &__video-thumb-image {
    display: block;
  }

  &__thumb-image,
  &__video-thumb-image {
    width: 100%;
  }

  &__video-thumb-link {
    position: relative;

    &::after {
      left: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(
        -50%,
        -50%
      ); // scss-lint:disable VendorPrefix
      transform: translate(-50%, -50%);
    }

    .no-js & {
      &::before {
        content: 'YouTube:';
      }

      &:nth-child(2)::before {
        content: 'YouKu:';
      }
    }
  }

  &__video-link {
    .no-js & {
      &::before {
        content: 'YouTube link: ';
      }

      &:nth-child(2)::before {
        content: 'YouKu link: ';
      }
    }
  }

  &__blurb {
    padding: pxToRem(15) pxToRem(15) pxToRem(27);
  }

  &__heading {
    font-family: $font-family__condensed;
    line-height: 1.143;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__heading-link {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__help {
    font-size: 0.75rem;
    font-weight: $font-light;
  }

  &__category-link {
    bottom: pxToRem(7);
    color: $base-light-charcoal;
    font-size: 0.75rem;
    font-weight: $font-light;
    position: absolute;
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__enquiries-list,
  &__events-list {
    margin: 0;
    padding: 0;

    // Specificity override - remove numbers
    li::before {
      content: '';
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__enquiries-item,
  &__events-item {
    list-style-type: none;
    margin: 0;

    a {
      display: flex;
    }
  }

  &__events-item {
    &:first-child {
      .event-summary {
        margin-top: 0;
      }
    }
  }

  .video-container {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0; // No video info is displayed at mobile size
  }

  // Variation: sidebar (aka. right-hand side or RHS)
  &--sidebar {
    background-color: $base-light-grey;
    padding: 0;
  }

  &--sidebar-legacy {
    h2,
    .panel-summary strong {
      font-family: $font-family__condensed;
      font-weight: 700;
      line-height: 1.143;
      margin-bottom: 0;
      margin-top: 0;
    }

    .box-listing-element__thumb-image {
      width: 100%;
    }
    ul {
      padding-left: 20px;
    }

    .panel-summary br:nth-child(1) {
      display: none;
    }
  }

  // Variation: heading first
  &--heading-first {
    .box-listing-element__heading {
      margin-bottom: 0;
      padding: pxToRem(10) pxToRem(15);
    }

    .box-listing-element__description,
    .box-listing-element__description p:nth-child(1) {
      margin-top: 0;
    }
  }

  // Variation: 2-column hero
  &--2-col-hero {
    .box-listing-element__heading {
      font-size: pxToRem(21);
      line-height: 1.143;
      padding: 0;
    }
  }

  // Variations: Events; Enquiries (aka. "Listing Compact")
  &--events,
  &--enquiries {
    background-color: transparent;
    border-bottom: 0 none;
    flex-direction: column;
    position: static;

    .box-listing-element__heading {
      background-color: $base-light-charcoal;
      color: $white;
    }
  }

  // Variation: Enquiries (aka. "Listing Compact")
  &--enquiries {
    .box-listing-element__heading {
      padding: 1.75rem 1.68rem;
    }
  }

  // Variation: Events (aka. "Listing Compact")
  &--events {
    display: flex;

    .box-listing-element__heading-link {
      display: block;
      padding: 1.75rem 1.68rem;

      &,
      &:hover,
      &:focus,
      &:active {
        color: $white;
      }
    }

    .btn {
      align-self: center;
      margin: pxToRem(20) auto;
      text-transform: uppercase;
    }

    &.rhs-events__view-more--hidden {
      padding-bottom: pxToRem(20);
    }
  }

  // Variation: Study at Monash Landing - distribution of 20% (thumb) / 80% (desc)
  // scss-lint:disable VendorPrefix
  &__small-thumb {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: pxToRem(160);
    overflow: hidden;

    .box-listing-element__thumb-link {
      -webkit-flex-basis: pxToRem(68);
      flex-basis: pxToRem(68);
      margin-left: pxToRem(15);
    }

    .box-listing-element__blurb {
      -webkit-flex-basis: 0;
      flex-basis: 0;
      -webkit-flex-grow: 1;
      flex-grow: 1;
      height: pxToRem(142);
      max-width: none;
      overflow: hidden;
      padding: pxToRem(20) pxToRem(15) 0 pxToRem(30);
    }

    p {
      margin-top: pxToRem(12);
    }
  }
  // scss-lint:enable VendorPrefix

  // User-defined Colour Theme: Dark
  &--theme-dark {
    background-color: $base-dark-charcoal;
    border-bottom: 0 none;

    .box-listing-element__heading-link,
    .box-listing-element__description,
    .box-listing-element__description p,
    .box-listing-element__category-link {
      color: $white;
    }
  }
}

// Enquiries (aka. "Listing Compact")
.enquiry-summary {
  background-color: $white;
  margin-top: 1px;
  padding: 0.25rem 1.25rem;

  &:first-child {
    margin-top: 0;
  }

  &__heading {
    font-family: $font-family__sans;
    font-weight: $font-bold;
    margin-bottom: 0;
    margin-top: 1rem;
  }
}

// Events (aka. "Listing Compact")
.event-summary {
  background-color: $white;
  display: flex;
  margin-top: 1px;
  padding: 0.5rem;

  &:hover,
  &:focus {
    text-decoration: none;

    .event-summary__title {
      text-decoration: underline;
    }
  }

  &:active {
    color: $base-monash-blue;
  }

  &__date,
  &__date-day,
  &__date-month,
  &__date-end-label {
    display: block;
  }

  &__date {
    background-color: $base-light-grey;
    color: $base-light-charcoal;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    font-family: $font-family__sans;
    font-size: pxToRem(18);
    font-weight: $font-regular;
    justify-content: center;
    line-height: 1.2rem;
    margin-right: 2rem;
    padding: 0.8rem 0;
    text-align: center;
    width: 4.5rem;
  }

  &__date-day,
  &__date-month,
  &__date-end-label,
  &__date-end {
    display: block;
    width: 100%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
  }
}

.box-listing-element__container + .box-listing-element__container {
  margin-top: pxToRem(-21);

  .nav-tiles__group {
    margin-top: pxToRem(-27);
  }
}

.box-listing-element__container.bg-light-grey {
  background-color: transparent;
}

.box-listing-element--nav-tiles + :not(.box-listing-element--nav-tiles) {
  margin-top: -1rem;
}

.bg-light-grey .box-listing-element--sidebar {
  background-color: #fff;
}

.box-listing-element__video-thumb-link:after {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 752px 560px;
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
  display: block;
  width: 32px;
  height: 32px;
  background-position: -192px -144px;
  content: '';
}

.no-svg .box-listing-element__video-thumb-link:after {
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/sprites.png);
}

.box-listing-element__video-thumb-link:hover:after,
.box-listing-element__video-thumb-link:focus:after {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 752px 560px;
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
  display: block;
  width: 32px;
  height: 32px;
  background-position: -240px -144px;
  content: '';
}

.no-svg .box-listing-element__video-thumb-link:hover:after,
.no-svg .box-listing-element__video-thumb-link:focus:after {
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/sprites.png);
}

@import 'medium', 'wide', 'print', 'xwide';
