.box-listing-element {
    &__small-thumb {
        h1 {
            font-size:   pxToRem(21);
            line-height: 1.143;
        }

        p {
            font-size:   pxToRem(15);
            line-height: 1.4;
        }
    }
}
