// Box Listing Element (Print)

.box-listing-element {

    &__group {
        height: auto !important;

        .btn--view-more {
            display: none;
        }

    }

    &__wrapper {

        .masonry-grid & {
            position: static !important; // Safari :'(
        }

    }

    &__thumb-link,
    &__video-thumb-link,
    &__heading-link,
    &__category-link {

        &[href]::after {
            content: '';
        }

    }

    &__video-thumb-link {

        display: block !important;

        &,
        &:hover,
        &:focus {
            &::after {
                background-image: none;
            }
        }

        + .video-container {
            display: none !important;
        }

    }

    &__heading-link {
        text-decoration: none;
    }

}

.nav-tiles {

    &__group {
        page-break-inside: auto;
    }

}
