// Box Listing Element (Wide)
.box-listing-element {
  flex-grow: 1;
  margin-bottom: pxToRem(30);

  .lhs & {
    margin: 0 0 1rem;
    width: 100%;
  }

  &__container {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  &__wrapper {
    //flex-direction: column;
    flex-direction: inherit !important; //ie 11 fix - SDVIC-890
    padding-left: pxToRem(15);
    padding-right: pxToRem(15);

    &,
    &.mobile-hidden {
      display: flex;
    }
  }

  &__blurb {
    padding: pxToRem(15) pxToRem(15) pxToRem(28);
  }

  &__heading {
    line-height: 1.1176;
    padding: pxToRem(5);
  }

  &__nest,
  &__group {
    margin: 0 pxToRem(-15);
  }

  &__category-link {
    bottom: pxToRem(10);
  }

  &__nest {
    flex-grow: 1;
  }

  &__group {
    padding: 0;

    &.masonry-grid {
      display: flex;
      flex-wrap: wrap;
    }

    .btn--view-more {
      font-size: pxToRem(16);
      line-height: 1.375;
      padding: pxToRem(14) pxToRem(19.5);
      text-transform: none;
    }

    .content-inner__rhs & {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__group--enquiries {
    .content-inner__rhs & {
      margin-right: -1rem;
    }
  }

  &__group-heading {
    font-size: pxToRem(34);
    line-height: 1.12;
    margin: 0 0 pxToRem(25);
    padding: pxToRem(7) 25% 2.5rem;
  }

  &--sidebar {
    .box-listing-element__heading {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--sidebar-legacy {
    h2,
    .panel-summary strong {
      font-size: pxToRem(21);
      line-height: 1.1176;
      padding: pxToRem(5);
    }

    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }

  // Variation: heading first
  &--heading-first {
    .box-listing-element__heading {
      padding: pxToRem(20);
    }
  }

  // Variation: 2-column
  &__2-col {
    .box-listing-element__blurb {
      padding-left: pxToRem(30);
    }

    .box-listing-element__heading {
      padding: 0;
    }
  }

  // Variation: 2-column hero
  &--2-col-hero {
    .box-listing-element__blurb {
      padding-left: pxToRem(30);
      padding-right: pxToRem(30);
      padding-top: pxToRem(35);

      > img {
        padding-bottom: pxToRem(15);
      }
    }

    .box-listing-element__heading {
      font-size: 1.5rem;
    }
  }

  // Variation: Enquiries (aka. "Listing Compact")
  &--enquiries {
    display: flex;

    .box-listing-element__heading {
      padding: 1.68rem 1rem;
    }
  }

  // Variation: Events (aka. "Listing Compact")
  &--events {
    .box-listing-element__heading {
      padding: 0;
    }

    .box-listing-element__heading-link {
      padding: 1.68rem 1rem;
    }

    .btn {
      display: none;
    }

    &.rhs-events__view-more--hidden {
      padding-bottom: 0;
    }
  }

  //Variation: Study at Monash Landing - distribution of 20% (thumb) / 80% (desc)
  &__small-thumb {
    .box-listing-element__blurb {
      padding-bottom: 0;
    }
  }
}

// Single Page Events
#full-page-events {
  .event-summary {
    &__date {
      font-size: pxToRem(24);
      line-height: 1.6rem;
      margin-right: 1rem;
      padding: 0.75rem 0;
      width: 7rem;
    }
  }
}

// Events (aka. "Listing Compact")
.event-summary {
  &__date {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-right: 1rem;
    padding: 0.75rem 0;
    width: 4rem;
  }
}

//IE11 fix
_:-ms-fullscreen,
:root .box-listing-element--2-col-hero,
:root .box-listing-element__2-col {
  height: 100%;
}

//IE11 fix override
_:-ms-fullscreen,
:root .box-listing-element__small-thumb {
  height: pxToRem(160);
}

// Navigational tiles
.intro-text + .box-listing-element__container .nav-tiles__group {
  padding-top: pxToRem(25);
}

.nav-tiles__group {
  padding-bottom: pxToRem(90);
}

.box-listing-element__container + .box-listing-element__container {
  margin-top: calc(2 * -#{$gap-standard});

  .nav-tiles__group {
    margin-top: pxToRem(-90);
  }
}

.box-listing-element--nav-tiles + :not(.box-listing-element--nav-tiles) {
  margin-top: calc(-5.625rem + -#{$gap-standard});
}

.box-listing-element__container + .box-featured__group {
  margin-top: 0;
}

// news events list to make box without description has width 50%
#news-events-list .box-listing-element__wrapper {
  width: 50%;
}
