/* Module: Spritesheet */
.sq-icon {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 752px 560px;
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
  display: inline-block;
}

.no-svg .sq-icon {
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/sprites.png);
}

.sq-icon__email-boxed-lc {
  width: 32px;
  height: 32px;
  background-position: 0px 0px;
}

.sq-icon__print-boxed-lc {
  width: 32px;
  height: 32px;
  background-position: -48px 0px;
}

.sq-icon__baidu-boxed-lc {
  width: 32px;
  height: 32px;
  background-position: -96px 0px;
}

.sq-icon__baidu-white {
  width: 40px;
  height: 32px;
  background-position: -144px 0px;
}

.sq-icon__facebook-boxed-lc {
  width: 32px;
  height: 32px;
  background-position: -192px 0px;
}

.sq-icon__facebook-white {
  width: 17px;
  height: 32px;
  background-position: -240px 0px;
}

.sq-icon__googleplus-boxed-lc {
  width: 32px;
  height: 32px;
  background-position: -288px 0px;
}

.sq-icon__googleplus-white {
  width: 32px;
  height: 32px;
  background-position: -336px 0px;
}

.sq-icon__twitter-boxed-lc {
  width: 32px;
  height: 32px;
  background-position: -384px 0px;
}

.sq-icon__twitter-white {
  width: 39px;
  height: 32px;
  background-position: -432px 0px;
}

.sq-icon__linkedin-lc {
  width: 32px;
  height: 32px;
  background-position: -480px 0px;
}

.sq-icon__linkedin-white {
  width: 32px;
  height: 32px;
  background-position: -528px 0px;
}

.sq-icon__tumblr-white {
  width: 32px;
  height: 32px;
  background-position: -576px 0px;
}

.sq-icon__youtube-white {
  width: 32px;
  height: 32px;
  background-position: -624px 0px;
}

.sq-icon__instagram-white {
  width: 32px;
  height: 32px;
  background-position: -672px 0px;
}

.sq-icon__menu {
  width: 32px;
  height: 32px;
  background-position: -720px 0px;
}

.sq-icon__circle-o {
  width: 32px;
  height: 32px;
  background-position: 0px -48px;
}

.sq-icon__circle-o-lg {
  width: 32px;
  height: 32px;
  background-position: -48px -48px;
}

.sq-icon__circle {
  width: 32px;
  height: 32px;
  background-position: -96px -48px;
}

.sq-icon__circle-lg {
  width: 32px;
  height: 32px;
  background-position: -144px -48px;
}

.sq-icon__angle-down {
  width: 32px;
  height: 32px;
  background-position: -192px -48px;
}

.sq-icon__angle-down-lg {
  width: 32px;
  height: 32px;
  background-position: -240px -48px;
}

.sq-icon__angle-up {
  width: 32px;
  height: 32px;
  background-position: -288px -48px;
}

.sq-icon__angle-up-lg {
  width: 32px;
  height: 32px;
  background-position: -336px -48px;
}

.sq-icon__angle-right {
  width: 17px;
  height: 32px;
  background-position: -384px -48px;
}

.sq-icon__angle-right-lg {
  width: 17px;
  height: 32px;
  background-position: -432px -48px;
}

.sq-icon__angle-left {
  width: 17px;
  height: 32px;
  background-position: -480px -48px;
}

.sq-icon__angle-left-lg {
  width: 17px;
  height: 32px;
  background-position: -528px -48px;
}

.sq-icon__search-lc {
  width: 32px;
  height: 32px;
  background-position: -576px -48px;
}

.sq-icon__search-white {
  width: 32px;
  height: 32px;
  background-position: -624px -48px;
}

.sq-icon__cross {
  width: 32px;
  height: 32px;
  background-position: -672px -48px;
}

.sq-icon__cross-lg {
  width: 32px;
  height: 32px;
  background-position: -720px -48px;
}

.sq-icon__cross-blue {
  width: 32px;
  height: 32px;
  background-position: 0px -96px;
}

.sq-icon__back-to-top {
  width: 64px;
  height: 32px;
  background-position: -48px -96px;
}

.sq-icon__comment-bubble {
  width: 33px;
  height: 32px;
  background-position: -144px -96px;
}

.sq-icon__previous {
  width: 32px;
  height: 32px;
  background-position: -192px -96px;
}

.sq-icon__pause {
  width: 32px;
  height: 32px;
  background-position: -240px -96px;
}

.sq-icon__next {
  width: 32px;
  height: 32px;
  background-position: -288px -96px;
}

.sq-icon__heart {
  width: 39px;
  height: 32px;
  background-position: -336px -96px;
}

.sq-icon__heart-red {
  width: 39px;
  height: 32px;
  background-position: -384px -96px;
}

.sq-icon__heart-lg {
  width: 39px;
  height: 32px;
  background-position: -432px -96px;
}

.sq-icon__heart-o {
  width: 39px;
  height: 32px;
  background-position: -480px -96px;
}

.sq-icon__heart-o-lg {
  width: 39px;
  height: 32px;
  background-position: -528px -96px;
}

.sq-icon__filter-dc {
  width: 32px;
  height: 32px;
  background-position: -576px -96px;
}

.sq-icon__filter-lg {
  width: 32px;
  height: 32px;
  background-position: -624px -96px;
}

.sq-icon__filter {
  width: 32px;
  height: 32px;
  background-position: -672px -96px;
}

.sq-icon__angle-down-ca {
  width: 32px;
  height: 32px;
  background-position: -720px -96px;
}

.sq-icon__angle-up-ca {
  width: 32px;
  height: 32px;
  background-position: 0px -144px;
}

.sq-icon__angle-left-ca {
  width: 32px;
  height: 32px;
  background-position: -48px -144px;
}

.sq-icon__angle-right-ca {
  width: 32px;
  height: 32px;
  background-position: -96px -144px;
}

.sq-icon__menu-dc {
  width: 32px;
  height: 32px;
  background-position: -144px -144px;
}

.sq-icon__video-play {
  width: 32px;
  height: 32px;
  background-position: -192px -144px;
}

.sq-icon__video-play-hover {
  width: 32px;
  height: 32px;
  background-position: -240px -144px;
}

.sq-icon__ellipsis {
  width: 32px;
  height: 32px;
  background-position: -288px -144px;
}

.sq-icon__circle-right {
  width: 32px;
  height: 32px;
  background-position: -336px -144px;
}

.sq-icon__external-link {
  width: 32px;
  height: 32px;
  background-position: -384px -144px;
}

.sq-icon__external-link-white {
  width: 32px;
  height: 32px;
  background-position: -432px -144px;
}

.sq-icon__double-degree {
  width: 32px;
  height: 32px;
  background-position: -480px -144px;
}

.sq-icon__laptop {
  width: 32px;
  height: 32px;
  background-position: -528px -144px;
}

.sq-icon__shortlist-star-default {
  width: 32px;
  height: 32px;
  background-position: -576px -144px;
}

.sq-icon__shortlist-star-active {
  width: 32px;
  height: 32px;
  background-position: -624px -144px;
}

.sq-icon__dropdown {
  width: 32px;
  height: 32px;
  background-position: -672px -144px;
}

.sq-icon__phone {
  width: 32px;
  height: 32px;
  background-position: 0px -192px;
}

.sq-icon__tick {
  width: 32px;
  height: 32px;
  background-position: -48px -192px;
}

.sq-icon__shortlist-star-white-default {
  width: 32px;
  height: 32px;
  background-position: -96px -192px;
}

.sq-icon__shortlist-star-white-active {
  width: 32px;
  height: 32px;
  background-position: -144px -192px;
}

.sq-icon__arrow-right-circle-small-white {
  width: 32px;
  height: 32px;
  background-position: -192px -192px;
}

.sq-icon__arrow-right-circle-small-grey {
  width: 32px;
  height: 32px;
  background-position: -240px -192px;
}

.sq-icon__info-blue {
  width: 32px;
  height: 32px;
  background-position: -288px -192px;
}

.sq-icon__qmark-circle {
  width: 32px;
  height: 32px;
  background-position: -336px -192px;
}

.sq-icon__spreadsheet {
  width: 32px;
  height: 32px;
  background-position: -384px -192px;
}

.sq-icon__touch {
  width: 32px;
  height: 32px;
  background-position: -432px -192px;
}

.sq-icon__users-three {
  width: 32px;
  height: 32px;
  background-position: -480px -192px;
}

.sq-icon__user-message {
  width: 32px;
  height: 32px;
  background-position: -528px -192px;
}

.sq-icon__arrow-green-down {
  width: 42px;
  height: 32px;
  background-position: -576px -192px;
}

.sq-icon__arrow-green-up {
  width: 38px;
  height: 32px;
  background-position: -672px -192px;
}

.sq-icon__australia-blue {
  width: 32px;
  height: 32px;
  background-position: 0px -240px;
}

.sq-icon__australia-blue-solid {
  width: 32px;
  height: 32px;
  background-position: -48px -240px;
}

.sq-icon__business-people {
  width: 32px;
  height: 32px;
  background-position: -96px -240px;
}

.sq-icon__circle-of-trust {
  width: 32px;
  height: 32px;
  background-position: -144px -240px;
}

.sq-icon__document-pinned {
  width: 32px;
  height: 32px;
  background-position: -192px -240px;
}

.sq-icon__earth {
  width: 32px;
  height: 32px;
  background-position: -240px -240px;
}

.sq-icon__edit {
  width: 32px;
  height: 32px;
  background-position: -288px -240px;
}

.sq-icon__employability {
  width: 32px;
  height: 32px;
  background-position: -336px -240px;
}

.sq-icon__filter-and-sort {
  width: 32px;
  height: 32px;
  background-position: -384px -240px;
}

.sq-icon__folders {
  width: 32px;
  height: 32px;
  background-position: -432px -240px;
}

.sq-icon__gift {
  width: 32px;
  height: 32px;
  background-position: -480px -240px;
}

.sq-icon__globe {
  width: 32px;
  height: 32px;
  background-position: -528px -240px;
}

.sq-icon__handshake {
  width: 32px;
  height: 32px;
  background-position: -576px -240px;
}

.sq-icon__lecture {
  width: 32px;
  height: 32px;
  background-position: -624px -240px;
}

.sq-icon__magnifying-glass {
  width: 32px;
  height: 32px;
  background-position: -672px -240px;
}

.sq-icon__mail-write {
  width: 32px;
  height: 32px;
  background-position: -720px -240px;
}

.sq-icon__map-location {
  width: 32px;
  height: 32px;
  background-position: 0px -288px;
}

.sq-icon__medal {
  width: 32px;
  height: 32px;
  background-position: -48px -288px;
}

.sq-icon__messages {
  width: 32px;
  height: 32px;
  background-position: -96px -288px;
}

.sq-icon__money {
  width: 32px;
  height: 32px;
  background-position: -144px -288px;
}

.sq-icon__magazine {
  width: 32px;
  height: 32px;
  background-position: -192px -288px;
}

.sq-icon__piggy-bank {
  width: 32px;
  height: 32px;
  background-position: -240px -288px;
}

.sq-icon__question {
  width: 32px;
  height: 32px;
  background-position: -288px -288px;
}

.sq-icon__search-paper {
  width: 32px;
  height: 32px;
  background-position: -336px -288px;
}

.sq-icon__scroll {
  width: 32px;
  height: 32px;
  background-position: -384px -288px;
}

.sq-icon__users-five {
  width: 32px;
  height: 32px;
  background-position: -432px -288px;
}

.sq-icon__earth-blue-solid {
  width: 32px;
  height: 32px;
  background-position: -480px -288px;
}

.sq-icon__university {
  width: 32px;
  height: 32px;
  background-position: -528px -288px;
}

.sq-icon__users-crowd {
  width: 32px;
  height: 32px;
  background-position: -576px -288px;
}

.sq-icon__play {
  width: 32px;
  height: 32px;
  background-position: -624px -288px;
}

.sq-icon__course-new {
  width: 32px;
  height: 32px;
  background-position: -672px -288px;
}

.sq-icon__monash-logo {
  width: 109px;
  height: 32px;
  background-position: 0px -336px;
}

.sq-icon__monash-logo-shield {
  width: 30px;
  height: 32px;
  background-position: -144px -336px;
}

.sq-icon__banner-play {
  width: 80px;
  height: 80px;
  background-position: 0px -384px;
}

.sq-icon__banner-play-hover {
  width: 80px;
  height: 80px;
  background-position: -96px -384px;
}

.sq-icon__feature-placeholder {
  width: 32px;
  height: 32px;
  background-position: 0px -480px;
}

.sq-icon__emoticon-smile {
  width: 32px;
  height: 32px;
  background-position: -48px -480px;
}

.sq-icon__first-aid {
  width: 32px;
  height: 32px;
  background-position: -96px -480px;
}

.sq-icon__home-blue {
  width: 32px;
  height: 32px;
  background-position: -144px -480px;
}

.sq-icon__microscope {
  width: 32px;
  height: 32px;
  background-position: -192px -480px;
}

.sq-icon__ok {
  width: 32px;
  height: 32px;
  background-position: -240px -480px;
}

.sq-icon__passport {
  width: 32px;
  height: 32px;
  background-position: -288px -480px;
}

.sq-icon__suitcase {
  width: 32px;
  height: 32px;
  background-position: -336px -480px;
}

.sq-icon__trophy {
  width: 32px;
  height: 32px;
  background-position: -384px -480px;
}

.sq-icon__accreditation {
  width: 32px;
  height: 32px;
  background-position: -432px -480px;
}

.sq-icon__home-grey {
  width: 29px;
  height: 29px;
  background-position: -480px -480px;
}

.sq-icon__home-white {
  width: 29px;
  height: 29px;
  background-position: -528px -480px;
}

.sq-icon__bus {
  width: 32px;
  height: 32px;
  background-position: -576px -480px;
}

.sq-icon__camera-blue-icon {
  width: 32px;
  height: 32px;
  background-position: -624px -480px;
}

.sq-icon__car {
  width: 32px;
  height: 32px;
  background-position: -672px -480px;
}

.sq-icon__discovery-blue-icon {
  width: 32px;
  height: 32px;
  background-position: -720px -480px;
}

.sq-icon__electricity {
  width: 32px;
  height: 32px;
  background-position: 0px -528px;
}

.sq-icon__heart-blue {
  width: 32px;
  height: 32px;
  background-position: -48px -528px;
}

.sq-icon__history-blue-icon {
  width: 32px;
  height: 32px;
  background-position: -96px -528px;
}

.sq-icon__idea-blue-icon {
  width: 32px;
  height: 32px;
  background-position: -144px -528px;
}

.sq-icon__media-blue-icon {
  width: 32px;
  height: 32px;
  background-position: -192px -528px;
}

.sq-icon__mobile-phone-blue-icon {
  width: 32px;
  height: 32px;
  background-position: -240px -528px;
}

.sq-icon__mortar-board {
  width: 32px;
  height: 32px;
  background-position: -288px -528px;
}

.sq-icon__nature-blue-icon {
  width: 32px;
  height: 32px;
  background-position: -336px -528px;
}

.sq-icon__photo-blue-icon {
  width: 32px;
  height: 32px;
  background-position: -384px -528px;
}

.sq-icon__pin-drop {
  width: 32px;
  height: 32px;
  background-position: -432px -528px;
}

.sq-icon__rankings-blue-icon {
  width: 32px;
  height: 32px;
  background-position: -480px -528px;
}

.sq-icon__support-blue-icon {
  width: 32px;
  height: 32px;
  background-position: -528px -528px;
}

.sq-icon__survey-blue-icon {
  width: 32px;
  height: 32px;
  background-position: -576px -528px;
}

.sq-icon__sustainability-blue-icon {
  width: 32px;
  height: 32px;
  background-position: -624px -528px;
}

.sq-icon__icon-tap {
  width: 32px;
  height: 32px;
  background-position: -672px -528px;
}

/* Module: S */
.sq-calendar-date-table.start {
  flex-basis: auto;
}

.sq-calendar-date-table.start .sq-backend-data {
  display: inline-block;
  white-space: nowrap;
}

.sq-calendar-date-table.start .sq-backend-data:nth-child(2) {
  padding-left: 2.0625rem;
}

.sq-calendar-date-table.start tr {
  display: flex;
  flex-direction: column;
}

.sq-calendar-date-table.end tbody {
  display: flex;
  flex-direction: column;
}

.sq-calendar-date-table.end tr:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}

.sq-calendar-date-table.end tr:nth-child(2) td:first-child {
  display: none;
}

.sq-calendar-date-table.end tr:nth-child(2) td:nth-child(2) {
  padding-left: 0;
  padding-right: 0.0625rem;
  width: 4rem;
}

.sq-calendar-date-table.end tr:nth-child(2) td:nth-child(3) {
  flex-basis: 100%;
  padding-left: 0;
}

.sq-calendar-date-table.end tr:nth-child(2) td:last-child {
  flex-basis: 100%;
}
