<h3 id="tabs">Tabs</h3>
<div class="tabs mobile-hidden">
  <ul class="tabs__tab-list">
    <li class="tabs__item">
      <a href="#tabs__target-1" class="tabs__link">Tab 1</a>
    </li>
    <li class="tabs__item">
      <a href="#tabs__target-2" class="tabs__link">Tab 2</a>
    </li>
    <li class="tabs__item">
      <a href="#tabs__target-3" class="tabs__link">Tab 3</a>
    </li>
    <li class="tabs__item">
      <a href="#tabs__target-4" class="tabs__link">Tab 4</a>
    </li>
  </ul>
  <div class="tabs__tab-content">
    <div class="tabs__target" id="tabs__target-1" data-name="Tab 1">
      <p>
        Lorem ipsum Laboris deserunt quis aliquip tempor est ad nostrud
        incididunt Excepteur ut sit id Ut esse est velit ea velit elit voluptate
        sit sit voluptate irure mollit commodo occaecat in qui culpa id ullamco
        adipisicing non fugiat Ut ullamco fugiat aute officia tempor proident ut
        ad non officia fugiat culpa nisi non in qui enim in est in in quis et
        sunt adipisicing elit sunt nisi in quis labore
      </p>
      <h4>Tabs within tabs</h4>
      <div class="tabs">
        <ul class="tabs__tab-list">
          <li class="tabs__item">
            <a href="#tabtab1" class="tabs__link">Inner tab 1</a>
          </li>
          <li class="tabs__item">
            <a href="#tabtab2" class="tabs__link">Inner tab 2</a>
          </li>
          <li class="tabs__item">
            <a href="#tabtab3" class="tabs__link">Inner tab 3</a>
          </li>
        </ul>
        <div class="tabs__tab-content">
          <div class="tabs__target" id="tabtab1" data-name="Inner tab 1">
            <p>
              Pellentesque habitant morbi tristique senectus et netus et
              malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat
              vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
              amet quam egestas semper. Aenean ultricies mi vitae est. Mauris
              placerat eleifend leo. Quisque sit amet est et sapien ullamcorper
              pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae,
              ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
              condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac
              dui.
            </p>
          </div>
          <div class="tabs__target" id="tabtab2" data-name="Inner tab 2">
            <p><img src="https://unsplash.it/1140/704/?random" /></p>
          </div>
          <div class="tabs__target" id="tabtab3" data-name="Inner tab 3">
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
              <li>Aliquam tincidunt mauris eu risus.</li>
              <li>Vestibulum auctor dapibus neque.</li>
              <li>Ut enim ad minim veniam</li>
              <li>Duis aute irure dolor in reprehenderit</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs__target" id="tabs__target-2" data-name="Tab 2">
      <p>
        Lorem ipsum Culpa aliquip dolor aliquip laboris Ut ea laboris consequat
        sit incididunt proident proident voluptate est elit labore Ut id cillum
        et irure.
      </p>
    </div>
    <div class="tabs__target" id="tabs__target-3" data-name="Tab 3">
      <p>
        Lorem ipsum Laboris deserunt quis aliquip tempor est ad nostrud
        incididunt Excepteur ut sit id Ut esse est velit ea velit elit voluptate
        sit sit voluptate irure mollit commodo occaecat in qui culpa id ullamco
        adipisicing non fugiat Ut ullamco fugiat aute officia tempor proident ut
        ad non officia fugiat culpa nisi non in qui enim in est in in quis et
        sunt adipisicing elit sunt nisi in quis labore
      </p>
    </div>
    <div class="tabs__target" id="tabs__target-4" data-name="Tab 4">
      <p>
        Lorem ipsum Culpa aliquip dolor aliquip laboris Ut ea laboris consequat
        sit incididunt proident proident voluptate est elit labore Ut id cillum
        et irure.
      </p>
    </div>
  </div>
</div>
