<div
  id="New_Content_Container_760212-760212"
  class="row box-featured__group top-gap--standard bottom-gap--standard box-featured__horizontal"
>
  <!-- Feature Box 1: Show -->

  <!-- Feature Box 1 Type: Content (Single) -->
  <!--Custom-->
  <div class="col-xs-12 col-md-12 box-featured__wrapper">
    <div class="box-featured">
      <div class="col-md-3">
        <a
          href="https://www.monash.edu/policy-bank/policies-and-procedures"
          class="box-featured__thumb-link"
          ><img
            src="https://www.monash.edu/__data/assets/image/0009/976527/varieties/feature.box.jpg"
            alt=""
            class="box-featured__thumb-image"
        /></a>
      </div>
      <div class="col-md-9">
        <div class="box-featured__blurb">
          <h2 class="box-featured__heading">
            <a
              href="https://www.monash.edu/policy-bank/policies-and-procedures"
              class="box-featured__heading-link"
              >Policies and Procedures</a
            >
          </h2>
          <p class="box-featured__description">
            Browse Monash's policies, procedures and schedules.
          </p>
          <!-- /.box-featured__blurb -->
        </div>
        <div class="box-featured__cta-wrapper">
          <a
            href="https://www.monash.edu/policy-bank/policies-and-procedures"
            class="btn btn--dynamic btn--blue box-featured__cta-link"
            >Browse</a
          >
        </div>
      </div>
      <!-- /.box-featured -->
    </div>
    <!-- /.box-featured__wrapper -->
  </div>

  <!-- selection content-single -->
  <!-- Feature Box 2: Show -->

  <!-- Feature Box 2 Type: Content (Single) -->
  <!--Custom-->
  <div class="col-xs-12 col-md-12 box-featured__wrapper">
    <div class="box-featured">
      <div class="col-md-3">
        <a
          href="https://www.monash.edu/policy-bank/policy-development"
          class="box-featured__thumb-link"
          ><img
            src="https://www.monash.edu/__data/assets/image/0008/959516/hargrave-andrew-library-approaching-students-2005.jpg"
            alt=""
            class="box-featured__thumb-image"
        /></a>
    </div>
        <div class="box-featured__blurb col-md-9">
          <h2 class="box-featured__heading">
            <a
              href="https://www.monash.edu/policy-bank/policy-development"
              class="box-featured__heading-link"
              >Policy Development</a
            >
          </h2>
          <p class="box-featured__description">
            Monash provides templates for the development and review of all
            policies, procedures and schedules that are maintained in the Policy
            Bank.
          </p>
          <!-- /.box-featured__blurb -->
        </div>
        <!-- /.box-featured -->
      </div>
      <!-- /.box-featured__wrapper -->
    </div>

    <!-- selection content-single -->
    <!-- Feature Box 3: Show -->

    <!-- Feature Box 3 Type: Content (Single) -->
    <!--Custom-->
    <div class="col-xs-12 col-md-12 box-featured__wrapper">
      <div class="box-featured">
        <a
          href="https://www.monash.edu/policy-bank/policy-framework"
          class="box-featured__thumb-link"
          ><img
            src="https://www.monash.edu/__data/assets/image/0005/1313699/varieties/feature.box.jpg"
            alt="Learning and Teaching Building ground level social area sunken lounge"
            class="box-featured__thumb-image"
        /></a>
        <div class="box-featured__blurb">
          <h2 class="box-featured__heading">
            <a
              href="https://www.monash.edu/policy-bank/policy-framework"
              class="box-featured__heading-link"
              >Policy Framework</a
            >
          </h2>
          <p class="box-featured__description">
            The Monash Policy Framework supports the developing and maintenance
            of the suite of Monash policies, procedures and schedules.
          </p>
          <!-- /.box-featured__blurb -->
        </div>
        <!-- /.box-featured -->
      </div>
      <!-- /.box-featured__wrapper -->
    </div>

    <!-- selection content-single -->
    <!-- /.box-featured__group -->
  </div>
</div>
