<div class="box-featured__horizontal">
  <a
    href="https://www.monash.edu/policy-bank/redesign/feature-boxes-horizontal"
    class="box-featured__linkshadow"
  >
    <div class="box-featured__thumb-image">
      <img
        src="https://www.monash.edu/__data/assets/image/0007/959533/clayton-campus-new-horizons-building-exterior-research-way-entrance-2014.jpg"
        alt=""
      />
    </div>
    <div class="box-featured__blurb">
      <h3 class="color-base-monash-blue">
        Lorem ipsum dolor sit amet, consectetur adipiscing elitaet
      </h3>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
        abillo inventore veritatis et quasi architecto beatae
      </p>
    </div>
  </a>
</div>
<div class="box-featured__horizontal">
  <a
    href="https://www.monash.edu/policy-bank/redesign/feature-boxes-horizontal"
    class="box-featured__linkshadow"
  >
    <div class="box-featured__thumb-image">
      <img
        src="https://www.monash.edu/__data/assets/image/0007/959533/clayton-campus-new-horizons-building-exterior-research-way-entrance-2014.jpg"
        alt=""
      />
    </div>
    <div class="box-featured__blurb">
      <h3 class="color-base-monash-blue">
        Lorem ipsum dolor sit amet, consectetur adipiscing elitaet
      </h3>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
        abillo inventore veritatis et quasi architecto beatae
      </p>
    </div>
  </a>
</div>
