<div class="jumbotron jumbotron-fluid search-global__banner">
    <div class="content-wrapper">
        <strong class="h1 text-center">Search Monash University</strong>
        <form action="{{file_dest}}/search.html" method="GET">
            <input type="hidden" name="collection" value="monash-main-search">

            <input type="hidden" name="f.Tabs|AllDocumentsFill" value="All results">
            <div class="input-group">
                <div class="input-group-addon search-global__icon-search">
                    <img src="{{file_dest}}/icon-search.svg" alt="">
                    <span class="sr-only">
                            Icon search
                        </span>
                </div>
                <span class="twitter-typeahead" style="position: relative; display: inline-block;" >
                    <input required="" name="main-query" id="main-query" title="Search query" type="search" accesskey="q" class="form-control input-lg query tt-input" autocomplete="on" spellcheck="false" dir="auto" style="position: relative; vertical-align: top;">
                    <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: sans-serif; font-size: 32px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;">science</pre>
                    <div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;">
                    <div class="tt-dataset tt-dataset-organic" style="width: 50%;">
                        <h5 class="tt-category">Suggestions</h5>
                        <div class="tt-suggestion tt-selectable">
                            <strong class="tt-highlight">science</strong>
                        </div>
                        <div class="tt-suggestion tt-selectable">
                            <strong class="tt-highlight">science</strong>
                            author connect
                        </div>
                        <div class="tt-suggestion tt-selectable">
                            <strong class="tt-highlight">science</strong>
                            s product training
                        </div>
                        <div class="tt-suggestion tt-selectable">
                            <strong class="tt-highlight">science</strong>
                            s training overview
                        </div>
                        <div class="tt-suggestion tt-selectable">
                            <strong class="tt-highlight">science</strong>
                        </div>
                        <div class="tt-suggestion tt-selectable">
                            <strong class="tt-highlight">science</strong>
                            s
                        </div>
                        <div class="tt-suggestion tt-selectable">
                            <strong class="tt-highlight">science</strong>
                            s at monash health home
                        </div>
                        <div class="tt-suggestion tt-selectable">
                            <strong class="tt-highlight">science</strong>
                            home
                        </div>
                        <div class="tt-suggestion tt-selectable">
                            <strong class="tt-highlight">science</strong>
                            direct com
                        </div>
                        <div class="tt-suggestion tt-selectable">
                            <strong class="tt-highlight">science</strong>
                            s at monash health
                        </div>
                    </div>
                    <div class="tt-dataset tt-dataset-courses" style="width: 50%;">
                        <h5 class="tt-category">Courses</h5>
                        <div class="tt-suggestion tt-selectable">
                            <h6>Biomedical <strong class="tt-highlight">Science</strong> Advanced</h6>
                            <div class="details">
                                Undergraduate single degrees
                            </div>
                        </div>
                        <div class="tt-suggestion tt-selectable">
                            <h6>Biomedical <strong class="tt-highlight">Science</strong></h6>
                            <div class="details">
                                Honours year
                            </div>
                        </div>
                        <div class="tt-suggestion tt-selectable">
                            <h6>Biomedical <strong class="tt-highlight">Science</strong></h6>
                            <div class="details">
                                Research degrees
                            </div>
                        </div>
                        <div class="tt-suggestion tt-selectable">
                            <h6>Biomedical and Health <strong class="tt-highlight">Science</strong></h6>
                            <div class="details">
                                Graduate coursework
                            </div>
                        </div>
                        <div class="tt-suggestion tt-selectable">
                            <h6>Biomedical <strong class="tt-highlight">Science</strong></h6>
                            <div class="details">
                                Undergraduate single degrees
                            </div>
                        </div>
                    </div>
                    <div class="tt-dataset tt-dataset-research" style="width: 50%;">
                        <h5 class="tt-category">Research</h5>
                        <div class="media tt-suggestion tt-selectable">
                                <span class="media-svg" aria-hidden="true">
                                    <img src="{{file_dest}}/icon-book.svg" alt="">
                                </span>
                            <div class="media-body">
                                <h6>How should <strong class="tt-highlight">science</strong> be taught to nurses? Preferences of registered nurses and <strong class="tt-highlight">science</strong> teaching academics</h6>
                                <div>
                                </div>
                                <div class="details text-muted"></div>
                            </div>
                        </div>
                        <div class="media tt-suggestion tt-selectable">
                                <span class="media-svg" aria-hidden="true">
                                    <img src="{{file_dest}}/icon-book.svg" alt="">
                                </span>
                            <div class="media-body">
                                <h6>Resources for a journey of hope:: Raymond Williams on utopia and <strong class="tt-highlight">science</strong> fiction</h6>
                                <div></div>
                                <div class="details text-muted"></div>
                            </div>
                        </div>
                        <div class="media tt-suggestion tt-selectable">
                                <span class="media-svg" aria-hidden="true">
                                    <img src="{{file_dest}}/icon-book.svg" alt="">
                                </span>
                            <div class="media-body">
                                <h6>Young Children’s Development of Scientific Knowledge Through the Combination of Teacher-Guided Play and Child-Guided Play</h6>
                                <div></div>
                                <div class="details text-muted"></div>
                            </div>
                        </div>
                        <div class="media tt-suggestion tt-selectable">
                                <span class="media-svg" aria-hidden="true">
                                    <img src="{{file_dest}}/icon-book.svg" alt="">
                                </span>
                            <div class="media-body">
                                <h6>Introduction to the special issue on <strong class="tt-highlight">science</strong> fiction</h6>
                                <div></div>
                                <div class="details text-muted"></div>
                            </div>
                        </div>
                        <div class="media tt-suggestion tt-selectable">
                            <img class="d-flex mr-3 picture" src="//research.monash.edu/files-asset/8167153/f1615.jpg.png" alt="Richard Gunstone">
                            <div class="media-body">
                                <h6 class="tt-suggestion__title">Richard Gunstone</h6>
                                <div></div>
                                <div class="details text-muted">
                                    <div><small>
                                        <span class="details-svg" aria-hidden="true">
                                            <img src="{{file_dest}}/icon-education.svg" alt="">
                                        </span> Education Clayton</small></div>

                                    <div><small>
                                        <span class="details-svg" aria-hidden="true">
                                            <img src="{{file_dest}}/icon-envelope.svg" alt="">
                                        </span> Richard.Gunstone@monash.edu</small></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </span>
                <div class="input-group-addon">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>

            <ul class="float-right list-inline"></ul>
        </form>
    </div>
</div>