<!-- Inventory of available variations for buttons and button-styled elements -->
<!-- See "form-elements" module for file input "button" -->

<button type="button" class="btn">Button</button>
<button type="button" class="btn btn--regular">Button Regular</button>
<button type="button" class="btn btn--regular btn--blue">Button Regular Blue</button>
<button type="button" class="btn btn--regular btn--grey">Button Regular Grey</button>
<button type="button" class="btn btn--dynamic">Button Dynamic</button>
<button type="button" class="btn btn--dynamic btn--blue">Button Dynamic Blue</button>
<button type="button" class="btn btn--dynamic btn--grey">Button Dynamic Grey</button>
<a href="http://www.monash.edu#zz-button-link" class="btn btn__link">Button Link</a>
<a href="http://www.monash.edu#zz-button-link-regular" class="btn btn--regular btn__link">Button Link Regular</a>
<a href="http://www.monash.edu#zz-button-link-regular-blue" class="btn btn--regular btn--blue btn__link">Button Link Regular Blue</a>
<a href="http://www.monash.edu#zz-button-link-regular-grey" class="btn btn--regular btn--grey btn__link">Button Link Regular Grey</a>
<a href="http://www.monash.edu#zz-button-link-dynamic" class="btn btn--dynamic btn__link">Button Link Dynamic</a>
<a href="http://www.monash.edu#zz-button-link-dynamic-blue" class="btn btn--dynamic btn--blue btn__link">Button Link Dynamic Blue</a>
<a href="http://www.monash.edu#zz-button-link-dynamic-grey" class="btn btn--dynamic btn--grey btn__link">Button Link Dynamic Grey</a>
