<div class="content-wrapper">
    <h2>Buttons</h2>
    <button type="button" class="btn">Button</button>
    <button type="button" class="btn btn--grey">Button</button>
    <button type="button" class="btn btn--blue">Button</button>
    <a href="http://www.monash.edu#zz-button-link-dynamic-blue" class="btn btn--blue btn__link">Button Link Blue</a>
    <a href="http://www.monash.edu#zz-button-link-dynamic-grey" class="btn btn--grey btn__link">Button Link Grey</a>

    <p class="button"><a href="#">Button inside paragraph</a></p>

    <h2>Call to action</h2>
     <!-- import:content source:modules/call-to-action/html/home.html -->
</div>
