<div class="content-wrapper">
    <h2>Landing News Events</h2>
    <!-- import:content source:modules/intro-text/html/landing-news-events.html -->
    <h2>Landing</h2>
    <!-- import:content source:modules/intro-text/html/landing.html -->
    <h2>Study Landing</h2>
    <!-- import:content source:modules/intro-text/html/study--landing.html -->
</div>
