<div class="intro-text top-gap--standard bottom-gap--standard">
    <div class="content-wrapper">
        <h2>Monash Alumni - A global community</h2>
        <p class="introduction">The benefits of studying at Monash continue long after you graduate</p>
    </div>
</div>
