<div class="intro-text top-gap--standard bottom-gap--standard bg-light-grey">
    <div class="content-wrapper">
        <h2>Latest news and upcoming events</h2>
        <p class="introduction">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et nibh non nibh scelerisque lobortis. Sed ut luctus ligula.</p>
    </div>
<!-- /.intro-text --></div>
