<div id="call-to-action-home" class="call-to-action__container bg-white">
    <div class="call-to-action__group page-wrapper row center-md top-gap--standard bottom-gap--standard">
        <div class="col-xs-6 col-md-5 call-to-action__wrapper">
            <a href="http://www.monash.edu#zz-cta-default" class="call-to-action user-def-palette--bg-monash-blue user-def-palette--text-white">
                <span class="call-to-action__description">
                <span class="call-to-action__heading">Change your mind.</span>
                <span class="call-to-action__subheading">Study at Monash.</span>
                <!-- /.call-to-action__description -->
                </span>
                <span class="call-to-action__action">Apply now<span class="visuallyhidden">.</span></span>
            </a>
            <!-- /.call-to-action__wrapper -->
        </div>
        <div class="col-xs-6 col-md-5 call-to-action__wrapper">
            <a href="http://www.monash.edu#zz-cta-grey" class="call-to-action user-def-palette--bg-aa-charcoal user-def-palette--text-white">
                <span class="call-to-action__description">
                <span class="call-to-action__heading">Change the world.</span>
                <span class="call-to-action__subheading">Research at Monash.</span>
                <!-- /.call-to-action__description -->
                </span>
                <span class="call-to-action__action user-def-palette--bg-monash-blue user-def-palette--text-white">Apply now<span class="visuallyhidden">.</span></span>
            </a>
        </div>
        <!-- /.call-to-action__wrapper -->
    </div>
</div>
<!-- /.call-to-action__group -->
