<!-- Inventory of available variations for call to action links -->

<div id="call-to-action-inventory" class="row center-md call-to-action__group">
    <!-- Default CTA styles, default action styles -->
    <div class="col-xs-6 col-md-5 call-to-action__wrapper">
        <a href="http://www.monash.edu#zz-cta-default" class="call-to-action">
            <span class="call-to-action__description">
                <span class="call-to-action__heading">Default styles.</span>
                <span class="call-to-action__subheading">No user colours.</span>
            <!-- /.call-to-action__description --></span>
            <span class="call-to-action__action">Apply now<span class="visuallyhidden">.</span></span>
        </a>
    <!-- /.call-to-action__wrapper --></div>
    <!-- CTA charcoal text, default action styles -->
    <div class="col-xs-6 col-md-5 call-to-action__wrapper">
        <a href="http://www.monash.edu#zz-cta-default" class="call-to-action user-def-palette--text-aa-charcoal">
            <span class="call-to-action__description">
                <span class="call-to-action__heading">Charcoal on white CTA.</span>
                <span class="call-to-action__subheading">Text only.</span>
            <!-- /.call-to-action__description --></span>
            <span class="call-to-action__action">Apply now<span class="visuallyhidden">.</span></span>
        </a>
    <!-- /.call-to-action__wrapper --></div>
    <!-- CTA Monash blue BG, CTA white text, default action styles -->
    <div class="col-xs-6 col-md-5 call-to-action__wrapper">
        <a href="http://www.monash.edu#zz-cta-default" class="call-to-action user-def-palette--bg-monash-blue user-def-palette--text-white">
            <span class="call-to-action__description">
                <span class="call-to-action__heading">White on Blue CTA.</span>
                <span class="call-to-action__subheading">Background and text.</span>
            <!-- /.call-to-action__description --></span>
            <span class="call-to-action__action">Apply now<span class="visuallyhidden">.</span></span>
        </a>
    <!-- /.call-to-action__wrapper --></div>
    <!-- CTA umber BG, CTA white text, default action styles -->
    <div class="col-xs-6 col-md-5 call-to-action__wrapper">
        <a href="http://www.monash.edu#zz-cta-default" class="call-to-action user-def-palette--bg-aa-umber user-def-palette--text-white">
            <span class="call-to-action__description">
                <span class="call-to-action__heading">White on Brown CTA.</span>
                <span class="call-to-action__subheading">Background and text.</span>
            <!-- /.call-to-action__description --></span>
            <span class="call-to-action__action">Apply now<span class="visuallyhidden">.</span></span>
        </a>
    <!-- /.call-to-action__wrapper --></div>
    <!-- CTA fuchsia BG, CTA white text, default action styles -->
    <div class="col-xs-6 col-md-5 call-to-action__wrapper">
        <a href="http://www.monash.edu#zz-cta-default" class="call-to-action user-def-palette--bg-aa-fuchsia user-def-palette--text-white">
            <span class="call-to-action__description">
                <span class="call-to-action__heading">White on Cerise CTA.</span>
                <span class="call-to-action__subheading">Background and text.</span>
            <!-- /.call-to-action__description --></span>
            <span class="call-to-action__action">Apply now<span class="visuallyhidden">.</span></span>
        </a>
    <!-- /.call-to-action__wrapper --></div>
    <!-- CTA charcoal BG, CTA white text, default action styles -->
    <div class="col-xs-6 col-md-5 call-to-action__wrapper">
        <a href="http://www.monash.edu#zz-cta-default" class="call-to-action user-def-palette--bg-aa-charcoal user-def-palette--text-white">
            <span class="call-to-action__description">
                <span class="call-to-action__heading">White on Dark Charcoal CTA.</span>
                <span class="call-to-action__subheading">Background and text.</span>
            <!-- /.call-to-action__description --></span>
            <span class="call-to-action__action">Apply now<span class="visuallyhidden">.</span></span>
        </a>
    <!-- /.call-to-action__wrapper --></div>
    <!-- CTA green charcoal BG, CTA white text, default action styles -->
    <div class="col-xs-6 col-md-5 call-to-action__wrapper">
        <a href="http://www.monash.edu#zz-cta-default" class="call-to-action user-def-palette--bg-aa-green user-def-palette--text-white">
            <span class="call-to-action__description">
                <span class="call-to-action__heading">White on Green CTA.</span>
                <span class="call-to-action__subheading">Background and text.</span>
            <!-- /.call-to-action__description --></span>
            <span class="call-to-action__action">Apply now<span class="visuallyhidden">.</span></span>
        </a>
    <!-- /.call-to-action__wrapper --></div>
    <!-- CTA olive BG, CTA white text, default action styles -->
    <div class="col-xs-6 col-md-5 call-to-action__wrapper">
        <a href="http://www.monash.edu#zz-cta-default" class="call-to-action user-def-palette--bg-aa-olive user-def-palette--text-white">
            <span class="call-to-action__description">
                <span class="call-to-action__heading">White on Khaki CTA.</span>
                <span class="call-to-action__subheading">Background and text.</span>
            <!-- /.call-to-action__description --></span>
            <span class="call-to-action__action">Apply now<span class="visuallyhidden">.</span></span>
        </a>
    <!-- /.call-to-action__wrapper --></div>
    <!-- CTA blue BG, CTA white text, default action styles -->
    <div class="col-xs-6 col-md-5 call-to-action__wrapper">
        <a href="http://www.monash.edu#zz-cta-default" class="call-to-action user-def-palette--bg-aa-blue user-def-palette--text-white">
            <span class="call-to-action__description">
                <span class="call-to-action__heading">White on Light Blue CTA.</span>
                <span class="call-to-action__subheading">Background and text.</span>
            <!-- /.call-to-action__description --></span>
            <span class="call-to-action__action">Apply now<span class="visuallyhidden">.</span></span>
        </a>
    <!-- /.call-to-action__wrapper --></div>
    <!-- CTA charcoal BG, CTA white text, default action styles -->
    <div class="col-xs-6 col-md-5 call-to-action__wrapper">
        <a href="http://www.monash.edu#zz-cta-grey" class="call-to-action user-def-palette--bg-aa-charcoal user-def-palette--text-white">
            <span class="call-to-action__description">
                <span class="call-to-action__heading">White on Light Charcoal CTA.</span>
                <span class="call-to-action__subheading">Background and text.</span>
            <!-- /.call-to-action__description --></span>
            <span class="call-to-action__action">Apply now<span class="visuallyhidden">.</span></span>
        </a>
    <!-- /.call-to-action__wrapper --></div>
    <!-- CTA ruby BG, CTA white text, default action styles -->
    <div class="col-xs-6 col-md-5 call-to-action__wrapper">
        <a href="http://www.monash.edu#zz-cta-default" class="call-to-action user-def-palette--bg-aa-ruby user-def-palette--text-white">
            <span class="call-to-action__description">
                <span class="call-to-action__heading">White on Magenta CTA.</span>
                <span class="call-to-action__subheading">Background and text.</span>
            <!-- /.call-to-action__description --></span>
            <span class="call-to-action__action">Apply now<span class="visuallyhidden">.</span></span>
        </a>
    <!-- /.call-to-action__wrapper --></div>
    <!-- CTA orange BG, CTA white text, default action styles -->
    <div class="col-xs-6 col-md-5 call-to-action__wrapper">
        <a href="http://www.monash.edu#zz-cta-default" class="call-to-action user-def-palette--bg-aa-orange user-def-palette--text-white">
            <span class="call-to-action__description">
                <span class="call-to-action__heading">White on Orange CTA.</span>
                <span class="call-to-action__subheading">Background and text.</span>
            <!-- /.call-to-action__description --></span>
            <span class="call-to-action__action">Apply now<span class="visuallyhidden">.</span></span>
        </a>
    <!-- /.call-to-action__wrapper --></div>
    <!-- CTA fuchsia BG, CTA white text, default action styles -->
    <div class="col-xs-6 col-md-5 call-to-action__wrapper">
        <a href="http://www.monash.edu#zz-cta-default" class="call-to-action user-def-palette--bg-aa-fuchsia user-def-palette--text-white">
            <span class="call-to-action__description">
                <span class="call-to-action__heading">White on Pink CTA.</span>
                <span class="call-to-action__subheading">Background and text.</span>
            <!-- /.call-to-action__description --></span>
            <span class="call-to-action__action">Apply now<span class="visuallyhidden">.</span></span>
        </a>
    <!-- /.call-to-action__wrapper --></div>
    <!-- CTA purple BG, CTA white text, default action styles -->
    <div class="col-xs-6 col-md-5 call-to-action__wrapper">
        <a href="http://www.monash.edu#zz-cta-default" class="call-to-action user-def-palette--bg-aa-purple user-def-palette--text-white">
            <span class="call-to-action__description">
                <span class="call-to-action__heading">White on Purple CTA.</span>
                <span class="call-to-action__subheading">Background and text.</span>
            <!-- /.call-to-action__description --></span>
            <span class="call-to-action__action">Apply now<span class="visuallyhidden">.</span></span>
        </a>
    <!-- /.call-to-action__wrapper --></div>
    <!-- CTA default, action charcoal text -->
    <div class="col-xs-6 col-md-5 call-to-action__wrapper">
        <a href="http://www.monash.edu#zz-cta-default" class="call-to-action user-def-palette--text-aa-charcoal">
            <span class="call-to-action__description">
                <span class="call-to-action__heading">Charcoal on White BTN.</span>
                <span class="call-to-action__subheading">Button text.</span>
            <!-- /.call-to-action__description --></span>
            <span class="call-to-action__action user-def-palette--text-aa-charcoal">Apply now<span class="visuallyhidden">.</span></span>
        </a>
    <!-- /.call-to-action__wrapper --></div>
    <!-- CTA default, action Monash blue BG, action white text -->
    <div class="col-xs-6 col-md-5 call-to-action__wrapper">
        <a href="http://www.monash.edu#zz-cta-default" class="call-to-action user-def-palette--text-aa-charcoal">
            <span class="call-to-action__description">
                <span class="call-to-action__heading">White on Blue BTN.</span>
                <span class="call-to-action__subheading">Button BG and text.</span>
            <!-- /.call-to-action__description --></span>
            <span class="call-to-action__action user-def-palette--bg-monash-blue user-def-palette--text-white">Apply now<span class="visuallyhidden">.</span></span>
        </a>
    <!-- /.call-to-action__wrapper --></div>
<!-- /.call-to-action__group --></div>
