<div class="header-row__items">
    <div class="header-row__logo-wrapper mobile-hidden">
        <a href="/" class="header-row__logo-link" id="header-logo-qa"><img class="header-row__logo-img" src="{{file_dest}}/monash-logo-mono.svg" alt="Monash logo"/></a>
    </div>
    <div id="site-heading-desktop" class="header-row__site-title mobile-hidden">
        <div class="site-title__sub"><a href="#" class="site-title__sub-link"><span class="site-title__sub-link-arrow">&lt;</span> Faculty of Medicine</a></div>
        <div class="site-title__main">Nursing and Health Sciences</div>
    </div>
</div>
