<div class="header-row__utility-navigation" id="utility-links-qa">
    <ul class="utility-navigation-list">
        <li class="utility-navigation-list__item mobile-hidden"><a href="https://my.monash.edu.au" class="utility-navigation-list__link">my.monash</a></li>
        <li class="utility-navigation-list__item mobile-hidden"><a href="http://www.monash.edu/students" class="utility-navigation-list__link">Current students</a></li>
        <li class="utility-navigation-list__item mobile-hidden"><a href="http://www.monash.edu/people" class="utility-navigation-list__link">Staff</a></li>
        <li class="utility-navigation-list__item mobile-hidden"><a href="http://www.monash.edu/library" class="utility-navigation-list__link">Library</a></li>
        <li class="utility-navigation-list__item mobile-hidden"><a href="https://www.monash.edu/giving" class="utility-navigation-list__link">Giving to Monash</a></li>
    </ul>
</div>
