<div class="header-row__items">
    <div class="header-row__logo-wrapper mobile-hidden">
                            <a href="http://www.monash.edu" id="header-logo-desktop" class="header-row__logo-link"><img src="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/monash-logo-mono.svg" class="header-row__logo-img" alt="Monash University"></a>
                        <!-- /.header-row__logo-wrapper --></div>
</div>


