<div class="header-row__logo-wrapper desktop-hidden">
	<a href="/" class="header-row__logo-link"><img class="header-row__logo-img" src="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/monash-logo-mono.svg" alt="Monash logo" /></a>
</div>
