<nav id="main-navigation" role="navigation" class="navbar">
    <button class="navbar__toggle" aria-controls="navbar__dropdown">
        Menu
    </button>
    <div id="navbar__dropdown" class="navbar__dropdown" aria-expanded="false" role="region">
        <!--@@ Level 1 @@-->
        <ul class="navbar__list navbar__list--home desktop-hidden">
            <li class="navbar__item"><span class="navbar__item-logo-mobile"></span></li>
            <li class="navbar__item"><a href="http://www.monash.edu#zz-main-nav-home" class="navbar__item-lbl"><span class="navbar__item-text">Home</span></a></li>
        </ul>
        <ul class="navbar__list flex-wrapper">
            <li class="navbar__item home icon">
                <a href="http://www.monash.edu" class="navbar__item-lbl"><span class="navbar__item-text home-icon">Home</span></a>
            </li>
            <li class="navbar__item">
                <a href="http://www.monash.edu#zz-main-nav-0101" class="navbar__item-lbl"><span class="navbar__item-text">About Us</span></a>
            </li>
            <li class="navbar__item">
                <a href="http://www.monash.edu#zz-main-nav-0102" class="navbar__item-lbl"><span class="navbar__item-text">Study at Monash</span></a>
            </li>

            <li class="navbar__item">
                <a href="http://www.monash.edu#zz-main-nav-0107" class="navbar__item-lbl"><span class="navbar__item-text">Alumni</span></a>
            </li>
        </ul>
    <!-- /.navbar__dropdown --></div>
</nav>
