<nav id="main-navigation" role="navigation" class="navbar">
    <button class="navbar__toggle" aria-controls="navbar__dropdown">
        Menu
    </button>
    <div id="navbar__dropdown" class="navbar__dropdown" aria-expanded="false" role="region">
        <!--@@ Level 1 @@-->
        <ul class="navbar__list navbar__list--home desktop-hidden">
            <li class="navbar__item"><span class="navbar__item-logo-mobile"></span></li>
            <li class="navbar__item"><a href="http://www.monash.edu#zz-main-nav-home" class="navbar__item-lbl"><span class="navbar__item-text">Home 2</span></a></li>
        </ul>
        <ul class="navbar__list flex-wrapper">
            <li class="navbar__item home icon">
                <a href="http://www.monash.edu" class="navbar__item-lbl"><span class="navbar__item-text home-icon">Home 2</span></a>
            </li>
            <li class="navbar__item">
                <a href="http://www.monash.edu#zz-main-nav-0101" class="navbar__item-lbl"><span class="navbar__item-text">About Us</span></a>
            </li>
            <li class="navbar__item">
                <a href="http://www.monash.edu#zz-main-nav-0102" class="navbar__item-lbl"><span class="navbar__item-text">Study</span></a>
                <div class="sub-nav sub-mega-nav">
                    <div class="sub-nav__wrapper">
                        <div class="wrapper__item">
                            <h4>Study at Monash</h4>
                            <p>Our global reputation ensures you are recognised for your skills and talent &#8212; no matter where in the world you choose to pursue your dreams. Visit <a href="http://www.study.monash">Study at Monash</a> to learn more.</p>
                        </div>
                        <div class="wrapper__item">
                            <!--@@ Level 2 @@-->
                            <ul class="navbar__list-sub navbar__list-sub--level2">
                                <li class="navbar__item-sub navbar__item-sub--level2">
                                    <a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">Schools and teachers, teachers and schools, lorem ipsum dolor sit amet consectetur</span></a>
                                    <!--@@ Level 3 @@-->
                                    <ul class="navbar__list-sub navbar__list-sub--level3 desktop-hidden">
                                        <li class="navbar__item-sub navbar__item-sub--level3">
                                            <a href="http://www.monash.edu#zz-main-nav-03" class="navbar__item-sub-lbl navbar__item-sub-lbl--level3"><span class="navbar__item-text navbar__item-text--level3">Lorem ipsum dolor</span></a>
                                            <!--@@ Level 4 @@-->
                                            <ul class="navbar__list-sub navbar__list-sub--level4">
                                                <li class="navbar__item-sub navbar__item-sub--level4">
                                                    <a href="http://www.monash.edu#zz-main-nav-04" class="navbar__item-sub-lbl navbar__item-sub-lbl--level4"><span class="navbar__item-text navbar__item-text--level4">Lorem ipsum dolor</span></a>
                                                    <!--@@ Level 5 @@-->
                                                    <ul class="navbar__list-sub navbar__list-sub--level5">
                                                        <li class="navbar__item-sub navbar__item-sub--level5">
                                                            <a href="http://www.monash.edu#zz-main-nav-05" class="navbar__item-sub-lbl navbar__item-sub-lbl--level5"><span class="navbar__item-text navbar__item-text--level5">Sit amet consectetur</span></a>
                                                        </li>
                                                        <li class="navbar__item-sub navbar__item-sub--level5">
                                                            <a href="http://www.monash.edu#zz-main-nav-05" class="navbar__item-sub-lbl navbar__item-sub-lbl--level5"><span class="navbar__item-text navbar__item-text--level5">Lorem isum amet dolot</span></a>
                                                        </li>
                                                        <li class="navbar__item-sub navbar__item-sub--level5">
                                                            <a href="http://www.monash.edu#zz-main-nav-05" class="navbar__item-sub-lbl navbar__item-sub-lbl--level5"><span class="navbar__item-text navbar__item-text--level5">Dolor amet consectetur imum</span></a>
                                                        </li>
                                                        <li class="navbar__item-sub navbar__item-sub--level5">
                                                            <a href="http://www.monash.edu#zz-main-nav-05" class="navbar__item-sub-lbl navbar__item-sub-lbl--level5"><span class="navbar__item-text navbar__item-text--level5">Consectetur dolor lorem ipsum</span></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="navbar__item-sub navbar__item-sub--level4">
                                                    <a href="http://www.monash.edu#zz-main-nav-04" class="navbar__item-sub-lbl navbar__item-sub-lbl--level4"><span class="navbar__item-text navbar__item-text--level4">Lorem Ipsum consectetur dolor</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="navbar__item-sub navbar__item-sub--level3">
                                            <a href="http://www.monash.edu#zz-main-nav-03" class="navbar__item-sub-lbl navbar__item-sub-lbl--level3"><span class="navbar__item-text navbar__item-text--level3">Consectetur dolor ipsum</span></a>
                                        </li>
                                        <li class="navbar__item-sub navbar__item-sub--level3">
                                            <a href="http://www.monash.edu#zz-main-nav-03" class="navbar__item-sub-lbl navbar__item-sub-lbl--level3"><span class="navbar__item-text navbar__item-text--level3">Dolor imum consectetur dolor</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="navbar__item-sub navbar__item-sub--level2"><a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">Research degrees</span></a></li>
                                <li class="navbar__item-sub navbar__item-sub--level2"><a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">Postgraduate</span></a></li>
                                <li class="navbar__item-sub navbar__item-sub--level2"><a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">Undergraduate</span></a></li>
                                <li class="navbar__item-sub navbar__item-sub--level2"><a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">International students</span></a></li>
                                <li class="navbar__item-sub navbar__item-sub--level2"><a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">Why choose Monash?</span></a></li>
                                <li class="navbar__item-sub navbar__item-sub--level2"><a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">Courses</span></a></li>
                                <li class="navbar__item-sub navbar__item-sub--level2"><a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">Information for parents</span></a></li>
                                <li class="navbar__item-sub navbar__item-sub--level2"><a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">For agents</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="navbar__item navbar__item--current-parent">
                <a href="http://www.monash.edu#zz-main-nav-0103" class="navbar__item-lbl"><span class="navbar__item-text">Research</span></a>
                <div class="sub-nav sub-mega-nav">
                    <div class="sub-nav__wrapper">
                        <div class="wrapper__item">
                            <h4>Research</h4>
                            <p>Our global reputation ensures you are recognised for your skills and talent &#8212; no matter where in the world you choose to pursue your dreams. Visit <a href="http://www.study.monash">Study at Monash</a> to learn more.</p>
                        </div>
                        <div class="wrapper__item">
                            <!--@@ Level 2 @@-->
                            <ul class="navbar__list-sub navbar__list-sub--level2">
                                <li class="navbar__item-sub navbar__item-sub--level2 navbar__item--current-parent">
                                    <a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">Schools and teachers</span></a>
                                    <!--@@ Level 3 @@-->
                                    <ul class="navbar__list-sub navbar__list-sub--level3 desktop-hidden">
                                        <li class="navbar__item-sub navbar__item-sub--level3 navbar__item--current-parent">
                                            <a href="http://www.monash.edu#zz-main-nav-03" class="navbar__item-sub-lbl navbar__item-sub-lbl--level3"><span class="navbar__item-text navbar__item-text--level3">Lorem</span></a>
                                            <!--@@ Level 4 @@-->
                                            <ul class="navbar__list-sub navbar__list-sub--level4">
                                                <li class="navbar__item-sub navbar__item-sub--level4 navbar__item--current-parent">
                                                    <a href="http://www.monash.edu#zz-main-nav-04" class="navbar__item-sub-lbl navbar__item-sub-lbl--level4"><span class="navbar__item-text navbar__item-text--level4">Lorem</span></a>
                                                    <!--@@ Level 5 @@-->
                                                    <ul class="navbar__list-sub navbar__list-sub--level5">
                                                        <li class="navbar__item-sub navbar__item-sub--level5 navbar__item--current">
                                                            <a href="http://www.monash.edu#zz-main-nav-05" class="navbar__item-sub-lbl navbar__item-sub-lbl--level5"><span class="navbar__item-text navbar__item-text--level5">Sit amet consectetur</span></a>
                                                        </li>
                                                        <li class="navbar__item-sub navbar__item-sub--level5">
                                                            <a href="http://www.monash.edu#zz-main-nav-05" class="navbar__item-sub-lbl navbar__item-sub-lbl--level5"><span class="navbar__item-text navbar__item-text--level5">Lorem isum amet dolot</span></a>
                                                        </li>
                                                        <li class="navbar__item-sub navbar__item-sub--level5">
                                                            <a href="http://www.monash.edu#zz-main-nav-05" class="navbar__item-sub-lbl navbar__item-sub-lbl--level5"><span class="navbar__item-text navbar__item-text--level5">Dolor amet consectetur imum</span></a>
                                                        </li>
                                                        <li class="navbar__item-sub navbar__item-sub--level5">
                                                            <a href="http://www.monash.edu#zz-main-nav-05" class="navbar__item-sub-lbl navbar__item-sub-lbl--level5"><span class="navbar__item-text navbar__item-text--level5">Consectetur dolor lorem ipsum</span></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="navbar__item-sub navbar__item-sub--level4">
                                                    <a href="http://www.monash.edu#zz-main-nav-04" class="navbar__item-sub-lbl navbar__item-sub-lbl--level4"><span class="navbar__item-text navbar__item-text--level4">Lorem</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="navbar__item-sub navbar__item-sub--level3">
                                            <a href="http://www.monash.edu#zz-main-nav-03" class="navbar__item-sub-lbl navbar__item-sub-lbl--level3"><span class="navbar__item-text navbar__item-text--level3">Lorem</span></a>
                                        </li>
                                        <li class="navbar__item-sub navbar__item-sub--level3">
                                            <a href="http://www.monash.edu#zz-main-nav-03" class="navbar__item-sub-lbl navbar__item-sub-lbl--level3"><span class="navbar__item-text navbar__item-text--level3">Lorem</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="navbar__item-sub navbar__item-sub--level2"><a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">Research degrees</span></a></li>
                                <li class="navbar__item-sub navbar__item-sub--level2"><a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">Postgraduate</span></a></li>
                                <li class="navbar__item-sub navbar__item-sub--level2"><a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">Undergraduate</span></a></li>
                                <li class="navbar__item-sub navbar__item-sub--level2"><a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">International students</span></a></li>
                                <li class="navbar__item-sub navbar__item-sub--level2"><a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">Why choose Monash?</span></a></li>
                                <li class="navbar__item-sub navbar__item-sub--level2"><a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">Courses</span></a></li>
                                <li class="navbar__item-sub navbar__item-sub--level2"><a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">Information for parents</span></a></li>
                                <li class="navbar__item-sub navbar__item-sub--level2"><a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">For agents</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="navbar__item">
                <a href="http://www.monash.edu#zz-main-nav-0104" class="navbar__item-lbl"><span class="navbar__item-text">Enterprise &amp; Partnership</span></a>
                <div class="sub-nav sub-mega-nav">
                    <div class="sub-nav__wrapper">
                        <!-- Main Nav: Level 1 Description -->
                        <div class="wrapper__item">
                            <h4>What we do</h4>
                            <p>We help external partners utilise the teaching and research capabilities of Monash to achieve their goals and find innovative solutions.</p>
                        <!-- /.wrapper__item --></div>
                    <!-- /.sub-nav__wrapper --></div>
                <!-- /.sub-nav --></div>
            </li>
            <li class="navbar__item">
                <a href="http://www.monash.edu#zz-main-nav-0105" class="navbar__item-lbl"><span class="navbar__item-text">International</span></a>
                <div class="sub-nav sub-mega-nav">
                    <div class="sub-nav__wrapper">
                        <!-- Main Nav: Level 1 Description -->
                        <div class="wrapper__item">
                            <h4> </h4>
                            <p></p>
                        <!-- /.wrapper__item --></div>
                    <!-- /.sub-nav__wrapper --></div>
                <!-- /.sub-nav --></div>
            </li>
            <li class="navbar__item">
                <a href="http://www.monash.edu#zz-main-nav-0105" class="navbar__item-lbl"><span class="navbar__item-text">Our People</span></a>
                <div class="sub-nav sub-mega-nav">
                    <div class="sub-nav__wrapper">
                        <!-- Main Nav: Level 1 Description -->
                        <div class="wrapper__item">
                            <h4> </h4>
                            <p></p>
                        <!-- /.wrapper__item --></div>
                    <!-- /.sub-nav__wrapper --></div>
                <!-- /.sub-nav --></div>
            </li>
            <li class="navbar__item">
                <a href="http://www.monash.edu#zz-main-nav-0106" class="navbar__item-lbl"><span class="navbar__item-text">News &amp; Events</span></a>
                <div class="sub-nav sub-mega-nav">
                    <div class="sub-nav__wrapper">
                        <!-- Main Nav: Level 1 Description -->
                        <div class="wrapper__item">
                            <!-- Intentionally blank for QA -->
                        <!-- /.wrapper__item --></div>
                        <div class="wrapper__item">
                            <ul class="navbar__list-sub navbar__list-sub--level2">
                                <li class="navbar__item-sub navbar__item-sub--level2">
                                    <a href="http://www.monash.edu#zz-main-nav-02" class="navbar__item-sub-lbl navbar__item-sub-lbl--level2"><span class="navbar__item-text navbar__item-text--level2">Schools and teachers</span></a>
                                    <!--@@ Level 3 @@-->
                                    <ul class="navbar__list-sub navbar__list-sub--level3 desktop-hidden">
                                        <li class="navbar__item-sub navbar__item-sub--level3 navbar__item--current-parent">
                                            <a href="http://www.monash.edu#zz-main-nav-03" class="navbar__item-sub-lbl navbar__item-sub-lbl--level3"><span class="navbar__item-text navbar__item-text--level3">Lorem</span></a>
                                            <!--@@ Level 4 @@-->
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        <!-- /.wrapper__item --></div>
                    <!-- /.sub-nav__wrapper --></div>
                <!-- /.sub-nav --></div>
            </li>
            <li class="navbar__item">
                <a href="http://www.monash.edu#zz-main-nav-0107" class="navbar__item-lbl"><span class="navbar__item-text">Alumni</span></a>
            </li>
        </ul>
    <!-- /.navbar__dropdown --></div>
</nav>
