// Banner Search
.l--content .banner.banner-search {
  margin: 0;
}

.l--content .banner.banner-full-width.banner-full-width--cta {
  margin: 0;
}

.banner-search,
.banner-full-width.banner-full-width--cta {
  .banner__image {
    background-color: #a7a7a7;
  }

  .banner__image--wrapper {
    position: absolute;
    height: 14.0625rem;
    left: 0;
    width: 100%;
    overflow-x: clip;

    .banner__image,
    .banner__image--overlay {
      display: block;
      left: 0;
      width: 100vw;
      height: 100%;
      object-fit: cover;
      transform: none;
    }

    .banner__image--overlay {
      position: absolute;
      z-index: 1;
      opacity: 0.8;
      background-image: linear-gradient(
        125deg,
        rgba(0, 0, 0, 0.6) 31%,
        rgba(0, 0, 0, 0) 60%
      );
    }
  }

  .banner__link {
    position: initial;
    height: 14.0625rem;
    text-decoration: none;

    .banner__contents.banner__contents-full-width {
      position: relative;
      max-width: none;
      // flex-direction: row;
      margin: 0;
      .monash-m__wrapper {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .banner__inner {
    height: 14.0625rem;
    z-index: 4;
    display: flex;
    overflow: initial;
  }

  .banner__contents {
    z-index: 2;
    display: flex;
    padding-top: 19px;
    padding-bottom: 28px;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
    left: 0;
    max-width: 30rem;
    width: 100%;
  }
}

.banner-search {
  max-height: 14.0625rem;
  margin: 0;

  .banner__description {
    font-family: $font-family__condensed;
  }

  .banner__image--wrapper {
    position: absolute;
    height: 14.0625rem;
    left: 0;

    .banner__image {
      display: block;
      left: 0;
      width: 100vw;
      height: 100%;
      object-fit: cover;
      transform: none;
    }
  }

  .banner__contents-divider {
    display: block;
    border-bottom: 2px solid black;
    width: 30px;
    padding-top: 5px;
  }

  .banner__contents {
    .banner__heading {
      font-size: 1.25rem;
      font-weight: bold;
    }

    .banner__description {
      padding: 1rem 0;
      max-width: 20rem;
      font-size: 0.875rem;
      margin-top: 0;
    }

    .banner__heading,
    .banner__description {
      color: #000;
    }

    .banner-search__input-wrapper {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      width: 100%;

      .banner-search__dropdown {
        position: absolute;
        z-index: 25;
        opacity: 0;
        width: 100%;
        max-height: 0;
        top: 0;
        transition: max-height 0.2s, box-shadow 0.05s, clip-path 0.05s;
        transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
        box-shadow: 0 0 0 0 transparent;
        clip-path: inset(1.5rem 0px 0px 0px);
        font-family: $font-family__condensed;

        p,
        ul {
          padding-left: 1.25rem;
        }
        p {
          font-weight: bold;
        }
        ul {
          list-style: none;
          font-weight: 500;
        }
      }

      .banner-search__input {
        width: 100%;
        border: 0;
        border-radius: 1.875rem;
        background-color: #ffffff;
        padding: 0.875rem 1.25rem;
        padding-right: 3rem;
        font-family: $font-family__condensed;
        z-index: 10;
        transition: all 0.05s ease-in-out;

        &::placeholder {
          color: #7a7a7a;
        }
      }

      .banner-search__icon {
        position: absolute;
        right: 1.25rem;
        z-index: 11;
      }

      &:focus-within .banner-search__input {
        outline: none;
        box-shadow: 0px 0px 10px 3px #006dae;
        outline: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.19),
          0 0 10px 7px rgba(0, 0, 0, 0.23);
        clip-path: inset(-20px -20px 1px -20px);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:focus-within .banner-search__dropdown {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.19),
          0 0 10px 7px rgba(0, 0, 0, 0.23);
        clip-path: inset(3rem -20px -20px -20px);
        background: white;
        opacity: 1;
        max-height: 50rem;
        padding-top: 3rem;
        padding-bottom: 1rem;
        border-bottom-right-radius: 1.875rem;
        border-bottom-left-radius: 1.875rem;
      }

      &:focus-within::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        width: 90%;
        border: 1px solid #d8d8d8;
        bottom: 0;
        z-index: 15;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.banner-full-width.banner-full-width--cta {
  font-family: $font-family__condensed;

  .banner__heading {
    font-size: 1.25rem;
    font-family: $font-family__condensed;
    line-height: 1.3;
    font-weight: 700;
  }

  .banner__contents {
    justify-content: center;
    .banner__contents-inner {
      max-width: 11rem;
      span.btn {
        font-family: sans-serif;
        font-size: 0.8125rem;
      }
    }
  }

  .banner__description {
    font-size: 0.8125rem;
    font-family: $font-family__normal;
    margin: 1rem 0;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
  }

  .banner__carousel-video-link::after,
  .banner__video-link::after {
    display: none;
    // left: 19px;
    // position: absolute;
    // top: 50%;
    // transform: translate(0, -50%);
    // z-index: 10;
  }

  .btn.banner__video-btn {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.5rem 1.0625rem;

    svg {
      margin-left: 1rem;
      height: pxToRem(30);
      width: pxToRem(30);
    }
  }
}

@import 'medium', 'wide', 'print';
