// Animated-M (Medium)

@media only screen and (min-width: 37.5em) {
  .banner-search,
  .banner-full-width.banner-full-width--cta {
    .banner__image.banner__image-full-width {
      transform: translateX(0);
      left: 0;
    }
  }

  .banner-full-width.banner-full-width--cta {
    .banner__contents {
      .banner__contents-inner {
        max-width: 25rem;
      }
    }
  }
}
