// Banner Search (Wide)
@media only screen and (min-width: 81.25rem) {
  .page-wrapper {
    .banner-search,
    .page-wrapper .banner-search .banner__image--wrapper,
    .banner-full-width--cta {
      .banner__image--wrapper {
        margin-left: calc(-100vw / 2 + 81.25rem / 2);
      }
    }
  }
}

@media only screen and (min-width: 60em) {
  .l--content .banner.banner-full-width {
    margin-right: calc(-100vw / 2 + 58rem / 2);
    margin-left: calc(-100vw / 2 + 58rem / 2);
  }

  .banner .page-wrapper.banner-wrapper-full-width {
    width: 100%;
    max-width: 2194px;
  }

  .banner__image.banner__image-full-width {
    transform: translateX(-50%);
    left: 50%;
  }

  .banner__contents.banner__contents-full-width {
    left: 45%;
  }

  .banner-search,
  .banner-full-width.banner-full-width--cta {
    max-height: 25rem;

    .banner__link {
      max-height: 25rem;
    }

    .banner__image--wrapper {
      .banner__image,
      .banner__image--overlay {
        height: 25rem;
      }
    }

    .banner__inner,
    .banner__link {
      height: 25rem;
    }
  }

  .banner-search {
    .banner__contents-divider {
      border-bottom: 3px solid black;
      width: 40px;
    }

    .banner__contents {
      padding-top: 50px;
      justify-content: start;
      max-width: 30rem;

      .banner__heading {
        font-size: 1.75rem;
      }

      .banner__description {
        padding: 2.5rem 0;
        font-size: 1.375rem;
        max-width: none;
      }

      .banner-search__input-wrapper {
        &:focus-within {
          .banner-search__dropdown {
            clip-path: inset(calc(3rem + 2px) -20px -20px -20px);
          }

          .banner-search__input {
            clip-path: inset(-20px -20px 0px -20px);
          }
        }
      }
    }
  }

  .banner-full-width.banner-full-width--cta {
    font-family: $font-family__sans;
    .banner__heading {
      font-size: 2.5rem;
      line-height: 1.25;
    }

    .banner__contents {
      justify-content: center;
      .banner__contents-inner {
        max-width: 35rem;

        span.btn {
          font-size: 1rem;
        }
      }
    }

    .banner__description {
      font-size: 1.375rem;
      margin: 1rem 0;
    }
  }
}
