//Quotes
blockquote {
    margin:       2em 0;
    padding-left: 3em;
    position:     relative;

    &::before {
        @include     sq-font-size(5);
        color:       $base-font-colour;
        content:     '\201C';
        left:        0;
        line-height: 1em;
        position:    absolute;
        top:         0;
    }
}

.pull-quote {
    border-top: 1px solid $base-font-colour;
    margin:     1em;
    padding:    1em .5em 0;
}

//Highlight
.highlight {
    @extend     %inline-block;
    background: #ccc;
    padding:    .1em .5em;
}
