.social-n-navigation {
    margin-bottom: pxToRem(30);

    .social-media-share {
        border-bottom: pxToRem(1) solid $white;
    }

    .cross-nav-bar__list {
        @include sq-list-reset;
        @include sq-flex-box();
        height:          pxToRem(46);
        justify-content: space-between;
    }

    .cross-nav-bar__list-item {
        @include sq-flex-box();
        align-items:     center;
        border-left:     pxToRem(1) solid $white;
        flex-basis:      25%;
        font-size:       pxToRem(12);
        justify-content: center;
        margin:          0;
        padding-left:    pxToRem(5);
        padding-right:   pxToRem(5);
        padding-top:     0;
        text-align:      center;
        text-transform:  uppercase;

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        &:first-child {
            border-left: 0;
        }
    }
}
