.social-n-navigation {
    @include sq-flex-box();
    align-items:     stretch;
    justify-content: space-between;
    margin-bottom:   0;
    margin-left:     -$feature-article__off-gap;
    margin-right:    -$feature-article__off-gap;

    &.social-n-navigation--no-sm {
        justify-content: flex-end;
    }

    .social-media-share {
        border:       0;
        flex-basis:   50%;
        padding-left: $feature-article__off-gap;
    }

    .at300b:nth-child(1) {
        margin-left: 0;
    }

    .cross-nav-bar {
        flex-basis:    50%;
        padding-right: $feature-article__off-gap;
    }

    .cross-nav-bar__list {
        float:           right;
        height:          100%;
        justify-content: flex-start;
    }

    .cross-nav-bar__list-item {
        align-items: stretch;
        display:     inline;
        flex-basis:  auto;
        line-height: 1.3333;
        padding:     1rem pxToRem(10) pxToRem(13);

        &:first-child {
            border-left: pxToRem(1) solid $white;
        }

        &:last-child {
            border-right: pxToRem(1) solid $white;
        }
    }
}
