$mobileNav__border-colour: #2a2a2a;
$mobileNav__background-levelthree: #767676;
$mobileNav__background-levelfour: #c8c8c8;

.header {
  background: #fff;

  &-row__logo-wrapper {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
  }

  &-row__logo-link {
    display: inline-block;
    *display: inline;
    zoom: 1;
    border: 0;
    height: auto;
    margin-top: 0.9375rem;
    padding-left: 0.8125rem;
    width: auto;
  }

  &-row__logo-img {
    max-width: none;
    -ms-transform: scale(0.79, 0.8);
    -webkit-transform: scale(0.79, 0.8);
    transform: scale(0.79, 0.8);
  }

  &-row__site-title {
    background: $base-light-charcoal;
    color: $white;
    font-family: $font-family__condensed;
    font-size: pxToRem(18);
    line-height: 1.278;
    padding: pxToRem(8.5) pxToRem(16);
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  .site-title__sub {
    font-size: 0.9rem;
    font-weight: $font-light;
  }

  .site-title__sub-link {
    color: $white;
    text-decoration: none;
  }

  .site-title__sub-link-arrow {
    display: inline-block;
    font-size: pxToRem(25);
    font-weight: $font-light;
    line-height: 0.1;
    padding-bottom: pxToRem(4);
    vertical-align: middle;
  }

  .site-title__main {
    margin-top: calc(1rem / 3);
  }
}

.header .navbar {
  position: inherit;
  padding: 0;
}

.header .navbar__item .home-icon,
.header .navbar__item:hover .home-icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 752px 560px;
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
  width: 29px;
  height: 29px;
  background-position: -528px -480px;
  width: 2rem;
  height: 2rem;
  text-indent: -9999px;
}

.no-svg .header .navbar__item .home-icon,
.no-svg .header .navbar__item:hover .home-icon {
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
}

.header .navbar--light-grey .navbar__item .home-icon,
.header .navbar--light-grey .navbar__item-lbl:focus .home-icon,
.header .navbar--medium-grey .navbar__item .home-icon,
.header .navbar--medium-grey .navbar__item-lbl:focus .home-icon,
.header .navbar--white .navbar__item .home-icon,
.header .navbar--white .navbar__item-lbl:focus .home-icon {
  width: 29px;
  height: 29px;
  background-position: -480px -480px;
  width: 2rem;
  height: 2rem;
}

.header .navbar--light-grey .navbar__item:hover .home-icon,
.header .navbar--light-grey .navbar__item-lbl:focus .home-icon,
.header .navbar--medium-grey .navbar__item:hover .home-icon,
.header .navbar--medium-grey .navbar__item-lbl:focus .home-icon,
.header .navbar--white .navbar__item:hover .home-icon,
.header .navbar--white .navbar__item-lbl:focus .home-icon {
  width: 29px;
  height: 29px;
  background-position: -528px -480px;
  width: 2rem;
  height: 2rem;
}

.header .megamenu--light-grey .navbar__item:hover .home-icon,
.header .megamenu--light-grey .navbar__item-lbl:focus .home-icon,
.header .megamenu--medium-grey .navbar__item:hover .home-icon,
.header .megamenu--medium-grey .navbar__item-lbl:focus .home-icon,
.header .megamenu--white .navbar__item:hover .home-icon,
.header .megamenu--white .navbar__item-lbl:focus .home-icon {
  width: 29px;
  height: 29px;
  background-position: -480px -480px;
  width: 2rem;
  height: 2rem;
}

.header li.navbar__item.home.icon.navbar__item--active a.navbar__item-lbl {
  border: none;
}

.header a.navbar__item-lbl {
  border: none;
}

.header #site-heading-desktop a {
  text-decoration: none;
  color: #000;
}

.header .header-row__items a {
  text-decoration: none;
}

.header li.navbar__item.home.icon {
  display: none;
}

.utility-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.75rem;
  justify-content: flex-end;
}

.no-js .utility-navigation-list,
.no-flexbox .utility-navigation-list {
  display: table;
}

.flexbox .utility-navigation-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.utility-navigation-list__item {
  margin-bottom: auto;
  margin-top: auto;
  padding: 0 1.25rem;
}

.utility-navigation-list__item:last-child {
  padding-right: 0;
}

.utility-navigation-list__link {
  color: #505050;
  text-decoration: none;
}

.utility-navigation-list__link:hover,
.utility-navigation-list__link:focus,
.utility-navigation-list__link:active {
  color: #505050;
  text-decoration: underline;
}

.navbar {
  flex: none;
  margin-top: 1.25rem;
}

.navbar .navbar__list {
  color: #fff;
}

.navbar .navbar__list,
.navbar .navbar__list-sub {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar .navbar__list-sub a {
  text-decoration: none;
}

.navbar .navbar__list-sub a:hover,
.navbar .navbar__list-sub a:focus,
.navbar .navbar__list-sub a:active {
  text-decoration: underline;
}

.navbar .navbar__list-sub--level2 {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  padding-top: 0.625rem;
}

.navbar__toggle {
  display: inline-block;
  *display: inline;
  zoom: 1;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 752px 560px;
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
  width: 32px;
  height: 32px;
  background-position: -720px 0px;
  border: 0;
  margin-left: 0.625rem;
  outline: 0;
  padding: 0;
  text-indent: -9999em;
  vertical-align: top;
}

.no-svg .navbar__toggle {
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/sprites.png);
}

.navbar__toggle-cloned {
  background: transparent;
  color: #fff;
  float: right;
  height: 3.125rem;
  margin: 0.5625rem 0.625rem;
  width: 3.125rem;
}

.navbar__toggle-cloned::after {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 235px 175px;
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
  width: 10px;
  height: 10px;
  background-position: -225px -15px;
  content: ' ';
  display: inline-block;
}

.no-svg .navbar__toggle-cloned::after {
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
}

.navbar__list {
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar__item {
  flex-basis: content;
  margin-bottom: auto;
  margin-top: auto;
}

.navbar__item:first-child {
  margin-left: -15px;
}

.navbar__item h4 {
  color: #fff;
  font-family: $font-family__condensed;
  font-size: 1.5rem;
  line-height: 1.167;
  margin-bottom: 0.625rem;
  margin-top: 0;
}

.navbar__item p {
  color: #fff;
  margin-bottom: 0;
  margin-top: 0.625rem;
}

.navbar__item p,
.navbar__item h4,
.navbar__item-sub--level2 {
  padding: 0.625rem 0 0;
}

.navbar__item-sub--level2 {
  break-inside: avoid-column;
  page-break-inside: avoid;
}

.navbar__item--active a {
  color: #fff;
}

.navbar__item-lbl {
  color: #505050;
  font-size: 1.125rem;
  font-weight: 400;
  height: 100%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.navbar__item--current > .navbar__item-lbl .navbar__item-text,
.navbar__item--current > .navbar__item-sub-lbl .navbar__item-text,
.navbar__item--current-parent > .navbar__item-lbl .navbar__item-text,
.navbar__item--current-parent > .navbar__item-sub-lbl .navbar__item-text {
  font-weight: 700;
}

.sub-nav {
  background: #006dae;
  border: 0;
  box-shadow: none;
  padding: 2.1875rem 5rem 2.8125rem;
}

.no-js .sub-nav__wrapper,
.no-flexbox .sub-nav__wrapper {
  display: table;
}

.flexbox .sub-nav__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.sub-nav li {
  margin: 0;
}

.wrapper__item {
  flex-grow: 1;
}

.wrapper__item:first-child {
  flex-basis: 40%;
  padding-right: 5rem;
}

.wrapper__item:first-child a {
  text-decoration: underline;
}

.wrapper__item:first-child a:hover,
.wrapper__item:first-child a:focus,
.wrapper__item:first-child a:active {
  text-decoration: none;
}

.wrapper__item:last-child {
  flex-basis: 60%;
}

.navbar__dropdown {
  transform: translate3d(-100%, 0, 0);
}

.navbar__dropdown .no-js {
  display: none;
}

.navbar__dropdown--mobile {
  background: #3c3c3c;
  color: #fff;
  height: auto;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0.3s;
  width: 100%;
  z-index: 100;
}

.navbar__dropdown--mobile.navbar__dropdown--slide-left {
  transform: translate3d(-100%, 0, 0);
}

.navbar__dropdown--mobile.navbar__dropdown--slide-right {
  transform: translate3d(0, 0, 0);
}

.navbar__dropdown--mobile.navbar__dropdown--mobile-hidden {
  display: none;
}

.navbar__dropdown--mobile .navbar__list.flex-wrapper,
.navbar__dropdown--mobile .navbar__list-sub,
.navbar__dropdown--mobile .navbar__list--home {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.navbar__dropdown--mobile .navbar__list-sub {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}

.navbar__dropdown--mobile .navbar__list-sub--level2,
.navbar__dropdown--mobile .navbar__list-sub--level3,
.navbar__dropdown--mobile .navbar__list-sub--level4,
.navbar__dropdown--mobile .navbar__list-sub--level5 {
  border-top: 1px solid #2a2a2a;
  font-size: 0.9375rem;
}

.navbar__dropdown--mobile .navbar__list-sub--level2 {
  background: #505050;
}

.navbar__dropdown--mobile .navbar__list-sub--level3 {
  background: #767676;
}

.navbar__dropdown--mobile .navbar__list-sub--level4 {
  background: #c8c8c8;
}

.navbar__dropdown--mobile .navbar__list-sub--level5 {
  background: #f6f6f6;
}

.navbar__dropdown--mobile .navbar__list-sub--level3,
.navbar__dropdown--mobile .navbar__list-sub--level4,
.navbar__dropdown--mobile .navbar__list-sub--level5 {
  display: none;
}

.navbar__dropdown--mobile .navbar__list--home .navbar__item:first-child {
  line-height: 0;
}

.navbar__dropdown--mobile .sub-nav {
  background: transparent;
  padding: 0;
}

.navbar__dropdown--mobile .sub-nav__wrapper {
  display: block;
}

.navbar__dropdown--mobile .wrapper__item:first-child {
  display: none;
}

.navbar__dropdown--mobile .navbar__item,
.navbar__dropdown--mobile .navbar__item-sub {
  border: 1px solid #2a2a2a;
  border-top-width: 0;
  margin-bottom: auto;
  margin-top: auto;
}

.navbar__dropdown--mobile .navbar__item:first-child,
.navbar__dropdown--mobile .navbar__item-sub:first-child {
  margin-left: 0;
}

.navbar__dropdown--mobile .navbar__item--level2,
.navbar__dropdown--mobile .navbar__item--level3,
.navbar__dropdown--mobile .navbar__item--level4,
.navbar__dropdown--mobile .navbar__item--level5,
.navbar__dropdown--mobile .navbar__item-sub--level2,
.navbar__dropdown--mobile .navbar__item-sub--level3,
.navbar__dropdown--mobile .navbar__item-sub--level4,
.navbar__dropdown--mobile .navbar__item-sub--level5 {
  border-left-width: 0;
  border-right-width: 0;
  padding: 0;
}

.navbar__dropdown--mobile .navbar__item-sub:last-child {
  border-bottom-width: 0;
}

.navbar__dropdown--mobile .navbar__item-sub--level4 .navbar__item-cta:after,
.navbar__dropdown--mobile .navbar__item-sub--level5 .navbar__item-cta:after {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 282px 210px;
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
  display: block;
  width: 6px;
  height: 12px;
  background-position: -144px -18px;
  content: '';
}

.no-svg
  .navbar__dropdown--mobile
  .navbar__item-sub--level4
  .navbar__item-cta:after,
.no-svg
  .navbar__dropdown--mobile
  .navbar__item-sub--level5
  .navbar__item-cta:after {
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
}

.navbar__dropdown--mobile
  .navbar__item-sub--level4
  .navbar__item-cta--expanded:after,
.navbar__dropdown--mobile
  .navbar__item-sub--level5
  .navbar__item-cta--expanded:after {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 282px 210px;
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
  display: block;
  width: 12px;
  height: 12px;
  background-position: -72px -18px;
  content: '';
}

.no-svg
  .navbar__dropdown--mobile
  .navbar__item-sub--level4
  .navbar__item-cta--expanded:after,
.no-svg
  .navbar__dropdown--mobile
  .navbar__item-sub--level5
  .navbar__item-cta--expanded:after {
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
}

.navbar__dropdown--mobile .navbar__item-lbl,
.navbar__dropdown--mobile .navbar__item-sub-lbl {
  color: #fff;
  display: flex;
  text-align: left;
  text-decoration: none;
}

.navbar__dropdown--mobile .navbar__item-lbl:hover,
.navbar__dropdown--mobile .navbar__item-sub-lbl:hover {
  text-decoration: none;
}

.navbar__dropdown--mobile .navbar__item-lbl--level4,
.navbar__dropdown--mobile .navbar__item-lbl--level5,
.navbar__dropdown--mobile .navbar__item-sub-lbl--level4,
.navbar__dropdown--mobile .navbar__item-sub-lbl--level5 {
  color: #3c3c3c;
}

.navbar__dropdown--mobile .navbar__item-text,
.navbar__dropdown--mobile .navbar__item-cta {
  display: block;
}

.navbar__dropdown--mobile .navbar__item-text {
  flex-grow: 1;
  padding: 1rem;
  width: 100%;
}

.navbar__dropdown--mobile .navbar__item-text--level2 {
  padding-left: 1.5rem;
}

.navbar__dropdown--mobile .navbar__item-text--level3 {
  padding-left: 2.25rem;
}

.navbar__dropdown--mobile .navbar__item-text--level4 {
  padding-left: 3.25rem;
}

.navbar__dropdown--mobile .navbar__item-text--level5 {
  padding-left: 4rem;
}

.navbar__dropdown--mobile .navbar__item-cta {
  background-color: transparent;
  border-color: #2a2a2a;
  border-style: none none none solid;
  border-width: 0 0 0 1px;
  min-width: 4.25rem;
  padding: 0;
  position: relative;
}

.navbar__dropdown--mobile .navbar__item-cta:after {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 282px 210px;
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
  display: block;
  width: 6px;
  height: 12px;
  background-position: -162px -18px;
  content: '';
}

.no-svg .navbar__dropdown--mobile .navbar__item-cta:after {
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
}

.navbar__dropdown--mobile .navbar__item-cta::after {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.navbar__dropdown--mobile .navbar__item-cta--expanded:after {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 282px 210px;
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
  display: block;
  width: 12px;
  height: 12px;
  background-position: -90px -18px;
  content: '';
}

.no-svg .navbar__dropdown--mobile .navbar__item-cta--expanded:after {
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
}

.navbar__dropdown--mobile .navbar__item-cta--expanded::after {
  left: 45%;
}

.navbar__dropdown--mobile .navbar__item-logo-mobile {
  display: inline-block;
  *display: inline;
  zoom: 1;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 752px 560px;
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
  width: 30px;
  height: 32px;
  background-position: -144px -336px;
  height: 2rem;
  margin: 1.25rem 1rem 1rem;
}

.no-svg .navbar__dropdown--mobile .navbar__item-logo-mobile {
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
}

@media only screen and (min-width: 60em) {
  /* Module: Navbar */
  .navbar__toggle {
    display: none;
  }
  .navbar__dropdown[aria-expanded='false'] {
    display: block;
    position: relative;
  }
  .navbar__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navbar__item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .navbar__item > a {
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }
  .navbar__item > a,
  .navbar__item > a:visited {
    text-decoration: none;
  }
  .sub-nav {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: opacity 100ms ease;
    -moz-transition: opacity 100ms ease;
    transition: opacity 100ms ease;
    position: absolute;
    display: block;
    visibility: hidden;
    top: -9999em;
    overflow: hidden;
  }
  .no-js .navbar__item:hover .sub-nav,
  .no-js .navbar__item:focus .sub-nav,
  .navbar__item--active .sub-nav {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(opacity=100);
    filter: alpha(opacity=100);
    z-index: 1001;
  }
  .sub-mega-nav {
    left: 0;
    width: 100%;
  }
  .flexbox .sub-mega-nav .sub-nav__group {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .no-js .sub-mega-nav .sub-nav__group,
  .no-flexbox .sub-mega-nav .sub-nav__group {
    display: table-cell;
    vertical-align: top;
  }
  .no-js .sub-nav__group-container,
  .no-flexbox .sub-nav__group-container {
    display: table;
  }
  .flexbox .sub-nav__group-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}
