<form class="w438" id="searchbox_001621737867968046729:nsl4i5alcty" action="">
    <input name="cx" value="001621737867968046729:nsl4i5alcty" type="hidden">
    <input name="cof" value="FORID:11" type="hidden">
    <input class="full-line" name="q" size="40" type="text" value="%globals_get_q%" title="Google search field">
    <input name="sa" class="button" value="Search" type="submit">
    <img src="http://www.google.com/coop/images/google_custom_search_smnar.gif" alt="Google Custom Search"/>
    <input value="%globals_site_url%" name="siteurl" type="hidden">
</form>
<gcse:search></gcse:search>
