.box-featured {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  width: 100%;
}

.box-featured a {
  text-decoration: none;
}
.box-featured .user-def-icon::before {
  display: none;
}

.box-featured a:hover,
.box-featured a:focus,
.box-featured a:active {
  text-decoration: underline;
}

.box-featured__section.box-featured__section--related-articles h3 {
  font-family: $font-family__condensed;
  line-height: 1.1429;
}

.box-featured__group {
  padding: 0;
}

.box-featured__nest {
  width: 100%;
}

.box-featured__thumb-link,
.box-featured__thumb-image,
.box-featured__video-thumb-link,
.box-featured__video-thumb-image {
  display: block;
}

.box-featured__thumb-image,
.box-featured__video-thumb-image {
  width: 100%;
}

.box-featured__video-thumb-link {
  position: relative;
}

.box-featured__video-thumb-link:after {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 752px 560px;
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
  display: block;
  width: 32px;
  height: 32px;
  background-position: -192px -144px;
  content: '';
}

.no-svg .box-featured__video-thumb-link:after {
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/sprites.png);
}

.box-featured__video-thumb-link::after {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.box-featured__video-thumb-link:hover:after,
.box-featured__video-thumb-link:focus:after {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 752px 560px;
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
  display: block;
  width: 32px;
  height: 32px;
  background-position: -240px -144px;
  content: '';
}

.no-svg .box-featured__video-thumb-link:hover:after,
.no-svg .box-featured__video-thumb-link:focus:after {
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/sprites.png);
}

.box-featured__blurb {
  padding: 1.25rem 1.25rem 0.25rem;
}

.box-featured__blurb .box-featured--login__submit {
  padding: 0.75rem 1.25rem;
}

.box-featured__advanced-content,
.box-featured__form-wrapper {
  padding: 1.25rem;
}

.box-featured__heading {
  font-weight: 700;
  font-family: $font-family__condensed;
  color: $black;
  font-size: 1.1875rem;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
}

.box-featured__description {
  margin-bottom: 1.375rem;
}

.box-featured__rel-list {
  padding-left: 0;
}

.box-featured__rel-item {
  list-style-type: none;
}

.box-featured__rel-link {
  color: #505050;
}

.box-featured__cta-link {
  margin: 0 1.25rem 1.25rem;
}

.box-featured .video-container {
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
}

.box-featured--publication {
  padding-bottom: 0;
}

.box-featured--search-staff__form:first-child {
  margin-bottom: 1rem;
}

.box-featured--login__control-group {
  margin-bottom: 0.5rem;
}

.box-featured--login__actions {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.no-js .box-featured--login__actions,
.no-flexbox .box-featured--login__actions {
  display: table;
}

.flexbox .box-featured--login__actions {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.box-featured--login__remember-group {
  -webkit-flex-grow: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.box-featured--login__submit {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.box-featured--login__cta {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-top: 1px solid #006dae;
  color: #006dae;
  font-family: $font-family__condensed;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1.5rem;
  padding-bottom: 1.75rem;
  padding-top: 2rem;
}

.box-featured--login__cta:before {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 752px 560px;
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
  display: block;
  width: 32px;
  height: 32px;
  background-position: 0px -480px;
  content: '';
}

.no-svg .box-featured--login__cta:before {
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/sprites.png);
}

.no-js .box-featured--login__cta,
.no-flexbox .box-featured--login__cta {
  display: table;
}

.flexbox .box-featured--login__cta {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.box-featured--login__cta::before {
  flex-shrink: 0;
  margin-right: 1rem;
}

.box-featured__related-article {
  padding-bottom: 0;
}

.box-featured__related-article .box-featured__blurb {
  padding: 0.625rem;
}

.box-featured__related-article .box-featured__thumb-image {
  height: 12.5rem;
  object-fit: cover;
}

.box-featured__related-article .box-featured__heading {
  line-height: 1.1429;
}

.box-featured__related-article .box-featured__description {
  margin-bottom: 0;
  margin-top: 0.625rem;
}

.btn.box-featured__cta-link {
  text-align: left;
  display: none;
}

.box-featured__group[class*='bottom-gap--']
  + .box-featured__group[class*='top-gap--'] {
  margin-top: -1.5rem;
  padding-top: 0;
}

.box-featured__horizontal {
  .box-featured {
    border-bottom: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}
@import 'print', 'wide';