// Feature Box (Print)

@include media-query('print') {
  .box-featured {
    &__thumb-link,
    &__video-thumb-link,
    &__heading-link,
    .btn__link,
    &__rel-link,
    &--login__cta {
      text-decoration: none;

      &[href]::after {
        content: '';
      }
    }

    .btn {
      border: 1px solid $base-light-charcoal;
    }

    .control-group__button {
      border-color: $base-monash-blue;
    }
  }
}
