// Feature Box (Wide)
@include media-query('wide') {
  .box-featured {
    @include sq-flex-box();
    @include sq-flex-direction(column);
    margin-bottom: 2rem;

    &__listing {
      margin-left: -1rem;
      margin-right: -1rem;
    }

    &__section.box-featured__section--related-articles {
      padding-bottom: pxToRem(90);
      padding-top: pxToRem(60);

      h3 {
        line-height: 1.1667;
      }

      .box-featured__wrapper {
        padding-left: pxToRem(15);
        padding-right: pxToRem(15);
      }

      .box-featured__group {
        margin-left: pxToRem(-15);
        margin-right: pxToRem(-15);
      }
    }

    &__group,
    &__nest {
      margin-left: -1rem;
      margin-right: -1rem;
    }

    &__group {
      .content-inner__main & {
        margin-left: -2rem;
      }
    }

    &__wrapper {
      @include sq-flex-box();
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &__description {
      margin-bottom: 1rem;
    }

    &__nest {
      @include sq-flex-grow(1);
    }

    &__thumb-link,
    &__video-thumb-link {
      //-ms-flex-preferred-size: 226px; // Brute force hack to make IE11 height behave
      -ms-flex-preferred-size: 1;
    }

    &__advanced-content--shrinked-fields {
      .control-group {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .control-group__input {
        flex: 1 1 20%;
        min-width: pxToRem(150);
      }
    }

    &__blurb {
      @include sq-flex-box();
      @include sq-flex-direction(column);
      @include sq-flex-grow(1);

      .box-featured--login__submit {
        padding-bottom: pxToRem(8);
        padding-top: pxToRem(8);
      }
    }

    &__heading {
      font-size: 1.5rem;
    }

    &--publication {
      padding-bottom: 0;
    }

    // Variant: Search staff
    &--search-staff {
      &__forms {
        @include sq-justify-content(space-between);
        margin-left: -1rem;
        margin-right: -1rem;
      }

      &__form {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      &__form:first-child {
        margin-bottom: 0;
      }
    }

    // Variant: Login
    &--login {
      &__cta {
        padding-bottom: 2.5rem;
        padding-top: 1.5rem;
      }
    }

    // Variant related article
    &__related-article {
      .box-featured__thumb-image {
        height: pxToRem(150);
      }

      .box-featured__heading {
        line-height: 1.1667;
      }

      .box-featured__blurb {
        padding: pxToRem(15) pxToRem(10) pxToRem(20) pxToRem(20);
      }

      .box-featured__description {
        margin-top: pxToRem(5);
      }
    }
  }
}
