<div class="content-wrapper">
    <h2>Form Elements</h2>
    <form class="sq-form" method="post" action="/" enctype="multipart/form-data" id="form_email_18768">
        <input type="hidden" id="SQ_FORM_18768_PAGE" class="sq-form-field" value="1" name="SQ_FORM_18768_PAGE" />
        <input type="hidden" value="" name="form_email_18768_referral_url" />
        <fieldset class="sq-form-section">
            <legend class="sq-form-section-title">Your details</legend>
            <div class="sq-form-question sq-form-question-text">
                <label for="q20322_q1" class="sq-form-question-title">Full name</label>
                <div class="sq-form-question-answer">
                    <input data-validation-msg="Please enter a valid name" type="text" placeholder="Enter your full name" class="sq-form-field" id="q20322_q1" maxlength="300" size="30" value="" name="q20322:q1" data-rule-required="true" required />
                </div>
            </div>
            <div class="sq-form-question sq-form-question-text ">
                <label for="q20322_q9" class="sq-form-question-title">Comments</label>
                <div class="sq-form-question-answer">
                    <textarea data-validation-msg="Please enter a valid comment" required class="sq-form-field" id="q20322_q9" placeholder="Enter your comment" rows="3" cols="30" name="q20322:q9"></textarea>
                </div>
            </div>
            <div class="sq-form-question sq-form-question-select ">
                <label for="q20322_q3" class="sq-form-question-title">Please select a course</label>
                <div class="sq-form-question-answer">
                    <select data-validation-msg="Please select a course" class="sq-form-field" id="q20322_q3" name="q20322:q3">
                        <option selected="selected" value="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</option>
                        <option value="Consectetur adipiscing">Consectetur adipiscing</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset class="sq-form-section">
            <legend class="sq-form-section-title">Other information</legend>
            <div class="sq-form-question sq-form-question-option-list">
                <fieldset>
                    <legend class="sq-form-question-title">Please choose</legend>
                    <div class="sq-form-question-answer">
                        <ul>
                            <li>
                                <input type="radio" class="sq-form-field" value="0" id="q20323_q1_0" name="q20323:q1">
                                <label for="q20323_q1_0">Yes</label>
                            </li>
                            <li>
                                <input type="radio" class="sq-form-field" value="1" id="q20323_q1_1" name="q20323:q1">
                                <label for="q20323_q1_1">No</label>
                            </li>
                        </ul>
                    </div>
                </fieldset>
            </div>
            <div class="sq-form-question sq-form-question-tickbox-list">
                <fieldset>
                    <legend class="sq-form-question-title">Please choose</legend>
                    <div class="sq-form-question-answer">
                        <ul>
                            <li>
                                <input type="checkbox" data-validation-msg="Please choose a city" class="sq-form-field" value="0" id="q20323_q2_0" name="q20323:q2[]" required />
                                <label for="q20323_q2_0">Sydney</label>
                            </li>
                            <li>
                                <input type="checkbox" class="sq-form-field" value="1" id="q20323_q2_1" name="q20323:q2[]" required />
                                <label for="q20323_q2_1">Melbourne</label>
                            </li>
                            <li>
                                <input type="checkbox" class="sq-form-field" value="2" id="q20323_q2_2" name="q20323:q2[]" required />
                                <label for="q20323_q2_2">Brisbane</label>
                            </li>
                        </ul>
                    </div>
                </fieldset>
            </div>
            <div class="sq-form-question sq-form-question-option-list sq-form-question-option-list--inline">
                <fieldset>
                    <legend class="sq-form-question-title">Please choose</legend>
                    <div class="sq-form-question-answer">
                        <ul>
                            <li>
                                <input required type="radio" data-validation-msg="Please choose yes or no" class="sq-form-field" value="0" id="q203233_q1_0" name="q203233:q1">
                                <label for="q203233_q1_0">Yes</label>
                            </li>
                            <li>
                                <input required type="radio" class="sq-form-field" value="1" id="q203233_q1_1" name="q203233:q1">
                                <label for="q203233_q1_1">No</label>
                            </li>
                        </ul>
                    </div>
                </fieldset>
            </div>
            <div class="sq-form-question sq-form-question-tickbox-list sq-form-question-tickbox-list--inline">
                <fieldset>
                    <legend class="sq-form-question-title">Please choose</legend>
                    <div class="sq-form-question-answer">
                        <ul>
                            <li>
                                <input type="checkbox" class="sq-form-field" value="0" id="q203235_q2_0" name="q203235:q2[]" required />
                                <label for="q203235_q2_0">Sydney</label>
                            </li>
                            <li>
                                <input type="checkbox" class="sq-form-field" value="1" id="q203235_q2_1" name="q203235:q2[]" required />
                                <label for="q203235_q2_1">Melbourne</label>
                            </li>
                            <li>
                                <input type="checkbox" class="sq-form-field" value="2" id="q203235_q2_2" name="q203235:q2[]" required />
                                <label for="q203235_q2_2">Brisbane</label>
                            </li>
                        </ul>
                    </div>
                </fieldset>
            </div>
            <div class="sq-form-question sq-form-question-file-upload">
                <label for="q20323_q4" class="sq-form-question-title">Upload a picture</label>
                <div class="sq-form-question-answer">
                    <input type="file" class="sq-form-field" id="q20323_q4" name="q20323:q4">
                    <label for="q20322324_q9" class="sq-form-success" id="q2032sdf2_q9-success">File successfully uploaded</label>
                </div>
            </div>
        </fieldset>
        <div class="sq-form-control">
            <div class="sq-form-captcha"></div>
            <input type="submit" id="form_email_18768_submit" class="sq-form-submit" value="Submit" name="form_email_18768_submit">
        </div>
    </form>
    <br /><br />
</div>
