.centreColumn h2 {
    display: none;
}

.gsc-search-box,
.form-box {
    display:none;
}

.w438 {
    margin-top: 50px;
}

.full-line {
    border:  1px solid #006dae;
    color:   #006dae;
    padding: 7px;
}

.gsc-control-cse {
    padding-left: 0;
}

input[type="submit"],
input[type="submit"]:hover {
    background-color: #006dae;
    color:            #fff;
}

input[type="submit"]:active,
input[type="submit"]:focus {
    outline: thin dotted #505050;
}

.gsc-above-wrapper-area {
    border-bottom: 0;
}

.gsc-above-wrapper-area-container {
    border: 0;
    margin: 0;
}

.gsc-result-info-container {
    border:         0;
    padding-bottom: 0;
    padding-top:    0;
}

.gsc-table-result {
    margin-bottom: 0;
}

.gsc-webResult.gsc-result {
    margin-bottom: 0;
}

.gsc-resultsHeader {
    display: none;
}

