// Animated M
@keyframes reveal-bg {
  0% {
    transform: scale(1.25);
  }

  to {
    transform: scale(1);
  }
}

@keyframes mon-m {
  0% {
    clip-path: polygon(
      100% 0,
      50% 0,
      0 0,
      0 0,
      0 100%,
      0 100%,
      27% 100%,
      50% 100%,
      50% 100%,
      73.6% 100%,
      100% 100%,
      100% 100%,
      100% 0,
      57.45% 0
    );
  }

  50% {
    clip-path: polygon(
      100% 0,
      50% 0,
      0 0,
      0 0,
      0 100%,
      0 100%,
      27% 100%,
      50% 100%,
      50% 100%,
      73.6% 100%,
      100% 100%,
      100% 100%,
      100% 0,
      57.45% 0
    );
  }

  to {
    clip-path: polygon(
      57.45% 0,
      50% 33%,
      42% 0,
      0 0,
      0 100%,
      27% 100%,
      27% 59%,
      37% 100%,
      63.4% 100%,
      73.6% 59%,
      73.6% 100%,
      100% 100%,
      100% 0,
      57.45% 0
    );
  }
}

.trim {
  background-color: #006ada;
  border-color: #006ada;
  color: #fff;
}

.semi-transparent {
  opacity: 0.65;
}

.monash-m__wrapper {
  height: 100%;
}

.monash-m__wrapper {
  transform: scaleX(0.25) translateX(150%);
}

.monash-m-new {
  height: 100%;
  width: 384px;
  /* padding-bottom: 234%; */
  opacity: 0.35;
  clip-path: url(#swipe__clip-path);
  -webkit-clip-path: polygon(
    57.45% 0,
    50% 33%,
    42% 0,
    0 0,
    0 100%,
    27% 100%,
    27% 59%,
    37% 100%,
    63.4% 100%,
    73.6% 59%,
    73.6% 100%,
    100% 100%,
    100% 0,
    57.45% 0
  );
  animation: mon-m 2s ease, bg 8s ease infinite;
  margin-bottom: -1px;
}

.monash-m-new .background-image {
  background-size: auto 100%;
  background-position: 50% 0;
  height: 100%;
  animation: reveal-bg 3s ease;
}

@import 'medium', 'wide', 'print';
