// Animated M (Wide)
@media only screen and (min-width: 60em) {
  .monash-m__wrapper {
    transform: scaleX(0.5) translateX(50%);
  }

  .monash-m-new {
    width: 340px;
  }

  .microbanner {
    #microbanner-search-form + .monash-m__wrapper {
      transform: scaleX(0.17) translateX(25%);
      position: absolute;
      right: -190px;
    }
    .monash-m__wrapper {
        transform: scaleX(0.17) translateX(25%);
        position: absolute;
        right: -110px;
      }
  }

  .microbanner .monash-m-new {
    width: 340px;
  }
}

.microbanner .monash-m-new {
  display: none;
  @include media-query('wide') {
    display: block;
  }
}
