<div class="microbanner">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-8 microbanner-column">
        <h1>POLICY BANK</h1>
      </div>
      <div class="col-md-4 microbanner-column">
        <form
          method="get"
          action="https://www.monash.edu/policy-bank/redesign/search-assets-for-dev/search-results-dynamic/_nocache?SQ_DESIGN_NAME=mango-new"
          id="microbanner-search-form"
        >
          <!-- This is to be replaced -->
          <span class="hidden visuallyhidden banner-search__destination"
            >https://www.monash.edu/policy-bank/redesign/search-assets-for-dev/search-results-dynamic/_nocache?SQ_DESIGN_NAME=mango-new</span
          >
          <label class="microbanner__search-label" for="microbanner-search">Search the Policy Bank Site for Policies and Procedures</label>
            <input
            type="text"
            id="microbanner-search"
            name="query"
            class=""
            placeholder="Search the Policy Bank"
            class="align-middle"
          />
          <input
            type="text"
            class="visuallyhidden hidden"
            value="mango-new"
            name="SQ_DESIGN_NAME"
          />
          <button type="button" class="microbanner-search-btn">
            <span class="visuallyhidden">Search the Policy Bank</span>
          </button>
        </form>
        <!-- Animated M -->
        <div class="monash-m__wrapper monash-m-microbanner">
          <div
            class="monash-m-new bg-white semi-transparent"
            style="clip-path: url(#swipe__clip-path);"
          >
            <svg class="clip-svg">
              <defs>
                <clipPath
                  id="swipe__clip-path"
                  clipPathUnits="objectBoundingBox"
                >
                  <polygon
                    points="0.5745 0, 0.5 0.33, 0.42 0, 0 0, 0 1, 0.27 1, 0.27 0.59, 0.37 1, 0.634 1, 0.736 0.59, 0.736 1, 1 1, 1 0, 0.5745 0"
                  ></polygon>
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <img
    src="https://www.monash.edu/__data/assets/image/0004/2366275/2d-cubes-blue-ruby-banner.jpg" 
    alt=""
    class="microbanner-img"
  /> <!--https://www.monash.edu/__data/assets/image/0007/2310559/policy-bank-mango-rework-microbanner-mobile.png"-->
</div>
<br>
<div class="microbanner microbanner--no-search">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-8 microbanner-column">
        </div>
        <div class="col-md-4 microbanner-column">
          <!-- Animated M -->
          <div class="monash-m__wrapper monash-m-microbanner">
            <div
              class="monash-m-new bg-white semi-transparent"
              style="clip-path: url(#swipe__clip-path);"
            >
              <svg class="clip-svg">
                <defs>
                  <clipPath
                    id="swipe__clip-path"
                    clipPathUnits="objectBoundingBox"
                  >
                    <polygon
                      points="0.5745 0, 0.5 0.33, 0.42 0, 0 0, 0 1, 0.27 1, 0.27 0.59, 0.37 1, 0.634 1, 0.736 0.59, 0.736 1, 1 1, 1 0, 0.5745 0"
                    ></polygon>
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <img
      src="https://www.monash.edu/__data/assets/image/0004/2366275/2d-cubes-blue-ruby-banner.jpg" 
      alt=""
      class="microbanner-img"
    /> <!--https://www.monash.edu/__data/assets/image/0007/2310559/policy-bank-mango-rework-microbanner-mobile.png"-->
  </div>
  