<!--@@ See: source/matrix/nested-content/layout/layout-micro-banner.html (Id: #509200 and #510170) @@-->
<div class="search-global">
<div class="jumbotron jumbotron-fluid search-global__banner search-global__banner-medium">
	<div class="page-wrapper">

        <strong class="h1 text-center">Search User Guides</strong>

        <form action="" method="GET">
            <input type="hidden" name="collection" value="monash-main-search">
            <input type="hidden" name="form" value="matrix">
            <input type="hidden" name="profile" value="_default">

            <div class="input-group">
                <div class="input-group-addon search-global__icon-search">
                    <img src="http://mon-dev.clients.squiz.net/__data/assets/git_bridge/0006/509343/deploy/mysource_files/icon-search.svg" alt="">
                </div>

                <input required name="query" id="main-query" title="Search query" type="search" value="" accesskey="q" class="form-control input-lg query">

                <div class="input-group-addon">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

	</div>
</div>
</div>

<!-- Hide search in navbar -->
<style>
    #header-search {
        display: none;
    }
</style>