<svg style="display:none;">

    <symbol id="icon-search">
        <path fill="#ffffff" d="M21.248 18.304l-2.688 2.688 10.752 11.008 2.688-2.688z"/>
        <path fill="#ffffff" d="M12.8 3.84c4.992 0 8.96 3.968 8.96 8.96s-3.968 8.96-8.96 8.96-8.96-3.968-8.96-8.96 3.968-8.96 8.96-8.96zM12.8 0c-7.040 0-12.8 5.76-12.8 12.8s5.76 12.8 12.8 12.8 12.8-5.76 12.8-12.8-5.76-12.8-12.8-12.8v0z"/>
    </symbol>

    <symbol id="envelope">
        <path d="M25.11,21.51a0.5,0.5,0,0,1-.34-0.14L19,16a0.5,0.5,0,1,1,.69-0.73l5.75,5.4A0.5,0.5,0,0,1,25.11,21.51Z" transform="translate(0 -4.48)"/>
        <path d="M5.9,21.51a0.5,0.5,0,0,1-.34-0.86l5.76-5.4A0.5,0.5,0,1,1,12,16l-5.76,5.4A0.5,0.5,0,0,1,5.9,21.51Z" transform="translate(0 -4.48)"/>
        <path d="M28.51,26.53H2.5A2.5,2.5,0,0,1,0,24V7a2.5,2.5,0,0,1,2.5-2.5h26A2.5,2.5,0,0,1,31,7V24A2.5,2.5,0,0,1,28.51,26.53Zm-26-21A1.5,1.5,0,0,0,1,7V24a1.5,1.5,0,0,0,1.5,1.5h26A1.5,1.5,0,0,0,30,24V7a1.5,1.5,0,0,0-1.5-1.5H2.5Z" transform="translate(0 -4.48)"/>
        <path d="M15.51,18a2.8,2.8,0,0,1-1.84-.66L0.83,6.16A0.5,0.5,0,1,1,1.49,5.4L14.33,16.6a1.87,1.87,0,0,0,2.36,0L29.51,5.42a0.5,0.5,0,1,1,.66.75L17.34,17.35A2.79,2.79,0,0,1,15.51,18Z" transform="translate(0 -4.48)"/>
    </symbol>

    <symbol id="book">
        <path d="M13,0A5.51,5.51,0,0,0,7.53,6h0V55a5,5,0,0,0,5,5h40V0H13ZM9.5,55V10a5,5,0,0,0,3,1V58A3,3,0,0,1,9.5,55Zm41,3h-36V11h3V36.2a1.48,1.48,0,0,0,1.1,1.44,1.56,1.56,0,0,0,.41.06h0l0.13,0a1.44,1.44,0,0,0,.3-0.07l0.14-.06a1.44,1.44,0,0,0,.26-0.16L20,37.32A1.47,1.47,0,0,0,20.28,37l4.22-7,4.22,7a1.47,1.47,0,0,0,1.55.69H30.4a1.49,1.49,0,0,0,1.1-1.44V11h19V58h0ZM29.64,9.48h0l-0.14.27v0L29.4,10l0.1,0.15v24.2l-5-8.33-5,8.33V10.24L21.12,7h9.76ZM32.12,9l2-4H19.88l-2,4H13.21A3.65,3.65,0,0,1,9.52,5.86a3.46,3.46,0,0,1,.89-2.7A3.5,3.5,0,0,1,13,2H50.5V3h-5a1,1,0,0,0,0,2h5V6h-4a1,1,0,0,0,0,2h4V9H32.12Z" transform="translate(-7.5)"/>
    </symbol>

    <symbol id="education">
            <path d="M506.64,125.84l-247.21-105a8.8,8.8,0,0,0-6.87,0L5.36,125.84A8.79,8.79,0,0,0,8.8,142.73H31.23V167A8.79,8.79,0,0,0,40,175.81H50.57v31.13a8.79,8.79,0,0,0,8.79,8.79H80.17V394.42H59.37a8.79,8.79,0,0,0-8.79,8.79v31.13H30.47a8.79,8.79,0,0,0-8.79,8.79v39.92a8.79,8.79,0,0,0,8.79,8.79H481.54a8.79,8.79,0,0,0,8.79-8.79V443.14a8.79,8.79,0,0,0-8.79-8.79h-20.1V403.21a8.79,8.79,0,0,0-8.79-8.79H431.83V215.73h20.81a8.79,8.79,0,0,0,8.79-8.79V175.81H472a8.79,8.79,0,0,0,8.79-8.79V142.73h22.44A8.79,8.79,0,0,0,506.64,125.84ZM256,38.5l204,86.64H52ZM472.74,451.93v22.34H39.26V451.93H472.74ZM443.85,412v22.34H68.16V412H443.85ZM97.76,394.42V215.73h35.61V394.42H97.76Zm53.2,0V215.73h69.66V394.42H151Zm87.24,0V215.73h35.61V394.42H238.2Zm53.2,0V215.73H361V394.42H291.39Zm87.24,0V215.73h35.61V394.42H378.63Zm65.21-196.27H68.16V175.81H443.85v22.34h0Zm19.34-39.92H48.82v-15.5H463.19v15.5h0Z" transform="translate(0 -20.15)"/>
            <path d="M256,60.59a25.82,25.82,0,1,0,25.82,25.82A25.84,25.84,0,0,0,256,60.59Zm0,34a8.23,8.23,0,1,1,8.23-8.23A8.24,8.24,0,0,1,256,94.64Z" transform="translate(0 -20.15)"/>
    </symbol>

</svg>