<div class="content bg-white l--content">
<div class="content-wrapper">
<h1 class="visuallyhidden">Search</h1>

<section class="search-global">

    <!-- import:content source:modules/search-global/search-global__banner/html/index.html -->

    <!-- import:content source:modules/search-global/search-global__nav/html/index.html -->

    <!-- import:content source:modules/search-global/search-global__results/html/index.html -->

    <!-- import:content source:modules/search-global/search-global__related/html/index.html -->

</section>
</div>
</div>