.timeline {
    background-color: $timeline-blue--dark;
    margin:           0 -1rem pxToRem(-45);
    position:         relative;
    z-index:          1;
}

.timeline--loading {
    min-height: pxToRem(595);

    .timeline__slider-wrapper {
        visibility: hidden;
    }

    .timeline__slider-item {
        opacity: 0;
    }
}

.timeline--loading-iframe::before {
    background: $timeline-black;
    content:    '';
    height:     100%;
    opacity:    .5;
    position:   absolute;
    top:        0;
    width:      100%;
    z-index:    20;
}

.timeline--loading-iframe::after {
    margin-top: pxToRem(-50);
    z-index:    21;
}

.timeline--loading-iframe::after,
.timeline--loading::after {
    background:  url('mysource_files/timeline-loader.svg');
    content:     '';
    display:     block;
    height:      pxToRem(100);
    left:        50%;
    margin-left: pxToRem(-50);
    position:    absolute;
    top:         50%;
    width:       pxToRem(100);
}

.timeline--loading::after {
    margin-top: pxToRem(-110);
}

.timeline__header {
    padding:    pxToRem(82) pxToRem(15) 0;
    text-align: center;
}

.timeline-heading,
.timeline-subheading {
    color:          $timeline-white;
    font-family:    $font-family__serif;
    letter-spacing: pxToRem(3);
    text-transform: uppercase;
}

.timeline-heading {
    font-size:   pxToRem(15);
    line-height: 2.5;
    margin:      0;
}

.timeline-subheading {
    font-size:   pxToRem(10);
    line-height: 1.3;
    margin:      0;
}

.timeline__banner {
    height:     100%;
    object-fit: cover;
    position:   absolute;
    width:      100%;
    z-index:    -1;
}

.page-timeline-landing {
    overflow-y: hidden;
}

.timeline-content {
    @include content-color-scheme();
    display:        flex;
    flex-direction: column;

    h1 {
        font-family:   $font-family__condensed;
        font-weight:   $font-light;
        margin-bottom: pxToRem(23);
        margin-top:    pxToRem(22);
        padding-top:   0;
    }
}

.timeline-banner {
    display: none;
}

.timeline-content-lhs {
    flex-basis:  pxToRem(50);
    flex-shrink: 0;
    margin-top:  0;
    order:       2;
    position:    relative;
    z-index:     1;
}

.timeline-content-lhs__banner,
.timeline-lhs-heading,
.timeline-lhs-subheading {
    display: none;
}

.timeline-content-lhs__banner {
    position: absolute;
    top:      0;
    z-index:  -1;
}

.timeline-content-lhs__content {
    color:      $timeline-white;
    height:     100%;
    padding:    0;
    text-align: center;
    width:      100%;
}

.timeline-lhs-heading,
.timeline-lhs-subheading {
    color:          $timeline-white;
    font-family:    $font-family__serif;
    font-weight:    $font-medium;
    text-transform: uppercase;
}

.timeline-lhs-heading {
    font-size:      pxToRem(20);
    letter-spacing: pxToRem(6);
    line-height:    1.4;
    margin-top:     0;
}

.timeline-lhs-subheading {
    font-size:      pxToRem(12);
    letter-spacing: pxToRem(3);
    line-height:    1.1667;
}

.timeline-lhs-cta::before {
    content:     '\f104';
    display:     inline-block;
    font-family: 'FontAwesome';
    font-size:   pxToRem(22);
    left:        pxToRem(20);
    line-height: 1;
    position:    absolute;
    top:         pxToRem(13);
    transition:  all .2s;
}

.timeline-lhs-cta {
    display:        inline-block;
    line-height:    1.375;
    min-width:      pxToRem(180);
    padding-bottom: pxToRem(14);
    padding-top:    pxToRem(14);
    position:       relative;
}

.timeline-lhs-link {
    text-decoration: none;
}

.timeline-lhs-link:hover,
.timeline-lhs-link:active,
.timeline-lhs-link:focus {
    .timeline-lhs-cta::before {
        left:            pxToRem(15);
        text-decoration: none;
    }

    .timeline-lhs-cta {
        opacity: .75;
    }
}

.timeline-lhs-cta--white::before,
.timeline-lhs-cta--white {
    color: $timeline-white;
}

.timeline-content-main {
    flex-grow:   1;
    padding-top: pxToRem(5);
}

.timeline-content__sm {
    padding-bottom: pxToRem(20);
    padding-top:    pxToRem(15);
}

.timeline-content__quote {
    border-top:  pxToRem(2) solid currentColor;
    color:       $timeline-blue;
    font-family: $font-family__condensed;
    font-size:   pxToRem(24);
    font-weight: $font-light;
    margin:      pxToRem(38) 0;
    padding-top: pxToRem(18);

    .quotes::before,
    .quotes::after {
        content: '"';
    }
}

.timeline-content--iframed {
    .header,
    .footer,
    .timeline-banner,
    .timeline-content-lhs,
    .breadcrumbs {
        display: none;
    }

    .content-wrapper {
        margin:  0;
        padding: 0;
    }
}
