.timeline__header {
    padding: pxToRem(82) pxToRem(40) 0;
}

.timeline-heading {
    font-size: pxToRem(20);
}

.timeline-subheading {
    font-size:   pxToRem(11);
    line-height: 1.8182;
}

.timeline-content__quote {
    font-size: pxToRem(28);
}

.timeline-content__sm {
    padding-bottom: pxToRem(35);
    padding-top:    pxToRem(25);
}

.timeline-content {
    padding-bottom: pxToRem(50);
}

.timeline-banner {
    display: block;
}

.timeline-lhs-cta {
    margin-top: pxToRem(45);
}

.timeline--loading {
    min-height: pxToRem(730);
}
