$timeline-black--alpha:   rgba(0, 0, 0, .25);
$timeline-black:          #000;
$timeline-blue--dark:     #0c213c;
$timeline-blue:           #006dae;
$timeline-charcoal--mid:  #505050;
$timeline-charcoal:       #282828;
$timeline-fuchsia:        #c90095;
$timeline-green:          #006f29;
$timeline-grey--light:    #cfcfcf;
$timeline-grey--mid-dark: #676767;
$timeline-grey--mid:      #969696;
$timeline-grey--standard: #e6e6e6;
$timeline-mon-blue:       #006cab;
$timeline-purple:         #6f64a9;
$timeline-ruby:           #c800d9;
$timeline-white--alpha:   rgba(255, 255, 255, .5);
$timeline-white:          #fff;

$content-colours-map: (
    green:   $timeline-green,
    ruby:    $timeline-ruby,
    purple:  $timeline-purple,
    fuchsia: $timeline-fuchsia
);

@mixin content-color-scheme() {
    @each $colorName, $colorValue in $content-colours-map {
        &--#{$colorName} {
            .timeline-content__sm [class*="addthis_button_"],
            .timeline-lhs-cta {
                background-color: #{$colorValue};
            }

            h1,
            .timeline-content__quote {
                color: #{$colorValue};
            }

            .timeline-content__quote {
                border-top-color: #{$colorValue};
            }
        }
    }
}

