.timeline {
    margin: 0;
}

.timeline__header {
    padding-top: pxToRem(35);
}

.timeline-heading {
    font-size:   pxToRem(24);
    line-height: 2.0833;
}

.timeline-subheading {
    font-size:   pxToRem(12);
    line-height: 1.8333;
}

.timeline-content {
    align-items:    flex-start;
    flex-direction: row;
    padding-bottom: pxToRem(100);

    h1,
    .timeline-card__subheading {
        max-width: pxToRem(380);
    }

    .timeline-lhs-cta--white {
        background-color: $timeline-white;
    }
}

.timeline-content-lhs {
    flex-basis: pxToRem(272);
    height:     100%;
    margin-top: pxToRem(65);
    order:      1;
}

.timeline-lhs-link {
    display:        block;
    height:         100%;
    padding-bottom: pxToRem(240);
    width:          100%;
}

.timeline-content-main {
    margin-left: pxToRem(28);
    max-width:   pxToRem(590);
    order:       2;
}

.timeline-content-lhs__banner,
.timeline-lhs-heading,
.timeline-lhs-subheading {
    display: block;
}

.timeline-content-lhs__content {
    padding: pxToRem(225) pxToRem(40) 0;
}

.timeline-content__sm {
    padding-bottom: pxToRem(45);
    padding-top:    pxToRem(35);
}

.timeline-lhs-cta {
    display:        block;
    margin-left:    auto;
    margin-right:   auto;
    min-width:      none;
    padding-bottom: pxToRem(14);
    padding-top:    pxToRem(14);
}

.timeline-lhs-cta--white::before {
    color: $timeline-blue;
}

.timeline-lhs-cta--white {
    color: $timeline-charcoal--mid;
}
