.inside-page {
    .content-inner__main {
        > h1 {
            margin-top: 0;
        }
    }
}

.related {
    margin-bottom: 1rem;
    overflow:      hidden;
    position:      relative;

    &__heading {
        font-family: $font-family__serif;
        font-size:   pxToRem(21);
        margin:      .5rem 0;
    }

    &:first-child {
        margin-top: pxToRem(35);
    }

    > div {
        margin-left:     -1px;

        a {
            border-left:     1px solid $base-light-charcoal;
            color:           $base-light-charcoal;
            font-size:       pxToRem(12);
            margin:          .25em 0;
            padding:         0 1em;
            text-decoration: underline;

            &:hover,
            &:focus,
            &:active {
                color: $base-monash-blue;
            }

            &:first-child {
                padding-left: 0;
            }
        }
    }
}
