.inside-page {
    .content-inner__main {
        > h1 {
            margin-top: .67em;
        }
    }
}

.related {

    &:first-child {
        margin-top: pxToRem(55);
    }

    &__heading {
        font-size: pxToRem(24);
    }

    > div {
        a {
            font-size: pxToRem(16);
        }
    }
}
