<div class="header-row">
    <div class="content-wrapper">
        <!-- import:content source:modules/global-header/html/fragments/_header-utility-links.html -->
        <!-- import:content source:modules/global-header/html/fragments/_header-logo-desktop.html -->
    </div>
</div>
<div class="header-row navbar--light-grey megamenu-monash-blue">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
            <!-- import:content source:modules/global-header/html/fragments/_header-nav-no-home-link.html -->
            <!-- import:content source:modules/global-header/html/fragments/_header-logo-mobile.html -->
            <!-- import:content source:modules/search-header/html/index.html -->
        </div>

    </div>
</div>
