<div class="header-row">
    <div class="content-wrapper">
       	{% include "./fragments/_header-utility-links.html"  %}
        {% include "./fragments/_header-logo-desktop.html" %}
    </div>
</div>
<div class="header-row navbar--monash-blue megamenu--light-charcoal">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
          {% include "./fragments/header-nav.html" %}
          {% include "./fragments/_header-logo-mobile.html" %}
          {% include "../../search-header/html/index.html" %}
        </div>
        {% include "../../global-header/html/fragments/_header-site-title-mobile.html" %}
    </div>
</div>
