<div class="header-row">
    <div class="content-wrapper">
        <!-- import:content source:modules/global-header/html/fragments/_header-utility-links.html -->
        <!-- import:content source:modules/global-header/html/fragments/_header-logo-desktop-faculty.html -->
    </div>
</div>
<div class="header-row navbar--brown megamenu--medium-grey">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
            <!-- import:content source:modules/global-header/html/fragments/_header-nav.html -->
            <!-- import:content source:modules/global-header/html/fragments/_header-logo-mobile.html -->
            <!-- import:content source:modules/search-header/html/index.html -->
        </div>
        <!-- import:content source:modules/global-header/html/fragments/_header-site-title-mobile.html -->
    </div>
</div>
