<header id="header" class="header" role="header">
<div class="header-row">
    <div class="content-wrapper">
       {% include "./fragments/_header-utility-links.html"  %}
        {% include "./fragments/_header-logo-desktop.html" %}
    </div>
</div>
<div class="header-row navbar--medium-grey megamenu--monash-blue">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
           {% include "./fragments/header-nav.html" %}
          {% include "./fragments/_header-logo-mobile.html" %}
          {% include "../../search-header/html/index.html" %}
        </div>
        <div id="site-heading-mobile" class="header-row__site-title desktop-hidden">
            {# <div class="site-title__sub"><a href="#" class="site-title__sub-link"><span class="site-title__sub-link-arrow">&lt;</span> Faculty of Medicine</a></div> #}
            <div class="site-title__main">Policy Bank</div>
        <!-- /.header-row__site-title -->
        </div>
        

    </div>
</div>
</header>