<div class="header-row">
    <div class="content-wrapper">
        <!-- import:content source:modules/global-header/html/fragments/_header-utility-links.html -->
        <!-- import:content source:modules/global-header/html/fragments/_header-logo-desktop.html -->
    </div>
</div>
<div class="header-row">
    <div class="content-wrapper">
        <p>This test page aims to display all the navbar colour variations and the behaviour (in terms of styling) of the Search Magnifying glass when the search form is active/open.</p>
        <p>The Mega menu has been removed, as well as the search form, to avoid conflicting since multiple instances of the navbar are used.</p>
        <p>The active state of the Search Magnifying glass is always shown, as if the search form would be active/open</p>
        <p>Colour variations used as per palette defined in Matrix implementation.</p>
    </div>
</div>
<div style="height: 40px"></div>
<div class="header-row">
    <div class="content-wrapper">
        <h3>Black:</h3>
    </div>
</div>
<div class="header-row navbar--black megamenu--monash-blue">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
            <!-- import:content source:modules/global-header/html/fragments/_inventory-only-header-nav--no-mega-menu.html -->
            <!-- import:content source:modules/global-header/html/fragments/_header-logo-mobile.html -->
            <!-- import:content source:modules/search-header/html/inventory-only-index--no-form.html -->
        </div>
    </div>
</div>
<div style="height: 40px"></div>
<div class="header-row">
    <div class="content-wrapper">
        <h3>Blue:</h3>
    </div>
</div>
<div class="header-row navbar--aa-blue megamenu--monash-blue">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
            <!-- import:content source:modules/global-header/html/fragments/_inventory-only-header-nav--no-mega-menu.html -->
            <!-- import:content source:modules/global-header/html/fragments/_header-logo-mobile.html -->
            <!-- import:content source:modules/search-header/html/inventory-only-index--no-form.html -->
        </div>
    </div>
</div>
<div style="height: 40px"></div>
<div class="header-row">
    <div class="content-wrapper">
        <h3>Charcoal Grey:</h3>
    </div>
</div>
<div class="header-row navbar--aa-charcoal megamenu--monash-blue">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
            <!-- import:content source:modules/global-header/html/fragments/_inventory-only-header-nav--no-mega-menu.html -->
            <!-- import:content source:modules/global-header/html/fragments/_header-logo-mobile.html -->
            <!-- import:content source:modules/search-header/html/inventory-only-index--no-form.html -->
        </div>
    </div>
</div>
<div style="height: 40px"></div>
<div class="header-row">
    <div class="content-wrapper">
        <h3>Fuchsia</h3>
    </div>
</div>
<div class="header-row navbar--aa-fuchsia megamenu--monash-blue">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
            <!-- import:content source:modules/global-header/html/fragments/_inventory-only-header-nav--no-mega-menu.html -->
            <!-- import:content source:modules/global-header/html/fragments/_header-logo-mobile.html -->
            <!-- import:content source:modules/search-header/html/inventory-only-index--no-form.html -->
        </div>
    </div>
</div>
<div style="height: 40px"></div>
<div class="header-row">
    <div class="content-wrapper">
        <h3>Green:</h3>
    </div>
</div>
<div class="header-row navbar--aa-green megamenu--monash-blue">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
            <!-- import:content source:modules/global-header/html/fragments/_inventory-only-header-nav--no-mega-menu.html -->
            <!-- import:content source:modules/global-header/html/fragments/_header-logo-mobile.html -->
            <!-- import:content source:modules/search-header/html/inventory-only-index--no-form.html -->
        </div>
    </div>
</div>
<div style="height: 40px"></div>
<div class="header-row">
    <div class="content-wrapper">
        <h3>Monash Blue:</h3>
    </div>
</div>
<div class="header-row navbar--monash-blue megamenu--monash-blue">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
            <!-- import:content source:modules/global-header/html/fragments/_inventory-only-header-nav--no-mega-menu.html -->
            <!-- import:content source:modules/global-header/html/fragments/_header-logo-mobile.html -->
            <!-- import:content source:modules/search-header/html/inventory-only-index--no-form.html -->
        </div>
    </div>
</div>
<div style="height: 40px"></div>
<div class="header-row">
    <div class="content-wrapper">
        <h3>Olive:</h3>
    </div>
</div>
<div class="header-row navbar--aa-olive megamenu--monash-blue">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
            <!-- import:content source:modules/global-header/html/fragments/_inventory-only-header-nav--no-mega-menu.html -->
            <!-- import:content source:modules/global-header/html/fragments/_header-logo-mobile.html -->
            <!-- import:content source:modules/search-header/html/inventory-only-index--no-form.html -->
        </div>
    </div>
</div>
<div style="height: 40px"></div>
<div class="header-row">
    <div class="content-wrapper">
        <h3>Orange:</h3>
    </div>
</div>
<div class="header-row navbar--aa-orange megamenu--monash-blue">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
            <!-- import:content source:modules/global-header/html/fragments/_inventory-only-header-nav--no-mega-menu.html -->
            <!-- import:content source:modules/global-header/html/fragments/_header-logo-mobile.html -->
            <!-- import:content source:modules/search-header/html/inventory-only-index--no-form.html -->
        </div>
    </div>
</div>
<div style="height: 40px"></div>
<div class="header-row">
    <div class="content-wrapper">
        <h3>Purple:</h3>
    </div>
</div>
<div class="header-row navbar--aa-purple megamenu--monash-blue">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
            <!-- import:content source:modules/global-header/html/fragments/_inventory-only-header-nav--no-mega-menu.html -->
            <!-- import:content source:modules/global-header/html/fragments/_header-logo-mobile.html -->
            <!-- import:content source:modules/search-header/html/inventory-only-index--no-form.html -->
        </div>
    </div>
</div>
<div style="height: 40px"></div>
<div class="header-row">
    <div class="content-wrapper">
        <h3>Red:</h3>
    </div>
</div>
<div class="header-row navbar--aa-red megamenu--monash-blue">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
            <!-- import:content source:modules/global-header/html/fragments/_inventory-only-header-nav--no-mega-menu.html -->
            <!-- import:content source:modules/global-header/html/fragments/_header-logo-mobile.html -->
            <!-- import:content source:modules/search-header/html/inventory-only-index--no-form.html -->
        </div>
    </div>
</div>
<div style="height: 40px"></div>
<div class="header-row">
    <div class="content-wrapper">
        <h3>Ruby:</h3>
    </div>
</div>
<div class="header-row navbar--aa-ruby megamenu--monash-blue">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
            <!-- import:content source:modules/global-header/html/fragments/_inventory-only-header-nav--no-mega-menu.html -->
            <!-- import:content source:modules/global-header/html/fragments/_header-logo-mobile.html -->
            <!-- import:content source:modules/search-header/html/inventory-only-index--no-form.html -->
        </div>
    </div>
</div>
<div style="height: 40px"></div>
<div class="header-row">
    <div class="content-wrapper">
        <h3>Umber:</h3>
    </div>
</div>
<div class="header-row navbar--aa-umber megamenu--monash-blue">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
            <!-- import:content source:modules/global-header/html/fragments/_inventory-only-header-nav--no-mega-menu.html -->
            <!-- import:content source:modules/global-header/html/fragments/_header-logo-mobile.html -->
            <!-- import:content source:modules/search-header/html/inventory-only-index--no-form.html -->
        </div>
    </div>
</div>
<div style="height: 40px"></div>
<div class="header-row">
    <div class="content-wrapper">
        <h3>White:</h3>
    </div>
</div>
<div class="header-row navbar--white megamenu--monash-blue">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
            <!-- import:content source:modules/global-header/html/fragments/_inventory-only-header-nav--no-mega-menu.html -->
            <!-- import:content source:modules/global-header/html/fragments/_header-logo-mobile.html -->
            <!-- import:content source:modules/search-header/html/inventory-only-index--no-form.html -->
        </div>
    </div>
</div>
<div style="height: 40px"></div>
<div class="header-row">
    <div class="content-wrapper">
        <h3>Light Grey:</h3>
    </div>
</div>
<div class="header-row navbar--light-grey megamenu--monash-blue">
    <div class="page-wrapper">
        <div class="content-wrapper flex-wrapper ">
            <!-- import:content source:modules/global-header/html/fragments/_inventory-only-header-nav--no-mega-menu.html -->
            <!-- import:content source:modules/global-header/html/fragments/_header-logo-mobile.html -->
            <!-- import:content source:modules/search-header/html/inventory-only-index--no-form.html -->
        </div>
    </div>
</div>
