<nav id="lhs-nav" class="lhs-nav">
    <ul class="lhs-nav-list" aria-expanded="true">
        <!--@@ Parent - level 2 @@-->
        <li class="lhs-nav-list__item--parent">
            <a href="http://www.monash.edu#zz-site-section-nav-02" class="lhs-nav-list__item-link--parent">Navigation heading</a>
            <ul class="lhs-nav-list mobile-hidden" aria-expanded="true">
                <!--@@ Sub - level 3 @@-->
                <li class="js-site-section-nav-item lhs-nav-list__item lhs-nav-list__item--lvl3">
                    <a href="http://www.monash.edu#zz-site-section-nav-0301" class="js-site-section-nav-link lhs-nav-list__item-link">Level 3.1</a>
                    <ul class="lhs-nav-list" aria-expanded="false">
                        <!--@@ Sub - level 4 @@-->
                        <li class="js-site-section-nav-item lhs-nav-list__item lhs-nav-list__item--lvl4">
                            <a href="http://www.monash.edu#zz-site-section-nav-0401" class="js-site-section-nav-link lhs-nav-list__item-link lhs-nav-list__item-link--lvl4">Level 4.1</a>
                        </li>
                        <li class="js-site-section-nav-item lhs-nav-list__item lhs-nav-list__item--lvl4">
                            <a href="http://www.monash.edu#zz-site-section-nav-0402" class="js-site-section-nav-link lhs-nav-list__item-link lhs-nav-list__item-link--lvl4">Level 4.2</a>
                            <ul class="lhs-nav-list" aria-expanded="false">
                                <!--@@ Sub - level 5 @@-->
                                <li class="js-site-section-nav-item lhs-nav-list__item lhs-nav-list__item--lvl5">
                                    <a href="http://www.monash.edu#zz-site-section-nav-0501" class="js-site-section-nav-link lhs-nav-list__item-link lhs-nav-list__item-link--lvl5">Level 5.1</a>
                                </li>
                                <li class="js-site-section-nav-item lhs-nav-list__item lhs-nav-list__item--lvl5">
                                    <a href="http://www.monash.edu#zz-site-section-nav-0502" class="js-site-section-nav-link lhs-nav-list__item-link lhs-nav-list__item-link lhs-nav-list__item-link--lvl5">Level 5.2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="js-site-section-nav-item lhs-nav-list__item lhs-nav-list__item--lvl4">
                            <a href="http://www.monash.edu#zz-site-section-nav-0403" class="js-site-section-nav-link lhs-nav-list__item-link lhs-nav-list__item-link--lvl4">Level 4.3</a>
                        </li>
                    </ul>
                </li>
                <li class="js-site-section-nav-item lhs-nav-list__item lhs-nav-list__item--lvl3">
                    <a href="http://www.monash.edu#zz-site-section-nav-0302" class="js-site-section-nav-link lhs-nav-list__item-link">Level 3.2</a>
                </li>
                <li class="js-site-section-nav-item lhs-nav-list__item--active lhs-nav-list__item--lvl3">
                    <a href="http://www.monash.edu#zz-site-section-nav-0303" class="js-site-section-nav-link lhs-nav-list__item-link">Level 3.3 (Parent)</a>
                    <ul class="lhs-nav-list" aria-expanded="false">
                        <!--@@ Sub - level 4 @@-->
                        <li class="js-site-section-nav-item lhs-nav-list__item lhs-nav-list__item--lvl4">
                            <a href="http://www.monash.edu#zz-site-section-nav-0404" class="js-site-section-nav-link lhs-nav-list__item-link lhs-nav-list__item-link--lvl4">Level 4.4</a>
                        </li>
                        <li class="js-site-section-nav-item lhs-nav-list__item--active lhs-nav-list__item--lvl4">
                            <a href="http://www.monash.edu#zz-site-section-nav-0405" class="js-site-section-nav-link lhs-nav-list__item-link lhs-nav-list__item-link--lvl4">Level 4.5 (Parent)</a>
                            <ul class="lhs-nav-list" aria-expanded="false">
                                <!--@@ Sub - level 5 @@-->
                                <li class="js-site-section-nav-item lhs-nav-list__item lhs-nav-list__item--lvl5">
                                    <a href="http://www.monash.edu#zz-site-section-nav-0503" class="js-site-section-nav-link lhs-nav-list__item-link lhs-nav-list__item-link--lvl5">Level 5.3</a>
                                </li>
                                <li class="js-site-section-nav-item lhs-nav-list__item--current lhs-nav-list__item--lvl5">
                                    <a href="http://www.monash.edu#zz-site-section-nav-0504" class="lhs-nav-list__item-link--current lhs-nav-list__item-link lhs-nav-list__item-link--lvl5">Level 5.4 (Current)</a>
                                </li>
                            </ul>
                        </li>
                        <li class="js-site-section-nav-item lhs-nav-list__item lhs-nav-list__item--lvl4">
                            <a href="http://www.monash.edu#zz-site-section-nav-0406" class="js-site-section-nav-link lhs-nav-list__item-link lhs-nav-list__item-link--lvl4">Level 4.6</a>
                        </li>
                    </ul>
                </li>
                <li class="js-site-section-nav-item lhs-nav-list__item lhs-nav-list__item--lvl3">
                    <a href="http://www.monash.edu#zz-site-section-nav-0304" class="js-site-section-nav-link lhs-nav-list__item-link">Level 3.4</a>
                </li>
                <li class="js-site-section-nav-item lhs-nav-list__item lhs-nav-list__item--lvl3">
                    <a href="http://www.monash.edu#zz-site-section-nav-0305" class="js-site-section-nav-link lhs-nav-list__item-link">Level 3.5</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
