<ul class="policy-pyramid">
  <li>
    <span>Monash Act</span>
    <div class="pyramid-line line-1">
      <div class="pyramid-dot"></div>
    </div>
    <div class="pyramid-layer layer-1 ">
      <div class="pyramid-layer-shape shape-1"></div>
    </div>

  </li>
  <li><span>Statue & Regulation</span>
    <div class="pyramid-line line-2">
      <div class="pyramid-dot"></div>
    </div>
    <div class="pyramid-layer layer-2">
      <div class="pyramid-layer-shape shape-2"></div>
    </div>
  </li>
  <li><span>Policies</span>
    <div class="pyramid-line line-3">
      <div class="pyramid-dot"></div>
    </div>
    <div class="pyramid-layer layer-3">
      <div class="pyramid-layer-shape shape-3"></div>
    </div>
  </li>
  <li><span>Procedures</span>
    <div class="pyramid-line line-4">
      <div class="pyramid-dot"></div>
    </div>
    <div class="pyramid-layer layer-4">
      <div class="pyramid-layer-shape shape-4"></div>
    </div>
  </li>
  <li><span>Schedules (Faculty & Monash Malaysia)</span>
    <div class="pyramid-line line-5">
      <div class="pyramid-dot"></div>
    </div>
    <div class="pyramid-layer layer-5">
      <div class="pyramid-layer-shape shape-5"></div>
    </div>
  </li>
  <li><span>Local Areas Business Processes & Instructions</span>
    <div class="pyramid-line line-6">
      <div class="pyramid-dot"></div>
    </div>
    <div class="pyramid-layer layer-6">
      <div class="pyramid-layer-shape shape-6"></div>
    </div>
  </li>
</ul>
