
  <h1>Policy framework in Monash</h1>
  <p>The Policy Framework defines the principles, scope and lifecycle for all of the University’s policies, procedures and schedules.</p>

  <button type="button" class="btn btn--regular btn--blue">See More</button>
