<h1>Employment conditions</h1>
<table id="table11893" class="policy-list">
	<tbody>
		<tr>
			<th style="text-align: left;" id="table11893r1c1">
				Employment Conditions Policy
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</th>
			<th id="table11893r1c2"><a href="./?a=1294620" target="_blank">[RTF]</a>
			</th>
			<th id="table11893r1c3"><a href="./?a=1294617" target="_blank">[PDF]</a>
			</th>
		</tr>
		<tr>
			<td style="text-align: left;" headers="table11893r13c1 table11893r1c1">
				Death in service
				<p>Adding a description for the policy is just a matter of adding a P tag to the table cell, taking care not to wrap the above name of the policy in it's own P tag.<br>Break tags are also supported.</p>
				<p>You can even add more than one P tag if the explanation requires it.</p>

			</td> 
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="./?a=797451" target="_blank">[RTF]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=797450" target="_blank">[PDF]</a>
			</td>
		</tr>
		<tr>
			<td style="text-align: left;" headers="table11893r13c1 table11893r1c1">
				Domestic travel (Australian-based staff)<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="./?a=800667" target="_blank">[RTF]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=800657" target="_blank">[PDF]</a>
			</td>
		</tr>
		<tr>
			<td headers="table11893r13c1 table11893r1c1">
				Employment visas<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="./?a=800670" target="_blank">[RTF]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=800668" target="_blank">[PDF]</a>
			</td>
		</tr>
		<tr>
			<td headers="table11893r13c1 table11893r1c1">
				Flexible work&nbsp;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="./?a=799824" target="_blank">[RTF]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=799823" target="_blank">[PDF]</a>
			</td>
		</tr>
		<tr>
			<td headers="table11893r13c1 table11893r1c1">
				International assignment for Monash Australia staff<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="./?a=800733" target="_blank">[RTF]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=800712" target="_blank">[PDF]</a>
			</td>
		</tr>
		<tr>
			<td headers="table11893r13c1 table11893r1c1">
				International travel (Australian based staff)<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="./?a=800680" target="_blank">[RTF]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=800671" target="_blank">[PDF]</a>
			</td>
		</tr>
		<tr>
			<td headers="table11893r13c1 table11893r1c1">
				Overtime and time off in lieu (professional staff)&nbsp;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="./?a=799863" target="_blank">[RTF]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=799862" target="_blank">[PDF]</a>
			</td>
		</tr>
		<tr>
			<td headers="table11893r13c1 table11893r1c1">
				Redundancy and redeployment<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="./?a=804526" target="_blank">[RTF]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=800753" target="_blank">[PDF]</a>
			</td>
		</tr>
		<tr>
			<td headers="table11893r13c1 table11893r1c1">
				Resignation and exiting the University<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="./?a=800772" target="_blank">[RTF]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=800749" target="_blank">[PDF]</a>
			</td>
		</tr>
		<tr>
			<td headers="table11893r13c1 table11893r1c1">
				Retirement and pre-retirement<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="./?a=804530" target="_blank">[RTF]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=800754" target="_blank">[PDF]</a>
			</td>
		</tr>
		<tr>
			<td headers="table11893r13c1 table11893r1c1">
				Working from home<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="./?a=799847" target="_blank">[RTF]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=799843" target="_blank"> [PDF]</a>
			</td>
		</tr>
		<tr class="policy-list-heading2">
			<th style="text-align: left;" id="table11893r13c1">
				Further links
			</th>
			<th id="table11893r13c2">
			</th>
			<th id="table11893r13c3">
			</th>
		</tr>
		<tr>
			<td headers="table11893r13c1 table11893r1c1">
				Arrangements for Engineering Services Officers (staff only access)<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="./?a=1481281">[RTF]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=1481267">[PDF]</a>
			</td>
		</tr>
		<tr class="policy-list-link">
			<td headers="table11893r13c1 table11893r1c1"><a href="https://www.monash.edu/safer-community/resources/child-safe-standards" target="_blank">Child Safe Standards</a>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td headers="table11893r13c2 table11893r1c2">
				&nbsp;
			</td>
			<td headers="table11893r13c3 table11893r1c3">
				&nbsp;
			</td>
		</tr>
		<tr>
			<td headers="table11893r13c1 table11893r1c1">
				Exit Checklist
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="https://www.intranet.monash/hr/assets/docs/tools-and-resources/Exit-Checklist.docx">[DOC]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="https://www.intranet.monash/hr/assets/docs/tools-and-resources/Exit-Checklist.pdf">[PDF]</a>
			</td>
		</tr>
		<tr>
			<td headers="table11893r13c1 table11893r1c1">
				Flexible Work Guidelines<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="./?a=1437785" target="_blank">[RTF]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=1437331" target="_blank">[PDF]</a>
			</td>
		</tr>
		<tr>
			<td headers="table11893r13c1 table11893r1c1">
				Framework for Academic Workload Models<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td headers="table11893r13c2 table11893r1c2">
				&nbsp;
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=1158668" target="_blank"> [PDF]</a>
			</td>
		</tr>
		<tr>
			<td headers="table11893r13c1 table11893r1c1">
				Guidelines for Implementing the Framework for the Development of Academic Workload Models<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="./?a=1158714" target="_blank">[RTF]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=1158693" target="_blank"> [PDF]</a>
			</td>
		</tr>
		<tr>
			<td headers="table11893r13c1 table11893r1c1">
				Academic Workloads and Boards of Review Guideline<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="./?a=2253515" target="_blank">[RTF]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=2076582" target="_blank">[PDF]</a>
			</td>
		</tr>
		<tr>
			<td headers="table11893r13c1 table11893r1c1">
				Professional Staff Workloads Guideline<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td style="text-align: center;" headers="table11893r13c2 table11893r1c2"><a href="./?a=2253490" target="_blank">[RTF]</a>
			</td>
			<td style="text-align: center;" headers="table11893r13c3 table11893r1c3"><a href="./?a=690768" target="_blank">[PDF]</a>
			</td>
		</tr>
		<tr class="policy-list-link">
			<td headers="table11893r13c1 table11893r1c1"><a href="./?a=972713" target="_blank">HR Delegations</a>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut gravida mauris. Curabitur sit amet nisl dictum, fermentum nisi et, venenatis massa. Duis rhoncus mauris a semper consequat. Cras venenatis euismod elit.
				</p>
			</td>
			<td headers="table11893r13c2 table11893r1c2">
				&nbsp;
			</td>
			<td headers="table11893r13c3 table11893r1c3">
				&nbsp;
			</td>
		</tr>
		<tr class="policy-list-link">
			<td headers="table11893r13c1 table11893r1c1"><a href="http://www.intranet.monash/hr/tools-and-resources/forms?_ga=2.82315926.1480965758.1501451667-1793620352.1468192565" target="_blank">HR Forms</a>
			</td>
			<td headers="table11893r13c2 table11893r1c2">
				&nbsp;
			</td>
			<td headers="table11893r13c3 table11893r1c3">
			</td>
		</tr>
	</tbody>
</table>
<p class="MsoNormal" style="padding-left: 60px;">
</p>