<!-- Related articles  -->
<div class="box-featured__section box-featured__section--related-articles">
  <h3>Related articles</h3>

  <div id="box-featured-related-articles" class="row box-featured__group">

    <!-- Related article -->
    <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured box-featured__related-article">
            <a href="http://www.monash.edu#related-article" class="box-featured__thumb-link"><img src="mysource_files/zz-box-featured-locations.jpg" alt="Placeholder image for feature box (locations variant)." class="box-featured__thumb-image" /></a>
            <div class="box-featured__blurb">
                <h2 class="box-featured__heading"><a href="http://www.monash.edu#related-article" class="box-featured__heading-link">Formula One comes to Monash</a></h2>
                <p class="box-featured__description">Engineering students were given a glimpse of what it takes to develop and maintain a Formula One car when key members of the Red Bull Racing team visited Monash University.</p>
            <!-- /.box-featured__blurb --></div>
        <!-- /.box-featured__locations --></div>
    <!-- /.box-featured__wrapper --></div>

      <!-- Related article -->
      <div class="col-xs-12 col-md-4 box-featured__wrapper">
          <div class="box-featured box-featured__related-article">
              <a href="http://www.monash.edu#related-article" class="box-featured__thumb-link"><img src="mysource_files/zz-box-featured-locations.jpg" alt="Placeholder image for feature box (locations variant)." class="box-featured__thumb-image" /></a>
              <div class="box-featured__blurb">
                  <h2 class="box-featured__heading"><a href="http://www.monash.edu#related-article" class="box-featured__heading-link">Monash Motorsport speeds off to Europe</a></h2>
                  <p class="box-featured__description">The Monash Motorsport team has landed in Europe to compete at the prestigious Formula Students UK and Formula Students Germany competitions.</p>
              <!-- /.box-featured__blurb --></div>
          <!-- /.box-featured__locations --></div>
      <!-- /.box-featured__wrapper --></div>

      <!-- Related article -->
      <div class="col-xs-12 col-md-4 box-featured__wrapper">
          <div class="box-featured box-featured__related-article">
              <a href="http://www.monash.edu#related-article" class="box-featured__thumb-link"><img src="mysource_files/zz-box-featured-locations.jpg" alt="Placeholder image for feature box (locations variant)." class="box-featured__thumb-image" /></a>
              <div class="box-featured__blurb">
                  <h2 class="box-featured__heading"><a href="http://www.monash.edu#related-article" class="box-featured__heading-link">The formula for success</a></h2>
                  <p class="box-featured__description">The Monash Motorsport team has won the Australasia Formula Society of Automotive Engineers (F-SAE) Championships for the third year running, making them the only team in the world...</p>
              <!-- /.box-featured__blurb --></div>
          <!-- /.box-featured__locations --></div>
      <!-- /.box-featured__wrapper --></div>

  <!-- /.box-featured__group --></div>
</div>
