<!-- Inventory of available variations for feature box module -->
<!-- Icons are sourced from the "global" module -->

<h2>Feature Box: Inventory</h2>

<div class="row box-featured__group">

    <!-- Default -->
    <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured">
            <div class="box-featured__blurb">
                <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-box-featured-default" class="box-featured__heading-link user-def-icon user-def-icon--feature-first-place">Top one per cent</a></h2>
                <p class="box-featured__description">It seems like a small amount. But it means big things for the world&rsquo;s universities.</p>
            <!-- /.box-featured__blurb --></div>
            <div class="box-featured__cta-wrapper"><a href="http://www.monash.edu#zz-box-featured-default" class="btn btn--dynamic btn--blue box-featured__cta-link">More</a></div>
        <!-- /.box-featured --></div>
    <!-- /.box-featured__wrapper --></div>

    <!-- Unlinked Image -->
    <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured">
            <div class="box-featured__thumb-wrapper"><img src="mysource_files/zz-box-featured-locations.jpg" alt="Placeholder image for feature box (locations variant)." class="box-featured__thumb-image" /></div>
            <div class="box-featured__blurb">
                <h2 class="box-featured__heading">Where you&rsquo;ll find us</h2>
                <p class="box-featured__description">We&rsquo;re not just in Australia: you can find us in Malaysia, South Africa, China and Italy.</p>
            <!-- /.box-featured__blurb --></div>
        <!-- /.box-featured__locations --></div>
    <!-- /.box-featured__wrapper --></div>

    <!-- Linked Image -->
    <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured">
            <a href="http://www.monash.edu#zz-box-featured-locations" class="box-featured__thumb-link"><img src="mysource_files/zz-box-featured-locations.jpg" alt="Placeholder image for feature box (locations variant)." class="box-featured__thumb-image" /></a>
            <div class="box-featured__blurb">
                <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-box-featured-locations" class="box-featured__heading-link user-def-icon user-def-icon--feature-world-globe">Where you&rsquo;ll find us</a></h2>
                <p class="box-featured__description">We&rsquo;re not just in Australia: you can find us in Malaysia, South Africa, China and Italy.</p>
            <!-- /.box-featured__blurb --></div>
            <div class="box-featured__cta-wrapper"><a href="http://www.monash.edu#zz-box-featured-locations" class="btn btn--dynamic btn--blue box-featured__cta-link">Discover</a></div>
        <!-- /.box-featured__locations --></div>
    <!-- /.box-featured__wrapper --></div>

    <!-- Search Researchers -->
    <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured">
            <div class="box-featured__advanced-content">
                <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-box-featured-search" class="box-featured__heading-link user-def-icon user-def-icon--feature-search">Find a researcher and a PhD supervisor</a></h2>
                <p class="box-featured__description">Search for a researcher by name or research area.</p>
                <form method="get" action="http://www.monash.edu#zz-box-featured-search">
                    <div class="control-group">
                        <label for="search-researchers-input" class="control-group__label visuallyhidden">Name or area</label>
                        <input type="text" id="search-researchers-input" name="researcher-keywords" class="control-group__input" placeholder="Search by name or area" />
                        <button type="submit" class="btn btn--blue control-group__button">Search</button>
                    <!-- /.control-group --></div>
                </form>
                <ul class="box-featured__rel-list">
                    <li class="box-featured__rel-item"><a href="http://www.monash.edu#zz-box-featured-search-rel-01" class="box-featured__rel-link">A&#8211;Z of all Researcher profiles</a></li>
                    <li class="box-featured__rel-item"><a href="http://www.monash.edu#zz-box-featured-search-rel-02" class="box-featured__rel-link">Search Expertise</a></li>
                </ul>
            <!-- /.box-featured__advanced-content --></div>
        <!-- /.box-featured --></div>
    <!-- /.box-featured__wrapper --></div>

    <!-- Search Staff -->
    <div class="col-xs-12 col-md-8 box-featured__wrapper">
        <div class="box-featured">
            <div class="box-featured__advanced-content">
                <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-box-featured-search" class="box-featured__heading-link user-def-icon user-def-icon--feature-staff-id">Find a Monash staff member</a></h2>
                <p class="box-featured__description">Lorem ipsum et cetera.</p>
                <div class="row box-featured--search-staff__forms">
                    <form method="get" action="http://www.monash.edu#zz-box-featured-search-staff-by-name" class="col-xs-12 col-md-6 box-featured--search-staff__form">
                        <div class="control-group">
                            <label for="search-staff-name-input" class="control-group__label visuallyhidden">Name</label>
                            <input type="text" id="search-staff-name-input" name="staff-name" class="control-group__input" placeholder="By name" />
                            <button type="submit" class="btn btn--blue control-group__button">Search</button>
                        <!-- /.control-group --></div>
                    </form>
                    <form method="get" action="http://www.monash.edu#zz-box-featured-search-staff-by-dept" class="col-xs-12 col-md-6 box-featured--search-staff__form">
                        <div class="control-group">
                            <label for="search-staff-dept-input" class="control-group__label visuallyhidden">Department</label>
                            <input type="text" id="search-staff-dept-input" name="staff-department" class="control-group__input" placeholder="By department" />
                            <button type="submit" class="btn btn--blue control-group__button">Search</button>
                        <!-- /.control-group --></div>
                    </form>
                <!-- /.row --></div>
            <!-- /.box-featured__advanced-content --></div>
        <!-- /.box-featured --></div>
    <!-- /.box-featured__wrapper --></div>

    <!-- No Icon -->
    <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured">
            <div class="box-featured__blurb">
                <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-box-featured-no-icon" class="box-featured__heading-link">A global community</a></h2>
                <p class="box-featured__description">The benefits of studying at Monash continue long after you graduate.</p>
            <!-- /.box-featured__blurb --></div>
            <div class="box-featured__cta-wrapper"><a href="http://www.monash.edu#zz-box-featured-no-icon" class="btn btn--dynamic btn--blue box-featured__cta-link">Explore</a></div>
        <!-- /.box-featured --></div>
    <!-- /.box-featured__wrapper --></div>

    <!-- Video -->
    <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured box-featured__video">
            <a href="https://www.youtube.com/watch?v=2Zfz3veG8os?autoplay=1" data-fallback-href="https://player.youku.com/embed/XMTg3Nzg4MzY4NA==" class="js-fallback-link box-featured__video-thumb-link" title="The international student experience at Monash University"><img src="{{file_dest}}/zz-box-featured-video.jpg" alt="Placeholder" class="box-featured__video-thumb-image" /></a>
            <div class="box-featured__blurb">
                <h2 class="box-featured__heading"><a href="https://www.youtube.com/watch?v=2Zfz3veG8os?autoplay=1" class="box-featured__heading-link user-def-icon user-def-icon--feature-world-globe">Where you&rsquo;ll find us</a></h2>
                <p class="box-featured__description">We&rsquo;re not just in Australia: you can find us in Malaysia, South Africa, China and Italy.</p>
            <!-- /.box-featured__blurb --></div>
            <div class="box-featured__cta-wrapper"><a href="https://www.youtube.com/watch?v=2Zfz3veG8os?autoplay=1" class="btn btn--dynamic btn--blue box-featured__cta-link">Discover</a></div>
        <!-- /.box-featured__video --></div>
    <!-- /.box-featured__wrapper --></div>

    <!-- Login -->
    <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured">
            <div class="box-featured__blurb">
                <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-box-featured-login" class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces">Keep in touch</a></h2>
                <p class="box-featured__description">Login or register as an alumni. Please enter your username/ID and password below.</p>
                <form method="get" action="http://www.monash.edu#zz-box-featured-login">
                    <div class="control-group box-featured--login__control-group">
                        <label for="login-user-name" class="control-group__label visuallyhidden">Username or ID</label>
                        <input type="text" id="login-user-name" name="user-name" class="control-group__input" placeholder="Username/ID" />
                    <!-- /.control-group --></div>
                    <div class="control-group box-featured--login__control-group">
                        <label for="login-password" class="control-group__label visuallyhidden">Password</label>
                        <input type="password" id="login-password" name="password" class="control-group__input" placeholder="Password" />
                    <!-- /.control-group --></div>
                    <div class="box-featured--login__actions">
                        <div
                         class="box-featured--login__remember-group">
                            <input type="checkbox" id="box-featured-login-remember-1006" name="remember-login" value="true" />
                            <label for="box-featured-login-remember-1006">Remember me</label>
                        <!-- /.box-featured--login__remember-group --></div>
                        <button type="submit" class="btn btn--dynamic btn--blue box-featured--login__submit">Login</button>
                    <!-- /.box-featured--login__actions --></div>
                </form>
                <a href="http://www.monash.edu#zz-box-featured-login" class="box-featured--login__cta">Monash minds - Meet our alumni</a>
            <!-- /.box-featured__blurb --></div>
        <!-- /.box-featured --></div>
    <!-- /.box-featured__wrapper --></div>

    <!-- Double (Two Boxes in One Column) -->
    <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="row box-featured__nest">
            <div class="col-xs-12 box-featured__wrapper">
                <div class="box-featured">
                    <div class="box-featured__blurb">
                        <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-box-featured-about-02" class="box-featured__heading-link user-def-icon user-def-icon--feature-first-place">Top one per cent</a></h2>
                        <p class="box-featured__description">It seems like a small amount. But it means big things for the world&rsquo;s universities.</p>
                        <div class="box-featured__cta-wrapper"><a href="http://www.monash.edu#zz-box-featured-about-02" class="btn btn--dynamic btn--blue box-featured__cta-link">More</a></div>
                    <!-- /.box-featured__blurb --></div>
                <!-- /.box-featured --></div>
            <!-- /.box-featured__wrapper --></div>
            <div class="col-xs-12 box-featured__wrapper">
                <div class="box-featured">
                    <div class="box-featured__blurb">
                        <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-box-featured-about-03" class="box-featured__heading-link user-def-icon user-def-icon--feature-question">Who we are</a></h2>
                        <p class="box-featured__description">And what we stand for.</p>
                    <!-- /.box-featured__blurb --></div>
                    <div class="box-featured__cta-wrapper"><a href="http://www.monash.edu#zz-box-featured-about-03" class="btn btn--dynamic btn--blue box-featured__cta-link">More</a></div>
                <!-- /.box-featured --></div>
            <!-- /.box-featured__wrapper --></div>
        <!-- /.box-featured__nest --></div>
    <!-- /.box-featured__wrapper --></div>

<!-- /.box-featured__group --></div>
