<!-- 1-Column Layout -->
<!-- ************************************************************ -->
<div class="content l--content bg-light-grey">
  <div class="content-wrapper">
    <div class="intro-text top-gap--standard bottom-gap--standard">
      <div class="content-wrapper">
        <h2>1-Column Layout</h2>
        <p class="introduction">Landing - About Us</p>
        <!-- /.content-wrapper -->
      </div>
      <!-- /.intro-text -->
    </div>
    <div id="box-featured-landing-about" class="row box-featured__group">
      <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured">
          <a
            href="https://www.youtube.com/watch?v=QyhZFM3H4Yg&list=PLjZkU1vM_0aUz2vfbs3_N2yv0CLcPwkqR"
            class="box-featured__video-thumb-link"
          >
            <img
              srcset="
                https://www.monash.edu/__data/assets/image/0003/538536/varieties/feature.box.png          360w,
                https://www.monash.edu/__data/assets/image/0003/538536/varieties/banner.static.medium.png 571w,
                https://www.monash.edu/__data/assets/image/0003/538536/varieties/banner.static.png        872w
              "
              sizes="(min-width:75em) 15vw, 
                                    (min-width:60em) and (max-width:75em) 30vw, 
                                    90vw"
              src="https://www.monash.edu/__data/assets/image/0003/538536/varieties/feature.box.png"
              alt="world university rankings"
              class="box-featured__thumb-image"
            />
          </a>
          <div class="box-featured__blurb">
            <h2 id="qa-box-featured-heading" class="box-featured__heading">
              Where you&rsquo;ll find us
            </h2>
            <p class="box-featured__description">
              We&rsquo;re not just in Australia: you can find us in Malaysia,
              South Africa, China and Italy.
            </p>
            <!-- /.box-featured__blurb -->
          </div>
          <div class="box-featured__cta-wrapper">
            <a
              href="https://www.youtube.com/watch?v=QyhZFM3H4Yg&list=PLjZkU1vM_0aUz2vfbs3_N2yv0CLcPwkqR"
              class="btn btn--dynamic btn--blue box-featured__cta-link"
              >Discover</a
            >
          </div>
          <!-- /.box-featured -->
        </div>
        <!-- /.box-featured__wrapper -->
      </div>
      <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="row box-featured__nest">
          <div class="col-xs-12 box-featured__wrapper">
            <div class="box-featured">
              <div class="box-featured__blurb">
                <h2 class="box-featured__heading">
                  <a
                    href="http://www.monash.edu#zz-box-featured-about-02"
                    class="box-featured__heading-link user-def-icon user-def-icon--feature-first-place"
                    >Top one per cent</a
                  >
                </h2>
                <p class="box-featured__description">
                  It seems like a small amount. But it means big things for the
                  world&rsquo;s universities.
                </p>
                <!-- /.box-featured__blurb -->
              </div>
              <div class="box-featured__cta-wrapper">
                <a
                  href="http://www.monash.edu#zz-box-featured-about-02"
                  class="btn btn--dynamic btn--blue box-featured__cta-link"
                  >More</a
                >
              </div>
              <!-- /.box-featured -->
            </div>
            <!-- /.box-featured__wrapper -->
          </div>
          <div class="col-xs-12 box-featured__wrapper">
            <div class="box-featured">
              <div class="box-featured__blurb">
                <h2 class="box-featured__heading">
                  <a
                    href="http://www.monash.edu#zz-box-featured-about-03"
                    class="box-featured__heading-link user-def-icon user-def-icon--feature-question"
                    >Who we are</a
                  >
                </h2>
                <p class="box-featured__description">And what we stand for.</p>
                <!-- /.box-featured__blurb -->
              </div>
              <div class="box-featured__cta-wrapper">
                <a
                  href="http://www.monash.edu#zz-box-featured-about-03"
                  class="btn btn--dynamic btn--blue box-featured__cta-link"
                  >More</a
                >
              </div>
              <!-- /.box-featured -->
            </div>
            <!-- /.box-featured__wrapper -->
          </div>
          <!-- /.box-featured__nest -->
        </div>
        <!-- /.box-featured__wrapper -->
      </div>
      <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured box-featured--publication">
          <a
            href="http://www.monash.edu#zz-box-featured-about-1004"
            class="box-featured__thumb-link"
          >
            <img
              srcset="
                https://www.monash.edu/__data/assets/image/0003/538536/varieties/feature.box.png          360w,
                https://www.monash.edu/__data/assets/image/0003/538536/varieties/banner.static.medium.png 571w,
                https://www.monash.edu/__data/assets/image/0003/538536/varieties/banner.static.png        872w
              "
              sizes="(min-width:75em) 15vw, 
                                    (min-width:60em) and (max-width:75em) 30vw, 
                                    90vw"
              src="https://www.monash.edu/__data/assets/image/0003/538536/varieties/feature.box.png"
              alt="world university rankings"
              class="box-featured__thumb-image"
            />
          </a>
          <div class="box-featured__blurb">
            <h2 class="box-featured__heading">
              <a
                href="http://www.monash.edu#zz-box-featured-about-1004"
                class="box-featured__heading-link user-def-icon user-def-icon--feature-publication"
                >Monash magazine</a
              >
            </h2>
            <p class="box-featured__description">
              Read all about the science we are pursuing and the big impact
              we&rsquo;re creating across the globe.
            </p>
            <!-- /.box-featured__blurb -->
          </div>
          <!-- /.box-featured -->
        </div>
        <!-- /.box-featured__wrapper -->
      </div>
      <!-- /.box-featured__group -->
    </div>
    <div class="intro-text top-gap--standard bottom-gap--standard">
      <div class="content-wrapper">
        <h2>1-Column Layout</h2>
        <p class="introduction">Landing - Alumni</p>
        <!-- /.content-wrapper -->
      </div>
      <!-- /.intro-text -->
    </div>
    <div id="box-featured-landing-alumni" class="row box-featured__group">
      <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="row box-featured__nest">
          <div class="col-xs-12 box-featured__wrapper">
            <div class="box-featured">
              <div class="box-featured__blurb">
                <h2 class="box-featured__heading">
                  <a
                    href="http://www.monash.edu#zz-box-featured-about-02"
                    class="box-featured__heading-link user-def-icon user-def-icon--feature-first-place"
                    >Top one per cent</a
                  >
                </h2>
                <p class="box-featured__description">
                  It seems like a small amount. But it means big things for the
                  world&rsquo;s universities.
                </p>
                <!-- /.box-featured__blurb -->
              </div>
              <div class="box-featured__cta-wrapper">
                <a
                  href="http://www.monash.edu#zz-box-featured-about-02"
                  class="btn btn--dynamic btn--blue box-featured__cta-link"
                  >More</a
                >
              </div>
              <!-- /.box-featured -->
            </div>
            <!-- /.box-featured__wrapper -->
          </div>
          <div class="col-xs-12 box-featured__wrapper">
            <div class="box-featured">
              <div class="box-featured__blurb">
                <h2 class="box-featured__heading">
                  <a
                    href="http://www.monash.edu#zz-box-featured-about-03"
                    class="box-featured__heading-link user-def-icon user-def-icon--feature-question"
                    >Who we are</a
                  >
                </h2>
                <p class="box-featured__description">And what we stand for.</p>
                <!-- /.box-featured__blurb -->
              </div>
              <div class="box-featured__cta-wrapper">
                <a
                  href="http://www.monash.edu#zz-box-featured-about-03"
                  class="btn btn--dynamic btn--blue box-featured__cta-link"
                  >More</a
                >
              </div>
              <!-- /.box-featured -->
            </div>
            <!-- /.box-featured__wrapper -->
          </div>
          <!-- /.box-featured__nest -->
        </div>
        <!-- /.box-featured__wrapper -->
      </div>
      <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="row box-featured__nest">
          <div class="col-xs-12 box-featured__wrapper">
            <div class="box-featured">
              <div class="box-featured__blurb">
                <h2 class="box-featured__heading">
                  <a
                    href="http://www.monash.edu#zz-box-featured-about-02"
                    class="box-featured__heading-link user-def-icon user-def-icon--feature-first-place"
                    >Top one per cent</a
                  >
                </h2>
                <p class="box-featured__description">
                  It seems like a small amount. But it means big things for the
                  world&rsquo;s universities.
                </p>
                <!-- /.box-featured__blurb -->
              </div>
              <div class="box-featured__cta-wrapper">
                <a
                  href="http://www.monash.edu#zz-box-featured-about-02"
                  class="btn btn--dynamic btn--blue box-featured__cta-link"
                  >More</a
                >
              </div>
              <!-- /.box-featured -->
            </div>
            <!-- /.box-featured__wrapper -->
          </div>
          <div class="col-xs-12 box-featured__wrapper">
            <div class="box-featured">
              <div class="box-featured__blurb">
                <h2 class="box-featured__heading">
                  <a
                    href="http://www.monash.edu#zz-box-featured-about-03"
                    class="box-featured__heading-link user-def-icon user-def-icon--feature-question"
                    >Who we are</a
                  >
                </h2>
                <p class="box-featured__description">And what we stand for.</p>
                <!-- /.box-featured__blurb -->
              </div>
              <div class="box-featured__cta-wrapper">
                <a
                  href="http://www.monash.edu#zz-box-featured-about-03"
                  class="btn btn--dynamic btn--blue box-featured__cta-link"
                  >More</a
                >
              </div>
              <!-- /.box-featured -->
            </div>
            <!-- /.box-featured__wrapper -->
          </div>
          <!-- /.box-featured__nest -->
        </div>
        <!-- /.box-featured__wrapper -->
      </div>
      <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured">
          <div class="box-featured__blurb">
            <h2 class="box-featured__heading">
              <a
                href="http://www.monash.edu#zz-box-featured-login"
                class="box-featured__heading-link user-def-icon user-def-icon--feature-jigsaw-pieces"
                >Keep in touch</a
              >
            </h2>
            <p class="box-featured__description">
              Login or register as an alumni. Please enter your username/ID and
              password below.
            </p>
            <form
              method="get"
              action="http://www.monash.edu#zz-box-featured-login"
            >
              <div class="control-group box-featured--login__control-group">
                <label
                  for="login-user-name"
                  class="control-group__label visuallyhidden"
                  >Username or ID</label
                >
                <input
                  type="text"
                  id="login-user-name"
                  name="user-name"
                  class="control-group__input"
                  placeholder="Username/ID"
                />
                <!-- /.control-group -->
              </div>
              <div class="control-group box-featured--login__control-group">
                <label
                  for="login-password"
                  class="control-group__label visuallyhidden"
                  >Password</label
                >
                <input
                  type="password"
                  id="login-password"
                  name="password"
                  class="control-group__input"
                  placeholder="Password"
                />
                <!-- /.control-group -->
              </div>
              <div class="box-featured--login__actions">
                <div class="box-featured--login__remember-group">
                  <input
                    type="checkbox"
                    id="box-featured-login-remember-1006"
                    name="remember-login"
                    value="true"
                  />
                  <label for="box-featured-login-remember-1006"
                    >Remember me</label
                  >
                  <!-- /.box-featured--login__remember-group -->
                </div>
                <button
                  type="submit"
                  class="btn btn--dynamic btn--blue box-featured--login__submit"
                >
                  Login
                </button>
                <!-- /.box-featured--login__actions -->
              </div>
            </form>
            <a
              href="http://www.monash.edu#zz-box-featured-login"
              class="box-featured--login__cta"
              >Monash minds - Meet our alumni</a
            >
            <!-- /.box-featured__blurb -->
          </div>
          <!-- /.box-featured -->
        </div>
        <!-- /.box-featured__wrapper -->
      </div>
      <!-- /.box-featured__group -->
    </div>
    <div class="intro-text top-gap--standard bottom-gap--standard">
      <div class="content-wrapper">
        <h2>1-Column Layout</h2>
        <p class="introduction">Landing - Research</p>
        <!-- /.content-wrapper -->
      </div>
      <!-- /.intro-text -->
    </div>
    <div id="box-featured-landing-research-01" class="row box-featured__group">
      <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured">
          <div class="box-featured__blurb">
            <h2 class="box-featured__heading">
              <a
                href="http://www.monash.edu#zz-box-featured-default"
                class="box-featured__heading-link user-def-icon user-def-icon--feature-first-place"
                >Top one per cent</a
              >
            </h2>
            <p class="box-featured__description">
              It seems like a small amount. But it means big things for the
              world&rsquo;s universities.
            </p>
            <!-- /.box-featured__blurb -->
          </div>
          <div class="box-featured__cta-wrapper">
            <a
              href="http://www.monash.edu#zz-box-featured-default"
              class="btn btn--dynamic btn--blue box-featured__cta-link"
              >More</a
            >
          </div>
          <!-- /.box-featured -->
        </div>
        <!-- /.box-featured__wrapper -->
      </div>
      <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured">
          <div class="box-featured__advanced-content">
            <h2 class="box-featured__heading">
              <a
                href="http://www.monash.edu#zz-box-featured-search"
                class="box-featured__heading-link user-def-icon user-def-icon--feature-search"
                >Find a researcher and a PhD supervisor</a
              >
            </h2>
            <p class="box-featured__description">
              Search for a researcher by name or research area.
            </p>
            <form
              method="get"
              action="http://www.monash.edu#zz-box-featured-search"
            >
              <div class="control-group">
                <label
                  for="search-researchers-input"
                  class="control-group__label visuallyhidden"
                  >Name or area</label
                >
                <input
                  type="text"
                  id="search-researchers-input"
                  name="researcher-keywords"
                  class="control-group__input"
                  placeholder="Search by name or area"
                />
                <button
                  type="submit"
                  class="btn btn--blue control-group__button"
                >
                  Search
                </button>
                <!-- /.control-group -->
              </div>
            </form>
            <ul class="box-featured__rel-list">
              <li class="box-featured__rel-item">
                <a
                  href="http://www.monash.edu#zz-box-featured-search-rel-01"
                  class="box-featured__rel-link"
                  >A&#8211;Z of all Researcher profiles</a
                >
              </li>
              <li class="box-featured__rel-item">
                <a
                  href="http://www.monash.edu#zz-box-featured-search-rel-02"
                  class="box-featured__rel-link"
                  >Search Expertise</a
                >
              </li>
            </ul>
            <!-- /.box-featured__advanced-content -->
          </div>
          <!-- /.box-featured -->
        </div>
        <!-- /.box-featured__wrapper -->
      </div>
      <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured">
          <div class="box-featured__blurb">
            <h2 class="box-featured__heading">
              <a
                href="http://www.monash.edu#zz-box-featured-default"
                class="box-featured__heading-link user-def-icon user-def-icon--feature-first-place"
                >Top one per cent</a
              >
            </h2>
            <p class="box-featured__description">
              It seems like a small amount. But it means big things for the
              world&rsquo;s universities.
            </p>
            <!-- /.box-featured__blurb -->
          </div>
          <div class="box-featured__cta-wrapper">
            <a
              href="http://www.monash.edu#zz-box-featured-default"
              class="btn btn--dynamic btn--blue box-featured__cta-link"
              >More</a
            >
          </div>
          <!-- /.box-featured -->
        </div>
        <!-- /.box-featured__wrapper -->
      </div>
      <!-- /.box-featured__group -->
    </div>
    <div id="box-featured-landing-research-02" class="row box-featured__group">
      <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured">
          <div class="box-featured__blurb">
            <h2 class="box-featured__heading">
              <a
                href="http://www.monash.edu#zz-box-featured-default"
                class="box-featured__heading-link user-def-icon user-def-icon--feature-first-place"
                >Top one per cent</a
              >
            </h2>
            <p class="box-featured__description">
              It seems like a small amount. But it means big things for the
              world&rsquo;s universities.
            </p>
            <!-- /.box-featured__blurb -->
          </div>
          <div class="box-featured__cta-wrapper">
            <a
              href="http://www.monash.edu#zz-box-featured-default"
              class="btn btn--dynamic btn--blue box-featured__cta-link"
              >More</a
            >
          </div>
          <!-- /.box-featured -->
        </div>
        <!-- /.box-featured__wrapper -->
      </div>
      <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured">
          <div class="box-featured__blurb">
            <h2 class="box-featured__heading">
              <a
                href="http://www.monash.edu#zz-box-featured-default"
                class="box-featured__heading-link user-def-icon user-def-icon--feature-first-place"
                >Top one per cent</a
              >
            </h2>
            <p class="box-featured__description">
              It seems like a small amount. But it means big things for the
              world&rsquo;s universities.
            </p>
            <!-- /.box-featured__blurb -->
          </div>
          <div class="box-featured__cta-wrapper">
            <a
              href="http://www.monash.edu#zz-box-featured-default"
              class="btn btn--dynamic btn--blue box-featured__cta-link"
              >More</a
            >
          </div>
          <!-- /.box-featured -->
        </div>
        <!-- /.box-featured__wrapper -->
      </div>
      <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured">
          <div class="box-featured__blurb">
            <h2 class="box-featured__heading">
              <a
                href="http://www.monash.edu#zz-box-featured-default"
                class="box-featured__heading-link user-def-icon user-def-icon--feature-first-place"
                >Top one per cent</a
              >
            </h2>
            <p class="box-featured__description">
              It seems like a small amount. But it means big things for the
              world&rsquo;s universities.
            </p>
            <!-- /.box-featured__blurb -->
          </div>
          <div class="box-featured__cta-wrapper">
            <a
              href="http://www.monash.edu#zz-box-featured-default"
              class="btn btn--dynamic btn--blue box-featured__cta-link"
              >More</a
            >
          </div>
          <!-- /.box-featured -->
        </div>
        <!-- /.box-featured__wrapper -->
      </div>
      <!-- /.box-featured__group -->
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /.content -->
</div>
<!-- 2-Column Layout (Main + Right Column) -->
<!-- ************************************************************ -->
<div class="content l--content bg-white">
  <div class="content-wrapper">
    <div class="intro-text top-gap--standard bottom-gap--standard">
      <div class="content-wrapper">
        <h2>2-Column Layout</h2>
        <p class="introduction">Search</p>
        <!-- /.content-wrapper -->
      </div>
      <!-- /.intro-text -->
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /.content -->
</div>
<div class="content-wrapper bg-white l--content-rhs">
  <div class="content">
    <div class="content-inner__main">
      <div id="box-featured-search-01" class="row box-featured__group">
        <div class="col-xs-12 col-md-6 box-featured__wrapper">
          <div class="box-featured box-featured">
            <div class="box-featured__advanced-content">
              <h2 class="box-featured__heading">
                <a
                  href="http://www.monash.edu#zz-search-researcher"
                  class="box-featured__heading-link user-def-icon user-def-icon--feature-search"
                  >Find a researcher and a PhD supervisor</a
                >
              </h2>
              <p class="box-featured__description">
                Search for a researcher by name or research area.
              </p>
              <form
                method="get"
                action="http://www.monash.edu#zz-search-researcher"
              >
                <div class="control-group">
                  <label
                    for="search-researchers-input"
                    class="control-group__label visuallyhidden"
                    >Name or area</label
                  >
                  <input
                    type="text"
                    id="search-researchers-input-2"
                    name="researcher-keywords"
                    class="control-group__input"
                    placeholder="Search by name or area"
                  />
                  <button
                    type="submit"
                    class="btn btn--blue control-group__button"
                  >
                    Search
                  </button>
                  <!-- /.control-group -->
                </div>
              </form>
              <!-- /.box-featured__advanced-content -->
            </div>
            <!-- /.box-featured -->
          </div>
          <!-- /.box-featured__wrapper -->
        </div>
        <div class="col-xs-12 col-md-6 box-featured__wrapper">
          <div class="box-featured">
            <div class="box-featured__blurb">
              <h2 class="box-featured__heading">
                <a
                  href="http://www.monash.edu#zz-search-expertline"
                  class="box-featured__heading-link user-def-icon user-def-icon--feature-search"
                  >Find a Monash expert through Expertline</a
                >
              </h2>
              <p class="box-featured__description">
                Search Monash academics and researchers.
              </p>
              <!-- /.box-featured__blurb -->
            </div>
            <div class="box-featured__cta-wrapper">
              <a
                href="http://www.monash.edu#zz-search-expertline"
                class="btn btn--dynamic btn--blue box-featured__cta-link"
                >Find an expert</a
              >
            </div>
            <!-- /.box-featured -->
          </div>
          <!-- /.box-featured__wrapper -->
        </div>
        <!-- /.box-featured__group -->
      </div>
      <div id="box-featured-search-02" class="row box-featured__group">
        <div class="col-xs-12 box-featured__wrapper">
          <div class="box-featured">
            <div class="box-featured__advanced-content">
              <h2 class="box-featured__heading">
                <a
                  href="http://www.monash.edu#zz-search-staff"
                  class="box-featured__heading-link user-def-icon user-def-icon--feature-staff-id"
                  >Find a Monash staff member</a
                >
              </h2>
              <p class="box-featured__description">Lorem ipsum et cetera.</p>
              <div class="row box-featured--search-staff__forms">
                <form
                  method="get"
                  action="http://www.monash.edu#zz-search-staff-by-name"
                  class="col-xs-12 col-md-6 box-featured--search-staff__form"
                >
                  <div class="control-group">
                    <label
                      for="search-staff-name-input"
                      class="control-group__label visuallyhidden"
                      >Name</label
                    >
                    <input
                      type="text"
                      id="search-staff-name-input"
                      name="staff-name"
                      class="control-group__input"
                      placeholder="By name"
                    />
                    <button
                      type="submit"
                      class="btn btn--blue control-group__button"
                    >
                      Search
                    </button>
                    <!-- /.control-group -->
                  </div>
                </form>
                <form
                  method="get"
                  action="http://www.monash.edu#zz-search-staff-by-dept"
                  class="col-xs-12 col-md-6 box-featured--search-staff__form"
                >
                  <div class="control-group">
                    <label
                      for="search-staff-dept-input"
                      class="control-group__label visuallyhidden"
                      >Department</label
                    >
                    <input
                      type="text"
                      id="search-staff-dept-input"
                      name="staff-department"
                      class="control-group__input"
                      placeholder="By department"
                    />
                    <button
                      type="submit"
                      class="btn btn--blue control-group__button"
                    >
                      Search
                    </button>
                    <!-- /.control-group -->
                  </div>
                </form>
                <!-- /.row -->
              </div>
              <!-- /.box-featured__advanced-content -->
            </div>
            <!-- /.box-featured -->
          </div>
          <!-- /.box-featured__wrapper -->
        </div>
        <!-- /.box-featured__group -->
      </div>
      <div id="box-featured-search-03" class="row box-featured__group">
        <div class="col-xs-12 col-md-6 box-featured__wrapper">
          <div class="box-featured">
            <div class="box-featured__thumb-no-wrapper">
              <img
                srcset="
                  https://www.monash.edu/__data/assets/image/0003/538536/varieties/feature.box.png          360w,
                  https://www.monash.edu/__data/assets/image/0003/538536/varieties/banner.static.medium.png 571w,
                  https://www.monash.edu/__data/assets/image/0003/538536/varieties/banner.static.png        872w
                "
                sizes="(min-width:75em) 15vw, 
                                    (min-width:60em) and (max-width:75em) 30vw, 
                                    90vw"
                src="https://www.monash.edu/__data/assets/image/0003/538536/varieties/feature.box.png"
                alt="world university rankings"
                class="box-featured__thumb-image"
              />
            </div>
            <div class="box-featured__blurb">
              <h2 class="box-featured__heading">
                <a
                  href="http://www.monash.edu#zz-search-locations-australia"
                  class="box-featured__heading-link user-def-icon user-def-icon--feature-world-globe"
                  >Monash in Australia</a
                >
              </h2>
              <p class="box-featured__description">
                We have five campuses around Australia.
              </p>
              <!-- /.box-featured__blurb -->
            </div>
            <div class="box-featured__cta-wrapper">
              <a
                href="http://www.monash.edu#zz-box-featured-locations"
                class="btn btn--dynamic btn--blue box-featured__cta-link"
                >Maps</a
              >
            </div>
            <!-- /.box-featured__locations -->
          </div>
          <!-- /.box-featured__wrapper -->
        </div>
        <div class="col-xs-12 col-md-6 box-featured__wrapper">
          <div class="box-featured">
            <a
              href="https://www.youtube.com/watch?v=2Zfz3veG8os?autoplay=1"
              class="box-featured__video-thumb-link"
              data-fallback-href="https://player.youku.com/embed/XMTg3Nzg4MzY4NA=="
            >
              <img
                src="mysource_files/zz-box-featured-locations.jpg"
                alt="Placeholder image for feature box (locations variant)."
                class="box-featured__video-thumb-image"
              />
            </a>
            <div class="box-featured__blurb">
              <h2 class="box-featured__heading">
                <a
                  href="https://www.youtube.com/watch?v=2Zfz3veG8os?autoplay=1"
                  data-fallback-href="https://player.youku.com/embed/XMTg3Nzg4MzY4NA=="
                  class="box-featured__heading-link user-def-icon user-def-icon--feature-world-globe"
                  >Monash around the globe</a
                >
              </h2>
              <p class="box-featured__description">
                We&rsquo;re not just in Australia: you can find us in Malaysia,
                South Africa, China and Italy.
              </p>
              <!-- /.box-featured__blurb -->
            </div>
            <div class="box-featured__cta-wrapper">
              <a
                href="https://www.youtube.com/watch?v=2Zfz3veG8os?autoplay=1"
                class="btn btn--dynamic btn--blue box-featured__cta-link"
                data-fallback-href="https://player.youku.com/embed/XMTg3Nzg4MzY4NA=="
                >Discover</a
              >
            </div>
            <!-- /.box-featured__locations -->
          </div>
          <!-- /.box-featured__wrapper -->
        </div>
        <!-- /.box-featured__group -->
      </div>
    </div>
    <div class="content-inner__rhs">
      <!-- import:content source:modules/box-listing-element/html/rhs.html -->
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- /.content -->
</div>
