<div class="row box-featured__group bottom-gap--standard top-gap--standard">
    <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured">
            <a href="http://www.monash.edu#zz-box-featured-about-01" class="box-featured__thumb-link"><img src="mysource_files/zz-box-featured-locations.jpg" alt="Placeholder image for feature box (locations variant)." class="box-featured__thumb-image" /></a>
            <div class="box-featured__blurb">
                <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-box-featured-about-01" class="box-featured__heading-link user-def-icon user-def-icon--feature-world-globe">Where you&rsquo;ll find us</a></h2>
                <p class="box-featured__description">We&rsquo;re not just in Australia: you can find us in Malaysia, South Africa, China and Italy.</p>
                <!-- /.box-featured__blurb -->
            </div>
            <div class="box-featured__cta-wrapper"><a href="http://www.monash.edu#zz-box-featured-about-01" class="btn btn--dynamic btn--blue box-featured__cta-link">Discover</a></div>
            <!-- /.box-featured -->
        </div>
        <!-- /.box-featured__wrapper -->
    </div>
    <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="row box-featured__nest">
            <div class="col-xs-12 box-featured__wrapper">
                <div class="box-featured">
                    <div class="box-featured__blurb">
                        <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-box-featured-about-02" class="box-featured__heading-link user-def-icon user-def-icon--feature-medal">Top one per cent</a></h2>
                        <p class="box-featured__description">It seems like a small amount. But it means big things for the world&rsquo;s universities.</p>
                        <!-- /.box-featured__blurb -->
                    </div>
                    <div class="box-featured__cta-wrapper"><a href="http://www.monash.edu#zz-box-featured-about-02" class="btn btn--dynamic btn--blue box-featured__cta-link">More</a></div>
                    <!-- /.box-featured -->
                </div>
                <!-- /.box-featured__wrapper -->
            </div>
            <div class="col-xs-12 box-featured__wrapper">
                <div class="box-featured">
                    <div class="box-featured__blurb">
                        <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-box-featured-about-03" class="box-featured__heading-link user-def-icon user-def-icon--feature-question">Who we are</a></h2>
                        <p class="box-featured__description">And what we stand for.</p>
                        <!-- /.box-featured__blurb -->
                    </div>
                    <div class="box-featured__cta-wrapper"><a href="http://www.monash.edu#zz-box-featured-about-03" class="btn btn--dynamic btn--blue box-featured__cta-link">More</a></div>
                    <!-- /.box-featured -->
                </div>
                <!-- /.box-featured__wrapper -->
            </div>
            <!-- /.box-featured__nest -->
        </div>
        <!-- /.box-featured__wrapper -->
    </div>
    <div class="col-xs-12 col-md-4 box-featured__wrapper">
        <div class="box-featured box-featured--publication">
            <a href="http://www.monash.edu#zz-box-featured-about-1004" class="box-featured__thumb-link"><img src="{{file_dest}}/zz-box-featured-magazine.jpg" alt="Placeholder" class="box-featured__thumb-image" /></a>
            <div class="box-featured__blurb">
                <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-box-featured-about-1004" class="box-featured__heading-link user-def-icon user-def-icon--feature-publication">Monash magazine</a></h2>
                <p class="box-featured__description">Read all about the science we are pursuing and the big impact we&rsquo;re creating across the globe.</p>
                <!-- /.box-featured__blurb -->
            </div>
            <!-- /.box-featured -->
        </div>
        <!-- /.box-featured__wrapper -->
    </div>
    <!-- /.box-featured__group -->
</div>
