<div id="box-featured-search" class="row box-featured__group">

    <div class="col-xs-12 col-md-6 box-featured__wrapper">
        <div class="box-featured">
            <div class="box-featured__advanced-content">
                <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-search-researcher" class="box-featured__heading-link user-def-icon user-def-icon--feature-search">Find a researcher and a PhD supervisor</a></h2>
                <p class="box-featured__description">Search for a researcher by name or research area.</p>
                <form method="get" action="http://www.monash.edu#zz-search-researcher">
                    <div class="control-group">
                        <label for="search-researchers-input" class="control-group__label visuallyhidden">Name or area</label>
                        <input type="text" id="search-researchers-input" name="researcher-keywords" class="control-group__input" placeholder="Search by name or area" />
                        <button type="submit" class="btn btn--blue control-group__button">Search</button>
                    <!-- /.control-group --></div>
                </form>
            <!-- /.box-featured__advanced-content --></div>
        <!-- /.box-featured --></div>
    <!-- /.box-featured__wrapper --></div>

    <div class="col-xs-12 col-md-6 box-featured__wrapper">
        <div class="box-featured">
            <div class="box-featured__blurb">
                <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-search-expertline" class="box-featured__heading-link user-def-icon user-def-icon--feature-search">Find a Monash expert through Expertline</a></h2>
                <p class="box-featured__description">Search Monash academics and researchers.</p>
            <!-- /.box-featured__blurb --></div>
            <div class="box-featured__cta-wrapper"><a href="http://www.monash.edu#zz-search-expertline" class="btn btn--dynamic btn--blue box-featured__cta-link">Find an expert</a></div>
        <!-- /.box-featured --></div>
    <!-- /.box-featured__wrapper --></div>

    <div class="col-xs-12 box-featured__wrapper">
        <div class="box-featured">
            <div class="box-featured__advanced-content">
                <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-search-staff" class="box-featured__heading-link user-def-icon user-def-icon--feature-search">Find a Monash staff member</a></h2>
                <p class="box-featured__description">Lorem ipsum et cetera.</p>
                <div class="row box-featured--search-staff__forms">
                    <form method="get" action="http://www.monash.edu#zz-search-staff-by-name" class="col-xs-12 col-md-6 box-featured--search-staff__form">
                        <div class="control-group">
                            <label for="search-staff-name-input" class="control-group__label visuallyhidden">Name</label>
                            <input type="text" id="search-staff-name-input" name="staff-name" class="control-group__input" placeholder="By name" />
                            <button type="submit" class="btn btn--blue control-group__button">Search</button>
                        <!-- /.control-group --></div>
                    </form>
                    <form method="get" action="http://www.monash.edu#zz-search-staff-by-dept" class="col-xs-12 col-md-6 box-featured--search-staff__form">
                        <div class="control-group">
                            <label for="search-staff-dept-input" class="control-group__label visuallyhidden">Department</label>
                            <input type="text" id="search-staff-dept-input" name="staff-department" class="control-group__input" placeholder="By department" />
                            <button type="submit" class="btn btn--blue control-group__button">Search</button>
                        <!-- /.control-group --></div>
                    </form>
                <!-- /.row --></div>
            <!-- /.box-featured__advanced-content --></div>
        <!-- /.box-featured --></div>
    <!-- /.box-featured__wrapper --></div>

    <div class="col-xs-12 col-md-6 box-featured__wrapper">
        <div class="box-featured">
            <a href="http://www.monash.edu#zz-search-locations-australia" class="box-featured__thumb-link"><img src="mysource_files/zz-box-featured-locations.jpg" alt="Placeholder image for feature box (locations variant)." class="box-featured__thumb-image" /></a>
            <div class="box-featured__blurb">
                <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-search-locations-australia" class="box-featured__heading-link user-def-icon user-def-icon--feature-world-globe">Monash in Australia</a></h2>
                <p class="box-featured__description">We have five campuses around Australia.</p>
            <!-- /.box-featured__blurb --></div>
            <div class="box-featured__cta-wrapper"><a href="http://www.monash.edu#zz-box-featured-locations" class="btn btn--dynamic btn--blue box-featured__cta-link">Maps</a></div>
        <!-- /.box-featured__locations --></div>
    <!-- /.box-featured__wrapper --></div>

    <div class="col-xs-12 col-md-6 box-featured__wrapper">
        <div class="box-featured">
            <a href="http://www.monash.edu#zz-search-locations-australia" class="box-featured__thumb-link"><img src="mysource_files/zz-box-featured-locations.jpg" alt="Placeholder image for feature box (locations variant)." class="box-featured__thumb-image" /></a>
            <div class="box-featured__blurb">
                <h2 class="box-featured__heading"><a href="http://www.monash.edu#zz-search-locations-australia" class="box-featured__heading-link user-def-icon user-def-icon--feature-world-globe">Monash around the globe</a></h2>
                <p class="box-featured__description">We&rsquo;re not just in Australia: you can find us in Malaysia, South Africa, China and Italy.</p>
            <!-- /.box-featured__blurb --></div>
            <div class="box-featured__cta-wrapper"><a href="http://www.monash.edu#zz-box-featured-locations" class="btn btn--dynamic btn--blue box-featured__cta-link">Discover</a></div>
        <!-- /.box-featured__locations --></div>
    <!-- /.box-featured__wrapper --></div>

<!-- /.box-featured__group --></div>
