<!-- Animated M -->
<div class="monash-m__wrapper">
    <div class="monash-m-new bg-white" style="clip-path:url(#swipe__clip-path);">
        <svg class="clip-svg">
            <defs>
                <clipPath id="swipe__clip-path" clipPathUnits="objectBoundingBox">
                    <polygon
                        points="0.5745 0, 0.5 0.33, 0.42 0, 0 0, 0 1, 0.27 1, 0.27 0.59, 0.37 1, 0.634 1, 0.736 0.59, 0.736 1, 1 1, 1 0, 0.5745 0">
                    </polygon>
                </clipPath>
            </defs>
        </svg>
    </div>
</div>