.skip-links__link:focus {
    background:     $base-monash-blue;
    color:          $white;
    display:        block;
    font-weight:    $font-bold;
    padding:        pxToRem(10) 2%;
    text-transform: uppercase;
    width:          100%;
}

.skip-links__item {
    margin: 0;
}
