<!-- Spritesheet Examples -->
<style>
    #spritesheet-examples .icon {
        fill: blue;
    }
</style>
<div id="spritesheet-examples" class="col-12">
    <p>Loren Ipsum test contents</p>
    <svg class="icon icon_1">
        <use xlink:href="http://www.monash.edu/__data/assets/file/0006/2321970/icon-spritesheet.svg#airplane-2">
        </use>
    </svg>
    <svg class="icon icon_2">
        <use xlink:href="http://www.monash.edu/__data/assets/file/0006/2321970/icon-spritesheet.svg#copy">
        </use>
    </svg>
</div>