// Image (Global)

.content-image__image {
    display: block;
    width: 100%;
    display: block;
}

.content-image__caption {
    color:      $base-light-charcoal;
    font-size:  .75rem;
    margin-top: .75rem;
}

// Old image classes (prior to 2016 rebrand) for backwards compatibility
.imgCaption {
    display:  inline-block;
    overflow: hidden;

    img {
        margin-bottom: .5rem;
    }

    .caption {
        color:      $base-light-charcoal;
        font-size:  .75rem;
        margin-top: .75rem;
    }

}

.imgFloatLeft {
    float:        left;
    margin-right: 1.875rem;
}

.imgFloatRight {
    float:       right;
    margin-left: 1.875rem;
}
