// Image (Wide)

.content-image__image {
    width: 100%;
}

.content-image__centred,
.content-image__float-left,
.content-image__float-right {
    width: 50%; // Allows caption width to be confined to image width
}

.content-image__centred {

    margin: 0 auto;

    .content-image__caption {
        text-align: center;
    }

}

.content-image__float-left {
    float:        left;
    margin-right: 1.875rem;
}

.content-image__float-right {
    float:       right;
    margin-left: 1.875rem;
}
