.feature-numbers {
    color:       $base-monash-blue;
    font-family: $font-family__condensed;
    font-size:   pxToRem(74);

    p,
    span {
        color:   inherit;
        display: inline;
        margin:  pxToRem(16) 0;
    }
}
