<div class="social-media-share" id="social-media-share">
    <a class="addthis_button_facebook" href="#"><span class="visuallyhidden">Share this page on Facebook</span></a>
    <a class="addthis_button_twitter" href="#"><span class="visuallyhidden">Share this page on Twitter</span></a>
    <a class="addthis_button_linkedin" href="#"><span class="visuallyhidden">Share this page on Linkedin</span></a>
    <a class="addthis_button_google_plusone_share" href="#"><span class="visuallyhidden">Share this page on Google Plus</span></a>
    <a class="addthis_button_baidu" href="#"><span class="visuallyhidden">Share this page on Baidu</span></a>
    <a class="addthis_button_email" href="#"><span class="visuallyhidden">Email this page</span></a>
    <a class="addthis_button_print" href="#"><span class="visuallyhidden">Print this page</span></a>
    <a class="addthis_button_compact" href="#">+Share</a>
</div>
