// Social Media Feed Box (Global)
// Social Media Feed Listing (Global)

// Wrapper around feed section
.social-media-feed {
    margin-left:   -1rem;
    margin-right:  -1rem;
    padding-left:  1rem;
    padding-right: 1rem;
}

// List of all items (boxes)
.social-media-feed-listing {
    width: 100%;

    &__heading {
        color:       $base-monash-blue;
        font-family: $font-family__serif;
        font-size:   pxToRem(21);
        margin:      0 0 pxToRem(40);
        text-align:  center;
    }
}

// Individual items (boxes)
.social-media-feed-box {
    background-color:   $white;
    margin-bottom:      1rem;

    &__wrapper {
        &:nth-of-type(n+4) {
            display: none;
        }
    }

    &__heading {
        @include     sq-flex-box();
        @include     sq-align-items(center);
        font-size:   pxToRem(18);
        line-height: 1.2778;
        margin:      0 0 pxToRem(1);

        &--icon {
            display:     block;
            text-indent: -999em;

            &-wrapper {
                @include         sq-flex-box();
                @include         sq-align-items(center);
                @include         sq-justify-content(center);
                height:          pxToRem(50);
                margin-right:    pxToRem(12);
                width:           pxToRem(50);
            }
        }
    }

    &__link {
        display:         block;
        text-decoration: none;

        &:hover,
        &:active {
            opacity:         .75;
            text-decoration: none;
        }

    }

    &__thumb-image {
        display: block;
    }

    &__blurb {
        padding:   0 1rem;
        word-wrap: break-word;

        &::after {
            border-bottom: 1px $base-light-grey solid;
            content:       ' ';
            display:       block;
        }
    }

    &__stats {
        @include   sq-flex-box();
        font-size: pxToRem(12);
        padding:   .75rem 1rem;
        position:  relative;

        > span {
            @include     sq-flex-box();
            @include     sq-align-items(center);
            color:       $base-light-charcoal;

            &::before {
                @include      sq-sprite-bg(.5625);
                content:      ' ';
                display:      inline-block;
                margin-right: .4rem;
            }
        }

        &-like {
            margin-right: 1rem;

            &::before {
                @include sq-sprite(heart-o, .5625);
            }
        }

        &-comments {
            &::before {
                @include sq-sprite(comment-bubble, .5625);
            }
        }

        &-other {
            background: none;
            border:     0;
            font-size:  0;
            padding:    0;
            position:   absolute;
            right:      1rem;

            &:hover,
            &:active,
            &:focus {
                outline: 0;
            }

            &::after {
                @include sq-sprite(ellipsis, .57);
                @include sq-sprite-bg(.57);
                content: ' ';
                display: inline-block;
            }
        }
    }

    &--instagram,
    &--twitter,
    &--facebook {
        .social-media-feed-box__heading {
            background-color:   $base-monash-blue;
            color:              $white;

            &--icon-wrapper {
                background-color: darken($base-monash-blue, 10%);
            }
        }
    }

    &--facebook {
        .social-media-feed-box__heading--icon {
            @include sq-sprite-bg(.8125);
            @include sq-sprite(facebook-white, .8125);
        }
    }

    &--instagram {
        .social-media-feed-box__heading--icon {
            @include sq-sprite-bg(.71875);
            @include sq-sprite(instagram-white, .71875);
        }
    }

    &--twitter {
        .social-media-feed-box__heading--icon {
            @include sq-sprite-bg(.65625);
            @include sq-sprite(twitter-white, .65625);
        }
    }

}
