// Social Media Feed Box (Global)
// Social Media Feed Listing (Global)

// Individual items (boxes)
.social-media-feed-box {
    border-bottom: 1px solid $base-light-grey;

    &__link {
        text-decoration: none;

        &[href]::after {
            content: '';
        }
    }

    &__heading {
        border-bottom:  1px solid $base-monash-blue;
        padding:        .625rem;
    }

    &__heading--icon-wrapper {
        display: none;
    }

}

.flexbox .social-media-feed-box__heading--icon-wrapper {
    display: none;
}
