// Social Media Feed Box (Wide)
// Social Media Feed Listing (Wide)

// Wrapper around feed section
.social-media-feed {
    padding-left:  0;
    padding-right: 0;

    .content-wrapper {
        max-width: pxToRem(1170);
    }
}

// List of all items (boxes)
.social-media-feed-listing {
    width:          100%;

    &__heading {
        font-size:      pxToRem(34);
        line-height:    1.1176;
        margin:         0 auto;
        padding-bottom: pxToRem(60);
        width:          45%;
    }

}

// Individual items (boxes)
.social-media-feed-box {
    margin-bottom: 2rem;

    &__wrapper {
        float:          left;
        padding-left:   pxToRem(15);
        padding-right:  pxToRem(15);
        width:          25%;

        &:nth-of-type(n+4) {
            display: block;
        }
    }

    &__heading {
        font-size:   pxToRem(16);
        line-height: 1.375;

        &--icon-wrapper {
            height:       pxToRem(40);
            margin-right: pxToRem(15);
            width:        pxToRem(40);
        }
    }

    &--instagram {
        .social-media-feed-box__heading--icon {
            @include sq-sprite-bg(.625);
            @include sq-sprite(instagram-white, .625);
        }
    }

    &--twitter {
        .social-media-feed-box__heading--icon {
            @include sq-sprite-bg(.5625);
            @include sq-sprite(twitter-white, .5625);
        }
    }

}
