.timeline-year-nav {
    @include sq-list-reset();
    background-color: $timeline-grey--standard;
    direction:        ltr;
    display:          flex;
    height:           pxToRem(60);
    justify-content:  center;
    left:             0;
    position:         absolute;
    top:              0;
    width:            100%;

    .timeline-year-nav__item {
        align-items: center;
        display:     flex;
    }

    .slick-track {
        height: pxToRem(60);
    }
}

.timeline-year-nav__item {
    font-family: $font-family__condensed;
    font-size:   pxToRem(18);
    margin:      0;
    padding:     0 pxToRem(24);

    &.slick-current {
        background-color: $timeline-grey--light;
        font-size:        pxToRem(20);

        .timeline-year-nav__item-link {
            color: $timeline-black;
        }
    }
}

.timeline-year-nav__item-link {
    color:           $timeline-grey--mid-dark;
    text-decoration: none;
}

.timeline-year-nav__item-link:hover {
    color:           $timeline-charcoal;
    text-decoration: underline;

}
