// Single line comments will be removed by the CSS preprocessor
// Hint: go nuts commenting your Sass

// Multiline comments will be preserved, use them when you need to send comments
// back out to the resulting .css file.

// Tip: Most boilerplate modules follow guidelines set out in http://bem.info/ as a rule of
// thumb. You don't have to, but it helps with consistency and any class name collisions
// with other styles. Example naming convention:
//
// .search-global__element { ... }
// .search-global__element--modifier {     ... }
// .search-global__sub-element { ... }

.search-global {

  &__related {

    &.card {
      background-color: $search-global-gray;
      border-left-width: 0;
      border-right-width: 0;

    }

    .card-title {

      h3{
        font-size: 1.5625rem;
        margin: 1.25rem 0 2rem 0;
        font-weight: 200;
      }

    }
    .card-text {

      a {
        font-size: .9375rem;
        color: $search-global-black;
      }

      ul{
        margin-left: 1.25rem;

        li {
            line-height: 1.375rem;
        }

      }

      h4 {
        font-size: 1.5625rem;
        color: $search-global-blue;
        font-family: $font-family__serif;
        margin-bottom: 1rem;
      }

    }

  }


}