<!-- import:content source:modules/breadcrumbs/html/index.html -->
<h1>Expertline</h1>

<div class="js-expertline expertline">

    <!-- Search -->
    <div class="expertline__search js-expertline__search">        
        <div class="expertline__form-wrapper">
            <p class="expertline__intro">Use our searchable database to find Monash University academic staff available to comment in the media on their areas of research and teaching expertise.</p>
            <noscript class="expertline__noscript">This search requires JavaScript to be enabled.</noscript>

            <form class="js-expertline__form expertline__form" method="GET" action="/REST-URL">

                <div class="sq-form-question">
                    <label for="expertline-name" class="sq-form-question-title">Name</label>
                    <input id="expertline-name" type="text" name="meta_t_and" placeholder="Enter expert name" class="sq-form-field sq-form-question-answer" />
                </div>

                <div class="sq-form-question">
                    <label for="expertline-department" class="sq-form-question-title">Department</label>
                    <select id="expertline-department" name="meta_D_and" class="expertline__form-select sq-form-question-answer">
                        <!-- import:content source:modules/expertline/html/fragments/expertline-search-departments.html -->
                    </select>
                </div>

                <div class="sq-form-question">
                    <label for="expertline-topic" class="sq-form-question-title">Topic</label>
                    <input id="expertline-topic" type="text" name="meta_Z_and" placeholder="Enter a topic" class="sq-form-field sq-form-question-answer" />
                </div>

                <input type="submit" type="submit" value="Search" class="btn btn--blue control-group__button expertline__form-submit js-expertline__form-submit" />

                <div class="expertline__form-error js-expertline__form-error sq-form-error" role="alert" aria-hidden="true">There was an error submitting the form. Please try again.</div>

                <div class="expertline__form-error js-expertline__form-no-results sq-form-error" role="alert" aria-hidden="true">There are no results for current query.</div>
            </form>
        </div>
    </div>
    <!-- /Search -->

    <!-- Loader -->
    <div class="expertline__loader js-expertline__loader" aria-live="off">
        <span class="expertline__loader-text">Loading data, please wait</span>
    </div>
    <!-- /Loader -->

    <!-- Results -->
    <div id="expertline__results" class="js-expertline__results expertline__results"></div>
    <!-- /Results -->

</div>

<!-- Gateway URL -->
<script>
    var expertlineGatewayURL = 'http://localhost:3000/expertline-response-search.html';
</script>
<!-- /Gateway URL -->

<!-- Templates -->
<div class="hidden js-expertline__templates">
    
    <!-- Search results -->
    <script id="js-expertline__templates-search-results" type="text/x-handlebars-template">
        <hr class="expertline__results-hr" />
        <h4 class="expertline__results-header look__h2">Search results</h4>
        <p class="expertline__results-header-count"><strong>[[response.resultPacket.resultsSummary.totalMatching]]</strong> experts found.</p>

        <ul class="expertline__results-list">
            [[#each response.resultPacket.results]]
                <li class="expertline__results-item [[#if_less_eq rank ../response/resultPacket/resultsSummary/fullyMatching]]expertline__results-item--fully-matching[[/if_less_eq]] [[#if_eq rank ../response/resultPacket/resultsSummary/fullyMatching]]expertline__results-item--fully-matching-last[[/if_eq]] [[#if_eq 1 ../response/resultPacket/resultsSummary/totalMatching]]expertline__results-item--expanded[[/if_eq]]">
                    
                    <div class="expertline__results-item-wrapper">

                        <div class="expertline__results-item-short">
                            <h4 class="expertline__results-item-name">
                                <button class="expertline__results-item-name-link js-expertline__results-item-name-link" title="Expand details on [[title]]">
                                    <span>[[title]]</span>
                                </button>
                            </h4>
                            <p class="expertline__results-item-department">
                                [[#if_neq '' metaData.D]]
                                    [[#if_neq undefined metaData.D]]
                                        Department: [[metaData.D]]
                                    [[/if_neq]]
                                [[/if_neq]]

                                [[#if_neq '' metaData.P]]
                                    [[#if_neq undefined metaData.P]]
                                        <br />Position: [[metaData.P]]
                                     [[/if_neq]]
                                [[/if_neq]]
                            </p>
                            
                            [[#if_neq '' metaData.Z]] 
                                [[#if_neq undefined metaData.Z]] 
                                    <span class="expertline__results-item-topics-label">Topics:</span>
                                    <ul class="expertline__results-item-topics">
                                        [[#sliceBy metaData.Z '|']] 
                                            [[#each this.items]] 
                                                <li class="expertline__results-item-topic">[[this]]</li> 
                                            [[/each]]
                                        [[/sliceBy]]
                                    </ul>
                                [[/if_neq]] 
                            [[/if_neq]]
                        </div>


                        <ul class="expertline__results-item-full">
                            
                            [[#if_neq '' metaData.B]]
                                [[#if_neq undefined metaData.B]]
                                    <li class="expertline__results-item-full-detail">
                                        <span class="expertline__results-item-full-label">Phone: </span>
                                        <span class="expertline__results-item-full-value"><a class="expertline__results-item-full-link" href="tel:[[#removeSpaces metaData.B]][[this]][[/removeSpaces]]">[[metaData.B]]</a></span>
                                    </li>
                                [[/if_neq]]
                            [[/if_neq]]

                            [[#if_neq '' metaData.M]]
                                [[#if_neq undefined metaData.M]]
                                    <li class="expertline__results-item-full-detail">
                                        <span class="expertline__results-item-full-label">Phone: </span>
                                        <span class="expertline__results-item-full-value"><a class="expertline__results-item-full-link" href="tel:[[#removeSpaces metaData.M]][[this]][[/removeSpaces]]">[[metaData.M]]</a></span>
                                    </li>
                                [[/if_neq]]
                            [[/if_neq]]

                            [[#if_neq '' metaData.Y]]
                                [[#if_neq undefined metaData.Y]]
                                    <li class="expertline__results-item-full-detail">
                                        <span class="expertline__results-item-full-label">Fax: </span>
                                        <span class="expertline__results-item-full-value"><a class="expertline__results-item-full-link" href="fax:[[#removeSpaces metaData.Y]][[this]][[/removeSpaces]]">[[metaData.Y]]</a></span>
                                    </li>
                                [[/if_neq]]
                            [[/if_neq]]

                            [[#if_neq '' metaData.E]]
                                [[#if_neq undefined metaData.E]]
                                    <li class="expertline__results-item-full-detail">
                                        <span class="expertline__results-item-full-label">E-mail: </span>
                                        <span class="expertline__results-item-full-value"><a class="expertline__results-item-full-link" href="mailto:[[metaData.E]]">[[metaData.E]]</a></span>
                                    </li>
                                [[/if_neq]]
                            [[/if_neq]]

                        </ul>

                        [[#if_neq 1 ../response/resultPacket/resultsSummary/totalMatching]]
                            <button class="expertline__results-item-collapse btn btn--blue js-expertline__results-item-collapse" title="Collapse details on [[title]]">
                                See less
                            </button>

                            <button class="expertline__results-item-expand btn btn--blue js-expertline__results-item-expand" tabindex="-1" title="Expand details on [[title]]">
                                See more
                            </button>
                        [[/if_neq]]

                    </div>

                </li>
            [[/each]]
        </ul>

        <ul class="expertline__results-pagination">
            
            [[#if_neq response.resultPacket.resultsSummary.prevStart null]]
                <li class="expertline__results-pagination-item">
                    <a class="expertline__results-pagination-link expertline__results-pagination-link--prev js-expertline__results-pagination-link" title="Previous page" href="[[#pagination response.resultPacket.resultsSummary QueryString 0 true false]][[/pagination]]">
                        <span class="visuallyhidden">Previous</span>
                    </a>
                </li>
            [[/if_neq]]

            [[#pagination response.resultPacket.resultsSummary QueryString 5 false false]]
                [[#each this]]
                    [[#if_eq this.url '']]
                        <li class="expertline__results-pagination-item expertline__results-pagination-item--curent">[[this.val]]</li>
                    [[else]]
                        <li class="expertline__results-pagination-item"><a class="expertline__results-pagination-link js-expertline__results-pagination-link" href="[[this.url]]">[[this.val]]</a></li>
                    [[/if_eq]]
                [[/each]]
            [[/pagination]]
            
            [[#if_neq response.resultPacket.resultsSummary.nextStart null]]
                <li class="expertline__results-pagination-item">
                    <a class="expertline__results-pagination-link expertline__results-pagination-link--next js-expertline__results-pagination-link" title="Next page" href="[[#pagination response.resultPacket.resultsSummary QueryString 0 false true]][[/pagination]]">
                        <span class="visuallyhidden">Next</span>
                    </a>
                </li>
            [[/if_neq]]

        </ul>

    </script>
    <!-- /Search results -->

</div>
<!-- /Templates -->

<!-- Loaded from CDN - switch to Matrix on prod -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>