body {
    color:       $base-dark-charcoal;
    font-family: $font-family__sans;
    font-size:   pxToRem(15);
}

h1,
strong.h1 {
    @include mon-heading(1);
    margin-top:  0;
    padding-top: 1.5rem;
}

h2 {
    @include mon-heading(2);
}

h3 {
    @include mon-heading(3);
}

h4 {
    @include mon-heading(4);
}

h5 {
    @include mon-heading(5);
}

h6 {
    @include mon-heading(6);
}

p,
ul,
ol,
blockquote {
    color:       $base-light-charcoal;
    font-weight: $font-regular;
}

ul > li > ul {
    list-style-type: disc;
}

ol {
    counter-reset:   counter-ol;
    list-style-type: none;

    > li {
        &::before {
            content:           counter(counter-ol, decimal);
            counter-increment: counter-ol;
            font-weight:       $font-bold;
            margin-left:       -1rem;
            margin-right:      .5rem;
        }
    }
}

li {
    margin: .5rem 0;
}

li > ol > li::before {
    content: counter(counter-ol, upper-alpha);
}

a {
    color:           $base-monash-blue;
    text-decoration: underline;

    &:hover,
    &:focus,
    &[class*='btn'] {
        text-decoration: none;
    }

    &:active {
        color: $base-cerise;
    }
}

// Prevents undesired horizontal scrolling on mobile viewports.
// Needs to be applied here so that it doesn't interfere with
// parallax animations (which stop working when the style rule is
// applied further up the document tree) or custom select field
// styles (which clip with the footer when the style rule is
// applied to the main element).
.page {
    overflow-x: hidden;
}

.page-wrapper {
    margin:     0 auto;
    max-width:  81.25rem;
    position:   relative;
}

.content-wrapper {
    margin:    0 auto;
    max-width: $content-wrapper--mobile;
}

.wrapper {
    padding-left:  pxToRem(15);
    padding-right: pxToRem(15);
}

.content {
    padding: 0 1rem pxToRem(45);

    .l--content & {
        padding: 0;
    }
}

.content-inner {
    &__rhs {
        .layout--content & {
            padding: 1rem;
        }
    }
}

.flex-wrapper {
    @include sq-flex-box;
}

.mobile-hidden {
    display: none;
}

.desktop-hidden {
    display: inline-block;
}

// Page section backgrounds

.bg {
    &-default {
        background: transparent;
    }

    &-white {
        background: $white;
    }

    &-cerise {
        background-color: $base-cerise;
    }

    &-dark-charcoal {
        background-color: $base-dark-charcoal;
    }

    &-light-charcoal {
        background-color: $base-light-charcoal;
    }

    &-light-grey {
        background-color: $base-light-grey;
    }

    &-medium-grey {
        background-color: $base-medium-grey;
    }

    &-dark-grey {
        background-color: $base-dark-grey;
    }

    &-monash-blue {
        background-color: $base-monash-blue;
    }

    &-brown {
        background-color: $base-brown;
    }
}


.top-gap {

    &--standard {
        padding-top: $gap-standard;
    }

    &--small {
        padding-top: $gap-small--mobile;
    }

    &--regular {
        padding-top: $gap-regular--mobile;
    }

    &--grey::before {
        background-color: $base-light-grey;
        content:          ' ';
        display:          block;
        height:           $gap-height;
    }

    &--white::before{
        background-color: $white;
        content:          ' ';
        display:          block;
        height:           $gap-height;
    }
}

.bottom-gap {

    &--standard {
        padding-bottom: $gap-standard;
    }

    &--medium {
        padding-bottom: 2rem;
    }

    &--grey::after{
        background-color: $base-light-grey;
        content:          ' ';
        display:          block;
        height:           $gap-height;
    }

    &--white::after {
        background-color: $white;
        content:          ' ';
        display:          block;
        height:           $gap-height;
    }
}

// User-defined colours (includes specificity overrides)
.user-def-palette,
.call-to-action__action.user-def-palette,
.banner .page-wrapper.user-def-palette {

    @each $colour-name, $colour-value in $palette {
        // Override background colour
        &--bg-#{$colour-name} {
            background-color: $colour-value;
        }
        // Override border colour
        &--border-#{$colour-name} {
            border-color: $colour-value;
        }
        // Override text colour
        &--text-#{$colour-name} {
            color: $colour-value;

            p {
                color: $colour-value;
            }
        }
    }

}

// User-defined icons for modules:
// - box-featured
// - feature-links
.user-def-icon {
    @include    sq-flex-box();
    width:      100%;

    &::before {
        @include sq-sprite-bg;
        @include sq-flex-shrink(0);
        content:        '';
        display:        block;
        margin-right:   1rem;
        vertical-align: top;
    }

    &--feature {

        &-double-degree::before {
            @include sq-sprite(double-degree);
        }

        &-laptop::before {
            @include sq-sprite(laptop);
        }

        &-phone::before {
            @include sq-sprite(phone);
        }

        &-spreadsheet::before {
            @include sq-sprite(spreadsheet);
        }

        &-touch::before {
            @include sq-sprite(touch);
        }

        &-users-three::before {
            @include sq-sprite(users-three);
        }

        &-user-message::before {
            @include sq-sprite(user-message);
        }

        &-australia-blue::before {
            @include sq-sprite(australia-blue);
        }

        &-australia-blue-solid::before {
            @include sq-sprite(australia-blue-solid);
        }

        &-business-people::before {
            @include sq-sprite(business-people);
        }

        &-circle-of-trust::before {
            @include sq-sprite(circle-of-trust);
        }

        &-document-pinned::before {
            @include sq-sprite(document-pinned);
        }

        &-earth::before {
            @include sq-sprite(earth);
        }

        &-edit::before {
            @include sq-sprite(edit);
        }

        &-employability::before {
            @include sq-sprite(employability);
        }

        &-filter-and-sort::before {
            @include sq-sprite(filter-and-sort);
        }

        &-folders::before {
            @include sq-sprite(folders);
        }

        &-gift::before {
            @include sq-sprite(gift);
        }

        &-world-globe::before {
            @include sq-sprite(globe);
        }

        &-handshake::before {
            @include sq-sprite(handshake);
        }

        &-lecture::before {
            @include sq-sprite(lecture);
        }

        &-magnifying-glass::before {
            @include sq-sprite(magnifying-glass);
        }

        &-mail-write::before {
            @include sq-sprite(mail-write);
        }

        &-map-location::before {
            @include sq-sprite(map-location);
        }

        &-medal::before {
            @include sq-sprite(medal);
        }

        &-messages::before {
            @include sq-sprite(messages);
        }

        &-money::before {
            @include sq-sprite(money);
        }

        &-publication::before {
            @include sq-sprite(magazine);
        }

        &-piggy-bank::before {
            @include sq-sprite(piggy-bank);
        }

        &-question::before {
            @include sq-sprite(question);
        }

        &-search::before {
            @include sq-sprite(search-paper);
        }

        &-scroll::before {
            @include sq-sprite(scroll);
        }

        &-users-five::before {
            @include sq-sprite(users-five);
        }

        &-earth-blue-solid::before {
            @include sq-sprite(earth-blue-solid);
        }

        &-university::before {
            @include sq-sprite(university);
        }

        &-users-crowd::before {
            @include sq-sprite(users-crowd);
        }

        &-emoticon-smile::before {
            @include sq-sprite(emoticon-smile);
        }

        &-first-aid::before {
            @include sq-sprite(first-aid);
        }

        &-home::before {
            @include sq-sprite(home-blue);
        }

        &-microscope::before {
            @include sq-sprite(microscope);
        }

        &-ok-mark::before {
            @include sq-sprite(ok);
        }

        &-passport::before {
            @include sq-sprite(passport);
        }

        &-suitcase::before {
            @include sq-sprite(suitcase);
        }

        &-trophy::before {
            @include sq-sprite(trophy);
        }

        &-accreditation::before {
            @include sq-sprite(accreditation);
        }
        &-bus::before {
            @include sq-sprite(bus);
        }
        &-camera-blue-icon::before {
            @include sq-sprite(camera-blue-icon);
        }
        &-car::before {
            @include sq-sprite(car);
        }
        &-discovery-blue-icon::before {
            @include sq-sprite(discovery-blue-icon);
        }
        &-electricity::before {
            @include sq-sprite(electricity);
        }
        &-heart-blue::before {
            @include sq-sprite(heart-blue);
        }
        &-history-blue-icon::before {
            @include sq-sprite(history-blue-icon);
        }
        &-idea-blue-icon::before {
            @include sq-sprite(idea-blue-icon);
        }
        &-media-blue-icon::before {
            @include sq-sprite(media-blue-icon);
        }
        &-mobile-phone-blue-icon::before {
            @include sq-sprite(mobile-phone-blue-icon);
        }
        &-mortar-board::before {
            @include sq-sprite(mortar-board);
        }
        &-nature-blue-icon::before {
            @include sq-sprite(nature-blue-icon);
        }
        &-photo-blue-icon::before {
            @include sq-sprite(photo-blue-icon);
        }
        &-pin-drop::before {
            @include sq-sprite(pin-drop);
        }
        &-rankings-blue-icon::before {
            @include sq-sprite(rankings-blue-icon);
        }
        &-support-blue-icon::before {
            @include sq-sprite(support-blue-icon);
        }
        &-survey-blue-icon::before {
            @include sq-sprite(survey-blue-icon);
        }
        &-sustainability-blue-icon::before {
            @include sq-sprite(sustainability-blue-icon);
        }
        &-icon-tap::before {
            @include sq-sprite(icon-tap);
        }
    }

    &--study-info {

        &-crowd-business::before {
            @include sq-sprite(user-message);
        }

        &-crowd-normal::before {
            @include sq-sprite(users-three);
        }

        &-degree::before {
            @include sq-sprite(spreadsheet);
        }

        &-specialisations::before {
            @include sq-sprite(touch);
        }

    }

    &--study-search {

        &-online-course::before {
            @include sq-sprite(laptop);
        }

        &-double-degree::before {
            @include sq-sprite(double-degree);
        }

        &-course-new::before {
            @include sq-sprite(course-new);
        }

        &-accreditation::before {
            @include sq-sprite(accreditation);
        }
    }

}

.byline {
    font-size:   .8rem;
    font-weight: $font-bold;

    &__author {
        text-transform: uppercase;
    }

    &__phone,
    &__datetime {
        margin-left: .8rem;

        &:first-child {
            margin-left: 0;
        }
    }

    &__datetime {
        font-weight: $font-regular;
    }
}
