// Global Styles (Print)

// Stop strange clipping behaviour and unwanted scrollbars
// from appearing on print media. Mostly causes bugs on
// Home pages.
.page {
    overflow-x: visible;
}

.user-def-icon::before {
    display: none;
}
