body {
    font-size: pxToRem(16);
}

h1 {
    font-size:      pxToRem(42);
    margin-top:     .67em;
    padding-top:    0;
}

h2 {
    font-size: pxToRem(28);
}

h3 {
    font-size: pxToRem(24);
}

h4 {
    font-size: pxToRem(16);
}

h5 {
    font-size: pxToRem(16);
}

h6 {
    font-size: pxToRem(16);
}

// MS-9: Phone links appear as normal text (devices with large displays are unlikely to use calling ability)
a[href^="tel:"] {
    text-decoration: none;
    color: inherit;
}

.mobile-hidden {
    display: block;
}

.desktop-hidden {
    display: none;
}

.content-wrapper {
    max-width:  $content-wrapper--desktop;
    padding:    0 1rem;
}

.lhs {
    float:       left;
    padding-top: 2rem;
    width:       pxToRem(263);

    + .content {
        margin-left:   pxToRem(278);
        margin-right:  -1000rem;
        padding-right: 1000rem;
    }
}

.lhs--wide {
    margin-left: -5rem;
    padding-top: pxToRem(45);
    width:       pxToRem(340);

    + .content {
        margin-left: pxToRem(292);
        padding-top: pxToRem(45);

        h3 {
            margin-top: 0;
        }
    }
}

.content {
    padding: 0;

    .l--content-rhs & {
        margin-right:  -1000rem;
        padding-right: 1000rem;
    }
}

.content-inner {
    &__main {
        float:   left;
        padding: pxToRem(12) pxToRem(30) pxToRem(30) 0;
        width:   70%;

        .l--lhs-content & {
            padding-right: 0;
            width:         100%;
        }

        .l--content-rhs & {
            width: 74%;
        }

        .l--content & {
            padding: 0;
            width:   66%;
        }

        .l--lhs-content-rhs &,
        .l--lhs-content & {
            padding-left: pxToRem(30);
        }

        .l--content-rhs-even & {
            width: 74.39%;
        }
    }

    &__rhs {
        float:       right;
        padding-top: 2rem;
        width:       30%;

        .l--content-rhs & {
            padding-left: 0;
            width:        26%;
        }

        .l--content & {
            padding: 0 0 0 2rem;
            width:   34%;
        }

        .l--content-rhs-even & {
            margin-left:  2.63%;
            padding-left: 0;
            width:        22.98%;
        }
    }
}

.top-gap {

    &--min {
        padding-top: $gap-min;
    }

    &--regular {
        padding-top: $gap-regular;
    }

    &--small {
        padding-top: $gap-small;
    }

    &--mid {
        padding-top: $gap-mid;
    }

    &--medium {
        padding-top: $gap-medium;
    }
}

.bottom-gap {

    &--min {
        padding-bottom: $gap-min;
    }

    &--regular {
        padding-bottom: $gap-regular;
    }

    &--small {
        padding-bottom: $gap-small;
    }

    &--mid {
        padding-bottom: $gap-mid;
    }

    &--medium {
        padding-bottom: $gap-medium;
    }
}

// User-defined colours from Monash palette for wide screen sizes
// Includes specificity overrides
.user-def-palette,
.call-to-action__action.user-def-palette,
.banner .page-wrapper.user-def-palette {

    // Override background colour
    @each $colour-name, $colour-value in $palette {
        // Override background colour
        &--bg-wide-#{$colour-name} {
            background-color: $colour-value;
        }
        // Override text colour
        &--text-wide-#{$colour-name} {
            color: $colour-value;
        }
    }

}
