// Link Bandit (Print)

.link--external {

    &::after {
        background-image: none;
        display:          inline;
        height:           auto;
        margin-left:      0;
        margin-top:       0;
        vertical-align:   baseline;
        width:            auto;
    }

}
