<h3 id="accordions">Accordions</h3>
<div multiselectable="true" role="tablist" class="accordion">
    <section class="panel">
        <h3 class="accTitle" id="section12" aria-controls="section12" role="tab" aria-expanded="false" data-expanded-by-default="false"><a href="#accordion__target-1" rel="12">Lorem ipsum</a></h3>
        <div id="accordion__target-1"class="accContent" aria-labelledby="section12" aria-hidden="true" role="tabpanel" style="display: none;">
            <p>Lorem ipsum Culpa aliquip dolor aliquip laboris Ut ea laboris consequat sit incididunt proident proident voluptate est elit labore Ut id cillum et irure.</p>
        </div>
    </section>
    <section class="panel">
        <h3 class="accTitle" id="section13" aria-controls="section13" role="tab" aria-expanded="false"><a href="#accordion__target-2" rel="13">Dolor sit amet</a></h3>
        <div id="accordion__target-2" class="accContent" aria-labelledby="section13" aria-hidden="true" role="tabpanel" style="display: none;">
            <p>Lorem ipsum Laboris deserunt quis aliquip tempor est ad nostrud incididunt Excepteur ut sit id Ut esse est velit ea velit elit voluptate sit sit voluptate irure mollit commodo occaecat in qui culpa id ullamco adipisicing non fugiat Ut ullamco fugiat aute officia tempor proident ut ad non officia fugiat culpa nisi non in qui enim in est in in quis et sunt adipisicing elit sunt nisi in quis labore voluptate commodo sit sint in enim qui voluptate sint dolor veniam in pariatur pariatur proident deserunt aute esse ea esse commodo culpa mollit anim quis Duis culpa tempor laborum in laborum id sint veniam dolore amet labore ad cupidatat eiusmod aliquip commodo sit labore Ut in consectetur voluptate ad id labore est ut culpa Excepteur Duis nulla fugiat non culpa mollit nulla exercitation ea occaecat tempor aute dolore aliqua ex mollit in nulla aliqua et anim ut dolor qui ex ullamco qui enim aliquip esse dolore cupidatat adipisicing ea nulla do officia nulla do sed.</p>
        </div>
    </section>
</div>

<h4>Accordions inside Tabs</h4>

<div id="bottom-tabs" class="bottom-tabs grid-col-sm-12 grid-col-md-12-12">
    <div class="tabs mobile-hidden">
        <ul class="tabs__tab-list">
            <li class="tabs__item"><a href="#overview-1" class="tabs__link">Overview</a></li>
            <li class="tabs__item"><a href="#entry-requirements-2" class="tabs__link">Entry requirements</a></li>
<!--
            <li class="tabs__item"><a href="#course-structure-3" class="tabs__link">Course structure</a></li>
            <li class="tabs__item"><a href="#double-degree-4" class="tabs__link">Double degree</a></li>
-->
        </ul>
        <div class="tabs__tab-content">
            <div id="overview-1" class="tabs__target" data-name="Overview">
                <p>Tab 1.</p>
                <p>Please select a specialisation for more details&hellip;</p>
                <p>Choose from the following:</p>
                <div multiselectable="true" role="tablist" class="accordion">
                    <section class="panel">
                        <h3 id="section1200" class="accTitle" aria-controls="section120" role="tab" aria-expanded="false"><a href="#accordion__target-1100" rel="1200">Majors, extended majors and minors</a></h3>
                        <div id="accordion__target-1100" class="accContent" aria-labelledby="section120" aria-hidden="true" role="tabpanel" style="display: none;">
                            <p>Tab 1, Accordion 1, Panel 1</p>
                        <!-- /.accContent --></div>
                    </section>
                    <section class="panel">
                        <h3 id="section1300" class="accTitle" aria-controls="section130" role="tab" aria-expanded="false"><a href="#accordion__target-200" rel="1300">History</a></h3>
                        <div id="accordion__target-200" class="accContent" aria-labelledby="section130" aria-hidden="true" role="tabpanel" style="display: none;">
                            <p>Tab 1, Accordion 1, Panel 2</p>
                        <!-- /.accContent --></div>
                    </section>
                <!-- /.accordion --></div>
            <!-- /.tabs__target --></div>
            <div id="entry-requirements-2" class="tabs__target" data-name="Entry requirements">
                <p class="introduction">You need to satisfy the following entrance requirements to be considered for entry to this course.</p>
                <div multiselectable="true" role="tablist" class="accordion">
                    <section class="panel">
                        <h3 id="section120" class="accTitle" aria-controls="section120" role="tab" aria-expanded="false" data-expanded-by-default="true"><a href="#min-entry-requirements" rel="120">Minimum Entry Requirements</a></h3>
                        <div id="min-entry-requirements" class="accContent" aria-labelledby="section120" aria-hidden="true" role="tabpanel" style="display: none;">
                            <p>Tab 2, Accordion 1, Panel 1</p>
                        <!-- /.accContent --></div>
                    </section>
                    <section class="panel">
                        <h3 id="section130" class="accTitle" aria-controls="section13" role="tab" aria-expanded="false"><a href="#accordion__target-20" rel="130">Extra Requirements</a></h3>
                        <div id="accordion__target-20" class="accContent" aria-labelledby="section130" aria-hidden="true" role="tabpanel" style="display: none;">
                            <p>Tab 2, Accordion 1, Panel 2</p>
                        <!-- /.accContent --></div>
                    </section>
                <!-- /.accordion --></div>
            <!-- /.tabs__target --></div>
        <!-- /.tabs__tab-content --></div>
    <!-- /.tabs --></div>
<!-- /.bottom-tabs --></div>
