<!-- import:content source:modules/tabs-accordions/html/tabs.html -->
<!-- import:content source:modules/tabs-accordions/html/accordion.html -->

<h2>Filler Text</h2>
<p>Monash Online is dedicated to providing you with a world-class learning experience that is personalised, interactive and 100% online.</p>
<p>We are at the forefront of online education, and we invite you to join us.</p>
