<div id="tabs-no-accordion" class="tabs tabs-no-accordion no-mobile-accordion">
  <h3 id="tabs" class="tabs__title text-700">Policies and Procedures</h3>
  <ul class="tabs__tab-list disable-scrollbars content-center">
    <li class="tabs__item">
      <a href="#tabtab1" class="tabs__link">Popular</a>
    </li>
    <li class="tabs__item">
      <a href="#tabtab2" class="tabs__link">Academic</a>
    </li>
    <li class="tabs__item">
      <a href="#tabtab3" class="tabs__link">Employment</a>
    </li>
    <li class="tabs__item">
      <a href="#tabtab4" class="tabs__link">Research</a>
    </li>
    <li class="tabs__item">
      <a href="#tabtab5" class="tabs__link">OHS</a>
    </li>
    <li class="tabs__item">
      <a href="#tabtab6" class="tabs__link">Operational</a>
    </li>
  </ul>
  <div class="tabs__tab-content">
    <div class="tabs__target" id="tabtab1" data-name="Inner tab 1">
      {% include "../../card/html/cards.html" %}
    </div>
    <div class="tabs__target" id="tabtab2" data-name="Inner tab 2">
      <p><img src="https://unsplash.it/1140/704/?random" /></p>
    </div>
    <div class="tabs__target" id="tabtab3" data-name="Inner tab 3">
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
        <li>Ut enim ad minim veniam</li>
        <li>Duis aute irure dolor in reprehenderit</li>
      </ul>
    </div>
    <div class="tabs__target" id="tabtab4" data-name="Tab 4">
      <p>
        Tabs 4 content
      </p>
    </div>
    <div class="tabs__target" id="tabtab5" data-name="Tab 5">
      <p>
        Tabs 5 content
      </p>
    </div>
    <div class="tabs__target" id="tabtab6" data-name="Tab 6">
      <p>
        Tabs 6 content
      </p>
    </div>
  </div>
</div>
