.news-archive-listing__events-item {
    margin-bottom: pxToEm(16);

    h3 a {
        padding-left: pxToEm(0);
    }

    a {
    text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.time-period-btn-wrapper {
    display:   flex;
    flex-wrap: wrap;
    width:     100%;
}

.search-box--news-events-browse-lhs {
    display: flex;
    flex-direction: inherit;
    flex-wrap:      wrap;
    margin-left:    auto;
    margin-top:     0.625rem;
}

.selectric-wrapper.selectric-search-box--news-events__select {
    border-right: 0;
    flex-basis:   100%;

    .selectric {
        padding-left: 10px;
    }
}

.news-archive-listing__events-item h3,
p.news-item-published-date {
    margin: pxToEm(0);
}

a.news-item-url {
    margin-top: pxToEm(0);
    font-size: pxToEm(10);
}

.search-box--news-events-rhs,
.search-box--news-events-browse-rhs {
    margin-top: 0;
  }

.search-box-wrapper-rhs {
    width: 100%;
}

.search-box-wrapper-rhs .selectric {
    padding-left: 15px !important;
}
