// News Listing Archive (Global)

.news-archive-listing__events-item {
    margin-bottom: pxToEm(16);

    h3 a {
        padding-left: pxToEm(0);
    }

    a {
    text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

#full-page-events {
  margin: 0;
  .box-listing-element__group {
    margin: 0
  }
}

.search-box--news-events-rhs {
    width: 50%;
}

.search-box--events {
    flex-basis: 100%;
}

.selectric-wrapper.selectric-search-box--news-events__select {
    border-right: pxToRem(5) solid transparent;
    flex-basis: auto;
}

.search-box--news-events__select {
flex-wrap: wrap;
}


.news-archive-listing__events-item h3,
p.news-item-published-date {
    margin: pxToEm(0);
}

a.news-item-url {
    margin-top: pxToEm(0);
    font-size: pxToEm(10);
}

.search-box--news-events-browse-lhs {
    margin-top: 1.25rem;
}


.time-period-btn-wrapper {
    flex-wrap: nowrap;
}