.container-fluid {
    margin-right:              auto;
    margin-left:               auto;
    padding-right:             2rem;
    padding-left:              2rem;
}

.row {
    @include                   sq-flex-box();
    @include                   sq-flex-direction(row);
    box-sizing:                border-box;
    -webkit-flex:              0 1 auto;
    -ms-flex:                  0 1 auto;
    -webkit-box-flex:          0;
    flex:                      0 1 auto;
    -webkit-flex-wrap:         wrap;
    -ms-flex-wrap:             wrap;
    flex-wrap:                 wrap;
    // margin-right:           -1rem;
    // margin-left:            -1rem;
}

.row.reverse {
    -webkit-flex-direction:    row-reverse;
    -ms-flex-direction:        row-reverse;
    -webkit-box-orient:        horizontal;
    -webkit-box-direction:     reverse;
    flex-direction:            row-reverse;
}

.col.reverse {
    -webkit-flex-direction:    column-reverse;
    -ms-flex-direction:        column-reverse;
    -webkit-box-orient:        vertical;
    -webkit-box-direction:     reverse;
    flex-direction:            column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    box-sizing:                border-box;
    -webkit-flex:              0 0 auto;
    -ms-flex:                  0 0 auto;
    -webkit-box-flex:          0;
    flex:                      0 0 auto;
    // padding-right:          1rem;
    // padding-left:           1rem;
}

.col-xs {
    -webkit-flex-grow:         1;
    -ms-flex-positive:         1;
    -webkit-box-flex:          1;
    flex-grow:                 1;
    -ms-flex-preferred-size:   0;
    -webkit-flex-basis:        0;
    flex-basis:                0;
    max-width:                 100%;
}

.col-xs-1 {
    -ms-flex-preferred-size:   8.333%;
    -webkit-flex-basis:        8.333%;
    flex-basis:                8.333%;
    max-width:                 8.333%;
}

.col-xs-2 {
    -ms-flex-preferred-size:   16.667%;
    -webkit-flex-basis:        16.667%;
    flex-basis:                16.667%;
    max-width:                 16.667%;
}

.col-xs-3 {
    -ms-flex-preferred-size:   25%;
    -webkit-flex-basis:        25%;
    flex-basis:                25%;
    max-width:                 25%;
}

.col-xs-4 {
    -ms-flex-preferred-size:   33.333%;
    -webkit-flex-basis:        33.333%;
    flex-basis:                33.333%;
    max-width:                 33.333%;
}

.col-xs-5 {
    -ms-flex-preferred-size:   41.667%;
    -webkit-flex-basis:        41.667%;
    flex-basis:                41.667%;
    max-width:                 41.667%;
}

.col-xs-6 {
    -ms-flex-preferred-size:   50%;
    -webkit-flex-basis:        50%;
    flex-basis:                50%;
    max-width:                 50%;
}

.col-xs-7 {
    -ms-flex-preferred-size:   58.333%;
    -webkit-flex-basis:        58.333%;
    flex-basis:                58.333%;
    max-width:                 58.333%;
}

.col-xs-8 {
    -ms-flex-preferred-size:   66.667%;
    -webkit-flex-basis:        66.667%;
    flex-basis:                66.667%;
    max-width:                 66.667%;
}

.col-xs-9 {
    -ms-flex-preferred-size:   75%;
    -webkit-flex-basis:        75%;
    flex-basis:                75%;
    max-width:                 75%;
}

.col-xs-10 {
    -ms-flex-preferred-size:   83.333%;
    -webkit-flex-basis:        83.333%;
    flex-basis:                83.333%;
    max-width:                 83.333%;
}

.col-xs-11 {
    -ms-flex-preferred-size:   91.667%;
    -webkit-flex-basis:        91.667%;
    flex-basis:                91.667%;
    max-width:                 91.667%;
}

.col-xs-12 {
    -ms-flex-preferred-size:   100%;
    -webkit-flex-basis:        100%;
    flex-basis:                100%;
    max-width:                 100%;
}

.col-xs-offset-1 {
    margin-left:               8.333%;
}

.col-xs-offset-2 {
    margin-left:               16.667%;
}

.col-xs-offset-3 {
    margin-left:               25%;
}

.col-xs-offset-4 {
    margin-left:               33.333%;
}

.col-xs-offset-5 {
    margin-left:               41.667%;
}

.col-xs-offset-6 {
    margin-left:               50%;
}

.col-xs-offset-7 {
    margin-left:               58.333%;
}

.col-xs-offset-8 {
    margin-left:               66.667%;
}

.col-xs-offset-9 {
    margin-left:               75%;
}

.col-xs-offset-10 {
    margin-left:               83.333%;
}

.col-xs-offset-11 {
    margin-left:               91.667%;
}

.start-xs {
    -webkit-justify-content:   flex-start;
    -ms-flex-pack:             start;
    -webkit-box-pack:          start;
    justify-content:           flex-start;
    text-align:                start;
}

.center-xs {
    -webkit-justify-content:   center;
    -ms-flex-pack:             center;
    -webkit-box-pack:          center;
    justify-content:           center;
    text-align:                center;
}

.end-xs {
    -webkit-justify-content:   flex-end;
    -ms-flex-pack:             end;
    -webkit-box-pack:          end;
    justify-content:           flex-end;
    text-align:                end;
}

.top-xs {
    -webkit-align-items:       flex-start;
    -ms-flex-align:            start;
    -webkit-box-align:         start;
    align-items:               flex-start;
}

.middle-xs {
    -webkit-align-items:       center;
    -ms-flex-align:            center;
    -webkit-box-align:         center;
    align-items:               center;
}

.bottom-xs {
    -webkit-align-items:       flex-end;
    -ms-flex-align:            end;
    -webkit-box-align:         end;
    align-items:               flex-end;
}

.around-xs {
    -webkit-justify-content:   space-around;
    -ms-flex-pack:             distribute;
    justify-content:           space-around;
}

.between-xs {
    -webkit-justify-content:   space-between;
    -ms-flex-pack:             justify;
    -webkit-box-pack:          justify;
    justify-content:           space-between;
}

.first-xs {
    -webkit-order:             -1;
    -ms-flex-order:            -1;
    -webkit-box-ordinal-group: 0;
    order:                     -1;
}

.last-xs {
    -webkit-order:             1;
    -ms-flex-order:            1;
    -webkit-box-ordinal-group: 2;
    order:                     1;
}