.container {
    width:                     36.5rem;
}

.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
    box-sizing:                border-box;
    -webkit-flex:              0 0 auto;
    -ms-flex:                  0 0 auto;
    -webkit-box-flex:          0;
    flex:                      0 0 auto;
    // padding-right:          1rem;
    // padding-left:           1rem;
}

.col-sm {
    -webkit-flex-grow:         1;
    -ms-flex-positive:         1;
    -webkit-box-flex:          1;
    flex-grow:                 1;
    -ms-flex-preferred-size:   0;
    -webkit-flex-basis:        0;
    flex-basis:                0;
    max-width:                 100%;
}

.col-sm-1 {
    -ms-flex-preferred-size:   8.333%;
    -webkit-flex-basis:        8.333%;
    flex-basis:                8.333%;
    max-width:                 8.333%;
}

.col-sm-2 {
    -ms-flex-preferred-size:   16.667%;
    -webkit-flex-basis:        16.667%;
    flex-basis:                16.667%;
    max-width:                 16.667%;
}

.col-sm-3 {
    -ms-flex-preferred-size:   25%;
    -webkit-flex-basis:        25%;
    flex-basis:                25%;
    max-width:                 25%;
}

.col-sm-4 {
    -ms-flex-preferred-size:   33.333%;
    -webkit-flex-basis:        33.333%;
    flex-basis:                33.333%;
    max-width:                 33.333%;
}

.col-sm-5 {
    -ms-flex-preferred-size:   41.667%;
    -webkit-flex-basis:        41.667%;
    flex-basis:                41.667%;
    max-width:                 41.667%;
}

.col-sm-6 {
    -ms-flex-preferred-size:   50%;
    -webkit-flex-basis:        50%;
    flex-basis:                50%;
    max-width:                 50%;
}

.col-sm-7 {
    -ms-flex-preferred-size:   58.333%;
    -webkit-flex-basis:        58.333%;
    flex-basis:                58.333%;
    max-width:                 58.333%;
}

.col-sm-8 {
    -ms-flex-preferred-size:   66.667%;
    -webkit-flex-basis:        66.667%;
    flex-basis:                66.667%;
    max-width:                 66.667%;
}

.col-sm-9 {
    -ms-flex-preferred-size:   75%;
    -webkit-flex-basis:        75%;
    flex-basis:                75%;
    max-width:                 75%;
}

.col-sm-10 {
    -ms-flex-preferred-size:   83.333%;
    -webkit-flex-basis:        83.333%;
    flex-basis:                83.333%;
    max-width:                 83.333%;
}

.col-sm-11 {
    -ms-flex-preferred-size:   91.667%;
    -webkit-flex-basis:        91.667%;
    flex-basis:                91.667%;
    max-width:                 91.667%;
}

.col-sm-12 {
    -ms-flex-preferred-size:   100%;
    -webkit-flex-basis:        100%;
    flex-basis:                100%;
    max-width:                 100%;
}

.col-sm-offset-0 {
    margin-left:               0;
}

.col-sm-offset-1 {
    margin-left:               8.333%;
}

.col-sm-offset-2 {
    margin-left:               16.667%;
}

.col-sm-offset-3 {
    margin-left:               25%;
}

.col-sm-offset-4 {
    margin-left:               33.333%;
}

.col-sm-offset-5 {
    margin-left:               41.667%;
}

.col-sm-offset-6 {
    margin-left:               50%;
}

.col-sm-offset-7 {
    margin-left:               58.333%;
}

.col-sm-offset-8 {
    margin-left:               66.667%;
}

.col-sm-offset-9 {
    margin-left:               75%;
}

.col-sm-offset-10 {
    margin-left:               83.333%;
}

.col-sm-offset-11 {
    margin-left:               91.667%;
}

.start-sm {
    -webkit-justify-content:   flex-start;
    -ms-flex-pack:             start;
    -webkit-box-pack:          start;
    justify-content:           flex-start;
    text-align:                start;
}

.center-sm {
    -webkit-justify-content:   center;
    -ms-flex-pack:             center;
    -webkit-box-pack:          center;
    justify-content:           center;
    text-align:                center;
}

.end-sm {
    -webkit-justify-content:   flex-end;
    -ms-flex-pack:             end;
    -webkit-box-pack:          end;
    justify-content:           flex-end;
    text-align:                end;
}

.top-sm {
    -webkit-align-items:       flex-start;
    -ms-flex-align:            start;
    -webkit-box-align:         start;
    align-items:               flex-start;
}

.middle-sm {
    -webkit-align-items:       center;
    -ms-flex-align:            center;
    -webkit-box-align:         center;
    align-items:               center;
}

.bottom-sm {
    -webkit-align-items:       flex-end;
    -ms-flex-align:            end;
    -webkit-box-align:         end;
    align-items:               flex-end;
}

.around-sm {
    -webkit-justify-content:   space-around;
    -ms-flex-pack:             distribute;
    justify-content:           space-around;
}

.between-sm {
    -webkit-justify-content:   space-between;
    -ms-flex-pack:             justify;
    -webkit-box-pack:          justify;
    justify-content:           space-between;
}

.first-sm {
    -webkit-order:             -1;
    -ms-flex-order:            -1;
    -webkit-box-ordinal-group: 0;
    order:                     -1;
}

.last-sm {
    -webkit-order:             1;
    -ms-flex-order:            1;
    -webkit-box-ordinal-group: 2;
    order:                     1;
}