.page-wrapper .content-wrapper--nowrap {
  max-width: none;
  padding: 0;
}
.search-global {

  &__banner {
    &.jumbotron {
      padding-top: 6.125rem;
      background-image: url({{file_dest}}/abstract-bg-min.jpg);

      @include rwd-to($mobile) {
        padding-top: 2.25rem;
      }

      @include rwd-to(375) {
        background-image: url({{file_dest}}/mobile-abstract-bg-min.jpg);
      }

    }
    background-size: cover;
    background-position: center;
    height: 24.375rem;
    color: $search-global-white;

    @include rwd-to($mobile) {
      height:  15.9375rem;
    }

    &-medium.jumbotron {
      /* MONFUNNEL-79: medium-sized banner */
      padding-top: 3rem;
      padding-bottom: 1.5rem;
      height: auto;

      .h1 {
        margin-bottom: 1rem;
      }

      @include rwd-to($mobile) {
        padding-top: 1rem;
      }
    }

  }

  .jumbotron {
    margin-bottom: 0;

    .container {
      box-sizing: content-box;
    }

    form {

      position: relative;
      z-index: 3;

    }

    .input-group {
      border-bottom: solid 1px $search-global-white;
      width: 46.625rem;
      margin: 0 auto;
      padding-bottom: .5625rem;
      position: static;
      flex-wrap: inherit;

      @include rwd-to($mobile) {
        width: calc( 100% - 1.875rem );
        margin: 0 .9375rem;
        padding-bottom: 0.3rem;
      }

      .twitter-typeahead {
        position: static !important;
      }

      &-addon {
        &:first-child {
          padding-left: 0;
          font-size: 2rem;
          width: 3rem;
        }
        &:last-child {
          padding-right: 0;
        }
      }

    }

    button[type='submit'] {
      background-color: $search-global-blue;
      border-color: $search-global-blue;
      font-size: 1.0625rem;
      font-family: $font-family__base-search;
      padding: .657rem 2.2125rem;
      @include sq-border-radius(0);

      // arrow
      @include rwd-to($mobile) {
        position: relative;
        text-indent: -9999px;
        padding: 0;
        height: 2.875rem;
        width: 2.125rem;

        &:before,
        &:after {
          content: '';
          background-color: $search-global-white;
          height: 0.675rem;
          width: .25rem;
          display: block;
          position: absolute;
          left: 0.9375rem;
        }
        &:before {
          @include sq-transform(rotate(-135deg));
          top: 1.24rem;
        }
        &:after {
          @include sq-transform(rotate(135deg));
          top: 0.85rem;
        }
      }

      &:hover,
      &:focus {
        background-color: $search-global-blue;
        border-color: $search-global-blue;
        text-decoration: underline;
      }

    }

    input {
      &:focus {
        color: $search-global-white;
        font-size: 1.875rem;
      }
      color: $search-global-white;
      font-family: $font-family__base-search;
      font-size: 1.875rem;
      box-shadow: none;
      border: none;
      padding: 0;
      background-color: transparent;
      font-weight: 300;
    }

    // font-awesome icons
    .fa {
      color: $search-global-white;
    }

  }

  // autocomplete menu search banner
  .tt{

    &-menu {

      padding: 3.125rem 5.9375rem 3.75rem 4.0625rem;
      color: $search-global-black;
      margin-top: -1px;

      @include rwd-to($mobile) {
        padding: 1.5rem .9375rem;

        // display:none!important; //QUICK FIX : hide on mobile because styling is borken 

      }

      h6 {

        margin-bottom: 0;

      }

      .details {

        small {
          font-size: .9375rem
        }

        &-svg {
          vertical-align: text-top;
          padding-right: .4rem;

          img {
            vertical-align: baseline;
          }
        }

      }

      .media {

        &-svg {
          margin-right: 1.125rem;
          svg {
            vertical-align: bottom;
          }

        }

        &-body {

          h6 {

            &.tt-suggestion__title {
              font-weight: bold;
              margin-bottom: .5rem;
            }

            font-weight: normal;
            margin-bottom: 0;

          }

        }

      }

      .tt-suggestion {
        img.picture {
          margin-left: 2.25rem;
          max-width: 4.125rem;
        }
        &__title {

          color: $search-global-blue;

        }

        &.tt-selectable {
          padding: 0;

          &:hover,
          &:focus {
            background-color: transparent;
            text-decoration: underline;
          }

        }

      }

    }

    &-dataset {
      // display: table-cell;
      // box-sizing: content-box;
      float: left; 

      @include rwd-to(768) {
        display: block;
      }

      /* 'important' to override style="width:" which seems to be injected by Typeahead */
      &-organic {
        width: 28.85%!important;
        padding-right: 1.875rem;

        @include rwd-to($mobile) {
          width: 33.333%!important;
        }

        @include rwd-to($mobile-small) {
          width: 100%!important;
          margin-bottom: .5rem;
        }

      }

      &-courses {
        width: 28.52%!important;
        padding-right: 2.0625rem;

        @include rwd-to($mobile) {
          width: 33.333%!important;
        }

        @include rwd-to($mobile-small) {
          width: 100%!important;
        }

        .tt-suggestion {
          margin-bottom: 1.125rem;
        }

      }

      &-research {
        width: 42.62%!important;

        @include rwd-to($mobile) {
          width: 33.333%!important;
        }

        @include rwd-to($mobile-small) {
          width: 100%!important;
        }

        .tt-suggestion {
          margin-bottom: 1.125rem;
          img {
            margin-left: 0;
          }
        }

      }

    }

    &-category {
      font-size: 1.5rem;
      border-bottom: 1px solid #979797;
      padding-bottom: .5rem;
      margin-bottom: .9375rem;
      font-weight: 200;
    }

  }

}