<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Core - (version {{version}})</title>
<!-- import:content source:html/docs/fragments/_head.html -->
    </head>
    <!--[if lt IE 7]><body class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
    <!--[if IE 7]><body class="no-js lt-ie9 lt-ie8"><![endif]-->
    <!--[if IE 8]><body class="no-js lt-ie9"><![endif]-->
    <!--[if gt IE 8]><!-->
    <body class="no-js">
    <!--<![endif]-->
    <div id="page-wrapper" class="page">
    <!--noindex-->
        <header class="header" role="banner">
            <!-- import:content source:html/docs/fragments/demo-menu.html -->
          </header><!-- /.header -->
    <!--endnoindex-->
            <div class="demo-heading-list"></div>
            <!-- start main-content -->
            <main class="main" role="main">
                <!-- import:markdown README.md -->
            </main><!-- /#main -->
            <!-- end main-content -->
    <!--noindex-->
        <footer class="footer" role="contentinfo">

        </footer><!-- /.footer -->
    <!--endnoindex-->
    </div><!-- /#page-wrapper -->
<!-- import:content source:html/fragments/_foot.html -->
<!-- import:content source:html/docs/fragments/_foot.html -->
    </body>
</html>
