<div class="cards-grid search-listing">
  <!-- PB Search: No Results -->
  <p class="search-listing__result">No results for '<span class="search-listing__keywords">Cats</span>'</p>

  <span class="search-listing--empty-separator"></span>
  <div class="search-listing--empty">
    <h3>Sorry, we found no results for 'Cats'</h3>
    <p>Please try another search term or browse our popular searches</p>
    <div class="search-listing__popular">
      <p class="search-listing__popular--heading">Popular searches</p>
      <ul class="search-listing__popular--suggestions">
        <li><a href="#">Popular search 1</a></li>
        <li><a href="#">Popular search 2</a></li>
        <li><a href="#">Popular search 3</a></li>
      </ul>
    </div>
  </div>
</div>