<div class="cards-grid search-listing">
  <div class="search-listing__result-summary">
    <div class="search-listing__result">
      <span class="search-listing__count">2</span> results for '<span
        class="search-listing__keywords"
        >academic</span
      >'
    </div>
    <div
      class="search-listing__filter-wrapper search-listing__filter-wrapper--desktop"
    >
      <button
        class="search-listing__category--label search-button"
        for="search-listing__category"
      >
        <span class="search-listing__category--label-text">Category</span>
        <svg>
          <use
            href="/assets/images/icon-spritesheet.svg#arrow-outline-down"
          ></use>
        </svg>
      </button>
      <div
        name="search-listing__category"
        id="search-listing__category--desktop"
        class="hidden search-listing__category"
      >
        <ul>
          <li>
            <label for="search-category__academic"
              >Academic
              <input
                type="checkbox"
                id="search-category__academic"
                class="search-listing__catogery-field"
                value="academic"
                checked="" />
              <span class="search-listing__category-checkbox"></span
            ></label>
          </li>
          <li>
            <label for="search-category__employment"
              >Employment
              <input
                type="checkbox"
                id="search-category__employment"
                class="search-listing__catogery-field"
                value="employment"
                checked="" />
              <span class="search-listing__category-checkbox"></span
            ></label>
          </li>
          <li>
            <label for="search-category__research"
              >Research
              <input
                type="checkbox"
                id="search-category__research"
                class="search-listing__catogery-field"
                value="research" />
              <span class="search-listing__category-checkbox"></span
            ></label>
          </li>
          <li>
            <label for="search-category__operational"
              >Operational
              <input
                type="checkbox"
                id="search-category__operational"
                class="search-listing__catogery-field"
                value="operational" />
              <span class="search-listing__category-checkbox"></span
            ></label>
          </li>
          <li>
            <label for="search-category__ohs"
              >OHS
              <input
                type="checkbox"
                id="search-category__ohs"
                class="search-listing__catogery-field"
                value="ohs"
              />
              <span class="search-listing__category-checkbox"></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="search-listing__filter-wrapper search-listing__filter-wrapper--mobile"
    >
      <button
        class="search-listing__category--label search-button"
        for="search-listing__category"
      >
        <span class="search-listing__category--label-text visuallyhidden"
          >Category</span
        >
        <svg>
          <use href="/assets/images/icon-spritesheet.svg#filter"></use>
        </svg>
      </button>
      <div
        name="search-listing__category"
        id="search-listing__category--mobile"
        class="hidden search-listing__category"
      >
        <div class="search-listing__category--mobile-heading">
          <span>Filters</span>
          <button class="search-listing__category--mobile-close search-button">
            <span class="visuallyhidden">Close Filters</span>
            <svg>
              <use
                href="/assets/images/icon-spritesheet.svg#navigate-cross"
              ></use>
            </svg>
          </button>
        </div>
        <p class="search-listing__category--label-text">Category</p>
        <ul>
          <li>
            <label for="search-category__academic"
              >Academic
              <input
                type="checkbox"
                id="search-category__academic"
                class="search-listing__catogery-field"
                value="academic"
                checked="" />
              <span class="search-listing__category-checkbox"></span
            ></label>
          </li>
          <li>
            <label for="search-category__employment"
              >Employment
              <input
                type="checkbox"
                id="search-category__employment"
                class="search-listing__catogery-field"
                value="employment"
                checked="" />
              <span class="search-listing__category-checkbox"></span
            ></label>
          </li>
          <li>
            <label for="search-category__research"
              >Research
              <input
                type="checkbox"
                id="search-category__research"
                class="search-listing__catogery-field"
                value="research" />
              <span class="search-listing__category-checkbox"></span
            ></label>
          </li>
          <li>
            <label for="search-category__operational"
              >Operational
              <input
                type="checkbox"
                id="search-category__operational"
                class="search-listing__catogery-field"
                value="operational" />
              <span class="search-listing__category-checkbox"></span
            ></label>
          </li>
          <li>
            <label for="search-category__ohs"
              >OHS
              <input
                type="checkbox"
                id="search-category__ohs"
                class="search-listing__catogery-field"
                value="ohs"
              />
              <span class="search-listing__category-checkbox"></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="tabs__tab-list">
    <li class="card">
      <a href="./?a=">
        <div class="icon">
          <svg>
            <use href="/assets/images/icon-spritesheet.svg#copy"></use>
          </svg>
        </div>
        <div class="text">
          <h3 class="text-450">
            Academic Review Procedures
          </h3>
          <div>
            <p>
              Leverage agile frameworks to provide a robust synopsis.Leverage
              agile frameworks to provide a robust synopsis.Leverage agile
              frameworks to provide a robust synopsis.Leverage agile frameworks
              to provide a robust synopsis.Leverage agile frameworks to provide
              a robust synopsis.Leverage agile frameworks to provide a robust
              synopsis.
            </p>
          </div>
        </div>
      </a>
    </li>
    <li class="card">
      <a href="./?a=">
        <div class="icon">
          <svg>
            <use href="/assets/images/icon-spritesheet.svg#copy"></use>
          </svg>
        </div>
        <div class="text">
          <h3 class="text-450">
            Academic Review Policy
          </h3>
          <div>
            <p>
              Leverage agile frameworks to provide a robust synopsis.Leverage
              agile frameworks to provide a robust synopsis.Leverage agile
              frameworks to provide a robust synopsis.Leverage agile frameworks
              to provide a robust synopsis.Leverage agile frameworks to provide
              a robust synopsis.Leverage agile frameworks to provide a robust
              synopsis.
            </p>
          </div>
        </div>
      </a>
    </li>
  </ul>
  <div class="search-listing__pagination">
    <a href="#" class="search-listing__pagination--prev">Prev</a>
    <a href="#" class="search-listing__pagination--index">1</a>
    <a href="#" clas1s="search-listing__pagination--index">2</a>
    <a href="#" class="search-listing__pagination--index active">3</a>
    <a href="#" class="search-listing__pagination--index">4</a>
    <a href="#" class="search-listing__pagination--index">5</a>
    <a href="#" class="search-listing__pagination--next">Next</a>
  </div>
</div>
<!-- 
<div>
  <p>No Result page is displayed as below</p>
</div> -->

<!-- include "./search-list-no-result.html"  -->
