<div id="box-listing-home" class="box-listing-element__container bg-light-grey top-gap--standard bottom-gap--standard">
    <div class="content-wrapper">

        <div class="row box-listing-element__group">

            <div class="col-xs-12">
                <h2 class="box-listing-element__group-heading">Stay up-to-date with the latest news from inside the world of Monash.</h2>
            </div>

            <div class="col-xs-12 box-listing-element__wrapper">
                <div class="box-listing-element box-listing-element--2-col-hero">
                    <div class="row">
                        <a href="http://www.monash.edu#zz-box-list-2-col-hero" class="col-xs-12 col-md-6 box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-2-col-hero.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                        <div class="col-xs-12 col-md-6 box-listing-element__blurb">
                            <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-2-col-hero" class="box-listing-element__heading-link">Monash reach new heights in world university rankings</a></h3>
                            <div class="box-listing-element__description">
                                <p>The University has achieved a ranking of 73 out of 800 institutions worldwide in the Times Higher Education World University Rankings, representing an improvement of 10 places since 2014, and an improvement of 44 places since 2011.</p>
                                <p>Monash strongly improved across all five pillars that represent key areas of higher education excellence &#8212; teaching, research, citations, industry income, and international outlook.</p>
                            </div>
                            <a href="http://www.monash.edu#zz-box-list-category-monash" class="box-listing-element__category-link">Monash</a>
                        <!-- /.box-listing-element__blurb --></div>
                    <!-- /.row --></div>
                <!-- /.box-listing-element --></div>
            <!-- /.box-listing-element__wrapper --></div>

            <div class="col-xs-12 col-md-4 box-listing-element__wrapper">
                <div class="box-listing-element user-def-palette--border-aa-purple box-listing-element--heading-first">
                    <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-heading-first" class="box-listing-element__heading-link">New step towards producing cheap and efficient fuels</a></h3>
                    <a href="http://www.monash.edu#zz-box-list-heading-first" class="box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-01.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                    <div class="box-listing-element__blurb">
                        <div class="box-listing-element__description">
                            <p>New research led by a team of scientists has resulted in the development of a blueprint that will eventually allow clinicians to routinely turn cells in the human body into tissues needed to treat disease.</p>
                        </div>
                        <a href="http://www.monash.edu#zz-box-list-category-research" class="box-listing-element__category-link">Research</a>
                    <!-- /.box-listing-element__blurb --></div>
                <!-- /.box-listing-element --></div>
            <!-- /.box-listing-element__wrapper --></div>

            <div class="col-xs-12 col-md-8 box-listing-element__wrapper">
                <div class="row box-listing-element__nest">
                    <div class="col-xs-12 col-md-6 box-listing-element__wrapper">
                        <div class="box-listing-element">
                            <div class="box-listing-element__blurb">
                                <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-text-01" class="box-listing-element__heading-link">Monash bee facility reveals human brain workings</a></h3>
                                <div class="box-listing-element__description">
                                    <p>The honey bee brain is extraordinary. In the same way that the human brain expands in size from birth to adulthood as we are exposed to experiences, so does the honey bee brain.</p>
                                </div>
                                <a href="http://www.monash.edu#zz-box-list-category-science" class="box-listing-element__category-link">Science</a>
                            <!-- /.box-listing-element__blurb --></div>
                        <!-- /.box-listing-element --></div>
                    <!-- /.box-listing-element__wrapper --></div>
                    <div class="mobile-hidden col-xs-12 col-md-6 box-listing-element__wrapper">
                        <div class="box-listing-element">
                            <div class="box-listing-element__blurb">
                                <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-text-02" class="box-listing-element__heading-link">UN recognition for inclusive education</a></h3>
                                <div class="box-listing-element__description">
                                    <p>The United Nations has recognised the amazing contribution of the Pacific Indicators for Disabilities Inclusive Education (Pacific INDIE) project for providing an innovative solution.</p>
                                </div>
                                <a href="http://www.monash.edu#zz-box-list-category-culture" class="box-listing-element__category-link">Culture</a>
                            <!-- /.box-listing-element__blurb --></div>
                        <!-- /.box-listing-element --></div>
                    <!-- /.box-listing-element__wrapper --></div>
                    <div class="mobile-hidden col-xs-12 box-listing-element__wrapper">
                        <div class="box-listing-element box-listing-element__2-col">
                            <div class="row">
                                <a href="http://www.monash.edu#zz-box-list-2-col" class="col-xs-12 col-md-6 box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-2-col.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                                <div id="box-listing-heading-1008" class="col-xs-12 col-md-6 box-listing-element__blurb">
                                    <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-2-col" class="box-listing-element__heading-link">Australasian champions for seven years in a row</a></h3>
                                    <div class="box-listing-element__description">
                                        <p>The Monash Motorsport team has blitzed the field again at the annual Formula SAE (Society of Automotive Engineers) Australasian event.</p>
                                    </div>
                                    <a href="http://www.monash.edu#zz-box-list-category-sport" class="box-listing-element__category-link">Sport</a>
                                <!-- /.box-listing-element__blurb --></div>
                            <!-- /.row --></div>
                        <!-- /.box-listing-element --></div>
                    <!-- /.box-listing-element__wrapper --></div>
                <!-- /.box-listing-element__nest --></div>
            <!-- /.box-listing-element__wrapper --></div>

            <a href="#" class="btn btn--blue btn--view-more">View more articles</a>

        <!-- /.box-listing-element__group --></div>

    <!-- /.content-wrapper --></div>
<!-- /.box-listing-element__container --></div>
