<!-- Inventory of available variations and their associated markup -->

<!-- Default appearance with required elements only -->
<div class="box-listing-element">
    <div class="box-listing-element__blurb">
        <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-default" class="box-listing-element__heading-link">Find a scholarship</a></h3>
        <p class="box-listing-element__description">We offer more than 200 types of scholarships, valued at up to $70,000. Find out if you&rsquo;re eligible.</p>
    <!-- /.box-listing-element__blurb --></div>
<!-- /.box-listing-element --></div>

<!-- Optional element: category label -->
<div class="box-listing-element user-def-palette--border-monash-blue">
    <div class="box-listing-element__blurb">
        <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-category" class="box-listing-element__heading-link">Australasian champions for seven years in a row</a></h3>
        <p class="box-listing-element__description">The Monash Motorsport team has blitzed the field again at the annual Formula SAE (Society of Automotive Engineers) Australasian event.</p>
        <a href="http://www.monash.edu#zz-box-list-category-sport" class="box-listing-element__category-link">Sport</a>
    <!-- /.box-listing-element__blurb --></div>
<!-- /.box-listing-element --></div>

<!-- Optional element: thumbnail -->
<div class="box-listing-element">
    <a href="http://www.monash.edu#zz-box-list-thumb" class="box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-01.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
    <div class="box-listing-element__blurb">
        <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-thumb" class="box-listing-element__heading-link">Handbook</a></h3>
        <p class="box-listing-element__description">Explore the current handbook.</p>
    <!-- /.box-listing-element__blurb --></div>
<!-- /.box-listing-element --></div>

<!-- Optional element: thumbnail, video control -->
<div class="box-listing-element">
    <a href="https://www.youtube.com/watch?v=2Zfz3veG8os?autoplay=1" class="box-listing-element__video-thumb-link" title="The international student experience at Monash University" data-video-id="2Zfz3veG8os"><img src="{{file_dest}}/zz-box-listing-element-video.jpg" alt="Placeholder" class="box-listing-element__video-thumb-image" /></a>
    <div class="box-listing-element__blurb">
        <h3 class="box-listing-element__heading"><a href="https://www.youtube.com/watch?v=2Zfz3veG8os" class="box-listing-element__heading-link">The international student experience at Monash University</a></h3>
        <p class="box-listing-element__description">Hear what Monash&rsquo;s international students have to say about living and studying in one of the best cities in the world &#8212; Melbourne, Australia.</p>
    <!-- /.box-listing-element__blurb --></div>
<!-- /.box-listing-element --></div>

<!-- Optional elements: thumbnail, category label -->
<div class="box-listing-element user-def-palette--border-aa-orange">
    <a href="http://www.monash.edu#zz-box-list-thumb-category" class="box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-01.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
    <div class="box-listing-element__blurb">
        <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-thumb-category" class="box-listing-element__heading-link">Innovation in elder-care on the horizon</a></h3>
        <p class="box-listing-element__description">When it comes to senior citizens, it can be difficult to strike a balance between maintaining an independent lifestyle and ensuring that help will be there when needed.</p>
        <a href="http://www.monash.edu#zz-box-list-category-science" class="box-listing-element__category-link">Science</a>
    <!-- /.box-listing-element__blurb --></div>
<!-- /.box-listing-element --></div>

<!-- Optional elements: thumbnail, subheading -->
<div class="box-listing-element">
    <a href="http://www.monash.edu#zz-box-list-thumb-subheading" class="box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-01.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
    <div class="box-listing-element__blurb">
        <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-thumb-subheading" class="box-listing-element__heading-link">Order a publication</a></h3>
        <p class="box-listing-element__description">You can order Monash publications through BPO Intelligence.</p>
        <p class="box-listing-element__help">If you have forgotten your login details or wish to create a BPO account, email onshore@monash.edu or call 9903 4762.</p>
    <!-- /.box-listing-element__blurb --></div>
<!-- /.box-listing-element --></div>

<!-- Variation: Heading before thumbnail -->
<!-- Recommended image size (if image spans 12 columns): 1984px * 1142px -->
<div class="box-listing-element user-def-palette--border-aa-purple box-listing-element--heading-first">
    <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-heading-first" class="box-listing-element__heading-link">New step towards producing cheap and efficient fuels</a></h3>
    <a href="http://www.monash.edu#zz-box-list-heading-first" class="box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-01.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
    <div class="box-listing-element__blurb">
        <p class="box-listing-element__description">New research led by a team of scientists has resulted in the development of a blueprint that will eventually allow clinicians to routinely turn cells in the human body into tissues needed to treat disease.</p>
        <a href="http://www.monash.edu#zz-box-list-category-research" class="box-listing-element__category-link">Research</a>
    <!-- /.box-listing-element__blurb --></div>
<!-- /.box-listing-element --></div>

<!-- Variation: 2-column (desktop) -->
<div class="row box-listing-element box-listing-element__2-col">
    <a href="http://www.monash.edu#zz-box-list-2-col" class="col-xs-12 col-md-6 box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-2-col.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
    <div id="box-listing-heading-1008" class="col-xs-12 col-md-6 box-listing-element__blurb">
        <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-2-col" class="box-listing-element__heading-link">Australasian champions for seven years in a row</a></h3>
        <p class="box-listing-element__description">The Monash Motorsport team has blitzed the field again at the annual Formula SAE (Society of Automotive Engineers) Australasian event.</p>
        <a href="http://www.monash.edu#zz-box-list-category-sport" class="box-listing-element__category-link">Sport</a>
    <!-- /.box-listing-element__blurb --></div>
<!-- /.box-listing-element --></div>

<!-- Variation: 2-column hero (desktop) -->
<!-- Recommended image size: 992px * 626px -->
<div class="box-listing-element box-listing-element--2-col-hero">
    <div class="row">
        <a href="http://www.monash.edu#zz-box-list-2-col-hero" class="col-xs-12 col-md-6 box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-2-col-hero.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
        <div class="col-xs-12 col-md-6 box-listing-element__blurb">
            <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-2-col-hero" class="box-listing-element__heading-link">Monash reach new heights in world university rankings</a></h3>
            <p class="box-listing-element__description">The University has achieved a ranking of 73 out of 800 institutions worldwide in the Times Higher Education World University Rankings, representing an improvement of 10 places since 2014, and an improvement of 44 places since 2011.</p>
            <a href="http://www.monash.edu#zz-box-list-category-monash" class="box-listing-element__category-link">Monash</a>
        <!-- /.box-listing-element__blurb --></div>
    <!-- /.row --></div>
<!-- /.box-listing-element --></div>


<!-- Variation (Sidebar): Events (aka. "Listing Compact") -->
<div class="box-listing-element box-listing-element--events">
    <h3 class="box-listing-element__heading"><a href="http://www.monash.edu/news/events" class="box-listing-element__heading-link">Upcoming events</a></h3>

    <ol class="box-listing-element__events-list">
        <li class="box-listing-element__events-item">
            <a href="http://monash.edu/news/events/show/2016-monash-engineering-distinguished-lecture-series-double-" class="h-event event-summary" title="2016 Monash Engineering Distinguished Lecture Series">
                <time class="dt-start visuallyhidden" datetime="2016-01-15T15:00+10:00">15 Jan</time>
                <time class="dt-end event-summary__date" datetime="2016-01-15T15:00+16:00">
                    <span class="event-summary__date-end-label">Until</span>
                    <span class="event-summary__date-end">15 Jan</span>
                </time>
                <span class="p-name event-summary__title">2016 Monash Engineering Distinguished Lecture Series</span>
            </a>
        </li>
        <li class="box-listing-element__events-item">
            <a href="http://www.monash.edu/news/events/show/introduction-to-nutritional-genomics-online-short-course" class="h-event event-summary" title="Introduction to Nutritional Genomics &#8212; online short course">
                <time class="dt-start event-summary__date" datetime="2016-01-16T09:00+10:00">
                    <span class="event-summary__date-day">16</span>
                    <span class="event-summary__date-month">Jan</span>
                </time>
                <span class="p-name event-summary__title">Introduction to Nutritional Genomics &#8212; online short course</span>
            </a>
        </li>
        <li class="box-listing-element__events-item">
            <a href="http://www.monash.edu/news/events/show/faculty-of-education-research-webinar" class="h-event event-summary" title="Faculty of Education Research Webinar">
                <time class="dt-start event-summary__date" datetime="2016-01-22T13:00+10:00">
                    <span class="event-summary__date-day">22</span>
                    <span class="event-summary__date-month">Jan</span>
                </time>
                <span class="p-name event-summary__title">Faculty of Education Research Webinar</span>
            </a>
        </li>
        <li class="box-listing-element__events-item">
            <a href="http://www.monash.edu/news/events/show/dept-microbiology-seminars-signalling-across-the-membrane-pr" class="h-event event-summary" title="Dept Microbiology Seminars &#8212; Signalling across the membrane">
                <time class="dt-start event-summary__date" datetime="2016-02-02T12:00+10:00">
                    <span class="event-summary__date-day">02</span>
                    <span class="event-summary__date-month">Feb</span>
                </time>
                <span class="p-name event-summary__title">Dept Microbiology Seminars &#8212; Signalling across the membrane</span>
            </a>
        </li>
        <li class="box-listing-element__events-item">
            <a href="http://www.monash.edu/news/events/show/metabolic-symposium-the-pancreas" class="h-event event-summary" title="Metabolic Symposium: The Pancreas">
                <time class="dt-start visuallyhidden" datetime="2016-01-15T11:00+10:00">15 Jan</time>
                <time class="dt-end event-summary__date" datetime="2016-02-23T11:00+16:00">
                    <span class="event-summary__date-end-label">Until</span>
                    <span class="event-summary__date-end">23 Feb</span>
                </time>
                <span class="p-name event-summary__title">Metabolic Symposium: The Pancreas</span>
            </a>
        </li>
        <li class="box-listing-element__events-item">
            <a href="http://www.monash.edu/news/events/show/gender-identities-and-farming-professor-sally-shortall" class="h-event event-summary" title="Gender Identities and Farming &#8212; Professor Sally Shortall">
                <time class="dt-start event-summary__date" datetime="2016-03-10T13:00+10:00">
                    <span class="event-summary__date-day">10</span>
                    <span class="event-summary__date-month">Mar</span>
                </time>
                <span class="p-name event-summary__title">Gender Identities and Farming &#8212; Professor Sally Shortall</span>
            </a>
        </li>
        <li class="box-listing-element__events-item">
            <a href="http://www.monash.edu/news/events/show/is-retirement-bad-for-our-health" class="h-event event-summary" title="Is retirement bad for our health?">
                <time class="dt-start event-summary__date" datetime="2016-04-02T14:00+10:00">
                    <span class="event-summary__date-day">02</span>
                    <span class="event-summary__date-month">Apr</span>
                </time>
                <span class="p-name event-summary__title">Is retirement bad for our health?</span>
            </a>
        </li>
        <li class="box-listing-element__events-item">
            <a href="http://monash.edu/news/events/show/the-needle-in-the-haystack-optical-transient-searches-in-the-ali" class="h-event event-summary" title="The needle in the haystack: Optical transient searches in the aLIGO era">
                <time class="dt-start event-summary__date" datetime="2016-04-22T10:00+10:00">
                    <span class="event-summary__date-day">22</span>
                    <span class="event-summary__date-month">Apr</span>
                </time>
                <span class="p-name event-summary__title">The needle in the haystack: Optical transient searches in the aLIGO era</span>
            </a>
        </li>
        <li class="box-listing-element__events-item">
            <a href="http://monash.edu/news/events/show/ehcs-research-forum-julia-polak-monash-statistical-consultin" class="h-event event-summary" title="EHCS Research Forum - Julia Polak - Monash Statistical Consulting Platform">
                <time class="dt-start event-summary__date" datetime="2016-05-16T00:00+10:00">
                    <span class="event-summary__date-day">16</span>
                    <span class="event-summary__date-month">May</span>
                </time>
                <span class="p-name event-summary__title">EHCS Research Forum - Julia Polak - Monash Statistical Consulting Platform</span>
            </a>
        </li>
        <li class="box-listing-element__events-item">
            <a href="http://monash.edu/news/events/show/the-biggest-morning-tea-cancer-council" class="h-event event-summary" title="The needle in the haystack: Optical transient searches in the aLIGO era">
                <time class="dt-start event-summary__date" datetime="2016-05-16T10:00+10:00">
                    <span class="event-summary__date-day">16</span>
                    <span class="event-summary__date-month">May</span>
                </time>
                <span class="p-name event-summary__title">The Biggest Morning Tea! (Cancer Council)</span>
            </a>
        </li>
        <li class="box-listing-element__events-item">
            <a href="http://monash.edu/news/events/show/barista-essentials-peninsula-campus" class="h-event event-summary" title="Barista Essentials - Peninsula Campus">
                <time class="dt-start event-summary__date" datetime="2016-05-17T17:30+10:00">
                    <span class="event-summary__date-day">17</span>
                    <span class="event-summary__date-month">May</span>
                </time>
                <span class="p-name event-summary__title">Barista Essentials - Peninsula Campus</span>
            </a>
        </li>
        <li class="box-listing-element__events-item">
            <a href="http://monash.edu/news/events/show/book-launch-united-states-migrant-interdiction-and-the-detention" class="h-event event-summary" title="Book Launch - United States Migrant Interdiction and the Detention of Refugees in Guantánamo Bay">
                <time class="dt-start event-summary__date" datetime="2016-05-17T18:00+10:00">
                    <span class="event-summary__date-day">17</span>
                    <span class="event-summary__date-month">May</span>
                </time>
                <span class="p-name event-summary__title">Book Launch - United States Migrant Interdiction and the Detention of Refugees in Guantánamo Bay</span>
            </a>
        </li>
        <li class="box-listing-element__events-item">
            <a href="http://monash.edu/news/events/show/food-safety-course-peninsula-campus" class="h-event event-summary" title="Food Safety course - Peninsula Campus">
                <time class="dt-start event-summary__date" datetime="2016-05-18T19:30+10:00">
                    <span class="event-summary__date-day">18</span>
                    <span class="event-summary__date-month">May</span>
                </time>
                <span class="p-name event-summary__title">Food Safety course - Peninsula Campus</span>
            </a>
        </li>
        <li class="box-listing-element__events-item">
            <a href="http://monash.edu/news/events/show/borders-barriers-walls-panel-discussion" class="h-event event-summary" title="Borders, Barriers, Walls: Panel Discussion">
                <time class="dt-start event-summary__date" datetime="2016-05-18T18:00+10:00">
                    <span class="event-summary__date-day">18</span>
                    <span class="event-summary__date-month">May</span>
                </time>
                <span class="p-name event-summary__title">Borders, Barriers, Walls: Panel Discussion</span>
            </a>
        </li>
        <li class="box-listing-element__events-item">
            <a href="http://monash.edu/news/events/show/introduction-to-research-methods-2" class="h-event event-summary" title="Barista Essentials - Peninsula Campus">
                <time class="dt-start event-summary__date" datetime="2016-05-19T09:00+10:00">
                    <span class="event-summary__date-day">19</span>
                    <span class="event-summary__date-month">May</span>
                </time>
                <span class="p-name event-summary__title">Introduction to Research Methods</span>
            </a>
        </li>
    </ol>

    <a href="http://www.monash.edu/news/events" class="btn btn--blue">View more</a>

<!-- /.box-listing-element --></div>

<!-- Variation (Sidebar): Enquiries (aka. "Listing Compact") -->
<div class="box-listing-element box-listing-element--enquiries">
    <h3 class="box-listing-element__heading">Enquiries</h3>

    <ol class="box-listing-element__enquiries-list">
        <li class="box-listing-element__enquiries-item enquiry-summary">
            <h4 class="enquiry-summary__heading"><a href="http://monash.edu#zz-search-enquiry-01">Future students</a></h4>
            <p>Submit an online enquiry for a particular course.</p>
        </li>
        <li class="box-listing-element__enquiries-item enquiry-summary">
            <h4 class="enquiry-summary__heading"><a href="http://monash.edu#zz-search-enquiry-02">Media enquiries</a></h4>
            <p>Talk to our Media Communications team.</p>
        </li>
        <li class="box-listing-element__enquiries-item enquiry-summary">
            <h4 class="enquiry-summary__heading"><a href="http://monash.edu#zz-search-enquiry-03">General enquiries</a></h4>
            <p>Enquiry form for domestic student interested in studying at Monash University in Australia.</p>
        </li>
    </ol>

<!-- /.box-listing-element --></div>
