<!-- 1-Column Layout -->

<div class="intro-text top-gap--small bg-light-grey">
    <div class="content-wrapper">
        <h2>Main Components</h2>
        <p class="introduction">Listing boxes as main components</p>
    <!-- /.content-wrapper --></div>
<!-- /.intro-text --></div>

<div class="bg-light-grey">
    <div class="content-wrapper">

        <h2>EDU Home</h2>
        <div class="row box-listing-element__group top-gap--regular bottom-gap--medium">

            <div class="col-xs-12">
                <h2 class="box-listing-element__group-heading">Stay up-to-date with the latest news from inside the world of Monash.</h2>
            </div>

            <div class="col-xs-12 box-listing-element__wrapper">
                <div class="box-listing-element box-listing-element--2-col-hero">
                    <div class="row">
                        <a href="http://www.monash.edu#zz-box-list-2-col-hero" class="col-xs-12 col-md-6 box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-2-col-hero.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                        <div class="col-xs-12 col-md-6 box-listing-element__blurb">
                            <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-2-col-hero" class="box-listing-element__heading-link">Monash reach new heights in world university rankings</a></h3>
                            <p class="box-listing-element__description">The University has achieved a ranking of 73 out of 800 institutions worldwide in the Times Higher Education World University Rankings, representing an improvement of 10 places since 2014, and an improvement of 44 places since 2011.</p>
                            <p class="box-listing-element__description">Monash strongly improved across all five pillars that represent key areas of higher education excellence &#8212; teaching, research, citations, industry income, and international outlook.</p>
                            <a href="http://www.monash.edu#zz-box-list-category-monash" class="box-listing-element__category-link">Monash</a>
                        <!-- /.box-listing-element__blurb --></div>
                    <!-- /.row --></div>
                <!-- /.box-listing-element --></div>
            <!-- /.box-listing-element__wrapper --></div>

            <div class="col-xs-12 col-md-4 box-listing-element__wrapper">
                <div class="box-listing-element user-def-palette--border-aa-purple box-listing-element--heading-first">
                    <h3 id="qa-box-listing-element-heading" class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-heading-first" class="box-listing-element__heading-link">New step towards producing cheap and efficient fuels</a></h3>
                    <a href="http://www.monash.edu#zz-box-list-heading-first" class="box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-01.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                    <div class="box-listing-element__blurb">
                        <p class="box-listing-element__description">New research led by a team of scientists has resulted in the development of a blueprint that will eventually allow clinicians to routinely turn cells in the human body into tissues needed to treat disease.</p>
                        <a href="http://www.monash.edu#zz-box-list-category-research" class="box-listing-element__category-link">Research</a>
                    <!-- /.box-listing-element__blurb --></div>
                <!-- /.box-listing-element --></div>
            <!-- /.box-listing-element__wrapper --></div>

            <div class="col-xs-12 col-md-8 box-listing-element__wrapper">
                <div class="row box-listing-element__nest">
                    <div class="col-xs-12 col-md-6 box-listing-element__wrapper">
                        <div class="box-listing-element">
                            <div class="box-listing-element__blurb">
                                <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-text-01" class="box-listing-element__heading-link">Monash bee facility reveals human brain workings</a></h3>
                                <p class="box-listing-element__description">The honey bee brain is extraordinary. In the same way that the human brain expands in size from birth to adulthood as we are exposed to experiences, so does the honey bee brain.</p>
                                <a href="http://www.monash.edu#zz-box-list-category-science" class="box-listing-element__category-link">Science</a>
                            <!-- /.box-listing-element__blurb --></div>
                        <!-- /.box-listing-element --></div>
                    <!-- /.box-listing-element__wrapper --></div>
                    <div class="mobile-hidden col-xs-12 col-md-6 box-listing-element__wrapper">
                        <div class="box-listing-element">
                            <div class="box-listing-element__blurb">
                                <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-text-02" class="box-listing-element__heading-link">UN recognition for inclusive education</a></h3>
                                <p class="box-listing-element__description">The United Nations has recognised the amazing contribution of the Pacific Indicators for Disabilities Inclusive Education (Pacific INDIE) project for providing an innovative solution.</p>
                                <a href="http://www.monash.edu#zz-box-list-category-culture" class="box-listing-element__category-link">Culture</a>
                            <!-- /.box-listing-element__blurb --></div>
                        <!-- /.box-listing-element --></div>
                    <!-- /.box-listing-element__wrapper --></div>
                    <div class="mobile-hidden col-xs-12 box-listing-element__wrapper">
                        <div class="box-listing-element box-listing-element__2-col">
                            <div class="row">
                                <a href="http://www.monash.edu#zz-box-list-2-col" class="col-xs-12 col-md-6 box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-2-col.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                                <div id="box-listing-heading-1008" class="col-xs-12 col-md-6 box-listing-element__blurb">
                                    <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-2-col" class="box-listing-element__heading-link">Australasian champions for seven years in a row</a></h3>
                                    <p class="box-listing-element__description">The Monash Motorsport team has blitzed the field again at the annual Formula SAE (Society of Automotive Engineers) Australasian event.</p>
                                    <a href="http://www.monash.edu#zz-box-list-category-sport" class="box-listing-element__category-link">Sport</a>
                                <!-- /.box-listing-element__blurb --></div>
                            <!-- /.row --></div>
                        <!-- /.box-listing-element --></div>
                    <!-- /.box-listing-element__wrapper --></div>
                <!-- /.box-listing-element__nest --></div>
            <!-- /.box-listing-element__wrapper --></div>

            <button class="btn btn--blue btn--view-more">View more articles</button>
        <!-- /.box-listing-element__group --></div>

        <h2>Study Home</h2>
        <div class="row box-listing-element__group top-gap--regular bottom-gap--min">

            <div class="col-xs-12">
                <h2 class="box-listing-element__group-heading">Stay up-to-date with the latest news from inside the world of Monash.</h2>
            </div>

            <div class="col-xs-12 box-listing-element__wrapper">
                <div class="box-listing-element box-listing-element--2-col-hero box-listing-element--theme-dark">
                    <div class="row">
                        <a href="http://www.monash.edu#zz-box-list-2-col-hero" class="col-xs-12 col-md-6 box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-2-col-hero.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                        <div class="col-xs-12 col-md-6 box-listing-element__blurb">
                            <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-2-col-hero" class="box-listing-element__heading-link">Monash reach new heights in world university rankings</a></h3>
                            <p class="box-listing-element__description">The University has achieved a ranking of 73 out of 800 institutions worldwide in the Times Higher Education World University Rankings, representing an improvement of 10 places since 2014, and an improvement of 44 places since 2011.</p>
                            <p class="box-listing-element__description">Monash strongly improved across all five pillars that represent key areas of higher education excellence &#8212; teaching, research, citations, industry income, and international outlook.</p>
                            <a href="http://www.monash.edu#zz-box-list-category-monash" class="box-listing-element__category-link">Monash</a>
                        <!-- /.box-listing-element__blurb --></div>
                    <!-- /.row --></div>
                <!-- /.box-listing-element --></div>
            <!-- /.box-listing-element__wrapper --></div>

            <div class="col-xs-12 col-md-4 box-listing-element__wrapper">
                <div class="box-listing-element user-def-palette--border-aa-purple box-listing-element--heading-first">
                    <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-heading-first" class="box-listing-element__heading-link">New step towards producing cheap and efficient fuels</a></h3>
                    <a href="http://www.monash.edu#zz-box-list-heading-first" class="box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-01.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                    <div class="box-listing-element__blurb">
                        <p class="box-listing-element__description">New research led by a team of scientists has resulted in the development of a blueprint that will eventually allow clinicians to routinely turn cells in the human body into tissues needed to treat disease.</p>
                        <a href="http://www.monash.edu#zz-box-list-category-research" class="box-listing-element__category-link">Research</a>
                    <!-- /.box-listing-element__blurb --></div>
                <!-- /.box-listing-element --></div>
            <!-- /.box-listing-element__wrapper --></div>

            <div class="col-xs-12 col-md-8 box-listing-element__wrapper">
                <div class="row box-listing-element__nest">
                    <div class="col-xs-12 col-md-6 box-listing-element__wrapper">
                        <div class="box-listing-element">
                            <div class="box-listing-element__blurb">
                                <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-text-01" class="box-listing-element__heading-link">Monash bee facility reveals human brain workings</a></h3>
                                <p class="box-listing-element__description">The honey bee brain is extraordinary. In the same way that the human brain expands in size from birth to adulthood as we are exposed to experiences, so does the honey bee brain.</p>
                                <a href="http://www.monash.edu#zz-box-list-category-science" class="box-listing-element__category-link">Science</a>
                            <!-- /.box-listing-element__blurb --></div>
                        <!-- /.box-listing-element --></div>
                    <!-- /.box-listing-element__wrapper --></div>
                    <div class="mobile-hidden col-xs-12 col-md-6 box-listing-element__wrapper">
                        <div class="box-listing-element">
                            <div class="box-listing-element__blurb">
                                <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-text-02" class="box-listing-element__heading-link">UN recognition for inclusive education</a></h3>
                                <p class="box-listing-element__description">The United Nations has recognised the amazing contribution of the Pacific Indicators for Disabilities Inclusive Education (Pacific INDIE) project for providing an innovative solution.</p>
                                <a href="http://www.monash.edu#zz-box-list-category-culture" class="box-listing-element__category-link">Culture</a>
                            <!-- /.box-listing-element__blurb --></div>
                        <!-- /.box-listing-element --></div>
                    <!-- /.box-listing-element__wrapper --></div>
                    <div class="mobile-hidden col-xs-12 box-listing-element__wrapper">
                        <div class="box-listing-element box-listing-element__2-col">
                            <div class="row">
                                <a href="http://www.monash.edu#zz-box-list-2-col" class="col-xs-12 col-md-6 box-listing-element__thumb-link"><img src="{{file_dest}}/zz-box-listing-element-2-col.jpg" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                                <div id="box-listing-heading-1008" class="col-xs-12 col-md-6 box-listing-element__blurb">
                                    <h3 class="box-listing-element__heading"><a href="http://www.monash.edu#zz-box-list-2-col" class="box-listing-element__heading-link">Australasian champions for seven years in a row</a></h3>
                                    <p class="box-listing-element__description">The Monash Motorsport team has blitzed the field again at the annual Formula SAE (Society of Automotive Engineers) Australasian event.</p>
                                    <a href="http://www.monash.edu#zz-box-list-category-sport" class="box-listing-element__category-link">Sport</a>
                                <!-- /.box-listing-element__blurb --></div>
                            <!-- /.row --></div>
                        <!-- /.box-listing-element --></div>
                    <!-- /.box-listing-element__wrapper --></div>
                <!-- /.box-listing-element__nest --></div>
            <!-- /.box-listing-element__wrapper --></div>

            <button class="btn btn--blue btn--view-more">View more articles</button>
        <!-- /.box-listing-element__group --></div>

        <h2>Study Landing</h2>
        <ul class="row box-listing-element__group">
            <li class="col-xs-12 col-md-4 box-listing-element__wrapper">
                <div class="box-listing-element box-listing-element__2-col box-listing-element__small-thumb">
                    <div class="row">
                        <a href="#" class="box-listing-element__thumb-link"><img src="{{file_dest}}/box-listing-m-1.png" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                        <div class="box-listing-element__blurb">
                            <h2 class="box-listing-element__heading"><a href="#" class="box-listing-element__heading-link">Heading one line</a></h2>
                            <p class="box-listing-element__description">With the flexibility that Monash offers, you can build your perfect course.</p>
                            <!-- /.box-listing-element__blurb -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-listing-element -->
                </div>
                <!-- /.box-listing-element__wrapper -->
            </li>
            <li class="col-xs-12 col-md-4 box-listing-element__wrapper">
                <div class="box-listing-element box-listing-element__2-col box-listing-element__small-thumb">
                    <div class="row">
                        <a href="#" class="box-listing-element__thumb-link"><img src="{{file_dest}}/box-listing-m-2.png" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                        <div class="box-listing-element__blurb">
                            <h2 class="box-listing-element__heading"><a href="#" class="box-listing-element__heading-link">Heading with two lines</a></h2>
                            <p class="box-listing-element__description">You can specialise from day one, or explore a variety of subjects.</p>
                            <!-- /.box-listing-element__blurb -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-listing-element -->
                </div>
                <!-- /.box-listing-element__wrapper -->
            </li>
            <li class="col-xs-12 col-md-4 box-listing-element__wrapper">
                <div class="box-listing-element box-listing-element__2-col box-listing-element__small-thumb">
                    <div class="row">
                        <a href="#" class="box-listing-element__thumb-link"><img src="{{file_dest}}/box-listing-m-3.png" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                        <div class="box-listing-element__blurb">
                            <h2 class="box-listing-element__heading"><a href="#" class="box-listing-element__heading-link">Heading slightly longer enough to use three lines</a></h2>
                            <p class="box-listing-element__description">We can increase your lorem.</p>
                            <!-- /.box-listing-element__blurb -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-listing-element -->
                </div>
                <!-- /.box-listing-element__wrapper -->
            </li>
        </ul>
        <ul class="row box-listing-element__group">
            <li class="col-xs-12 col-md-4 box-listing-element__wrapper">
                <div class="box-listing-element box-listing-element__2-col box-listing-element__small-thumb">
                    <div class="row">
                        <a href="#" class="box-listing-element__thumb-link"><img src="{{file_dest}}/box-listing-m-4.png" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                        <div class="box-listing-element__blurb">
                            <h2 class="box-listing-element__heading"><a href="#" class="box-listing-element__heading-link">Your student experience</a></h2>
                            <p class="box-listing-element__description">Monash University is more than just study.</p>
                            <!-- /.box-listing-element__blurb -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-listing-element -->
                </div>
                <!-- /.box-listing-element__wrapper -->
            </li>
            <li class="col-xs-12 col-md-4 box-listing-element__wrapper">
                <div class="box-listing-element box-listing-element__2-col box-listing-element__small-thumb">
                    <div class="row">
                        <div class="box-listing-element__blurb">
                            <h2 class="box-listing-element__heading"><a href="#" class="box-listing-element__heading-link">Our world university rankings</a></h2>
                            <p class="box-listing-element__description">Monash is in the top one per cent of universities worldwide.</p>
                            <!-- /.box-listing-element__blurb -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-listing-element -->
                </div>
                <!-- /.box-listing-element__wrapper -->
            </li>
            <li class="col-xs-12 col-md-4 box-listing-element__wrapper">
                <div class="box-listing-element box-listing-element__2-col box-listing-element__small-thumb">
                    <div class="row">
                        <a href="#" class="box-listing-element__thumb-link"><img src="{{file_dest}}/box-listing-m-6.png" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                        <div class="box-listing-element__blurb">
                            <h2 class="box-listing-element__heading"><a href="#" class="box-listing-element__heading-link">Our locations</a></h2>
                            <p class="box-listing-element__description">Australia’s largest university who also cover Malaysia, China, India, Italy and South Africa.</p>
                            <!-- /.box-listing-element__blurb -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-listing-element -->
                </div>
                <!-- /.box-listing-element__wrapper -->
            </li>
        </ul>
        <ul class="row box-listing-element__group">
            <li class="col-xs-12 col-md-4 box-listing-element__wrapper">
                <div class="box-listing-element box-listing-element__2-col box-listing-element__small-thumb">
                    <div class="row">
                        <a href="#" class="box-listing-element__thumb-link"><img src="{{file_dest}}/box-listing-m-7.png" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                        <div class="box-listing-element__blurb">
                            <h2 class="box-listing-element__heading"><a href="#" class="box-listing-element__heading-link">Your student experience</a></h2>
                            <p class="box-listing-element__description">Monash University is more than just study.</p>
                            <!-- /.box-listing-element__blurb -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-listing-element -->
                </div>
                <!-- /.box-listing-element__wrapper -->
            </li>
            <li class="col-xs-12 col-md-4 box-listing-element__wrapper">
                <div class="box-listing-element box-listing-element__2-col box-listing-element__small-thumb">
                    <div class="row">
                       <a href="#" class="box-listing-element__thumb-link"><img src="{{file_dest}}/box-listing-m-8.png" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                        <div class="box-listing-element__blurb">
                            <h2 class="box-listing-element__heading"><a href="#" class="box-listing-element__heading-link">Our world university rankings</a></h2>
                            <p class="box-listing-element__description">Monash is in the top one per cent of universities worldwide.</p>
                            <!-- /.box-listing-element__blurb -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-listing-element -->
                </div>
                <!-- /.box-listing-element__wrapper -->
            </li>
            <li class="col-xs-12 col-md-4 box-listing-element__wrapper">
                <div class="box-listing-element box-listing-element__2-col box-listing-element__small-thumb">
                    <div class="row">
                        <a href="#" class="box-listing-element__thumb-link"><img src="{{file_dest}}/box-listing-m-9.png" alt="Placeholder" class="box-listing-element__thumb-image" /></a>
                        <div class="box-listing-element__blurb">
                            <h2 class="box-listing-element__heading"><a href="#" class="box-listing-element__heading-link">Our locations</a></h2>
                            <p class="box-listing-element__description">Australia’s largest university who also cover Malaysia, China, India, Italy and South Africa.</p>
                            <!-- /.box-listing-element__blurb -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-listing-element -->
                </div>
                <!-- /.box-listing-element__wrapper -->
            </li>
        </ul>

    <!-- /.content-wrapper --></div>
<!-- /.bg-light-grey --></div>

<div class="intro-text top-gap--small bg-light-grey">
    <div class="content-wrapper">
        <h2>RHS</h2>
        <p class="introduction">Listing boxes as RHS</p>
    <!-- /.content-wrapper --></div>
<!-- /.intro-text --></div>

<div class="bg-light-grey">

    <div class="bg-white l--content">
        <div class="content-wrapper">
            <h2>RHS - Content page</h2>
            <div class="content">
                <div class="content-inner__main">
                    <!-- import:content source:modules/inside-page/html/fragments/_dummy-content-1.html -->
                </div>
                <div class="content-inner__rhs">
                    <!-- import:content source:modules/box-listing-element/html/rhs.html -->
                </div>
                <div class="clearfix"></div>
            </div>
        <!-- /.content-wrapper --></div>
    </div>
<!-- /.bg-light-grey --></div>

<div class="bg-light-grey l--content">
    <div class="content-wrapper">
        <h2>Landing - News &amp; Events - with masonry</h2>
        <div class="content">
            <div class="content-inner__main">
                <!-- import:content source:modules/search-box/html/landing-news-events-browse.html -->
                <!-- import:content source:modules/box-listing-element/html/landing-news-events.html -->
            <!-- /.content-inner__main --></div>
            <div class="content-inner__rhs">
                <!-- import:content source:modules/box-listing-element/html/rhs-news-events.html -->
            <!-- /.content-inner__rhs --></div>
            <div class="clearfix"></div>
        <!-- /.content --></div>
    </div>
</div>
