<aside>
    <div id="box-listing-rhs-search" class="box-listing-element__group box-listing-element__group--enquiries">
        <h2 class="visuallyhidden">Sidebar</h2>

        <div class="box-listing-element box-listing-element--enquiries">
            <h3 class="box-listing-element__heading">Enquiries</h3>

            <ol class="box-listing-element__enquiries-list">
                <li class="box-listing-element__enquiries-item enquiry-summary">
                    <h4 class="enquiry-summary__heading"><a href="http://monash.edu#zz-search-enquiry-01">Future students</a></h4>
                    <p>Submit an online enquiry for a particular course.</p>
                </li>
                <li class="box-listing-element__enquiries-item enquiry-summary">
                    <h4 class="enquiry-summary__heading"><a href="http://monash.edu#zz-search-enquiry-02">Media enquiries</a></h4>
                    <p>Talk to our Media Communications team.</p>
                </li>
                <li class="box-listing-element__enquiries-item enquiry-summary">
                    <h4 class="enquiry-summary__heading"><a href="http://monash.edu#zz-search-enquiry-03">General enquiries</a></h4>
                    <p>Enquiry form for domestic student interested in studying at Monash University in Australia.</p>
                </li>
            </ol>

        <!-- /.box-listing-element --></div>

    <!-- /.box-listing-element__group --></div>
</aside>
