<aside>
  <div id="sidebar-list" class="box-listing-element__group">
    <h2 class="visuallyhidden">Sidebar</h2>
    <!-- top of 1511995 -->

    <div
      class="box-listing-element box-listing-element--sidebar box-listing-element--sidebar-legacy js-legacy-sidebar-box"
    >
      <div class="box-listing-element__blurb" data-assetid="1511995">
        <div id="content_container_1511997">
          <h2 style="text-align: center;">How to apply</h2>
          <p>Take the first step in your PhD journey.</p>
          <p>
            <a
              href="https://www.monash.edu/business/research/graduate-research-program/doctor-of-philosophy/how-to-apply"
              ><img
                src="https://www.monash.edu/__data/assets/image/0007/2153752/fb-GettyImages-1132115567.jpg"
                alt=""
                width="640"
                height="428"
                style="margin: 1em auto; display: block;"
            /></a>
          </p>
          <p style="text-align: center;">
            <pstyle center=""
              ><a
                href="https://www.monash.edu/business/research/graduate-research-program/doctor-of-philosophy/how-to-apply"
                class="btn"
                >Find out more</a
              ></pstyle
            >
          </p>
        </div>
      </div>
    </div>
    <div
      class="box-listing-element box-listing-element--sidebar box-listing-element--sidebar-legacy js-legacy-sidebar-box"
    >
      <div class="box-listing-element__blurb">
        <div>
          <h2 class="box-heading">Monash in print</h2>
          <ul>
            <li>
              <a class="box-link" href="./?a=62310" title="Annual report"
                >Annual report</a
              >
            </li>
            <li>
              <a
                class="box-link"
                href="http://www.publishing.monash.edu/"
                title="Monash University Publishing"
              >
                Monash University Publishing</a
              >
            </li>
            <li>
              <a class="box-link" href="./?a=52747" title="Monash publications"
                >Monash publications</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- top of 1511999 -->

    <div
      class="box-listing-element box-listing-element--sidebar box-listing-element--sidebar-legacy js-legacy-sidebar-box"
    >
      <div class="box-listing-element__blurb" data-assetid="1511999">
        <div id="content_container_1512001">
          <h2 style="text-align: center;">Scholarships and fees</h2>
          <p>
            Find out about the range of scholarships and grants available to
            support your PhD journey.
          </p>
          <p style="text-align: center;">
            <pstyle center=""
              ><a
                href="https://www.monash.edu/business/research/graduate-research-program/scholarships-and-fees"
                class="btn"
                >Find out more</a
              ></pstyle
            >
          </p>
        </div>
      </div>
    </div>

    <!-- top of 1509999 -->

    <div
      class="box-listing-element box-listing-element--sidebar box-listing-element--sidebar-legacy js-legacy-sidebar-box"
    >
      <div class="box-listing-element__blurb" data-assetid="1509999">
        <div id="content_container_1510001">
          <h2 style="text-align: center;">Contact us</h2>
          <p>
            For all PhD enquiries, please contact the Graduate Research team.
          </p>
          <p style="text-align: center;">
            <pstyle center=""
              ><a
                href="https://www.monash.edu/business/research/contact-us"
                class="btn"
                >Enquire now</a
              ></pstyle
            >
          </p>
        </div>
      </div>
    </div>

    <!-- /#sidebar-list -->
  </div>
</aside>
