<aside>
  <div class="box-listing-element__group" id="listing-box">
    <h2 class="visuallyhidden">Sidebar</h2>
    <div class="box-listing-element box-listing-element--sidebar">
      <a
        href="https://www.youtube.com/watch?v=2Zfz3veG8os"
        class="js-listing-box-video-link box-listing-element__video-thumb-link"
        title="Find a course"
        data-video-id="2Zfz3veG8os"
        ><img
          src="{{file_dest}}/zz-box-listing-element-video.jpg"
          alt="Placeholder"
          class="box-listing-element__video-thumb-image"
      /></a>
      <div class="box-listing-element__blurb">
        <h3 class="box-listing-element__heading">
          <a
            href="https://www.youtube.com/watch?v=2Zfz3veG8os"
            class="box-listing-element__heading-link"
            >Find a course</a
          >
        </h3>
        <p class="box-listing-element__description">
          Detailed course information
        </p>
      </div>
    </div>
    <div
      class="box-listing-element box-listing-element--sidebar box-listing-element--sidebar-legacy js-legacy-sidebar-box"
    >
      <div class="box-listing-element__blurb">
        <div>
          <h2 class="box-heading">Monash in print</h2>
          <ul>
            <li>
              <a class="box-link" href="./?a=62310" title="Annual report"
                >Annual report</a
              >
            </li>
            <li>
              <a
                class="box-link"
                href="http://www.publishing.monash.edu/"
                title="Monash University Publishing"
              >
                Monash University Publishing</a
              >
            </li>
            <li>
              <a class="box-link" href="./?a=52747" title="Monash publications"
                >Monash publications</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box-listing-element box-listing-element--sidebar">
      <a
        href="http://www.monash.edu#zz-box-list-thumb"
        class="box-listing-element__thumb-link"
        ><img
          src="{{file_dest}}/zz-box-listing-element-01.jpg"
          alt="Placeholder"
          class="box-listing-element__thumb-image"
      /></a>
      <div class="box-listing-element__blurb">
        <h3 class="box-listing-element__heading">
          <a
            href="http://www.monash.edu#zz-box-list-thumb"
            class="box-listing-element__heading-link"
            >Handbook</a
          >
        </h3>
        <p class="box-listing-element__description">
          Explore the current handbook.
        </p>
      </div>
    </div>
    <div class="box-listing-element box-listing-element--sidebar">
      <a
        href="http://www.monash.edu#zz-box-list-thumb-subheading"
        class="box-listing-element__thumb-link"
        ><img
          src="{{file_dest}}/zz-box-listing-element-01.jpg"
          alt="Placeholder"
          class="box-listing-element__thumb-image"
      /></a>
      <div class="box-listing-element__blurb">
        <h3 class="box-listing-element__heading">
          <a
            href="http://www.monash.edu#zz-box-list-thumb-subheading"
            class="box-listing-element__heading-link"
            >Order a publication</a
          >
        </h3>
        <p class="box-listing-element__description">
          You can order Monash publications through BPO Intelligence.
        </p>
        <p class="box-listing-element__help">
          If you have forgotten your login details or wish to create a BPO
          account, email onshore@monash.edu or call 9903 4762.
        </p>
      </div>
    </div>
    <div
      class="box-listing-element box-listing-element--sidebar box-listing-element--sidebar-legacy js-legacy-sidebar-box"
    >
      <div class="box-listing-element__blurb">
        <div>
          <h2 class="box-heading">Monash in print</h2>
          <ul>
            <li>
              <a class="box-link" href="./?a=62310" title="Annual report"
                >Annual report</a
              >
            </li>
            <li>
              <a
                class="box-link"
                href="http://www.publishing.monash.edu/"
                title="Monash University Publishing"
              >
                Monash University Publishing</a
              >
            </li>
            <li>
              <a class="box-link" href="./?a=52747" title="Monash publications"
                >Monash publications</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="box-listing-element box-listing-element--sidebar box-listing-element--sidebar-legacy js-legacy-sidebar-box"
    >
      <div class="box-listing-element__blurb">
        <div>
          <h2>
            <a
              href="http://monash.edu/monashmag/articles/issue4/perfect-match-for-global-learning.html"
              >Perfect match for global learning</a
            >
          </h2>
          <div>
            <a
              class="video mediaLightbox"
              href="https://www.youtube.com/watch?v=lfjxhordwvo"
              title="Perfect match for global learning"
              ><img
                src="http://mon-stage.clients.squiz.net/__data/assets/image/0011/59096/perfect-match-for-global-learning-thumb.jpg"
                alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="box-listing-element box-listing-element--sidebar box-listing-element--sidebar-legacy js-legacy-sidebar-box"
    >
      <div class="box-listing-element__blurb">
        <div>
          <h2>Security contact numbers</h2>
          <p>
            <strong>Emergencies</strong> <br />
            On any campus, call
            <strong style="font-size: 1.2em;"
              ><span class="tel">9905 3333</span></strong
            >
            or just dial
            <strong style="font-size: 1.2em;"
              ><span class="tel">333</span></strong
            >
            from a Monash phone.
          </p>
          <p>
            <strong>General security enquiries</strong> <br />
            On any campus, call
            <strong style="font-size: 1.2em;"
              ><span class="tel">9902 7777</span></strong
            >
            or just dial <strong>27777</strong> from a Monash phone.
          </p>
          <p>
            For <strong>urgent police, fire or ambulance help, </strong>call
            <strong style="font-size: 1.2em;"
              ><span class="tel">000</span></strong
            >.
          </p>
        </div>
      </div>
    </div>
    <div
      class="box-listing-element box-listing-element--sidebar box-listing-element--sidebar-legacy js-legacy-sidebar-box"
    >
      <div class="box-listing-element__blurb">
        <div id="new_content_container_475627">
          <h2>Security orientation videos</h2>
          <iframe
            src="//www.youtube-nocookie.com/embed/nf0lG9q5IEo?rel=0"
            allowfullscreen=""
            frameborder="0"
            width="100%"
          ></iframe>
          <p>
            <a
              href="http://mon-stage.clients.squiz.net/monash/about/who/safety-security/videos/security-orientation-english"
              title="Security orientation videos"
              >View all security orientation videos</a
            >
          </p>
          <p>
            <a
              href="http://mon-stage.clients.squiz.net/__data/assets/pdf_file/0005/376448/TranscriptSecurityOrientationvideodec2016.pdf"
              >View transcript (PDF, 0.18 MB)</a
            >
          </p>
          <p><strong>View the videos in other languages</strong></p>
          <ul>
            <li>
              <strong
                ><a
                  href="http://mon-stage.clients.squiz.net/monash/about/who/safety-security/videos/security-orientation-arabic"
                  target="_blank"
                  style="padding: 0px; border: 0px;"
                  title="Security orientation videos"
                  >Arabic</a
                ></strong
              >
            </li>
            <li>
              <strong
                ><a
                  href="http://mon-stage.clients.squiz.net/monash/about/who/safety-security/videos/security-orientation-cantonese"
                  target="_blank"
                  style="padding: 0px; border: 0px;"
                  title="Security orientation videos"
                >
                  Cantonese
                </a></strong
              >
            </li>
            <li>
              <strong
                ><a
                  href="http://mon-stage.clients.squiz.net/monash/about/who/safety-security/videos/security-orientation-indonesian"
                  target="_blank"
                  style="padding: 0px; border: 0px;"
                  title="Security orientation videos"
                  >Indonesian </a
                ><a
                  href="https://www.youtube.com/watch?v=D7uHdZAZOFE"
                  target="_blank"
                  style="padding: 0px; border: 0px;"
                >
                </a
              ></strong>
            </li>
            <li>
              <strong
                ><a
                  href="http://mon-stage.clients.squiz.net/monash/about/who/safety-security/videos/security-orientation-mandarin"
                  target="_blank"
                  style="padding: 0px; border: 0px;"
                  title="Security orientation videos"
                  >Mandarin
                </a></strong
              >
            </li>
            <li>
              <strong
                ><a
                  href="http://mon-stage.clients.squiz.net/monash/about/who/safety-security/videos/security-orientation-sinhalese"
                  target="_blank"
                  style="padding: 0px; border: 0px;"
                  title="Security orientation videos"
                  >Sinhalese
                </a></strong
              >
            </li>
            <li>
              <strong
                ><a
                  href="http://mon-stage.clients.squiz.net/monash/about/who/safety-security/videos/security-orientation-tamil"
                  target="_blank"
                  style="padding: 0px; border: 0px;"
                  title="Security orientation videos"
                  >Tamil</a
                ></strong
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="box-listing-element box-listing-element--sidebar box-listing-element--sidebar-legacy js-legacy-sidebar-box"
    >
      <div class="box-listing-element__blurb">
        <div id="new_content_container_475633">
          <div>
            <h2>Monash Warwick Alliance</h2>
            <p>
              <em
                >'…the partnership reveals a shift for the education sector.
                While it aims to deliver a seamless international experience for
                students, the advent of a range of jointly delivered degrees at
                both universities represents a departure from traditional
                educational partnerships and shows at least some of the
                hallmarks of cross border collaboration more commonly seen in
                the private sector.'</em
              >
            </p>
            <p>
              Monish Paul and Anveeta Shrivastava, Deloitte, Australian
              Financial Review, 2 April 2012
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="box-listing-element box-listing-element--sidebar box-listing-element--sidebar-legacy js-legacy-sidebar-box"
    >
      <div class="box-listing-element__blurb">
        <div id="new_content_container_475639">
          <div>
            <h2>Parents Guide to Monash</h2>
            <a
              href="http://mon-stage.clients.squiz.net/__data/assets/pdf_file/0003/58971/english-monash-parents-flyer.pdf"
              ><img
                class="padded"
                src="http://mon-stage.clients.squiz.net/__data/assets/image/0003/59061/english-parents-guide-thumb.jpg"
                alt="Parents Guide to Monash"
            /></a>
            <div class="podText">
              <a
                href="http://mon-stage.clients.squiz.net/__data/assets/pdf_file/0003/58971/english-monash-parents-flyer.pdf"
                >(PDF, 0.28 MB)</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="box-listing-element box-listing-element--sidebar box-listing-element--sidebar-legacy js-legacy-sidebar-box"
    >
      <div class="box-listing-element__blurb">
        <div id="new_content_container_475645">
          <div>
            <a
              class="video mediaLightbox"
              href="https://www.youtube.com/watch?v=7KrI5xmA3XE"
              title="Diploma"
            >
              <img
                src="http://mon-stage.clients.squiz.net/__data/assets/image/0005/54896/diploma.jpg"
                alt=""
              />
            </a>
            <h2>Diploma</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
