<aside>
  <div class="box-listing-element__group" id="listing-box">
    <h2 class="visuallyhidden">Sidebar</h2>
    <div class="box-listing-element box-listing-element--sidebar">
      <!--@@ YouTube @@-->
      <a
        href="https://www.youtube.com/watch?v=2Zfz3veG8os"
        data-fallback-href="https://player.youku.com/embed/XMTg3Nzg4MzY4NA=="
        class="box-listing-element__video-thumb-link"
        title="Find a course"
      >
        <img
          src="{{file_dest}}/zz-box-listing-element-video.jpg"
          alt="Placeholder"
          class="box-listing-element__video-thumb-image"
        />
      </a>

      <div class="box-listing-element__blurb">
        <h3 class="box-listing-element__heading">
          <!--@@ YouTube @@-->
          <a
            href="https://www.youtube.com/watch?v=2Zfz3veG8os"
            class="box-listing-element__heading-link box-listing-element__video-link"
            data-fallback-href="https://player.youku.com/embed/XMTg3Nzg4MzY4NA=="
            >Find a course</a
          >
        </h3>
        <p class="box-listing-element__description">
          Detailed course information
        </p>
      </div>
    </div>
    <div
      class="box-listing-element box-listing-element--sidebar box-listing-element--sidebar-legacy js-legacy-sidebar-box"
    >
      <div class="box-listing-element__blurb">
        <div>
          <h2 class="box-heading">Monash in print</h2>
          <ul>
            <li>
              <a class="box-link" href="./?a=62310" title="Annual report"
                >Annual report</a
              >
            </li>
            <li>
              <a
                class="box-link"
                href="http://www.publishing.monash.edu/"
                title="Monash University Publishing"
              >
                Monash University Publishing</a
              >
            </li>
            <li>
              <a class="box-link" href="./?a=52747" title="Monash publications"
                >Monash publications</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box-listing-element box-listing-element--sidebar">
      <a
        href="http://www.monash.edu#zz-box-list-thumb"
        class="box-listing-element__thumb-link"
        ><img
          src="{{file_dest}}/zz-box-listing-element-01.jpg"
          alt="Placeholder"
          class="box-listing-element__thumb-image"
      /></a>
      <div class="box-listing-element__blurb">
        <h3 class="box-listing-element__heading">
          <a
            href="http://www.monash.edu#zz-box-list-thumb"
            class="box-listing-element__heading-link"
            >Handbook</a
          >
        </h3>
        <p class="box-listing-element__description">
          Explore the current handbook.
        </p>
      </div>
    </div>
    <div class="box-listing-element box-listing-element--sidebar">
      <a
        href="http://www.monash.edu#zz-box-list-thumb-subheading"
        class="box-listing-element__thumb-link"
        ><img
          src="{{file_dest}}/zz-box-listing-element-01.jpg"
          alt="Placeholder"
          class="box-listing-element__thumb-image"
      /></a>
      <div class="box-listing-element__blurb">
        <h3 class="box-listing-element__heading">
          <a
            href="http://www.monash.edu#zz-box-list-thumb-subheading"
            class="box-listing-element__heading-link"
            >Order a publication</a
          >
        </h3>
        <p class="box-listing-element__description">
          You can order Monash publications through BPO Intelligence.
        </p>
        <p class="box-listing-element__help">
          If you have forgotten your login details or wish to create a BPO
          account, email onshore@monash.edu or call 9903 4762.
        </p>
      </div>
    </div>
  </div>
</aside>
