.expertline {
    @extend             %clearfix;
    padding:            0 0 2rem;

    &__search {
        @extend         %clearfix;
    }

    &__form-wrapper {
        width:          100%;
    }

    &__form-select {
        background-color:       $white;
        border:                 1px solid $base-monash-blue;
        padding:                .5rem;
        width:                  100%;
    }

    .selectric-expertline__form-select {
        height:         pxToRem(41);
        margin-bottom:  1rem;
        margin-top:     .9375rem;
        width:          100%;

        .selectric {
            background-color:   $white;
            border:             1px solid $base-monash-blue;
            height:             pxToRem(41);
        }

        .selectric-items {
            background-color:   $white;

            .selectric-items li {
                font-size:      pxToRem(16);
                line-height:    pxToRem(24);

                &.selected {
                    font-weight: 700;
                }
            }
        }

        .label {
            color:          $base-monash-blue;
            font-size:      pxToRem(15);
            height:         pxToRem(41);
            line-height:    pxToRem(41);
        }

        .button {
            background-color:   $white;
            color:              $base-dark-charcoal;
            height:             pxToRem(39);
        }

        .button:hover {
            background-color:   $base-medium-grey;
        }

        .button::after {
            display: none;
        }

        .button::before {
            @include sq-sprite-bg(.3);
            @include sq-sprite(angle-down, .3);
            content:        '';
            left:           50%;
            margin-left:    pxToRem(-5);
            margin-top:     pxToRem(-5);
            position:       absolute;
            top:            50%;
        }
    }

    &__form-submit {
        float:          left;
        width:          100%;
    }

    &__form-error.sq-form-error {
        display:        none;
        float:          left;
        margin-left:    .5rem;
        padding:        .5rem 1.5rem;
    }

    // Loader
    &__loader {
        display:                    none;
        height:                     pxToRem(100);
        margin:                     0 auto;
        padding:                    1rem;
        position:                   relative;
        text-align:                 center;
        width:                      pxToRem(200);
        z-index:                    2000;
    }

    &__loader-text {
        bottom:                     0;
        font-size:                  pxToRem(12);
        left:                       0;
        position:                   absolute;
        text-align:                 center;
        width:                      100%;
        z-index:                    2300;
    }

    // Results
    &__results {
        display:                    none;
    }

    &__results-hr {
        margin:                     2rem 0;
    }

    &__results-header {
        margin-bottom:              0;
    }

    &__results-header-count {
        margin-top:                 .3rem;
    }

    &__results-list {
        @include            sq-flex-box();
        @include            sq-flex-wrap(wrap);
        list-style:         none;
        margin:             0 -1rem;
        padding:            0;
    }

    &__results-item {
        @include                sq-transition(all .5s ease-out);
        @include                sq-flex(.0001 0 100%);
        margin:                 0;
        max-width:              100%;
        overflow:               hidden;
        padding:                .5rem;

        // &--fully-matching {
        //     .expertline__results-item-wrapper {
        //         background-color:   $hightlight;
        //         border-left:        10px solid $base-monash-blue;
        //     }
        // }

        &--expanded {
            @include            sq-flex(.0001 0 100%); 
            max-width:          100%;

            .expertline__results-item-name,
            .expertline__results-item-department {
                clear:          left;
                float:          left;
                width:          100%;
            }

            .expertline__results-item-department {
                border-bottom:      1px solid $base-monash-blue;
                margin-bottom:      .5rem;
                padding-bottom:     .5rem;
            }

            .expertline__results-item-topics-label,
            .expertline__results-item-topics {
                clear:          right;
                float:          right;
                font-size:      pxToRem(14);
                width:          100%;
            }

            .expertline__results-item-topics-label {
                margin-bottom:      .2rem;
                margin-top:         0;
            }

            .expertline__results-item-topic::before {
                content:            '-';
                display:            inline-block;
                padding-right:      .5em;
            }

            .expertline__results-item-topic {
                display:            block;
                font-size:          pxToRem(14);
                margin-bottom:      .1rem;
                padding:            0 0 0 .5rem;
            }

            .expertline__results-item-topic::after {
                display:        none;
            }

            .expertline__results-item-full {
                border-top:     1px solid $base-monash-blue;
                clear:          left;
                display:        block;
                float:          left;
                margin-top:     .5rem;
                padding-left:   1.2rem;
                padding-top:    .5rem;
                width:          100%;
            }

            .expertline__results-item-collapse,
            .expertline__results-item-goto {
                display:        block;
            }

            .expertline__results-item-goto {
                width: 100%;
            }

            .expertline__results-item-expand {
                display:            none;
            }
        }

    }

    &__results-item-short {
        @include                sq-transition(all .5s ease-out);
        position:               relative;
        top:                    0;
    }

    &__results-item-full {
        display:            none;
        font-size:          pxToRem(14);
    }

    &__results-item-wrapper {
        @extend                 %clearfix;
        background-color:       $base-light-grey;
        border-bottom:          1px solid $base-monash-blue;
        height:                 100%;
        padding:                1rem;
        position:               relative;
        z-index:                2000;
    }

    &__results-item-name {
        font-size:      pxToRem(18);
        margin:         0;
        max-width:      75%;
        padding:        0;
    }

    &__results-item-name-link {
        background-color: transparent;
        border:           0;
        color:            $base-monash-blue;
        margin:           0 0 .3rem;
        padding:          0;
        text-align:       left;

        span::after {
            @include    sq-transition(.3s all ease-in);
            background-color: $base-monash-blue;
            content:          '';
            display:          block;
            height:           pxToRem(2);
            margin-top:       pxToRem(5);
            width:            0;
        }

        &:hover,
        &:focus {
            span::after {
                width: 80%;
            }
        }
    }

    &__results-item-department {
        font-size:      pxToRem(14);
        margin:         .2rem 0 .5rem;
        padding:        0;
    }

    &__results-item-topics-label {
        display:        inline;
        font-size:      pxToRem(11);
        font-weight:    bold;
        margin:         0;
        padding:        0;
    }

    &__results-item-topics {
        display:            inline;
        list-style:         none;
        margin:             0;
        padding:            0;
    }

    &__results-item-topic {
        display:            inline;
        font-size:          pxToRem(11);
        margin:             0;
        padding:            0;

        &::after {
            content:            ',';
            display:            inline-block;
            padding:            0 .05rem 0 0;
        }

        &:last-child {
            &::after {
                display:        none;
            }
        }
    }

    &__results-item-collapse {
        @include            sq-transition(all .5s ease-out);
        display:            none;
        font-size:          pxToRem(12);
        padding:            pxToRem(8);
        position:           absolute;
        right:              .5rem;
        top:                .5rem;
    }

    &__results-item-expand {
        display:            block;
        font-size:          pxToRem(12);
        padding:            pxToRem(8);
        position:           absolute;
        right:              .5rem;
        top:                .5rem;
    }


    // &__results-item-collapse {
    //     @include                sq-transition(all .5s ease-out);
    //     background-color:   $white;
    //     border:             1px solid $base-light-charcoal;
    //     display:            none;
    //     height:             pxToRem(20);
    //     position:           absolute;
    //     right:              1rem;
    //     top:                1rem;
    //     width:              pxToRem(20);
    //     z-index:            220;

    //     &::after {
    //         @include            sq-transition(all .5s ease-out);
    //         color:              $base-light-charcoal;
    //         content:            '_';
    //         display:            block;
    //         font-weight:        bold;
    //         height:             pxToRem(18);
    //         left:               0;
    //         line-height:        pxToRem(7);
    //         position:           absolute;
    //         top:                0;
    //         width:              pxToRem(18);
    //     }

    //     &:hover,
    //     &:focus {
    //         background-color:   $base-monash-blue;
    //         border:             1px solid $base-monash-blue;

    //         &::after {
    //             color:          $white;
    //             top:            pxToRem(-2);
    //         }
    //     }
    // }

    // &__results-item-expand {
    //     @include            sq-transition(all .5s ease-out);
    //     background-color:   $white;
    //     border:             1px solid $base-light-charcoal;
    //     display:            block;
    //     height:             pxToRem(20);
    //     position:           absolute;
    //     right:              1rem;
    //     top:                1rem;
    //     width:              pxToRem(20);
    //     z-index:            200;

    //     &::before,
    //     &::after {
    //         @include        sq-transition(all .5s ease-out);
    //         border:         1px solid $base-light-charcoal;
    //         content:        '';
    //         display:        block;
    //         height:         pxToRem(10);
    //         position:       absolute;
    //         width:          pxToRem(10);
    //     }

    //     &::before {
    //         background-color:       $base-medium-grey;
    //         left:                   pxToRem(6);
    //         top:                    pxToRem(3);
    //     }

    //     &::after {
    //         background-color:       $base-light-grey;
    //         left:                   pxToRem(3);
    //         top:                    pxToRem(6);
    //     }

    //     &:hover,
    //     &:focus {
    //         background-color:       $base-monash-blue;
    //         border:                 1px solid $base-monash-blue;

    //         &::before,
    //         &::after {
    //             border:         1px solid $white;
    //             left:           pxToRem(1);
    //             top:            pxToRem(4);
    //             width:          pxToRem(16);
    //         }
    //     }
    // }

    // &__results-item-goto {
    //     clear:                  both;
    //     display:                none;
    //     float:                  left;
    //     margin-top:             1rem;
    //     text-decoration:        none;

    //     &:hover,
    //     &:focus {
    //         text-decoration:    underline;
    //     }
    // }

    // Pagination
    &__results-pagination {
        list-style:             none;
        margin:                 0;
        padding:                0;
        text-align:             center;

        > li:only-child {
            display: none;
        }
    }

    &__results-pagination-item {
        display:                inline-block;

        &--curent {
            color:              $base-monash-blue;
            font-weight:        bold;
            padding:            .3rem;
        }
    }

    &__results-pagination-link {
        display:                inline-block;
        padding:                .3rem;
        text-decoration:        none;

        &--prev::before {
            content:            '<';
        }

        &--next::before {
            content:            '>';
        }

        &:hover,
        &:focus {
            text-decoration:    underline;
        }
    }

}

// No-js
body.no-js {
    .expertline__form,
    .expertline__intro {
        display: none;
    }

    .expertline__noscript {
        border:      1px solid $base-monash-blue;
        display:     block;
        font-weight: bold;
        padding:     2rem;
        text-align:  center;
    }
}

// Animations
@-webkit-keyframes rotating {
    from {
        -ms-transform:      rotate(0deg);
        -moz-transform:     rotate(0deg);
        -webkit-transform:  rotate(0deg);
        -o-transform:       rotate(0deg);
        transform:          rotate(0deg);
    }

    to {
        -ms-transform:      rotate(360deg);
        -moz-transform:     rotate(360deg);
        -webkit-transform:  rotate(360deg);
        -o-transform:       rotate(360deg);
        transform:          rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform:      rotate(0deg);
        -moz-transform:     rotate(0deg);
        -webkit-transform:  rotate(0deg);
        -o-transform:       rotate(0deg);
        transform:          rotate(0deg);
    }

    to {
        -ms-transform:      rotate(360deg);
        -moz-transform:     rotate(360deg);
        -webkit-transform:  rotate(360deg);
        -o-transform:       rotate(360deg);
        transform:          rotate(360deg);
    }
}
