.expertline {

    &__form-header {
        margin-top:     0;
    }

    &__form-submit {
        padding-left:       4em;
        padding-right:      4em;
        width:              auto;
    }

    &__results-item {
        @include                sq-flex(.0001 0 50%);
        max-width:              50%;

        &--expanded {
            @include            sq-flex(.0001 0 100%);
            max-width:          100%;

            .expertline__results-item-name,
            .expertline__results-item-department {
                width:          45%;
            }

            .expertline__results-item-topics-label,
            .expertline__results-item-topics {
                width:          50%;
            }

            .expertline__results-item-topics-label {
                margin-top:         -1rem;
            }

            .expertline__results-item-full {
                border:             0;
                margin-top:         0;
                padding-left:       inherit;
                padding-top:        0;
                width:              auto;
            }

            .expertline__results-item-goto {
                width:              auto;
            }

            .expertline__results-item-expand {
                display:            none;
            }

        }
    }

}
