.box-featured__flex {
  @include media-query('medium') {
    display: flex;
  }
}

.box-featured__horizontal {
  margin-top: 0;
  position: relative;
  margin-bottom: 20px;
  min-height: 80px;
  @include media-query('medium') {
    min-height: auto;
  }

  .box-featured__linkshadow {
    @include media-query('medium') {
      display: flex;
      height: 161px;
    }
    display: block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover,
    &:focus {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }

  .box-featured__thumb-image {
    @include media-query('small') {
      height: auto;
    }
    @include media-query('medium') {
      display: flex;
      height: 161px;
      min-width: 255px;
      max-width: 255px;
    }

    img {
      width: 100%;
      display: block;
      @include media-query('medium') {
        min-width: 126px;
        min-height: 80px;
      }
    }
  }
  .date {
    @include media-query('wide') {
      display: none;
    }
    font-size: 10px;
    color: #a3a3a3;
    margin-bottom: 0.2em;
    font-weight: 700;
  }
  .box-featured__blurb {
    justify-content: left;
    padding: 1.5rem;
    min-height: 80px;
    overflow: hidden;
    flex-grow: 1;
    max-width: 75ch;
    text-overflow: ellipsis;

    p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 0;
      padding-top: 12px;
    }

    @include media-query('medium') {
      min-height: auto;
      max-width: 100%;
    }

    h3 {
      margin-top: 0;
      font-size: 1.2rem;
      line-height: 1.2;
      overflow: hidden;
      max-width: 75ch;
      text-overflow: ellipsis;
      // white-space: nowrap;
    }
  }
  p {
    text-decoration: none;
    text-decoration-style: none;
    @include media-query('medium') {
      display: block;
      visibility: visible;
      height: auto;
    }
    max-width: 115ch;
    font-size: 14px;
    color: #505050;
  }

  a {
    outline: none;
  }

  h3 {
    margin: 0;
  }

  h3 a {
    text-decoration: none;
  }

  h3 a:focus {
    text-decoration: underline;
  }
}

.box-featured__wrapper :focus-within h3 a:focus {
  text-decoration: none;
}

.box-featured__wrapper small a {
  position: relative;
  padding: 0.5rem 0;
}

.box-featured__wrapper small a:hover,
.box-featured__wrapper small a:focus {
  font-weight: bold;
}
