// HTML 5 Boilerplate Print Stylesheet
* {
    background:     transparent !important;
    box-shadow:     none !important;
    color:          #000 !important; // Black prints faster: h5bp.com/s
    text-shadow:    none !important;
}

a,
a:visited {
    text-decoration: underline;
}

a[href]::after {
    content:    ' (' attr(href) ')';
    word-break: break-all;
}

abbr[title]::after {
    content: ' (' attr(title) ')';
}

// Don't show links for images, or javascript/internal links

.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
    content: "";
}

pre,
blockquote {
    border:            1px solid #999;
    page-break-inside: avoid;
}

table {
    overflow: visible;
}

thead {
    display: table-header-group; // h5bp.com/t
}

tr,
img {
    page-break-inside: avoid;
}

img {
    max-width: 100% !important;
    page-break-inside: avoid;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}

.print-hide {
    display: none !important;
}

.print-show {
    display: block !important;
}

// Hide necessary elements
.header-row__utility-navigation,
.banner-inside,
.lhs,
.footer,
.feature-links,
.header-row__search,
.related {
    display: none;
}

.lhs + .content {
    margin:        0;
    padding-right: 0;
}

.content-inner__main {
    width: 100%;
}

.header-row__logo {
    font-size: 0;
}

body {
    overflow: visible;
}

@page {
    margin: 1.5cm 1cm;
}

ul,
img {
    page-break-inside: avoid;
}

.accordion {
    .accContent {
        display:    block !important;
        max-height: none;
    }

    &.desktop-hidden {
        display: none;
    }
}

.tabs,
.tabs__target {
    display:           block;
    page-break-after:  avoid;
    page-break-before: avoid;
    page-break-inside: avoid;
}

.tabs__target:before {
    content:    attr(data-name);
    display:    block;
    margin-top: pxToRem(20);
}

.tabs__target {
    margin-bottom: pxToRem(20);
}

.tabs__tab-list {
    display: none !important;
}

.social-media-share > a,
input[type="submit"] {
    display: none;
}

// homepage's social media feed
.social-media-feed-box {
    &__wrapper {
        display:           block !important;
        float:             none !important;
        height:            auto !important;
        left:              0 !important;
        page-break-after:  avoid;
        page-break-before: avoid;
        page-break-inside: avoid;
        position:          relative !important;
        top:               0 !important;
        width:             100% !important;
    }
}


.box-featured {
    &__wrapper,
    &__group {
        display:    block !important;
        float:      none !important;
        height:     auto !important;
        overflow-x: visible !important;
        overflow-y: visible !important;
        overflow:   visible !important;
        position:   relative !important;
    }

    &__wrapper {
        page-break-inside: avoid;
    }
}


.banner {
    clear: none;
}

.landing {
    #listing-box-study-landing {
        .box-listing-element__group {
            display: block;
        }

        .box-listing-element__wrapper {
            page-break-inside: avoid;
        }
    }
}

.video-container {
    display: none;
}

figure {
    page-break-inside: avoid;
}

.sq-form-control,
.feature-links {
    display: block;
}

.feature-links {
    .flex-wrapper {
        display: block;
    }

    .feature-links-box {
        page-break-inside: avoid;
        width:             100%;
    }
}

input[type="text"],
input[type="file"],
textarea,
.selectric,
.sq-form-question-facade {
    max-width: 95%;
}


#related-keywords {
    .related {
        display:  block;
        overflow: auto;
    }
}

.area-blocks-wrapper {
    // page-break-before: always;
    border:               1px solid $black;
    margin-left:          2.5%;
    margin-right:         2.5%;
    max-width:            45%;
    page-break-inside:    avoid;
    width:                45%;
}

.box-listing-element__group,
.box-listing-element--enquiries {
    display: block;
    flex:    0;
}

.box-listing-element__nest {
    display:   block;
    max-width: 100%;
    width:     100%;
}

.box-listing-element__events-item .event-summary {
    display: flex !important;
}

.search-box--courses {
    display:           block !important;
    page-break-inside: avoid;
}

.control-group {
    width: 100%;

    &__input {
        width: 80%;
    }

    &__button {
        width: 20%;
    }
}

.box-listing-element__category-link,
.box-listing-element {
    page-break-after:  auto;
    page-break-before: auto;
    page-break-inside: avoid;
    position:          static;
}

// Course detail page 
.course-listing,
.course-page__year-change,
.edit-btn, 
.course__action-quick-buttons,
.contact-us__cta-button {
    display: none;
}

.course-page__more-info,
.student-stories__content-more {
    display:           block !important;
    page-break-inside: auto;
}

a[data-show-hide] {
    display: none;
}

.course-page__info-box,
.bottom-tabs .introduction {
    padding: 0;
}

.btn-boxes {
    margin-left:  0;
    margin-right: 0;

    .btn-box a {
        border: 1px solid $black;
    }
}

.course-page__overview-panel {
    page-break-before: avoid;
}

.course-page__subject-req {
    page-break-inside: avoid;
}

.course-page__subject-req table th .sq-icon__tick-green, 
.course-page__subject-req table td .sq-icon__tick-green {
    overflow:    visible;
    text-indent: inherit;
    white-space: normal;
}
