<div id="top" class="skip-links" aria-hidden="true">
    <ul class="skip-links__list">
        <li class="skip-links__item"><a class="skip-links__link" href="#main">Skip to content</a></li>
        <li class="skip-links__item"><a class="skip-links__link" href="#main-navigation">Skip to navigation</a></li>
    </ul>
</div><!-- /.skip-links -->
