// Call to Action (Global)

.call-to-action {
    background-color: $white;
    display:          flex;
    flex-grow:        1;
    padding:          .75rem;
    text-align:       center;
    text-decoration:  none;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:active {
        color: $white;
    }

    &__container {
        margin-left:  -1rem;
        margin-right: -1rem;
    }

    &__group {
        margin-left:   -.5rem;
        margin-right:  -.5rem;
        padding-left:  1rem;
        padding-right: 1rem;
    }

    &__wrapper {
        display:        flex;
        flex-direction: column;
        padding-left:   pxToRem(7.5);
        padding-right:  pxToRem(7.5);

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &__description,
    &__heading,
    &__subheading {
        display:    block;
        width:      100%;
    }

    &__heading {
        font-family:    $font-family__condensed;
        font-size:      1.3rem;
        font-weight:    $font-light;
        text-transform: uppercase;
    }

    &__subheading {
        font-family:    $font-family__serif;
        font-size:      .9rem;
        font-weight:    $font-regular;
    }

    &__action {
        display: none;
    }

}
