// Call to Action (Print)

.call-to-action {
    border:             1px solid $base-light-charcoal;
    text-decoration:    none;

    &__action {
        border: 1px solid $base-light-charcoal;
    }

    &[href]::after {
        content:    '';
    }

}
