// Call to Action (Wide)

.call-to-action {
    align-items: center;
    padding:     pxToRem(30) pxToRem(30) pxToRem(30) pxToRem(40);
    text-align:  left;

    &:hover,
    &:focus {
        .call-to-action__action {
            box-shadow: $box-shadow-hover-position $box-shadow-colour;
            font-size:  pxToRem(20);
        }
    }

    &__container {
        margin-left:  pxToRem(-80);
        margin-right: pxToRem(-80);
    }

    &__group {
        margin:        0 auto;
        padding-left:  pxToRem(50);
        padding-right: pxToRem(50);
    }

    &__wrapper {
        padding-left:   pxToRem(15);
        padding-right:  pxToRem(15);
    }

    &__description {
        flex-grow: 1;
    }

    &__heading {
        font-size: pxToRem(28);
    }

    &__subheading {
        font-size: pxToRem(24);
    }

    &__action {
        align-items:        center;
        background-color:   $white;
        box-shadow:         $box-shadow-position $box-shadow-colour;
        color:              $base-monash-blue;
        display:            flex;
        font-family:        $font-family__condensed;
        font-size:          pxToRem(18);
        font-weight:        $font-light;
        height:             6.25rem;
        justify-content:    center;
        min-width:          pxToRem(100);
        padding:            1rem;
        text-align:         center;
        text-transform:     uppercase;
    }

}
