#header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 101;
  overflow: visible; // This has to be visible in order for subnav to appear
  #site-heading-mobile {
    opacity: 1;
    transition: opacity 2s, all ease 300ms;
  }
  &.stickyTitleFadeOut {
    // fade out the title on mobile
    background: none;
    .page-wrapper {
      .content-wrapper.flex-wrapper {
        background: $white;
      }
      #site-heading-mobile {
        opacity: 0;
        transition: opacity 2s, all ease 300ms;
      }
    }
  }
  /*
  &.unSticky { // this class exists for mutation observer to unsticky it.
      position: static;
      overflow: visible;
  }
  */
  #navbar__dropdown > .navbar__list.flex-wrapper {
    max-height: calc(100vh - 127px);
    overflow-y: scroll; // This needs to be visible in order for home button hover to show properly
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    @include media-query('wide') {
      overflow-y: visible;
    }
  }
}
#main {
  overflow: hidden;
}
