<div class="header-row__search header-row__search-global" id="header-search">
<button type="button" class="header-row__search-icon"><span class="visuallyhidden">Toggle Search</span></button>

<!-- NEW (with header-row__search-global) -->
    <div class="header-row__search-form">
        <div class="content-wrapper">
            <div class="header-row__search-close">
                <a href="https://www.monash.edu" id="header-logo-desktop"><img src="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/monash-logo-mono.svg" class="header-row__logo-img" alt="Monash University"></a>                
                <button type="button" class="header-row__search-close--btn">
                    <span class="header-row__search-close--text">Close</span><span class="visuallyhidden">Close
                        Search</span>
                </button>
            </div>
            <form action="{{file_dest}}/search.html" method="GET">
                <input type="hidden" name="collection" value="monash-main-search">

                <input type="hidden" name="f.Tabs|AllDocumentsFill" value="All results">
                <div class="input-group">
                    <input required="" name="query" id="query" title="Search query" type="search" value="" accesskey="q" class="form-control input-lg query tt-input" autocomplete="on" spellcheck="false" dir="auto" style="position: relative; vertical-align: top;">                
                    <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: sans-serif; font-size: 32px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;">science</pre>
                    <div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;">
                        <div class="tt-dataset tt-dataset-organic" style="width: 50%;">
                            <h5 class="tt-category">Suggestions</h5>
                            <div class="tt-suggestion tt-selectable">
                                <strong class="tt-highlight">science</strong>
                            </div>
                            <div class="tt-suggestion tt-selectable">
                                <strong class="tt-highlight">science</strong>
                                author connect
                            </div>
                            <div class="tt-suggestion tt-selectable">
                                <strong class="tt-highlight">science</strong>
                                s product training
                            </div>
                            <div class="tt-suggestion tt-selectable">
                                <strong class="tt-highlight">science</strong>
                                s training overview
                            </div>                            
                        </div>
                        <div class="tt-dataset tt-dataset-courses" style="width: 50%;">
                            <h5 class="tt-category">Courses</h5>
                            <div class="tt-suggestion tt-selectable">
                                <h6>Biomedical <strong class="tt-highlight">Science</strong> Advanced</h6>
                                <div class="details">
                                    Undergraduate single degrees
                                </div>
                            </div>
                            <div class="tt-suggestion tt-selectable">
                                <h6>Biomedical <strong class="tt-highlight">Science</strong></h6>
                                <div class="details">
                                    Honours year
                                </div>
                            </div>
                            <div class="tt-suggestion tt-selectable">
                                <h6>Biomedical <strong class="tt-highlight">Science</strong></h6>
                                <div class="details">
                                    Research degrees
                                </div>
                            </div>
                            <div class="tt-suggestion tt-selectable">
                                <h6>Biomedical and Health <strong class="tt-highlight">Science</strong></h6>
                                <div class="details">
                                    Graduate coursework
                                </div>
                            </div>
                        </div>
                        <div class="tt-dataset tt-dataset-research" style="width: 50%;">
                            <h5 class="tt-category">Research</h5>
                            <div class="media tt-suggestion tt-selectable">
                                <div class="media-body">
                                    <h6>How should <strong class="tt-highlight">science</strong> be taught to nurses? Preferences of registered nurses and <strong class="tt-highlight">science</strong> teaching academics</h6>
                                    <div>
                                    </div>
                                    <div class="details text-muted"></div>
                                </div>
                            </div>
                            <div class="media tt-suggestion tt-selectable">
                                <div class="media-body">
                                    <h6>Resources for a journey of hope:: Raymond Williams on utopia and <strong class="tt-highlight">science</strong> fiction</h6>
                                    <div></div>
                                    <div class="details text-muted"></div>
                                </div>
                            </div>
                            <div class="media tt-suggestion tt-selectable">
                                <div class="media-body">
                                    <h6>Young Children’s Development of Scientific Knowledge Through the Combination of Teacher-Guided Play and Child-Guided Play</h6>
                                    <div></div>
                                    <div class="details text-muted"></div>
                                </div>
                            </div>
                            <div class="media tt-suggestion tt-selectable">
                                <div class="media-body">
                                    <h6>Introduction to the special issue on <strong class="tt-highlight">science</strong> fiction</h6>
                                    <div></div>
                                    <div class="details text-muted"></div>
                                </div>
                            </div>                            
                        </div>
                    </div>

                    <div class="input-group-addon">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<!-- /NEW -->
</div>
