<div class="header-row__search" id="header-search">
        <button type="button" class="header-row__search-icon"><span class="visuallyhidden">Toggle Search</span></button>
    
    <!-- OLD (without header-row__search-global) -->
    <div class="header-row__search-form" style="">
        <form method="get" role="search" action="https://www.monash.edu/study/search" novalidate="novalidate">
            <div class="search-form-group">
                <label for="quick-search__query" class="search-form-group__label visuallyhidden">Search Keywords</label>
                <input type="text" id="quick-search__query" name="query" placeholder="Enter search query" class="search-form-group__input" autocomplete="off">
    
                <fieldset class="search-form-group__scope">
                    <legend class="visuallyhidden">Search Scope</legend>
                    <ul class="search-form-group__scope-list">
                        
                        <li class="search-form-group__scope-item">
                            <input type="radio" id="header-search-scope-study" data-search-url="https://www.monash.edu/study/search" data-name="query" name="collection" class="sq-form-field" value="study_monash" checked="checked">
                            <label for="header-search-scope-study" class="search-form-group__label">Study at Monash</label>
                        </li>
                        
                        <li class="search-form-group__scope-item">
                            <input type="radio" id="header-search-scope-monash-uni" data-search-url="http://www.monash.edu/search" data-name="q" name="collection" class="sq-form-field" value="">
                            <label for="header-search-scope-monash-uni" class="search-form-group__label">Monash University</label>
                        </li>
                    </ul>
                </fieldset>
    
                <button type="submit" class="btn btn--blue btn--arrow search-form-group__submit tmp-prevent-default">
                    <span class="btn__arrow btn__arrow--right"></span>
                    <span class="visuallyhidden">Search</span></button>
            </div>
        </form>
    </div> 
    <!-- /OLD -->

    </div>
    