<div class="header-row__search header-row__search--active" id="header-search">
    <button type="button" class="header-row__search-icon"><span class="visuallyhidden">Toggle Search</span></button>
    <div class="header-row__search-form">
    <!-- /.header-row__search-form --></div>
<!-- /.header-row__search --></div>
