.gallery-slick-slideshow {
    margin:   pxToRem(16) 0;
    position: relative;

    a {
        display: block;

        &:hover,
        &:focus {

            span {
                text-decoration: underline;
            }
        }
    }

    &__slide {
        position: relative;

        img {
            width: 100%;
        }

        a {
            background: $black;
        }
    }

    &__summary {
        @include sq-transform(translate3d(0, 0, 0));
        bottom:   0;
        color:    $white;
        padding:  pxToRem(16) pxToRem(32);
        position: absolute;
        z-index:  1;
    }

    &__overlay {
        @include sq-transform(translate3d(0, 0, 0));
        background-image:   linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1));
        height:             100%;
        left:               0;
        position:           absolute;
        right:              0;
        text-indent:        100%;
        top:                0;
        white-space:        nowrap;
        width:              100%;
    }

    .slick-arrow {
        @include sq-transition(backgound-color, .3s, ease);
        background-color: rgba(0, 0 , 0, .2);
        border:           0;
        content:          '';
        height:           100%;
        margin:           0;
        padding:          0;
        position:         absolute;
        top:              0;
        width:            pxToRem(30);
        z-index:          99;

        span {
            @include sq-sprite-bg(.75);
            display:     block;
            margin:      0 auto;
            overflow:    hidden;
            text-indent: 100%;
            white-space: nowrap;
        }

        &.slick-prev span {
            @include sq-sprite(angle-left-lg, .75);
            left: 0;
        }

        &.slick-next span {
            @include sq-sprite(angle-right-lg, .75);
            right: 0;
        }

        &:hover,
        &:focus {
            background-color: rgba(0, 0 , 0, .6);
        }
    }
}

.gallery-slick-slideshow.popup__video {

    a {
        @include sq-sprite-pseudo(video-play, 'before', 1.5);

        &::before {
            @include sq-transform(translate3d(0, 0, 0));
            left:     50%;
            margin:   pxToRem(-24) 0 0 pxToRem(-24);
            position: absolute;
            top:      50%;
            z-index:  1;
        }

        &::after {
            display: none;
        }

        &:hover,
        &:focus {
            @include sq-sprite-pseudo(video-play-hover, 'before', 1.5);
        }
    }
}
