.quote-box {
    font-family: $font-family__condensed;
    font-size:   pxToRem(18);
    font-weight: $font-light;
    line-height: 1.2778;
    margin-top:  pxToRem(28);
    padding:     pxToRem(25) 2rem;
}

