<div id="full-page-events" class="masonry-grid js-masonry-enabled box-listing-element__group">
 <div id="box-listing-rhs-news-events" class="box-listing-element__group">
        <h2 class="visuallyhidden">Sidebar</h2>

        <div class="news__list--none">
                <p>No upcoming events.</p>
        </div><!-- /.news__list--none -->

        <div class="box-listing-element box-listing-element--events js-show-all-events-on-mobile">
           <ol class="box-listing-element__events-list">
                <li class="box-listing-element__events-item">
                    <a href="http://monash.edu/news/events/show/2016-monash-engineering-distinguished-lecture-series-double-" class="h-event event-summary" title="2016 Monash Engineering Distinguished Lecture Series">
                        <time class="dt-start visuallyhidden" datetime="2016-01-15T15:00+10:00">15 Jan</time>
                        <time class="dt-end event-summary__date" datetime="2016-01-15T15:00+16:00">
                            <span class="event-summary__date-end-label">Until</span>
                            <span class="event-summary__date-end">15 Jan</span>
                        </time>
                        <div class="events-wrapper">
                            <h4>2016 Monash Engineering Distinguished Lecture Series</h4>
                            <p class="date"><b>27 October 2016 at 6:30 pm – 27 October 2016 at 7:45 pm</b></p>
                            <p class="description">Apply for Professional Year Accounting (SMIPA)</p>
                            <small>URL Goes here</small>
                        </div>
                    </a>
                </li>
                <li class="box-listing-element__events-item">
                    <a href="http://www.monash.edu/news/events/show/introduction-to-nutritional-genomics-online-short-course" class="h-event event-summary" title="Introduction to Nutritional Genomics &#8212; online short course">
                        <time class="dt-start event-summary__date" datetime="2016-01-16T09:00+10:00">
                            <span class="event-summary__date-day">16</span>
                            <span class="event-summary__date-month">Jan</span>
                        </time>
                        <span class="p-name event-summary__title">Introduction to Nutritional Genomics &#8212; online short course</span>
                    </a>
                </li>
                <li class="box-listing-element__events-item">
                    <a href="http://www.monash.edu/news/events/show/faculty-of-education-research-webinar" class="h-event event-summary" title="Faculty of Education Research Webinar">
                        <time class="dt-start event-summary__date" datetime="2016-01-22T13:00+10:00">
                            <span class="event-summary__date-day">22</span>
                            <span class="event-summary__date-month">Jan</span>
                        </time>
                        <span class="p-name event-summary__title">Faculty of Education Research Webinar</span>
                    </a>
                </li>
                <li class="box-listing-element__events-item">
                    <a href="http://www.monash.edu/news/events/show/dept-microbiology-seminars-signalling-across-the-membrane-pr" class="h-event event-summary" title="Dept Microbiology Seminars &#8212; Signalling across the membrane">
                        <time class="dt-start event-summary__date" datetime="2016-02-02T12:00+10:00">
                            <span class="event-summary__date-day">02</span>
                            <span class="event-summary__date-month">Feb</span>
                        </time>
                        <span class="p-name event-summary__title">Dept Microbiology Seminars &#8212; Signalling across the membrane</span>
                    </a>
                </li>
                <li class="box-listing-element__events-item">
                    <a href="http://www.monash.edu/news/events/show/metabolic-symposium-the-pancreas" class="h-event event-summary" title="Metabolic Symposium: The Pancreas">
                        <time class="dt-start visuallyhidden" datetime="2016-01-15T11:00+10:00">15 Jan</time>
                        <time class="dt-end event-summary__date" datetime="2016-02-23T11:00+16:00">
                            <span class="event-summary__date-end-label">Until</span>
                            <span class="event-summary__date-end">23 Feb</span>
                        </time>
                        <span class="p-name event-summary__title">Metabolic Symposium: The Pancreas</span>
                    </a>
                </li>

                <li class="box-listing-element__events-item">
                    <a href="http://www.monash.edu/news/events/show/gender-identities-and-farming-professor-sally-shortall" class="h-event event-summary" title="Gender Identities and Farming &#8212; Professor Sally Shortall">
                        <time class="dt-start event-summary__date" datetime="2016-03-10T13:00+10:00">
                            <span class="event-summary__date-day">10</span>
                            <span class="event-summary__date-month">Mar</span>
                        </time>
                        <span class="p-name event-summary__title">Gender Identities and Farming &#8212; Professor Sally Shortall</span>
                    </a>
                </li>
                <li class="box-listing-element__events-item">
                    <a href="http://www.monash.edu/news/events/show/is-retirement-bad-for-our-health" class="h-event event-summary" title="Is retirement bad for our health?">
                        <time class="dt-start event-summary__date" datetime="2016-04-02T14:00+10:00">
                            <span class="event-summary__date-day">02</span>
                            <span class="event-summary__date-month">Apr</span>
                        </time>
                        <span class="p-name event-summary__title">Is retirement bad for our health?</span>
                    </a>
                </li>
                <li class="box-listing-element__events-item">
                    <a href="http://monash.edu/news/events/show/the-needle-in-the-haystack-optical-transient-searches-in-the-ali" class="h-event event-summary" title="The needle in the haystack: Optical transient searches in the aLIGO era">
                        <time class="dt-start event-summary__date" datetime="2016-04-22T10:00+10:00">
                            <span class="event-summary__date-day">22</span>
                            <span class="event-summary__date-month">Apr</span>
                        </time>
                        <span class="p-name event-summary__title">The needle in the haystack: Optical transient searches in the aLIGO era</span>
                    </a>
                </li>
                <li class="box-listing-element__events-item">
                    <a href="http://monash.edu/news/events/show/ehcs-research-forum-julia-polak-monash-statistical-consultin" class="h-event event-summary" title="EHCS Research Forum - Julia Polak - Monash Statistical Consulting Platform">
                        <time class="dt-start event-summary__date" datetime="2016-05-16T00:00+10:00">
                            <span class="event-summary__date-day">16</span>
                            <span class="event-summary__date-month">May</span>
                        </time>
                        <span class="p-name event-summary__title">EHCS Research Forum - Julia Polak - Monash Statistical Consulting Platform</span>
                    </a>
                </li>
                <li class="box-listing-element__events-item">
                    <a href="http://monash.edu/news/events/show/the-biggest-morning-tea-cancer-council" class="h-event event-summary" title="The needle in the haystack: Optical transient searches in the aLIGO era">
                        <time class="dt-start event-summary__date" datetime="2016-05-16T10:00+10:00">
                            <span class="event-summary__date-day">16</span>
                            <span class="event-summary__date-month">May</span>
                        </time>
                        <span class="p-name event-summary__title">The Biggest Morning Tea! (Cancer Council)</span>
                    </a>
                </li>
                <li class="box-listing-element__events-item">
                    <a href="http://monash.edu/news/events/show/barista-essentials-peninsula-campus" class="h-event event-summary" title="Barista Essentials - Peninsula Campus">
                        <time class="dt-start event-summary__date" datetime="2016-05-17T17:30+10:00">
                            <span class="event-summary__date-day">17</span>
                            <span class="event-summary__date-month">May</span>
                        </time>
                        <span class="p-name event-summary__title">Barista Essentials - Peninsula Campus</span>
                    </a>
                </li>
                <li class="box-listing-element__events-item">
                    <a href="http://monash.edu/news/events/show/book-launch-united-states-migrant-interdiction-and-the-detention" class="h-event event-summary" title="Book Launch - United States Migrant Interdiction and the Detention of Refugees in Guantánamo Bay">
                        <time class="dt-start event-summary__date" datetime="2016-05-17T18:00+10:00">
                            <span class="event-summary__date-day">17</span>
                            <span class="event-summary__date-month">May</span>
                        </time>
                        <span class="p-name event-summary__title">Book Launch - United States Migrant Interdiction and the Detention of Refugees in Guantánamo Bay</span>
                    </a>
                </li>
                <li class="box-listing-element__events-item">
                    <a href="http://monash.edu/news/events/show/food-safety-course-peninsula-campus" class="h-event event-summary" title="Food Safety course - Peninsula Campus">
                        <time class="dt-start event-summary__date" datetime="2016-05-18T19:30+10:00">
                            <span class="event-summary__date-day">18</span>
                            <span class="event-summary__date-month">May</span>
                        </time>
                        <span class="p-name event-summary__title">Food Safety course - Peninsula Campus</span>
                    </a>
                </li>
                <li class="box-listing-element__events-item">
                    <a href="http://monash.edu/news/events/show/borders-barriers-walls-panel-discussion" class="h-event event-summary" title="Borders, Barriers, Walls: Panel Discussion">
                        <time class="dt-start event-summary__date" datetime="2016-05-18T18:00+10:00">
                            <span class="event-summary__date-day">18</span>
                            <span class="event-summary__date-month">May</span>
                        </time>
                        <span class="p-name event-summary__title">Borders, Barriers, Walls: Panel Discussion</span>
                    </a>
                </li>
                <li class="box-listing-element__events-item">
                    <a href="http://monash.edu/news/events/show/introduction-to-research-methods-2" class="h-event event-summary" title="Barista Essentials - Peninsula Campus">
                        <time class="dt-start event-summary__date" datetime="2016-05-19T09:00+10:00">
                            <span class="event-summary__date-day">19</span>
                            <span class="event-summary__date-month">May</span>
                        </time>
                        <span class="p-name event-summary__title">Introduction to Research Methods</span>
                    </a>
                </li>
            </ol>

            <a href="http://www.monash.edu/news/events" class="btn btn--blue js-rhs-events__view-more">View more</a>

        <!-- /.box-listing-element --></div>

    <!-- /.box-listing-element__group --></div>

    </div>

