  <div id="search-news" class="search-box--news">
    <form method="get" action="" class="search-box--news__form">
        <div class="search-box--news-lhs">
            <!--<h2 class="search-box--news__heading">Search news</h2>-->
            <h2 class="search-box--browse__heading">Browse by time period</h2>
                <label for="event-period" class="visuallyhidden search-box--news__label">Events</label>
            
                <input type="text" id="search-news-keywords" name="query" class="sq-form-field search-box--news__input" placeholder="Topic" value="">
                
                <div class="time-period-btn-wrapper">
                    <select id="event-period" name="events" class="search-box--news-events__select">
                        <option value="" selected="selected">Browse: Time period</option>
                        <option value="thisweek">This week</option>
                        <option value="nextweek">Next week</option>
                        <option value="nextmonth">Next month</option>
                    </select>
                    <button class="btn search-box--news-events-browse-lhs js-search-box__submit--browse">Search</button>
                </div>
        </div>
           
        

        <div class="search-box--news-rhs">

            <h2 class="search-box--browse__heading">Browse by category</h2>
            <div class="search-box--browse__wrapper">
                <p class="search-box--browse__label js-search-box--browse__label" tabindex="0">Browse:
                <b class="button">▾</b>
                </p>
                <div class="search-box--browse__list js-search-box--browse__list">
                    <div class="search-box--browse__control"><span class="js-select-all">Select all</span> - <span class="js-clear-all">Clear all</span></div>
                    <ul>
                        <li>
                            <input type="checkbox" id="monash" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Monash" checked />
                            <label for="monash">Monash</label>
                        </li>
                        <li>
                            <input type="checkbox" id="learning" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Learning" checked />
                            <label for="learning">Learning</label>
                        </li>
                        <li>
                            <input type="checkbox" id="sport" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Sport" checked />
                            <label for="sport">Sport</label>
                        </li>
                        <li>
                            <input type="checkbox" id="culture" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Culture" checked />
                            <label for="culture">Culture</label>
                        </li>
                        <li>
                            <input type="checkbox" id="medical" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Medical" checked />
                            <label for="medical">Medical</label>
                        </li>
                        <li>
                            <input type="checkbox" id="science" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Science" checked />
                            <label for="science">Science</label>
                        </li>
                        <li>
                            <input type="checkbox" id="awards" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Awards" checked />
                            <label for="awards">Awards</label>
                        </li>
                        <li>
                            <input type="checkbox" id="technology" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Technology" checked />
                            <label for="technology">Technology Wrap this for testing</label>
                        </li>
                        <li>
                            <input type="checkbox" id="research" class="sq-form-field" data-facetparamname='f.News+Categories%7C2' value="Research" checked />
                            <label for="research">Research</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="search-box--browse__controls">
                <button class="btn search-box--browse__button js-search-box__submit--browse">Browse</button>
                <!-- /.search-box--browse__controls -->
            </div>
        </div>

    </form>
    <!-- /.search-box--news -->
</div>
