<div class="hidden" area-hidden="true">{
    "results": [
        {
    "assetname": "Future Work, Future Leaders Week",
    "asset_type": "Single Calendar Event",
    "assetid": "1879530",
    "start-date-full": "20190826000000",
    "end-date-full": "20190831000000",
    "start-date": "26 Aug",
    "cutout-date": "31 Aug",
    "image": "https://www.monash.edu/__data/assets/image/0011/1879535/shutterstock_758584267-sq.jpg",
    "image_alt": "",
    "event_venue": " ",
    "date": "26 August - 31 August 2019",
    "news_summary": "",
    "live_url": "https://www.monash.edu/business/events/future-work,-future-leaders-week",
    "video_url": ""
},{
    "assetname": "Monash Masterclass Singapore: The Digital Transformation and Global Markets",
    "asset_type": "Single Calendar Event",
    "assetid": "1886926",
    "start-date-full": "20190912180000",
    "end-date-full": "20190912203000",
    "start-date": "12 Sep",
    "cutout-date": "12 Sep",
    "image": "https://www.monash.edu/__data/assets/image/0004/1886881/masterclass-20190912-sq.jpg",
    "image_alt": "",
    "event_venue": "Grand Hyatt Singapore",
    "date": "12 September - 12 September 2019",
    "news_summary": "",
    "live_url": "https://www.monash.edu/business/events/monash-masterclass-singapore-the-digital-transformation-and-global-markets",
    "video_url": ""
},{
    "assetname": "Business Graduate Information Evening",
    "asset_type": "Single Calendar Event",
    "assetid": "1735046",
    "start-date-full": "20191023170000",
    "end-date-full": "20191023190000",
    "start-date": "23 Oct",
    "cutout-date": "23 Oct",
    "image": "https://www.monash.edu/__data/assets/image/0011/1847378/caulfield-chairs-sq.jpg",
    "image_alt": "",
    "event_venue": "Monash University, 30 Collins St, Melbourne VIC 3000",
    "date": "23 October - 23 October 2019",
    "news_summary": "",
    "live_url": "https://www.monash.edu/business/events/business-graduate-information-evening",
    "video_url": ""
}
    ]
}
</div>

 
<div class="highlights-label events-column-header">
    <h2 class="highlights-label__title">Event highlights</h2>
</div>
<a href ="https://www.monash.edu/business/events/future-work,-future-leaders-week">
    <div class="event-highlight" data-id="1879530">
        <div class="event-highlight__inner">
            <div class="leftnav-event-datebox today">
                <!-- Future -->
                    <!-- <div class="leftnav-event-datebox-text">Start</div> -->
                    <div class="leftnav-event-datebox-date">26 Aug</div>
            </div>
                    <img class="image" src="https://www.monash.edu/__data/assets/image/0011/1879535/shutterstock_758584267-sq.jpg">
            <div class="content">
                <a href="https://www.monash.edu/business/events/future-work,-future-leaders-week">
                    <p class="event-highlight__title">Future Work, Future Leaders Week</p>
                </a>
                <!--<div class="event-highlight__generic-text">-->
                <!--    -->
                <!--    <p> </p>-->
                <!--     -->
                <!--    <p>26 August - 31 August 2019</p>-->
                <!--    -->
                <!--</div>-->
            </div>
           
        </div>
    </div>
</a>
<a href ="https://www.monash.edu/business/events/monash-masterclass-singapore-the-digital-transformation-and-global-markets">
    <div class="event-highlight" data-id="1886926">
        <div class="event-highlight__inner">
            <div class="leftnav-event-datebox today">
                <!-- Future -->
                    <!-- <div class="leftnav-event-datebox-text">Start</div> -->
                    <div class="leftnav-event-datebox-date">12 Sep</div>
            </div>
                    <img class="image" src="https://www.monash.edu/__data/assets/image/0004/1886881/masterclass-20190912-sq.jpg">
            <div class="content">
                <a href="https://www.monash.edu/business/events/monash-masterclass-singapore-the-digital-transformation-and-global-markets">
                    <p class="event-highlight__title">Monash Masterclass Singapore: The Digital Transformation and Global Markets</p>
                </a>
                <!--<div class="event-highlight__generic-text">-->
                <!--    -->
                <!--    <p>Grand Hyatt Singapore</p>-->
                <!--     -->
                <!--    <p>12 September - 12 September 2019</p>-->
                <!--    -->
                <!--</div>-->
            </div>
           
        </div>
    </div>
</a>
<a href ="https://www.monash.edu/business/events/business-graduate-information-evening">
    <div class="event-highlight" data-id="1735046">
        <div class="event-highlight__inner">
            <div class="leftnav-event-datebox today">
                <!-- Future -->
                    <!-- <div class="leftnav-event-datebox-text">Start</div> -->
                    <div class="leftnav-event-datebox-date">23 Oct</div>
            </div>
                    <img class="image" src="https://www.monash.edu/__data/assets/image/0011/1847378/caulfield-chairs-sq.jpg">
            <div class="content">
                <a href="https://www.monash.edu/business/events/business-graduate-information-evening">
                    <p class="event-highlight__title">Business Graduate Information Evening</p>
                </a>
                <!--<div class="event-highlight__generic-text">-->
                <!--    -->
                <!--    <p>Monash University, 30 Collins St, Melbourne VIC 3000</p>-->
                <!--     -->
                <!--    <p>23 October - 23 October 2019</p>-->
                <!--    -->
                <!--</div>-->
            </div>
           
        </div>
    </div>
</a>
