<!-- Total events returned: 8  -->
    <div id="full-page-events" class="masonry-grid js-masonry-enabled box-listing-element__group">
        <div class="box-listing-element box-listing-element--events js-show-all-events-on-mobile">
            
            <ol class="box-listing-element__events-list">
                <li class="box-listing-element__events-item">
                    
                        
                        <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190820&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190820&amp;auth&#x3D;%2FHTyrUoWOCE6feUPEemN6g&amp;profile&#x3D;_default&amp;rank&#x3D;1&amp;query&#x3D;%5B4%3A878321%5D">
                            
                                <time class="dt-start visuallyhidden" datetime=" 2019-08-20 00:00 +10:00 ">20 Aug</time>
                                <time class="dt-end event-summary__date" datetime=" 2019-08-20 00:00 +10:00 ">
                                    <span class="event-summary__label">20</span>
                                    <span class="event-summary__date-end">Aug</span>
                                </time>
                        </a>
                        
                        <div class="events-wrapper">
                            <div class="events-wrapper2">
                                <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190820&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190820&amp;auth&#x3D;%2FHTyrUoWOCE6feUPEemN6g&amp;profile&#x3D;_default&amp;rank&#x3D;1&amp;query&#x3D;%5B4%3A878321%5D">
                                    <h4>Graduate info on-campus pop-up</h4>
                                </a>
                                <p class="description">Caulfield Campus, Ground Floor Library Foyer</p>
                                
                                
                                
                            </div>
                        </div>
                        
                        <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190820&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190820&amp;auth&#x3D;%2FHTyrUoWOCE6feUPEemN6g&amp;profile&#x3D;_default&amp;rank&#x3D;1&amp;query&#x3D;%5B4%3A878321%5D" class="event-image" title="Graduate info on-campus pop-up">
                            <img src="https://www.monash.edu/__data/assets/image/0004/1887088/joshua-fuller-N2q8hRVzEg8-unsplash-sq.jpg" alt="" class="">
                        </a>
                </li>
                <li class="box-listing-element__events-item">
                    
                        
                        <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fche-seminar-series-dr-julie-moschion&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fche-seminar-series-dr-julie-moschion&amp;auth&#x3D;sBbNXie39SqGykKLiB64gA&amp;profile&#x3D;_default&amp;rank&#x3D;2&amp;query&#x3D;%5B4%3A878321%5D">
                            
                                <time class="dt-start visuallyhidden" datetime=" 2019-08-21 00:00 +10:00 ">21 Aug</time>
                                <time class="dt-end event-summary__date" datetime=" 2019-08-21 00:00 +10:00 ">
                                    <span class="event-summary__label">21</span>
                                    <span class="event-summary__date-end">Aug</span>
                                </time>
                        </a>
                        
                        <div class="events-wrapper">
                            <div class="events-wrapper2">
                                <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fche-seminar-series-dr-julie-moschion&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fche-seminar-series-dr-julie-moschion&amp;auth&#x3D;sBbNXie39SqGykKLiB64gA&amp;profile&#x3D;_default&amp;rank&#x3D;2&amp;query&#x3D;%5B4%3A878321%5D">
                                    <h4>CHE Seminar Series: Dr Julie M...</h4>
                                </a>
                                <p class="description">Monash University Caulfield campus, Building H, Level 9, Seminar room H9.21</p>
                                
                                
                                
                            </div>
                        </div>
                        
                        <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fche-seminar-series-dr-julie-moschion&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fche-seminar-series-dr-julie-moschion&amp;auth&#x3D;sBbNXie39SqGykKLiB64gA&amp;profile&#x3D;_default&amp;rank&#x3D;2&amp;query&#x3D;%5B4%3A878321%5D" class="event-image" title="CHE Seminar Series: Dr Julie Moschion">
                            <img src="https://www.monash.edu/__data/assets/image/0011/1872686/20190821-che-seminar.jpg" alt="" class="">
                        </a>
                </li>
                <li class="box-listing-element__events-item">
                    
                        
                        <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190821&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190821&amp;auth&#x3D;MEQiPQmJftTHqPTlOvyaYw&amp;profile&#x3D;_default&amp;rank&#x3D;3&amp;query&#x3D;%5B4%3A878321%5D">
                            
                                <time class="dt-start visuallyhidden" datetime=" 2019-08-21 00:00 +10:00 ">21 Aug</time>
                                <time class="dt-end event-summary__date" datetime=" 2019-08-21 00:00 +10:00 ">
                                    <span class="event-summary__label">21</span>
                                    <span class="event-summary__date-end">Aug</span>
                                </time>
                        </a>
                        
                        <div class="events-wrapper">
                            <div class="events-wrapper2">
                                <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190821&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190821&amp;auth&#x3D;MEQiPQmJftTHqPTlOvyaYw&amp;profile&#x3D;_default&amp;rank&#x3D;3&amp;query&#x3D;%5B4%3A878321%5D">
                                    <h4>Graduate info on-campus pop-up</h4>
                                </a>
                                <p class="description">Clayton Campus, Ground Floor Menzies Building (20 Chancellors Walk)</p>
                                
                                
                                
                            </div>
                        </div>
                        
                        <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190821&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190821&amp;auth&#x3D;MEQiPQmJftTHqPTlOvyaYw&amp;profile&#x3D;_default&amp;rank&#x3D;3&amp;query&#x3D;%5B4%3A878321%5D" class="event-image" title="Graduate info on-campus pop-up">
                            <img src="https://www.monash.edu/__data/assets/image/0004/1887088/joshua-fuller-N2q8hRVzEg8-unsplash-sq.jpg" alt="" class="">
                        </a>
                </li>
                <li class="box-listing-element__events-item">
                    
                        
                        <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fmba%2Fnews-and-events%2F2019%2Finformation-session-the-monash-mba190821&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fmba%2Fnews-and-events%2F2019%2Finformation-session-the-monash-mba190821&amp;auth&#x3D;pR8vBNSbghYnMT5dCjxqoQ&amp;profile&#x3D;_default&amp;rank&#x3D;4&amp;query&#x3D;%5B4%3A878321%5D">
                            
                                <time class="dt-start visuallyhidden" datetime=" 2019-08-21 00:00 +10:00 ">21 Aug</time>
                                <time class="dt-end event-summary__date" datetime=" 2019-08-21 00:00 +10:00 ">
                                    <span class="event-summary__label">21</span>
                                    <span class="event-summary__date-end">Aug</span>
                                </time>
                        </a>
                        
                        <div class="events-wrapper">
                            <div class="events-wrapper2">
                                <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fmba%2Fnews-and-events%2F2019%2Finformation-session-the-monash-mba190821&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fmba%2Fnews-and-events%2F2019%2Finformation-session-the-monash-mba190821&amp;auth&#x3D;pR8vBNSbghYnMT5dCjxqoQ&amp;profile&#x3D;_default&amp;rank&#x3D;4&amp;query&#x3D;%5B4%3A878321%5D">
                                    <h4>Information Session: The Monas...</h4>
                                </a>
                                <p class="description">Monash University, Caulfield campus, 900 Dandenong Road, Building H, Level 9, Room H9.01</p>
                                
                                
                                
                            </div>
                        </div>
                        
                        <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fmba%2Fnews-and-events%2F2019%2Finformation-session-the-monash-mba190821&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fmba%2Fnews-and-events%2F2019%2Finformation-session-the-monash-mba190821&amp;auth&#x3D;pR8vBNSbghYnMT5dCjxqoQ&amp;profile&#x3D;_default&amp;rank&#x3D;4&amp;query&#x3D;%5B4%3A878321%5D" class="event-image" title="Information Session: The Monash MBA">
                            <img src="https://www.monash.edu/__data/assets/image/0004/1847497/mba-sq.jpg" alt="" class="">
                        </a>
                </li>
                <li class="box-listing-element__events-item">
                    
                        
                        <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fmba%2Fnews-and-events%2F2019%2Fwebinar-the-monash-mba-20190822&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fmba%2Fnews-and-events%2F2019%2Fwebinar-the-monash-mba-20190822&amp;auth&#x3D;2fmkYgNpQdVPFZYGki%2F5uw&amp;profile&#x3D;_default&amp;rank&#x3D;5&amp;query&#x3D;%5B4%3A878321%5D">
                            
                                <time class="dt-start visuallyhidden" datetime=" 2019-08-22 00:00 +10:00 ">22 Aug</time>
                                <time class="dt-end event-summary__date" datetime=" 2019-08-22 00:00 +10:00 ">
                                    <span class="event-summary__label">22</span>
                                    <span class="event-summary__date-end">Aug</span>
                                </time>
                        </a>
                        
                        <div class="events-wrapper">
                            <div class="events-wrapper2">
                                <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fmba%2Fnews-and-events%2F2019%2Fwebinar-the-monash-mba-20190822&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fmba%2Fnews-and-events%2F2019%2Fwebinar-the-monash-mba-20190822&amp;auth&#x3D;2fmkYgNpQdVPFZYGki%2F5uw&amp;profile&#x3D;_default&amp;rank&#x3D;5&amp;query&#x3D;%5B4%3A878321%5D">
                                    <h4>Webinar: The Monash MBA</h4>
                                </a>
                                <p class="description">Online</p>
                                
                                
                                
                            </div>
                        </div>
                        
                        <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fmba%2Fnews-and-events%2F2019%2Fwebinar-the-monash-mba-20190822&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fmba%2Fnews-and-events%2F2019%2Fwebinar-the-monash-mba-20190822&amp;auth&#x3D;2fmkYgNpQdVPFZYGki%2F5uw&amp;profile&#x3D;_default&amp;rank&#x3D;5&amp;query&#x3D;%5B4%3A878321%5D" class="event-image" title="Webinar: The Monash MBA">
                            <img src="https://www.monash.edu/__data/assets/image/0004/1847497/mba-sq.jpg" alt="" class="">
                        </a>
                </li>
                <li class="box-listing-element__events-item">
                    
                        
                        <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190822&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190822&amp;auth&#x3D;iGUwC0DPyG6p3UtqyLaQdA&amp;profile&#x3D;_default&amp;rank&#x3D;6&amp;query&#x3D;%5B4%3A878321%5D">
                            
                                <time class="dt-start visuallyhidden" datetime=" 2019-08-22 00:00 +10:00 ">22 Aug</time>
                                <time class="dt-end event-summary__date" datetime=" 2019-08-22 00:00 +10:00 ">
                                    <span class="event-summary__label">22</span>
                                    <span class="event-summary__date-end">Aug</span>
                                </time>
                        </a>
                        
                        <div class="events-wrapper">
                            <div class="events-wrapper2">
                                <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190822&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190822&amp;auth&#x3D;iGUwC0DPyG6p3UtqyLaQdA&amp;profile&#x3D;_default&amp;rank&#x3D;6&amp;query&#x3D;%5B4%3A878321%5D">
                                    <h4>Graduate info on-campus pop-up</h4>
                                </a>
                                <p class="description">Clayton Campus, Ground Floor Learning and Teaching Building (19 Ancora Imparo Way)</p>
                                
                                
                                
                            </div>
                        </div>
                        
                        <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190822&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fgraduate-info-on-campus-pop-up-20190822&amp;auth&#x3D;iGUwC0DPyG6p3UtqyLaQdA&amp;profile&#x3D;_default&amp;rank&#x3D;6&amp;query&#x3D;%5B4%3A878321%5D" class="event-image" title="Graduate info on-campus pop-up">
                            <img src="https://www.monash.edu/__data/assets/image/0004/1887088/joshua-fuller-N2q8hRVzEg8-unsplash-sq.jpg" alt="" class="">
                        </a>
                </li>
                <li class="box-listing-element__events-item">
                    
                        
                        <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fpositive-and-proactive-a-new-model-for-enforcing-anti-discrimination-law&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fpositive-and-proactive-a-new-model-for-enforcing-anti-discrimination-law&amp;auth&#x3D;AK1PDzV5J7PVe3%2FCiIkB%2Fg&amp;profile&#x3D;_default&amp;rank&#x3D;7&amp;query&#x3D;%5B4%3A878321%5D">
                            
                                <time class="dt-start visuallyhidden" datetime=" 2019-08-22 00:00 +10:00 ">22 Aug</time>
                                <time class="dt-end event-summary__date" datetime=" 2019-08-22 00:00 +10:00 ">
                                    <span class="event-summary__label">22</span>
                                    <span class="event-summary__date-end">Aug</span>
                                </time>
                        </a>
                        
                        <div class="events-wrapper">
                            <div class="events-wrapper2">
                                <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fpositive-and-proactive-a-new-model-for-enforcing-anti-discrimination-law&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fpositive-and-proactive-a-new-model-for-enforcing-anti-discrimination-law&amp;auth&#x3D;AK1PDzV5J7PVe3%2FCiIkB%2Fg&amp;profile&#x3D;_default&amp;rank&#x3D;7&amp;query&#x3D;%5B4%3A878321%5D">
                                    <h4>Positive and Proactive: A New ...</h4>
                                </a>
                                <p class="description">Monash University Law Chambers 555 Lonsdale Street, Melbourne</p>
                                
                                
                                
                            </div>
                        </div>
                        
                        <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fpositive-and-proactive-a-new-model-for-enforcing-anti-discrimination-law&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fpositive-and-proactive-a-new-model-for-enforcing-anti-discrimination-law&amp;auth&#x3D;AK1PDzV5J7PVe3%2FCiIkB%2Fg&amp;profile&#x3D;_default&amp;rank&#x3D;7&amp;query&#x3D;%5B4%3A878321%5D" class="event-image" title="Positive and Proactive: A New Model for Enforcing Anti-Discrimination Law">
                            <img src="https://www.monash.edu/__data/assets/image/0009/1847412/GettyImages-172247612-sq.jpg" alt="" class="">
                        </a>
                </li>
                <li class="box-listing-element__events-item">
                    
                        
                        <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fche-seminar-series-prof-rainer-winkelmann&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fche-seminar-series-prof-rainer-winkelmann&amp;auth&#x3D;Yo83AAkD2b1HgvuGqitCIA&amp;profile&#x3D;_default&amp;rank&#x3D;8&amp;query&#x3D;%5B4%3A878321%5D">
                            
                                <time class="dt-start visuallyhidden" datetime=" 2019-08-28 00:00 +10:00 ">28 Aug</time>
                                <time class="dt-end event-summary__date" datetime=" 2019-08-28 00:00 +10:00 ">
                                    <span class="event-summary__label">28</span>
                                    <span class="event-summary__date-end">Aug</span>
                                </time>
                        </a>
                        
                        <div class="events-wrapper">
                            <div class="events-wrapper2">
                                <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fche-seminar-series-prof-rainer-winkelmann&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fche-seminar-series-prof-rainer-winkelmann&amp;auth&#x3D;Yo83AAkD2b1HgvuGqitCIA&amp;profile&#x3D;_default&amp;rank&#x3D;8&amp;query&#x3D;%5B4%3A878321%5D">
                                    <h4>CHE Seminar Series: Prof Raine...</h4>
                                </a>
                                <p class="description">Monash University Caulfield campus, Building H, Level 9, Seminar room H9.21</p>
                                
                                
                                
                            </div>
                        </div>
                        
                        <a href="http://mon3-search.clients.squiz.net/s/redirect?collection&#x3D;monash-push-events&amp;url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fche-seminar-series-prof-rainer-winkelmann&amp;index_url&#x3D;https%3A%2F%2Fwww.monash.edu%2Fbusiness%2Fevents%2Fche-seminar-series-prof-rainer-winkelmann&amp;auth&#x3D;Yo83AAkD2b1HgvuGqitCIA&amp;profile&#x3D;_default&amp;rank&#x3D;8&amp;query&#x3D;%5B4%3A878321%5D" class="event-image" title="CHE Seminar Series: Prof Rainer Winkelmann">
                            <img src="https://www.monash.edu/__data/assets/image/0011/1874315/20190828-seminar.jpg" alt="" class="">
                        </a>
                </li>
            </ol>
            <!-- /.box-listing-element--events -->
        </div>
        <!-- /.box-listing-element__group --></div> 
    <button style="margin: auto; margin-bottom: 20px;" class="btn btn--blue btn--view-more js-view-more masonry-grid box-listing-element__group" data-src="https://www.monash.edu/monash-mango/_content/tools/rest/view-more-upcoming-events-results?start_rank&#x3D;9&meta_4_and=878321" data-dest="#full-page-events">View more</button>
     
</div>

