<div id="search-events" class="search-box--events">
    <form method="get" action="" class="search-box--news__form">

    
    <div class="search-box--news-lhs">
        <h2 class="search-box--news__heading">Search keyword</h2>
        <label for="search-events-keywords" class="visuallyhidden search-box--news__label">Keywords</label>
        <div class="search-box--browse__wrapper">
            <input type="text" id="search-events-keywords" name="query" class="sq-form-field search-box--news__input" placeholder="Topic" value="" />
        </div>
        <div class="search-box--browse__controls">
            <button class="btn search-box--news__button js-search-box__submit--search">Search</button>
            <!-- /.search-box--news__controls -->
        </div>
    </div>
    
    
    <div class="search-box--news-rhs">
        <h2 class="search-box--browse__heading">Search by category</h2>
        <div class="search-box--browse__wrapper">
            <p class="search-box--browse__label js-search-box--browse__label" tabindex="0">Browse:
                <b class="button">▾</b>
            </p>
            <div class="search-box--browse__list js-search-box--browse__list">
                <div class="search-box--browse__control"><span class="js-select-all">Select all</span> - <span class="js-clear-all">Clear all</span></div>
                <ul>
                     <li><input type="checkbox" id="accounting" class="sq-form-field" data-facetparamname="f.Event+categories%7C9" value="accounting" checked /><label for="accounting">Accounting</label></li><li><input type="checkbox" id="banking-and-finance" class="sq-form-field" data-facetparamname="f.Event+categories%7C9" value="banking+and+finance" checked /><label for="banking-and-finance">Banking and Finance</label></li><li><input type="checkbox" id="business-law-and-taxation" class="sq-form-field" data-facetparamname="f.Event+categories%7C9" value="business+law+and+taxation" checked /><label for="business-law-and-taxation">Business Law and Taxation</label></li><li><input type="checkbox" id="economics" class="sq-form-field" data-facetparamname="f.Event+categories%7C9" value="economics" checked /><label for="economics">Economics</label></li><li><input type="checkbox" id="econometrics-26-business-statistics" class="sq-form-field" data-facetparamname="f.Event+categories%7C9" value="econometrics+%26+business+statistics" checked /><label for="econometrics-26-business-statistics">Econometrics & Business Statistics</label></li><li><input type="checkbox" id="management" class="sq-form-field" data-facetparamname="f.Event+categories%7C9" value="management" checked /><label for="management">Management</label></li><li><input type="checkbox" id="marketing" class="sq-form-field" data-facetparamname="f.Event+categories%7C9" value="marketing" checked /><label for="marketing">Marketing</label></li><li><input type="checkbox" id="sustainability" class="sq-form-field" data-facetparamname="f.Event+categories%7C9" value="sustainability" checked /><label for="sustainability">Sustainability</label></li><li><input type="checkbox" id="global-business" class="sq-form-field" data-facetparamname="f.Event+categories%7C9" value="global+business" checked /><label for="global-business">Global Business</label></li><li><input type="checkbox" id="alumni" class="sq-form-field" data-facetparamname="f.Event+categories%7C9" value="alumni" checked /><label for="alumni">Alumni</label></li><li><input type="checkbox" id="health-economics" class="sq-form-field" data-facetparamname="f.Event+categories%7C9" value="health+economics" checked /><label for="health-economics">Health Economics</label></li><li><input type="checkbox" id="global-executive-mba" class="sq-form-field" data-facetparamname="f.Event+categories%7C9" value="global+executive+mba" checked /><label for="global-executive-mba">Global Executive MBA</label></li><li><input type="checkbox" id="mba" class="sq-form-field" data-facetparamname="f.Event+categories%7C9" value="mba" checked /><label for="mba">MBA</label></li><li><input type="checkbox" id="general-mba" class="sq-form-field" data-facetparamname="f.Event+categories%7C9" value="general+mba" checked /><label for="general-mba">General MBA</label></li><li><input type="checkbox" id="general-gemba" class="sq-form-field" data-facetparamname="f.Event+categories%7C9" value="general+gemba" checked /><label for="general-gemba">General GEMBA</label></li><li><input type="checkbox" id="student" class="sq-form-field" data-facetparamname="f.Event+categories%7C9" value="student" checked /><label for="student">Student</label></li>
                </ul>
            </div>
        </div>
        <div class="search-box--browse__controls">
            <button class="btn search-box--browse__button js-search-box__submit--browse">Search</button>
            <!-- /.search-box--browse__controls -->
        </div>
    </div>
    
    
    <div class="search-box--news-lhs hidden">
        <input type="hidden" id="search-news-date-min" name="meta_d3" value=""></input>
        <input type="hidden" id="search-news-date-max" name="meta_d4" value=""></input>
        <label for="search-news-year" class="visuallyhidden search-box--news__label">Year</label>
        
        <h2 class="search-box--news__heading">Search by Calendar</h2>
        <select id="search-news-year" name="year" class="search-box--news__select search-box--news__select--year" data-val="">
            <option value="" selected="selected">Year</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
        </select>
        <label for="search-news-month" class="visuallyhidden search-box--news__label">Month</label>
        <select id="search-news-month" name="month" class="search-box--news__select search-box--news__select--month" data-val="">
            <option value="" selected="selected">Month</option>
            <option value="0">Jan</option>
            <option value="1">Feb</option>
            <option value="2">Mar</option>
            <option value="3">Apr</option>
            <option value="4">May</option>
            <option value="5">Jun</option>
            <option value="6">Jul</option>
            <option value="7">Aug</option>
            <option value="8">Sep</option>
            <option value="9">Oct</option>
            <option value="10">Nov</option>
            <option value="11">Dec</option>
        </select>
        <div class="search-box--news__controls">
            <button class="btn search-box--news__button js-search-box__submit--search">Search</button>
            <!-- /.search-box--news__controls -->
        </div>
    </div>
    
</form>
<!-- /.search-box--events --> 
