.sq-calendar-date-table.start {
    flex-basis: auto;

    .sq-backend-data {
        display:     inline-block;
        white-space: nowrap;
    }

    .sq-backend-data:nth-child(2) {
        padding-left: pxToRem(33);
    }

    tr {
        display:        flex;
        flex-direction: column;
    }
}

.sq-calendar-date-table.end {
    tbody {
        display:        flex;
        flex-direction: column;
    }

    tr:nth-child(2) {
        display:   flex;
        flex-wrap: wrap;

        td:first-child {
            display: none;
        }

        td:nth-child(2) {
            padding-left:  0;
            padding-right: pxToRem(1);
            width:         pxToRem(64);
        }

        td:nth-child(3) {
            flex-basis:   100%;
            padding-left: 0;
        }

        td:last-child {
            flex-basis: 100%;
        }
    }
}

label {
    padding-right: pxToRem(10);
}

