<h2>
  English language requirements
</h2>
<p>
  You will meet the English language requirements if:
</p>
<ul>
  <li>
    You have completed Australian Year 11.
  </li>
  <li>
    Your Australian Year 11 equivalent program was taught in English.
  </li>
  <li>
    You achieved satisfactory grades in your English language subjects.
  </li>
</ul>
<p>
  Alternatively, you need to achieve the minimum score in one of the following English tests.
</p>
<table style="width: 100%;" id="table77626">
  <thead>
    <tr>
      <th width="25%" id="table77626r1c1">
        English Test
      </th>
      <th width="25%" id="table77626r1c2">
        Standard
      </th>
      <th width="25%" id="table77626r1c3">
        Intensive
      </th>
      <th width="25%" id="table77626r1c4">
        Extended
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td headers="table77626r1c1">
        <p><strong>IELTS</strong>
        </p>
      </td>
      <td headers="table77626r1c2">
        <p>
          5.5 &ndash; writing 5.5
        </p>
      </td>
      <td headers="table77626r1c3">
        <p>
          6.0 &ndash; no band less than 5.5
        </p>
      </td>
      <td headers="table77626r1c4">
        <p>
          5.0 &ndash; no band less than 5.0
        </p>
      </td>
    </tr>
    <tr>
      <td headers="table77626r1c1">
        <p><strong>TOEFL </strong>Paper based
        </p>
      </td>
      <td headers="table77626r1c2">
        <p>
          471, TWE 4.5
        </p>
      </td>
      <td headers="table77626r1c3">
        <p>
          523, TWE 4.5
        </p>
      </td>
      <td headers="table77626r1c4">
        <p>
          433, TWE 4.0
        </p>
      </td>
    </tr>
    <tr>
      <td headers="table77626r1c1">
        <p><strong>TOEFL </strong>Internet based
        </p>
      </td>
      <td headers="table77626r1c2">
        <p>
          52 &ndash; writing 19
        </p>
      </td>
      <td headers="table77626r1c3">
        <p>
          69 &ndash; writing 19, speaking 16, reading 10, listening 9
        </p>
      </td>
      <td headers="table77626r1c4">
        <p>
          40 &ndash; writing 15, speaking 14, reading 5, listening 5
        </p>
      </td>
    </tr>
    <tr>
      <td headers="table77626r1c1"><strong>Pearson Test of English</strong>
      </td>
      <td headers="table77626r1c2">
        42 &ndash; writing 42
      </td>
      <td headers="table77626r1c3">
        50 &ndash; no band less than 42
      </td>
      <td headers="table77626r1c4">
        36 &ndash; no band less than 36
      </td>
    </tr>
    <tr>
      <td headers="table77626r1c1">
        <p><strong>Monash English</strong>
        </p>
      </td>
      <td headers="table77626r1c2">
        <p>
          Level 5
        </p>
      </td>
      <td headers="table77626r1c3">
        <p>
          Level 6
        </p>
      </td>
      <td headers="table77626r1c4">
        <p>
          Level 4
        </p>
      </td>
    </tr>
  </tbody>
</table>
<div id="alternative_english_language">
</div>

<h2>Academic entry requirements - By country</h2>
<small>GSCEQ</small>
<select class="monash-college-select">
    <option data-search-panel-source="%asset_metadata_edit.search.panel.source^as_asset:asset_url%" data-entry-requirements-source="./?a=598064" value="IGSCE">GSCE</option>
    <option data-search-panel-source="%asset_metadata_edit.search.panel.source^as_asset:asset_url%" data-entry-requirements-source="./?a=598064" value="IGSCE">GCE O Level</option>
    <option data-search-panel-source="%asset_metadata_edit.search.panel.source^as_asset:asset_url%" data-entry-requirements-source="./?a=598064" value="IGSCE">GCE AS Level</option>
    <option data-search-panel-source="%asset_metadata_edit.search.panel.source^as_asset:asset_url%" data-entry-requirements-source="./?a=598064" value="IGSCE">GCE A Level</option>
    <option data-search-panel-source="%asset_metadata_edit.search.panel.source^as_asset:asset_url%" data-entry-requirements-source="./?a=598064" value="IGSCE">International Baccalaureate (IB) Diploma</option>
</select>
<br>
  <section class="panel section6__loader">

  </section>
<h3>
  Are you from Australia, Hong Kong, Malaysia or Singapore?
</h3>
<p>
  You do not need an IELTS or TOEFL test to meet the English language requirements if you meet the minimum English score for your Australian Year 11 equivalent qualification.
</p>
<h3>
  Do you need help meeting the English language requirement?
</h3>
<p>
  Our <a href="https://www.monashcollege.edu.au/english-language-services/english-language-courses/monash-english">Monash English program</a> offers direct entry into Foundation Year after you complete the required level. The length of your English studies will depend on your current level of English.
</p>
<p>
  If you do not have a recent recognised test result, you can complete the <a href="https://www.monashcollege.edu.au/english-language-services/monash-english-placement-test">Monash English Placement Test</a> for entry into Monash English.
</p>