<h2>Background Default</h2>
<div class="intro-text top-gap--small bg-default">
    <div class="content-wrapper">
        <h2>1-Column Layout</h2>
        <p class="introduction">Default Transparent</p>
    </div>
</div>
<h2>Background Light Grey</h2>
<div class="intro-text top-gap--small bg-light-grey">
    <div class="content-wrapper">
        <h2>1-Column Layout</h2>
        <p class="introduction">Light Grey</p>
    </div>
</div>
<h2>Background Cerise</h2>
<div class="intro-text top-gap--small bg-cerise">
    <div class="content-wrapper">
        <h2>1-Column Layout</h2>
        <p class="introduction">Cerise</p>
    </div>
</div>
<h2>Background Dark Charcoal</h2>
<div class="intro-text top-gap--small bg-dark-charcoal">
    <div class="content-wrapper">
        <h2>1-Column Layout</h2>
        <p class="introduction">Dark Charcoal</p>
    </div>
</div>
<h2>Background Light Charcoal</h2>
<div class="intro-text top-gap--small bg-light-charcoal">
    <div class="content-wrapper">
        <h2>1-Column Layout</h2>
        <p class="introduction">Light Charcoal</p>
    </div>
</div>
<h2>Background Medium Grey</h2>
<div class="intro-text top-gap--small bg-medium-grey">
    <div class="content-wrapper">
        <h2>1-Column Layout</h2>
        <p class="introduction">Medium Grey</p>
    </div>
</div>
<h2>Background Dark Grey</h2>
<div class="intro-text top-gap--small bg-dark-grey">
    <div class="content-wrapper">
        <h2>1-Column Layout</h2>
        <p class="introduction">Dark Grey</p>
    </div>
</div>
<h2>Background Monash Blue</h2>
<div class="intro-text top-gap--small bg-monash-blue">
    <div class="content-wrapper">
        <h2>1-Column Layout</h2>
        <p class="introduction">Monash Blue</p>
    </div>
</div>
<h2>Background Brown</h2>
<div class="intro-text top-gap--small bg-brown">
    <div class="content-wrapper">
        <h2>1-Column Layout</h2>
        <p class="introduction">Brown</p>
    </div>
</div>
