<div class="page-wrapper bg-white">
    <div class="content-wrapper">
        <h1>This is an example of using a H1 style</h1>
        <h2>This is an example of using a H2 style. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum tellus ut congue molestie. Nulla eleifend diam at tortor blandit interdum.</h2>
        <h3>This is an example of using a H3 style</h3>
        <h4>This is an example of using a H4 style. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum tellus ut congue molestie. Nulla eleifend diam at tortor blandit interdum.</h4>
        <h5>This is an example of using a H5 style. Nullam ac sapien in nulla hendrerit dignissim. Ut eu augue neque. Maecenas vel hendrerit enim, volutpat pretium lectus. Cras euismod felis metus, et aliquet quam cursus sit</h5>
        <h6>This is an example of using a H6 style. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum tellus ut congue molestie. Nulla eleifend diam at tortor blandit interdum.</h6>
        <p>This is an example of using a Body style. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum tellus ut congue molestie. Nulla eleifend diam at tortor blandit interdum. Praesent semper, ante quis porta egestas, eros ipsum tempor eros, nec efficitur risus libero a orci. Duis sodales mauris quis sodales interdum.</p>
        <p>This is an example of using a List style. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum tellus ut congue molestie.</p>
        <ul>
            <li>Quisque eget cursus quam nunc eget euismod</li>
            <li>Etiam pharetra, ex tincidunt congue aliquam</li>
            <li>Donec mattis ac nunc et feugiat enim</li>
            <li>Donec pellentesque justo ut purus aliquet, sed ultricies
                <ul>
                    <li>Quisque dapibus scelerisque</li>
                    <li>Nunc at mi vitae diam lobortis convallis</li>
                    <li>Nam ullamcorper lorem sit amet ex pharetra</li>
                    <li>Nullam mollis orci at dui</li>
                </ul>
            </li>
        </ul>
        <ol>
            <li>Quisque eget cursus quam nunc eget euismod</li>
            <li>Etiam pharetra, ex tincidunt congue aliquam</li>
            <li>Donec mattis ac nunc et feugiat enim</li>
            <li>Donec pellentesque justo ut purus aliquet, sed ultricies
                <ol>
                    <li>Quisque dapibus scelerisque</li>
                    <li>Nunc at mi vitae diam lobortis convallis</li>
                    <li>Nam ullamcorper lorem sit amet ex pharetra</li>
                    <li>Nullam mollis orci at dui</li>
                </ol>
            </li>
        </ol>
        <blockquote>This is an example of a Blockquote. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum tellus ut congue molestie. Nulla eleifend diam at tortor blandit interdum. Praesent semper, ante quis porta egestas, eros ipsum tempor eros, nec efficitur risus libero a orci. Duis sodales mauris quis sodales interdum.</blockquote>
        <br/>
        <p>This is an example of a <a href="http://www.monash.edu#zz-example-hyperlink">link</a>.</p>

        <button type="button" class="btn">Button</button>
        <button type="button" class="btn btn--regular">Button Regular</button>
        <button type="button" class="btn btn--regular btn--blue">Button Regular Blue</button>
        <button type="button" class="btn btn--regular btn--grey">Button Regular Grey</button>
        <button type="button" class="btn btn--dynamic">Button Dynamic</button>
        <button type="button" class="btn btn--dynamic btn--blue">Button Dynamic Blue</button>
        <button type="button" class="btn btn--dynamic btn--grey">Button Dynamic Grey</button>
        <a href="http://www.monash.edu#zz-button-link" class="btn btn__link">Button Link</a>
        <a href="http://www.monash.edu#zz-button-link-regular" class="btn btn--regular btn__link">Button Link Regular</a>
        <a href="http://www.monash.edu#zz-button-link-regular-blue" class="btn btn--regular btn--blue btn__link">Button Link Regular Blue</a>
        <a href="http://www.monash.edu#zz-button-link-regular-grey" class="btn btn--regular btn--grey btn__link">Button Link Regular Grey</a>
        <a href="http://www.monash.edu#zz-button-link-dynamic" class="btn btn--dynamic btn__link">Button Link Dynamic</a>
        <a href="http://www.monash.edu#zz-button-link-dynamic-blue" class="btn btn--dynamic btn--blue btn__link">Button Link Dynamic Blue</a>
        <a href="http://www.monash.edu#zz-button-link-dynamic-grey" class="btn btn--dynamic btn--grey btn__link">Button Link Dynamic Grey</a>

    </div>
</div>

<div class="sprites" style="background: lightblue; padding: 1rem;">
    <h2>Sprites</h2>
    <span class="sq-icon sq-icon__email-boxed-lc"></span>
    <span class="sq-icon sq-icon__print-boxed-lc"></span>
    <span class="sq-icon sq-icon__baudi-boxed-lc"></span>
    <span class="sq-icon sq-icon__baidu-white"></span>
    <span class="sq-icon sq-icon__facebook-boxed-lc"></span>
    <span class="sq-icon sq-icon__facebook-white"></span>
    <span class="sq-icon sq-icon__googleplus-boxed-lc"></span>
    <span class="sq-icon sq-icon__googleplus-white"></span>
    <span class="sq-icon sq-icon__twitter-boxed-lc"></span>
    <span class="sq-icon sq-icon__twitter-white"></span> 
    <span class="sq-icon sq-icon__linkedin-lc"></span>
    <span class="sq-icon sq-icon__linkedin-white"></span>
    <span class="sq-icon sq-icon__tumblr-white"></span>
    <span class="sq-icon sq-icon__youtube-white"></span>
    <span class="sq-icon sq-icon__instagram-white"></span>
    <span class="sq-icon sq-icon__menu"></span>
    <span class="sq-icon sq-icon__circle-o"></span>
    <span class="sq-icon sq-icon__circle-o-lg"></span>
    <span class="sq-icon sq-icon__circle"></span>
    <span class="sq-icon sq-icon__circle-lg"></span>
    <span class="sq-icon sq-icon__angle-down"></span>
    <span class="sq-icon sq-icon__angle-down-lg"></span>
    <span class="sq-icon sq-icon__angle-up"></span>
    <span class="sq-icon sq-icon__angle-up-lg"></span>
    <span class="sq-icon sq-icon__angle-right"></span>
    <span class="sq-icon sq-icon__angle-right-lg"></span>
    <span class="sq-icon sq-icon__angle-left"></span>
    <span class="sq-icon sq-icon__angle-left-lg"></span>
    <span class="sq-icon sq-icon__search-lc"></span>
    <span class="sq-icon sq-icon__search-white"></span>
    <span class="sq-icon sq-icon__cross"></span>
    <span class="sq-icon sq-icon__cross-lg"></span>
    <span class="sq-icon sq-icon__back-to-top"></span>
    <span class="sq-icon sq-icon__comment-bubble"></span>
    <span class="sq-icon sq-icon__previous"></span>
    <span class="sq-icon sq-icon__pause"></span>
    <span class="sq-icon sq-icon__next"></span>
    <span class="sq-icon sq-icon__heart"></span>
    <span class="sq-icon sq-icon__heart-red"></span>
    <span class="sq-icon sq-icon__heart-lg"></span>
    <span class="sq-icon sq-icon__heart-o"></span>
    <span class="sq-icon sq-icon__heart-o-lg"></span>
    <span class="sq-icon sq-icon__filter-dc"></span>
    <span class="sq-icon sq-icon__filter-lg"></span>
    <span class="sq-icon sq-icon__filter"></span>
    <span class="sq-icon sq-icon__angle-down-ca"></span>
    <span class="sq-icon sq-icon__angle-up-ca"></span>
    <span class="sq-icon sq-icon__angle-left-ca"></span>
    <span class="sq-icon sq-icon__angle-right-ca"></span>
    <span class="sq-icon sq-icon__menu-dc"></span>
    <span class="sq-icon sq-icon__monash-logo"></span>
    <span class="sq-icon sq-icon__video-play"></span>
    <span class="sq-icon sq-icon__video-play-hover"></span>
    <span class="sq-icon sq-icon__monash-logo-shield"></span>
    <span class="sq-icon sq-icon__banner-play"></span>
</div>

<div style="padding: 1rem 0; margin-top: 1rem;">
    <div class="content-wrapper">
        Full width
    </div>
</div>

<div class="bg-white" style="padding: 1rem 0; margin-top: 1rem;">
    <div class="content-wrapper">
        Full width - white
    </div>
</div>

<div class="page-wrapper bg-white" style="padding: 1rem 0; margin-top: 1rem;">
    <div class="content-wrapper">
        Page wrapped - white
    </div>
</div>
<div style="padding: 1rem 0; margin-top: 1rem;">
    <div class="content-wrapper bg-white">
        Content wrapped - white
    </div>
</div>

<div class="content-wrapper clearfix" style="padding: 1rem 0; margin-top: 1rem;">
    <div class="lhs">
        LHS - transparent
    </div>
    <div class="content bg-white">
        Content - white (non-wrapped)
    </div>
</div>

<div class="page-wrapper" style="padding: 1rem 0;  margin-top: 1rem;">
    <div class="content-wrapper">
        <div class="lhs">
            LHS
        </div>
        <div class="content bg-white">
            Content - white (page wrapped)
        </div>
    </div>
</div>
