// Banner (Global)
.banner {
  clear: both;
  z-index: $z-index-banner;
  .l--content & {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  &__link,
  &__inner {
    height: $banner-height / 2;
    overflow: hidden;
    position: relative;
  }
  &__link {
    display: block;
  }
  &__image {
    display: block;
    height: $banner-height / 2;
    left: round((0 - $mon-m-offset-left) / 2);
    max-width: none;
    position: absolute;
    top: 0;
  }
  &__contents {
    display: -webkit-flex; // scss-lint: disable VendorPrefix
    display: flex;
    -webkit-flex-direction: column; // scss-lint:       disable VendorPrefix
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: $mon-m-width / 2;
    padding-left: 2rem;
    padding-right: 1rem;
    position: absolute;
    top: 0;
    width: 62%;
    z-index: $z-index-parallax-static;
  }
  &__heading,
  &__description {
    color: $white;
    font-family: $font-family__condensed;
    font-weight: $font-light;
    margin: 0;
  }
  &__heading {
    font-size: 2rem;
    text-transform: uppercase;
  }
  &__heading + &__description {
    margin-top: 1.25rem;
  }
  .page-wrapper {
    background-color: $base-dark-charcoal;
    z-index: $z-index-banner-page-wrapper;
  }
  // Parallax
  .parallax {
    overflow: hidden;
    z-index: $z-index-parallax;
  }
  .parallax__layer-background {
    height: $banner-height / 2;
    z-index: $z-index-parallax-bg;
    img {
      height: $parallax-image-height / 2;
    }
  }
  .parallax__layer-foreground {
    left: floor((0 - $mon-m-offset-left) / 2);
    position: absolute;
    z-index: $z-index-parallax-bg;
    &,
    img {
      height: $banner-height / 2;
    }
    img {
      max-width: none;
    }
  }
  // Carousel
  &__carousel {
    color: $white;
    height: $banner-height / 2;
  }
  &__carousel-slide,
  &__carousel-link,
  &__carousel-video-link,
  &__video-link {
    height: $banner-height / 2;
    position: relative;
  }
  &__carousel-link,
  &__carousel-video-link,
  &__video-link {
    display: block;
    overflow: hidden;
  }
  &__carousel-video-link,
  &__video-link {
    @include sq-sprite-pseudo('banner-play', 'after');
    &::after {
      left: $banner-play-left; // Align play button with middle of banner "M"
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      z-index: $z-index-parallax; // To make play icon display on parallax video banner
    }
    &:hover,
    &:focus {
      @include sq-sprite-pseudo('banner-play-hover', 'after');
    }
  }
  .slick-arrow,
  .slick-dots {
    z-index: 9998;
  }
  .slick-arrow,
  .slick-toggle-pause {
    height: pxToRem(40);
    overflow: hidden;
    width: pxToRem(40);
  }
  .slick-prev,
  .slick-next {
    bottom: 0;
    margin-top: 0;
    top: auto;
  }
  .slick-prev {
    @include sq-sprite(previous, 1.25);
    left: 0;
  }
  .slick-toggle-pause {
    @include sq-sprite(pause, 1.25);
    bottom: 0;
    left: pxToRem(41);
    position: absolute;
    z-index: 9998;
    &[aria-pressed='true'] {
      @include sq-sprite(play, 1.25);
    }
  }
  .slick-prev,
  .slick-next,
  .slick-toggle-pause {
    @include sq-inline-block();
    @include sq-sprite-bg(1.25);
    border: 0;
    opacity: 0.7;
    text-indent: -9999em;
    &:hover {
      opacity: 1;
    }
  }
  .slick-next {
    @include sq-sprite(next, 1.25);
    left: pxToRem(82);
    right: auto;
  }
  .slick-dots {
    bottom: 1rem;
    margin-top: 0;
    position: absolute;
    right: 1rem;
    li + li {
      margin-left: pxToRem(4);
    }
    button {
      background: transparent;
      border: 1px solid $white;
      border-radius: 50%;
      color: $base-light-grey;
      font-size: 0;
      height: pxToRem(10);
      line-height: 0;
      opacity: 0.7;
      padding: 0;
      text-indent: -999em;
      vertical-align: middle;
      width: pxToRem(10);
    }
    button:hover {
      opacity: 1;
    }
  }
  .slick-active button {
    background-color: $white;
    color: $base-dark-charcoal;
  }
  // Variation:               Feature Article
  &--feature-article {
    min-height: $banner-height / 2;
    z-index: $z-index-banner;
    &,
    &__image-wrapper {
      position: relative;
    }
    &__image,
    &__image-wrapper {
      height: $banner-height / 2;
    }
    &__image-wrapper {
      overflow: hidden;
      z-index: $z-index-banner-feature-article-bg;
    }
    &__image {
      left: pxToRem(-138);
      max-width: none;
      position: absolute;
      top: 0;
    }
    &__contents {
      padding: 1.75rem 1rem 1.5rem;
      z-index: $z-index-banner-feature-article-contents;
    }
    &__heading {
      @include mon-heading(1);
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  &.banner-medium {
    .banner__contents {
      pointer-events: none;
    }
    .banner__inner {
      max-height: pxToRem(200);
    }
    .banner__heading {
      font-size: 1.5rem;
    }
    .banner__image {
      max-height: pxToRem(200);
      left: pxToRem(-154);
    }
  }
}
@import 'medium', 'wide', 'print';
