// Banner (Medium)
@include media-query('medium') {
  // Parallax
  .parallax__layer-background img {
    min-width: 0;
  }

  &.banner-medium {
    .banner__inner {
      max-height: pxToRem(360);
    }
    .banner__contents {
      //left: pxToRem(118);
    }
    .banner__heading {
      font-size: 2rem;
    }
    .banner__image {
      max-height: pxToRem(360);
      left: pxToRem(-211);
    }
  }
}
