// Banner (Print)
@include media-query('print') {
  .banner {
    border-color: $base-light-grey;
    border-style: solid none;
    border-width: 2px 0;
    page-break-inside: avoid;

    &__link,
    &__carousel-video-link,
    &__inner {
      height: auto;
    }

    &__link,
    &__carousel-link,
    &__carousel-video-link {
      text-decoration: none;

      &[href]::after {
        content: '';
      }
    }

    &__image {
      display: none;
    }

    &__contents {
      margin: 0 auto;
      position: static;
    }

    &__contents-inner {
      padding-bottom: 2rem;
      padding-top: 2rem;
    }

    &__heading,
    &__description {
      text-align: center;
    }

    // Parallax
    .parallax {
      min-height: 0;

      .banner__contents {
        min-height: $banner-height / 2;
      }
    }

    // Carousel
    &__carousel {
      height: auto !important; // Override carousel JS rules
    }

    &__carousel-slide,
    &__carousel-link,
    &__carousel-video-link {
      height: auto !important; // Override carousel JS rules
    }

    &__carousel-slide {
      // Override injected in-line carousel JS rules
      border-top: 1px solid $base-light-grey;
      opacity: 1 !important;
      position: static !important;
      transition: none !important;
      width: 100% !important;
    }

    &__carousel-video-link::after,
    &__carousel-video-link:hover::after,
    &__carousel-video-link:focus::after,
    &__carousel-video-link[href]::after,
    &__carousel-video-link[href]:hover::after,
    &__carousel-video-link[href]:focus::after {
      display: none;
    }

    .slick-track {
      width: auto !important; // Override carousel JS rules
    }

    .slick-slide {
      img {
        display: none;
      }
    }
  }
}
