// Banner (Global)
@include media-query('wide') {
  .banner {
    .l--content & {
      margin-left: pxToRem(-80);
      margin-right: pxToRem(-80);
    }
    &__link,
    &__inner {
      height: $banner-height;
    }
    &__image {
      height: auto;
      left: 0;
      width: auto;
    }
    &__contents {
      left: $mon-m-offset-left + $mon-m-width;
      padding-left: pxToRem(100);
      width: 32rem;
    }
    &__heading {
      font-size: pxToRem(60);
    }
    &__description {
      font-size: 2rem;
    }
    &__heading + &__description {
      margin-top: 3rem;
    }
    // Parallax
    .parallax {
      min-height: $parallax__image-height;
    }
    .parallax__layer {
      left: 0;
      top: 0;
      transform: translate(0, 0);
    }
    .parallax__layer-background {
      height: $banner-height;
      overflow: visible;
      img {
        height: auto;
        width: auto;
      }
    }
    .parallax__layer-foreground {
      left: 0;
      &,
      img {
        height: $banner-height;
      }
    }
    // Carousel
    &__carousel {
      height: $banner-height;
    }
    &__carousel-slide,
    &__carousel-link,
    &__carousel-video-link,
    &__video-link {
      height: $banner-height;
    }
    &__carousel-video-link,
    &__video-link {
      &::after {
        left: $banner-play-left-wide; // Align play button with middle of banner "M"
      }
    }
    .slick-arrow,
    .slick-toggle-pause {
      bottom: pxToRem(20);
      left: auto;
    }
    .slick-prev {
      right: pxToRem(162);
    }
    .slick-next {
      right: pxToRem(80);
    }
    .slick-dots {
      bottom: pxToRem(30);
      right: pxToRem(212);
      button {
        opacity: 0.6;
      }
    }
    .slick-toggle-pause {
      right: pxToRem(121);
    }
    .slick-prev,
    .slick-next,
    .slick-toggle-pause {
      opacity: 0.6;
    }
    // Variation: Feature Article
    &--feature-article {
      min-height: $banner-height;
      &__image-wrapper {
        height: $banner-height;
      }
      &__image {
        height: auto;
        left: 0;
        width: auto;
      }
      &__contents {
        bottom: 2.5rem;
        left: 5rem;
        overflow: hidden;
        padding: 0;
        position: absolute;
      }
      &__heading {
        font-size: pxToRem(42);
        max-height: 3.8em;
        max-width: 15em;
      }
      &__heading-row {
        display: block;
      }
    }
    &.banner-medium {
      .banner__contents {
        // left: pxToRem(450);
        // padding-left: 6.25rem;
      }
      .banner__image {
        left: 0;
      }
      .banner__heading {
        font-size: 3.15rem;
      }
      .banner__heading + .banner__description {
        margin-top: 0.5rem;
      }
    }
  }
}
